<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/fashion-detail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body fashion-detail show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">時尚焦點</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女性時尚</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">Mix & Match</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝保養</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle is-curr"><em class="text">女性時尚</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男性潮流</em></a></li>
						<li class="list"><a href="../entertainment/foods-index.html" class="b-link b-middle"><em class="text">美食娛樂</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">品味生活</em></a></li>
					</ul>
				</div>
				<div class="m-cut main-content">
					<header class="main-content-hd">
						<div class="post-tools b-clearfix">
							<div class="info-tag">
								<em class="post-catalog">女性時尚</em>
								<time class="post-time" datetime="2017/03/20">2017.03.20</time>
							</div>
							<div class="btn-wrap b-float-right b-middle">
								<a href="http://www.facebook.com/share.php?u=https://www.feds.com.tw/" target="_blank" class="btn-tool btn-fb-share b-middle jQ-share"><i class="m-icon m-icon-facebook"></i><em class="text b-hide-xs">share</em></a>
								<button class="btn-tool btn-like jQ-like b-middle" data-bind="0"><i class="m-icon m-icon-heart-2"></i><em class="text b-hide-xs">收藏</em></button>
							</div>
						</div>
						<h2 class="page-title">2017春夏超想擁有的夢幻清單!有了這些妳就是潮流一姐!</h2>
					</header>
					<div class="main-content-bd">
						<div class="editor-area b-normalize">
							<img src="../../content/img/fashion-detail/article/01.jpg" alt="" style="margin-bottom: 35px;">
							<h4 style="padding: 0 44px; color: #3b3b3b; font-size: 20px; font-weight: bold;letter-spacing: 1px; line-height: 26px;">2017春夏超想擁有的夢幻清單!有了這些妳就是潮流一姐!</h4>
							<p style="padding: 0 44px; color: #3b3b3b; font-size: 16px;letter-spacing: 1px; line-height: 26px;">Chanel早春古巴系列的德比鞋一推出就造成轟動，他的設計源自男鞋，因此鞋面楦頭保留男鞋的瀟灑大氣，經典雙色的靈感則來自Chanel 1957年推出的雙色鞋，穿起來隨性不羈，搭褲裝或長裙都很有味道，就連桂綸鎂也搶著穿！搭配牛仔男友褲的她看起來好帥又好正喔！</p>
							<p style="padding: 0 44px; color: #3b3b3b; font-size: 16px;letter-spacing: 1px; line-height: 26px;">Chanel早春古巴系列的德比鞋一推出就造成轟動，他的設計源自男鞋，因此鞋面楦頭保留男鞋的瀟灑大氣，經典雙色的靈感則來自Chanel 1957年推出的雙色鞋，穿起來隨性不羈，搭褲裝或長裙都很有味道，就連桂綸鎂也搶著穿！搭配牛仔男友褲的她看起來好帥又好正喔！<br><br></p>
							<h4 style="padding: 0 44px; color: #3b3b3b; font-size: 20px; font-weight: bold;letter-spacing: 1px; line-height: 26px;">2017春夏超想擁有的夢幻清單!有了這些妳就是潮流一姐!</h4>
							<p style="padding: 0 44px; color: #3b3b3b; font-size: 16px;letter-spacing: 1px; line-height: 26px;">Chanel早春古巴系列的德比鞋一推出就造成轟動，他的設計源自男鞋，因此鞋面楦頭保留男鞋的瀟灑大氣，經典雙色的靈感則來自Chanel 1957年推出的雙色鞋，穿起來隨性不羈，搭褲裝或長裙都很有味道，就連桂綸鎂也搶著穿！搭配牛仔男友褲的她看起來好帥又好正喔！</p>
							<img src="../../content/img/fashion-detail/article/02.jpg" alt="" style="margin: 35px auto; display: block;">
							<p style="padding: 0 44px; color: #3b3b3b; font-size: 16px;letter-spacing: 1px; line-height: 26px;">Chanel早春古巴系列的德比鞋一推出就造成轟動，他的設計源自男鞋，因此鞋面楦頭保留男鞋的瀟灑大氣，經典雙色的靈感則來自Chanel 1957年推出的雙色鞋，穿起來隨性不羈，搭褲裝或長裙都很有味道，就連桂綸鎂也搶著穿！<br><br></p>
							<h4 style="color: #3b3b3b; font-size: 20px; font-weight: bold;letter-spacing: 1px; line-height: 26px;">2017春夏超想擁有的夢幻清單!有了這些妳就是潮流一姐!</h4>
							<p style="color: #3b3b3b; font-size: 16px;letter-spacing: 1px; line-height: 26px;">Chanel早春古巴系列的德比鞋一推出就造成轟動，他的設計源自男鞋，因此鞋面楦頭保留男鞋的瀟灑大氣，經典雙色的靈感則來自Chanel 1957年推出的雙色鞋，穿起來隨性不羈，搭褲裝或長裙都很有味道，就連桂綸鎂也搶著穿！搭配牛仔男友褲的她看起來好帥又好正喔！</p>
						</div>
					</div>
					<footer class="main-content-ft">
						<div class="post-tools b-clearfix b-text-right">
							<a href="http://www.facebook.com/share.php?u=https://www.feds.com.tw/" target="_blank" class="btn-tool btn-fb-share b-middle jQ-share"><i class="m-icon m-icon-facebook"></i><em class="text b-hide-xs">share</em></a>
							<button class="btn-tool btn-like jQ-like b-middle" data-bind="0"><i class="m-icon m-icon-heart-2"></i><em class="text b-hide-xs">收藏</em></button>
						</div>
					</footer>
				</div>
				<div class="m-cut shopping-cut">
					<h3 class="sub-title b-text-left">私房推薦</h3>
					<div class="shopping-list slide-list jQ-owl is-padding is-dark jQ-browserAdj" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
									<figcaption class="desc b-hide-text">HERMES</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">HERMES</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$48800</span>
										<span class="acts"></span>
									</em>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
									<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">SWISS MILITARY</h3>
									<p class="b-desc">三環運動手錶</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿5000送500</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like is-add">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
									<figcaption class="desc b-hide-text">NINE WEST</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">NINE WEST</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts"></span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/04.png" alt="BERLUTI">
									<figcaption class="desc b-hide-text">BERLUTI</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">BERLUTI</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿2000送200</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
									<figcaption class="desc b-hide-text">HERMES</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">HERMES</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$48800</span>
										<span class="acts"></span>
									</em>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
									<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">SWISS MILITARY</h3>
									<p class="b-desc">三環運動手錶</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿5000送500</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like is-add">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
					</div>
				</div>
				<div class="m-cut favorite-cut">
					<h3 class="sub-title b-text-left">你也會喜歡</h3>
					<div class="favorite-list slide-list jQ-owl is-padding is-dark" data-items-md="3" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/01.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/02.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/03.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/01.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/03.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/02.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>