<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/fashion-index.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body fashion-index show-header">
		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/branch/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<div class="shortcut-wrap">
					<div class="quick-list">
						<div class="location-selecter b-col-md-6 b-middle">
							<div class="m-replace-select jQ-select">
								<span class="m-selected-item b-hide-xs"></span>
								<ul class="location-list">
									<li class="list title">選擇分店</li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">寶慶遠百</a></li>
									<li class="list is-selected"><a href="../home/branch.html" class="b-link b-block">板橋大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">板橋遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">桃園遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">新竹大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">台中大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">嘉義遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">台南大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">高雄大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">花蓮遠百</a></li>
									<li class="list back"><a href="../home/index.html" class="b-link b-block">返回遠百首頁</a></li>
								</ul>
							</div>
						</div>
						<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
							<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
							<div class="language-list">
								<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
								<button class="btn-lang is-curr">繁中</button>
								<button class="btn-lang">簡中</button>
							</div>
							<div class="m-replace-select jQ-select">
								<span class="m-selected-item b-hide-xs"></span>
								<ul class="visitor-center">
									<li class="list title">Visitor Center</li>
									<li class="list" data-lang="en"><a href="javascript:;" class="b-link b-block">EN</a></li>
									<li class="list" data-lang="jp"><a href="javascript:;" class="b-link b-block">JP</a></li>
									<li class="list" data-lang="cn"><a href="javascript:;" class="b-link b-block">CN</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<nav class="l-nav">
					<div class="main-menu">
						<ul class="menu-list">
							<li class="list">
								<button class="text jQ-sub-menu">營業資訊</button>
							</li>
							<li class="list">
								<button class="text jQ-sub-menu">最新活動</button>
							</li>
							<li class="list">
								<button class="text jQ-sub-menu">美食娛樂</button>
							</li>
							<li class="list">
								<button class="text jQ-sub-menu">電子DM</button>
							</li>
						</ul>
						<ul class="menu-list is-highlight">
							<li class="list has-menu">
								<button class="text jQ-sub-menu">線上購物</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="3">
											<div class="list"><a href="javascript:;" class="b-link b-block">主題活動</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">女士</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">男士</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">配件</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">鞋子</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">兒童</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">美妝</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">食品&酒</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">居家寢飾</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">家用電器</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">伴手禮</a></div>
											<!-- <div class="list"><a href="javascript:;" class="b-link b-block">更多</a></div> -->
										</div>
										<div class="product-banner b-hide-xs">
											<a href="javascript:;" class="b-link">
												<figure class="img-wrap">
													<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
													<figcaption class="desc">聖誕大餐組合優惠</figcaption>
												</figure>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu is-curr">時尚焦點</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="javascript:;" class="b-link b-block is-curr">女性時尚</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">時尚Blog</a></div>
										</div>
										<div class="product-banner b-hide-xs">
											<a href="javascript:;" class="b-link">
												<figure class="img-wrap">
													<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
													<figcaption class="desc">聖誕大餐組合優惠</figcaption>
												</figure>
											</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<ul class="function-list">
							<li class="list">
								<button class="btn-func b-text-center jQ-btn-func" data-sidebar-close="true">
									<i class="m-icon m-icon-search"></i>
									<em class="b-hide-text">品牌字首搜尋</em>
								</button>
								<div class="popup-function wide-size b-text-left">
									<div class="function-wrap">
										<h3 class="function-title b-bold b-hide-xs"><i class="m-icon m-icon-search"></i><em class="text b-bold">請選擇任一方式搜尋</em></h3>
										<h4 class="function-desc b-bold">全站關鍵字搜尋</h4>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-clearfix">
											<input type="text" class="m-inputbox b-col-md-9 b-col-sm-9 b-col-xs-8 b-float-left" placeholder="請輸入關鍵字">
											<button class="btn-search b-col-md-3 b-col-sm-3 b-col-xs-4 b-float-right b-text-center jQ-search">搜尋</button>
										</div>
										<h4 class="function-desc b-bold">品牌關鍵字搜尋</h4>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-clearfix">
											<input type="text" class="m-inputbox b-col-md-9 b-col-sm-9 b-col-xs-8 b-float-left" placeholder="請輸入關鍵字">
											<button class="btn-search b-col-md-3 b-col-sm-3 b-col-xs-4 b-float-right b-text-center jQ-search">搜尋</button>
										</div>
										<h4 class="function-desc b-bold">品牌字首搜尋</h4>
										<ul class="keyword-list">
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">1</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">2</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">3</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">4</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">5</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">6</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">7</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">8</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">9</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">0</a></li>
										</ul>
										<ul class="keyword-list">
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">A</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">B</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">C</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">D</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">E</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">F</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">G</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">H</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">I</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">J</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">K</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">L</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">M</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">N</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">O</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">P</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">Q</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">R</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">S</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">T</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">U</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">V</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">W</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">X</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">Y</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">Z</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="list">
								<button class="btn-func b-text-center jQ-btn-func" data-sidebar-close="true">
									<i class="m-icon m-icon-member"></i>
									<em class="b-hide-text">我的帳戶</em>
								</button>
								<div class="popup-function">
									<div class="function-wrap">
										<a href="javascript:;" class="btn-link b-block b-text-center">會員登入</a>
										<a href="javascript:;" class="btn-link b-block b-text-center">註冊成為新會員</a>
										<div class="info-hint">
											<h4 class="line-through b-bold b-text-center"><em class="hint-text">快速登入</em></h4>
											<span class="text b-block b-text-center">限已綁定快速登入功能之註冊會員</span>
										</div>
										<a href="javascript:;" class="btn-link b-block b-text-center fb-login">使用Facebook帳號登入</a>
										<a href="javascript:;" class="btn-link b-block b-text-center google-login">使用Google帳號登入</a>
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/action.jpg" alt="入會禮活動Banner">
											</figure>
										</a>
									</div>
								</div>
							</li>
							<li class="list">
								<button class="btn-func b-text-center jQ-btn-func" data-sidebar-close="true">
									<i class="m-icon m-icon-heart"></i>
									<em class="b-hide-text">我的最愛</em>
								</button>
								<div class="popup-function">
									<div class="function-wrap">
										<div class="m-tab main-tab">
											<ul class="m-tab-wrap">
												<li class="tab-list b-col-dt-4 b-col-xs-4">
													<button class="btn-tab b-text-center is-curr jQ-tab">商品</button>
												</li>
												<li class="tab-list b-col-dt-4 b-col-xs-4">
													<button class="btn-tab b-text-center jQ-tab">美食</button>
												</li>
												<li class="tab-list b-col-dt-4 b-col-xs-4">
													<button class="btn-tab b-text-center jQ-tab">文章</button>
												</li>
											</ul>
											<ul class="m-tab-content">
												<li class="content-list is-curr">
													<ul class="favorite-list">
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/01.png" alt="都會美學拚色點綴皮革水桶包">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<em class="item-brand b-block">NINE WEST</em>
																	<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																	<span class="note b-block">滿2,000滿200</span>
																	<div class="item-price b-block"><em class="text">$2,500</em></div>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/09.png" alt="都會美學拚色點綴皮革水桶包">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<em class="item-brand b-block">NINE WEST</em>
																	<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																	<span class="note b-block">滿2,000滿200</span>
																	<div class="item-price b-block"><em class="text">$2,500</em></div>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/10.png" alt="都會美學拚色點綴皮革水桶包">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<em class="item-brand b-block">NINE WEST</em>
																	<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																	<span class="note b-block">滿2,000滿200</span>
																	<div class="item-price b-block"><em class="text">$2,500</em></div>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
													</ul>
													<div class="btn-wrap b-text-center">
														<a href="javascript:;" class="btn-read-more b-col-dt-6 b-col-xs-12" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
													</div>
												</li>
												<li class="content-list">
													<ul class="favorite-list">
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<h3 class="item-title b-block b-bold">八阪丼屋</h3>
																	<p class="desc">產地直送 高品質結合現代與傳統的日式飯食美味</p>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<h3 class="item-title b-block b-bold">八阪丼屋</h3>
																	<p class="desc">產地直送 高品質結合現代與傳統的日式飯食美味</p>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<h3 class="item-title b-block b-bold">八阪丼屋</h3>
																	<p class="desc">產地直送 高品質結合現代與傳統的日式飯食美味</p>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
													</ul>
													<div class="btn-wrap b-text-center">
														<a href="javascript:;" class="btn-read-more b-col-dt-6 b-col-xs-12" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
													</div>
												</li>
												<li class="content-list">
													<ul class="favorite-list">
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/03.png" alt="秋冬時尚穿搭特輯">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<h3 class="item-title b-block b-bold">秋冬時尚穿搭特輯</h3>
																	<p class="desc">這樣搭更時尚！與黑色結合的7種組合，讓你…</p>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/04.png" alt="秋冬時尚穿搭特輯">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<h3 class="item-title b-block b-bold">秋冬時尚穿搭特輯</h3>
																	<p class="desc">這樣搭更時尚！與黑色結合的7種組合，讓你…</p>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/05.png" alt="秋冬時尚穿搭特輯">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<h3 class="item-title b-block b-bold">秋冬時尚穿搭特輯</h3>
																	<p class="desc">這樣搭更時尚！與黑色結合的7種組合，讓你…</p>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
													</ul>
													<div class="btn-wrap b-text-center">
														<a href="javascript:;" class="btn-read-more b-col-dt-6 b-col-xs-12" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="list">
								<button class="btn-func b-text-center shopping jQ-btn-func" data-sidebar-close="true">
									<i class="m-icon m-icon-shopping"></i>
									<em class="b-hide-text">購物車</em>
									<span class="count">5</span>
								</button>
								<div class="popup-function wide-size">
									<div class="function-wrap">
										<div class="m-tab main-tab">
											<ul class="m-tab-wrap">
												<li class="tab-list b-col-dt-6 b-col-xs-6">
													<button class="btn-tab b-text-center is-curr jQ-tab">購物清單</button>
												</li>
												<li class="tab-list b-col-dt-6 b-col-xs-6">
													<button class="btn-tab b-text-center jQ-tab">瀏覽清單</button>
												</li>
											</ul>
											<ul class="m-tab-content">
												<li class="content-list is-curr">
													<ul class="favorite-list">
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/01.png" alt="都會美學拚色點綴皮革水桶包">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<em class="item-brand b-block">NINE WEST</em>
																	<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																	<span class="note b-block">滿2,000滿200</span>
																	<span class="shopping-count">10 x $2,500</span>
																	<div class="item-price b-block"><em class="text">$2,500</em></div>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/09.png" alt="都會美學拚色點綴皮革水桶包">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<em class="item-brand b-block">NINE WEST</em>
																	<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																	<span class="note b-block">滿2,000滿200</span>
																	<span class="shopping-count">10 x $2,500</span>
																	<div class="item-price b-block"><em class="text">$2,500</em></div>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/10.png" alt="都會美學拚色點綴皮革水桶包">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<em class="item-brand b-block">NINE WEST</em>
																	<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																	<span class="note b-block">滿2,000滿200</span>
																	<span class="shopping-count">10 x $2,500</span>
																	<div class="item-price b-block"><em class="text">$2,500</em></div>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
													</ul>
													<div class="shopping-amount">
														<em class="total b-text-right b-block">總計：<span class="highlight b-bold">$580,800</span></em>
													</div>
													<div class="btn-wrap b-text-center">
														<a href="javascript:;" class="btn-more btn-checkout b-col-dt-6 b-col-xs-12">前往結帳</a>
													</div>
												</li>
												<li class="content-list">
													<ul class="favorite-list">
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/10.png" alt="都會美學拚色點綴皮革水桶包">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<em class="item-brand b-block">NINE WEST</em>
																	<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																	<span class="note b-block">滿2,000滿200</span>
																	<div class="item-price b-block"><em class="text">$2,500</em></div>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/01.png" alt="都會美學拚色點綴皮革水桶包">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<em class="item-brand b-block">NINE WEST</em>
																	<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																	<span class="note b-block">滿2,000滿200</span>
																	<div class="item-price b-block"><em class="text">$2,500</em></div>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<a href="javascript:;" class="b-link">
																<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																	<figure class="img-wrap">
																		<img src="../../content/img/account/favorite/09.png" alt="都會美學拚色點綴皮革水桶包">
																	</figure>
																</div>
																<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																	<em class="item-brand b-block">NINE WEST</em>
																	<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																	<span class="note b-block">滿2,000滿200</span>
																	<div class="item-price b-block"><em class="text">$2,500</em></div>
																</div>
															</a>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</nav>
				<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
			</div>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="fashion-index.html" class="b-link"><em class="text">時尚焦點</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女性時尚</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">Mix & Match</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝保養</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle is-curr"><em class="text">女性時尚</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男性潮流</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美食娛樂</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">品味生活</em></a></li>
					</ul>
				</div>
				<div class="kv">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/kv/01.jpg" alt="RAINBOW">
									<figcaption class="desc b-hide-text">RAINBOW</figcaption>
								</figure>
							</a>
						</div>
						<div class="item">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/kv/01.png" alt="">
									<figcaption class="desc b-hide-text">全館沐浴品 50% OFF</figcaption>
								</figure>
							</a>
						</div>
					</div>
				</div>
				<div class="m-cut">
					<div class="masonry-list jQ-separate-ul" data-row="3">
						<div class="masonry-item">
							<a href="fashion-detail.html" class="masonry-link is-separate b-block b-text-center">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/cover/01.jpg" alt="YSL 2017 全新唇彩全球上市">
									<figcaption class="desc b-hide-text">YSL 2017 全新唇彩全球上市</figcaption>
								</figure>
								<div class="item-info">
									<em class="classification">美體彩妝</em>
									<h3 class="info-title">YSL 2017 全新唇彩全球上市</h3>
									<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
								</div>
							</a>
						</div>
						<div class="masonry-item">
							<a href="fashion-detail.html" class="masonry-link is-light b-block b-text-center">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/cover/02.jpg" alt="Fendi 當皮革遇見圖騰">
									<figcaption class="desc b-hide-text">Fendi 當皮革遇見圖騰</figcaption>
								</figure>
								<div class="item-info">
									<em class="classification">國際潮流</em>
									<h3 class="info-title">Fendi 當皮革遇見圖騰</h3>
									<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
								</div>
							</a>
						</div>
						<div class="masonry-item main-item b-text-center">
							<a href="fashion-detail.html" class="main-link masonry-link is-light b-block">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/cover/03.jpg" alt="既復古又時髦！最強配件穿搭教學">
									<figcaption class="desc b-hide-text">既復古又時髦！最強配件穿搭教學</figcaption>
								</figure>
								<div class="item-info">
									<em class="classification">流行趨勢</em>
									<h3 class="info-title">既復古又時髦！最強配件穿搭教學</h3>
									<p class="b-desc">也相當方便清洗。受熱均勻的特質也使它能直接放入烤箱當作烤盤使用，<br class="b-hide-tm">但注意琺瑯製品無法微波爐加熱喔。</p>
								</div>
							</a>
						</div>
						<div class="masonry-item main-item b-text-center">
							<a href="fashion-detail.html" class="activity-link masonry-link is-dark b-block">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/cover/04.jpg" alt="名人專訪 桂綸鎂">
									<figcaption class="desc b-hide-text">名人專訪 桂綸鎂</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #d0a76c;">
									<em class="classification">名人專訪</em>
									<h3 class="info-title">桂綸鎂</h3>
									<p class="b-desc b-text-left">時尚對我來說，永遠是面對生活的態度。</p>
								</div>
							</a>
						</div>
						<div class="masonry-item">
							<div class="shopping-list slide-list jQ-owl is-padding is-dark jQ-browserAdj" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
											<figcaption class="desc b-hide-text">HERMES</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">HERMES</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$48800</span>
											</em>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
											<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">SWISS MILITARY</h3>
											<p class="b-desc">三環運動手錶</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
									</a>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="BERLUTI">
											<figcaption class="desc b-hide-text">BERLUTI</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">BERLUTI</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
											<figcaption class="desc b-hide-text">HERMES</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">HERMES</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$48800</span>
											</em>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
											<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">SWISS MILITARY</h3>
											<p class="b-desc">三環運動手錶</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
									</a>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
							</div>
						</div>
						<div class="masonry-item has-border">
							<a href="fashion-detail.html" class="masonry-link is-dark b-block b-text-center">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/cover/06.jpg" alt="Fendi 當皮革遇見圖騰">
									<figcaption class="desc b-hide-text">Fendi 當皮革遇見圖騰</figcaption>
								</figure>
								<div class="item-info">
									<em class="classification">街頭穿搭</em>
									<h3 class="info-title">Fendi 當皮革遇見圖騰</h3>
									<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
								</div>
							</a>
						</div>
					</div>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/fashion-index.js?JS=20160420_01"></script>
</html>