<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/fashion-index.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body fashion-index show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="fashion-index.html" class="b-link"><em class="text">時尚焦點</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女性時尚</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">POP!夯焦點</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">Beauty!愛美妝</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle is-curr"><em class="text">For Her!享時尚</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">For Him!玩潮流</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">Play!瘋運動</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">BAE!萌寶貝</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">Lohas!品生活</em></a></li>
					</ul>
				</div>
				<div class="kv">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/kv/01.jpg" alt="RAINBOW">
									<figcaption class="desc b-hide-text">RAINBOW</figcaption>
								</figure>
							</a>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=TaCdAscgpU0&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=TaCdAscgpU0" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/branch/kv/03.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
					</div>
				</div>
				<div class="m-cut">
					<div class="masonry-list jQ-separate-ul" data-row="3">
						<div class="masonry-item">
							<a href="fashion-detail.html" class="masonry-link is-separate b-block b-text-center">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/cover/01.jpg" alt="YSL 2017 全新唇彩全球上市">
									<figcaption class="desc b-hide-text">YSL 2017 全新唇彩全球上市</figcaption>
								</figure>
								<div class="item-info">
									<em class="classification">美體彩妝</em>
									<h3 class="info-title">YSL 2017 全新唇彩全球上市</h3>
									<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
								</div>
							</a>
						</div>
						<div class="masonry-item">
							<a href="fashion-detail.html" class="masonry-link is-light b-block b-text-center">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/cover/02.jpg" alt="Fendi 當皮革遇見圖騰">
									<figcaption class="desc b-hide-text">Fendi 當皮革遇見圖騰</figcaption>
								</figure>
								<div class="item-info">
									<em class="classification">國際潮流</em>
									<h3 class="info-title">Fendi 當皮革遇見圖騰</h3>
									<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
								</div>
							</a>
						</div>
						<div class="masonry-item main-item b-text-center">
							<a href="fashion-detail.html" class="main-link masonry-link is-light b-block">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/cover/03.jpg" alt="既復古又時髦！最強配件穿搭教學">
									<figcaption class="desc b-hide-text">既復古又時髦！最強配件穿搭教學</figcaption>
								</figure>
								<div class="item-info">
									<em class="classification">流行趨勢</em>
									<h3 class="info-title">既復古又時髦！最強配件穿搭教學</h3>
									<p class="b-desc">也相當方便清洗。受熱均勻的特質也使它能直接放入烤箱當作烤盤使用，<br class="b-hide-tm">但注意琺瑯製品無法微波爐加熱喔。</p>
								</div>
							</a>
						</div>
						<div class="masonry-item main-item b-text-center">
							<a href="fashion-detail.html" class="activity-link masonry-link is-dark b-block">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/cover/04.jpg" alt="名人專訪 桂綸鎂">
									<figcaption class="desc b-hide-text">名人專訪 桂綸鎂</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #d0a76c;">
									<em class="classification">名人專訪</em>
									<h3 class="info-title">桂綸鎂</h3>
									<p class="b-desc b-text-left">時尚對我來說，永遠是面對生活的態度。</p>
								</div>
							</a>
						</div>
						<div class="masonry-item">
							<div class="shopping-list slide-list jQ-owl is-padding is-dark jQ-browserAdj" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
											<figcaption class="desc b-hide-text">HERMES</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">HERMES</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$48800</span>
											</em>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
									</a>
									<button class="btn-like jQ-like show-text">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">已取消收藏</em>
									</button>
								</div>
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
											<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">SWISS MILITARY</h3>
											<p class="b-desc">三環運動手錶</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
									</a>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="BERLUTI">
											<figcaption class="desc b-hide-text">BERLUTI</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">BERLUTI</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
											<figcaption class="desc b-hide-text">HERMES</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">HERMES</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$48800</span>
											</em>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
											<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">SWISS MILITARY</h3>
											<p class="b-desc">三環運動手錶</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
									</a>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
							</div>
						</div>
						<div class="masonry-item has-border">
							<a href="fashion-detail.html" class="masonry-link is-dark b-block b-text-center">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-index/cover/06.jpg" alt="Fendi 當皮革遇見圖騰">
									<figcaption class="desc b-hide-text">Fendi 當皮革遇見圖騰</figcaption>
								</figure>
								<div class="item-info">
									<em class="classification">街頭穿搭</em>
									<h3 class="info-title">Fendi 當皮革遇見圖騰</h3>
									<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
								</div>
							</a>
						</div>
					</div>
					<a href="fashion-listing.html" class="btn-more b-link">MORE</a>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/fashion-index.js?JS=20160420_01"></script>
</html>