<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/fashion-listing.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body fashion-detail show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">時尚焦點</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女性時尚</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">Mix & Match</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝保養</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle is-curr"><em class="text">女性時尚</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男性潮流</em></a></li>
						<li class="list"><a href="../entertainment/foods-index.html" class="b-link b-middle"><em class="text">美食娛樂</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">品味生活</em></a></li>
					</ul>
				</div>
				<div class="m-cut favorite-cut">
					<ul class="favorite-list slide-list is-padding is-dark">
						<li class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/01.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</li>
						<li class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/02.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</li>
						<li class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/03.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</li>
						<li class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/01.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</li>
						<li class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/03.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</li>
						<li class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/02.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</li>
						<li class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/01.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</li>
						<li class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/03.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</li>
						<li class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/02.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</li>
					</ul>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>