.about-article {
    position : relative;

    &:after {
        content  : "";
        width    : 160%;
        display  : none;
        position : absolute;
        z-index  : 1;
        @include backface-visibility(hidden);
        @include transform-style(preserve-3d);
        @include transform-origin(center , center);
    }

    &.is-arrow-left , &.is-arrow-right {
        &:after {
            @include display(block);
        }
    }

    &.is-arrow-left {
        &:after {
            right : 0;
        }
    }

    &.is-arrow-right {
        &:after {
            left : 0;
        }
    }

    .m-article-bd {
        margin      : 0 auto;
        font-family : $font-family-light;
        width       : 100%;
        position    : relative;
        z-index     : 2;
        @include box-sizing(border-box);

        > .b-p {
            word-wrap  : break-word;
            word-break : normal;
        }
    }
}

.about-who {
    background : image-url('about/poster-01.jpg') no-repeat center center;
}

.about-why {
    background : image-url('about/poster-02.jpg') no-repeat center center;
}

.about-team {
    background : image-url('about/poster-03.jpg') no-repeat center center;
}

.about-info {
    background : image-url('about/poster-04.jpg') no-repeat center center;
}

@include respond-to(Desktops) {
    .about-article {
        height          : 100vh;
        background-size : 100% auto;

        &.is-arrow-left {
            &:after {
                @include transform(perspective(1200px) rotateY(302deg));
            }
        }

        &.is-arrow-right {
            &:after {
                @include transform(perspective(1200px) rotateY(58deg));
            }
        }

        .m-article-bd {
            max-width : $main-min-width;

            > .b-p {
                font-size : 20px;
            }
        }
    }

    .about-who {
        &:after {
            top        : 44%;
            height     : 18%;
            background : rgba(#15A , .35);
        }
    }

    .about-team {
        .m-person {
            height : 192px;
        }
    }

    @include screen('4/3') {
        .about-article {
            background-size : auto 100%;
        }
    }
}

@include respond-to(Desktops-Tablets) {}

@include respond-to(Tablets) {
    .about-article {
        height          : 100vh;
        background-size : auto 100%;
    }
}

@include respond-to(Tablets-Mobiles) {
    .about-article {
        padding-right : 35px;
        padding-left  : 35px;
    }
}

@include respond-to(Mobiles) {
    .about-article {
        padding-right : 20px;
        padding-left  : 20px;
    }
}