.l-body .l-content {
	background: $color-gray-l-p40;
	position: relative;
}

.category-content .category-list {
	.b-link {
		background: $color-gray-d-p30;
		display: block;
		position: relative;
		box-sizing: border-box;
		color: $color-white;
		font-weight: bold;
		line-height: 1.5em;

		&:before {
			content: '';
			background: $color-white;
			display: block;
			width: 0;
			position: absolute;
			bottom: 8px;
			left: 24px;
			@include transition(ease-in all 0.3s);
		}
	}

	.sub-category-wrap {
		max-height: 0;
		overflow: hidden;
		@include transition(ease-in all 0.3s);

		.sub-link {
			display: block;
			position: relative;
			color: $color-white;
			letter-spacing: 1px;
			text-align: left;

			&:before {
				content: '';
				background: #fff100;
				display: block;
				width: 0;
				position: absolute;
				@include transition(ease-in all 0.3s);
			}

			&:hover, &.is-curr {
				color: #fff100;
			}
		}
	}
}

.content-wrap {
	padding: 0 10px;
	background: #f4f4f4;
}

.main-cut {
	margin: 0 auto;
}

.main-msg {
	color: $color-gray-d-p30;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5em;
}

.order-detail {
	.deliver-info {
		color: $color-gray-d-p30;
		font-size: 16px;
		line-height: 36px;

		> .list {
			margin-bottom: 20px;
		}
	}

	.m-table tfoot {
		background: #f4f4f4;
		color: $color-gray-d-p30;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 1px;
	}

	.item-info {
		.img-wrap {
			border: 1px solid $color-gray-l-p40;
		}

		.note {
			color: #ff6a5b;
		}
	}
}

.calendar .calendar-pagination .m-pagination-bd .page-ctrl .text {
	color: $color-gray-d-p30;
	font-size: 20px;
}

.main-content {
	.highlight {
		color: #ff6a5b !important;
		font-weight: bold;
	}

	.order-list {
		padding-left: 16px;
		list-style: decimal outside;
	}

	.notice-list {
		padding-left: 16px;
		list-style: disc outside;
	}

	.b-desc {
		font-size: 16px;
	}

	.table-rotate .b-link {
		color: #0054fe;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.members-item-list {
	margin: 0 auto;
	font-size: 0;
	line-height: 0;

	.list {
		background: $color-white;
		display: inline-block;
		position: relative;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
		vertical-align: top;
		letter-spacing: 1px;

		> .b-link {
			display: block;
		}
	}

	.img-wrap {
		overflow: hidden;

		img {
			width: 100%;
			@include transition(ease-in all 0.3s);
		}

		.desc {
			display: none;
		}
	}

	.act-title {
		color: $color-gray-d-p30;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5em;
	}

	.act-time, .desc {
		font-size: 14px;
	}

	.act-time {
		display: block;
		color: $color-gray-l-p20;
		font-weight: bold;
		line-height: 1.5em;
	}

	.desc {
		margin-top: 12px;
		padding: 16px 0;
		position: relative;
		color: $color-gray-d-p30;
		line-height: 1.5em;

		&:before {
			content: '';
			background: $color-gray-d-p30;
			display: block;
			width: 36px;
			height: 4px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.act-type {
		position: absolute;
		color: $color-black;
		line-height: 1.5em;

		> * {
			display: inline-block;
			vertical-align: middle;
			line-height: 24px;
		}

		.m-icon {
			font-size: 24px;
		}
	}

	.btn-calendar {
		position: absolute;
		color: $color-gray-l-p20;

		&:hover {
			color: $color-black;
		}

		.m-icon {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			text-align: left;

			&:before, &:after {
				position: absolute;
				@include transition(ease-in all 0.3s);
			}

			&:after {
				content: '\e915';
				opacity: 0;
				color: $color-text-major;
			}
		}

		&.is-add .m-icon {
			&:before {
				opacity: 0;
			}

			&:after {
				opacity: 1;
			}
		}
	}

	.btn-link {
		position: absolute;
		font-size: 14px;
	}
}

.sub-title {
	padding-bottom: 12px;
	position: relative;
	color: $color-gray-d-p30;
	font-size: 20px;
	font-weight: bold;
	line-height: 2em;
	text-align: left;

	&:after {
		content: '';
		background: $color-gray-d-p30;
		display: block;
		width: 35px;
		height: 4px;
		position: absolute;
		bottom: 8px;
		left: 0;
	}
}

.info-text {
	color: $color-gray-d-p30;
	font-size: 14px;
	line-height: 30px;
}

.l-content .info-list .list {
	color: $color-gray-d-p30;

	.highlight {
		padding: 0 10px 0 20px;
		font-size: 20px;
	}
}

.link-list .list {
	display: inline-block;
}

.btn-link {
	background: $color-white;
	display: inline-block;
	height: 40px;
	border: 1px solid $color-gray-d-p30;
	box-sizing: border-box;
	color: $color-gray-d-p30;
	letter-spacing: 1px;
	line-height: 40px;
	text-align: center;
	@include transition(ease-in all 0.3s);

	&:hover {
		background: $color-text-major;
		border-color: $color-text-major;
		color: $color-white;
	}
}

.m-form {
	.text {
		color: $color-gray-d-p30;
		font-size: 16px;
		font-weight: bold;
	}

	.m-icon {
		color: $color-gray-d-p30;
		font-size: 28px;
	}

	> *:not(:last-child) {
		margin-right: 10px;
	}
}

.m-lab {
	font-size: 14px;

	.m-inputbox {
		width: 100%;
		height: 36px;
		color: $color-gray-l-p20;
		font-size: 16px;
		line-height: 34px;
		@include box-sizing(border-box);
	}
}

.btn-tab {
	border-bottom: 1px solid $color-gray-l-p30;
	color: $color-gray-l-p10;
	font-weight: bold;
	line-height: 1.5em;

	&.is-curr {
		background: $color-white;
		border: 1px solid $color-gray-l-p30;
		border-bottom: 0;
		color: $color-gray-d-p30;
	}
}

.m-tab-content {
	background: $color-white;
	border: 1px solid $color-gray-l-p30;
	border-top: 0;

	.content-list {
		display: none;

		&.is-curr {
			display: block;
		}

		.btn-link {
			display: inline-block;
			border: 0;
			color: $color-white;
			text-align: center;
			@include transition(ease-in all 0.3s);
		}
	}
}

.table-wrap {
	padding: 7px 0;
	background: $color-white;
	border: 1px solid $color-gray-l-p30;

	.m-table {
		margin-bottom: 0;

		&:not(:last-child) tbody tr {
			border-bottom: 0;
		}
	}
}

.m-table {
	color: $color-gray-d-p30;
	font-size: 14px;

	thead {
		background: #f4f4f4;

		em {
			font-weight: bold;
		}
	}

	tbody tr {
		border-bottom: 1px solid $color-gray-l-p40;
	}

	tr td:not(:first-child) {
		border-left: 1px solid $color-gray-l-p40;
	}

	.expired td {
		&:first-child .text:before {
			content: '!';
			margin-right: 5px;
			background: #d60c18;
			display: inline-block;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			color: $color-white;
			text-align: center;
			line-height: 18px;
		}

		&:last-child .text {
			color: #d60c18;
		}
	}
}

.m-pagination-bd .page-ctrl {
	position: relative;

	&:not(:first-child):not(:last-child):not(:nth-child(2)) {
		&:before {
			content: '';
			margin-top: -8px;
			background: $color-gray-d-p30;
			width: 2px;
			height: 16px;
			position: absolute;
			top: 50%;
			left: -1px;
		}
	}

	.text {
		padding: 0 8px;
		border: none;
		color: $color-text-major;
		font-size: 14px;
	}

	.m-button {
		padding: 0 8px;
		border: none;
		font-size: 14px;

		&.btn-go-back, &.btn-go-next {
			background: rgba($color-gray-d-p30, 0.7);
			border: 1px solid $color-gray-d-p30;

			&:hover {
				background: $color-gray-d-p30;
			}

			&:before {
				margin-top: -12px;
				width: 24px;
				height: 24px;
				border-top-color: $color-white;
				border-left-color: $color-white;
			}
		}

		&:not(.btn-go-back):not(.btn-go-next) {
			&:hover {
				color: $color-text-major;
				font-weight: bold;
			}
		}

		&.btn-go-back:before {
			margin-left: -5px;
		}

		&.btn-go-next:before {
			margin-right: -5px;
		}
	}
}

.btn-delete {
	width: 40px;
	height: 40px;
	position: relative;

	&:hover:before {
		background: $color-text-major;
	}

	&:before, &:after {
	}

	&:before {
		content: '';
		margin: -12px 0 0 -12px;
		background: $color-gray-l-p10;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		@include transition(ease-in all 0.3s);
	}

	&:after {
		content: 'X';
		width: 100%;
		position: relative;
		z-index: 1;
		color: $color-white;
		font-size: 14px;
		text-align: center;
	}
}

.favorite-list .item-list {
	@include display-flex;
	@include align-items(stretch);
	@include justify-content(space-between);
	border-bottom: 1px solid $color-gray-l-p40;

	> *:first-child {
		width: 40px;
	}

	.btn-wrap, .item-pic, .item-sub-info {
		@include display-flex;
		@include align-items(center);
		@include justify-content(space-between);
	}

	.img-wrap img {
		width: 100%;
	}

	.item-text-info {
		padding: 20px 0;
		@include display-flex;
		@include justify-content(space-between);
		@include flex-direction(column);
		@include flex-grow(1);
		letter-spacing: 1px;

		.sub-title {
			line-height: 1.5em;
		}

		.note {
			color: #ff6a5b;
		}

		.desc {
			color: $color-gray-d-p30;
			font-size: 14px;
		}
	}

	.item-price {
		color: #d60c18;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 1px;
		white-space: nowrap;
	}

	.btn-link {
		padding: 0 15px;
		white-space: nowrap;

		.text {
			margin-left: 10px;
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
		}
	}
}

.my-card .card-info-wrap {
	color: $color-gray-d-p30;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;

	.card-code {
		margin: 15px auto 0 auto;
		display: table;
	}

	.img-wrap img {
		max-width: 100%;
	}

	.code-title {
		font-size: 16px;
	}

	.card-code-pic .list {
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid $color-gray-l-p40;

		.img-wrap {
			margin: 10px 0;
		}
	}

	.btn-wrap {
		margin-top: 40px;
		font-size: 0;
		line-height: 0;
	}
}

@include respond(Desktops) {
	.l-body.show-header .category-content {
		top: 480px;
	}

	.category-content {
		width: 200px;
		position: absolute;
		top: 430px;
		left: 10px;

		.category-list .b-link {
			padding: 15px 24px;
			width: 100%;
			height: 54px;
			box-sizing: border-box;
			font-size: 16px;
			text-align: left;

			&:hover:before {
				width: 36px;
			}

			&.is-curr {
				background: #ff6a5b;

				&:before {
					width: 36px;
				}

				~ .sub-category-wrap {
					padding-bottom: 20px;
					background: #ff6a5b;
					max-height: 1000px;
				}
			}

			&.is-active {
				&:before {
					width: 36px;
				}

				~ .sub-category-wrap {
					padding-bottom: 20px;
					max-height: 1000px;
				}
			}
		}

		.sub-category-wrap {
			background: $color-gray-d-p30;
		}

		.sub-link {
			padding: 10px 32px;
			height: 42px;
			box-sizing: border-box;
			font-size: 14px;
			line-height: 1.5em;

			&:before {
				bottom: 0;
				left: 32px;
			}
		}
	}

	.order-detail {
		.m-table td {
			padding: 0 20px;
			min-width: 84px;
		}

		.item-info {
			padding: 20px 0;
		}
	}

	.main-content {
		width: calc(100vw - 260px);
	}

	.members-item-list .list .b-link:hover .img-wrap img {
		@include transform(scale(1.05));
	}

	.btn-tab {
		height: 80px;
	}

	.m-pagination-bd .page-ctrl {
		&:not(:first-child):not(:last-child) {
			width: auto;
		}
	}

	.favorite-list .item-list .img-wrap {
		width: 226px;
	}
}

@include respond(Desktops-Tablets) {
	.category-content .category-list {
		.b-link:before, .sub-category-wrap .sub-link:before {
			height: 4px;
		}

		.sub-category-wrap .sub-link {
			&:hover:before, &.is-curr:before {
				width: 36px;
			}
		}
	}

	.cut-title {
		margin-top: 27px;
	}

	.main-cut {
		padding-bottom: 100px; 
	}

	.main-msg {
		padding: 24px 0 40px 0;
	}

	.order-detail {
		.m-table tfoot td {
			padding-right: 30px;
		}

		.link-list .list {
			margin: 0 20px 20px 0;
		}

		.item-info {
			@include display-flex;
			@include align-items(stretch);

			.img-wrap {
				width: 108px;

				img {
					width: 100%;
				}
			}
		}

		.item-text-info {
			margin-left: 20px;
			@include display-flex;
			@include align-items(flex-start);
			@include justify-content(space-between);
			@include flex-direction(column);
			width: calc(100% - 130px);
		}
	}

	.sub-title {
		margin-bottom: 20px;
	}

	.info-wrap:not(:last-child) {
		margin-bottom: 50px;
	}

	.info-text {
		margin-right: 60px;
		margin-left: 60px;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	.l-content .info-list {
		margin-left: 60px;

		&:not(:last-child) {
			margin-bottom: 60px;
		}

		.list {
			font-size: 16px;
		}
	}

	.calendar .members-item-list {
		.act-info {
			padding-bottom: 100px;
		}

		.act-type {
			bottom: 72px;
		}

		.btn-link {
			bottom: 20px;
			left: 30px;
			right: 30px;
		}
	}

	.members-item-list {
		@include display-flex;
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		.list {
			margin-bottom: 30px;
			width: calc((100% - 20px) / 3);
		}

		.act-info {
			padding: 20px 30px 56px 30px;
		}

		.act-title {
			min-height: 60px;
		}

		.act-time {
			margin-top: 18px;
		}

		.act-type {
			bottom: 22px;
			left: 36px;

			.text {
				font-size: 16px;
			}
		}

		.btn-calendar {
			width: 34px;
			height: 34px;
			bottom: 17px;
			right: 36px;
			font-size: 34px;
			line-height: 34px;
		}
	}

	.link-list .list {
		margin: 0 0 20px 20px;
	}

	.btn-link {
		padding: 0 30px;
		font-size: 16px;
	}

	.btn-tab {
		font-size: 20px;
	}

	.m-tab-content {
		padding: 45px 0;
	}

	.m-table {
		margin-bottom: 30px;

		td {
			height: 60px;
		}
	}

	.m-pagination:not(:last-child) {
		margin-bottom: 50px;
	}

	.m-pagination-bd .page-ctrl {
		&:first-child {
			margin-right: 60px;
		}

		&:last-child {
			margin-left: 60px;
		}
	}

	.favorite-list {
		margin-bottom: 45px;

		.item-list {
			padding: 24px 25px 24px 10px;
	
			> * {
				margin: 0 10px;
			}

			.item-text-info {
				font-size: 20px;
			}

			.item-price {
				margin-right: 20px;
			}
		}

		.img-wrap {
			border: 1px solid $color-gray-l-p40;
		}
	}

	.my-card {
		.m-tab.main-tab > .m-tab-wrap {
			@include display-flex;
			@include align-items(stretch);
			@include justify-content(space-between);

			.tab-list {
				@include flex-grow(1);

				.btn-tab {
					width: 100%;
				}
			}
		}

		.card-info-wrap {
			padding: 0 75px;
	
			.btn-wrap > * {
				margin: 0 4px;
			}
		}
	}
}

@include respond(HD) {
	.content-wrap {
		padding: 0;
	}

	.main-cut {
		width: 1300px;
	}

	.main-content {
		padding-right: 20px;
		width: 1000px;
		box-sizing: border-box;
	}

	.calendar .members-item-list {
		.act-info {
			padding-bottom: 56px;
		}

		.act-type {
			bottom: 22px;
		}

		.btn-link {
			padding: 0 15px;
			bottom: 17px;
			left: auto;
			right: 36px;
		}
	}

	.members-item-list .list {
		width: 320px;
	}

	.category-content {
		margin-right: 350px;
		width: 300px;
		left: auto;
		right: 50%;

		.category-list {
			width: 250px;

			.b-link {
				min-height: 60px;
				font-size: 20px;
			}
		}

		.sub-link {
			font-size: 18px;
			line-height: 1.5em;
		}
	}
}

@include respond(Tablets) {
	.category-content .category-list {
		background: #ff6a5b;
		font-size: 0;
		line-height: 0;
		text-align: center;

		> .list {
			display: inline-block;
			vertical-align: top;
		}

		.b-link {
			padding: 8px 12px;
			background: #ff6a5b;

			&:before {
				left: 0;
				bottom: 0;
			}

			&.is-curr, &:hover {
				&:before {
					width: 100%;
				}
			}
		}

		.sub-category-wrap {
			background: #ff6a5b;
			position: absolute;
			z-index: 1;

			&:before, &:after {
				content: '';
				background: #ff6a5b;
				display: block;
				width: 1000px;
				height: 100%;
				position: absolute;
				top: 0;
			}

			&:before {
				left: 100%;
			}

			&:after {
				right: 100%;
			}

			.sub-link:before {
				bottom: 0;
				left: 0;
			}
		}
	}

	.order-detail {
		.m-table td {
			padding: 0 10px;
			min-width: 64px;
		}

		.item-info {
			padding: 20px 10px;
		}
	}

	.m-lab .m-box-holder {
		width: 100%;
		box-sizing: border-box;
	}

	.btn-tab {
		height: 60px;
	}

	.favorite-list .item-list .img-wrap {
		width: 112px;
	}
}

@include respond(Tablets-Mobiles) {
	.category-content .category-list {
		.b-link {
			height: 40px;
			font-size: 14px;
			line-height: 24px;
	
			&:hover {
				~ .sub-category-wrap {
					max-height: 1000px;
					overflow: visible;
	
					.sub-link {
						font-size: 14px;
						line-height: 40px;
					}
				}
			}
		}

		.sub-category-wrap:hover {
			max-height: 1000px;
			overflow: visible;

			.sub-link {
				font-size: 14px;
				line-height: 40px;
			}
		}
	}

	.calendar .calendar-pagination .m-pagination-bd .page-ctrl {
		width: auto;
		min-width: 40px;
	}
	
	.favorite-list .item-list .item-text-info {
		font-size: 16px;
	}
}

@include respond(Mobiles) {
	.category-content {
		height: 40px;
		position: relative;

		&.is-active {
			.category-list {
				max-height: calc(100vh - 56px);
			}

			&:before {
				@include transform(rotate(180deg));
			}

			&:after {
				display: none;
			}
		}

		&:before, &:after {
			content: '';
			position: absolute;
		}

		&:before {
			top: 17px;
			right: 15px;
			border-top: 6px solid $color-white;
			border-right: 6px solid transparent;
			border-left: 6px solid transparent;
			z-index: 2;
			@include transition(ease-in all 0.3s);
		}

		&:after {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		.curr-category {
			padding: 8px 24px;
			background: $color-gray-d-p30;
			display: block;
			height: 40px;
			box-sizing: border-box;
			color: $color-white;
			font-size: 14px;
			line-height: 24px;
		}

		.category-list {
			background: $color-gray-d-p30;
			max-height: 0;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			overflow: hidden;
			z-index: 1;
			@include transition(ease-in all 0.3s);

			.b-link {
				padding: 8px 24px;
				width: 100%;
				box-sizing: border-box;
				text-align: left;
	
				&:before {
					height: 2px;
				}

				&.is-curr {
					background: #ff6a5b;

					~ .sub-category-wrap {
						background: #ff6a5b;
					}
				}
			}
		}

		.sub-link {
			padding-left: 48px;
			font-size: 14px;
			line-height: 40px;
		}
	}

	.cut-title {
		margin-top: 15px;
	}

	.main-cut {
		padding-bottom: 50px; 
	}

	.main-msg {
		padding: 12px 0 20px 0;
	}

	.order-detail {
		.info-wrap {
			margin-bottom: 20px;
		}

		.m-table tfoot td {
			padding-right: 20px;
			height: 40px;
		}

		.link-list .list {
			margin: 0 10px 10px 0;
		}
	}

	.shopping-money .info-text {
		margin: 0 20px;
	}

	.setting .main-content .main-msg {
		word-wrap: break-word;
	}

	.maintain .info-wrap {
		margin-bottom: 20px;
	}

	.l-content .info-list {
		margin-bottom: 30px;
		margin-left: 30px;

		.list {
			font-size: 14px;
		}
	}

	.calendar {
		.calendar-pagination {
			margin-bottom: 20px;

			.m-pagination-bd {
				@include justify-content(space-between);
			}
		}

		.members-item-list {
			.act-info {
				padding-bottom: 56px;
			}
	
			.act-type {
				bottom: 24px;
			}
	
			.btn-link {
				bottom: 16px;
				right: 18px;
			}
		}
	}

	.members-item-list {
		.list {
			margin-bottom: 20px;
		}

		.act-info {
			padding: 18px 18px 36px 18px;
		}

		.act-type {
			bottom: 16px;
			left: 18px;

			.text {
				font-size: 12px;
			}
		}

		.btn-calendar {
			width: 44px;
			height: 44px;
			bottom: 2px;
			right: 8px;
			font-size: 24px;
			line-height: 44px;

			.m-icon {
				&:before, &:after {
					margin: -12px 0 0 -12px;
					top: 50%;
					left: 50%;
				}
			}
		}
	}

	.link-list .list {
		margin: 0 0 10px 10px;
	}

	.btn-link {
		padding: 0 10px;
		font-size: 14px;
	}

	.record {
		.m-form {
			margin-top: 10px;
		}

		.btn-wrap {
			margin: 20px 0 30px 0;
		}
	}

	.m-tab-wrap {
		@include display-flex;
		@include align-items(stretch);

		.tab-list {
			@include display-flex;
			@include align-items(stretch);
		}
	}

	.table-wrap .m-table:last-child {
		border-top: 0;
	}

	.btn-tab {
		padding: 5px 10px;
		min-height: 40px;
		font-size: 16px;
	}

	.m-tab-content {
		padding: 20px 0;
	}

	.m-table {
		margin-bottom: 20px;
		border-top: 1px solid $color-gray-l-p40;

		&.table-rotate tbody {
			tr:not(:last-child) {
				border-bottom: 3px solid $color-gray-l-p30;
			}

			td {
				&:nth-child(2n) {
					&:before {
						background: #eaeaea;
					}
	
					em {
						background: #fcfcfc;
					}
				}
	
				&:before {
					padding: 10px 18px 10px 10px;
					background: #f4f4f4;
					box-sizing: border-box;
					text-align: right;
				}
	
				> * {
					padding-right: 10px;
				}
			}
		}

		td {
			height: 30px;
		}
	}

	.m-pagination-bd {
		@include justify-content(center);
	}

	.btn-delete {
		padding: 0 !important;
	}

	.favorite-list {
		margin-bottom: 20px;

		.item-list {
			padding: 10px 20px 20px 20px;
			@include flex-direction(column);
	
			> *:first-child {
				width: 100%;
				@include justify-content(flex-end);
			}
	
			.item-pic {
				@include justify-content(center);

				.img-wrap {
					width: 100%;
				}
			}
	
			.item-sub-info {
				@include align-items(flex-start);
				@include flex-direction(column);
	
				.btn-wrap {
					@include justify-content(center);
				}
			}
	
			.item-price {
				margin-bottom: 20px;
			}
		}
	}

	.my-card {
		.main-tab {
			border-top: 1px solid $color-gray-l-p30;

			> .m-tab-wrap {
				padding-top: 40px;
				background: $color-white;
				display: block;
				max-height: 40px;
				position: relative;
				box-sizing: border-box;
				overflow: hidden;
				@include transition(ease-in all 0.3s);
	
				&:after {
					content: '';
					position: absolute;
					top: 17px;
					right: 20px;
					border-top: 6px solid $color-gray-d-p30;
					border-right: 6px solid transparent;
					border-left: 6px solid transparent;
					z-index: 1;
					@include transition(ease-in all 0.3s);
				}
	
				&.is-active {
					max-height: 1000px;
	
					&:after {
						@include transform(rotate(180deg));
					}
				}
	
				.btn-tab {
					width: 100%;
					border-top: 0;
					border-right: 1px solid $color-gray-l-p30;
					border-bottom: 0;
					border-left: 1px solid $color-gray-l-p30;
				}
	
				.m-selected-item {
					height: 40px;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					overflow: hidden;
					font-size: 16px;
					line-height: 40px;
				}
			}
		}

		.card-info-wrap {
			padding: 0 20px;
	
			.btn-wrap {
				@include display-flex;
	
				> *:not(:first-child) {
					margin-left: 10px;
				}
			}
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {}

@include browsers('IE9') {
	.members-item-list .list:not(:nth-child(3n+1)) {
		margin-left: 10px;
		width: calc((100% - 21px) /3);
	}

	.favorite-list .item-list {
		display: table;
		width: 100%;
		box-sizing: border-box;

		> * {
			padding-right: 10px;
			padding-left: 10px;
			display: table-cell;
		}

		.item-pic {
			width: 248px;
		}

		.item-text-info {
			vertical-align: top;
		}

		.item-sub-info > * {
			display: table-cell;
			width: 50%;
			text-align: right;

			&:first-child {
				padding-right: 20px;
			}
		}
	}
}

@include browsers('Safari') {}