.app-branch {
	&[data-tab="traffic"] .m-section-bd .info-wrap {
		&:not(:last-child) {
			border-bottom: 1px solid $color-gray-l-p10;
		}

		> * {
			margin-top: 2em;
		}

		.address, .b-link {
			text-decoration: none;
		}

		.sub-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			position: relative;
			font-size: 20px;

			&:after {
				content: '';
				background: #343434;
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
	}

	&[data-tab="floor"], &[data-tab="park"] {
		.main-tab {
			> .m-tab-wrap {
				display: table;
				width: 100%;

				.tab-list {
					display: table-cell;
					vertical-align: top;

					.btn-tab {
						border: 1px solid #cdcdcd;

						&.is-curr {
							color: $color-text-major;
						}

						.info-type {
							font-size: 15px;
						}
					}
				}
			}

			> .m-tab-content {
				padding-top: 20px;
			}
		}
	}

	&[data-tab="brand"], &[data-tab="food"] {
		.brand-info-wrap > *:not(.kv):not(.brand-logo) {
			margin-right: 0;
			margin-left: 0;
		}

		.sub-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			position: relative;
			font-size: 20px;

			&:after {
				content: '';
				background: $color-major;
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}

		.btn-wrap {
			margin-top: 20px;
		}
	}

	&[data-tab="park"] {
		.m-section-bd .info-wrap > * {
			vertical-align: top;
		}

		.m-icon {
			margin-right: 3px;
			color: #004ca1;
			font-size: 24px;
		}

		.sub-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			position: relative;
			font-size: 20px;

			&:after {
				content: '';
				background: #343434;
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
	}

	.m-section-bd {
		margin: 25px;

		.m-table {
			&:not(:last-child) {
				margin-bottom: 30px;
			}

			td, th {
				padding: 6px 12px;
				border: 1px solid $color-gray-l-p10;
				text-align: center;
			}

			th {
				font-size: 14px;
			}

			td, .sub {
				font-size: 12px;
			}
		}
	}
}

.l-body .l-content {
	padding-top: 0 !important;
	background: none;
	min-height: 0 !important;

	.main-tab > .m-tab-wrap {
		border-bottom: 0;

		.btn-tab:after {
			display: none;
		}
	}
}

.app-event {
	.m-section-hd, .m-section-bd {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

.m-section-bd {
	img {
		width: 100%;
	}

	.editor-area > *:not(img) {
		padding: 0 1em !important;
	}

	.info-wrap {
		font-size: 0;
		line-height: 0;

		&:not(:last-child) {
			padding-bottom: 2rem;
		}

		> * {
			font-size: 14px;
			line-height: 1.5em;
		}

		.b-link, .address {
			color: $color-black;
			text-decoration: underline;
		}
	}
}

.floor-select {
	border-top: 1px solid $color-gray-l-p40;
	border-bottom: 1px solid $color-gray-l-p40;
	font-size: 15px;
	line-height: 40px;
	text-align-last: center;

	option {
		text-align: left;
	}
}

.floor-info-wrap {
	.floor-main-info > *:not(:last-child) {
		margin-bottom: 20px;
	}

	.counters-desc {
		font-size: 14px;
	}

	.m-accordion .btn-switch {
		color: $color-black;

		.text {
			font-size: 14px;
		}
	}

	.facility-list .list {
		width: 32px;
		height: 32px;
		font-size: 16px;
	}
}

.brand-info-wrap {
	padding-bottom: 0;
	border: 0;

	.brand-logo img {
		width: auto;
	}

	.brand-slogan {
		margin: 20px 0;
		line-height: 1.5em;
	}

	.sub-title {
		font-size: 14px;

		&:after {
			display: none;
		}
	}

	.service-location-list {
		.list {
			font-weight: normal;
		}

		.tel-link {
			color: $color-gray-d-p20;
			font-size: 12px;
			text-decoration: underline;
		}
	}

	.shopping-link, .food-link {
		padding: 0 20px 20px 20px;

		.item-info {
			padding-top: 25px;

			&:not(:last-child) {
				padding-bottom: 25px;
			}

			> * {
				display: block;
				line-height: 1.5em;
			}

			.info-title {
				margin-bottom: 15px;
				padding-bottom: 9px;
				position: relative;
				font-size: 20px;

				&:after {
					content: '';
					background: #343434;
					display: block;
					width: 40px;
					height: 5px;
					position: absolute;
					left: 0;
					bottom: 0;
				}
			}

			.b-desc {
				font-size: 14px;
			}

			.main-info {
				overflow: hidden;
				color: $color-text-major;
				font-size: 20px;

				> * {
					display: block;
				}
			}
		}

		.btn-read-more {
			padding: 0 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 144px;
			height: 36px;
			border-color: $color-gray-d-p30;
			box-sizing: border-box;
			color: $color-gray-d-p30;

			&:before, &:after {
				display: none;
			}

			.text {
				margin-right: 10px;
				letter-spacing: 1px;
			}

			.m-icon {
				font-size: 15px;
			}
		}
	}

	.img-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		overflow: hidden;

		img {
			width: 100%;
		}
	}
}

@include respond(Desktops) {
	.l-content .main-tab > .m-tab-wrap {
		margin-bottom: 0;
	}
}

@include respond(Desktops-Tablets) {
	.app-branch {
		&[data-tab="floor"], &[data-tab="park"] {
			.main-tab > .m-tab-wrap .tab-list .btn-tab {
				padding-bottom: 0;
				height: 40px;
				line-height: 40px;
			}
		}
	}
}

@include respond(HD) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {
	.m-section-hd {
		padding-top: 0;

		.post-tools {
			padding-top: 0;
		}

		.post-catalog {
			padding: 0 16px;

			&:before, &:after {
				width: 40px;
			}

			.m-icon {
				font-size: 20px;
			}

			.text {
				font-size: 14px;
				letter-spacing: 0;
			}
		}

		.post-title {
			font-size: 20px;
		}

		.activity-period {
			color: #717070;
			font-size: 14px;
		}
	}

	.app-branch {
		&[data-tab="floor"], &[data-tab="park"] {
			.main-tab > .m-tab-wrap {
				background: $color-white;
				@include display-flex;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 17px;
					right: 20px;
					border-top: 6px solid $color-gray-d-p30;
					border-right: 6px solid transparent;
					border-left: 6px solid transparent;
				}

				.tab-list {
					@include display-flex;
					@include flex-grow(1);

					.btn-tab {
						padding: 6px;
						box-sizing: border-box;

						.info-type {
							line-height: 1.5em;
						}
					}
				}
			}

			.m-selection {
				padding: 0 20px;
				width: 100%;
				height: 40px;
				border: 1px solid $color-gray-l-p30;
				box-sizing: border-box;
				color: $color-gray-d-p30;
				font-size: 16px;
				font-weight: bold;
				line-height: 40px;
			}
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}