html, body {
    background : $color-background;
}

.m-article-ft {
    font-size : 0;

    .m-button-group > * {
        margin-right   : 10px;
        display        : inline-block;
        vertical-align : top;
        font-size      : 15px;
        line-height    : 40px;
    }

    [class^="b-col-"] , [class*=" b-col-"] {
        padding : 0;
    }

    .m-button.back-button {
        padding     : 0 30px;
        height      : 40px;
        min-width   : 0;
        font-size   : 15px;
        line-height : 36px;
        @include box-sizing(border-box);
    }
}

@include respond-to(Desktops) {
    .l-main-bd {
        .m-slider-arrow {
            margin-top : -80px;
        }    
    }
}

@include respond-to(Desktops-Tablets) {}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {}