.kv {
	position: relative;

	.m-btn-slide {
		margin-left: -30px;
		width: 60px;
		position: absolute;
		bottom: 50px;
		left: 50%;
		color: $color-white;
		text-align: center;
		@include animation(suspension 1.5s ease-in-out infinite);

		.m-icon {
			display: inline-block;
		}

		em {
			display: block;
			line-height: 2em;
		}
	}
}

.m-cut {
	margin: 0 auto;
}

.slide-list {
	.img-wrap {
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	.item-info {
		background: $color-white;
		position: relative;
		color: $color-gray-d-p30;
		@include box-sizing(border-box);

		.info-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			position: relative;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 1px;
			line-height: 1.5em;
			@include transition(ease-in all 0.3s);

			&:after {
				content: '';
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				@include transition(ease-in all 0.3s);
			}
		}

		.b-desc {
			font-size: 14px;
		}
	}

	.btn-like {
		position: absolute;
		top: 0;
		right: 0;
		color: $color-gray-d-p20;
		font-size: 20px;
		@include transition(ease-in color 0.3s);

		&:hover {
			color: $color-text-major;
		}

		&.is-add .m-icon:after {
			opacity: 1;
		}

		.m-icon {
			&:before, &:after {
				position: absolute;
				top: 0;
				right: 0;
			}

			&:after {
				content: '\e905';
				opacity: 0;
				color: $color-text-major;
				@include transition(ease-in opacity 0.3s);
			}
		}
	}

	&:not(.shopping-list) .btn-read-more {
		display: inline-block;
		overflow: hidden;
		font-size: 0;
		text-indent: 200%;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.activity-list {
	position: relative;

	.item-info {
		padding: 32px 25px 60px 25px;
		background: none;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);

		&.is-light {
			color: $color-white;

			.info-title:after {
				background: $color-white;
			}

			.btn-read-more {
				border-color: $color-white;
				color: $color-white;
			}
		}

		&.is-dark {
			color: $color-black;

			.info-title:after {
				background: $color-black;
			}

			.btn-read-more {
				border-color: $color-black;
				color: $color-black;
			}
		}

		.b-desc {
			line-height: 1.8em;
		}

		.btn-read-more {
			margin-left: -55px;
			position: absolute;
			bottom: 15px;
			left: 50%;
		}
	}
}

.food-list {
	.owl-stage {
		@include display-flex;
		@include align-items(stretch);

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
		}
	}

	.list {
		position: relative;
		background: $color-white;
		text-align: center;
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
	}

	.btn-like {
		.m-icon {
			position: absolute;
			top: 10px;
			right: 10px;
		}

		&:before {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			right: 0;
			border-top: 33px solid $color-gray-l-p40;
			border-right: 33px solid $color-gray-l-p40;
			border-bottom: 33px solid transparent;
			border-left: 33px solid transparent;
		}
	}

	.item-info {
		text-align: left;

		.info-title:after {
			background: $color-gray-d-p30;
		}

		.b-desc {
			line-height: 2em;
		}
	}

	.btn-read-more {
		border-color: $color-gray-d-p30;
		color: $color-gray-d-p30;
	}
}

.movie-list {
	text-align: center;

	.owl-stage {
		@include display-flex;
		@include align-items(stretch);

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
		}
	}

	.list {
		background: $color-white;
	}

	.movie-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(flex-end);
		@include flex-direction(column);
	}

	.item-info {
		padding: 20px 10px 15px 10px;
		@include display-flex;
		@include flex-grow(1);
		@include flex-direction(column);
		@include justify-content(space-between);
	}
}

.shopping-list {
	background: $color-white;
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 100%;
		left: 50%;
	}

	.owl-stage {
		@include display-flex;
		@include align-items(stretch);

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
		}
	}

	.list {
		width: 100%;
		position: relative;
	}

	.shopping-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
		height: 100%;

		&:hover .btn-read-more {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
		}
	}

	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
	}

	.item-info {
		@include flex-grow(1);

		> * {
			display: block;
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.main-info, .bargain-price {
			font-size: 20px;
		}

		.acts {
			font-size: 16px;
		}

		.info-title {
			font-weight: normal;

			&:after {
				background: $color-gray-d-p30;
			}
		}

		.main-info {
			overflow: hidden;
			color: $color-text-major;
		}

		.price {
			font-size: 14px;
			text-decoration: line-through;
		}
	}

	.btn-read-more {
		border-color: $color-gray-d-p30;
		color: $color-gray-d-p30;
	}

	.btn-like .m-icon {
		width: 100%;
		height: 100%;
	}
}

.social-wall {
	.list-item {
		margin-bottom: 20px;

		.b-link {
			display: block;
			position: relative;

			&.from-facebook:before {
				content: '\e90d';
			}

			&.from-instagram:before {
				content: '\e90f';
			}

			&:before {
				display: block;
				width: 44px;
				height: 44px;
				position: absolute;
				top: 10px;
				right: 10px;
				opacity: 0.87;
				z-index: 1;
				color: $color-white;
				font-size: 44px;
				font-family: 'feds-font';
				line-height: 44px;
			}
		}
	}

	.desc {
		color: $color-black;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 1.5em;
	}
}

.hidden-place {
	height: 0;
	overflow: hidden;
}

@include keyframes(suspension) {
	0%, 100% {
		margin-bottom: 10px;
	}

	50% {
		margin-bottom: 0px;
	}
}

@include respond(Desktops) {
	.m-cut {
		margin-bottom: 70px;

		.m-owl-dots {
			margin: 25px 0;
		}
	}

	.kv {
		margin-bottom: 42px;
	}

	.activity-list {
		&:hover .m-owl-ctrl {
			opacity: 1;
		}
		
		.img-wrap {
			width: calc(100% - 40px);

			img {
				@include transition(ease-in all 0.3s);
			}
		}

		.item-info {
			margin-top: -125px;
			width: 260px;
			height: 250px;
			position: absolute;
			top: 50%;
			right: 0;
		}

		.btn-read-more {
			@include transition(ease-in all 0.3s);
		}

		.m-owl-ctrl {
			opacity: 0;
			@include transition(ease-in all 0.3s);

			> * {
				margin-top: -56px;
			}
		}

		.activity-link:hover {
			.img-wrap img {
				@include transform(scale(1.05));
			}

			.btn-read-more {
				border-color: $color-text-major;

				&:after {
					background: $color-text-major;
					opacity: 1;
					color: $color-white;
				}
			}
		}
	}

	.food-list {
		.img-wrap {
			height: 270px;

			img {
				@include transition(ease-in all 0.3s);
			}
		}

		.item-info {
			padding: 30px 40px 10px 40px;
		}

		.btn-read-more {
			margin-bottom: 34px !important;
		}

		.food-link:hover {
			.img-wrap img {
				@include transform(scale(1.05));
			}

			.item-info .info-title {
				color: $color-text-major;

				&:after {
					background: $color-text-major;
				}
			}

			.btn-read-more {
				border-color: $color-text-major;

				&:after {
					background: $color-text-major;
					opacity: 1;
					color: $color-white;
				}
			}
		}
	}

	.shopping-list {
		padding: 21px 0;

		&:after {
			margin-left: -23px;
			border-right: 23px solid transparent;
			border-bottom: 39px solid $color-white;
			border-left: 23px solid transparent;
		}

		.list {
			padding-top: 21px;
		}

		.img-wrap {
			height: 272px;

			img {
				width: auto;
			}
		}

		.item-info {
			padding: 0 32px 48px 32px;

			.main-info {
				> *:first-child {
					float: left;
				}

				> *:last-child {
					float: right;
				}
			}
		}

		.btn-read-more {
			margin-bottom: 48px !important;
		}
	}

	.movie-list {
		.img-wrap {
			height: 440px;

			img {
				@include transition(ease-in all 0.3s);
			}
		}

		.movie-link:hover .img-wrap img {
			@include transform(scale(1.05));
		}
	}

	.social-wall {
		.item-sizer, .list-item {
			width: calc((100% - 60px) / 4);
		}

		.img-wrap {
			overflow: hidden;
		}
	}
}

@include respond(Desktops-Tablets) {
	.kv .jQ-video {
		height: 44.5vw;
	}

	.slide-list {
		margin: 0 auto;
		font-size: 0;
		line-height: 0;

		.list {
			margin: 0 auto;
		}
	}

	.activity-list {
		.list {
			margin: 0 10px;
			position: relative;

			.activity-link {
				display: block;
			}
		}

		.item-info {
			overflow: hidden;
			@include box-sizing(border-box);
		}
	}

	.food-list {
		.list {
			margin: 0 10px;
		}

		.btn-read-more {
			margin: 0 auto;
		}
	}

	.movie-list {
		.list {
			margin: 0 10px;
		}

		.item-info {
			.info-title {
				margin-bottom: 0;
				font-size: 18px;
			}
	
			.b-desc .m-icon {
				font-size: 16px;
			}
		}
	}

	.shopping-list {
		margin-bottom: 64px;

		.list {
			margin: 10px;
			border: 1px solid $color-white;
			@include transition(ease-in all 0.3s);

			&:hover {
				border: 1px solid $color-gray-l-p30;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);

				.item-info .info-title {
					color: $color-text-major;

					&:after {
						background: $color-text-major;
					}
				}
			}
		}

		.img-wrap {
			width: 100%;
		}

		.btn-read-more {
			margin: 0 auto;
		}

		.btn-like {
			width: 20px;
			height: 20px;
			top: 25px;
			right: 25px;
		}

		.m-owl-dots.is-absolute {
			bottom: -64px;
		}
	}

	.social-wall {
		margin: 0 auto;
		width: calc(100% - 20px);

		.list-item {
			&:hover img {
				@include transform(scale(1.05));
			}

			img {
				width: 100%;
				@include transition(ease-in all 0.3s);
			}

			.desc {
				padding: 20px;
			}
		}
	}
}

@include respond(HD) {
	.l-body.is-padding-arrow .jQ-owl.is-padding:not(.kv-owl) {
		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}
	}

	.kv .jQ-video {
		height: 44.5vw;
	}

	.m-cut {
		width: $main-max-width;
	}

	.activity-list, .food-list, .movie-list, .shopping-list {
		width: 1320px;
	}

	.activity-list .list {
		width: 640px;
	}

	.food-list .list {
		width: 420px;
	}

	.movie-list .list, .shopping-list .list {
		width: 310px;
	}

	.shopping-list:before {
		content: '';
		margin-left: -960px;
		background: $color-white;
		display: block;
		width: 1920px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
	}

	.social-wall {
		width: 1300px;

		.item-sizer {
			width: 310px;
		}

		.list-item {
			width: 310px;
		}
	}
}

@include respond(Tablets) {
	.movie-list .img-wrap {
		height: 336px;
	}

	.social-wall {
		.item-sizer, .list-item {
			width: calc((100% - 40px) / 3);
		}
	}
}

@include respond(Tablets-Mobiles) {
	.m-cut {
		margin-bottom: 36px !important;

		.m-owl-dots {
			margin: 12px 0;
		}
	}

	.kv {
		margin-bottom: 20px;

		.youtube-link {
			position: relative;
			display: block;

			.m-icon {
				margin: -22px 0 0 -22px;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 44px;
				height: 44px;
				color: #e62117;
				font-size: 44px;
			}
		}

		.m-btn-slide {
			display: none;
		}
	}

	.slide-list .btn-read-more {
		margin: 0 auto;
	}

	.activity-list {
		.owl-stage {
			@include display-flex;
			@include align-items(stretch);

			.owl-item {
				@include display-flex;
				@include align-items(stretch);
			}
		}

		.m-owl-ctrl {
			display: none;
		}

		.list, .list .activity-link {
			@include display-flex;
			@include align-items(stretch);
			@include align-content(stretch);
			@include justify-content(space-between);
			@include flex-direction(column);
		}

		.activity-link {
			height: 100%;
		}

		.item-info {
			@include flex-grow(1);
		}
	}

	.food-list {
		.item-info {
			padding: 15px 20px 10px 20px;
			@include flex-grow(1);
		}

		.btn-read-more {
			margin-bottom: 20px;
		}
	}

	.shopping-list {
		padding-top: 20px;

		&:after {
			margin-left: -12px;
			border-right: 12px solid transparent;
			border-bottom: 20px solid $color-white;
			border-left: 12px solid transparent;
		}

		.img-wrap {
			height: 240px;
			@include flex-direction(column);

			img {
				width: auto;
				max-width: 100%;
			}
		}

		.item-info {
			padding: 0 15px 25px 15px;

			.main-info > * {
				display: block;
			}
		}

		.btn-read-more {
			margin-bottom: 25px;
		}
	}
}

@include respond(Mobiles) {
	.m-cut {
		.jQ-owl {
			margin-bottom: 20px;
		}

		.m-owl-dots {
			display: none;
		}
	}

	.kv .jQ-video {
		height: 57vw;
	}

	.kv-owl .item .img-wrap {
		margin-left: -14vw;
		width: 128vw;
	}

	.slide-list {
		.owl-item {
			@include transition(ease-in all 0.3s);

			&:not(.active) {
				@include transform(scale(0.95));
			}
		}

		.btn-like {
			width: 40px;
			height: 40px;
		}
	}

	.activity-cut, .food-cut, .movie-cut, .shopping-cut {
		width: calc(100vw - 100px);

		.owl-stage-outer {
			overflow: visible;
		}

		.list {
			margin: 0 10px;
			width: calc(100% - 20px);
		}
	}

	.shopping-list {
		&:before {
			content: '';
			margin-left: -50vw;
			background: $color-white;
			display: block;
			width: 100vw;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
		}

		.owl-item:not(.active) .btn-like {
			opacity: 0;
		}

		.m-icon {
			line-height: 40px;

			&:before, &:after {
				margin-right: -10px;
				right: 50% !important;
			}
		}
	}

	.social-wall {
		margin: 0 auto;
		width: 310px;

		.img-wrap img {
			width: 100%;
		}

		.desc {
			padding: 10px;
		}
	}
}

@include devices(iphone) {
	.food-list .btn-read-more {
		margin: 0 20px 20px 20px;
	}

	.shopping-list .btn-read-more {
		margin: 0 15px 25px 15px;
	}
}

@include respond(Iphone5) {
	.activity-cut, .food-cut, .movie-cut, .shopping-cut {
		width: 232px;

		.list {
			width: 212px;
		}
	}

	.social-wall {
		width: 300px;
	}
}

@include browsers('IE') {
	.slide-list .btn-like {
		width: 66px;
		height: 66px;
	}

	.food-list .btn-read-more {
		margin-right: 40px;
		margin-left: 40px;
	}

	.shopping-list .btn-read-more {
		margin-right: 32px;
		margin-left: 32px;
	}
}

@include browsers('IE9') {
	.shopping-list {
		.img-wrap {
			text-align: center;
		}

		.shopping-link {
			padding-bottom: 76px;
			display: block;
			overflow: hidden;
		}

		.btn-read-more {
			margin: 0 !important;
			position: absolute;
			bottom: 20px;
			left: 32px;
			right: 32px;
		}
	}
}

@include browsers('Safari') {
	.food-list .btn-read-more {
		margin-right: 40px;
		margin-left: 40px;
	}

	.shopping-list {
		.list {
			position: relative;
		}

		.btn-read-more {
			margin-right: 32px;
			margin-left: 32px;
		}
	}
}