.main-tab {
	> .m-tab-wrap {
		display: table;
		width: 100%;
		border-bottom: 1px solid $color-gray-d-p10;

		.tab-list {
			display: table-cell;
		}

		.btn-tab {
			color: $color-gray-l-p20;

			&:after {
				content: '';
				background: $color-text-major;
				display: block;
				height: 5px;
				position: absolute;
				bottom: -1px;
				opacity: 0;
				@include transition(ease-in all 0.3s);
			}

			> * {
				display: block;
				line-height: 1.5em;
				@include transition(ease-in all 0.3s);
			}

			.text {
				font-weight: bold;
			}

			&.is-curr, &:hover {
				&:after {
					opacity: 1;
				}

				.m-icon {
					color: $color-text-major;
				}

				.text {
					color: $color-gray-d-p30;
				}
			}
		}
	}

	> .m-tab-content > .content-list.has-bg {
		background: $color-white;
		border: 1px solid $color-gray-l-p30;
	}
}

.m-accordion.is-open .btn-switch:after {
	@include transform(rotate(225deg));
}

.m-accordion-hd .btn-switch {
	color: $color-text-major;
	font-size: 18px;
	font-weight: bold;

	&:after {
		margin-top: -5px;
		width: 10px;
		height: 10px;
		right: 10px;
		border-right: 2px solid $color-text-major;
		border-bottom: 2px solid $color-text-major;
		@include transform(rotate(45deg));
	}
}

.m-accordion-bd {
	> *:last-child {
		margin-bottom: 16px;
	}

	.desc {
		color: $color-gray-l-p10;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5em;
	}

	.b-highlight {
		display: block;
		color: $color-black;
	}
}

.google-map-box {
	.map-frame {
		width: 100%;
	}

	.main-info {
		@include display-flex;
		@include box-sizing(border-box);

		.img-wrap img {
			width: 100%;
		}

		.info-box {
			@include flex-grow(1);
			overflow-y: scroll;
		}
	}
}

.other-info {
	@include display-flex;
	@include align-items(stretch);
	@include justify-content(stretch);

	> * {
		@include flex-grow(1);
	}

	.info-box {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
	}

	.info-title {
		color: $color-text-major;
		font-weight: bold;
	}

	.m-accordion {
		.is-bl-line > * {
			color: #024ea4;
		}

		.is-r-line > * {
			color: #e93226;
		}

		.text {
			font-weight: bold;
		}
	}

	.img-wrap img {
		width: 100%;
	}
}

.sub-tab {
	> .m-tab-wrap {
		display: table;
		width: 100%;

		.tab-list {
			display: table-cell;
			vertical-align: top;

			.btn-tab {
				width: 100%;
			}
		}
	}

	.btn-tab {
		border-bottom: 1px solid $color-gray-l-p30;
		color: $color-black;
		font-weight: bold;
		@include transition(ease-in all 0.3s);

		&.is-curr {
			background: $color-white;
			border: 1px solid $color-gray-l-p30;
			border-bottom: 0;
		}

		&.is-curr, &:hover {
			color: $color-text-major;
		}
	}

	.content-list {
		background: $color-white;
		border: 1px solid $color-gray-l-p30;
		border-top: 0;
	}
}

.floor-info-wrap {
	.floor-title {
		color: $color-text-major;
		font-weight: bold;
	}

	.counters-desc, .facility-title {
		color: $color-gray-d-p30;
	}

	.facility-title {
		font-weight: bold;
	}

	.facility-list {
		color: $color-white;
		font-size: 0;

		.list {
			background: $color-gray-d-p30;
			display: inline-block;
			border-radius: 50%;
		}
	}

	.m-accordion {
		border: 1px solid $color-gray-l-p20;

		&:not(:last-child) {
			border-bottom: 0;
		}

		.m-accordion-hd .btn-switch {
			&:after {
				margin-top: -6px;
				width: 12px;
				height: 12px;
				border-right: 1px solid $color-gray-d-p30;
				border-bottom: 1px solid $color-gray-d-p30;
			}

			.img-icon {
				position: absolute;
				top: 50%;
			}
		}

		.m-accordion-bd {
			background: $color-gray-d-p30;
			border-bottom: 0;

			.counters-list {
				font-size: 0;

				.list {
					display: inline-block;
					line-height: 1.5em;
					text-align: left;
				}
			}

			.b-link {
				color: $color-white;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.img-icon {
		background: image-url('business-info/icons.png') no-repeat;
		display: inline-block;
	}
}

.service-main-list > .list {
	@include display-flex;
	@include align-items(stretch);
	@include justify-content(flex-start);

	&:not(:first-child) .service-sub-list .list {
		display: block;
		width: auto;
	}

	.service-info {
		@include display-flex;
		@include align-items(stretch);
		@include justify-content(center);
		@include flex-direction(column);
		@include box-sizing(border-box);
	}

	.list-title {
		color: $color-text-major;
		font-weight: bold;
	}

	.service-desc {
		color: $color-gray-d-p30;
		font-weight: bold;
	}

	.service-sub-list {
		font-size: 0;
		line-height: 0;

		.list {
			display: inline-block;
			width: 50%;
			position: relative;
			vertical-align: top;
			color: $color-gray;
			line-height: 1.5em;
			@include box-sizing(border-box);

			&:before {
				content: '';
				background: $color-gray;
				display: inline-block;
				width: 4px;
				height: 4px;
				position: absolute;
				left: 2px;
				border-radius: 50%;
			}
		}
	}
}

.brand-info-wrap {
	border: 1px solid $color-gray-l-p20;

	.brand-logo {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);

		img {
			max-height: 100%;
		}
	}

	.brand-slogan {
		color: $color-gray-d-p30;
		font-weight: bold;
	}

	.sub-title {
		margin: 20px 0 12px 0;
		padding: 20px 0 5px 0;
		position: relative;
		border-top: 1px solid $color-gray-l-p20;
		color: $color-gray-d-p30;
		font-weight: bold;

		&:after {
			content: '';
			background: $color-text-major;
			display: block;
			width: 36px;
			height: 5px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.service-location-list {
		@include display-flex;
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		.list {
			font-size: 0;
			font-weight: bold;
			line-height: 0;

			> * {
				color: $color-gray-d-p30;
			}
		}
	}

	.shopping-list {
		position: relative;

		.owl-stage {
			@include display-flex;
			@include align-items(stretch);

			.owl-item {
				@include display-flex;
				@include align-items(stretch);
			}
		}

		.list {
			width: 100%;
			position: relative;
		}

		.shopping-link {
			@include display-flex;
			@include align-items(stretch);
			@include align-content(stretch);
			@include justify-content(space-between);
			@include flex-direction(column);
			height: 100%;

			&:hover .btn-read-more {
				background: $color-text-major;
				border-color: $color-text-major;
				color: $color-white;
			}
		}

		.img-wrap {
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.item-info {
			background: $color-white;
			position: relative;
			color: $color-gray-d-p30;
			@include box-sizing(border-box);
			@include flex-grow(1);

			> * {
				display: block;
				letter-spacing: 1px;
				line-height: 1.5em;
			}

			.main-info, .bargain-price {
				font-size: 20px;
			}

			.acts {
				font-size: 16px;
			}

			.main-info {
				overflow: hidden;
				color: $color-text-major;
			}

			.price {
				font-size: 14px;
				text-decoration: line-through;
			}

			.info-title {
				margin-bottom: 15px;
				padding-bottom: 9px;
				position: relative;
				font-size: 20px;
				letter-spacing: 1px;
				line-height: 1.5em;

				&:after {
					content: '';
					background: $color-gray-d-p30;
					display: block;
					width: 40px;
					height: 5px;
					position: absolute;
					left: 0;
					bottom: 0;
					@include transition(ease-in all 0.3s);
				}
			}

			.b-desc {
				font-size: 14px;
			}
		}

		.btn-read-more {
			border-color: $color-gray-d-p30;
			color: $color-gray-d-p30;
		}

		.btn-like {
			position: absolute;
			top: 0;
			right: 0;
			color: $color-gray-d-p20;
			font-size: 20px;
			@include transition(ease-in color 0.3s);

			&:hover {
				color: $color-text-major;
			}

			&.is-add .m-icon:after {
				opacity: 1;
			}

			.m-icon {
				width: 100%;
				height: 100%;

				&:before, &:after {
					position: absolute;
					top: 0;
					right: 0;
				}

				&:after {
					content: '\e905';
					opacity: 0;
					color: $color-text-major;
					@include transition(ease-in opacity 0.3s);
				}
			}
		}
	}
}

.btn-return {
	background: $color-text-major;
	display: inline-block;
	color: $color-white;
	font-weight: bold;
	text-align: center;
}

@include respond(Desktops) {
	.m-cut {
		margin-right: 20px;
		margin-left: 20px;
	}

	.main-tab {
		> .m-tab-wrap {
			margin-bottom: 40px;
	
			.btn-tab {
				.m-icon {
					font-size: 56px;
				}
		
				.text {
					font-size: 18px;
				}
			}
		}

		> .m-tab-content > .content-list.has-bg {
			padding: 30px 25px 70px 25px;
		}
	}

	.google-map-box {
		position: relative;

		.map-frame {
			height: 850px;
		}

		.main-info {
			padding-bottom: 20px;
			background: $color-white;
			@include flex-direction(column);
			width: 300px;
			height: 800px;
			position: absolute;
			top: 24px;
			right: 50px;
			box-shadow: 0 3px 20px rgba(137, 137, 137, 0.35);

			.btn-switch {
				height: 56px;
				line-height: 56px;
				@include transition(ease-in all 0.3s);
			}
		}
	}

	.other-info {
		margin-top: 40px;

		.info-title {
			font-size: 36px;
		}

		.m-accordion {
			width: 360px;

			.m-icon {
				font-size: 36px;
			}
		}
	}

	.sub-tab {
		.btn-tab {
			height: 80px;

			.text {
				font-size: 20px;
			}
		}

		.content-list {
			padding: 40px 20px 60px 20px;
		}
	}

	.floor-info-wrap {
		padding: 0 20px;

		.floor-title {
			font-size: 30px;
		}

		.counters-desc {
			margin-bottom: 48px;
			font-size: 16px;
		}

		.facility-title {
			font-size: 20px;
		}

		.facility-list {
			margin-bottom: 50px;

			.list {
				margin: 0 8px;
				width: 60px;
				height: 60px;
				font-size: 24px;
			}
		}

		.m-accordion {
			.btn-switch {
				padding-left: 108px;
				height: 80px;

				.img-icon {
					left: 36px;
				}

				.text {
					font-size: 20px;
				}

				&:after {
					right: 36px;
				}
			}

			.m-accordion-bd {
				padding-left: 100px;
			}

			.counters-list {
				margin: 30px 0;

				.list {
					padding: 6px 0;
					width: 20%;
					font-size: 14px;
				}
			}
		}

		.img-icon {
			&.childrens-clothing {
				margin-top: -22px;
				width: 40px;
				height: 44px;
			}

			&.toys {
				margin-top: -26px;
				background-position: -40px 0;
				width: 44px;
				height: 52px;
			}

			&.shoes {
				margin-top: -16px;
				background-position: -84px 0;
				width: 64px;
				height: 32px;
			}

			&.cosmetic {
				margin-top: -20px;
				background-position: -148px 0;
				width: 44px;
				height: 40px;
			}

			&.pajamas {
				margin-top: -20px;
				background-position: -192px 0;
				width: 48px;
				height: 40px;
			}

			&.maternal-infant {
				margin-top: -24px;
				background-position: -240px 0;
				width: 48px;
				height: 48px;
			}

			&.fragrance {
				margin-top: -24px;
				background-position: -288px 0;
				width: 32px;
				height: 48px;
			}

			&.restaurant {
				margin-top: -24px;
				background-position: -320px 0;
				width: 48px;
				height: 48px;
			}
		}
	}

	.sub-tab .info-content, .floor-info-wrap {
		margin: 0 auto;
		max-width: 1000px;
	}

	.service-main-list {
		.list-title {
			font-size: 36px;
		}

		.service-info {
			padding: 0 40px;
		}

		.service-desc {
			font-size: 16px;
		}

		.service-sub-list .list {
			padding: 6px 0 6px 16px;
			font-size: 16px;

			&:nth-child(2n+1) {
				padding-right: 24px;
			}

			&:before {
				top: 16px;
			}
		}
	}

	.brand-info .btn-wrap {
		margin-top: 50px;
	}

	.brand-info-wrap {
		padding: 48px 48px 0 48px;

		.shopping-list {
			margin: 0 auto 64px auto;
			padding: 21px 0 0 0;

			.list {
				padding-top: 21px;
			}

			.img-wrap {
				height: 272px;

				img {
					width: auto;
				}
			}

			.item-info {
				padding: 0 32px 48px 32px;

				.main-info {
					> *:first-child {
						float: left;
					}

					> *:last-child {
						float: right;
					}
				}
			}

			.btn-read-more {
				margin-bottom: 30px !important;
			}

			.m-owl-dots.is-absolute {
				margin: 25px 0;
				bottom: -64px;
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-cut {
		padding-bottom: 50px;
		max-width: 1400px;
	}

	.cut-title {
		margin-top: 27px;
	}

	.main-tab > .m-tab-wrap .btn-tab {
		padding-bottom: 15px;

		&:after {
			margin-left: -50px;
			left: 50%;
			width: 100px;
		}
	}

	.google-map-box .main-info .info-box {
		padding: 0 20px;
	}

	.other-info {
		.m-accordion {
			.m-accordion-hd {
				padding: 10px 0;
			}

			.m-icon {
				margin-right: 10px;
			}

			.text {
				font-size: 18px;
			}
		}

		.img-wrap {
			max-width: 50%;
		}
	}

	.floor-info-wrap .facility-title {
		margin-bottom: 10px;
	}

	.service-main-list {
		padding: 10px 0;

		.list {
			&:nth-child(2n) {
				@include flex-direction(row-reverse);
				@include justify-content(flex-end);
			}

			&:nth-child(2n+1) .service-info {
				padding-right: 0;
			}
		}

		.img-wrap, .service-info {
			width: 50%;
		}
	
		.img-wrap img {
			width: 100%;
		}

		.service-sub-list:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	.brand-info-wrap {
		.brand-logo {
			height: 160px;
		}

		.brand-slogan {
			margin: 50px 0 80px 0;
			font-size: 16px;
			line-height: 2em;
		}

		.sub-title {
			font-size: 20px;
		}

		.service-location-list .list > * {
			font-size: 16px;
			line-height: 2em;
		}

		.shopping-list {
			font-size: 0;
			line-height: 0;

			.list {
				margin: 10px;
				border: 1px solid $color-white;
				@include transition(ease-in all 0.3s);

				&:hover {
					border: 1px solid $color-gray-l-p30;
					box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
				}
			}

			.img-wrap {
				width: 100%;
			}

			.btn-read-more {
				margin: 0 auto;
			}

			.btn-like {
				width: 20px;
				height: 20px;
				top: 25px;
				right: 25px;
			}
		}
	}

	.btn-return {
		height: 50px;
		border-radius: 25px;
		font-size: 16px;
		line-height: 50px;
	}
}

@include respond(HD) {
	.m-cut {
		margin: 0 auto;
		padding-right: 50px;
		padding-left: 50px;
		box-sizing: border-box;
	}

	.google-map-box .main-info {
		width: 400px;
	}

	.other-info .img-wrap {
		max-width: 736px;
	}
}

@include screen('2/1') {
	.google-map-box {
		.map-frame {
			width: calc(100% - 420px);
			height: 70vh;
		}

		.main-info {
			padding: 35vh 0 0 0;
			height: 70vh;
			top: 0;
			right: 0;
			box-shadow: none;
			@include box-sizing(border-box);

			.img-wrap {
				@include display-flex;
				@include align-items(center);
				@include justify-content(center);
				height: 50%;
				position: absolute;
				top: 0;
				right: 0;
				overflow: hidden;
			}
		}
	}
}

@include respond(Tablets) {
	.m-cut {
		margin: 32px 50px 0 50px;
	}

	.sub-tab .btn-tab .text {
		line-height: 40px;
	}

	.google-map-box {
		.map-frame {
			margin-bottom: 20px;
			height: 400px;
		}

		.main-info > * {
			width: 50%;
			@include box-sizing(border-box);
		}
	}

	.other-info .info-box {
		padding: 0 20px;
		width: 50%;
		box-sizing: border-box;
	}

	.service-main-list .service-info {
		padding: 0 20px;
	}

	.floor-info-wrap .m-accordion .counters-list .list {
		width: 25%;
	}
}

@include respond(Tablets-Mobiles) {
	.main-tab {
		> .m-tab-wrap {
			margin-bottom: 15px;

			.btn-tab {
				padding-bottom: 10px;
				width: 100%;
	
				.m-icon {
					font-size: 36px;
				}
	
				.text {
					font-size: 15px;
				}
			}
		}

		> .m-tab-content > .content-list.has-bg {
			padding: 20px;
		}
	}

	.m-accordion .btn-switch {
		height: 40px;
		line-height: 40px;
	}

	.other-info {
		margin-top: 20px;

		.info-title {
			font-size: 20px;
		}

		.m-accordion {
			width: 100%;

			.m-icon {
				font-size: 24px;
				line-height: 32px;
			}
		}
	}

	.sub-tab {
		.btn-tab {
			min-height: 40px;

			.text {
				font-size: 15px;
			}
		}

		.content-list {
			padding: 20px;
		}
	}

	.floor-info-wrap {
		.floor-title {
			font-size: 24px;
		}

		.counters-desc {
			margin-bottom: 24px;
			font-size: 12px;
		}

		.facility-title {
			font-size: 16px;
		}

		.facility-list {
			margin-bottom: 25px;

			.list {
				margin: 0 4px;
				width: 30px;
				height: 30px;
				font-size: 12px;
			}
		}

		.m-accordion {
			.btn-switch {
				padding-left: 54px;
				height: 40px;

				.img-icon {
					left: 18px;
				}

				.text {
					font-size: 12px;
				}

				&:after {
					right: 18px;
				}
			}

			.m-accordion-bd {
				padding-left: 50px;
			}

			.counters-list {
				margin: 15px 0;

				.list {
					padding: 3px 0;
					font-size: 12px;
				}
			}
		}

		.img-icon {
			background-size: 184px auto;

			&.childrens-clothing {
				margin-top: -11px;
				width: 20px;
				height: 22px;
			}

			&.toys {
				margin-top: -13px;
				background-position: -20px 0;
				width: 22px;
				height: 26px;
			}

			&.shoes {
				margin-top: -8px;
				background-position: -42px 0;
				width: 32px;
				height: 16px;
			}

			&.cosmetic {
				margin-top: -10px;
				background-position: -74px 0;
				width: 22px;
				height: 20px;
			}

			&.pajamas {
				margin-top: -10px;
				background-position: -96px 0;
				width: 24px;
				height: 20px;
			}

			&.maternal-infant {
				margin-top: -12px;
				background-position: -120px 0;
				width: 24px;
				height: 24px;
			}

			&.fragrance {
				margin-top: -12px;
				background-position: -144px 0;
				width: 16px;
				height: 24px;
			}

			&.restaurant {
				margin-top: -12px;
				background-position: -160px 0;
				width: 24px;
				height: 24px;
			}
		}
	}

	.service-main-list {
		.list-title {
			font-size: 20px;
		}

		.service-info {
			padding: 0 20px;
		}

		.service-desc {
			font-size: 12px;
		}

		.service-sub-list .list {
			padding: 3px 0 3px 10px;
			font-size: 12px;

			&:before {
				top: 10px;
			}
		}

		> .list:nth-child(3) .service-sub-list .list {
			padding-right: 0;
		}

		.service-sub-list .list:nth-child(2n+1) {
			padding-right: 12px;
		}
	}

	.brand-info .btn-wrap {
		margin-top: 24px;
	}

	.brand-info-wrap {
		padding: 24px 24px 0 24px;

		.shopping-list {
			margin: 0 auto 36px auto;
			padding-top: 20px;

			.img-wrap {
				height: 240px;
				@include flex-direction(column);

				img {
					width: auto;
					max-width: 100%;
				}
			}

			.item-info {
				padding: 0 15px 25px 15px;

				.main-info > * {
					display: block;
				}
			}

			.btn-read-more {
				margin-bottom: 25px;
			}

			.m-owl-dots {
				margin: 12px 0;
				bottom: -36px;
			}
		}
	}
}

@include respond(Mobiles) {
	.m-tab-wrap {
		white-space: normal;
	}

	.m-cut {
		margin: 20px 10px 0 10px;
		padding-bottom: 20px;
	}

	.cut-title {
		margin-top: 15px;
	}

	.main-tab > .m-tab-wrap .btn-tab:after {
		left: 0;
		width: 100%;
	}

	.google-map-box {
		.map-frame {
			margin-bottom: 10px;
			height: 300px;
		}

		.main-info {
			@include flex-direction(column);
		}
	}

	.other-info {
		margin-top: 20px;
		@include flex-direction(column-reverse);

		.info-box {
			margin-top: 10px;
		}

		.m-accordion {
			margin-bottom: 10px;

			.m-icon {
				margin-right: 6px;
			}
		}
	}

	.sub-tab > .m-tab-wrap {
		@include display-flex;

		.tab-list {
			@include display-flex;
			@include flex-grow(1);

			.btn-tab {
				padding: 0 6px;
			}
		}
	}

	.service-main-list {
		> .list {
			@include flex-direction(column);
		}

		.img-wrap {
			@include display-flex;
			@include align-items(center);
			height: 50vw;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.service-info {
			padding: 10px 0;
		}
	}

	.floor-info-wrap {
		.facility-title {
			margin-bottom: 10px;
		}

		.m-accordion .counters-list .list {
			width: 50%;
		}
	}

	.brand-info .btn-wrap {
		margin-top: 25px;
	}

	.brand-info-wrap {
		.brand-logo {
			height: 80px;
		}

		.brand-slogan {
			margin: 20px 0 40px 0;
			font-size: 14px;
			line-height: 2em;
		}

		.sub-title {
			font-size: 18px;
		}

		.service-location-list .list > * {
			font-size: 14px;
			line-height: 2em;
		}

		.shopping-list {
			.owl-item {
				@include transition(ease-in all 0.3s);

				&:not(.active) {
					@include transform(scale(0.95));

					.btn-like {
						opacity: 0;
					}
				}
			}

			.btn-like {
				width: 40px;
				height: 40px;
			}

			.m-icon {
				line-height: 40px;

				&:before, &:after {
					margin-right: -10px;
					right: 50% !important;
				}
			}
		}
	}

	.btn-return {
		height: 40px;
		border-radius: 20px;
		font-size: 14px;
		line-height: 40px;
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {}

@include browsers('IE9') {
	.google-map-box .main-info .info-box {
		height: 100%;
	}

	.other-info {
		display: table;
		width: 100%;

		> * {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
			text-align: center;
		}

		.m-accordion {
			text-align: center;

			> * {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.service-main-list .list {
		overflow: hidden;

		> * {
			float: left;
		}

		&:nth-child(2n) > * {
			float: right;
		}

		.service-info {
			padding-top: 30px;
		}
	}

	.shopping-list {
		.img-wrap {
			text-align: center;
		}

		.shopping-link {
			padding-bottom: 76px;
			display: block;
			overflow: hidden;
		}

		.btn-read-more {
			margin: 0 !important;
			position: absolute;
			bottom: 20px;
			left: 32px;
			right: 32px;
		}
	}
}

@include browsers('Safari') {
	.shopping-list {
		.list {
			position: relative;
		}

		.btn-read-more {
			margin-right: 32px;
			margin-left: 32px;
		}
	}
}

@include browsers('FireFox') {}