$color-btn-main : $color-text-major;
$color-btn-sub : #4489ca;
$color-btn-cancel : $color-gray-l-p10;

.m-cut {
	margin: 0 auto;
	padding: 0 10px;
	color: $color-gray-d-p40;
}

.main-title, .m-cut-ft .ft-title {
	font-weight: bold;
	line-height: 1.5em;
}

.m-cut-bd {
	.member-name {
		display: block;
		font-size: 16px;
		font-weight: bold;
	}

	.coupon-info {
		font-size: 14px;
		line-height: 2em;
	}

	.highlight {
		color: $color-btn-main;
	}

	.sheet {
		margin-bottom: 20px;
		background: $color-white;
		border: 1px solid $color-gray-l-p30;

		> *:not(:last-child) {
			border-bottom: 1px solid $color-gray-l-p30;
		}

		.info-title {
			color: $color-gray-d-p40;
			font-weight: bold;
			letter-spacing: 1px;
			line-height: 1.5em;

			.sub-desc {
				color: $color-gray-d-p40;
				font-size: 14px;
				font-weight: normal;
				letter-spacing: 0;
			}
		}

		.m-box-holder {
			> * {
				font-size: 14px;
			}

			&:not(.is-checkbox):not(.is-radio) {
				height: 30px;
		
				.m-inputbox, .m-selection {
					line-height: 28px;
				}
			}

			&.is-selector {
				&:before {
					content: '';
					display: block;
					position: absolute;
					bottom: 50%;
					right: 14px;
					border-bottom: 6px solid $color-gray-l-p10;
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
					pointer-events: none;
					z-index: 1;
				}

				&:after {
					margin-top: 1px;
				}
			}
		}
	}

	.m-table {
		width: 100%;

		thead {
			td {
				text-align: center;
			}

			.text {
				color: $color-gray-d-p40;
				font-size: 14px;
				font-weight: bold;
			}
		}

		tbody td {
			text-align: center;

			&:first-child {
				font-size: 14px;
			}
		}

		tr {
			border-bottom: 1px solid $color-gray-l-p30;
		}

		.item-info {
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);

			.item-name {
				text-align: left;
			}
		}

		.img-wrap {
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			width: 150px;
			height: 150px;
			min-width: 150px;
			border: 1px solid $color-gray-l-p30;
			overflow: hidden;

			img {
				min-width: 100%;
			}
		}

		.note {
			display: block;
			color: $color-btn-main;
			line-height: 2em;
			text-align: left;

			.m-icon {
				margin-right: 5px;
				font-size: 16px;
			}
		}

		.m-lab {
			display: block;
			line-height: 32px;
			white-space: nowrap;
		}

		.counter .m-box-holder {
			width: 50px;
			height: 100% !important;
		}

		.btn-delete {
			font-size: 16px;
		}
	}

	.purchase-info {
		font-size: 0;
		line-height: 0;

		> * {
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.coupon-selection {
			margin-bottom: 10px;
		}

		.b-link {
			color: $color-btn-sub;
		}

		.btn-link {
			vertical-align: middle;
		}

		&.final-payment .highlight {
			font-size: 24px;
			font-weight: bold;
		}
	}

	.btn-wrap {
		font-size: 0;
		line-height: 0;

		.btn-link {
			font-size: 14px;
		}
	}
}

.m-cut-ft .ft-title {
	font-size: 28px;
}

.deliver-method {
	&:not(.is-store) .is-selector {
		max-height: 0;
		border: 0;
		opacity: 0;
		overflow: hidden;
	}

	.is-selector {
		max-height: 50px;
		opacity: 1;
		@include transition(ease-in opacity 0.3s);
	}
}

.counter {
	@include display-flex;

	> * {
		height: 36px;
		border: 1px solid $color-gray-d-p30;
		color: $color-gray-d-p30;
		line-height: 34px;
	}

	.btn-count {
		width: 36px;
		font-size: 14px;
		@include transition(ease-in all 0.3s);

		&:hover {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
		}
	}

	.m-box-holder {
		border-right: 0;
		border-left: 0;
		vertical-align: top;
	}

	.m-inputbox {
		width: 100%;
		height: 34px;
		vertical-align: top;
		line-height: 34px;
		text-align: center;
		@include box-sizing(border-box);
	}
}

.recommended-list {
	.owl-stage {
		@include display-flex;
		@include align-items(stretch);

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
		}
	}

	.list {
		background: $color-white;
		width: 100%;
		position: relative;
		border: 1px solid $color-gray-l-p30;
		@include box-sizing(border-box);
	}

	.recommended-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(flex-end);
		@include flex-direction(column);

		&:hover .img-wrap img {
			@include transform(scale(1.05));
		}
	}

	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		overflow: hidden;

		img {
			width: 100%;
			@include transition(ease-in all 0.3s);
		}
	}

	.item-info {
		background: $color-white;
		position: relative;
		color: $color-gray-d-p30;
		@include box-sizing(border-box);
		@include flex-grow(1);

		.info-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			position: relative;
			font-size: 20px;
			letter-spacing: 1px;
			line-height: 1.5em;

			&:after {
				content: '';
				background: $color-gray-d-p30;
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				@include transition(ease-in all 0.3s);
			}
		}

		.b-desc {
			font-size: 14px;
		}

		> * {
			display: block;
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.main-info, .bargain-price {
			font-size: 20px;
		}

		.main-info {
			overflow: hidden;
			color: $color-text-major;
		}

		.price {
			font-size: 14px;
			text-decoration: line-through;
		}
	}

	.counter, .btn-read-more {
		margin-right: auto;
		margin-left: auto;
		width: 162px;
	}

	.counter {
		margin-bottom: 10px;
	}

	.btn-read-more {
		display: block;
		border-color: $color-gray-d-p30;
		overflow: hidden;
		color: $color-gray-d-p30;
		text-align: center;
		@include box-sizing(border-box);
		@include transition(ease-in all 0.3s);

		&:before, &:after {
			display: none;
		}

		.text {
			font-size: 12px;
			letter-spacing: 1px;
			line-height: 34px;
		}

		&:hover {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
		}
	}

	.btn-like {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		color: $color-gray-d-p20;
		font-size: 20px;

		&.is-add .m-icon:after {
			opacity: 1;
		}

		.m-icon {
			width: 100%;
			height: 100%;

			&:before, &:after {
				margin: -10px 0 0 -10px;
				position: absolute;
				top: 50%;
				left: 50%;
			}

			&:after {
				content: '\e905';
				opacity: 0;
				color: $color-text-major;
				@include transition(ease-in opacity 0.3s);
			}
		}
	}

	&.jQ-owl .m-owl-ctrl {
		position: absolute;
		right: 32px;
		opacity: 1;
		cursor: pointer;
		pointer-events: auto;

		&:after {
			display: none;
		}

		.owl-prev {
			left: 0 !important;
		}

		.owl-next {
			right: 0 !important;
		}

		> * {
			margin-top: 0;
			background: none;
			display: inline-block;
			width: 40px;
			height: 40px;
			position: relative;
			border: 0;

			&:hover:before {
				border-top-color: $color-black;
				border-right-color: $color-black;
			}

			&:before {
				margin-top: -8px;
				width: 16px;
				height: 16px;
				border-top: 4px solid $color-gray-l-p30;
				border-right: 4px solid $color-gray-l-p30;
				@include transition(ease-in all 0.3s);
			}
		}
	}
}

.btn-link {
	display: inline-block;
	color: $color-white;
	text-align: center;
	@include transition(ease-in all 0.3s);
}

@include respond(Desktops) {
	.m-cut {
		margin-bottom: 70px;
	}

	.m-cut-bd {
		margin-bottom: 45px;

		.coupon-info {
			position: relative;

			&:not(:last-child):after {
				content: '/';
				padding: 0 18px;
			}

			.coupon-name {
				padding-right: 50px;
			}
		}

		.sheet {
			padding: 25px 50px;
		}

		.m-table {
			thead .text {
				white-space: nowrap;
			}

			tr td {
				padding: 0 16px;
			}

			.item-info {
				margin-bottom: 12px;
			}

			.img-wrap {
				margin-right: 18px;
			}

			.note > * {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.btn-wrap .btn-link {
			height: 50px;
			line-height: 50px;
		}
	}

	.recommended-list {
		.img-wrap {
			height: 272px;

			img {
				width: auto;
				min-height: 100%;
			}
		}

		.item-info {
			padding: 15px 32px;
		}

		.btn-read-more {
			margin-bottom: 20px !important;
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-cut-hd {
		padding: 24px 0;
	}

	.main-title {
		font-size: 36px;
	}

	.m-cut-bd {
		.coupon-info {
			display: inline-block;
		}

		.member-info {
			margin-bottom: 20px;
			padding: 15px 0;
		}

		.member-name {
			margin-bottom: 5px;
		}

		.sheet .info-title {
			padding-bottom: 5px;
			font-size: 24px;
		}

		.m-table {
			thead {
				height: 36px;
				line-height: 36px;

				.text {
					padding: 10px 0;
					display: inline-block;
				}
			}

			tbody td {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}

		.purchase-info {
			padding: 15px 0;

			.coupon-selection > * {
				margin: 0 3px;
			}

			.m-lab {
				margin-left: 10px;
			}

			.btn-link {
				padding: 0 20px;
				height: 30px;
				line-height: 30px;
			}
		}

		.btn-wrap .btn-link {
			margin-left: 25px;
			min-width: 240px;
			height: 50px;
			line-height: 50px;
		}
	}

	.m-cut-ft .ft-title {
		margin-bottom: 15px;
	}

	.counter {
		@include justify-content(center);
	}

	.recommended-list {
		width: calc(100% + 20px);
		font-size: 0;
		line-height: 0;

		.owl-item {
			margin: 0 20px 0 0;
		}

		.list {
			margin: 0 auto;
		}

		.img-wrap {
			width: 100%;
		}

		.counter .m-box-holder {
			width: calc(100% - 72px);
		}

		.m-owl-ctrl {
			margin-bottom: 15px;
			bottom: 100%;
			text-align: right;
		}
	}
}

@include respond(HD) {
	.m-cut {
		width: 1300px;
	}

	.m-cut-bd .sheet {
		padding: 25px 75px;
	}

	.recommended-list {
		width: 1333px;

		.owl-item {
			margin: 0 33px 0 0;
		}
	}
}

@include respond(Tablets) {
	.m-cut-bd {
		margin-bottom: 20px;

		.m-table {
			tr td {
				padding: 20px 10px;
			}

			.img-wrap {
				margin-bottom: 15px;
			}

			.item-info {
				@include flex-direction(column);
			}
		}

		.btn-wrap .btn-link {
			margin-left: 15px;
			width: 160px;
		}
	}
}

@include respond(Tablets-Mobiles) {
	.m-cut {
		margin-bottom: 36px !important;
	}

	.m-cut-bd {
		.sheet {
			padding: 10px 20px;
		}

		.m-table .btn-delete {
			min-width: 40px;
			height: 40px;
			line-height: 40px;
		}

		.btn-wrap .btn-link {
			height: 40px;
			line-height: 40px;
		}
	}

	.recommended-list {
		.img-wrap {
			height: 240px;
			@include flex-direction(column);

			img {
				width: auto;
				max-width: 100%;
			}
		}

		.item-info {
			padding: 0 15px 25px 15px;

			.main-info > * {
				display: block;
			}
		}

		.btn-read-more {
			margin: 0 auto 25px auto;
		}
	}
}

@include respond(Mobiles) {
	.m-cut-hd {
		padding: 12px 0;
	}

	.main-title {
		font-size: 24px;
	}

	.m-cut-bd {
		margin-bottom: 40px;

		.member-info {
			margin-bottom: 20px;
			padding: 5px 0;
		}

		.coupon-info {
			display: block;
		}

		.sheet .info-title {
			margin-top: 10px;
			padding-bottom: 5px;
			font-size: 18px;

			.sub-desc {
				font-size: 13px;
				line-height: 1.5em;
			}
		}

		.m-table {
			tr:last-child {
				border-bottom: 0;
			}

			.item-info {
				@include align-items(flex-start);
				@include flex-direction(column);
			}

			.img-wrap {
				margin-bottom: 10px;
			}

			.counter .m-inputbox {
				padding: 0 10px;
			}
		}

		.purchase-info {
			padding: 10px 0;

			.coupon-selection, .m-lab {
				.text {
					padding: 5px 0;
					display: inline-block;
				}
			}

			.coupon-selection ~ .highlight {
				margin-top: 10px;
			}

			.btn-confirm {
				margin-top: 5px;
				display: block;
				width: 100%;
				height: 30px;
				line-height: 30px;
			}

			> .m-lab {
				&:not(:last-child) {
					margin-bottom: 10px;
				}

				&.jQ-checkbox {
					@include display-flex;
					@include align-items(center);
				}
			}
		}

		.btn-wrap {
			@include display-flex;

			> *:not(:first-child) {
				margin-left: 10px;
			}
		}
	}

	.m-box-holder {
		.m-selection, .m-inputbox {
			width: 100%;
			@include box-sizing(border-box);
		}
	}

	.counter {
		@include align-items(center);
		@include justify-content(flex-start);

		.m-inputbox {
			vertical-align: top;
		}
	}

	.m-cut-ft .ft-title {
		margin-bottom: 10px;
	}

	.recommended-list {
		margin: 0 auto;
		width: calc(100% - 80px);

		.list {
			margin: 0 10px;
			@include display-flex;
			@include align-items(stretch);
			@include align-content(stretch);
			@include justify-content(space-between);
			@include flex-direction(column);
		}

		.owl-stage-outer {
			overflow: visible;
		}

		.owl-item {
			@include transition(ease-in all 0.3s);

			&:not(.active) {
				@include transform(scale(0.95));
			}
		}

		.img-wrap img {
			min-width: 100%;
		}

		.counter .m-box-holder {
			width: calc(100% - 72px);
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {
	.recommended-list .btn-read-more {
		margin-right: 32px;
		margin-left: 32px;
	}
}

@include browsers('Safari') {
	.recommended-list {
		.list {
			position: relative;
		}

		.recommended-link {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		.btn-read-more {
			margin-right: 32px;
			margin-left: 32px;
		}
	}
}