$color-btn-main : $color-text-major;
$color-btn-sub : #4489ca;
$color-btn-cancel : $color-gray-l-p10;

.m-cut {
	margin: 0 auto;
}

.main-title, .m-cut-ft .ft-title {
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.5em;
}

.m-cut-bd {
	.member-name {
		display: block;
		font-size: 15px;
		font-weight: bold;
	}

	.coupon-info {
		display: inline-block;
		font-size: 13px;
	}

	.number {
		color: $color-btn-main;
	}

	.sheet {
		background: $color-white;
		border: 1px solid $color-gray-l-p30;

		> * {
			border-bottom: 1px solid $color-gray-l-p30;
		}

		.info-title {
			font-weight: bold;
			letter-spacing: 1px;
			line-height: 1.5em;
		}
	}

	.m-table {
		width: 100%;

		thead {
			td {
				text-align: center;
			}

			.text {
				font-size: 14px;
				font-weight: bold;
			}
		}

		tbody td {
			text-align: center;
		}

		tr {
			border-bottom: 1px solid $color-gray-l-p30;
		}

		.item-info {
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);

			.item-name {
				text-align: left;
			}
		}

		.img-wrap {
			display: inline-block;
			border: 1px solid $color-gray-l-p30;
		}

		.note {
			display: block;
			color: $color-btn-main;
			font-size: 12px;
			line-height: 2em;
			text-align: left;

			.m-icon {
				margin-right: 5px;
				font-size: 16px;
			}
		}

		.m-lab {
			display: block;
			line-height: 32px;
			white-space: nowrap;
		}

		.counter .m-box-holder {
			width: 50px;
		}

		.btn-delete {
			font-size: 15px;
		}
	}

	.btn-wrap {
		font-size: 0;
		line-height: 0;

		.btn-link {
			height: 50px;
			font-size: 14px;
			line-height: 50px;
		}
	}
}

.counter {
	@include display-flex;
	@include justify-content(center);

	> * {
		height: 36px;
		border: 1px solid $color-gray-d-p30;
		color: $color-gray-d-p30;
		line-height: 34px;
	}

	.btn-count {
		width: 36px;
		font-size: 14px;
		@include transition(ease-in all 0.3s);
	}

	.m-box-holder {
		border-right: 0;
		border-left: 0;
	}

	.m-inputbox {
		width: 100%;
		height: 34px;
		line-height: 34px;
		text-align: center;
		@include box-sizing(border-box);
	}
}

.recommended-list {
	.owl-stage {
		@include display-flex;
		@include align-items(stretch);

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
		}
	}

	.list {
		background: $color-white;
		width: 100%;
		position: relative;
		@include box-sizing(border-box);
	}

	.recommended-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(flex-end);
		@include flex-direction(column);
	}

	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	.item-info {
		background: $color-white;
		position: relative;
		color: $color-gray-d-p30;
		@include box-sizing(border-box);
		@include flex-grow(1);

		.info-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			position: relative;
			font-size: 20px;
			letter-spacing: 1px;
			line-height: 1.5em;

			&:after {
				content: '';
				background: $color-gray-d-p30;
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				@include transition(ease-in all 0.3s);
			}
		}

		.b-desc {
			font-size: 14px;
		}

		> * {
			display: block;
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.main-info, .bargain-price {
			font-size: 20px;
		}

		.main-info {
			overflow: hidden;
			color: $color-text-major;
		}

		.price {
			font-size: 14px;
			text-decoration: line-through;
		}
	}

	.btn-read-more {
		display: block;
		border-color: $color-gray-d-p30;
		overflow: hidden;
		color: $color-gray-d-p30;
		font-size: 0;
		text-indent: 200%;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.btn-like {
		position: absolute;
		top: 0;
		right: 0;
		color: $color-gray-d-p20;
		font-size: 20px;

		&.is-add .m-icon:after {
			opacity: 1;
		}

		.m-icon {
			width: 100%;
			height: 100%;

			&:before, &:after {
				position: absolute;
				top: 0;
				right: 0;
			}

			&:after {
				content: '\e905';
				opacity: 0;
				color: $color-text-major;
				@include transition(ease-in opacity 0.3s);
			}
		}
	}

	&.jQ-owl .m-owl-ctrl {
		position: absolute;
		right: 32px;
		opacity: 1;
		cursor: pointer;
		pointer-events: auto;

		&:after {
			display: none;
		}

		.owl-prev {
			left: 0 !important;
		}

		.owl-next {
			right: 0 !important;
		}

		> * {
			margin-top: 0;
			background: none;
			display: inline-block;
			width: 40px;
			height: 40px;
			position: relative;
			border: 0;

			&:hover:before {
				border-top-color: $color-black;
				border-right-color: $color-black;
			}

			&:before {
				margin-top: -8px;
				width: 16px;
				height: 16px;
				border-top: 4px solid $color-gray-l-p30;
				border-right: 4px solid $color-gray-l-p30;
				@include transition(ease-in all 0.3s);
			}
		}
	}
}

.btn-link {
	display: inline-block;
	color: $color-white;
	text-align: center;

	&.btn-main {
		background: $color-btn-main;
	}

	&.btn-sub {
		background: $color-btn-sub;
	}

	&.btn-cancel {
		background: $color-btn-cancel;
	}
}

@include respond(Desktops) {
	.m-cut {
		margin-bottom: 70px;
	}

	.m-cut-bd {
		.sheet {
			padding: 10px 75px;
		}

		.m-table {
			thead .text {
				white-space: nowrap;
			}

			tr td {
				padding: 0 16px;
			}

			.img-wrap {
				margin-right: 18px;
			}

			.note > * {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.btn-wrap .btn-link {
			margin-left: 25px;
			width: 264px;
		}
	}

	.btn-count:hover {
		background: $color-text-major;
		border-color: $color-text-major;
		color: $color-white;
	}

	.recommended-list {
		.list {
			padding-top: 21px;
		}

		.recommended-link {
			padding: 0 32px;
		}

		.img-wrap {
			height: 272px;

			img {
				width: auto;
			}
		}

		.item-info {
			padding-bottom: 10px;
		}

		.btn-read-more {
			margin-bottom: 20px !important;

			&:hover {
				border-color: $color-text-major;
			}

			&:after {
				content: '\e909  加入購物車';
				background: $color-text-major;
				color: $color-white;
				font-family: 'feds-font', '微軟正黑體';
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-cut-hd {
		padding: 24px 0;
	}

	.main-title {
		font-size: 32px;
	}

	.m-cut-bd {
		margin-bottom: 45px;

		.sheet {
			margin-bottom: 20px;

			.info-title {
				margin-bottom: 5px;
				font-size: 22px;
			}
		}

		.m-table {
			thead {
				height: 36px;
				line-height: 36px;
			}

			tbody td {
				padding-top: 30px;
				padding-bottom: 30px;
			}

			.item-info {
				margin-bottom: 12px;
			}
		}
	}

	.m-cut-ft .ft-title {
		margin-bottom: 15px;
		font-size: 28px;
	}

	.recommended-list {
		font-size: 0;
		line-height: 0;

		.owl-item {
			margin: 0 10px;
			width: calc((100% - 60px) / 4);
		}

		.list {
			margin: 0 auto;
			border: 1px solid $color-gray-l-p30;
		}

		.img-wrap {
			width: 100%;
		}

		.counter, .btn-read-more {
			margin: 0 auto;
			width: 162px;
		}

		.counter {
			margin-bottom: 10px;

			.m-box-holder {
				width: calc(100% - 72px);
			}
		}

		.btn-like {
			width: 20px;
			height: 20px;
			top: 25px;
			right: 25px;
		}

		.m-owl-ctrl {
			margin-bottom: 15px;
			bottom: 100%;
			text-align: right;
		}
	}
}

@include respond(HD) {
	.m-cut {
		width: 1300px;
	}

	.recommended-list {
		width: 1333px;

		.owl-item {
			margin: 0 33px 0 0;
		}
	}
}

@include respond(Tablets) {
	.m-cut-bd {
		.sheet {
			padding: 10px 20px;
		}

		.m-table {
			tr td {
				padding: 20px 10px;
			}

			.item-info {
				@include flex-direction(column);
			}
		}

		.btn-wrap .btn-link {
			margin-left: 15px;
			width: 160px;
		}
	}
}

@include respond(Tablets-Mobiles) {
	.m-cut {
		margin-bottom: 36px !important;
	}

	.recommended-list {
		padding-top: 20px;

		.img-wrap {
			height: 240px;
			@include flex-direction(column);

			img {
				width: auto;
				max-width: 100%;
			}
		}

		.item-info {
			padding: 0 15px 25px 15px;

			.main-info > * {
				display: block;
			}
		}

		.btn-read-more {
			margin: 0 auto 25px auto;
		}
	}
}

@include respond(Mobiles) {
	.recommended-list {
		.owl-item {
			@include transition(ease-in all 0.3s);

			&:not(.active) {
				@include transform(scale(0.95));
			}
		}

		.btn-like {
			width: 40px;
			height: 40px;
		}
	}

	.recommended-list {
		.owl-item:not(.active) .btn-like {
			opacity: 0;
		}

		.m-icon {
			line-height: 40px;

			&:before, &:after {
				margin-right: -10px;
				right: 50% !important;
			}
		}
	}
}

@include devices(iphone) {
	.recommended-list .btn-read-more {
		margin: 0 15px 25px 15px;
	}
}

@include respond(Iphone5) {
	/*.recommended-cut {
		width: 232px;

		.list {
			width: 212px;
		}
	}*/
}

@include browsers('IE') {
	.recommended-list .btn-read-more {
		margin-right: 32px;
		margin-left: 32px;
	}
}

@include browsers('Safari') {
	.recommended-list {
		.list {
			position: relative;
		}

		.recommended-link {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		.btn-read-more {
			margin-right: 32px;
			margin-left: 32px;
		}
	}
}