$color-btn-main : $color-text-major;
$color-btn-sub : #4489ca;
$color-btn-cancel : $color-gray-l-p10;

body {
	overflow-x: hidden;
}

.kv-owl .item {
	width: 100%;
	overflow: hidden;

	img {
		width      : 50%;
		min-width  : inherit;
		/*min-height : inherit;*/
	}
}

.jQ-video {
	position: relative;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		cursor: pointer;
	}
}

.l-side {
	.function-list {
		margin-top: 20px;
		width: 50px;
		position: relative;
		text-align: center;

		.list {
			padding: 10px 0;
			width: 100%;
		}

		.btn-func {
			margin: 0 auto;

			&.show-func ~ .popup-function {
				opacity: 1;
			}
		}
	
		.m-icon {
			color: $color-black;
			font-size: 28px;
			@include transition(ease-in all 0.5s);
		}
	}

	.collapse-wrap {
		width: 100%;
		min-height: 50px;
		max-height: 0;
		opacity: 0;
		@include transition(ease-in all 0.3s);
	}

	.pagination {
		.cut-dot {
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
			height: 100%;
		}

		.list:hover,.list.is-curr {
			.btn-dot:before {
				background: $color-gray-l-p40;
			}
		}

		.btn-dot {
			display: block;
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 50%;
				border: 1px solid $color-gray-l-p40;
				@include box-sizing(border-box);
				@include transition(ease-in all 0.5s);
			}
		}
	}

	.btn-side-menu {
		margin-left: -22px;
		background: $color-text-major;
		display: block;
		width: 44px;
		height: 44px;
		position: absolute;
		bottom: 3px;
		left: 50%;
		border-radius: 50%;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
		z-index: 1;
		text-align: center;
		@include transition(ease-in all 0.3s);

		&:before, &:after {
			content: '';
			margin: -1px 0 0 -7px;
			background: $color-white;
			display: block;
			width: 14px;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 0;
		}

		&:after {
			@include transform(rotate(90deg));
		}

		&.is-active {
			box-shadow: none;
			@include transform(rotate(45deg));

			~ .collapse-wrap {
				padding: 25px 0 50px 0;
				background: $color-white;
				max-height: 100vh;
				border-radius: 25px;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
				opacity: 1;
			}
		}
	}

	.btn-top {
		background: $color-gray-d-p10;
		border-radius: 50%;
		pointer-events: none;
		color: $color-white;
	}

	.popup-function {
		background: $color-white;
		max-height: 0;
		border-radius: 4px;
		box-sizing: border-box;
		box-shadow: 0 2px 16px rgba($color-black, 0.35);
		opacity: 0;
		overflow: hidden;
		line-height: 0;
		@include transition(ease-in all 0.3s);

		.function-wrap {
			padding: 12px 24px;
			height: 100%;
			position: relative;
			box-sizing: border-box;

			> *:not(:first-child):not(.btn-close) {
				margin-top: 10px;
			}
		}
		
		.function-title {
			position: relative;
			color: $color-gray-d-p30;
			font-size: 16px;
			line-height: 1.5em;

			&:after {
				content: '';
				background: $color-gray-d-p40;
				display: block;
				width: 25px;
				height: 4px;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

		.img-wrap img {
			width: 100%;
		}

		.link-list .item-list {
			border-bottom: 1px solid $color-gray-l-p40;

			.b-link {
				padding: 10px 0;
				color: $color-gray-d-p30;
				@include transition(ease-in all 0.3s);

				&:hover {
					color: $color-text-major;
				}

				.text {
					font-size: 14px;
					line-height: 1.5em;
				}
			}
		}

		.btn-link {
			border: 1px solid $color-gray-d-p40;
			color: $color-gray-d-p30;
			font-size: 14px;
			@include transition(ease-in all 0.3s);

			&:hover {
				background: $color-text-major;
				border-color: $color-text-major;
				color: $color-white;
			}
		}

		.store-img.img-wrap {
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			height: 150px;
			overflow: hidden;
		}

		.info-wrap {
			font-size: 15px;
			line-height: 1.5em;

			.b-link {
				color: $color-black;
			}
		}

		.parking-info {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px solid $color-gray;
			font-size: 0;
			line-height: 0;

			.parking-count {
				padding-left: 27px;
				min-height: 36px;
				position: relative;
				line-height: 36px;
			}

			.m-icon {
				margin-top: -18px;
				position: absolute;
				top: 50%;
				left: 0;
				color: #004ca1;
				font-size: 24px;
				line-height: 1.5em;
			}

			.text {
				font-size: 12px;
				line-height: 1.5em;
				text-align: left;
			}
		}

		.reaction-list {
			border-radius: 0 0 4px 4px;
			overflow: hidden;
			font-size: 0;
			line-height: 0;

			.b-link {
				padding: 10px 0;
				background: #004ca1;
				@include transition(ease-in all 0.3s);

				&:hover {
					background: darken(#004ca1, 10%);
				}
			}

			.b-link, .m-icon {
				color: $color-white;
			}

			.m-icon {
				margin: 0 5px;
				font-size: 16px;
				line-height: 1.5em;
			}

			.text {
				font-size: 12px;
				line-height: 1.5em;
			}
		}

		.code-list {
			margin-bottom: 18px;

			.item-list {
				padding: 24px 0;
				border-bottom: 1px solid $color-gray-l-p30;
				font-size: 0;
				line-height: 0;

				&.qrcode .img-wrap {
					width: 124px;
				}
			}

			.function-title {
				font-size: 14px;
			}

			.code-info > *:not(:first-child) {
				margin-top: 10px;
			}

			.text {
				color: $color-black;
				font-size: 12px;
				line-height: 1.5em;
			}

			.b-link {
				color: #0068b7;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.hint-text {
			color: #0068b7;
			font-size: 12px;
			line-height: 1.5em;
		}

		.btn-close {
			display: block;
			width: 32px;
			height: 32px;
			position: absolute;
			top: 9px;
			right: 9px;
			border-radius: 50%;
			@include transition(ease-in all 0.3s);

			&:hover {
				background: darken($color-white, 10%);
			}

			&:before, &:after {
				content: '';
				margin-left: -9px;
				background: $color-gray-d-p30;
				display: block;
				width: 18px;
				height: 1px;
				position: absolute;
				top: 50%;
				left: 50%;
			}

			&:before {
				@include transform(rotate(45deg));
			}

			&:after {
				@include transform(rotate(-45deg));
			}
		}
	}

	.customer-service {
		.function-wrap {
			padding: 0;
			border-radius: 4px;
			overflow: hidden;

			> *:not(:first-child) {
				margin-top: 0;
			}
		}

		.function-hd {
			background: #00419a;
			height: 50px;
			position: relative;
			line-height: 50px;

			.function-title {
				padding-left: 24px;

				&:after {
					display: none;
				}

				> * {
					color: $color-white;
				}

				.m-icon {
					font-size: 20px;
				}

				.text {
					font-size: 14px;
				}
			}
		}

		.btn-close {
			&:hover {
				background: darken(#00419a, 10%);
			}

			&:before, &:after {
				background: $color-white;
			}
		}

		.function-bd {
			overflow-y: auto;

			.chat-wrap {
				padding: 0 20px 15px 20px;

				> * {
					margin-top: 15px;
					overflow: hidden;
				}
			}

			.chat-time {
				margin-right: auto;
				margin-left: auto;
				width: 100px;
				height: 24px;
				border: 1px solid $color-gray-l-p40;
				border-radius: 12px;
				box-sizing: border-box;
				color: #448aca;
				font-size: 12px;
				letter-spacing: 1px;
				line-height: 22px;
			}

			.msg-wrap {
				&.robot .msg-wording:before {
					right: 100%;
					border-right: 7px solid $color-gray-l-p40;
				}

				&.user .msg-wording:before {
					left: 100%;
					border-left: 7px solid $color-gray-l-p40;
				}

				.head-img-wrap {
					background: $color-gray-l-p40;
					width: 44px;
					height: 44px;
					border: 1px solid $color-gray-l-p30;
					border-radius: 50%;
					box-sizing: border-box;
					overflow: hidden;
				}

				.msg-wording {
					margin: 5px 15px 0 15px;
					padding: 8px;
					background: $color-gray-l-p40;
					max-width: 60%;
					position: relative;
					border-radius: 3px;
					color: $color-gray-d-p30;
					font-size: 12px;
					line-height: 1.5em;

					&:before {
						content: '';
						display: block;
						width: 0;
						height: 0;
						position: absolute;
						top: 12px;
						border-top: 4px solid transparent;
						border-bottom: 4px solid transparent;
					}
				}
			}
		}

		.function-ft {
			.m-box-holder {
				padding: 18px 20px;
				background: #f0f2f5;
				@include display-flex;
				border: 0;
				font-size: 14px;

				> * {
					height: 36px;
					border-radius: 4px;
				}

				.m-inputbox {
					@include flex-grow(1);
					width: auto;
					border: 1px solid $color-gray-l-p40;
					box-sizing: border-box;
					color: $color-gray-d-p30;
					line-height: 34px;
				}

				.btn-send {
					padding: 0 10px;
					margin-left: 10px;
					background: $color-text-major;
					color: $color-white;
					@include transition(ease-in all 0.3s);

					&:hover {
						background: darken($color-text-major, 10%);
					}
				}
			}

			.link-wrap {
				height: 30px;
			}

			.b-link {
				margin-right: 20px;
				color: #00419a;
				font-size: 12px;
				line-height: 2.5em;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.arrow-prev, .arrow-next {
	position: relative;

	&:before {
		content: '';
		margin-top: -5px;
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		top: 50%;
		border-top: 2px solid $color-major;
		border-left: 2px solid $color-major;
		@include box-sizing(border-box);
	}
}

.arrow-prev:before {
	margin-left: 3px;
	left: 0;
	@include transform(rotate(-45deg));
}

.arrow-next:before {
	margin-right: 3px;
	right: 0;
	@include transform(rotate(135deg));
}

.btn-read-more {
	position: relative;
	border: 1px solid;

	&:before, &:after {
		padding: 0 12px;
		display: block;
		height: 36px;
		font-size: 14px;
		line-height: 34px;
		text-align: center;
		text-indent: 0;
		@include box-sizing(border-box);
		@include transition(ease-in all 0.3s);
	}

	&:before {
		content: attr(data-default);
		@include transform-origin(top, left);
	}

	&:after {
		content: attr(data-lang);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
	}

	&:hover {
		&:before {
			opacity: 0;
		}

		&:after {
			opacity: 1;
		}
	}
}

.l-body:not(.index) .shopping-list .btn-read-more {
	padding: 0 12px;
	display: block;
	min-width: 144px;
	height: 36px;
	border: 1px solid;
	text-align: center;
	text-indent: 0;
	@include box-sizing(border-box);
	@include transition(ease-in all 0.3s);

	&:before, &:after {
		display: none;
	}

	> * {
		display: inline-block;
		vertical-align: middle;
		line-height: 34px;

		&:first-child:not(:only-child) {
			margin-right: 10px;
		}
	}

	.m-icon {
		font-size: 15px;
	}

	.text {
		font-size: 12px;
		letter-spacing: 1px;

		&:before {
			content: attr(data-default);
		}

		&:after {
			content: attr(data-lang);
			display: none;
		}
	}
}

.main-content .activity-list .img-wrap {
	margin-left : 0 !important;
	width       : 100% !important;
	left        : 0 !important;

	img {
		min-width  : auto !important;
		min-height : auto !important;
		max-height : 100%;
		position   : absolute;
		bottom     : 0;
		left       : 50%;
		@include transform(translateX(-50%));
	}
}

[data-elem=".jQ-video"] {
	position: relative;
}

.btn-mute {
	width: 44px;
	height: 44px;
	position: absolute;
	bottom: 30px;
	left: 30px;
	cursor: pointer;
	z-index: 1;
	color: $color-white;
	font-size: 32px;
	font-family: 'feds-font';
	text-align: center;
	line-height: 44px;

	&:before, &:after {
		position: absolute;
		top: 0;
		left: 0;
	}

	&:before {
		content: '\e925';
		opacity: 1;
	}

	&:after {
		content: '\e924';
		opacity: 0;
	}

	&.is-mute {
		&:before {
			opacity: 0;
		}

		&:after {
			opacity: 1;
		}
	}
}

.cut-title {
	margin: 0 auto;
	display: table;
	position: relative;
	color: $color-gray-d-p30;
	letter-spacing: 2px;
	text-align: center;

	> * {
		display: table-row;
	}

	&:before, &:after {
		content: '';
		background: $color-text-major;
		display: inline-block;
		position: absolute;
		@include transform(rotate(-37.5deg));
	}

	&:before {
		top: 0;
		@include transform-origin(right, bottom);
	}

	&:after {
		bottom: 0;
		@include transform-origin(left, top);
	}

	.highlight {
		font-weight: bold;
	}
}

.btn-more {
	margin: 0 auto;
	background: $color-white;
	display: block;
	height: 36px;
	color: $color-gray-d-p30;
	font-size: 14px;
	line-height: 36px;
	letter-spacing: 1px;
	text-align: center;
	@include transition(ease-in all 0.3s);
}

.btn-link {
	&.btn-main {
		background: $color-btn-main;

		&:hover {
			background: darken($color-btn-main , 10%);
		}
	}

	&.btn-sub {
		background: $color-btn-sub;

		&:hover {
			background: darken($color-btn-sub , 10%);
		}
	}

	&.btn-cancel {
		background: $color-btn-cancel;

		&:hover {
			background: darken($color-btn-cancel , 10%);
		}
	}

	&[disabled], &[disabled]:hover {
		background: $color-btn-cancel !important;
	}
}

@include keyframes(pause-fadeout) {
	0% {
		opacity: 1;
		@include transform(rotate(90deg));
	}

	to {
		opacity: 0;
		@include transform(rotate(90deg) scale(2));
	}
}

@include respond(Desktops) {
	.l-body {
		&.is-padding-arrow .jQ-owl.is-padding {
			.owl-prev {
				left: 64px;
			}

			.owl-next {
				right: 64px;
			}
		}

		&:not(.index) .shopping-list .btn-read-more:hover .text {
			&:before {
				display: none;
			}

			&:after {
				display: inline;
			}
		}
	}

	.kv-owl .item {
		height: 44.5vw;

		.img-wrap {
			margin-left: -50vw;
			width: 200vw;
			height: 44.5vw;
			text-align: center;
		}
	}

	.jQ-video {
		height: 100%;

		&.is-pause:before {
			@include animation(pause-fadeout 0.5s linear forwards);
		}

		&:before {
			content: '=';
			margin: -26px 0 0 -26px;
			background: rgba(0, 0, 0, 0.5);
			display: block;
			width: 52px;
			height: 52px;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			opacity: 0;
			z-index: 1;
			color: $color-white;
			font-size: 40px;
			font-weight: bold;
			line-height: 52px;
			text-align: center;
			@include transform(rotate(90deg));
		}
	}

	.cut-title {
		margin-bottom: 30px;
		padding: 36px 0;

		&:before, &:after {
			width: 76px;
			height: 4px;
		}

		&:before {
			left: -48px;
		}

		&:after {
			right: -48px;
		}

		.main-lang {
			font-size: 50px;
			line-height: 1.5em;
		}

		.sub-lang {
			font-size: 18px;
			line-height: 1em;
		}
	}

	.btn-more {
		width: 420px;

		&:hover {
			background: $color-text-major;
			color: $color-white;
		}
	}
}

@include respond(Desktops-Tablets) {
	.l-body.scale-125 .l-side {
		.function-list {
			margin-top: 10px;
			width: 40px;

			.list {
				padding: 0;
			}

			.m-icon {
				font-size: 20px;
			}
		}

		.btn-side-menu {
			margin-left: -17px;
			width: 34px;
			height: 34px;

			&.is-active ~ .collapse-wrap {
				padding: 20px 0 45px 0;
			}
		}

		.btn-top {
			width: 34px;
			height: 34px;
			font-size: 12px;
			line-height: 34px;
		}
	}

	.kv-owl {
		img {
			min-height: 100%;
		}

		.m-owl-dots {
			bottom: 10px;
		}
	}

	.l-side {
		.function-list {
			.list {
				@for $i from 1 through 6 {
					&:nth-child(#{$i}) .popup-function:not(.align-bottom):before {
						top: 42px + (48px * ($i - 1));
					}
				}
			}

			.btn-func {
				display: block;
	
				&.show-func ~ .popup-function {
					max-height: 100vh;
					overflow: visible;
				}
	
				&:hover .m-icon {
					color: $color-text-major;
				}
			}
		}

		.btn-top {
			margin-top: 10px;
			width: 46px;
			height: 46px;
			opacity: 0;
			z-index: -1;
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 46px;
			@include transition(ease-in all 0.3s);

			&:hover {
				background: $color-text-major;
			}
		}

		.btn-dot {
			width: 20px;
			height: 20px;
	
			&:before {
				margin: -4px 0 0 -4px;
				width: 8px;
				height: 8px;
			}
		}

		.popup-function {
			margin-right: 20px;
			width: 242px;
			position: absolute;
			right: 100%;

			&:not(.align-bottom) {
				top: 0;
			}

			&.align-bottom {
				bottom: 0;

				&:before {
					bottom: 70px;
				}
			}

			&.wide-size {
				width: 320px;
			}

			&.customer-service {
				width: 350px;
			}

			&:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				right: -8px;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 8px solid $color-white;
			}

			.function-title {
				padding: 10px 0;
				font-size: 18px;

				.m-icon {
					margin-right: 5px;
				}
			}

			.btn-link {
				height: 30px;
				line-height: 28px;
			}
		}

		.customer-service .function-bd {
			height: 40vh;
		}
	}

	.pagination .btn-dot {
		width: 20px;
		height: 20px;

		&:before {
			margin: -4px 0 0 -4px;
			width: 8px;
			height: 8px;
		}
	}

	@media screen and ( max-height : 750px ) {
		.l-side {
			.function-list {
				margin-top: 10px;
				width: 40px;

				.list {
					padding: 0;
				}

				.m-icon {
					font-size: 20px;
				}
			}

			.btn-side-menu {
				margin-left: -17px;
				width: 34px;
				height: 34px;

				&.is-active ~ .collapse-wrap {
					padding: 20px 0 45px 0;
				}
			}

			.btn-top {
				width: 34px;
				height: 34px;
				font-size: 12px;
				line-height: 34px;
			}

			.popup-function {
				&:not(.align-bottom) {
					top: -150px;

					&:before {
						top: 160px;
					}
				}

				&.align-bottom {
					top: auto;
					bottom: -150px;

					&:before {
						top: auto;
						bottom: 160px;
					}
				}
			}
		}
	}
}

@include respond(HD) {}

@include respond(Tablets) {
	.btn-more {
		width: calc((100vw - 60px) / 3);
	}
}

@include respond(Tablets-Mobiles) {
	.kv-owl .item .img-wrap {
		width: 100vw;

		img {
			width: 100%;
		}
	}

	.cut-title {
		margin-bottom: 15px;
		padding: 24px 0;

		&:before, &:after {
			width: 56px;
			height: 3px;
		}

		&:before {
			left: -36px;
		}

		&:after {
			right: -36px;
		}

		.main-lang {
			font-size: 30px;
			line-height: 1.5em;
		}

		.sub-lang {
			font-size: 12px;
			line-height: 1em;
		}
	}
}

@include respond(Mobiles) {
	.kv-owl .m-owl-dots {
		bottom: 0;
	}

	.l-side {
		.function-list {
			margin-bottom: 30px;

			&.hide-menu {
				.collapse-wrap {
					background: none;
					box-shadow: none;
	
					.btn-func {
						opacity: 0;
					}
				}

				.btn-side-menu {
					position: fixed;
					bottom: 14px;
					left: auto;
					right: 14px;
				}
			}

			.btn-func.show-func ~ .popup-function {
				max-height: calc(100vh - 150px);
				overflow-y: scroll;
			}
		}

		.btn-top {
			display: none;
		}

		.popup-function {
			position: fixed;
			top: 71px;
			left: 15px;
			right: 15px;
			overflow-y: scroll;
			z-index: 1;

			.function-title {
				padding: 10px 0;
				font-size: 18px;

				.m-icon {
					margin-right: 5px;
				}
			}

			.btn-link {
				height: 30px;
				line-height: 28px;
			}
		}

		.customer-service .function-wrap {
			padding-bottom: 102px;
			position: relative;

			.function-bd {
				margin-top: 0 !important;
				max-height: calc(100vh - 292px);
			}

			.function-ft {
				margin-top: 0 !important;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}

	.cut-title {
		max-width: 240px;
	}

	.btn-mute {
		display: none;
	}

	.btn-more {
		width: 212px;
	}
}

@include respond(Iphone5) {
	.l-side {
		.function-list {
			margin-bottom: 0;
		}

		.popup-function {
			.parking-info .parking-count {
				display: block !important;
				width: 100% !important;
				text-align: left !important;
			}

			.code-list .qrcode .function-title {
				white-space: nowrap;
			}
		}
	}
}

@include browsers('IE') {
	.btn-like {
		overflow: visible !important;
	}

	.l-side .collapse-wrap {
		line-height: 0;
	}
}

@include browsers('IE9') {
	.l-side {
		.function-list .list {
			@for $i from 1 through 6 {
				&:nth-child(#{$i}) .popup-function:not(.align-bottom):before {
					top: 46px + (56px * ($i - 1));
				}
			}
		}

		.customer-service .function-ft .m-box-holder {
			width: 100%;

			.m-inputbox {
				width: calc(100% - 70px);
			}
		}

		.pagination .btn-dot {
			margin: 0 auto;
		}
	}
}