/* basic */
html , body {
    background : $color-black;
    position   : relative;
}

/* layout */
.l-main {
    width  : 100%;
}

.l-content {
    width  : 100%;
}

.contact {
    width      : 100%;
    min-height : 100vh;
    background : image-url('home/contact/bg.jpg') no-repeat fixed center center;
    position   : relative;
    @include clearfix;
    @include box-sizing(border-box);
}

.contact-frame {
    margin-right : auto;
    margin-left  : auto;
    width        : 100%;
    @include box-sizing(border-box);
}

.contact-county {
    padding-left : 20px;
    position     : relative;

    > * {
        font-size : 15px;
    }

    &:before {
        content    : "";
        top        : 50%;
        left       : 1px;
        margin-top : -3px;
        width      : 8px;
        height     : 8px;
        background : $color-white;
        position   : absolute;
        @include clearfix;
        @include display(block);
        @include border-radius(50%);
        @include box-shadow(rgba($color-white , .75) 0 0 10px);
    }
}

.contact-items {
    max-height  : 0;
    line-height : 1.8;
    position    : relative;
    z-index     : 1;
    @include clearfix;
    @include box-sizing(border-box);
    @include transition(max-height $transition-times);

    &.is-active {
        max-height : 300px;
    }

    > ul {
        border-top : 1px solid rgba($color-white , .7);
        background : rgba($color-black , .85);
        @include box-sizing(border-box);
    }
}

.contact-info {
    padding : 5px 10px;
    border  : 1px solid rgba($color-white , .3);
    @include border-radius(3px);
}

.contact-close {
    position : absolute;

    > .m-icon {
        @include display(block);
    }
}

#stars {
    position : absolute;
    top      : 50%;
    left     : 50%;
    z-index  : 3;
}

.star-head {
    background    : rgba(255, 255, 255, 0.6);
    position      : relative;
    width         : 5px; 
    height        : 5px;
    border-radius : 50%;
}

.star-trail {
    position    : relative;
    width       : 185px;
    height      : 5px;
    margin-top  : -73px;
    margin-left : -22px;
    @include rotate(-45deg);
    @include background-image(linear-gradient(310deg , rgba(0 , 0 , 0 , 0) , rgba(255 , 255 , 255 , 0.3)));
}

.star {
    position : absolute;
    @include opacity(0);

    &:first-child {
        margin-top  : -350px;
        margin-left : -400px;
        @include animation(shoot 3s .2s linear infinite);
    }

    &:nth-child(2) {
        margin-top  : -10px;
        margin-left : 60px;
        @include animation(shoot 4s .4s linear infinite);
    }

    &:nth-child(3) {
        margin-top  : 70px;
        margin-left : 50px;
        @include animation(shoot 4s .2s linear infinite);
    }

    &:nth-child(4) {
        margin-top  : 70px;
        margin-left : -390px;
        @include animation(shoot 3s .2s linear infinite);
    }

    &:nth-child(5) {
        margin-top  : -160px;
        margin-left : 280px;
        @include animation(shoot 2s .4s linear infinite);
    }

    &:nth-child(6) {
        margin-top  : 60px;
        margin-left : 280px;
        @include animation(shoot 4s .6s linear infinite);
    }

    &:nth-child(7) {
        margin-top  : 420px;
        margin-left : 480px;
        @include animation(shoot 3s .6s linear infinite);
    }

    &:nth-child(8) {
        margin-top  : 40px;
        margin-left : -200px;
        @include animation(shoot 2s .4s linear infinite);
    }

    &:nth-child(9) {
        margin-top  : 140px;
        margin-left : 460px;
        @include animation(shoot 4s .6s linear infinite);
    }

    &:nth-child(10) {
        margin-top  : 30px;
        margin-left : 210px;
        @include animation(shoot 3s .6s linear infinite);
    }
}

@include keyframes(shoot) {
    0% {
        @include opacity(1);
        @include transform(translate(600px , -600px));
    }
    5% {
        @include opacity(1);
        @include transform(translate(600px , -600px));
    }
    100% {
        @include opacity(1);
        @include transform(translate(-600px , 600px));
    }
}

@include respond-to(Desktops) {
    .contact {
        background-size : 100% auto;
    }

    @include screen('4/3') {
        .contact {
            background-size : auto 100%;
        }
    }

    .contact-frame {
        top         : 50%;
        left        : 50%;
        margin-top  : -180px;
        margin-left : -($main-min-width / 2);
        height      : 500px;
        max-width   : $main-min-width;
        background  : image-url('home/contact/map.png') no-repeat center center;
        position    : absolute;
    }

    .contact-list {
        top      : 50%;
        left     : 50%;
        position : absolute;

        &.is-taipei {
            margin-top  : -5px;
            margin-left : -46px;
        }

        &.is-beijing {
            margin-top  : -55px;
            margin-left : -89px;
        }

        &.is-paloalto {
            margin-top  : -115px;
            margin-left : 240px;
        }

        &:nth-child {
            .contact-county {
                @include animation-delay(0s);
            }
        }

        &:nth-child(2) {
            .contact-county {
                @include animation-delay(0.25s);
            }
        }

        &:nth-child(3) {
            .contact-county {
                @include animation-delay(.5s);
            }
        }
    }

    .contact-county {
        @include opacity(1);
        @include animation(shine 1s linear infinite);

        &.is-active {
            @include animation(stop 1s linear 1);
        }
    }

    .contact-items {
        font-size  : 15px;
        width      : 530px;
        position   : absolute;

        &.is-active-md {
            max-height : 300px;
        }

        &.is-center {
            left        : 50%;
            margin-left : -245px;
        }

        &.is-left {
            left : 0;
        }

        &.is-right {
            right : 0;
        }

        > ul {
            margin-top : 5px;
            padding    : 45px 30px;

            > li {
                margin-top : 15px;

                &:first-child {
                    margin-top : 0;
                }
            }
        }
    }

    .contact-close {
        top   : 20px;
        right : 20px;

        .m-icon {
            font-size : 20px;
        }
    }

    .contact-button {
        margin-left : 10px;

        > .m-icon {
            font-size : 20px;
        }
    }

    @include keyframes(shine) {
        0% {
            @include opacity(1);
        }
        25% {
            @include opacity(.3);
        }
        50% {
            @include opacity(1);
        }
    }

    @include keyframes(stop) {
        0% , 100% {
            @include opacity(1);
        }
    }
}

@include respond-to(Desktops-Tablets) {}

@include respond-to(Tablets) {
    .contact {
        background-size : auto 100%;
    }

    .contact-frame {
        height   : 100%;
        position : relative;
    }

    .contact-list {
        position : relative;
    }

    .contact-items {
        position : relative;
    }
}

@include respond-to(Tablets-Mobiles) {
    .contact-frame {
        padding : 150px 50px 100px 50px;
    }

    .contact-list {
        margin-top : 50px;

        &:first-child {
            margin-top : 0;
        }
    }

    .contact-items {
        font-size  : 15px;

        &.is-active-sm {
            max-height : 300px;
        }

        > ul {
            margin-top : 50px;
            padding    : 50px;

            > li {
                margin-top : 10px;

                &:first-child {
                    margin-top : 0;
                }
            }
        }
    }

    .contact-button {
        margin-left : 8px;

        > .m-icon {
            font-size : 18px;
        }
    }
}

@include respond-to(Mobiles) {
    .contact-frame {
        padding : 100px 25px 60px 25px;
    }

    .contact-list {
        margin-top : 25px;

        &:first-child {
            margin-top : 0;
        }
    }

    .contact-items {
        font-size  : 13px;

        &.is-active-xs {
            max-height : 300px;
        }

        > ul {
            margin-top : 25px;
            padding    : 25px;

            > li {
                margin-top : 10px;

                &:first-child {
                    margin-top : 0;
                }
            }
        }
    }

    .contact-button {
        margin-left : 5px;

        > .m-icon {
            font-size : 16px;
        }
    }
}