.main-tab {
	.m-tab-wrap {
		border-bottom: 14px solid #ff6a5b;
	}

	.btn-tab {
		background: $color-gray-d-p30;
		width: 100%;
		position: relative;
		color: $color-white;
		font-weight: bold;

		&:after {
			content: '';
			margin-left: -22px;
			background: none;
			display: block;
			width: 44px;
			height: 3px;
			position: absolute;
			bottom: 4px;
			left: 50%;
		}

		&.is-curr {
			background: #ff6a5b;

			&:after {
				background: $color-white;
			}
		}
	}
}

.m-accordion {
	margin-bottom: -2px;

	&.is-open .btn-switch {
		&:before {
			@include transform(rotate(0deg));
		}

		&:before, &:after {
			background: #fd6b5c;
		}
	}
}

.m-accordion-hd {
	background: $color-white;
	border: 1px solid $color-gray-l-p30;

	.btn-switch {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			@include box-sizing(border-box);
			@include transition(ease-in all 0.3s);
			@include transform(rotate(90deg));
		}

		&:before, &:after {
			margin-top: -2px;
			background: $color-gray-d-p30;
			width: 24px;
			height: 4px;
			right: 56px;
		}
	}
}

.m-accordion-bd {
	border: 1px solid $color-gray-l-p30;
	border-top: 0;

	.order-list {
		margin-left: 20px;
		list-style: decimal;
	}
}

@include respond(Desktops) {
	.m-cut-bd {
		padding: 0;
	}

	.m-tab-content {
		margin: 56px auto 0 auto;
		width: 1000px;
		@include box-sizing(border-box);
	}
}

@include respond(Desktops-Tablets) {
	.m-cut-hd {
		padding-bottom: 60px;
	}

	.m-cut-bd {
		margin: -60px auto 100px auto;
		width: 100%;
	}

	.main-tab {
		margin: 0 auto;

		.btn-tab {
			height: 60px;
			font-size: 20px;
			line-height: 60px;
			@include transition(ease-in all 0.3s);

			&:after {
				@include transition(ease-in all 0.3s);
			}
		}
	}

	.m-accordion-hd .btn-switch {
		padding-left: 50px;
		height: 60px;
		font-size: 16px;
		line-height: 60px;
	}

	.m-accordion-bd {
		padding-left: 50px;
	}
}

@include respond(HD) {
	.m-cut-bd {
		width: 1300px;
	}

	.main-tab {
		width: 1320px;
	}
}

@include respond(Tablets) {
}

@include respond(Tablets-Mobiles) {
}

@include respond(Mobiles) {
	.main-tab {
		.btn-tab {
			height: 40px;
			font-size: 16px;
			line-height: 40px;
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {}

@include browsers('Safari') {}