.catalog-wrap {
	background: $color-white;
	border-top: 1px solid $color-gray-l-p40;
	border-bottom: 1px solid $color-gray-l-p40;
	@include box-sizing(border-box);

	.catalog {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(center);
		height: 100%;
		font-size: 0;
		line-height: 0;

		> .list {
			display: inline-block;
			text-align: center;

			> .b-link {
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				color: $color-gray-d-p40;
				letter-spacing: 1px;

				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 4px;
					position: absolute;
					bottom: 0;
					left: 0;
					@include transition(ease-in all 0.3s);
				}

				&.is-curr:after, &:hover:after {
					background: $color-text-major;
				}

				&.b-highlight {
					color: #eb6100;
					font-weight: bold;
				}
			}
		}

		.text {
			line-height: 30px;
		}
	}
}

.kv {
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}

.m-cut {
	margin: 0 auto;

	&.main-content {
		background: $color-white;
		box-sizing: border-box;
	}

	.sub-title {
		padding: 5px 0;
		position: relative;
		color: $color-gray-d-p30;
		font-weight: bold;

		&:not(:first-child) {
			margin-top: 20px;
			border-top: 1px solid $color-gray-l-p20;
		}

		&:after {
			content: '';
			background: $color-text-major;
			display: block;
			width: 36px;
			height: 5px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}

.post-tools {
	border-bottom: 1px solid $color-gray-l-p40;

	> * {
		display: inline-block;
		vertical-align: bottom;
	}

	.info-tag {
		padding: 0 10px;
		background: $color-gray-d-p30;
		color: $color-white;
		font-size: 0;
		letter-spacing: 1px;

		> * {
			display: inline-block;
			height: 26px;
			font-size: 13px;
			line-height: 26px;

			&:not(:first-child):before {
				content: '|';
				padding: 0 5px;
			}
		}
	}

	.btn-tool {
		&.btn-fb-share:hover > * {
			color: $color-facebook;
		}

		&.btn-like {
			line-height: 0;
			
			.m-icon {
				width: 20px;
				height: 26px;

				&:before, &:after {
					left: 0;
				}
			}

			&:hover > * {
				color: $color-text-major;
			}
		}

		> * {
			line-height: 26px;
			@include transition(ease-in all 0.3s);
		}

		.m-icon {
			color: $color-gray-l-p10;
			font-size: 20px;
		}

		.text {
			color: $color-gray-d-p30;
			font-size: 14px;
		}
	}
}

.page-title {
	position: relative;
	color: $color-gray-d-p30;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.5em;

	&:after {
		content: '';
		background: $color-gray-d-p30;
		display: block;
		position: absolute;
		left: 0;
	}
}

.btn-like:not(.btn-tool) {
	color: $color-gray-d-p20;
	font-size: 20px;
	@include transition(ease-in color 0.3s);

	&:hover {
		color: $color-text-major;
	}

	&.is-add .m-icon:after {
		opacity: 1;
	}

	&.show-text .text {
		margin-left: -38px;
		padding: 2px 8px;
		background: $color-gray-d-p10;
		width: auto;
		height: auto;
		position: absolute;
		bottom: -30px;
		left: 50%;
		border-radius: 4px;
		opacity: 1;
		overflow: visible;
		font-size: 12px;
		line-height: 1.5em;
		text-indent: 0;
		white-space: nowrap;

		&:after {
			content: '';
			margin-left: -4px;
			display: block;
			position: absolute;
			bottom: 100%;
			left: 50%;
			border-right: 4px solid transparent;
			border-bottom: 4px solid $color-gray-d-p10;
			border-left: 4px solid transparent;
		}
	}

	.m-icon {
		&:before, &:after {
			position: absolute;
			top: 0;
		}

		&:after {
			content: '\e905';
			opacity: 0;
			color: $color-text-major;
			@include transition(ease-in opacity 0.3s);
		}
	}

	.text {
		opacity: 0;
		color: $color-white;
		@include transition(ease-in opacity 0.3s);
	}
}

.slide-list {
	.owl-stage-outer {
		overflow: visible;
	}

	.owl-stage .owl-item {
		overflow: visible;
	}

	.img-wrap {
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	.item-info {
		position: relative;
		color: $color-gray-d-p30;
		@include box-sizing(border-box);

		> .info-hd, > .info-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			position: relative;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 1px;
			line-height: 1.5em;

			&:after {
				content: '';
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				@include transition(ease-in all 0.3s);
			}
		}

		.b-desc {
			line-height: 1.5em;
		}
	}

	.btn-like {
		position: absolute;
		top: 0;
		right: 0;

		.m-icon {
			&:before, &:after {
				right: 0;
			}
		}
	}
}

.shopping-list {
	background: $color-white;
	position: relative;

	.owl-stage {
		@include display-flex;
		@include align-items(stretch);

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
		}
	}

	.list {
		width: 100%;
		position: relative;
	}

	.shopping-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
		height: 100%;

		&:hover .btn-read-more {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
		}
	}

	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
	}

	.item-info {
		@include flex-grow(1);

		> * {
			display: block;
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.main-info, .bargain-price {
			font-size: 20px;
		}

		.acts {
			font-size: 16px;
		}

		> .info-hd, > .info-title {
			position: relative;
			font-weight: normal;

			&:after {
				content: '';
				background: $color-gray-d-p30;
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				@include transition(ease-in all 0.3s);
			}
		}

		.main-info {
			overflow: hidden;
			color: $color-text-major;
		}

		.price {
			font-size: 14px;
			text-decoration: line-through;
		}
	}

	.btn-read-more {
		border-color: $color-gray-d-p30;
		color: $color-gray-d-p30;
	}

	.btn-like .m-icon {
		width: 100%;
		height: 100%;
	}
}

.l-content .favorite-list {
	.owl-stage {
		@include display-flex;
		@include align-items(stretch);

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
		}
	}

	.list {
		position: relative;
		background: $color-white;
		text-align: center;
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
	}

	.btn-like {
		.m-icon {
			position: absolute;
			top: 10px;
			right: 10px;
		}

		&:before {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			right: 0;
			border-top: 33px solid $color-gray-l-p40;
			border-right: 33px solid $color-gray-l-p40;
			border-bottom: 33px solid transparent;
			border-left: 33px solid transparent;
		}
	}

	.item-info {
		text-align: left;

		.info-hd:after {
			background: $color-gray-d-p30;
		}

		.info-tag {
			color: $color-gray-l-p20;
			font-size: 14px;
		}

		.b-desc {
			line-height: 2em;
		}
	}

	.favorite-link:hover {
		.img-wrap img {
			@include transform(scale(1.05));
		}

		.item-info .info-hd:after {
			background: $color-text-major;
		}

		.btn-read-more {
			background: $color-text-major;
			border-color: $color-text-major;

			&:before {
				opacity: 0;
				color: $color-white !important;
			}

			&:after {
				background: transparent !important;
				opacity: 1;
				color: $color-white;
			}
		}
	}

	.btn-read-more {
		display: inline-block;
		background: transparent;
		border-color: $color-gray-d-p30;
		color: $color-gray-d-p30;
		overflow: hidden;
		font-size: 0;
		text-indent: 200%;
		text-overflow: ellipsis;
		white-space: nowrap;
		@include transition(ease-in all 0.3s);
	}
}

@include respond(Desktops) {
	.catalog-wrap {
		height: 60px;

		.catalog {
			> .list .b-link {
				padding: 0 20px;
			}

			.m-icon {
				font-size: 26px;
			}

			.text {
				font-size: 16px;
			}
		}
	}

	.m-cut {
		margin-bottom: 60px;

		&.main-content {
			margin-bottom: 30px;
			padding: 0 100px 50px 100px;
		}

		.m-owl-dots {
			margin: 8px 0;
		}
	}

	.main-content-ft {
		margin-top: 80px;
	}

	.slide-list .item-info {
		> .info-hd, > .info-title {
			font-size: 20px;
		}

		.b-desc {
			font-size: 14px;
		}
	}

	.shopping-list {
		padding: 21px 0;

		.list {
			padding-top: 21px;
		}

		/*.img-wrap {
			height: 272px;

			img {
				width      : auto;
				max-height : 100%;
			}
		}*/

		.item-info {
			padding: 0 40px 20px 40px;

			.main-info {
				> *:first-child {
					float: left;
				}

				> *:last-child {
					float: right;
				}
			}
		}

		.btn-read-more {
			margin-bottom: 42px !important;
		}
	}

	.l-content .favorite-list {
		.img-wrap {
			max-height: 270px;

			img {
				@include transition(ease-in all 0.3s);
			}
		}

		.item-info {
			padding: 30px 40px 10px 40px;
		}

		.btn-read-more {
			margin-bottom: 34px !important;
		}
	}
}

@include respond(Desktops-Tablets) {
	.menu-list.is-highlight {
		margin-left: 18px;
		@include display-flex;
		@include align-items(center);

		&:before {
			margin-right: 18px;
			background: $color-gray-l-p10;
			width: 1px;
			height: 20px;
		}
	}

	.catalog-wrap {
		position: relative;

		.catalog > .list {
			padding: 0 15px;

			.b-link {
				box-sizing: border-box;
			}
		}
	}

	.m-cut .sub-title {
		margin-right: 10px;
		margin-bottom: 30px;
		margin-left: 10px;
		font-size: 20px;
	}

	.main-content-hd {
		margin-bottom: 45px;
		padding-top: 50px;
	}

	.post-tools .btn-tool {
		&:not(:last-child) {
			margin-right: 16px;
		}

		.m-icon {
			padding-right: 6px;
		}
	}

	.page-title {
		padding-top: 10px;
		font-size: 24px;

		&:after {
			width: 60px;
			height: 6px;
			bottom: -6px;
		}
	}

	.slide-list {
		margin: 0 auto;
		font-size: 0;
		line-height: 0;

		.list {
			margin: 0 auto;
		}
	}

	.shopping-list {
		margin-bottom: 64px;

		.list {
			margin: 10px;
			border: 1px solid $color-white;
			@include transition(ease-in all 0.3s);

			&:hover {
				border: 1px solid $color-gray-l-p30;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
			}
		}

		.img-wrap {
			width: 100%;
		}

		.btn-read-more {
			margin: 0 auto;
		}

		.btn-like {
			width: 20px;
			height: 20px;
			top: 15px;
			right: 15px;

			&.show-text .text {
				margin-left: -40px;

				&:after {
					margin-left: -2px;
				}
			}
		}

		.m-owl-dots.is-absolute {
			bottom: -30px;
		}
	}

	.l-content .favorite-list {
		.list {
			margin: 0 10px;
		}

		.favorite-link {
			@include display-flex;
			@include justify-content(space-between);
			@include flex-direction(column);
			height: 100%;
		}

		.item-info {
			@include flex-grow(1);
		}

		.btn-read-more {
			margin: 0 auto;
		}

		.btn-like {
			width: 66px;
			height: 66px;

			&.show-text .text {
				bottom: 9px;
				left: auto;
				right: 0;

				&:after {
					margin-left: 14px;
				}
			}
		}
	}
}

@include respond(HD) {
	.catalog {
		margin: 0 auto;
		width: 1300px;
	}

	.l-body.is-padding-arrow .jQ-owl.is-padding:not(.kv-owl) {
		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}
	}

	.m-cut {
		margin-right: auto;
		margin-left: auto;
		width: $main-max-width;

		&.main-content {
			padding: 0 150px 75px 150px;
			width: 1300px;
		}

		&.favorite-cut {
			width: 1320px;
			overflow: hidden;
		}

		.sub-title {
			margin-right: auto;
			margin-left: auto;
			width: 1300px;
		}
	}

	.shopping-list {
		width: 1320px;

		&:before, &:after {
			content: '';
			background: $color-white;
			display: block;
			width: 500px;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 1;
		}

		&:before {
			margin-left: 660px;
			left: 50%;
		}

		&:after {
			margin-right: 660px;
			right: 50%;
		}

		.list {
			width: 310px;
		}
	}

	.l-content .favorite-list .list {
		width: 420px;
	}
}

@include respond(Tablets) {
	.catalog-wrap .catalog > .list .b-link {
		padding: 0 10px;
	}

	.btn-read-more {
		&:before, &:after {
			font-size: 12px;
		}
	}
}

@include respond(Tablets-Mobiles) {
	.catalog-wrap {
		height: 40px;

		.catalog {
			.m-icon {
				font-size: 20px;
			}

			.text {
				font-size: 13px;
			}
		}
	}

	.m-cut {
		margin-bottom: 36px !important;

		&.main-content {
			margin-top: 20px;
			padding: 0 20px 30px 20px;
		}

		.m-owl-dots {
			margin: 12px 0;
		}
	}

	.main-content-ft {
		margin-top: 40px;
	}

	.slide-list {
		.item-info {
			> .info-hd, > .info-title {
				font-size: 18px;
			}

			.b-desc {
				font-size: 12px;
			}
		}

		.btn-read-more {
			margin: 0 auto;
		}
	}

	.shopping-list {
		padding-top: 20px;

		.img-wrap {
			height: 240px;
			@include flex-direction(column);

			img {
				width: auto;
				max-width: 100%;
			}
		}

		.item-info {
			padding: 0 15px 25px 15px;

			.main-info > * {
				display: block;
			}
		}

		.btn-read-more {
			margin-bottom: 35px;
		}
	}

	.l-content .favorite-list {
		.item-info {
			padding: 15px 20px 10px 20px;
			@include flex-grow(1);
		}

		.btn-read-more {
			margin-bottom: 20px;
		}
	}
}

@include respond(Mobiles) {
	.menu-list.is-highlight:before {
		background: $color-gray-l-p30;
		width: 100%;
		height: 1px;
	}

	.catalog-wrap {
		.catalog {
			position: relative;

			&:after {
				content: '';
				margin-top: -3px;
				display: block;
				position: absolute;
				top: 50%;
				right: 14px;
				border-top: 6px solid $color-gray-l-p10;
				border-right: 5px solid transparent;
				border-left: 5px solid transparent;
				pointer-events: none;
				z-index: 1;
			}
		}

		.m-selection {
			padding: 0 15px;
			width: 100%;
			height: 40px;
			line-height: 40px;
			@include box-sizing(border-box);
		}
	}

	.l-content .favorite-list .favorite-link {
		@include display-flex;
		@include flex-direction(column);
		@include flex-grow(1);
	}

	.m-cut {
		width: calc(100vw - 40px);

		&.shopping-cut .sub-title {
			margin-right: -30px;
			margin-left: -30px;
		}

		&.favorite-cut .sub-title {
			margin-right: 10px;
			margin-left: 10px;
		}

		.sub-title {
			margin-bottom: 20px;
			font-size: 18px;
		}

		.m-owl-dots {
			display: none;
		}

		.owl-stage-outer {
			overflow: visible;
		}
	}

	.main-content-hd {
		margin-bottom: 20px;
		padding-top: 20px;
	}

	.post-tools .btn-tool:not(:last-child) {
		margin-right: 10px;
	}

	.page-title {
		padding-top: 8px;
		font-size: 20px;

		&:after {
			width: 30px;
			height: 4px;
			bottom: -4px;
		}
	}

	.slide-list {
		.owl-item {
			@include transition(ease-in all 0.3s);

			&:not(.active) {
				@include transform(scale(0.95));
			}
		}

		.btn-like {
			width: 40px;
			height: 40px;

			&.show-text .text {
				bottom: -18px;
			}
		}
	}

	.shopping-list {
		&:before {
			content: '';
			margin-left: -50vw;
			background: $color-white;
			display: block;
			width: 100vw;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
		}

		.list {
			@include display-flex;
		}

		.shopping-link {
			@include flex-grow(1);
			height: auto;
		}

		.owl-item:not(.active) .btn-like {
			opacity: 0;
		}

		.m-icon {
			line-height: 40px;

			&:before, &:after {
				margin-right: -10px;
				right: 50% !important;
			}
		}
	}

	.favorite-cut, .shopping-cut {
		width: calc(100vw - 100px);

		.owl-stage-outer {
			overflow: visible;
		}

		.list {
			margin: 0 10px;
			width: calc(100% - 20px);
		}
	}

	.btn-read-more {
		font-size: 0;
	}
}

@include devices(iphone) {
	.l-content .favorite-list .btn-read-more {
		margin: 0 20px 20px 20px;
	}

	.shopping-list .btn-read-more {
		margin: 0 15px 25px 15px;
	}
}

@include respond(Iphone5) {
	.favorite-cut, .shopping-cut {
		width: 232px;

		.list {
			width: 212px;
		}
	}
}

@include browsers('IE') {
	.post-tools .btn-tool.btn-like {
		height: 26px;

		> * {
			vertical-align: top;
		}
	}

	.l-content .favorite-list {
		.btn-like {
			width: 66px;
			height: 66px;
		}

		.btn-read-more {
			margin-right: 40px;
			margin-left: 40px;
		}
	}

	.shopping-list .btn-read-more {
		margin-right: 32px;
		margin-left: 32px;
	}
}

@include browsers('IE9') {
	.catalog-wrap .catalog {
		display: table;

		.list {
			display: table-cell;
			height: 100%;

			> .b-link {
				display: block;
				height: 58px;
			}
		}
	}

	.shopping-list {
		.img-wrap {
			text-align: center;
		}

		.shopping-link {
			padding-bottom: 76px;
			display: block;
			overflow: hidden;
		}

		.btn-read-more {
			position: absolute;
			bottom: 0;
			left: 32px;
			right: 32px;
		}
	}
}

@include browsers('Safari') {
	.catalog-wrap .catalog>.list .b-link {
		height: 58px;
	}

	.l-content .favorite-list .btn-read-more {
		margin-right: 40px;
		margin-left: 40px;
	}

	.shopping-list {
		.list {
			position: relative;
		}

		.btn-read-more {
			margin-right: 32px;
			margin-left: 32px;
		}
	}
}