.menu-list.is-highlight:before {
	content: '';
	display: inline-block;
}

.catalog-wrap {
	background: $color-white;
	border-top: 1px solid $color-gray-l-p40;
	border-bottom: 1px solid $color-gray-l-p40;
	@include box-sizing(border-box);

	.catalog {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(center);
		height: 100%;
		font-size: 0;
		line-height: 0;

		> .list {
			display: inline-block;
			text-align: center;

			> .b-link {
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				color: $color-gray-d-p40;
				letter-spacing: 1px;

				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 4px;
					position: absolute;
					bottom: 0;
					left: 0;
					@include transition(ease-in all 0.3s);
				}

				&.is-curr:after, &:hover:after {
					background: $color-text-major;
				}

				&.b-highlight {
					color: #eb6100;
					font-weight: bold;
				}
			}
		}

		.text {
			line-height: 30px;
		}
	}
}

.kv {
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}

.kv-owl .item {
	height: 37.5vw;

	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		height: 37.5vw;
	}
}

.m-cut {
	margin: 0 auto;
}

.slide-list {
	.img-wrap {
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	.item-info {
		position: relative;
		color: $color-gray-d-p30;
		@include box-sizing(border-box);

		.classification {
			display: inline-block;
			border-bottom: 2px solid;
			font-size: 16px;
			line-height: 2em;
		}

		.info-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			font-size: 20px;
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.b-desc {
			font-size: 14px;
			line-height: 1.5em;
		}
	}

	.btn-like {
		position: absolute;
		top: 0;
		right: 0;
		color: $color-gray-d-p20;
		font-size: 20px;
		@include transition(ease-in color 0.3s);

		&:hover {
			color: $color-text-major;
		}

		&.is-add .m-icon:after {
			opacity: 1;
		}

		.m-icon {
			&:before, &:after {
				position: absolute;
				top: 0;
				right: 0;
			}

			&:after {
				content: '\e905';
				opacity: 0;
				color: $color-text-major;
				@include transition(ease-in opacity 0.3s);
			}
		}
	}
}

.masonry-list {
	margin: 0 auto;

	.masonry-item {
		.main-link {
			display: block;

			.item-info {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;

				.info-title {
					margin-top: 25px;
					margin-bottom: 0;
				}
			}
		}

		> *:not(.activity-link):not(.shopping-list) {
			&.is-light {
				> * {
					color: $color-white;
				}

				&:after {
					content: '';
					@include background-image(linear-gradient(to bottom, rgba($color-black, 0), rgba($color-black, 0.85)));
					width: 100%;
					height: 50%;
					position: absolute;
					bottom: 0;
					left: 0;
				}

				.item-info {
					z-index: 1;
				}

				.classification {
					border-bottom-color: $color-white;
				}

				.btn-read-more {
					border-color: $color-white;
					color: $color-white;
				}
			}

			&.is-dark {
				> * {
					color: $color-gray-d-p30;
				}

				.classification {
					border-bottom-color: $color-gray-d-p30;
				}

				.btn-read-more {
					border-color: $color-gray-d-p30;
					color: $color-gray-d-p30;
				}
			}
		}
	}
}

.activity-link {
	.info-title {
		padding-top: 5px;
	}

	.item-info {
		padding: 20px;
		background: none;

		&.is-light {
			color: $color-white;

			.info-title:after {
				background: $color-white;
			}
		}

		&.is-dark {
			color: $color-black;

			.info-title:after {
				background: $color-black;
			}
		}

		.b-desc {
			padding-left: 20px;
			position: relative;
			font-size: 20px;
			line-height: 1.5em;

			&:before, &:after {
				position: absolute;
				font-size: 60px;
				font-family: '新細明體';
				line-height: 60px;
				@include transform(scale(0.75, 1));
			}

			&:before {
				content: '”';
				top: -20px;
				left: 0;
			}

			&:after {
				content: '“';
				bottom: -60px;
				right: -10px;
			}
		}
	}
}

.shopping-list {
	position: relative;

	.owl-stage {
		@include display-flex;
		@include align-items(stretch);

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
		}
	}

	.list {
		background: $color-white;
		width: 100%;
		position: relative;
	}

	.shopping-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
		height: 100%;

		&:hover .btn-read-more {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
		}
	}

	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
	}

	.item-info {
		@include flex-grow(1);

		> * {
			display: block;
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.main-info, .bargain-price {
			font-size: 20px;
		}

		.acts {
			font-size: 16px;
		}

		.info-title {
			position: relative;
			font-weight: normal;

			&:after {
				content: '';
				background: $color-gray-d-p30;
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				@include transition(ease-in all 0.3s);
			}
		}

		.main-info {
			overflow: hidden;
			color: $color-text-major;
		}

		.price {
			font-size: 14px;
			text-decoration: line-through;
		}
	}

	.btn-read-more {
		border-color: $color-gray-d-p30;
		color: $color-gray-d-p30;
	}

	.btn-like .m-icon {
		width: 100%;
		height: 100%;
	}
}

@include respond(Desktops) {
	.catalog-wrap {
		height: 60px;

		.catalog {
			> .list .b-link {
				padding: 0 20px;
			}

			.m-icon {
				font-size: 26px;
			}

			.text {
				font-size: 16px;
			}
		}
	}

	.m-cut {
		margin-bottom: 70px;

		.m-owl-dots {
			margin: 8px 0;
		}
	}

	.kv {
		margin-bottom: 42px;

		&:before {
			border-top: 50px solid transparent;
			border-right: 220px solid #f4f4f4;
			border-bottom: 50px solid #f4f4f4;
			border-left: 220px solid transparent;
		}
	}

	.main-link {
		.img-wrap img {
			@include transition(ease-in all 0.3s);
		}

		&:hover .img-wrap img {
			@include transform(scale(1.05));
		}
	}

	.activity-link {
		.img-wrap {
			width: calc(100% - 28px);

			img {
				@include transition(ease-in all 0.3s);
			}
		}

		.item-info {
			margin-top: -118px;
			width: 245px;
			height: 236px;
			position: absolute;
			top: 50%;
			right: 0;
		}

		&:hover .img-wrap img {
			@include transform(scale(1.05));
		}
	}

	.shopping-list {
		.img-wrap {
			height: 272px;

			img {
				width: auto;
			}
		}

		.item-info {
			padding: 0 40px 20px 40px;

			.main-info {
				> *:first-child {
					float: left;
				}

				> *:last-child {
					float: right;
				}
			}
		}

		.btn-read-more {
			margin-bottom: 42px !important;
		}
	}
}

@include respond(Desktops-Tablets) {
	.menu-list.is-highlight {
		margin-left: 18px;
		@include display-flex;
		@include align-items(center);

		&:before {
			margin-right: 18px;
			background: $color-gray-l-p10;
			width: 1px;
			height: 20px;
		}
	}

	.catalog-wrap {
		position: relative;

		.catalog > .list {
			padding: 0 15px;

			.b-link {
				box-sizing: border-box;
			}
		}
	}

	.slide-list {
		margin: 0 auto;
		font-size: 0;
		line-height: 0;

		.list {
			margin: 0 auto;
		}
	}

	.masonry-list {
		@include display-flex;
		@include flex-direction(column);
		@include flex-wrap(wrap);
		max-height: 1360px;

		.masonry-item {
			margin-bottom: 25px;

			.main-link .item-info {
				padding-bottom: 70px;
			}
		}
	}

	.activity-link {
		display: block;
		position: relative;

		.item-info {
			overflow: hidden;
			@include box-sizing(border-box);
		}
	}

	.shopping-list {
		.list {
			border: 1px solid $color-white;
			@include transition(ease-in all 0.3s);

			&:hover {
				border: 1px solid $color-gray-l-p30;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
			}
		}

		.img-wrap {
			width: 100%;
		}

		.btn-read-more {
			margin: 0 auto;
		}

		.btn-like {
			width: 20px;
			height: 20px;
			top: 15px;
			right: 15px;
		}

		.m-owl-dots.is-absolute {
			bottom: 0;
		}
	}
}

@include respond(HD) {
	.l-body.is-padding-arrow .jQ-owl.is-padding:not(.kv-owl) {
		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}
	}

	.kv .jQ-video {
		height: 44.5vw;
	}

	.m-cut {
		width: $main-max-width;
	}

	.masonry-list {
		width: 1300px;

		.masonry-item {
			width: 304px;
		}

		.main-item {
			width: 640px;
		}
	}

	.shopping-list .list {
		width: 310px;
	}
}

@include respond(Tablets) {
	.catalog-wrap .catalog > .list .b-link {
		padding: 0 10px;
	}
}

@include respond(Tablets-Mobiles) {
	.catalog-wrap {
		height: 40px;

		.catalog {
			.m-icon {
				font-size: 20px;
			}

			.text {
				font-size: 13px;
			}
		}
	}

	.m-cut {
		margin-bottom: 36px !important;

		.m-owl-dots {
			margin: 12px 0;
		}
	}

	.kv {
		margin-bottom: 20px;

		&:before {
			border-top: 3.57vw solid transparent;
			border-right: 15.7vw solid #f4f4f4;
			border-bottom: 3.57vw solid #f4f4f4;
			border-left: 15.7vw solid transparent;
		}
	}

	.slide-list .btn-read-more {
		margin: 0 auto;
	}

	.activity-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
		height: 100%;

		.item-info {
			@include flex-grow(1);
		}
	}

	.shopping-list {
		padding-top: 20px;

		.img-wrap {
			height: 240px;
			@include flex-direction(column);

			img {
				width: auto;
				max-width: 100%;
			}
		}

		.item-info {
			padding: 0 15px 25px 15px;

			.main-info > * {
				display: block;
			}
		}

		.btn-read-more {
			margin-bottom: 25px;
		}
	}
}

@include respond(Mobiles) {
	.menu-list.is-highlight:before {
		background: $color-gray-l-p30;
		width: 100%;
		height: 1px;
	}

	.catalog-wrap {
		.catalog {
			position: relative;

			&:after {
				content: '';
				margin-top: -3px;
				display: block;
				position: absolute;
				top: 50%;
				right: 14px;
				border-top: 6px solid $color-gray-l-p10;
				border-right: 5px solid transparent;
				border-left: 5px solid transparent;
				pointer-events: none;
				z-index: 1;
			}
		}

		.m-selection {
			padding: 0 15px;
			width: 100%;
			height: 40px;
			line-height: 40px;
			@include box-sizing(border-box);
		}
	}

	.m-cut {
		.jQ-owl {
			margin-bottom: 20px;
		}

		.m-owl-dots {
			display: none;
		}
	}

	.kv-owl .item .img-wrap {
		margin-left: -14vw;
		width: 128vw;
	}

	.slide-list {
		.owl-item {
			@include transition(ease-in all 0.3s);

			&:not(.active) {
				@include transform(scale(0.95));
			}
		}

		.btn-like {
			width: 40px;
			height: 40px;
		}
	}

	.m-cut {
		width: calc(100vw - 100px);

		.owl-stage-outer {
			overflow: visible;
		}

		.list {
			margin: 0 10px;
			width: calc(100% - 20px);
		}
	}

	.shopping-list {
		.owl-item:not(.active) .btn-like {
			opacity: 0;
		}

		.m-icon {
			line-height: 40px;

			&:before, &:after {
				margin-right: -10px;
				right: 50% !important;
			}
		}
	}
}

@include devices(iphone) {
	.shopping-list .btn-read-more {
		margin: 0 15px 25px 15px;
	}
}

@include respond(Iphone5) {
	.m-cut {
		width: 232px;

		.list {
			width: 212px;
		}
	}
}

@include browsers('IE') {
	.shopping-list .btn-read-more {
		margin-right: 32px;
		margin-left: 32px;
	}
}

@include browsers('IE9') {
	.shopping-list {
		.img-wrap {
			text-align: center;
		}

		.shopping-link {
			padding-bottom: 76px;
			display: block;
			overflow: hidden;
		}

		.btn-read-more {
			margin: 0 !important;
			position: absolute;
			bottom: 20px;
			left: 32px;
			right: 32px;
		}
	}
}

@include browsers('Safari') {
	.shopping-list {
		.list {
			position: relative;
		}

		.btn-read-more {
			margin-right: 32px;
			margin-left: 32px;
		}
	}
}