.catalog-wrap {
	background: $color-white;
	border-top: 1px solid $color-gray-l-p40;
	border-bottom: 1px solid $color-gray-l-p40;
	@include box-sizing(border-box);

	.catalog {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-around);
		height: 100%;
		font-size: 0;
		line-height: 0;

		> .list {
			display: inline-block;
			text-align: center;

			> .b-link {
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				color: $color-gray-d-p40;
				letter-spacing: 1px;

				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 4px;
					position: absolute;
					bottom: 0;
					left: 0;
					@include transition(ease-in all 0.3s);
				}

				&.is-curr:after, &:hover:after {
					background: $color-text-major;
				}

				&.b-highlight {
					color: #eb6100;
					font-weight: bold;
				}
			}
		}

		.text {
			line-height: 30px;
		}
	}
}

.kv {
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}

.kv-owl .item {
	height: 37.5vw;

	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		height: 37.5vw;
	}
}

.m-cut {
	margin: 0 auto;
}

.slide-list, .masonry-link {
	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		overflow: hidden;
	}

	.item-info {
		position: relative;
		color: $color-gray-d-p30;
		@include box-sizing(border-box);

		.classification {
			display: inline-block;
			border-bottom: 2px solid;
		}

		.info-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			line-height: 1.5em;
		}

		.b-desc {
			line-height: 1.5em;
		}
	}
}

.masonry-link {
	&.is-separate {
		background: $color-white;

		.item-info {
			padding-top: 20px;
		}
	}

	&:not(.is-separate):not(.activity-link) .item-info {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&:not(.activity-link) .item-info .info-title {
		margin-top: 25px;
		margin-bottom: 0;
	}

	&:not(.main-link):not(.shopping-list):not(.activity-link) {
		.item-info {
			padding-bottom: 25px;
		}

		.btn-read-more {
			height: 36px;
		}
	}
}

.slide-list .btn-like {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	color: $color-gray-d-p20;
	font-size: 20px;
	line-height: 0;
	@include transition(ease-in color 0.3s);

	&:before {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		right: 0;
		border-top: 33px solid $color-gray-l-p40;
		border-right: 33px solid $color-gray-l-p40;
		border-bottom: 33px solid transparent;
		border-left: 33px solid transparent;
	}

	&:hover {
		color: $color-text-major;
	}

	&.is-add .m-icon:after {
		opacity: 1;
	}

	&.show-text .text {
		padding: 2px 8px;
		background: $color-gray-d-p10;
		width: auto;
		height: auto;
		position: absolute;
		bottom: -20px;
		right: 0;
		border-radius: 4px;
		opacity: 1;
		overflow: visible;
		font-size: 12px;
		line-height: 1.5em;
		text-indent: 0;
		white-space: nowrap;

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 100%;
			right: 16px;
			border-right: 4px solid transparent;
			border-bottom: 4px solid $color-gray-d-p10;
			border-left: 4px solid transparent;
		}
	}

	.m-icon {
		&:before, &:after {
			margin: -10px -10px 0 0;
			position: absolute;
			top: 50%;
			right: 50%;
		}

		&:after {
			content: '\e905';
			opacity: 0;
			color: $color-text-major;
			@include transition(ease-in opacity 0.3s);
		}
	}

	.text {
		opacity: 0;
		color: $color-white;
		@include transition(ease-in opacity 0.3s);
	}
}

.masonry-list {
	margin: 0 auto;

	.masonry-item {
		box-sizing: border-box;

		&.has-border {
			border: 1px solid $color-gray-l-p40;
		}

		.main-link {
			display: block;

			.item-info {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;

				.info-title {
					margin-top: 25px;
					margin-bottom: 0;
				}
			}
		}

		> *:not(.activity-link):not(.shopping-list) {
			&.is-light {
				> * {
					color: $color-white;
				}

				&:after {
					@include background-image(linear-gradient(to bottom, rgba($color-black, 0), rgba($color-black, 0.85) 60%));
				}

				.classification {
					border-bottom-color: $color-white;
				}

				.btn-read-more {
					border-color: $color-white;
					color: $color-white;
				}
			}

			&.is-dark {
				> * {
					color: $color-gray-d-p30;
				}

				&:after {
					@include background-image(linear-gradient(to bottom, rgba($color-white, 0), rgba($color-white, 0.85) 40%));
				}

				.classification {
					border-bottom-color: $color-gray-d-p30;
					text-shadow: 0 0 20px $color-white;
				}

				.btn-read-more {
					border-color: $color-gray-d-p30;
					color: $color-gray-d-p30;
				}
			}

			&:after {
				content: '';
				width: 100%;
				height: 50%;
				position: absolute;
				bottom: 0;
				left: 0;
			}

			.item-info {
				z-index: 1;
			}
		}
	}
}

.activity-link {
	.img-wrap img {
		width: 100%;
	}

	.info-title {
		padding-top: 5px;
	}

	.item-info {
		padding: 20px;
		background: none;

		&.is-light {
			color: $color-white;

			.info-title:after {
				background: $color-white;
			}
		}

		&.is-dark {
			color: $color-black;

			.info-title:after {
				background: $color-black;
			}
		}

		.b-desc {
			padding-left: 20px;
			position: relative;

			&:before, &:after {
				position: absolute;
				font-size: 72px;
				font-family: '新細明體';
				line-height: 72px;
				@include transform(scale(0.75, 1));
			}

			&:before {
				content: '”';
				top: -30px;
				left: -10px;
			}

			&:after {
				content: '“';
				bottom: -72px;
				right: -10px;
			}
		}
	}
}

.shopping-list {
	position: relative;

	.owl-stage {
		@include display-flex;
		@include align-items(stretch);

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
		}
	}

	.list {
		background: $color-white;
		width: 100%;
		position: relative;
	}

	.shopping-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
		height: 100%;

		&:hover .btn-read-more {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
		}
	}

	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
	}

	.item-info {
		@include flex-grow(1);

		> * {
			display: block;
			line-height: 1.5em;
		}

		.main-info, .bargain-price {
			font-size: 20px;
		}

		.info-title {
			position: relative;
			font-weight: normal;

			&:after {
				content: '';
				background: $color-gray-d-p30;
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				@include transition(ease-in all 0.3s);
			}
		}

		.main-info {
			overflow: hidden;
			color: $color-text-major;
		}

		.price {
			font-size: 14px;
			text-decoration: line-through;
		}
	}

	.btn-read-more {
		border-color: $color-gray-d-p30;
		color: $color-gray-d-p30;

		.m-icon {
			margin-right: 0 !important;
			font-weight: normal !important;
		}
	}

	.btn-like .m-icon {
		width: 100%;
		height: 100%;
	}
}

@include respond(Desktops) {
	.catalog-wrap {
		height: 60px;

		.catalog {
			> .list {
				padding: 0 10px;
			}

			.m-icon {
				font-size: 26px;
			}

			.text {
				font-size: 16px;
			}
		}
	}

	.m-cut {
		margin-right: 20px;
		margin-bottom: 70px;
		margin-left: 20px;

		.m-owl-dots {
			margin: 8px 0;
		}
	}

	.kv {
		margin-bottom: 42px;

		&:before {
			border-top: 50px solid transparent;
			border-right: 220px solid #f4f4f4;
			border-bottom: 50px solid #f4f4f4;
			border-left: 220px solid transparent;
		}
	}

	.slide-list, .masonry-link {
		.item-info {
			.classification {
				font-size: 16px;
				line-height: 2em;
			}

			.info-title {
				font-size: 20px;
			}

			.b-desc {
				font-size: 14px;
			}
		}
	}

	.masonry-list {
		max-height: 1360px;

		.masonry-item {
			margin-bottom: 25px;
			width: calc((100vw - 100px) / 4);

			> *:not(.is-separate):not(.activity-link):not(.shopping-list) {
				.img-wrap {
					height: 100%;

					img {
						height: 100%;
					}
				}
			}

			.main-link .item-info {
				padding-bottom: 70px;
			}
		}

		.main-item {
			width: calc((100vw - 100px) / 4 * 2);
		}
	}

	.masonry-link {
		&.is-separate .img-wrap {
			height: 330px;

			img {
				height: 100%;
			}
		}

		.img-wrap img, .btn-read-more {
			@include transition(ease-in all 0.3s);
		}

		&:hover {
			.img-wrap img {
				@include transform(scale(1.05));
			}

			.btn-read-more {
				border-color: $color-text-major !important;

				&:before {
					opacity: 0;
				}

				&:after {
					opacity: 1;
				}
			}
		}

		&:not(.shopping-list) .btn-read-more {
			display: inline-block;
			min-width: 144px;

			&:after {
				background: $color-text-major;
				color: $color-white;
			}
		}
	}

	.activity-link {
		.img-wrap {
			width: calc(100% - 28px);
		}

		.item-info {
			margin-top: -118px;
			width: 245px;
			height: 236px;
			position: absolute;
			top: 50%;
			right: 0;

			.b-desc {
				font-size: 20px;
			}
		}
	}

	.shopping-list {
		.img-wrap {
			img {
				width: 100%;
				@include transition(ease-in all 0.3s);
			}
		}

		.shopping-link:hover .img-wrap img {
			@include transform(scale(1.05));
		}

		.item-info {
			padding: 10px 40px 20px 40px;
		}

		.btn-read-more {
			margin-bottom: 42px !important;
		}
	}
}

@include respond(Desktops-Tablets) {
	.menu-list.is-highlight {
		margin-left: 18px;
		@include display-flex;
		@include align-items(center);

		&:before {
			margin-right: 18px;
			background: $color-gray-l-p10;
			width: 1px;
			height: 20px;
		}
	}

	.catalog-wrap {
		position: relative;

		.catalog > .list .b-link {
			box-sizing: border-box;
		}
	}

	.slide-list, .masonry-link {
		margin: 0 auto;
		font-size: 0;
		line-height: 0;

		.list {
			margin: 0 auto;
		}
	}

	.masonry-list {
		@include display-flex;
		@include align-content(space-between);
		@include flex-direction(column);
		@include flex-wrap(wrap);

		.masonry-item {
			> *:not(.main-link):not(.shopping-list) .item-info {
				padding-bottom: 25px;
			}

			> *:not(.activity-link) .item-info {
				padding-right: 25px;
				padding-left: 25px;
			}
		}
	}

	.activity-link {
		display: block;
		position: relative;

		.item-info {
			overflow: hidden;
			@include box-sizing(border-box);
		}
	}

	.shopping-list {
		border: 1px solid $color-gray-l-p40;

		.list {
			@include transition(ease-in all 0.3s);

			&:hover {
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
			}
		}

		.img-wrap {
			width: 100%;
		}

		.btn-read-more {
			margin: 0 auto;
		}

		.m-owl-dots.is-absolute {
			bottom: 0;
		}
	}
}

@include respond(HD) {
	.catalog {
		margin: 0 auto;
		width: 1300px;

		> .list .b-link {
			padding: 0 20px;
		}
	}

	.l-body.is-padding-arrow .jQ-owl.is-padding:not(.kv-owl) {
		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}
	}

	.m-cut {
		margin-right: auto;
		margin-left: auto;
		width: $main-max-width;
	}

	.masonry-list {
		width: 1300px;

		.masonry-item {
			width: 305px;

			.is-separate {
				height: auto;
			}

			> *:not(.is-separate):not(.main-link):not(.activity-link):not(.shopping-list) {
				height: 420px;
			}
		}

		.main-item {
			width: 640px;
		}
	}

	.shopping-list .list {
		width: 310px;
	}
}

@include respond(Tablets) {
	.catalog-wrap .catalog > .list {
		padding: 0 9px;
	}

	.m-cut {
		margin-right: 10px;
		margin-left: 10px;
	}

	.masonry-list {
		max-height: 820px;

		.masonry-item {
			margin-bottom: 10px;
			width: calc((100vw - 40px) / 4);
		}

		.main-item {
			width: calc((100vw - 40px) / 4 * 2);

			.img-wrap img {
				width: 100%;
			}

			.info-title {
				font-size: 20px;
			}

			.b-desc {
				font-size: 14px;
			}
		}
	}

	.masonry-link .btn-read-more {
		display: block;
	}

	.shopping-list .btn-read-more {
		margin-right: 25px !important;
		margin-left: 25px !important;
		min-width: 0 !important;
	}

	.btn-read-more {
		&:before, &:after {
			font-size: 12px;
		}
	}
}

@include respond(Tablets-Mobiles) {
	.catalog-wrap {
		height: 40px;

		.catalog {
			.m-icon {
				font-size: 20px;
			}

			.text {
				font-size: 13px;
			}
		}
	}

	.kv-owl .item {
		height: auto;

		.img-wrap {
			height: auto;
		}
	}

	.m-cut {
		margin-bottom: 36px !important;

		.m-owl-dots {
			margin: 12px 0;
		}
	}

	.kv {
		margin-bottom: 20px;

		&:before {
			border-top: 3.57vw solid transparent;
			border-right: 15.7vw solid #f4f4f4;
			border-bottom: 3.57vw solid #f4f4f4;
			border-left: 15.7vw solid transparent;
		}
	}

	.slide-list, .masonry-link {
		.item-info {
			.classification {
				font-size: 14px;
				line-height: 2em;
			}

			.info-title {
				font-size: 16px;
			}

			.b-desc {
				font-size: 12px;
			}
		}

		.btn-read-more {
			margin: 0 auto;
		}
	}

	.masonry-list {
		.is-separate .img-wrap img {
			width: 100%;
		}

		.masonry-item {
			.main-link .item-info {
				padding-bottom: 35px;
			}

			&.full-img .img-wrap {
				height: 270px;

				img {
					height: auto !important;
				}
			}
		}
	}

	.activity-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
		height: 100%;

		.item-info {
			padding-bottom: 40px !important;
			@include flex-grow(1);

			.b-desc {
				font-size: 16px;
			}
		}
	}

	.shopping-list {
		.img-wrap {
			@include flex-direction(column);

			img {
				width: 100%;
			}
		}

		.item-info {
			padding: 10px 15px 25px 15px;

			.main-info > * {
				display: block;
			}
		}

		.btn-read-more {
			margin-bottom: 35px;
		}
	}
}

@include respond(Mobiles) {
	.menu-list.is-highlight:before {
		background: $color-gray-l-p30;
		width: 100%;
		height: 1px;
	}

	.catalog-wrap {
		.catalog {
			position: relative;

			&:after {
				content: '';
				margin-top: -3px;
				display: block;
				position: absolute;
				top: 50%;
				right: 14px;
				border-top: 6px solid $color-gray-l-p10;
				border-right: 5px solid transparent;
				border-left: 5px solid transparent;
				pointer-events: none;
				z-index: 1;
			}
		}

		.m-selection {
			padding: 0 15px;
			width: 100%;
			height: 40px;
			line-height: 40px;
			@include box-sizing(border-box);
		}
	}

	.m-cut {
		width: calc(100vw - 40px);

		.m-owl-dots {
			display: none;
		}

		.owl-stage-outer {
			overflow: visible;
		}
	}

	.masonry-list {
		@include display-flex;
		@include flex-direction(column);

		.masonry-item {
			margin-bottom: 20px;
			@include order(2);

			&:nth-child(1), &:nth-child(5) {
				@include order(1);
			}

			> *:not(.activity-link) .item-info {
				padding-right: 20px;
				padding-left: 20px;
			}

			> *:not(.shopping-list) .img-wrap img {
				width     : auto !important;
				max-width : 100%;
			}
		}

		.main-item {
			@include order(0);
		}
	}

	.slide-list {
		.owl-stage .owl-item {
			overflow: visible;
		}

		.owl-item {
			@include transition(ease-in all 0.3s);

			&:not(.active) {
				@include transform(scale(0.95));
			}
		}
	}

	.shopping-list {
		margin: 0 auto;
		width: calc(100% - 40px);

		.list {
			margin: 0 10px;
			@include display-flex;
			width: calc(100% - 20px);
			border: 1px solid $color-gray-l-p40;
		}

		.shopping-link {
			@include flex-grow(1);
			height: auto;
		}
		
		.owl-item:not(.active) .btn-like {
			opacity: 0;
		}

		.img-wrap {
			margin: 5vw 5vw 0 5vw;
		}

		.item-info {
			padding: 5vw 5vw 25px 5vw;
		}
	}

	.btn-read-more {
		font-size: 0;
	}
}

@include devices(iphone) {
	.shopping-list .btn-read-more {
		margin: 0 5vw 5vw 5vw;
	}
}

@include respond(Iphone5) {}

@include browsers('IE') {
	.masonry-list {
		@include flex-direction(row);
		@include justify-content(space-between);
	}

	.shopping-list .btn-read-more {
		margin-right: 32px;
		margin-left: 32px;
	}
}

@include browsers('IE9') {
	.catalog-wrap .catalog {
		display: table;

		.list {
			display: table-cell;
			height: 100%;

			> .b-link {
				display: block;
				height: 58px;
			}
		}
	}

	.masonry-list {
		overflow: hidden;

		.list-block {
			float: left;

			&:not(:first-child) {
				margin-left: 20px;
			}
		}
	}

	.shopping-list {
		.img-wrap {
			text-align: center;
		}

		.shopping-link {
			padding-bottom: 76px;
			display: block;
			overflow: hidden;
		}

		.btn-read-more {
			position: absolute;
			bottom: 0;
			left: 32px;
			right: 32px;
		}
	}
}

@include browsers('Safari') {
	.catalog-wrap .catalog > .list .b-link {
		height: 58px;
	}

	.full-img .masonry-link {
		overflow: hidden;

		.img-wrap {
			margin-left: -420px;
			width: 840px;
			position: relative;
			left: 50%;
		}
	}

	.shopping-list {
		.list {
			position: relative;
		}

		.btn-read-more {
			margin-right: 32px;
			margin-left: 32px;
		}
	}
}