body {
	overflow: hidden;
}

.l-body {
	@for $i from 1 through 4 {
		&[data-cut="#{$i}"] .m-cut:nth-child(#{$i}) {
			.main-owl .item-info {
				bottom: 70px;
				opacity: 1;
			}

			.sub-owl .item-info {
				margin-top: 0;
				opacity: 1;
			}

			.social-wall .list-item .b-link {
				opacity: 1;
			}
		}
	}
}

.menu-list.is-highlight:before {
	display: none;
}

.m-cut {
	width: 100vw;
	position: relative;
	overflow: hidden;
	@include box-sizing(border-box);
	@include transition(ease-in all 0.3s);

	&:last-child .main-content .item {
		height: calc(100vh - 120px);
	}

	&.social-cut {
		background: $color-gray-d-p30;

		.main-content {
			@include flex-direction(column);
		}

		.cut-title {
			color: $color-white;
			letter-spacing: 2px;
			line-height: 1.2em;

			&:before, &:after {
				display: none;
			}

			.translation {
				display: block;
				line-height: 1.5em;
			}
		}

		.social-wall .list-item {
			.b-link {
				opacity: 0;
				@include transition(ease-in all 0.5s);
			}

			@for $i from 1 through 12 {
				&:nth-child(#{$i}) .b-link {
					@include transition-delay(0.1s * $i);
				}
			}
		}
	}

	.main-content {
		margin: 0 auto;
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(row);
		height: 100%;
		position: relative;
		z-index: 2;
		text-align: center;
		@include box-sizing(border-box);

		.sub-owl .item-info {
			margin-top: 70px;
			position: absolute;
			top: 55%;
			opacity: 0;

			.arrow {
				content: '';
				margin-left: -8px;
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				top: -13px;
				left: 50%;
				border-right: 8px solid transparent;
				border-bottom: 13px solid;
				border-left: 8px solid transparent;
			}
		}

		.item-info {
			@include transition(ease-in all 0.5s 0.3s);
		}

		.item {
			height: calc(100vh - 70px);
			position: relative;
			overflow: hidden;

			&.is-light {
				color: $color-white;

				&:after {
					content: '';
					@include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)));
					width: 100%;
					height: 50%;
					position: absolute;
					bottom: 0;
					left: 0;
				}

				.item-info {
					z-index: 1;
				}

				.classification {
					border-bottom-color: $color-white;
				}

				.btn-read-more {
					border-color: $color-white;
					color: $color-white;
				}
			}

			&.is-dark {
				color: $color-gray-d-p30;

				.classification {
					border-bottom-color: $color-gray-d-p30;
				}

				.btn-read-more {
					border-color: $color-gray-d-p30;
					color: $color-gray-d-p30;
				}
			}

			.btn-read-more {
				@include transition(ease-in all 0.3s);

				&:after {
					color: $color-white;
				}

				&:hover {
					background: $color-text-major;
					border-color: $color-text-major;
					color: $color-white;
				}
			}

			.img-wrap {
				margin-left: -100%;
				@include display-flex;
				@include align-items(center);
				@include justify-content(center);
				width: 200%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 50%;
				overflow: hidden;

				img {
					min-width: 50%;
					min-height: 100%;
				}
			}
		}
	}

	.m-btn-slide {
		margin-left: -30px;
		width: 60px;
		position: absolute;
		bottom: 50px;
		left: 50%;
		color: $color-white;
		text-align: center;
		@include animation(suspension 1.5s ease-in-out infinite);

		.m-icon {
			display: inline-block;
		}

		em {
			display: block;
			line-height: 2em;
		}
	}
}

.m-media {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	> * {
		display: block;
		min-width: 100vw;
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.l-side {
	bottom: 60px;
}

.m-replace-select .list.back {
	display: none;
}

@include keyframes(suspension) {
	0%, 100% {
		margin-bottom: 10px;
	}

	50% {
		margin-bottom: 0px;
	}
}

@include keyframes(scrollDown) {
	0% {
		top: 0px;
	}

	100% {
		top: -50vh;
	}
}

@include keyframes(scrollUp) {
	0% {
		top: 0px;
	}

	100% {
		top: 50vh;
	}
}

@include respond(Desktops) {
	.l-body {
		&.show-header .m-cut, &.show-footer .m-cut {
			height: calc(100vh - 120px);
		}

		&.show-header .kv-owl .item {
			height: calc(100vh - 120px);

			.img-wrap {
				height: calc(100vh - 120px);
			}
		}

		&.scale-150 .m-cut .main-content .item .item-info {
			@include transform(scale(0.8));
			@include transform-origin(top, center);
		}

		&.scale-125 .m-cut .main-content .item .item-info {
			@include transform(scale(0.9));
			@include transform-origin(top, center);
		}
			
		.l-content {
			background: $color-black;
		}
	
		@for $i from 1 through 4 {
			&.scrollUp[data-cut="#{$i}"] .m-cut:nth-child(#{$i + 1}) .main-content {
				@include animation(scrollDown 1s ease-in-out forwards);
			}

			&.scrollDown[data-cut="#{$i}"] .m-cut:nth-child(#{$i - 1}) .main-content {
				@include animation(scrollUp 1s ease-in-out forwards);
			}
		}
	}

	.m-cut {
		height: calc(100vh - 70px);

		&.social-cut {
			.cut-title {
				margin-bottom: 15px;
				height: auto;
				font-size: 36px;
	
				.translation {
					font-size: 13px;
				}
			}

			.social-wall {
				width: 1090px;

				.item-sizer {
					width: 165px;
				}

				.list-item {
					margin-bottom: 20px;
					width: 165px;
					overflow: hidden;
					@include transition(ease-in all 0.3s);

					&:hover {
						@include transform(scale(1.1));
					}

					img {
						width: 100%;
					}

					&.double-width {
						width: 350px;

						&:hover {
							@include transform(scale(1.05));
						}

						img {
							width: 100%;
						}
					}
				}
			}
		}

		.main-content {
			width: 100%;

			> * {
				height: 100%;
				position: relative;
			}
	
			.sub-owl {
				.item-info {
					padding-top: 30px;
				}
	
				.img-wrap {
					height: 55%;
				}
			}
	
			.main-owl .item-info {
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0;
			}
	
			.activity-list {
				width: 30%;
			}
	
			.restaurant-list {
				width: 70%;
			}
	
			.fashion-list, .shopping-list {
				width: 50%;
			}
		}
	}

	.m-media {
		display: block;

		> * {
			min-height: 100vh;
		}
	}

	.kv-owl .item {
		height: calc(100vh - 70px);
		@include transition(ease-in all 0.3s);

		.img-wrap {
			height: calc(100vh - 70px);
			@include transition(ease-in all 0.3s);
		}
	}

	.jQ-owl .item-info {
		padding: 0 64px;
		width: 100%;
		position: relative;
		@include box-sizing(border-box);

		.classification {
			margin-bottom: 18px;
			padding: 0 2px;
			display: inline-block;
			border-bottom: 3px solid $color-white;
			font-size: 14px;
			letter-spacing: 2px;
			line-height: 2em;
		}

		.topic-title {
			margin-bottom: 10px;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 1px;
		}

		.desc {
			margin-bottom: 20px;
			font-size: 13px;
			line-height: 22px;
		}

		.btn-read-more {
			display: inline-block;
			overflow: hidden;
			font-size: 0;
			text-indent: 200%;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.l-footer {
		background: $color-gray-d-p40;
	}

	.m-footer {
		@include display-flex;
		@include align-items(center);
		@include justify-content(space-between);
		height: 50px;
	}

	@media screen and ( max-height : 740px ) {
		.m-cut.social-cut {
			.main-content {
				padding-top: 10px;
			}

			.social-wall {
				@include transform(scale(0.9));
				@include transform-origin(top, center);
			}
		}
	}

	@media screen and ( max-height : 700px ) {
		.l-body.is-padding-arrow .l-side {
			min-height: calc(100vh - 120px);
			top: 60px;
		}

		.jQ-owl .item-info .desc {
			font-size: 12px;
			line-height: 1.5em;
		}

		.btn-read-more {
			&:before, &:after {
				height: 30px;
				line-height: 28px;
			}
		}

		.m-cut.social-cut .social-wall {
			@include transform(scale(0.8));
		}
	}

	@media screen and ( max-height : 650px ) {
		.m-cut.social-cut {
			.cut-title {
				margin-bottom: 0;
				padding: 24px 0;
			}

			.social-wall {
				@include transform(scale(0.7));
			}
		}
	}

	@media screen and ( max-height : 600px ) {
		.m-cut.social-cut .social-wall {
			@include transform(scale(0.6));
		}
	}

	@include screen('4/3') {
		.kv-owl .item img {
			width: auto;
			min-height: 100%;
		}
	}
}

@include respond(Desktops-Tablets) {
	.l-body.show-footer {
		.l-content {
			padding-bottom: 50px;
		}

		.l-footer {
			bottom: 0;
		}
	}

	.sub-owl {
		.owl-stage {
			@include transition-delay(1s !important);
		}

		&:hover .owl-stage {
			@include transition-delay(0s !important);
		}
	}

	.l-footer {
		position: fixed;
		bottom: -50px;
		left: 0;
		right: 0;
		@include transition(ease-in all 0.3s);
	}

	.m-footer {
		padding: 0 10px;

		.info-list .list {
			line-height: 1.5em;
		}

		.copyright {
			line-height: initial;
		}

		.copyright, .footer-logo {
			position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
		}
	}
}

@include respond(HD) {
	.m-footer {
		padding: 0;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.l-header, .l-side {
		display: none;
	}

	.l-body {
		position: relative;

		&:before, &:after {
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			position: absolute;
			left: 0;
		}

		&:before {
			background: #d60c18;
			top: 2px;
			opacity: 1;
			z-index: 0;
		}

		&:after {
			background: #004ca2;
			top: 6px;
		}

		.l-content {
			padding: 0 !important;
			background: $color-white;
			height: calc(100vh - 58px);
			min-height: 0;

			.l-content-hd {
				padding: 40px 0 20px 0;
				background: #f4f4f4;
				@include display-flex;
				@include align-items(center);
				@include justify-content(center);
				@include flex-direction(column);

				.hint {
					margin-top: 16px;
					color: $color-text-major;
					font-size: 14px;
					line-height: 1.5em;
				}
			}

			.l-content-bd {
				height: calc(100vh - 182px);
				overflow-y: scroll;
			}
		}

		.m-logo {
			position: relative;

			.b-link {
				width: 125px;
				height: 27px;

				img {
					width: 100%;
				}
			}
		}

		.location-list {
			margin: 0 24px;

			.list {
				position: relative;

				&:after {
					content: '';
					margin-top: -4px;
					display: block;
					width: 8px;
					height: 8px;
					position: absolute;
					top: 50%;
					right: 2px;
					border-right: 1px solid $color-gray-l-p10;
					border-bottom: 1px solid $color-gray-l-p10;
					box-sizing: border-box;
					@include transform(rotate(-45deg));
				}

				&:not(:first-child) {
					border-top: 1px solid $color-gray-l-p40;
				}
			}

			.b-link {
				padding: 13px 0;
				font-size: 15px;
				line-height: 1.6em;
			}

			.name {
				padding-right: 0.5em;
				color: $color-gray-d-p30;
			}

			.distance {
				color: $color-gray-l-p30;
			}
		}
	}

	.l-footer {
		background: $color-gray-d-p30;
		bottom: 0;
	}

	.m-footer .text {
		padding: 17px 0;
		color: $color-white;
		font-size: 12px;
		line-height: 2em;
	}
}

@include respond(Mobiles) {
	.m-footer {
		padding: 0;
	}
}

@include respond(Iphone5) {}

@include browsers('IE') {
	.owl-stage .owl-item {
		&.active .item-info {
			opacity: 1;
		}

		.item-info {
			opacity: 0;
		}
	}
}

@include browsers('IE9') {
	.m-cut .main-content {
		.main-owl, .sub-owl {
			float: left;
		}
	}

	.social-cut.m-cut {
		.main-content {
			overflow: hidden;
		}

		.cut-title {
			margin-top: 120px;
		}

		.social-wall {
			margin: 0 auto;
			
			.list-item .b-link {
				opacity: 1;
			}
		}
	}

	.m-footer {
		padding-top: 10px;
		position: relative;

		> * {
			display: inline-block;
			vertical-align: middle;
		}

		.footer-logo {
			margin-top: -19px;
			position: absolute;
			top: 50%;
			right: 0;
		}
	}
}