.m-section {
	margin: 0 auto;
}

.m-section-bd {
	background: $color-white;

	.result-area {
		font-size: 0;
	}

	.result-response {
		color: $color-text-major;
		font-size: 30px;

		.result-text {
			font-weight: bold;
		}
	}

	.main-result .text {
		margin-bottom: 5px;
		color: $color-black;
		font-size: 16px;
		line-height: 1.5em;
	}

	.m-lab {
		vertical-align: top;

		.text {
			margin-bottom: 5px;
			color: $color-black;
			font-size: 16px;
			line-height: 1.5em;
			word-break: break-all;
			word-wrap: break-word;
		}
	}

	.btn-wrap {
		font-size: 0;
		line-height: 0;
	}

	.btn-link {
		color: $color-white;
		@include transition(ease-in all 0.3s);

		.text {
			font-size: 14px;
		}

		.m-icon {
			font-size: 20px;
		}

		> *:first-child {
			margin-right: 5px;
		}
	}
}

.img-wrap {
	text-align: center;

	img {
		max-width: 100%;
	}
}

@include respond(Desktops) {
	.m-section-bd {
		padding-top: 80px;
		padding-right: 60px;
		padding-left: 60px;

		.m-lab {
			margin-top: 15px;
			padding-left: 40px;
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-cut {
		margin-right: 10px;
		margin-left: 10px;
		padding: 50px 0 100px 0;
	}

	.m-section {
		max-width: 1140px;
	}

	.m-section-bd {
		padding-bottom: 30px;

		.main-result {
			margin: 30px 0;
		}

		.btn-wrap {
			margin-top: 30px;
		}

		.btn-link {
			margin: 0 8px;
			height: 50px;
			line-height: 50px;
		}
	}
}

@include respond(HD) {
	.m-section {
		width: 1140px;
	}
}

@include respond(Tablets) {
	.m-section-bd {
		padding-top: 40px;
		padding-right: 80px;
		padding-left: 80px;
	}
}

@include respond(Tablets-Mobiles) {
	.m-section-bd .m-lab {
		margin-top: 15px;
	}
}

@include respond(Mobiles) {
	.m-cut {
		margin: 10px;
		padding-bottom: 10px;
	}

	.m-section-bd {
		padding: 20px;

		.main-result {
			margin: 15px 0;
		}

		.m-lab {
			@include display-flex;

			.key {
				white-space: nowrap;
			}
		}

		.btn-wrap {
			margin-top: 10px;
			@include display-flex;
			@include align-items(center);
			@include justify-content(space-between);
		}

		.btn-link {
			@include flex-grow(1);
			width: 50%;
			height: 40px;
			line-height: 40px;

			&:first-child {
				margin-right: 5px;
			}

			&:last-child {
				margin-left: 5px;
			}
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {}

@include browsers('IE9') {}

@include browsers('Safari') {}