.latest-events {
	.menu-list.is-highlight:before {
		display: none;
	}

	.l-content .main-tab .btn-tab {
		background: #6f132a;
	}

	.l-content .main-tab .btn-tab.is-curr, .sub-tab .m-tab-wrap {
		background: #d12249;
	}
}

.l-content .main-tab {
	.m-tab-wrap {
		margin: 0 10px;
	}

	.btn-tab {
		background: $color-gray-d-p30;
		width: 100%;
		position: relative;
		color: $color-white;
		font-weight: bold;

		&:after {
			content: '';
			margin-left: -22px;
			background: none;
			display: block;
			width: 44px;
			height: 3px;
			position: absolute;
			bottom: 4px;
			left: 50%;
		}

		&.is-curr {
			background: #ff6a5b;

			&:after {
				background: $color-white;
			}
		}
	}

	.sub-tab .btn-tab {
		background: none;

		&.is-curr {
			color: #fff100;

			&:after {
				background: #fff100;
			}
		}
	}
}

.sub-tab .m-tab-wrap {
	background: #ff6a5b;
	@include display-flex;
	@include align-items(center);
	@include justify-content(flex-start);

	.tab-list {
		position: relative;

		&:before {
			content: '';
			background: $color-white;
			width: 1px;
			position: absolute;
			top: 50%;
			left: 0;
		}
	}
}

.activities-list {
	margin: 0 auto;
	padding-bottom: 58px;
	font-size: 0;
	line-height: 0;

	.list {
		margin: 0 10px;
		background: $color-white;
		display: inline-block;
		position: relative;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
		vertical-align: top;
		letter-spacing: 1px;

		> .b-link {
			display: block;
		}
	}

	.img-wrap {
		overflow: hidden;

		img {
			width: 100%;
			@include transition(ease-in all 0.3s);
		}

		.desc {
			display: none;
		}
	}

	.act-title {
		color: $color-gray-d-p30;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5em;
	}

	.act-time, .desc {
		font-size: 14px;
	}

	.act-time {
		display: block;
		color: $color-gray-l-p20;
		font-weight: bold;
		line-height: 1.5em;
	}

	.desc {
		margin-top: 12px;
		padding: 16px 0;
		position: relative;
		color: $color-gray-d-p30;
		line-height: 1.5em;

		&:before {
			content: '';
			background: $color-gray-d-p30;
			display: block;
			width: 36px;
			height: 4px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.act-type {
		position: absolute;
		line-height: 1.5em;

		> * {
			display: inline-block;
			vertical-align: middle;
			line-height: 24px;
		}

		.m-icon {
			font-size: 24px;
		}
	}

	.btn-calendar {
		position: absolute;
		color: $color-gray-l-p20;

		.m-icon {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			text-align: left;

			&:before, &:after {
				position: absolute;
				@include transition(ease-in all 0.3s);
			}

			&:after {
				content: '\e915';
				opacity: 0;
				color: $color-text-major;
			}
		}

		&.is-add .m-icon {
			&:before {
				opacity: 0;
			}

			&:after {
				opacity: 1;
			}
		}
	}
}

@include respond(Desktops) {
	.l-content .main-tab {
		.m-tab-wrap .btn-tab:not(.is-curr):hover {
			color: #fff100;
		}

		.sub-tab {
			.btn-tab {
				height: 90px;
				font-size: 18px;
				line-height: 90px;
	
				&:after {
					height: 9px;
				}
			}
	
			.m-tab-wrap .tab-list:first-child:before {
				display: none;
			}
		}
	}

	.activities-list .list {
		width: calc((100% - 60px) / 3);

		.b-link:hover .img-wrap img {
			@include transform(scale(1.05));
		}
	}
}

@include respond(Desktops-Tablets) {
	.cut-title {
		margin-top: 27px;
	}

	.l-content .main-tab {
		margin: 0 auto;

		.btn-tab {
			height: 60px;
			font-size: 20px;
			line-height: 60px;
			@include transition(ease-in all 0.3s);

			&:after {
				@include transition(ease-in all 0.3s);
			}
		}

		.sub-tab {
			.btn-tab:after {
				margin-left: -45px;
				width: 90px;
				bottom: 0;
			}

			.m-tab-wrap {
				margin-bottom: 50px;
	
				.tab-list {
					@include flex-grow(1);
	
					&:not(:first-child):before {
						margin-top: -9px;
						height: 18px;
					}
				}
			}
		}
	}

	.activities-list {
		@include display-flex;
		@include flex-wrap(wrap);

		.list {
			margin-bottom: 50px;
		}

		.act-info {
			padding: 36px 36px 56px 36px;
		}

		.act-time {
			margin-top: 18px;
		}

		.act-type {
			bottom: 22px;
			left: 36px;

			.text {
				font-size: 16px;
			}
		}

		.btn-calendar {
			width: 34px;
			height: 34px;
			bottom: 17px;
			right: 36px;
			font-size: 34px;
			line-height: 34px;
		}
	}
}

@include respond(HD) {
	.l-content .main-tab {
		width: 1320px;
	}

	.activities-list .list {
		width: 420px;
	}
}

@include respond(Tablets) {
	.l-content .main-tab .sub-tab .m-tab-wrap .tab-list {
		width: 20%;

		&:nth-child(5n + 1):before {
			display: none;
		}
	}

	.activities-list .list {
		width: calc((100% - 40px) / 2);
	}
}

@include respond(Tablets-Mobiles) {
	.l-content .main-tab .sub-tab {
		.btn-tab {
			height: 60px;
			font-size: 18px;
			line-height: 60px;

			&:after {
				height: 3px;
			}
		}

		.m-tab-wrap {
			@include flex-wrap(wrap);
		}
	}
}

@include respond(Mobiles) {
	.latest-events .l-content .main-tab .sub-tab .m-tab-wrap .m-selection {
		background: #d12249;
	}

	.cut-title {
		margin-top: 15px;
	}

	.l-content .main-tab {
		.btn-tab {
			height: 40px;
			font-size: 16px;
			line-height: 40px;
		}

		.sub-tab {
			.m-tab-wrap {
				margin-bottom: 20px;

				&.jQ-tag-select {
					padding: 0 20px;
					position: relative;

					&:after {
						content: '';
						position: absolute;
						top: 17px;
						right: 20px;
						border-top: 6px solid $color-white;
						border-right: 6px solid transparent;
						border-left: 6px solid transparent
					}
				}

				.tab-list {
					width: 33.3%;

					&:before {
						margin-top: -8px;
						height: 16px;
					}

					&:nth-child(3n + 1):before {
						display: none;
					}
				}

				.m-selection {
					background: #ff6a5b;
					width: 100%;
					height: 40px;
					color: $color-white;
					font-size: 14px;
					line-height: 40px;
				}
			}

			.btn-tab {
				height: 40px;
				font-size: 14px;
				line-height: 40px;

				&:after {
					margin-left: -35px;
					width: 70px;
					bottom: 0;
				}
			}
		}
	}

	.activities-list {
		.list {
			margin-bottom: 20px;
		}

		.act-info {
			padding: 18px 18px 36px 18px;
		}

		.act-type {
			bottom: 16px;
			left: 18px;

			.text {
				font-size: 12px;
			}
		}

		.btn-calendar {
			width: 44px;
			height: 44px;
			bottom: 2px;
			right: 8px;
			font-size: 24px;
			line-height: 44px;

			.m-icon {
				&:before, &:after {
					margin: -12px 0 0 -12px;
					top: 50%;
					left: 50%;
				}
			}
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {
	.activities-list .list {
		width: calc((100% - 61px) / 3);
	}
}

@include browsers('IE9') {
	.l-content .main-tab .sub-tab .m-tab-wrap {
		display: table;
		width: calc(100% - 20px);
		@include box-sizing(border-box);

		> * {
			display: table-cell;
		}
	}
}

@include browsers('Safari') {}