.m-accordion {
	margin-bottom: -2px;

	&.is-open .btn-switch {
		&:before {
			@include transform(rotate(0deg));
		}

		&:before, &:after {
			background: #fd6b5c;
		}
	}
}

.m-accordion-hd {
	background: $color-white;
	border: 1px solid $color-gray-l-p30;

	.btn-switch {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			@include box-sizing(border-box);
			@include transition(ease-in all 0.3s);
			@include transform(rotate(90deg));
		}

		&:before, &:after {
			margin-top: -2px;
			background: $color-gray-d-p30;
			width: 24px;
			height: 4px;
			right: 56px;
		}
	}
}

.m-accordion-bd {
	border: 1px solid $color-gray-l-p30;
	border-top: 0;

	.order-list {
		margin-left: 20px;
		list-style: decimal;
	}
}

@include respond(Desktops) {
}

@include respond(Desktops-Tablets) {
	.m-accordion-hd .btn-switch {
		padding-left: 50px;
		height: 60px;
		font-size: 16px;
		line-height: 60px;
	}

	.m-accordion-bd {
		padding-left: 50px;
	}
}

@include respond(HD) {
}

@include respond(Tablets) {
}

@include respond(Tablets-Mobiles) {
}

@include respond(Mobiles) {}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {}

@include browsers('Safari') {}