.l-header {
	background: $color-white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.main-menu {
	@include justify-content(flex-end);
}

.menu-list > .list .text {
	font-weight: bold;
	@include transition(ease-in all 0.3s);

	&:after {
		display: none;
	}

	&:hover, &.is-curr {
		color: #d60c18;
	}
}

.login .m-cut-bd .m-lab .alert {
	left: auto;
	right: 0;
}

.change-password .m-cut-bd .msg {
	color: $color-gray-d-p10;
	font-weight: normal;
}

.quick-login {
	.media-connect .list {
		@include display-flex;
		@include align-items(center);
		@include justify-content(space-between);

		> *:first-child {
			@include display-flex;
			@include align-items(center);
		}

		&:not(:first-child) {
			border-top: 1px solid $color-gray-l-p30;
		}
	}

	.m-icon {
		border-radius: 50%;
		color: $color-white;

		&.m-icon-facebook {
			background: $color-facebook;
		}

		&.m-icon-google-plus {
			background: $color-google;
		}
	}
}

.faq .m-cut-bd {
	.m-accordion {
		margin-bottom: -1px;

		&.is-open .btn-switch {
			&:before {
				@include transform(rotate(0deg));
			}

			&:before, &:after {
				background: #fd6b5c;
			}
		}

		&.is-open:last-child .m-accordion-bd {
			border-bottom: 1px solid $color-gray-l-p30;
		}
	}

	.m-accordion-hd {
		background: $color-white;
		border: 1px solid $color-gray-l-p30;

		.btn-switch {
			font-weight: bold;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				@include box-sizing(border-box);
				@include transition(ease-in all 0.3s);
				@include transform(rotate(90deg));
			}

			&:before, &:after {
				background: $color-gray-d-p30;
			}
		}
	}

	.m-accordion-bd {
		background: #f4f4f4;
		border: 1px solid $color-gray-l-p30;
		border-bottom: 0;
		border-top: 0;

		.order-list {
			margin-left: 20px;
			list-style: decimal;
		}
	}
}

.terms, .policy {
	.term-list, .policy-list {
		color: $color-gray-d-p30;
		font-size: 14px;
		line-height: 1.8em;

		> .list {
			margin-bottom: 1.8em;
		}
	}

	.order-list {
		list-style-position: outside;

		&.is-cjk-ideographic {
			margin-left: 1.5em;
			list-style-type: cjk-ideographic;
		}

		&.is-decimal {
			margin-left: 1.2em;
			list-style-type: decimal;
		}

		&.is-lower-alpha {
			margin-left: 1.2em;
			list-style-type: lower-alpha;
		}
	}
}

.registration, .edit, .change-password {
	.is-reqired:before {
		content: '*';
	}

	.msg {
		color: $color-gray-d-p10;
		font-size: 14px;
		font-weight: normal;
	}
}

.certification {
	&[data-switch="1"] [data-index="1"], &[data-switch="2"] [data-index="2"] {
		display: block;
	}

	.switch-part {
		display: none;
	}

	.msg {
		font-size: 14px;
	}

	.btn-wrap {
		margin-top: 30px;

		> * {
			margin-top: 10px;
		}
	}

	.certification-form {
		margin-top: 30px;
	}
}

.complete {
	.m-icon-member-complete {
		font-size: 60px;
	}

	.main-msg {
		margin-top: 20px;
	}

	.btn-wrap {
		margin-top: 30px;
	}
}

.l-content {
	box-sizing: border-box;
}

.m-cut-bd {
	background: $color-white;
	position: relative;
	border: 1px solid $color-gray-l-p30;
	@include box-sizing(border-box);

	.text {
		color: $color-gray-d-p30;
		font-size: 16px;
		font-weight: bold;
		line-height: 36px;
	}

	.main-msg {
		font-weight: bold;
		line-height: 1.5em;
	}

	.b-link {
		display: inline-block;
		color: #004ca2;
		font-size: 14px;
		font-weight: bold;
		text-decoration: underline;
	}

	form {
		.m-box-holder {
			&:not(.is-checkbox):not(.is-radio) {
				border: 0;
			}

			&.error {
				border-color: $color-text-major;
			}
		}

		input[type="radio"] {
			@include appearance(radio);
		}

		.m-inputbox, .m-selection {
			border: 1px solid $color-gray-l-p10;

			&.is-error {
				border-color: $color-text-major;
			}
		}

		.alert {
			padding-left: 0;
			color: $color-text-major;
			font-size: 14px;
			font-weight: bold;
			line-height: 1.8em;
		}
	}

	.m-lab {
		font-size: 14px;

		&.jQ-checkbox {
			text-align: left;
		}

		.m-inputbox {
			width: 100%;
			height: 36px;
			font-size: 14px;
			line-height: 34px;
			@include box-sizing(border-box);
		}
	}

	.m-box-holder .m-selection {
		height: 36px;
		line-height: 36px;
	}

	.function-wrap {
		text-align: center;

		.btn-link {
			margin-top: 25px;
		}
	}

	.verification {
		.img-wrap {
			margin-bottom: 5px;
			width: 112px;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.b-link {
			display: inline-block;
			font-size: 14px;
			text-decoration: underline;
		}
	}

	.help-links-wrap {
		margin-top: 20px;
		@include display-flex;
		@include align-items(center);
		@include justify-content(space-between);

		.b-link {
			margin: 0 4px;
			display: inline-block;
		}
	}
}

.sub-title {
	padding-bottom: 12px;
	position: relative;
	color: $color-gray-d-p30;
	font-size: 24px;
	font-weight: bold;
	line-height: 2em;
	text-align: left;

	&:after {
		content: '';
		background: $color-gray-d-p30;
		display: block;
		width: 35px;
		height: 4px;
		position: absolute;
		bottom: 8px;
		left: 0;
	}
}

.desc {
	color: $color-gray-d-p30;
	font-size: 14px;
	line-height: 1.8em;
}

.btn-link {
	background: $color-white;
	display: inline-block;
	height: 40px;
	border: 1px solid $color-gray-d-p30;
	color: $color-gray-d-p30;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 38px;
	text-align: center;
	@include box-sizing(border-box);
	@include transition(ease-in all 0.3s);

	&:hover {
		background: $color-text-major;
		border-color: $color-text-major;
		color: $color-white;
	}

	> * {
		display: inline-block;
		vertical-align: middle;
		line-height: 38px;
	}

	.m-icon {
		padding-right: 10px;
	}

	&.fb-login, &.google-login {
		margin-right: auto;
		margin-left: auto;
	}

	&.fb-login {
		background: $color-facebook;
		border: 1px solid $color-facebook;

		&:hover {
			background: darken($color-facebook , 10%);
			border-color: darken($color-facebook , 10%);
		}

		> * {
			color: $color-white;
		}

		.m-icon {
			font-size: 22px;
		}
	}

	&.google-login {
		background: $color-google;
		border: 1px solid $color-google;

		&:hover {
			background: darken($color-google , 10%);
			border-color: darken($color-google , 10%);
		}

		> * {
			color: $color-white;
		}

		.m-icon {
			font-size: 32px;
		}
	}
}

.guest-msg, .guest-msg .b-link {
	font-size: 16px;
}

.step-list {
	@include display-flex;
	@include justify-content(space-between);

	@for $i from 1 through 3 {
		.list:nth-child(#{$i}) .step-title:after {
			content: '#{$i}';
		}
	}

	.list {
		position: relative;

		&:before {
			content: '';
			background: $color-gray-l-p20;
			display: block;
			position: absolute;
		}
	}

	.is-curr {
		&:before, .m-icon {
			background: $color-text-major;
		}

		.list-content {
			color: $color-text-major;

			.desc {
				color: $color-text-major;
			}
		}
	}

	.m-icon {
		background: $color-gray-l-p20;
		border-radius: 50%;
		color: $color-white;
	}

	.list-content {
		color: $color-gray-l-p20;
		font-weight: bold;

		.desc {
			color: $color-gray-l-p20;
		}
	}
}

.l-footer {
	background: #f4f4f4;
}

.m-footer {
	.info-list .b-link, .copyright {
		color: $color-black;
		font-size: 15px;
		line-height: 1.5em;
	}

	.info-list .list:after {
		background: $color-black;
	}
}

@include respond(Desktops) {
	.l-header {
		height: 70px;
	}

	.l-body {
		&.show-header .l-content {
			padding-top: 70px;
		}

		.l-content {
			min-height: calc(100vh - 78px);
		}
	}

	.login .m-cut-bd {
		&:before {
			top: 72px;
			bottom: 72px;
		}

		> *:first-child {
			padding: 0 30px;
		}

		> *:last-child {
			padding: 0 48px;
		}
	}

	.m-cut-bd {
		margin: 20px;
		padding: 72px 48px;

		> * {
			margin: 0 auto;
			width: 960px;
		}
	}

	.cut-title {
		margin-top: 27px;
	}

	.step-list {
		.m-icon {
			width: 100px;
			height: 100px;
			font-size: 50px;
			line-height: 100px;
		}

		.list-content > * {
			padding-left: 20px;
			line-height: 50px;
		}

		.step-title {
			font-size: 36px;
		}

		.desc {
			font-size: 16px;
		}
	}

	.m-footer {
		padding-right: 52px;
		padding-bottom: 28px;
	}
}

@include respond(Desktops-Tablets) {
	.login .m-cut-bd {
		&:before {
			content: '';
			background: $color-gray-l-p30;
			display: block;
			width: 1px;
			position: absolute;
			left: 50%;
		}

		.m-lab .text:first-child {
			padding-right: 16px;
		}
	}

	.forget-password {
		.m-cut-bd form > *:not(:first-child) {
			margin-top: 30px;
		}

		.desc, .desc .b-link {
			font-size: 16px;
			line-height: 1.75em;
		}
	}

	.change-password .m-cut-bd {
		padding-right: 24px;
		padding-left: 24px;

		form {
			width: auto;

			> * {
				margin-top: 20px;

				&:last-child {
					margin-top: 60px;
				}
			}
		}

		.m-lab .text:first-child {
			padding-right: 16px;
		}

		.msg {
			padding-left: 10px;
		}
	}

	.change-password-complete {
		.m-cut-bd > *:not(:first-child) {
			margin-top: 40px;
		}

		.main-msg {
			font-size: 24px;
		}

		.m-icon-lock {
			font-size: 64px;
		}
	}

	.quick-login .m-cut-bd {
		.media-connect .list {
			padding: 30px 0;

			> *:first-child {
				@include justify-content(flex-start);
			}
		}

		.text {
			padding: 0 30px;
		}

		.m-icon {
			width: 54px;
			height: 54px;
			font-size: 36px;
			line-height: 54px;
		}

		.btn-link {
			padding: 0 48px;
			min-width: 0;
		}
	}

	.faq .m-cut-bd {
		.m-accordion-hd .btn-switch {
			padding: 10px 60px 10px 61px;
			min-height: 60px;
			font-size: 16px;
			line-height: 1.5em;
			text-indent: -31px;

			&:before, &:after {
				margin-top: -2px;
				width: 24px;
				height: 4px;
				right: 30px;
			}
		}

		.m-accordion-bd {
			padding: 0 30px;

			.order-list {
				margin: 20px 0 20px 20px;
				font-size: 16px;
				line-height: 1.8em;
			}
		}
	}

	.registration, .edit {
		.info-form .list {
			margin-bottom: 35px;
		}

		.value-form > * {
			padding-left: 20px;
		}

		.address-set .value-form > *:last-child {
			margin-top: 20px;
		}
	}

	.certification {
		.main-msg {
			font-size: 24px;
		}

		.m-icon-sand-mail {
			font-size: 84px;
		}

		.m-cut-bd form .alert {
			position: relative;
		}
	}

	.complete .main-msg {
		font-size: 24px;
	}

	.m-cut-hd {
		padding-top: 20px;
	}

	.m-cut-bd {
		form .alert {
			position: absolute;
			top: 100%;
			left: 0;
		}

		.is-selector ~ * {
			padding-left: 10px;
		}

		.function-wrap {
			&:not(:last-child) {
				margin-bottom: 50px;
			}

			.m-lab {
				margin-top: 0;
			}

			.verification .b-link:hover {
				text-decoration: none;
			}
		}

		.help-links-wrap .b-link:hover {
			text-decoration: none;
		}

		.m-lab.error .alert {
			margin-bottom: -20px;
		}
	}

	.sub-title ~ * {
		margin-top: 20px;
	}

	.btn-link {
		min-width: 250px;
	}

	.step-list {
		margin: 45px 0;
		@include align-items(center);
		font-size: 0;
		line-height: 0;

		.list {
			@include flex-grow(1);

			&:before {
				width: 100%;
				height: 1px;
				top: 50%;
				left: 0;
			}
		}

		.list, .list > * {
			display: inline-block;
			vertical-align: top;
		}

		.list-content > * {
			display: block;
			text-align: left;
		}
	}

	.m-footer {
		@include display-flex;
		@include align-items(center);
		@include justify-content(space-between);

		.copyright {
			position: relative;
			left: auto;
			bottom: auto;
		}
	}
}

@include respond(HD) {
	.faq, .registration, .edit, .certification, .terms, .policy {
		.m-cut-bd {
			padding: 72px 168px
		}
	}

	.m-cut-bd {
		margin: 20px auto;
		width: 1300px;
	}
}

@include respond(Tablets) {
	.l-body .l-content {
		padding-top: 36px;
		min-height: calc(100vh - 62px);
	}

	.l-header {
		height: 36px;
	}

	.l-content {
		min-height: calc(100vh - 62px);
	}

	.login .m-cut-bd:before {
		top: 30px;
		bottom: 30px;
	}

	.cut-title {
		margin-top: 15px;
	}

	.m-cut-bd {
		margin: 25px 20px;
		padding: 30px 0;
	}

	.step-list {
		.m-icon {
			width: 80px;
			height: 80px;
			font-size: 40px;
			line-height: 80px;
		}

		.list-content > * {
			padding-left: 15px;
			line-height: 40px;
		}

		.step-title {
			font-size: 30px;
		}

		.desc {
			font-size: 12px;
		}
	}

	.m-footer {
		padding: 20px 20px 20px 10px;
	}
}

@include respond(Tablets-Mobiles) {
	.l-header {
		max-height: 56px;
	}

	.change-password .m-cut-bd .msg {
		line-height: 1.5em;
	}

	.m-cut-bd > * {
		padding: 0 24px;
	}

	.cut-title {
		padding: 15px 30px;
	}
}

@include respond(Mobiles) {
	.l-header.is-active .l-nav {
		padding-bottom: 0;
	}

	.l-body .l-content {
		min-height: calc(100vh - 56px);
	}

	.m-cut-hd {
		padding-top: 14px;
	}

	.m-cut-bd {
		margin: 0 10px 25px 10px;
		padding: 25px 0;

		form > *:not(:last-child), > *:not(:last-child), .function-wrap:not(:last-child) {
			margin-bottom: 20px;
		}

		.main-msg {
			font-size: 16px;
		}
	}

	.login .m-cut-bd .m-lab .text:first-child {
		padding-right: 10px;
	}

	.change-password .m-cut-bd {
		form {
			margin-top: 0 !important;

			> *:last-child {
				margin-top: 20px;
			}
		}

		.msg {
			margin-top: 10px;
		}

		> *:last-child {
			margin-top: 20px;
		}
	}

	.change-password-complete .m-cut-bd .m-icon-lock {
		font-size: 64px;
	}

	.quick-login .m-cut-bd {
		.media-connect .list {
			padding: 15px 0;
			@include flex-direction(column);

			> *:first-child {
				@include justify-content(center);
			}

			.btn-link {
				margin-top: 10px;
			}
		}

		.text {
			padding: 0 10px;
		}

		.m-icon {
			width: 28px;
			height: 28px;
			font-size: 18px;
			line-height: 28px;
		}
	}

	.faq .m-cut-bd {
		.m-accordion-hd .btn-switch {
			padding: 12px 40px 12px 38px;
			min-height: 30px;
			font-size: 14px;
			line-height: 1.5em;
			text-indent: -28px;

			&:before, &:after {
				margin-top: -1px;
				width: 12px;
				height: 2px;
				right: 12px;
			}
		}

		.m-accordion-bd {
			padding: 0 15px;

			.order-list {
				margin: 10px 0 10px 10px;
				font-size: 13px;
				line-height: 1.8em;
			}
		}
	}

	.registration, .edit {
		.guest-msg {
			line-height: 1.5em;
		}

		.info-form .list:not(:last-child) {
			margin-bottom: 20px;
		}

		.m-cut-bd .m-lab.jQ-checkbox {
			margin-bottom: 10px;
			@include display-flex;

			.text {
				width: calc(100% - 25px);
				line-height: 1.5em;
			}
		}

		.msg {
			margin-top: 5px;
		}

		.address-set .value-form > *:last-child {
			margin-top: 10px;
		}
	}

	.certification {
		.guest-msg {
			line-height: 1.5em;
		}

		.main-msg {
			font-size: 24px;
		}

		.m-icon-sand-mail {
			font-size: 84px;
		}

		.verification {
			margin-top: 10px;

			.b-link {
				padding-left: 10px;
			}
		}
	}

	.step-list {
		margin: 20px 0;
		@include align-items(flex-start);

		.list {
			@include display-flex;
			@include align-items(center);
			@include flex-direction(column);
			@include justify-content(flex-start);

			&:not(:last-child):before {
				width: calc((100vw - 188px) / 2);
				height: 1px;
				top: 30px;
				left: 50%;
			}

			&:last-child:before {
				display: none;
			}
		}

		.m-icon {
			width: 60px;
			height: 60px;
			font-size: 30px;
			line-height: 60px;
		}

		.list-content > * {
			display: block;
			line-height: 30px;
		}

		.step-title {
			font-size: 24px;
		}

		.desc {
			font-size: 12px;
			text-align: center;
		}
	}

	.m-footer {
		padding: 0 10px 10px 10px;

		.info-list {
			.list {
				padding: 0 10px 0 9px;

				&:not(:first-child) {
					border-left: 1px solid;
				}
			}

			.b-link {
				font-size: 12px;
			}
		}

		.copyright {
			font-size: 12px;
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {
	.m-cut-bd {
		> * {
			padding: 0 10px;
		}

		.m-lab.jQ-checkbox .text {
			font-size: 12px;
		}

		.help-links-wrap .b-link {
			margin: 0 0 0 3px;

			&:first-child {
				margin: 0;
			}
		}
	}

	.btn-link {
		letter-spacing: 0;
	}

	.step-list .list:not(:last-child):before {
		width: 33vw;
	}
}

@include browsers('IE') {}

@include browsers('IE9') {}

@include browsers('Safari') {}