.m-cut-hd {
	background: $color-gray-l-p40;
}

.m-cut-bd {
	position: relative;
	@include box-sizing(border-box);

	.m-lab {
		font-size: 14px;

		&.jQ-checkbox {
			text-align: left;
		}

		&.error .alert {
			display: block;
		}

		.text {
			color: $color-gray-d-p30;
			font-weight: bold;
			line-height: 36px;
		}

		.m-inputbox {
			width: 100%;
			height: 36px;
			font-size: 14px;
			line-height: 34px;
			@include box-sizing(border-box);
		}

		.alert {
			margin-top: 5px;
			display: none;
			color: $color-text-major;
			font-weight: bold;
			line-height: 1.5em;
			text-align: center;
		}
	}

	.function-wrap {
		text-align: center;

		.verification {
			.img-wrap {
				margin-bottom: 5px;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.b-link {
				display: inline-block;
				font-size: 14px;
				text-decoration: underline;
			}
		}

		.btn-link {
			margin-top: 25px;
		}
	}

	.help-links-wrap {
		margin-top: 20px;
		text-align: center;

		.b-link {
			margin: 0 4px;
			display: inline-block;
			font-size: 14px;
			text-decoration: underline;
		}
	}
}

.sub-title {
	margin-bottom: 12px;
	position: relative;
	color: $color-gray-d-p30;
	font-size: 20px;
	font-weight: bold;
	line-height: 2em;
	text-align: left;

	&:after {
		content: '';
		background: $color-gray-d-p30;
		display: block;
		width: 35px;
		height: 4px;
		position: absolute;
		bottom: -4px;
		left: 0;
	}
}

.desc {
	color: $color-gray-d-p30;
	font-size: 15px;
	line-height: 1.5em;
}

.btn-link {
	background: $color-white;
	display: inline-block;
	height: 40px;
	border: 1px solid $color-gray-d-p30;
	color: $color-gray-d-p30;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 38px;
	text-align: center;
	@include box-sizing(border-box);
	@include transition(ease-in all 0.3s);

	&:hover {
		background: $color-text-major;
		border-color: $color-text-major;
		color: $color-white;
	}

	> * {
		display: inline-block;
		vertical-align: middle;
		line-height: 38px;
	}

	.m-icon {
		padding-right: 10px;
	}

	&.fb-login {
		background: $color-facebook;
		color: $color-white;

		.m-icon {
			font-size: 22px;
		}
	}

	&.google-login {
		background: $color-google;
		color: $color-white;

		.m-icon {
			font-size: 32px;
		}
	}
}

@include respond(Desktops) {
	.login .m-cut-bd {
		> *:first-child {
			padding: 0 60px;
		}

		> *:last-child {
			padding: 0 48px;
		}
	}

	.m-cut-bd {
		margin: 50px auto 100px auto;
		padding: 0 24px;
		width: 960px;
	}
}

@include respond(Desktops-Tablets) {
	.login .m-cut-bd:before {
		content: '';
		background: $color-gray-l-p30;
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
	}

	.m-cut-hd {
		padding-top: 27px;
	}

	.m-cut-bd {
		.m-lab {
			margin-top: 20px;

			.text:first-child {
				padding-left: 16px;
			}
		}

		.function-wrap {
			&:not(:last-child) {
				margin-bottom: 50px;
			}

			.m-lab {
				margin-top: 0;
			}

			.verification .b-link:hover {
				text-decoration: none;
			}
		}

		.help-links-wrap .b-link:hover {
			text-decoration: none;
		}
	}

	.btn-link {
		min-width: 192px;

		&.fb-login, &.google-login {
			min-width: 250px;
		}
	}
}

@include respond(HD) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.login .m-cut-bd > * {
		padding: 0 24px;
	}

	.m-cut-bd {
		margin: 25px auto;
	}
}

@include respond(Mobiles) {
	.m-cut-hd {
		padding-top: 14px;
	}

	.m-cut-bd {
		> *:not(:last-child), .function-wrap:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {
	.m-cut-bd {
		> * {
			padding: 0 10px;
		}

		.m-lab.jQ-checkbox .text {
			font-size: 12px;
		}

		.help-links-wrap .b-link {
			margin: 0 0 0 3px;

			&:first-child {
				margin: 0;
			}
		}
	}

	.btn-link {
		letter-spacing: 0;
	}
}

@include browsers('IE') {}

@include browsers('IE9') {}

@include browsers('Safari') {}