.merchandise-info {
	.info-header {
		font-size: 14px;
		line-height: 1.7em;

		> * {
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 1.7em;
			@include box-sizing(border-box);

			&:not(:first-child) {
				border-top: 1px solid $color-gray-l-p30;
			}
		}

		.item-name {
			font-weight: bold;
		}
	}

	.photo-album {
		.img-wrap {
			@include display-flex;
			@include align-items(flex-start);
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.photo-slider {
			.owl-stage {
				margin: 0;
				@include display-flex;
				@include align-items(stretch);
				@include justify-content(space-between);

				.owl-item {
					@include display-flex;
				}
			}

			.img-wrap {
				opacity: 0.2;
				@include transition(ease-in all 0.5s);

				&.is-curr, &:hover {
					opacity: 1;
				}
			}

			.m-owl-ctrl {
				.owl-prev {
					left: 5px;
				}
		
				.owl-next {
					right: 5px;
				}
			}
		}
	}

	.item-detail {
		> * {
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 1.7em;
			@include box-sizing(border-box);

			&:not(:first-child) {
				border-top: 1px solid $color-gray-l-p30;
			}
		}

		.item-tag {
			color: #004ca2;
			display: block;
		}

		.marketing-wording {
			margin-top: 10px;

			.list {
				padding-left: 14px;
				position: relative;
				color: $color-gray-d-p30;
		
				&:before {
					content: '';
					background: $color-gray-d-p30;
					display: block;
					width: 4px;
					height: 4px;
					position: absolute;
					top: 9px;
					left: 2px;
					@include transform(rotate(45deg));
				}
			}
		}

		.gift {
			color: $color-gray-d-p30;
			font-weight: bold;

			.gift-title {
				margin-bottom: 10px;
			}

			.gift-info {
				@include display-flex;
				@include align-items(center);
				@include justify-content(flex-start);

				> .desc {
					padding: 0 20px;
				}
			}
		
			.img-wrap {
				@include display-flex;
				@include align-items(center);
				@include justify-content(space-between);
				width: 82px;
				height: 82px;
				min-width: 82px;
				border: 1px solid $color-gray-l-p20;
				overflow: hidden;

				img {
					width: 100%;
				}
			}
		}

		.item-price {
			> * {
				display: block;
			}

			.original-price {
				color: $color-gray-d-p30;
				font-weight: bold;
				font-size: 12px;
				text-decoration: line-through;
			}

			.discount-price {
				color: $color-text-major;
				font-size: 16px;
				font-weight: bold;
			}
		}

		.item-selection {
			> * {
				overflow: hidden;
				@include box-sizing(border-box);
			}

			.m-box-holder.is-selector {
				height: 40px;

				.m-selection {
					line-height: 38px;
				}
			}
		}

		.payment-info {
			color: $color-gray-d-p40;
		}

		.btn-wrap .btn-link {
			> * {
				display: inline-block;
				vertical-align: middle;
			}

			&.btn-like {
				line-height: 0;
				
				&.is-add .m-icon:after {
					opacity: 1;
				}

				.m-icon {
					width: 20px;
					height: 20px;

					&:before, &:after {
						margin: -10px 0 0 -10px;
						position: absolute;
						top: 50%;
						left: 50%;
					}

					&:after {
						content: '\e905';
						opacity: 0;
						color: $color-text-major;
						@include transition(ease-in opacity 0.3s);
					}
				}
			}

			.m-icon {
				font-size: 20px;
			}

			.text {
				margin-left: 10px;
				font-size: 14px;
			}
		}

		.btn-share {
			&:hover .text {
				color: $color-text-major;
			}

			.text {
				color: $color-gray-d-p40;
				@include transition(ease-in all 0.3s);
			}

			.m-icon {
				margin-left: 8px;
				background: $color-facebook;
				display: inline-block;
				width: 26px;
				height: 26px;
				border-radius: 50%;
				color: $color-white;
				line-height: 26px;
				text-align: center;
			}
		}
	}
}

.l-content .main-tab {
	margin: 0;
	background: $color-white;
	border: 1px solid $color-gray-l-p40;
	@include box-sizing(border-box);

	.m-tab-wrap > .tab-list {
		.btn-tab {
			&:hover .text, &.is-curr .text {
				color: $color-text-major;
			}
		}

		.text {
			color: $color-gray;
			font-size: 14px;
			font-weight: normal;
			line-height: 30px;
		}
	}
}

.ranking-title {
	font-size: 30px;
	font-weight: bold;
	line-height: 1.5em;
}

.shopping-list {
	position: relative;

	&:not(.owl-loaded) {
		@include display-flex;
		@include align-items(stretch);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);

		> .list {
			@include display-flex;
			@include align-items(stretch);
		}

		.shopping-link {
			width: 100%;
		}
	}

	.list {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
	}

	.shopping-link {
		height: auto;
	}

	.btn-read-more:hover {
		background: $color-text-major;
		border-color: $color-text-major;
		color: $color-white;
	}
}

.counter {
	@include display-flex;

	> * {
		height: 40px;
		border: 1px solid $color-gray-l-p40;
		color: $color-gray-d-p30;
		line-height: 38px;
	}

	.btn-count {
		background: $color-white;
		width: 40px;
		font-size: 14px;
		@include transition(ease-in all 0.3s);

		&:hover {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
		}
	}

	.m-box-holder {
		width: calc(100% - 80px);
		border-right: 0;
		border-left: 0;
	}

	.m-inputbox {
		width: 100%;
		height: 38px;
		vertical-align: top;
		line-height: 38px;
		text-align: center;
		@include box-sizing(border-box);
	}
}

.btn-link {
	display: inline-block;
	color: $color-white;
	text-align: center;
	@include transition(ease-in all 0.3s);
}

@include respond(Desktops) {
	.main-content {
		margin: 0 10px;
		padding-bottom: 100px;
	}

	.merchandise-info {
		padding-left: 50%;
		min-height: 720px;
		position: relative;
		overflow: hidden;

		.info-header .item-name {
			padding-bottom: 0;
		}

		.photo-album {
			width: 50%;
			max-width: 600px;
			position: absolute;
			top: 0;
			left: 0;

			.photo-hd {
				margin-bottom: 8px;
				max-height: 600px;
			}

			.photo-slider .owl-stage .owl-item {
				cursor: pointer;
			}
		}

		.item-detail .item-price .item-code {
			margin-bottom: 10px;
		}
	}

	.l-content .main-tab > .m-tab-content {
		padding-top: 30px;
	}

	.shopping-list {
		padding: 15px 0;

		&:not(.owl-loaded) > .list {
			margin-right: 30px !important;
			width: calc((100% - 150px) / 4) !important;

			&:nth-child(4) {
				margin-right: 20px !important;
			}
		}

		&.jQ-owl .m-owl-ctrl {
			margin-bottom: -8px;
			position: absolute;
			bottom: 100%;
			right: 32px;
			opacity: 1;
	
			> * {
				margin-top: 0;
				background: none;
				display: inline-block;
				position: relative;
				border: 0;
	
				&:hover:before {
					border-top-color: $color-black;
					border-right-color: $color-black;
				}
	
				&:before {
					margin-top: -8px;
					width: 16px;
					height: 16px;
					border-top: 4px solid $color-gray-l-p20;
					border-right: 4px solid $color-gray-l-p20;
					@include transition(ease-in all 0.3s);
				}
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.merchandise-info {
		margin: 30px 0 20px 0;

		.info-header {
			padding: 0 20px;

			> * {
				padding: 10px 0 10px 10px;
			}

			.item-brand {
				font-size: 18px;
				line-height: 1.5em;
			}

			.item-name {
				font-size: 30px;
				line-height: 1.5em;
			}
		}

		.photo-album .photo-slider {
			margin: 0 -5px;
			width: calc(100% + 10px);

			.owl-stage .owl-item {
				margin: 0 5px;
				width: 122px !important;
			}
		}

		.item-detail {
			padding: 0 20px;

			> * {
				padding: 20px 0;

				> *:not(.gift-info):not(.btn-wrap):not(.m-box-holder):not(.counter) {
					padding-left: 10px;
				}
			}

			.item-selection {
				@include display-flex;
				@include align-items(stretch);
				@include justify-content(space-between);

				> * {
					width: calc((100% - 16px) / 3);

					&:not(:first-child) {
						margin-left: 8px;
					}
				}
			}

			.payment-info {
				margin-bottom: 10px;
				display: inline-block;
			}

			.btn-wrap {
				@include display-flex;
				@include align-items(stretch);
				@include justify-content(space-between);

				.btn-link {
					width: calc((100% - 24px) / 2);
					height: 50px;
					line-height: 50px;
	
					&:not(:first-child) {
						margin-left: 24px;
					}
				}
			}
		}
	}

	.l-content .main-tab {
		margin-bottom: 40px;
		padding: 30px;

		> .m-tab-wrap {
			display: block;
			text-align: left;

			> .tab-list {
				display: inline-block;
				width: auto;
				min-width: 164px;
				text-align: center;

				.btn-tab {
					width: 100%;

					&:after {
						margin-left: 0;
						width: 100%;
						left: 0;
					}
				}
			}
		}

		> .m-tab-content {
			padding-bottom: 0;
		}
	}

	.shopping-list {
		margin: 0 -10px;
		width: calc(100% + 20px);

		.owl-stage {
			@include display-flex;
			@include align-items(stretch);
			@include justify-content(space-between);

			.owl-item {
				@include display-flex;
			}
		}

		.list {
			margin: 0 10px;
			width: calc(100% - 20px);
		}
	}
}

@include respond(HD) {
	.main-content {
		margin: 0 auto;
		width: 1300px;
	}

	.l-content .main-tab {
		padding: 30px 112px;
	}

	.merchandise-info {
		padding-left: 600px;

		.info-header, .item-detail {
			padding: 0 50px;
		}

		.photo-album {
			width: 600px;
		}
	}

	.shopping-list {
		margin: 0 -16px;
		width: 1332px;

		&:not(.owl-loaded) > .list {
			margin-right: 26px !important;
			margin-left: 16px;
			width: calc((100% - 158px) / 4) !important;

			&:nth-child(4) {
				margin-right: 16px !important;
			}
		}

		.owl-stage .owl-item {
			margin: 0 16px;
		}

		.list {
			margin: 0;
			width: 100%;
		}
	}
}

@include respond(Tablets) {
	.merchandise-info .photo-album {
		margin: 0 20px;

		.photo-hd {
			margin-bottom: 20px;
			height: 400px;
			@include justify-content(center);

			img {
				width: auto;
				height: 100%;
			}
		}

		.photo-slider {
			padding-top: 20px;
			border-top: 1px solid $color-gray-l-p30;
		}
	}

	.shopping-list {
		padding: 20px 0;

		&:not(.owl-loaded) > .list {
			width: calc((100% - 60px) / 3) !important;
		}

		.list {
			margin-right: 10px !important;
		}
	}
}

@include respond(Tablets-Mobiles) {
	.main-content {
		margin: 0 20px;
	}
}

@include respond(Mobiles) {
	.merchandise-info {
		margin: 10px 0;
		
		.info-header {
			> * {
				padding: 10px 0;
			}

			.item-brand {
				font-size: 15px;
				line-height: 1.5em;
			}

			.item-name {
				font-size: 20px;
				line-height: 1.5em;
			}
		}

		.photo-album {
			.photo-hd {
				margin-bottom: 4px;
			}

			.photo-slider {
				margin: 0 -2px;
				width: calc(100% + 4px);

				.owl-stage {
					@include display-flex;
					@include align-items(stretch);
					@include justify-content(space-between);

					.owl-item {
						margin: 0 2px;
						@include display-flex;
					}
				}
			}
		}

		.item-detail {
			> * {
				padding: 10px 0;
			}

			.gift .gift-info {
				margin-bottom: 10px;
			}

			.item-selection > *:not(:first-child) {
				margin-top: 5px;
			}
	
			.btn-wrap .btn-link {
				margin-top: 10px;
				height: 40px;
				line-height: 40px;
			}
		}

		.btn-share {
			display: block;
			width: 100%;
			height: 40px;
			line-height: 40px;
		}
	}

	.l-content .main-tab {
		margin-bottom: 20px;
		padding: 10px;

		.m-tab-wrap > .tab-list {
			height: 100%;
			vertical-align: middle;

			.btn-tab {
				width: 100%;
				height: 44px;
				white-space: normal;

				&:after {
					margin-left: 0;
					width: 100%;
					left: 0;
				}
			}

			.text {
				padding: 0 10px;
				font-size: 12px;
				line-height: 1.5em;
			}
		}
	}

	.shopping-list {
		margin: 0 auto;
		padding-bottom: 20px;
		width: calc(100vw - 100px);

		.owl-stage-outer {
			overflow: visible;
		}

		.owl-stage {
			@include display-flex;
			@include align-items(stretch);
			@include justify-content(space-between);
		}

		.list {
			margin: 0 10px;
			width: calc(100% - 20px);
		}

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
			@include transition(ease-in all 0.3s);

			&:not(.active) {
				@include transform(scale(0.95));
			}
		}
	}

	.xs-func-wrap {
		position: relative;

		&.show-action {
			.jQ-xs-func {
				opacity: 0;
				pointer-events: none;
			}

			.xs-func {
				opacity: 1;
				z-index: 1;
				pointer-events: auto;
			}
		}

		.jQ-xs-func {
			@include transition(ease-in all 0.3s);
		}

		.xs-func {
			@include display-flex;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
			pointer-events: none;
			z-index: -1;
			@include transition(ease-in all 0.3s);
		}
	}

	.xs-func > *:not(:first-child) {
		margin-left: 10px;
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {
	.merchandise-info .item-detail {
		.gift .gift-info {
			display: table;

			> * {
				display: table-cell;
			}
		}

		.item-selection {
			overflow: hidden;
			font-size: 0;
	
			> * {
				float: left;
			}
	
			.m-box-holder.is-selector .m-selection {
				height: 38px;
			}
		}

		.btn-wrap {
			overflow: hidden;

			> * {
				float: left;
			}
		}
	}

	.merchandise-info .photo-album .photo-slider .list {
		width: 100%;
	}

	.shopping-list .shopping-link {
		@include flex-grow(1);
		height: 100%;
	}
}

@include browsers('IE9') {
	.shopping-list {
		.owl-stage .owl-item {
			width: 300px !important;
		}

		.btn-read-more {
			margin-right: auto;
			margin-left: auto;
		}
	}

	.counter {
		font-size: 0;
		white-space: nowrap;

		> * {
			vertical-align: top;
		}
	}
}

@include browsers('Safari') {}

@include browsers('FireFox') {
	.merchandise-info .item-detail .item-selection .m-box-holder.is-selector .m-selection {
		height: 38px;
	}
}