.catalog-wrap {
	background: $color-white;
	border-top: 1px solid $color-gray-l-p40;
	border-bottom: 1px solid $color-gray-l-p40;
	@include box-sizing(border-box);

	.catalog {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		height: 100%;
		font-size: 0;
		line-height: 0;

		> .list {
			display: inline-block;
			text-align: center;

			> .b-link {
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				color: $color-gray-d-p40;
				letter-spacing: 1px;

				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 4px;
					position: absolute;
					bottom: 0;
					left: 0;
					@include transition(ease-in all 0.3s);
				}

				&.is-curr:after, &:hover:after {
					background: $color-text-major;
				}

				&.b-highlight {
					color: #eb6100;
					font-weight: bold;
				}
			}
		}

		.text {
			line-height: 30px;
		}
	}

	.catalog-more .text:after {
		content: '';
		margin-left: 5px;
		display: inline-block;
		width: 0;
		height: 0;
		vertical-align: middle;
		border-top: 6px solid $color-black;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}

	.catalog-slider {
		background: $color-white;
		max-height: 0;
		overflow: hidden;
		@include transition(ease-in all 0.5s);

	}

	.sub-catalog-wrap .sub-catalog .b-link .text {
		position: relative;

		&:after {
			content: '';
			margin-top: -4px;
			display: block;
			width: 8px;
			height: 8px;
			position: absolute;
			top: 50%;
			right: -12px;
			border-right: 1px solid $color-text-major;
			border-bottom: 1px solid $color-text-major;
			@include transform(rotate(-45deg));
			@include box-sizing(border-box);
		}
	}
}

.kv {
	margin-bottom: 5px;
}

.kv-owl .item .img-wrap {
	margin-left: 0;
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);
	overflow: hidden;
}

.l-content {
	.main-tab > .m-tab-wrap {
		display: table;
		width: 100%;
		border-bottom: 1px solid $color-gray-l-p10;

		> .tab-list {
			display: table-cell;
			width: 33.33%;

			.btn-tab {
				position: relative;
				color: $color-gray-l-p20;

				&.is-curr, &:hover {
					&:after {
						opacity: 1;
					}

					.m-icon {
						color: $color-text-major;
					}

					.text {
						color: $color-gray-d-p40;
					}
				}

				&:after {
					content: '';
					margin-left: -50px;
					background: $color-text-major;
					display: block;
					width: 100px;
					height: 5px;
					position: absolute;
					bottom: -1px;
					left: 50%;
					opacity: 0;
					@include transition(ease-in all 0.3s);
				}

				> * {
					display: block;
					line-height: 1.5em;
					@include transition(ease-in all 0.3s);
				}
			}

			.text {
				font-weight: bold;
			}
		}
	}

	.m-box-holder.is-selector {
		border-color: $color-gray-l-p40;

		.m-selection {
			width: 100%;
			font-size: 14px;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 50%;
			right: 14px;
			border-bottom: 6px solid $color-gray-l-p10;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			pointer-events: none;
			z-index: 1;
		}

		&:after {
			margin-top: 1px;
		}
	}
}

.sort-selection {
	font-size: 0;
	line-height: 0;

	> * {
		display: inline-block;
		vertical-align: middle;

		&:not(:first-child) {
			margin-left: 9px;
		}
	}

	.func-hint {
		font-size: 15px;
		line-height: 1.5em;

		> * {
			display: inline-block;
			vertical-align: middle;
		}

		.m-icon {
			font-size: 20px;
		}
	}

	.m-box-holder.is-selector {
		height: 30px;

		.m-selection {
			line-height: 28px;
		}
	}
}

.item-info {
	background: $color-white;
	text-align: left;

	.item-title {
		margin-bottom: 12px;
		padding-bottom: 20px;
		position: relative;
		font-size: 18px;
		font-weight: bold;

		&:after {
			content: '';
			display: block;
			width: 35px;
			height: 4px;
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.b-link {
			color: $color-gray-d-p40;
		}
	}

	.info-title {
		color: $color-gray-d-p40;
		font-size: 14px;
		font-weight: bold;
		line-height: 2em;
	}

	.localtion-list {
		color: $color-gray;
		font-size: 14px;
		line-height: 1.5em;

		.list > * {
			padding-top: 0.5em;
			vertical-align: top;
		}
	}

	.tel-link {
		padding-left: 7px;
		color: $color-gray;
	}
}

.shopping-list {
	.list {
		background: $color-white;
		position: relative;
		border: 1px solid $color-gray-l-p30;
		@include box-sizing(border-box);

		> .shopping-link:hover .img-wrap img {
			@include transform(scale(1.05));
		}
	}

	.shopping-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
		height: 100%;
	}

	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		overflow: hidden;

		img {
			width: 100%;
			@include transition(ease-in all 0.3s);
		}
	}

	.item-info {
		background: $color-white;
		@include flex-grow(1);
		position: relative;
		color: $color-gray-d-p30;
		@include box-sizing(border-box);

		> * {
			display: block;
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.main-info, .bargain-price {
			font-size: 20px;
		}

		.acts {
			font-size: 16px;
		}

		.info-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			position: relative;
			font-size: 20px;
			font-weight: normal;

			&:after {
				content: '';
				background: $color-gray-d-p30;
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				@include transition(ease-in all 0.3s);
			}
		}

		.main-info {
			overflow: hidden;
			color: $color-text-major;
		}

		.price {
			font-size: 14px;
			text-decoration: line-through;
		}

		.b-desc {
			font-size: 14px;
		}
	}

	.btn-read-more {
		display: block;
		border-color: $color-gray-d-p30;
		color: $color-gray-d-p30;
	}

	.btn-like {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		color: $color-gray-d-p20;
		font-size: 20px;
		line-height: 0;
		@include transition(ease-in color 0.3s);

		&:before {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			right: 0;
			border-top: 33px solid $color-gray-l-p40;
			border-right: 33px solid $color-gray-l-p40;
			border-bottom: 33px solid transparent;
			border-left: 33px solid transparent;
		}

		&:hover {
			color: $color-text-major;
		}

		&.is-add .m-icon:after {
			opacity: 1;
		}

		&.show-text .text {
			margin-left: -38px;
			padding: 2px 8px;
			background: $color-gray-d-p10;
			width: auto;
			height: auto;
			position: absolute;
			bottom: -18px;
			right: 0;
			border-radius: 4px;
			opacity: 1;
			overflow: visible;
			font-size: 12px;
			line-height: 1.5em;
			text-indent: 0;
			white-space: nowrap;

			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 100%;
				right: 16px;
				border-right: 4px solid transparent;
				border-bottom: 4px solid $color-gray-d-p10;
				border-left: 4px solid transparent;
			}
		}

		.m-icon {
			width: 100%;
			height: 100%;

			&:before, &:after {
				margin: -10px -10px 0 0;
				position: absolute;
				top: 50%;
				right: 50%;
			}

			&:after {
				content: '\e905';
				opacity: 0;
				color: $color-text-major;
				@include transition(ease-in opacity 0.3s);
			}
		}

		.text {
			opacity: 0;
			color: $color-white;
			@include transition(ease-in opacity 0.3s);
		}
	}
}

@include respond(Desktops) {
	.catalog-wrap {
		height: 60px;

		.catalog {
			.m-icon {
				font-size: 26px;
			}

			.text {
				font-size: 16px;
			}
		}

		.sub-catalog-wrap .sub-catalog {
			.list-block {
				margin: 30px 0;
			}

			.b-link {
				padding: 8px 0 8px 35px;
			}
		}
	}
	
	.kv-owl .item {
		height: 300px;

		.img-wrap {
			height: 300px;
		}

		img {
			width: auto;
		}
	}

	.l-content .main-tab {
		margin: 0 10px;

		> .m-tab-content {
			padding: 50px 0 100px 0;
		}
	}

	.shopping-list {
		padding: 28px 0 20px 0;

		.owl-item:not(:nth-child(4n)) {
			margin-right: 20px;
		}

		&:not(.owl-loaded) > .list {
			margin-right: 30px !important;
			margin-bottom: 30px;
			width: calc((100% - 150px) / 4) !important;

			&:nth-child(4) {
				margin-right: 20px !important;
			}
		}

		/*.img-wrap {
			height: 300px;
		}*/

		.shopping-link:hover .btn-read-more {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
		}

		.item-info {
			padding: 15px 32px;
		}
	}
}

@include respond(Desktops-Tablets) {
	.catalog-wrap {
		position: relative;

		.list {
			@include flex-grow(1);
		}

		.catalog-more:hover ~ .catalog-slider {
			max-height: 1000px;
		}

		.catalog-slider {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
			z-index: 2;

			&:hover {
				max-height: 1000px;
			}
		}

		.sub-catalog-wrap {
			margin: 0 auto;
			@include display-flex;
			@include justify-content(center);
			@include box-sizing(border-box);

			.sub-catalog {
				@include display-flex;
				@include align-content(stretch);
				@include align-items(stretch);
				width: 600px;

				.list-block {
					margin: 30px 0;
					border-left: 1px solid $color-gray-l-p40;
					text-align: left;
					@include flex-grow(1);
					@include box-sizing(border-box);
				}

				.b-link {
					display: block;
					width: 100%;
					height: 100%;
					color: $color-gray-d-p30;
					font-size: 16px;
					letter-spacing: 2px;
					line-height: 1.5em;
					@include box-sizing(border-box);
					@include transition(ease-in all 0.3s);

					&:hover, &.is-curr {
						color: $color-text-major;
					}
				}
			}
		}
	}

	.kv-owl .item .img-wrap {
		width: 100%;

		img {
			min-width: auto;
		}
	}

	.l-content .main-tab > .m-tab-wrap > .tab-list {
		.btn-tab {
			padding-bottom: 15px;
		}

		.m-icon {
			font-size: 56px;
		}

		.text {
			font-size: 16px;
		}
	}

	.shopping-list {
		margin: 0 auto;
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);
		font-size: 0;
		line-height: 0;

		.img-wrap {
			width: 100%;

			/*img {
				width: auto;
				height: 100%;
			}*/
		}

		.btn-read-more {
			margin: 0 auto 20px auto;
		}
	}
}

@include respond(HD) {
	.catalog, .l-content .main-tab {
		margin: 0 auto;
		width: 1300px;
	}

	.kv-owl .item {
		height: auto;

		.img-wrap {
			height: auto;
			
			img {
				width: 100%;
			}
		}
	}

	/*.shopping-list .list {
		width: 300px;
	}*/
}

@include respond(Tablets) {
	.catalog-wrap .sub-catalog-wrap .sub-catalog {
		.list-block {
			margin: 10px 0;
		}
		
		.b-link {
			padding: 0 0 0 20px;
		}
	}

	.l-content .main-tab > .m-tab-content {
		padding: 25px 0 50px 0;
	}

	.shopping-list {
		.list {
			margin-bottom: 20px;
			width: calc((100% - 40px) / 3);

			&:not(:nth-child(3n)) {
				margin-right: 20px;
			}
		}

		.item-info {
			padding: 15px 15px 25px 15px;
		}
	}
}

@include respond(Tablets-Mobiles) {
	.catalog-wrap {
		height: 40px;

		.catalog {
			.m-icon {
				font-size: 20px;
			}

			.text {
				font-size: 13px;
			}
		}
	}

	.l-content .main-tab {
		margin: 0 20px;
	}

	.shopping-list {
		padding-top: 20px;

		.img-wrap {
			@include flex-direction(column);
		}

		.item-info .main-info > * {
			display: block;
		}

		.btn-read-more {
			margin: 0 auto 25px auto;
		}
	}
}

@include respond(Mobiles) {
	.catalog-wrap {
		.catalog {
			position: relative;

			&:after {
				content: '';
				margin-top: -3px;
				display: block;
				position: absolute;
				top: 50%;
				right: 14px;
				border-top: 6px solid $color-gray-l-p10;
				border-right: 5px solid transparent;
				border-left: 5px solid transparent;
				pointer-events: none;
				z-index: 1;
			}
		}

		.m-selection {
			padding: 0 15px;
			width: 100%;
			height: 40px;
			line-height: 40px;
			@include box-sizing(border-box);
		}
	}

	.kv-owl .item .img-wrap img {
		width: 100%;
	}

	.l-content .main-tab {
		> .m-tab-wrap > .tab-list {
			.btn-tab {
				padding-bottom: 10px;
			}

			.m-icon {
				font-size: 36px;
			}

			.text {
				font-size: 15px;
			}
		}

		> .m-tab-content {
			padding: 20px 0;
		}
	}

	.shopping-list {
		.list {
			margin-bottom: 10px;
			width: 100%;
		}

		.img-wrap {
			margin: 5vw 5vw 0 5vw;

			img {
				min-width: 100%;
			}
		}

		.item-info {
			padding: 5vw 5vw 25px 5vw;
		}
	}
}

@include devices(iphone) {
	.shopping-list .btn-read-more {
		margin: 0 5vw 5vw 5vw;
	}
}

@include respond(Iphone5) {}

@include browsers('IE') {
	.sort-selection .m-box-holder.is-selector .m-selection {
		height: 28px;
	}

	.new-arrive-list .main-intro .m-box-holder.is-selector .m-selection {
		height: 38px;
	}

	.shopping-list .btn-read-more {
		margin-right: 32px;
		margin-left: 32px;
	}
}

@include browsers('IE9') {
	.catalog-wrap {
		.catalog {
			display: table;
	
			.list {
				display: table-cell;
				height: 100%;

				> .b-link {
					display: block;
					height: 58px;
				}
			}
		}

		.sub-catalog-wrap .sub-catalog {
			margin: 30px auto;
			display: table;

			.list-block {
				display: table-cell;

				.list {
					display: block;
				}
			}
		}
	}

	.shopping-list {
		font-size: 0;
		line-height: 0;

		> .list {
			display: inline-block;
			vertical-align: top;

			&:nth-child(4n+1) {
				margin-left: 0;
			}
		}

		.img-wrap {
			text-align: center;
		}

		.shopping-link {
			padding-bottom: 76px;
			display: block;
			overflow: hidden;
		}

		.btn-read-more {
			margin: 0 !important;
			position: absolute;
			bottom: 20px;
			left: 32px;
			right: 32px;
		}
	}

	.new-arrive-list {
		> .list {
			vertical-align: top;
			overflow: hidden;
		}

		.main-intro {
			.item-selection {
				overflow: hidden;
			}

			.is-selector.m-box-holder {
				margin-left: 0 !important;
				float: left;
			}
		}

		.sales-wording {
			display: block;
			width: 100%;
			position: relative;
			text-align: center;

			> * {
				display: inline-block;
				vertical-align: middle;
			}

			&:before, &:after {
				width: 100px !important;
				position: absolute;
				top: 50%;
			}

			&:before {
				left: 0;
			}

			&:after {
				right: 0;
			}
		}
	}
}

@include browsers('Safari') {
	.catalog-wrap .catalog .list > .b-link {
		height: 58px;
	}

	.kv-owl img {
		min-height: 0;
	}

	.shopping-list .btn-read-more {
		margin-right: 32px;
		margin-left: 32px;
	}
}

@include browsers('FireFox') {
	.sort-selection .m-box-holder.is-selector .m-selection {
		height: 28px;
	}

	.new-arrive-list .main-intro .m-box-holder.is-selector .m-selection {
		height: 38px;
	}
}