.m-cut {
	margin: 0 auto;
}

.m-section-hd {
	.page-title {
		color: $color-gray-d-p30;
		font-weight: bold;
		line-height: 1.6em;
	}

	.m-selection {
		font-size: 14px;
		line-height: 40px;
	}
}

.cover-owl-list {
	background: $color-white;
	overflow: hidden;
}

.desc-owl-list {
	background: $color-text-major;
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);

	.desc-list {
		width: 100%;
	}

	> *, .b-link {
		color: $color-white;
	}

	.dm-name, .active-time {
		font-weight: bold;
	}

	.dm-name {
		font-size: 21px;
	}

	.active-time {
		font-size: 16px;
	}

	.b-link {
		margin-top: 25px;
		border: 1px solid $color-white;
		@include transition(ease-in all 0.3s);

		&:hover {
			background: $color-white;
			color: $color-text-major;
		}

		> *:first-child {
			margin-right: 8px;
		}

		.text {
			font-size: 14px;
		}

		.m-icon {
			font-size: 22px;
		}
	}
}

.dm-list {
	.owl-stage-outer {
		overflow: visible;
	}

	.owl-stage .owl-item {
		padding-bottom: 20px;
		position: relative;
		overflow: visible;
		cursor: pointer;
		@include transition(all 0.3s);

		&:before {
			content: '';
			background: #9e9e9e;
			display: block;
			width: 100%;
			height: 10px;
			position: absolute;
			bottom: 20px;
			left: 0;
			border-radius: 50%;
			box-shadow: 0 0 30px $color-black;
			z-index: -1;
			@include transform(scale(0.9));
		}
	}

	.item .img-wrap {
		@include display-flex;
		@include align-items(flex-end);
		overflow: hidden;

		img {
			width: 100%;
		}
	}
}

.desc-list .item {
	padding: 20px;
	direction: ltr;
}

.owl-tools {
	opacity: 1;

	.btn-owl-controler {
		background: $color-text-major;
		width: 40px;
		height: 40px;
		position: relative;
		border: 0;
		border-radius: 50%;
		@include transition(ease-in all 0.3s);

		&:hover {
			background: darken($color-text-major, 10%);
		}

		&:before {
			content: '';
			margin-top: -7px;
			width: 14px;
			height: 14px;
			position: absolute;
			top: 50%;
			border-top: 1px solid $color-white;
			border-left: 1px solid $color-white;
			@include box-sizing(border-box);
		}

		&.btn-prev:before {
			margin-right: -4px;
			right: 50%;
			@include transform(rotate(135deg));
		}

		&.btn-next:before {
			margin-left: -4px;
			left: 50%;
			@include transform(rotate(-45deg));
		}
	}

	.pages-info {
		padding: 0 20px;
		font-size: 16px;

		> * {
			padding: 0 3px;
		}
	}
}

@include respond(Desktops) {
	.m-section-hd .page-title {
		font-size: 30px;
	}

	.cover-owl-list {
		padding: 90px 4%;

		&:before {
			width: calc(100 / 70 * 4%);
		}
	}

	.desc-owl-list .b-link {
		padding: 0 32px;
		height: 50px;

		> * {
			line-height: 50px;
		}
	}

	.dm-list {
		width: 384px;

		.item .img-wrap {
			height: 548px;
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-cut {
		padding-right: 10px;
		padding-bottom: 100px;
		padding-left: 10px;
		max-width: 1300px;
	}

	.m-section-hd {
		padding: 15px 0;
		@include display-flex;
		@include align-items(center);
		@include justify-content(space-between);
	}

	.m-section-bd {
		@include display-flex;
		@include align-items(stretch);
		position: relative;

		> * {
			box-sizing: border-box;
		}

		.owl-tools {
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
		}
	}

	.cover-owl-list {
		width: 70%;
		position: relative;

		&:before {
			content: '';
			background: $color-white;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
		}
	}

	.desc-owl-list {
		width: 30%;
	}

	.dm-list {
		&.count-two .owl-stage .owl-item.active + * {
			opacity: 1;
			@include transform-origin(right, center);
		}

		&.count-three .owl-stage .owl-item.active {
			+ *, + * + * {
				opacity: 1;
				@include transform-origin(right, center);
			}

			+ * + * {
				margin-right: -235px;
				z-index: 2;
				@include transform(scale(0.8));

				&:before {
					@include transform(scale(0.7));
				}
			}
		}

		&:not(.count-two):not(.count-three) .owl-stage .owl-item.active {
			+ *, + * + *, + * + * + * {
				opacity: 1;
				@include transform-origin(right, center);
			}

			+ * + * {
				margin-right: -235px;
				z-index: 2;
				@include transform(scale(0.8));

				&:before {
					@include transform(scale(0.7));
				}
			}

			+ * + * + * {
				margin-right: -275px;
				z-index: 1;
				@include transform(scale(0.7));

				&:before {
					@include transform(scale(0.6));
				}
			}

			+ * + * + * + * {
				opacity: 0;
			}
		}

		.owl-stage .owl-item {
			opacity: 0;
			z-index: -1;
			@include transform(scale(0.1));
	
			&.active {
				opacity: 1;
				z-index: 4;
				@include transform(scale(1));
	
				+ * {
					margin-right: -200px;
					z-index: 3;
					@include transform(scale(0.9));
	
					&:before {
						@include transform(scale(0.8));
					}
				}
			}
		}
	}
}

@include respond(HD) {
	.m-cut {
		padding-right: 0;
		padding-left: 0;
	}

	.dm-list .owl-stage .owl-item.active {
		+ * {
			margin-right: -175px;
		}

		+ * + * {
			margin-right: -210px;
		}

		+ * + * + * {
			margin-right: -250px;
		}
	}
}

@include respond(Tablets) {
	.m-section-hd .page-title {
		font-size: 24px;
	}

	.cover-owl-list {
		padding: 90px 56px;

		&:before {
			width: 56px;
		}
	}

	.desc-owl-list {
		.dm-name {
			font-size: 18px;
		}

		.active-time {
			font-size: 14px;
		}
	}

	.dm-list {
		width: 192px;

		.owl-stage .owl-item.active {
			+ * {
				margin-right: -85px !important;
			}

			+ * + * {
				margin-right: -105px !important;
			}

			+ * + * + * {
				margin-right: -125px !important;
			}
		}

		.item .img-wrap {
			height: 274px;
		}
	}
}

@include respond(Tablets-Mobiles) {
	.desc-owl-list .b-link {
		padding: 0 20px;
		height: 40px;

		> * {
			line-height: 40px;
		}
	}
}

@include respond(Mobiles) {
	.m-section-hd {
		padding: 10px;

		.page-title {
			margin-bottom: 10px;
			font-size: 20px;
		}

		.m-box-holder {
			width: 100%;
		}
	}

	.cover-owl-list {
		padding: 20px;
	}

	.desc-owl-list .b-link {
		height: 40px;
		
		> * {
			line-height: 40px;
		}
	}

	.dm-list {
		margin: 0 auto;
		width: calc(100vw - 100px);

		.owl-item {
			vertical-align: middle;

			&:before {
				@include transform(scale(0.8));
			}

			&:not(.active) {
				@include transform(scale(0.9));
			}
		}

		.item {
			margin: 0 10px;
			width: calc(100% - 20px);
		}
	}

	.desc-list {
		.owl-stage .owl-item {
			vertical-align: middle;
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {
	.m-box-holder.is-selector .m-selection {
		height: 40px;
	}
}

@include browsers('IE9') {
	.m-section-hd {
		overflow: hidden;

		> *:first-child {
			float: left;
		}

		> *:last-child {
			float: right;
		}
	}

	.m-section-bd {
		display: table;
		width: 100%;

		> * {
			display: table-cell;
		}
	}

	.desc-list {
		width: auto !important;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 70%;
		right: 0;
		overflow: hidden;

		.owl-stage-outer {
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		.owl-stage {
			display: table;
			height: 100%;
			vertical-align: middle;

			.owl-item {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}

@include browsers('Safari') {}

@include browsers('FireFox') {
	.m-box-holder.is-selector .m-selection {
		height: 40px;
	}
}

@include browsers('Edge') {}