.brand-store {
	margin: 0 auto;
	@include display-flex;
	@include align-items(center);
	@include justify-content(space-between);
	border-bottom: 1px solid $color-gray-l-p10;

	.img-wrap {
		padding: 7px;
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		width: 136px;
		height: 136px;
		position: relative;
		border: 1px solid $color-gray-l-p10;
		border-radius: 50%;
		overflow: hidden;
		@include box-sizing(border-box);

		&:after {
			content: '';
			display: block;
			width: 134px;
			height: 134px;
			position: absolute;
			top: 0;
			left: 0;
			border: 7px solid $color-gray-l-p40;
			border-radius: 50%;
			@include box-sizing(border-box);
		}
	}

	.brand-name {
		font-size: 18px;
		font-weight: bold;
	}

	.desc {
		color: $color-gray;
		font-size: 14px;
		line-height: 24px;
	}
}

@include respond(Desktops) {
	.brand-store {
		padding-right: 100px;
		padding-left: 100px;
	}
}

@include respond(Desktops-Tablets) {
	.brand-store {
		margin-bottom: 20px;
		padding-bottom: 30px;

		.brand-info {
			width: calc(100% - 136px - 20px);
		}
	}
}

@include respond(HD) {
	.brand-store {
		padding-right: 200px;
		padding-left: 200px;
	}
}

@include respond(Tablets) {
}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {
	.brand-store {
		margin-bottom: 15px;
		padding-bottom: 15px;
		@include flex-direction(column);

		.brand-name {
			margin: 5px 0;
			display: block;
			text-align: center;
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {
	.brand-store {
		.img-wrap {
			width: 120px;
			height: 120px;
		}

		.brand-info {
			width: auto;
		}
	}
}

@include browsers('IE') {}

@include browsers('IE9') {
	.brand-store {
		overflow: hidden;

		> * {
			display: inline-block;
			vertical-align: top;
		}

		.brand-info {
			float: right;
		}
	}
}

@include browsers('Safari') {}