.main-content {
	background: $color-gray-d-p40;
	width: 100%;
}

.main-cut {
	margin: 0 auto;
	position: relative;
}

.dm-reader {
	position: relative;
}

.magazine-viewport {
	.container {
		margin: auto;
		position: absolute;
		left: 50%;
	}

	.page {
		background: white 100% 100% no-repeat;
		width: 461px;
		height: 600px;

		img {
			margin: 0;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}

	.zoomer .region {
		display: none;
	}

	.zoom-in {
		.even .gradient, .odd .gradient, .next-button, .previous-button {
			display: none;
		}
	}

	.next-button, .previous-button {
		margin-top: -60px;
		background: rgba($color-gray-d-p40, 0.5);
		width: 60px;
		height: 120px;
		position: absolute;
		top: 50%;
		border: 0;
		cursor: pointer;
		outline: none;
		z-index: 1;
		@include transition(ease-in all 0.3s);

		&:hover {
			opacity: 0.5;
		}

		&:before {
			content: '';
			margin-top: -17px;
			display: block;
			width: 34px;
			height: 34px;
			position: absolute;
			top: 50%;
			border-top: 2px solid $color-white;
			border-right: 2px solid $color-white;
			box-sizing: border-box;
			z-index: 1;
		}
	}

	.next-button {
		right: 5px;

		&:before {
			margin-left: -29px;
			@include transform(rotate(45deg));
			left: 50%;
		}
	}

	.previous-button {
		left: 5px;

		&:before {
			margin-right: -29px;
			@include transform(rotate(-135deg));
			right: 50%;
		}
	}
}

.magazine {
	.region {
		background: #0066FF;
		position: absolute;
		overflow: hidden;
		opacity: 0.2;
		border-radius: 10px;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}

		&.zoom {
			opacity: 0.01;

			&:hover {
				opacity: 0.2;
			}
		}
	}

	.even .gradient {
		@include background-image(linear-gradient(to right, rgba($color-black, 0) 55%, rgba($color-black, 0.1) 80%, rgba($color-black, 0) 95%, rgba($color-black, 0.2) 100%));
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.odd .gradient {
		@include background-image(linear-gradient(to left, rgba($color-black, 0) 95%, rgba($color-black, 0.15) 100%));
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.animated {
	@include transition(margin-left 0.5s);
}

.exit-message {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 10000;

	> div {
		margin: auto;
		background: rgba($color-black, 0.5);
		width: 140px;
		height: 30px;
		border-radius: 10px;
		color: $color-white;
		font: 12px arial;
		line-height: 30px;
		text-align: center;
	}
}

.tools {
	background: $color-black;
	@include display-flex;
	@include justify-content(flex-end);

	> * {
		width: 33.33%;
	}

	.center-part {
		text-align: center;

		.pages {
			margin-top: 5px;
			padding: 0 10px;
			background: $color-white;
			display: inline-block;
			height: 30px;
			vertical-align: top;
			font-size: 14px;
			line-height: 30px;
		}
	}

	button {
		background: none;
		width: 40px;
		height: 40px;
		position: relative;
		border: 0;
		cursor: pointer;
		vertical-align: top;
		outline: none;
		@include transition(ease-in all 0.3s);

		.m-icon {
			color: $color-white;
			font-size: 18px;
		}

		&:hover, &.hide, &.is-active {
			opacity: 0.5;
		}
	}

	.first-button:before,
	.first-button:after,
	.next-button:before,
	.previous-button:before,
	.last-button:before,
	.last-button:after {
		content: '';
		margin: -6px 0 0 -6px;
		display: block;
		width: 12px;
		height: 12px;
		position: absolute;
		top: 50%;
		left: 50%;
		border-top: 1px solid $color-white;
		border-right: 1px solid $color-white;
		box-sizing: border-box;
		z-index: 1;
		@include transition(ease-in all 0.3s);
	}

	.last-button:before, .last-button:after, .next-button:before {
		transform: rotate(45deg);
	}

	.first-button:before, .first-button:after, .previous-button:before {
		transform: rotate(-135deg);
	}

	.last-button:after, .first-button:after {
		margin-left: 0;
	}
}

.zoom-icon {
	&:before {
		margin: -9px 0 0 -9px;
		display: block;
		width:18px;
		height:18px;
		position: absolute;
		top: 50%;
		left: 50%;
		color: $color-white;
		font-size: 18px;
		font-family : 'feds-font';
	}

	&.zoom-icon-in:before {
		content: '\e955';
	}

	&.zoom-icon-out:before {
		content: '\e954';
	}
}

.bottom {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.thumbnails {
	background: rgba(0,0,0,0.75);
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
	opacity: 0;
	z-index: -1;

	&.show {
		opacity: 1;
		z-index: 1;
	}

	ul {
		margin: 10px;
		@include display-flex;
		overflow-x: scroll;
		list-style: none;
	}

	li {
		margin-bottom: 24px;
		@include display-flex;
		position: relative;
		box-sizing: border-box;
		cursor: pointer;
		font-size: 0;
		line-height: 0;
	}

	figure {
		margin: 0;
		background: $color-black;
		display: inline-block;
	}

	img {
		height: 100px;
	}
}

.dm-list {
	background: $color-black;

	.img-wrap {
		width: 128px;

		img {
			width: 100%;
		}
	}

	.desc {
		padding: 5px 0 10px 0;
		color: $color-gray-l-p10;
		font-size: 12px;
		font-weight: bold;
		line-height: 1.5em;
		word-break: break-all;
		word-wrap: break-word;
		@include transition(ease-in all 0.3s);
	}

	.b-link:hover .desc {
		color: $color-white;
	}
}

.m-cut {
	margin: 0 auto;
}

.recommend-title {
	font-size: 30px;
	font-weight: bold;
	line-height: 1.5em;
}

.shopping-list {
	@include display-flex;
	@include align-items(stretch);
	@include align-content(stretch);
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	position: relative;

	.list {
		background: $color-white;
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
		position: relative;
		border: 1px solid $color-gray-l-p30;
		@include box-sizing(border-box);

		> .shopping-link:hover .img-wrap img {
			@include transform(scale(1.05));
		}
	}

	.shopping-link {
		@include display-flex;
		@include align-items(stretch);
		@include align-content(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
		height: auto;

		&:hover .btn-read-more {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
		}
	}

	.img-wrap {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		overflow: hidden;

		img {
			width: 100%;
			@include transition(ease-in all 0.3s);
		}
	}

	.item-info {
		background: $color-white;
		@include flex-grow(1);
		position: relative;
		color: $color-gray-d-p30;
		@include box-sizing(border-box);

		> * {
			display: block;
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.main-info, .bargain-price {
			font-size: 20px;
		}

		.acts {
			font-size: 16px;
		}

		.info-title {
			margin-bottom: 15px;
			padding-bottom: 9px;
			position: relative;
			font-size: 20px;
			font-weight: normal;

			&:after {
				content: '';
				background: $color-gray-d-p30;
				display: block;
				width: 40px;
				height: 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				@include transition(ease-in all 0.3s);
			}
		}

		.main-info {
			overflow: hidden;
			color: $color-text-major;
		}

		.price {
			font-size: 14px;
			text-decoration: line-through;
		}

		.b-desc {
			font-size: 14px;
		}
	}

	.btn-read-more {
		display: block;
		border-color: $color-gray-d-p30;
		color: $color-gray-d-p30;

		&:hover {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
		}
	}

	.btn-like {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		color: $color-gray-d-p20;
		font-size: 20px;
		@include transition(ease-in color 0.3s);

		&:hover {
			color: $color-text-major;
		}

		&.is-add .m-icon:after {
			opacity: 1;
		}

		.m-icon {
			width: 100%;
			height: 100%;

			&:before, &:after {
				margin: -10px -10px 0 0;
				position: absolute;
				top: 50%;
				right: 50%;
			}

			&:after {
				content: '\e905';
				opacity: 0;
				color: $color-text-major;
				@include transition(ease-in opacity 0.3s);
			}
		}
	}
}

@include respond(Desktops) {
	.fullScreen {
		width: 100%;
		height: 100%;

		.main-cut {
			width: 100%;
			height: 100%;
			max-width: 100%;
		}

		.magazine-viewport {
			height: calc(100% - 40px);
		}
	}

	.main-cut {
		height: calc(100vh - 180px);
		overflow: hidden;

		.dm-reader {
			max-width: $main-max-width;
		}

		.dm-list {
			padding-top: 20px;
			width: 172px;
			border-left: 1px solid $color-gray-d-p20;
			overflow-y: scroll;

			.img-wrap {
				margin: 0 auto;
			}
		}
	}

	.magazine-viewport {
		min-height: calc(100% - 40px);

		.container {
			height: 100%;
			top: 0;
		}

		.magazine {
			top: 0;
		}
	}

	.tools {
		height: 40px;
	}

	.thumbnails {
		margin-top: -85px;
		top: 50%;

		li {
			border: 4px solid transparent;
			border-radius: 4px;
	
			&.current {
				border-color: $color-text-major;
			}
	
			span {
				display: block;
				position: absolute;
				bottom: -24px;
				left: 0;
				right: 0;
				color: $color-white;
				font-size: 12px;
				line-height: 1.5em;
				text-align: center;
			}
		}
	}

	.m-cut {
		padding-bottom: 85px;
	}

	.shopping-list {
		padding: 15px 0;

		.m-owl-ctrl {
			margin-bottom: -8px;
			position: absolute;
			bottom: 100%;
			right: 32px;
			opacity: 1;
	
			> * {
				margin-top: 0;
				background: none;
				display: inline-block;
				position: relative;
				border: 0;
	
				&:hover:before {
					border-top-color: $color-black;
					border-right-color: $color-black;
				}
	
				&:before {
					margin-top: -8px;
					width: 16px;
					height: 16px;
					border-top: 4px solid $color-gray-l-p20;
					border-right: 4px solid $color-gray-l-p20;
					@include transition(ease-in all 0.3s);
				}
			}
		}

		.list {
			margin-bottom: 30px;
			width: calc((100% - 60px) / 4);
		}

		.img-wrap {
			height: 272px;

			img {
				width: auto;
				min-height: 100%;
			}
		}

		.item-info {
			padding: 15px 32px;
		}
	}
}

@include respond(Desktops-Tablets) {
	.main-cut {
		@include display-flex;

		.dm-reader {
			margin: 0 auto;
			@include flex-grow(1);
		}
	}

	.m-cut {
		padding-top: 20px;
		padding-right: 10px;
		padding-left: 10px;
		max-width: 1320px;
		box-sizing: border-box;
	}

	.shopping-list {
		margin: 0 -10px;
		width: calc(100% + 20px);
		font-size: 0;
		line-height: 0;

		.owl-stage {
			@include display-flex;
			@include align-items(stretch);
			@include justify-content(space-between);

			.owl-item {
				@include display-flex;
			}
		}

		.list {
			margin: 0 10px;
			width: calc(100% - 20px);
		}

		.img-wrap {
			width: 100%;
		}

		.btn-read-more {
			margin: 0 auto 20px auto;
		}
	}
}

@include respond(HD) {
	.dm-list {
		position: relative;
		z-index: 1;
	}

	.tools {
		position: relative;

		&:before, &:after {
			content: '';
			background: $color-black;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
		}

		&:before {
			left: 100%;
		}

		&:after {
			right: 100%;
		}
	}

	.shopping-list {
		margin: 0 -16px;
		width: 1332px;

		.owl-stage .owl-item {
			margin: 0 16px;
			width: 300px !important;
		}

		.m-owl-ctrl {
			right: 16px;
		}

		.list {
			margin: 0;
			width: 100%;
		}
	}
}

@media screen and (min-width: 1746px) {
	.main-content {
		.main-cut {
			position: relative;
			z-index: 1;
		}

		.dm-list {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
		}
	}

	.thumbnails {
		right: 173px;
	}
}

@include respond(Tablets) {
	.main-cut .dm-reader {
		width: 100%;
	}

	.magazine-viewport {
		height: calc(100vh - 166px);
	}

	.thumbnails {
		top: calc((100vh - 166px) / 2);
	}

	.m-cut {
		margin: 0 10px;
	}

	.shopping-list {
		padding: 20px 0;

		.list {
			margin-bottom: 20px;
		}

		.img-wrap img {
			width: auto;
			height: 100%;
		}
	}
}

@include respond(Tablets-Mobiles) {
	.main-cut {
		@include flex-direction(column);

		.dm-list {
			@include display-flex;
			border-top: 1px solid $color-gray-d-p20;
			overflow-x: scroll;

			.list {
				padding: 10px;
			}
		}
	}

	.magazine-viewport {
		z-index: 0;

		.container {
			position: relative;
			top: 0;
			left: 0;
		}

		.magazine {
			left: 0;
			top: 0;
		}

		.page {
			width: 230px;
			height: 300px;
		}
	}

	.tools > * {
		height: 40px;
	}

	.thumbnails {
		margin-top: -80px;

		li {
			margin: 5px 0;
			padding-bottom: 24px;
		}

		figure {
			margin: 0 5px;
			position: relative;
			border: 4px solid transparent;
			border-radius: 4px;

			&.current {
				border-color: $color-text-major;
			}

			.desc {
				display: block;
				position: absolute;
				bottom: -24px;
				left: 0;
				right: 0;
				color: $color-white;
				font-size: 12px;
				line-height: 1.5em;
				text-align: center;
			}
		}
	}

	.shopping-list {
		padding-top: 20px;

		.img-wrap {
			height: 240px;
			@include flex-direction(column);
		}

		.item-info {
			padding: 15px 15px 25px 15px;

			.main-info > * {
				display: block;
			}
		}

		.btn-read-more {
			margin: 0 auto 25px auto;
		}
	}
}

@include respond(Mobiles) {
	.dm-title {
		padding: 10px;
		color: $color-white;
		font-size: 18px;
		line-height: 1.5em;
		text-align: center;
	}

	.magazine-viewport {
		height: calc(100vh - 210px);

		.next-button, .previous-button {
			display: none;
		}
	}

	.tools {
		display: block;

		> * {
			width: auto;
			text-align: center;
		}
	}

	.thumbnails {
		top: calc((100vh - 210px) / 2);
	}

	.m-cut {
		margin-top: 10px;
	}

	.shopping-list {
		margin: 0 auto;
		padding-bottom: 20px;
		width: calc(100vw - 100px);

		.owl-stage-outer {
			overflow: visible;
		}

		.owl-stage {
			@include display-flex;
			@include align-items(stretch);
			@include justify-content(space-between);
		}

		.list {
			margin: 0 10px 10px 10px;
			width: calc(100% - 20px);
		}

		.img-wrap img {
			min-width: 100%;
		}

		.owl-item {
			@include display-flex;
			@include align-items(stretch);
			@include transition(ease-in all 0.3s);

			&:not(.active) {
				@include transform(scale(0.95));
			}
		}
	}
}

@include devices(iphone) {
	.shopping-list .btn-read-more {
		margin: 0 15px 25px 15px;
	}
}

@include respond(Iphone5) {}

@include browsers('IE') {
	.shopping-list .btn-read-more {
		margin-right: 32px;
		margin-left: 32px;
	}
}

@include browsers('IE9') {
	.shopping-list {
		font-size: 0;
		line-height: 0;

		> .list {
			margin-left: 20px;
			display: inline-block;
			vertical-align: top;

			&:nth-child(4n+1) {
				margin-left: 0;
			}
		}

		.img-wrap {
			text-align: center;
		}

		.shopping-link {
			padding-bottom: 76px;
			display: block;
			overflow: hidden;
		}

		.btn-read-more {
		margin-right: auto;
		margin-left: auto;
			position: absolute;
			bottom: 20px;
			left: 32px;
			right: 32px;
		}
	}
}

@include browsers('Safari') {
	.shopping-list .btn-read-more {
		margin-right: 32px;
		margin-left: 32px;
	}
}

@include browsers('FireFox') {}

@include browsers('Edge') {}