.pin-list {
	.store .attractions-info {
		padding: 10px 0;
		bottom: 100%;
		left: 0;
		text-align: center;

		&:after {
			margin-left: -9px;
			top: 100%;
			left: 50%;
		}

		.info-title {
			color: $color-second;
			font-size: 16px;
			font-weight: bold;
		}
	}

	.attractions-info {
		position: absolute;
		z-index: 3;

		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			border-top: 9px solid $color-white;
			border-right: 9px solid transparent;
			border-left: 9px solid transparent;
		}
	}
}

@include respond(Desktops) {
	.pin-list > .list {
		position: absolute;

		&.store {
			top: 32.5%;
			left: 35.3%;
		}

		&.the-435-art-zone {
			top: 9.83%;
			left: 32.03%;

			.attractions-info {
				top: 100%;
				left: 0;

				&:after {
					bottom: 100%;
					left: 15%;
					@include transform(rotate(180deg));
				}
			}
		}

		&.the-cihui-mazu-temple {
			top: 31%;
			left: 2.8%;

			.attractions-info {
				top: 0;
				left: 100%;

				&:after {
					margin-right: -4px;
					top: 15%;
					right: 100%;
					@include transform(rotate(90deg));
				}
			}
		}

		&.da-gwan-su-sier {
			top: 31.67%;
			left: 57.11%;

			.attractions-info {
				top: 0;
				right: 100%;

				&:after {
					margin-left: -5px;
					top: 15%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}
		}

		&.the-lin-family-mansion-and-garden {
			top: 72.17%;
			left: 7.43%;

			.attractions-info {
				bottom: 100%;
				left: 0;

				&:after {
					top: 100%;
					left: 15%;
				}
			}
		}

		&.nan-ya-night-market {
			top: 73.33%;
			left: 35.46%;

			.attractions-info {
				bottom: 100%;
				left: 0;

				&:after {
					top: 100%;
					left: 15%;
				}
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.pin-list .store .attractions-info .info-title {
		font-size: 16px;
		font-weight: bold;
	}
}

@include respond(HD) {}

@include respond(Tablets) {
	.pin-list > .list.store .attractions-info {
		margin-left: -180px;
		top: 20%;
	}
}

@include respond(Tablets-Mobiles) {
	.pin-list > .list {
		&.store {
			.btn-attractions {
				top: 32.5%;
				left: 35.3%;
			}

			.attractions-info {
				bottom: auto;
				left: 50%;
			}
		}

		&.the-435-art-zone .btn-attractions {
			top: 9.83%;
			left: 32.03%;
		}

		&.the-cihui-mazu-temple .btn-attractions {
			top: 31%;
			left: 2.8%;
		}

		&.da-gwan-su-sier {
			.btn-attractions {
				top: 31.67%;
				left: 57.11%;
			}

			.attractions-info {
				left: 0;
				right: auto;
			}
		}

		&.the-lin-family-mansion-and-garden .btn-attractions {
			top: 72.17%;
			left: 7.43%;
		}

		&.nan-ya-night-market .btn-attractions {
			top: 73.33%;
			left: 35.46%;
		}

		.btn-attractions {
			position: absolute;
		}

		&:not(.store) .attractions-info {
			top: 0;
			bottom: 0;
			right: 0;

			&:after {
				display: none;
			}

			.b-link > * {
				height: 50%;
				@include box-sizing(border-box);
			}

			.info-list {
				overflow-y: scroll;
			}
		}
	}
}

@include respond(Mobiles) {
	.tourist-map .bg-map {
		@include transform(scale(1.2));
		@include transform-origin(left);
	}

	.pin-list > .list.store .attractions-info {
		margin-left: -80px;
		padding: 5px 20px;
		top: 10%;
		border-radius: 4px;

		.info-title {
			font-size: 10px;
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {}

@include browsers('IE9') {}

@include browsers('Safari') {}