.pin-list {
	.branch-tag .attractions-info {
		padding: 10px 0;
		bottom: 100%;
		left: 50%;
		text-align: center;

		&:after {
			margin-left: -9px;
			top: 100%;
			left: 50%;
		}

		.info-title {
			color: $color-second;
			font-size: 16px;
			font-weight: bold;
		}
	}

	.attractions-info {
		position: absolute;
		z-index: 3;

		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			border-top: 9px solid $color-white;
			border-right: 9px solid transparent;
			border-left: 9px solid transparent;
		}
	}
}

@include respond(Desktops) {
	.pin-list > .list {
		position: absolute;

		&.crescent {
			top: 7%;
			left: 2.6%;

			/*.attractions-info {
				top: 100%;
				left: 0;

				&:after {
					bottom: 100%;
					left: 15%;
					@include transform(rotate(180deg));
				}
			}*/
		}

		&.the-435-art-zone {
			top: 20.8%;
			left: 5.9%;

			/*.attractions-info {
				top: 0;
				left: 100%;

				&:after {
					margin-right: -5px;
					top: 15%;
					right: 100%;
					@include transform(rotate(90deg));
				}
			}*/
		}

		&.the-cihui-mazu-temple {
			top: 53%;
			left: 34.5%;

			/*.attractions-info {
				bottom: 0;
				left: 100%;

				&:after {
					margin-right: -5px;
					bottom: 15%;
					right: 100%;
					@include transform(rotate(90deg));
				}
			}*/
		}

		&.da-gwan-su-sier {
			top: 50.67%;
			left: 26.6%;

			/*.attractions-info {
				bottom: 0;
				right: 100%;

				&:after {
					margin-left: -5px;
					bottom: 15%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}*/
		}

		&.the-lin-family-mansion-and-garden {
			top: 58%;
			left: 20.85%;

			/*.attractions-info {
				bottom: 15%;
				left: 100%;

				&:after {
					margin-right: -5px;
					bottom: 15%;
					right: 100%;
					@include transform(rotate(90deg));
				}
			}*/
		}

		&.nan-ya-night-market {
			top: 74.5%;
			left: 22.92%;

			/*.attractions-info {
				bottom: 100%;
				left: 0;

				&:after {
					top: 100%;
					left: 15%;
				}
			}*/
		}

		&.sports {
			top: 40%;
			left: 28.83%;

			/*.attractions-info {
				top: -30%;
				right: 100%;

				&:after {
					margin-left: -5px;
					top: 15%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}*/
		}

		&.station {
			top: 24.5%;
			left: 40.5%;

			/*.attractions-info {
				top: 0;
				right: 100%;

				&:after {
					margin-left: -5px;
					top: 15%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}*/
		}

		&.shr {
			top: 35.5%;
			left: 38.9%;

			/*.attractions-info {
				top: -100%;
				right: 100%;

				&:after {
					margin-left: -5px;
					top: 20%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}*/
		}

		&.mega-city {
			top: 6.5%;
			left: 46.17%;
		}

		&.fe-store {
			top: 45.5%;
			left: 50%;
		}

		&.music-park {
			top: 60%;
			left: 44%;

			/*.attractions-info {
				bottom: 15%;
				right: 100%;

				&:after {
					margin-left: -5px;
					bottom: 15%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}*/
		}

		&.city-hall {
			top: 30.5%;
			left: 50.88%;

			/*.attractions-info {
				top: 0;
				right: 100%;

				&:after {
					margin-left: -5px;
					top: 15%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}*/
		}

		&.green-living {
			top: 41.5%;
			left: 58.39%;

			/*.attractions-info {
				top: -30%;
				right: 100%;

				&:after {
					margin-left: -5px;
					top: 15%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}*/
		}

		&.stadium {
			top: 57%;
			left: 61.9%;

			/*.attractions-info {
				bottom: 15%;
				right: 100%;

				&:after {
					margin-left: -5px;
					bottom: 15%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}*/
		}

		.attractions-info {
			&.to-right-bottom {
				top: 0;
				left: 100%;

				&:after {
					margin-right: -5px;
					top: 5%;
					right: 100%;
					@include transform(rotate(90deg));
				}
			}

			&.to-left-bottom {
				top: 0;
				right: 100%;

				&:after {
					margin-left: -5px;
					top: 5%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}

			&.to-right-top {
				bottom: 0;
				left: 100%;

				&:after {
					margin-right: -5px;
					bottom: 5%;
					right: 100%;
					@include transform(rotate(90deg));
				}
			}

			&.to-left-top {
				bottom: 0;
				right: 100%;

				&:after {
					margin-left: -5px;
					bottom: 5%;
					left: 100%;
					@include transform(rotate(-90deg));
				}
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.pin-list .branch-tag .attractions-info .info-title {
		font-size: 16px;
		font-weight: bold;
	}
}

@include respond(HD) {}

@include respond(Tablets) {
	.pin-list > .list.branch-tag .attractions-info {
		margin-left: -180px;
		top: 20%;
	}
}

@include respond(Tablets-Mobiles) {
	.pin-list > .list {
		&.crescent .btn-attractions {
			top: 7%;
			left: 2.6%;
		}

		&.fe-store {
			.btn-attractions {
				top: 45.5%;
				left: 50%;
			}

			.attractions-info {
				bottom: auto;
				left: 50%;
			}
		}

		&.the-435-art-zone .btn-attractions {
			top: 20.8%;
			left: 5.9%;
		}

		&.the-cihui-mazu-temple .btn-attractions {
			top: 53%;
			left: 34.5%;
		}

		&.da-gwan-su-sier {
			.btn-attractions {
				top: 50.67%;
				left: 26.6%;
			}

			.attractions-info {
				left: 0;
				right: auto;
			}
		}

		&.the-lin-family-mansion-and-garden .btn-attractions {
			top: 58%;
			left: 20.85%;
		}

		&.nan-ya-night-market .btn-attractions {
			top: 74.5%;
			left: 22.92%;
		}

		&.sports .btn-attractions {
			top: 40%;
			left: 28.83%;
		}

		&.station .btn-attractions {
			top: 24.5%;
			left: 40.5%;
		}

		&.shr .btn-attractions {
			top: 35.5%;
			left: 38.9%;
		}

		&.mega-city .btn-attractions {
			top: 6.5%;
			left: 46.17%;
		}

		&.branch-tag .btn-attractions {
			top: 45.5%;
			left: 50%;
		}

		&.music-park .btn-attractions {
			top: 60%;
			left: 44%;
		}

		&.city-hall .btn-attractions {
			top: 30.5%;
			left: 50.88%;
		}

		&.green-living .btn-attractions {
			top: 41.5%;
			left: 58.39%;
		}

		&.stadium .btn-attractions {
			top: 57%;
			left: 61.9%;
		}

		.btn-attractions {
			position: absolute;
		}

		&:not(.branch-tag) .attractions-info {
			top: 0;
			bottom: 0;
			right: 0;

			&:after {
				display: none;
			}

			.b-link > * {
				height: 50%;
				@include box-sizing(border-box);
			}

			.info-list {
				overflow-y: scroll;
			}
		}
	}
}

@include respond(Mobiles) {
	.tourist-map .bg-map {
		margin: 20px 0;
		@include transform(scale(1.3));
		@include transform-origin(left);
	}

	.pin-list > .list.branch-tag .attractions-info {
		margin-left: -80px;
		padding: 5px 20px;
		top: 10%;
		border-radius: 4px;

		.info-title {
			font-size: 10px;
		}
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {}

@include browsers('IE9') {}

@include browsers('Safari') {}