/* h1 ~ h6 */
h2 , .b-h2 {
    font-family : $font-family-light;
    line-height : 1.4;

    .m-icon {
        top       : -3px !important;
        font-size : 130%;
        position  : relative;
    }
}

h3 , .b-h3 , h4 , .b-h4 {
    line-height : 1.4;

    .m-icon {
        top       : -2px !important;
        font-size : 150%;
        position  : relative;
    }
}

/* link */
.b-link {
    color : $color-info;
    @include transition(color $transition-times);

    &.is-icon {
        .m-icon {
            font-size : 200%;
        }
    }

    .m-icon {
        top          : -1px;
        margin-right : 3px;
        margin-left  : 3px;
        position     : relative;
    }
}

/* br */
[class^="b-br-"] , [class*=" b-br-"] {
    display : none !important;
}

/* clearfix */
.b-clearfix {
    &:after {
        content : "";
        width   : 100%;
        height  : 0;
        clear   : both;
        @include clearfix;
        @include display(block);
    }
}

/* vertical-align middle */
.b-middle {
    font-size   : 0;
    height      : 100%;
    line-height : 0;
    position    : relative;

    &:before {
        content : "";
        height  : 100%;
        zoom    : 1;
        @include inline-block;
    }

    > * {
        @include inline-block;
    }
}

/* mark */
.b-mark {
    color      : inherit;
    background : transparent;
}

/* text-align */
.b-text-left {
    text-align : left !important;
}

.b-text-center {
    text-align : center !important;
}

.b-text-right {
    text-align : right !important;
}

/* hide */
.b-hide {
    display : none !important;
}

/* block */
.b-block {
    @include display(block , $important : true);
}

/* inline */
.b-inline {
    display : inline-block !important;
    @include inline-block;
}

.b-p {
    line-height : 1.8;
}

/* row */
.b-row {
    @include clearfix;

    &.b-clearfix {
        overflow : visible;
        @extend .b-clearfix;
    }
}

/* col */
[class^="b-col-"] , [class*=" b-col-"] {
    min-height : 1px;
    position   : relative;
    @include box-sizing(border-box);
}

/* color */
@each $key , $value in $color {
    .b-text-#{$key} {
        color : #{$value} !important;
    }

    .b-bg-#{$key} {
        background-color : #{$value} !important;

        @if $key == 'disabled' {
            color  : #{darken($value , 10%)} !important;
            cursor : not-allowed;
            @include text-shadow(rgba($color-white , .45) 1px 1px 0);
        }
    }
}

@include respond-to(Desktops) {
    /* h1 ~ h6 */
    h2 , .b-h2 {
        font-size : 60px;

        .m-icon-stack , .m-icon {
            margin-right : 5px;
        }
    }

    h3 , .b-h3 {
        font-size : 25px;
    }

    /*h4 , .b-h4 {
        font-size : 18px;
    }

    h5 , .b-h5 {
        font-size : 16px;
    }*/

    h6 , .b-h6 {
        font-size : 15px;
    }

    /* link */
    .b-link {
        &:hover {
            color : darken($color-link , 15%);
        }
    }
    
    /* br */
    .b-br-md {
        display : block !important;
    }
    
    /* text-align */
    .b-text-left-md {
        text-align : left !important;
    }

    .b-text-center-md {
        text-align : center !important;
    }

    .b-text-right-md {
        text-align : right !important;
    }

    /* hide */
    .b-hide-md {
        display : none !important;
    }

    /* block */
    .b-block-md {
        @include display(block , $important : true);
    }

    /* inline */
    .b-inline-md {
        display : inline-block !important;
        @include inline-block;
    }

    /* row */
    .b-row , .b-row-md {
        margin-right : -10px;
        margin-left  : -10px;
    }
    
    /* col */
    $types : 12;
    $total : 12;
    @while $types > 0 {
        .b-col-md-#{$types} {
            padding-right : 10px;
            padding-left  : 10px;
            width         : ((100% / $total) * $types) !important;

            @if $types != 12 {
                float : left;
            }
        }

        $types : $types - 1;
    }

    /* p */
    .b-p {
        font-size   : 15px;

        &.is-lg {
            font-size : 20px;
        }

        /*&.is-sm {
            font-size : 14px;
        }*/
    }
}

@include respond-to(Desktops-Tablets) {}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {
    /* h1 ~ h6 */
    h2 , .b-h2 {
        font-size : 45px;

        .m-icon-stack , .m-icon {
            margin-right : 4px;
        }
    }

    h3 , .b-h3 {
        font-size : 20px;
    }

    /*h4 , .b-h4 {
        font-size : 16px;
    }

    h5 , .b-h5 {
        font-size : 15px;
    }*/

    h6 , .b-h6 {
        font-size : 14px;
    }

    /* br */
    .b-br-sm {
        display : block !important;
    }

    /* text-align */
    .b-text-left-sm {
        text-align : left !important;
    }

    .b-text-center-sm {
        text-align : center !important;
    }

    .b-text-right-sm {
        text-align : right !important;
    }

    /* hide */
    .b-hide-sm {
        display : none !important;
    }

    /* block */
    .b-block-sm {
        @include display(block , $important : true);
    }

    /* inline */
    .b-inline-sm {
        display : inline-block !important;
        @include inline-block;
    }

    /* row */
    .b-row , .b-row-sm {
        margin-right : -8px;
        margin-left  : -8px;
    }
    
    /* col */
    $types : 12;
    $total : 12;
    @while $types > 0 {
        .b-col-sm-#{$types} {
            padding-right : 8px;
            padding-left  : 8px;
            width         : ((100% / $total) * $types) !important;

            @if $types != 12 {
                float : left;
            }
        }

        $types : $types - 1;
    }

    /* p */
    .b-p {
        font-size : 14px;

        &.is-lg {
            font-size : 18px;
        }

        /*&.is-sm {
            font-size : 13px;
        }*/
    }
}

@include respond-to(Mobiles) {
    /* h1 ~ h6 */
    h2 , .b-h2 {
        font-size : 30px;

        .m-icon-stack , .m-icon {
            margin-right : 3px;
        }
    }

    h3 , .b-h3 {
        font-size : 14px;
    }

    /*h4 , .b-h4 {
        font-size : 14px;
    }

    h5 , .b-h5 {
        font-size : 13px;
    }*/

    h6 , .b-h6 {
        font-size : 12px;
    }

    /* br */
    .b-br-xs {
        display : block !important;
    }

    /* text-align */
    .b-text-left-xs {
        text-align : left !important;
    }

    .b-text-center-xs {
        text-align : center !important;
    }

    .b-text-right-xs {
        text-align : right !important;
    }

    /* hide */
    .b-hide-xs {
        display : none !important;
    }

    /* block */
    .b-block-xs {
        @include display(block , $important : true);
    }

    /* inline */
    .b-inline-xs {
        display : inline-block !important;
        @include inline-block;
    }

    /* row */
    .b-row , .b-row-xs {
        margin-right : -5px;
        margin-left  : -5px;
    }

    /* col */
    $types : 6;
    $total : 6;
    @while $types > 0 {
        .b-col-xs-#{$types} {
            padding-right : 5px;
            padding-left  : 5px;
            width         : ((100% / $total) * $types) !important;

            @if $types != 6 {
                float : left;
            }
        }

        $types : $types - 1;
    }

    /* p */
    .b-p {
        font-size : 13px;

        &.is-lg {
            font-size : 16px;
        }

        /*&.is-sm {
            font-size : 13px;
        }*/
    }
}