$FontNum : 2015101401;

@font-face {
    font-family : 'OpenSans-Light';
    src         : font-url('OpenSans-Light.eot?#{$FontNum}');
    src         : font-url('OpenSans-Light.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('OpenSans-Light.woff?#{$FontNum}') format('woff'),
                  font-url('OpenSans-Light.ttf?#{$FontNum}') format('truetype'),
                  font-url('OpenSans-Light.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'OpenSans-Regular';
    src         : font-url('OpenSans-Regular.eot?#{$FontNum}');
    src         : font-url('OpenSans-Regular.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('OpenSans-Regular.woff?#{$FontNum}') format('woff'),
                  font-url('OpenSans-Regular.ttf?#{$FontNum}') format('truetype'),
                  font-url('OpenSans-Regular.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}