.l-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.l-body {
	position: relative;
	overflow-x: hidden;

	.l-content {
		background: $color-black;
		@include transition(ease-in all 0.3s);
	}
}

.l-nav {
	background: $color-white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.l-side {
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 2;

	> * {
		pointer-events: auto;
	}
}

.l-footer {
	background: $color-gray-d-p30;
	z-index: 2;
}

@include respond(Desktops) {
	.l-body.show-header .l-content {
		padding-top: 120px;
	}

	.l-side {
		right: 14px;
	}
}

@include respond(HD) {}

@include respond(Desktops-Tablets) {
	.l-body {
		.l-content {
			padding-top: 70px;
		}

		&.show-header .l-content {
		}

		&.show-footer .l-side .btn-top {
			opacity: 1;
			z-index: 1;
		}
	}
}

@include respond(Tablets) {
	.l-header > * {
		padding: 0 10px;
	}

	.l-body.show-header .l-content {
		padding-top: 86px;
	}
}

@include respond(Tablets-Mobiles) {
	.l-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 4;
	}

	.l-side {
		display: none;
	}

	.l-footer {
		position: relative;
	}
}

@include respond(Mobiles) {
	.l-header {
		display: none;
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}