.l-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.l-body {
	position: relative;
	overflow-x: hidden;

	.l-content {
		background: $color-black;
		@include transition(ease-in all 0.3s);
	}
}

.l-nav {
	background: $color-white;
}

.l-side {
	@include display-flex;
	@include align-items(center);
	@include flex-direction(column);
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 14px;
	pointer-events: none;
	z-index: 2;

	> * {
		pointer-events: auto;
	}
}

.l-footer {
	background: $color-gray-d-p30;
	z-index: 2;
}

@include respond(Desktops) {
	.l-body.show-header .l-content {
		padding-top: 120px;
	}
}

@include respond(HD) {}

@include respond(Desktops-Tablets) {
	.l-nav {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	.l-body {
		.l-content {
			padding-top: 70px;
		}

		&.show-header .l-content {
		}

		&.show-footer .l-side .btn-top {
			opacity: 1;
			z-index: 1;
		}
	}

	.l-side {
		@include justify-content(center);
	}
}

@include respond(Tablets) {
	.l-header > * {
		padding: 0 10px;
	}

	.l-body.show-header .l-content {
		padding-top: 86px;
	}
}

@include respond(Tablets-Mobiles) {
	.l-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 4;
	}

	.l-footer {
		position: relative;
	}
}

@include respond(Mobiles) {
	.l-header {
		background: $color-white;
		height: 56px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

		&.is-active {
			.shortcut-wrap {
				max-height: 100vh;
			}

			.btn-mobile-menu {
				&:before {
					margin-top: 0;
					@include transform(rotate(45deg));
				}
	
				&:after {
					margin-top: 0;
					margin-left: -15px;
					width: 30px;
					@include transform(rotate(-45deg));
				}
	
				em {
					background: transparent !important;
				}
			}
	
			.l-nav {
				max-height: 100vh;
			}
		}
	}

	.l-nav {
		max-height: 0;
		overflow: hidden;
		@include transition(ease-in all 0.3s);
	}

	.l-body .l-content {
		padding-top: 56px;
	}

	.l-side {
		width: 54px;
		@include flex-direction(column-reverse);
		@include justify-content(flex-start);
	}
}

@include devices(iphone) {}

@include respond(Iphone5) {}