.m-aside-hd {
    font-size   : 25px;
    color       : $color-white;
    line-height : 50px;
    background  : $major-color;
    position    : relative;
    @include clearfix;

    &:after {
        content    : "";
        background : rgba($color-white , 0.3);
        width      : 110%;
        position   : absolute;
        right      : 0;
        @include display(block);
        @include rotate(-3.5deg);
    }
}


@include respond-to(Desktops) {
    .m-aside-hd:after {
        right  : 0;
        bottom : -11px;
        height : 20px;
    }
}

@include respond-to(Desktops-Tablets) {}

@include respond-to(Tablets) {
    .m-aside-hd:after {
        right  : -10px;
        bottom : -31px;
        height : 40px;
    }
}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {}