.m-aside-hd {
    background  : $major-color;
    position    : relative;
    overflow    : hidden;
    color       : $color-white;
    font-size   : 25px;
    line-height : 50px;

    &:after {
        content    : '';
        background : rgba(255, 255, 255, 0.3);
        display    : block;
        width      : 110%;
        position   : absolute;
        right      : 0;
        @include rotate(-3.5deg);
    }
}


@include respond-to(Desktops) {
    .m-aside-hd:after {
        height : 20px;
        bottom : -11px;
        right  : 0;
    }
}

@include respond-to(Desktops-Tablets) {}

@include respond-to(Tablets) {
    .m-aside-hd:after {
        height : 40px;
        bottom : -31px;
        right  : -10px;
    }
}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {}