.m-accordion {
	.m-accordion-bd {
		border-bottom: 1px solid $color-gray-l-p20;
	}

	&.is-open {
		.btn-switch:after {
			@include transform(rotate(225deg));
		}

		.m-accordion-bd {
			max-height: 2500px;
		}
	}
}

.m-accordion-hd .btn-switch {
	display: block;
	width: 100%;
	position: relative;
	text-align: left;

	&:after {
		content: '';
		margin-top: -5px;
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		top: 50%;
		border-right: 2px solid $color-text-major;
		border-bottom: 2px solid $color-text-major;
		@include box-sizing(border-box);
		@include transform(rotate(45deg));
		@include transition(ease-in all 0.3s);
	}
}

.m-accordion-bd {
	max-height: 0px;
	overflow: hidden;
	@include transition(ease-in-out max-height 0.3s);
}

@include respond(Desktops) {}

@include respond(Desktops-Tablets) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {}