.m-article {
    @include box-sizing(border-box);
}

.m-article-hd {
    border-bottom : 1px solid $border-minor-color;
}

.m-article-bd {
    .issue-time {
        font-size : 15px;
    }

    .issue-time, > img {
        display : block;
    }
}

.m-article-img {
    margin-top : 25px;
    display    : block;
    text-align : center;

    img {
        display : inline-block;
    }
}

.m-article-text {
    margin-top : 0;
    @include box-sizing(border-box);
}

.m-article-ft {
    > ul > li {
        border-top : 1px solid $border-minor-color;

        &:first-child {
            margin-top  : 0;
            padding-top : 0;
            border-top  : 0;
        }
    }
}

@include respond-to(Desktops) {
    .m-article-bd > *, .m-article-text p {
        margin-top : 25px;
    }

    .m-article-ft {
        margin-top : 40px;
    }
}

@include respond-to(Desktops-Tablets) {
    .m-article-hd h3 {
        padding     : 0 0 20px 0;
        font-size   : 30px;
        line-height : 1.5em;
    }

    .m-article-bd {
        &.is-img-right {
            .m-article-img {
                margin-top : 0 !important;
                width      : 50%;
                float      : right;
            }

            .m-article-text {
                padding-right : 20px;
            }
        }

        &.is-img-left {
            .m-article-img {
                margin-top   : 0 !important;
                margin-right : 20px;
                width        : 50%;
                float        : left;
                text-align   : left;
            }
        }

        .m-article-img {
            max-width : 100%;
        }
    }

    .m-article-ft {
        > ul > li {
            margin-top  : 50px;
            padding-top : 50px;
            display     : table;

            > * {
                display : table-cell;
            }
        }

        .m-button-tool {
            width       : 1%;
            white-space : nowrap;
        }
    }
}

@include respond-to(Tablets) {
    .m-article-bd > *, .m-article-text p {
        margin-top : 20px;
    }

    .m-article-ft {
        margin-top : 30px;
    }
}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
    .m-article-hd h3 {
        padding     : 0 0 10px 0;
        font-size   : 20px;
        line-height : 1.5em;
    }

    .m-article-bd > *, .m-article-text p {
        margin-top : 15px;
    }

    .m-article-ft {
        margin-top : 20px;

        > ul > li {
            margin-top  : 25px;
            padding-top : 25px;

            > * {
                margin-top : 10px;
                width      : 100%;

                &:first-child {
                    margin-top : 0;
                }
            }
        }
    }
}