.m-accordion {
    position : relative;
}

.m-accordion-bd {
    position : relative;

    > ul {
        position : relative;

        > li {
            position : relative;
            @include box-sizing(border-box);

            &.is-active {
                > button {
                    background : $major-color;

                    &:after {
                        @include rotate(90deg);
                    }
                }

                .m-accordion-item {
                    max-height : 5000px;
                }
            }

            > button {
                color      : $color-white;
                text-align : left;
                width      : 100%;
                position   : relative;
                background : $minor-color;
                @include box-sizing(border-box);
                @include transition(background $transition-times);

                &:before , &:after {
                    content    : "";
                    top        : 50%;
                    position   : absolute;
                    background : $color-white;
                    @include rotate(0);
                    @include display(block);
                    @include transform-origin(center , center);
                    @include transition(transform $transition-times);
                }
            }
        }
    }
}

.m-accordion-item {
    max-height : 0;
    position   : relative;
    @include clearfix;
    @include transition(max-height $transition-times);

    > div {
        > ul {
            > li {
                border-top : 1px dashed lighten($border-minor-color , 12%);

                &:first-child {
                    border-top : 0;
                }
            }
        }
    }
}

@include respond-to(Desktops) {
    .m-accordion-bd {
        > ul {
            > li {
                margin-top : 10px;

                &:first-child {
                    margin-top : 0;
                }

                > button {
                    padding : 15px 20px;

                    &:before , &:after {
                        right  : 20px;
                        width  : 20px;
                        height : 2px;
                    }
                }
            }
        }
    }

    .m-accordion-item {
        > div {
            padding-top    : 25px;
            padding-bottom : 10px;
            

            > * {
                margin-top : 20px;

                &:first-child {
                    margin-top : 0;
                }
            }

            > ul {
                > li {
                    margin-bottom : 15px;
                    padding-top   : 15px;

                    &:first-child {
                        padding-top : 0;
                    }

                    > * {
                        margin-top : 20px;

                        &:first-child {
                            margin-top : 0;
                        }
                    }

                    > h3  {
                        margin-bottom : -15px;
                    }
                }    
            }
        }
    }
}

@include respond-to(Desktops-Tablets) {}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {
    .m-accordion-bd {
        > ul {
            > li {
                margin-top : 8px;

                &:first-child {
                    margin-top : 0;
                }

                > button {
                    padding : 12px 15px;

                    &:before , &:after {
                        right  : 15px;
                        width  : 15px;
                        height : 2px;
                    }
                }
            }
        }
    }

    .m-accordion-item {
        > div {
            > ul {
                padding-top    : 20px;
                padding-bottom : 8px;

                > li {
                    margin-bottom : 12px;
                    padding-top   : 12px;

                    &:first-child {
                        padding-top : 0;
                    }

                    > * {
                        margin-top : 15px;

                        &:first-child {
                            margin-top : 0;
                        }
                    }

                    > h3  {
                        margin-bottom : -12px;
                    }
                }
            }
        }
    }
}

@include respond-to(Mobiles) {
    .m-accordion-bd {
        > ul {
            > li {
                margin-top : 4px;

                &:first-child {
                    margin-top : 0;
                }

                > button {
                    padding : 8px 10px;

                    &:before , &:after {
                        right  : 10px;
                        width  : 10px;
                        height : 1px;
                    }
                }
            }
        }
    }

    .m-accordion-item {
        > div {
            > ul {
                padding-top    : 15px;
                padding-bottom : 5px;

                > li {
                    margin-bottom : 10px;
                    padding-top   : 10px;

                    &:first-child {
                        padding-top : 0;
                    }

                    > * {
                        margin-top : 10px;

                        &:first-child {
                            margin-top : 0;
                        }
                    }

                    > h3  {
                        margin-bottom : -10px;
                    }
                }
            }
        }
    }
}