.m-button {
    color        : $minor-color;
    border-style : solid;
    border-color : $minor-color;
    background   : transparent;
    @include box-sizing(border-box);

    &.is-active {
        color        : $color-white;
        background   : $major-color;
        border-color : $major-color;
    }

    &.is-shared {
        padding     : 0;
        width       : 40px;
        height      : 40px;
        min-width   : 0;
        border      : 0;
        font-size   : 30px !important;
        line-height : 40px;
    }

    &.is-sm {
        padding-top    : 0;
        padding-bottom : 0;
        min-width      : auto;
    }

    /* color */
    @each $key , $value in $color {
        &.b-text-#{$key} {
            color        : #{$value};
            border-color : #{$value};
        }
    }
}

@include respond-to(Desktops) {}

@include respond-to(Desktops-Tablets) {
    .m-button {
        padding-top    : 10px;
        padding-bottom : 10px;
        font-size      : 20px;
        border-width   : 2px;
        min-width      : 200px;
        @include transition((background $transition-times , color $transition-times , border $transition-times));

        &:hover {
            color        : $color-white;
            background   : $major-color;
            border-color : $major-color;
        }

        &.is-lg {
            font-size : 25px;
            min-width : 250px;
        }

        &.is-sm {
            padding-right : 30px;
            padding-left  : 30px;
            font-size     : 15px;
            line-height   : 36px;
            min-width     : auto;
        }
    }
}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
    .m-button {
        padding-top    : 5px;
        padding-bottom : 5px;
        font-size      : 15px;
        border-width   : 1px;
        width          : 100%;

        &.is-lg {
            font-size : 14px;
            width     : 100%;
        }

        &.is-sm {
            padding-right : 20px;
            padding-left  : 20px;
            font-size     : 14px;
            width         : auto;
            line-height   : 28px;
        }
    }
}