.m-footer {
	position: relative;

	.info-list .b-link {
		color: $color-white;
	}

	.copyright {
		color: $color-gray;
	}

	.social-link {
		display: inline-block;
		color: $color-white;
		text-align: center;

		&.instagram {
			background: $color-instagram;
		}

		&.facebook {
			background: $color-facebook;
		}
	}

	.footer-logo img {
		width: 100%;
	}
}

@include respond(Desktops) {
	.m-footer {
		padding: 24px 32px 64px 32px;

		.copyright {
			left: 0;
			right: 0;
		}

		.social-link {
			&.instagram {
				right: 230px;
			}

			&.facebook {
				right: 184px;
			}
		}

		.footer-logo {
			right: 54px;
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-footer {
		margin: 0 auto;
		@include box-sizing(border-box);

		.info-list {
			font-size: 0;
			line-height: 0;
	
			.list {
				padding: 0 10px 0 9px;
				display: inline-block;
				position: relative;
				font-size: 14px;
				line-height: 1.5em;

				&:after {
					content: '';
					margin-top: -7px;
					background: $color-white;
					display: block;
					width: 1px;
					height: 14px;
					position: absolute;
					top: 50%;
					right: 0;
				}

				&:last-child {
					padding-right: 0;
					border-left: 0;

					&:after {
						display: none;
					}
				}
			}

			.b-link:hover {
				color: $color-gray;
			}
		}

		.copyright {
			position: absolute;
			bottom: 16px;
			line-height: 32px;
		}

		.social-link {
			width: 30px;
			height: 30px;
			position: absolute;
			bottom: 16px;
			font-size: 16px;
			line-height: 30px;
		}

		.footer-logo {
			width: 90px;
			height: 38px;
			position: absolute;
			bottom: 16px;
		}
	}
}

@include respond(HD) {
	.m-footer {
		width: $main-max-width;

		.info-list .list {
			padding: 0 18px;
		}
	}
}

@include respond(Tablets) {
	.m-footer {
		padding: 28px 32px 64px 32px;

		.copyright {
			left: 41px;
		}

		.social-link {
			&.instagram {
				right: 186px;
			}

			&.facebook {
				right: 142px;
			}
		}

		.footer-logo {
			right: 32px;
		}
	}
}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {
	.m-footer {
		padding: 16px 0 16px 10px;
		line-height: 1.5em;

		.info-list .b-link {
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.copyright {
			margin-top: 10px;
			display: block;
		}
	}
}

@include respond(Iphone5) {}