.m-footer {
	position: relative;

	.info-list .b-link {
		color: $color-white;
	}

	.copyright {
		color: $color-gray;
	}

	.social-link {
		display: inline-block;
		color: $color-white;
		text-align: center;

		&.instagram {
			background: $color-instagram;
		}

		&.facebook {
			background: $color-facebook;
		}
	}

	.footer-logo {
		background: image-url('shared/footer-logo.png') 0 0 no-repeat;
	}
}

@include respond(Desktops) {
	.m-footer {
		padding: 28px 280px 64px 32px;

		.copyright {
			bottom: 0;
			left: 0;
			right: 0;
		}

		.social-link {
			top: 18px;

			&.instagram {
				right: 230px;
			}

			&.facebook {
				right: 184px;
			}
		}

		.footer-logo {
			top: 16px;
			right: 54px;
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-footer {
		margin: 0 auto;
		@include box-sizing(border-box);

		.info-list {
			font-size: 0;
			line-height: 0;
	
			.list {
				padding: 0 10px 0 9px;
				display: inline-block;
				border-left: 1px solid $color-white;
				font-size: 14px;
				line-height: 16px;

				&:first-child {
					border-left: 0;
				}
			}

			.b-link:hover {
				color: $color-gray;
			}
		}

		.copyright {
			position: absolute;
			line-height: 32px;
		}

		.social-link {
			width: 30px;
			height: 30px;
			position: absolute;
			font-size: 16px;
			line-height: 30px;
		}

		.footer-logo {
			background-size: 90px auto;
			width: 90px;
			height: 38px;
			position: absolute;
		}
	}
}

@include respond(HD) {
	.m-footer {
		width: $main-max-width;

		.info-list .list {
			padding: 0 20px 0 19px;
			letter-spacing: 1px;
		}
	}
}

@include respond(Tablets) {
	.m-footer {
		padding: 28px 32px 64px 32px;

		.copyright {
			left: 41px;
			bottom: 16px;
		}

		.social-link {
			bottom: 16px;

			&.instagram {
				right: 186px;
			}

			&.facebook {
				right: 142px;
			}
		}

		.footer-logo {
			bottom: 16px;
			right: 32px;
		}
	}
}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {
	.m-footer {
		padding: 16px 0 16px 10px;
		line-height: 1.5em;

		.info-list .b-link {
			letter-spacing: 1px;
			line-height: 1.5em;
		}

		.copyright {
			margin-top: 10px;
			display: block;
		}
	}
}

@include respond(Iphone5) {}