.l-header {
	&.main-header .menu-list.is-highlight:before {
		display: none;
	}

	.btn-lang {
		color: $color-gray-l-p10;
		letter-spacing: 2px;

		&.is-curr {
			color: $color-black;
		}
	}
}

.marquee-wrap {
	background: $color-gray-d-p30;
	max-height: 0;
	overflow: hidden;
	color: $color-white;
	@include transition(ease-in all 0.3s);

	.marquee-content {
		position: relative;
		box-sizing: border-box;
	}

	.m-icon {
		margin-right: 5px;
		font-size: 20px;
	}

	.marquee-wording .text {
		font-size: 14px;
		line-height: 1.5em;
	}

	.btn-close {
		margin-top: -12px;
		width: 24px !important;
		height: 24px !important;
		position: absolute;
		top: 50%;
		border: 1px solid $color-white;
		border-radius: 50%;
		box-sizing: border-box;
		@include transition(ease-in all 0.3s);

		&:before, &:after {
			content: '';
			margin: -1px 0 0 -4px;
			background: $color-white;
			display: block;
			width: 8px;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transition(ease-in all 0.3s);
		}

		&:before {
			@include transform(rotate(-45deg));
		}

		&:after {
			@include transform(rotate(45deg));
		}

		&:hover {
			background: $color-white;

			&:before, &:after {
				background: $color-gray-d-p30;
			}
		}
	}
}

.menu-list {
	&.is-highlight {
		&:before {
			content: '';
			display: inline-block;
		}

		.list .text {
			color: #0073ce;
		}
	}

	.menu-slider {
		max-height: 0;
		overflow: hidden;
		@include transition(ease-in all 0.5s);
	}
}

.m-logo {
	display: inline-block;

	.b-link {
		@include display-flex;
		@include align-items(center);
		@include justify-content(flex-start);

		img {
			max-width: 100%;
			max-height: 100%;
		}

		.text {
			display: none;
		}
	}
}

.shortcut-wrap .quick-list .language-selecter .b-link {
	color: $color-black;
}

.main-menu {
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);

	.function-list .btn-func {
		&.show-func ~ .popup-function {
			opacity: 1;
			overflow: visible;
		}

		&.show-func, &:hover {
			.m-icon {
				color: $color-text-major;
			}
		}

		.m-icon {
			@include transition(ease-in all 0.3s);
		}

		&.shopping .count {
			background: $color-text-major;
			display: inline-block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			color: $color-white;
			font-size: 12px;
			line-height: 16px;
			text-align: center;
		}
	}

	.popup-function {
		@include display-flex;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		@include transition(ease-in all 0.3s);

		.function-wrap {
			width: 100%;

			.btn-link {
				position: relative;
	
				.count {
					margin-top: -10px;
					padding: 0 10px;
					background: #ff6a5b;
					position: absolute;
					top: 50%;
					right: 20px;
					border-radius: 10px;
					color: $color-white;
					font-size: 12px;
					line-height: 20px;
				}
			}
		}

		.function-title {
			border-bottom: 1px solid $color-gray-l-p40;
			color: $color-gray-d-p30;
			line-height: 1.5em;
		}

		.function-desc {
			color: $color-gray-d-p30;
			line-height: 1.5em;
		}

		.m-box-holder, .keyword-list {
			font-size: 0;
			line-height: 0;
		}

		.m-box-holder {
			height: 36px;
			border: 1px solid $color-gray-l-p40;
			border-radius: 18px;
			overflow: hidden;
			font-size: 14px;
			line-height: 34px;

			> * {
				height: 34px;
				border-radius: 17px;
			}

			.m-input {
				color: $color-gray-l-p10;
			}

			.btn-search {
				background: $color-gray-l-p10;
				border-radius: 17px;
				color: $color-white;
				@include transition(ease-in all 0.3s);

				&:hover {
					background: $color-text-major;
				}
			}
		}

		.btn-keyword {
			width: 32px;
			height: 32px;
			border: 1px solid $color-gray-l-p30;
			border-radius: 50%;
			color: $color-gray;
			font-size: 12px;
			line-height: 32px;
			text-align: center;
			@include transition(ease-in all 0.3s);

			&:hover {
				background: $color-text-major;
				border-color: $color-text-major;
				color: $color-white;
			}
		}

		.img-wrap img {
			width: 100%;
		}

		.btn-link {
			margin: 16px 0;
			height: 36px;
			border: 1px solid $color-gray-d-p30;
			border-radius: 18px;
			box-sizing: border-box;
			color: $color-gray-d-p30;
			font-size: 12px;
			line-height: 34px;
			@include transition(ease-in all 0.3s);

			&:hover {
				background: $color-gray-d-p30;
				border-color: $color-gray-d-p30;
				color: $color-white;
			}

			&.fb-login {
				border: 1px solid $color-facebook;
				color: $color-facebook !important;

				&:hover {
					background: $color-facebook;
					color: $color-white !important;
				}
			}

			&.google-login {
				border: 1px solid $color-google;
				color: $color-google !important;

				&:hover {
					background: $color-google;
					color: $color-white !important;
				}
			}

			&.btn-cancel {
				border: 1px solid $color-gray-l-p10;
				color: $color-white;

				&:hover {
					background: darken($color-gray-l-p10 , 10%);
				}
			}
		}

		.info-hint {
			.line-through {
				@include display-flex;
				@include align-items(center);
				@include justify-content(center);

				&:before, &:after {
					content: '';
					background: $color-gray-l-p10;
					display: inline-block;
					@include flex-grow(1);
					height: 1px;
				}
			}

			.hint-text {
				padding: 0 10px;
				color: $color-gray-d-p30;
				font-size: 15px;
				line-height: 1.5em;
			}

			.text {
				color: $color-gray-l-p10;
				font-size: 12px;
				line-height: 1.5em;
			}

			.b-highlight {
				color: #ff6a5b;
			}
		}

		.m-tab-wrap {
			border-bottom: 1px solid $color-black;

			.btn-tab {
				width: 100%;
				height: 50px;
				position: relative;
				color: $color-gray-d-p30;
				font-size: 16px;

				&:after {
					content: '';
					background: $color-black;
					display: block;
					width: 100%;
					height: 2px;
					position: absolute;
					bottom: 0;
					left: 0;
					opacity: 0;
					@include transition(ease-in all 0.3s);
				}

				&.is-curr, &:hover {
					font-weight: bold;

					&:after {
						opacity: 1;
					}
				}
			}
		}

		.favorite-list {
			margin-bottom: 20px;

			.item-list {
				padding-top: 25px;
				position: relative;
				font-size: 0;
				line-height: 0;

				.b-link:hover {
					img {
						@include transform(scale(1.05));
					}

					.item-text-info > *:first-child {
						color: $color-text-major;

						&:after {
							background: $color-text-major;
						}
					}
				}
	
				.item-pic {
					padding-right: 10px;
	
					.img-wrap {
						height: 124px;
						border: 1px solid $color-gray-l-p30;
					}
				}

				.food-pic, .article-pic {
					padding-right: 10px;
				}
	
				.img-wrap {
					@include display-flex;
					@include align-items(center);
					@include justify-content(center);
					box-sizing: border-box;
					overflow: hidden;

					img {
						@include transition(ease-in all 0.3s);
					}
				}
	
				.item-text-info {
					padding-left: 10px;
					color: $color-gray-d-p30;
					font-size: 12px;
					line-height: 1.5em;

					> *:first-child {
						margin-bottom: 6px;
						margin-right: 30px;
						padding-bottom: 6px;
						position: relative;
						@include transition(ease-in all 0.3s);
	
						&:after {
							content: '';
							background: $color-gray-d-p30;
							display: block;
							width: 35px;
							height: 4px;
							position: absolute;
							bottom: 0;
							left: 0;
							@include transition(ease-in all 0.3s);
						}
					}
	
					.item-title {
						font-size: 16px;
						line-height: 1.5em;
					}

					.note {
						color: #004ca2;
					}

					.item-price {
						color: $color-text-major;
						font-size: 14px;
					}
				}

				.notice-msg {
					padding: 0 5px;
					background: $color-text-major;
					height: 20px;
					position: absolute;
					top: 25px;
					left: 0;
					z-index: 1;
					color: $color-white;
					font-size: 12px;
					line-height: 20px;
				}
			}
		}

		.btn-checkout {
			background: $color-text-major;
			border-color: $color-text-major;
			color: $color-white;
			@include transition(ease-in all 0.3s);

			&:hover {
				background: darken($color-text-major, 10%);
			}
		}

		.shopping-amount {
			padding: 20px 0;
			border-top: 1px solid $color-gray-d-p30;
			color: $color-gray-d-p30;
			font-size: 12px;
			line-height: 1.5em;

			.highlight {
				color: $color-text-major;
				font-size: 18px;
				line-height: 1.5em;
			}
		}

		.btn-read-more {
			display: inline-block;
			overflow: hidden;
			border: 1px solid $color-gray-d-p30;
			color: $color-gray-d-p30;
			font-size: 0;
			text-indent: 200%;
			text-overflow: ellipsis;
			white-space: nowrap;
			@include transition(ease-in all 0.3s);

			&:after {
				color: $color-white;
			}

			&:hover {
				background: $color-text-major;
				border-color: $color-text-major;
				color: $color-white;
			}
		}

		.btn-delete {
			width: 40px;
			height: 40px;
			position: absolute;
			top: 15px;
			right: -10px;

			&:hover {
				&:before, &:after {
					background: $color-text-major;
				}
			}

			&:before, &:after {
				content: '';
				margin: -1px 0 0 -7px;
				background: $color-gray-l-p10;
				width: 14px;
				height: 2px;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transition(ease-in all 0.3s);
			}

			&:before {
				@include transform(rotate(-45deg));
			}

			&:after {
				@include transform(rotate(45deg));
			}
		}
	}
}

.m-replace-select .b-link {
	color: $color-gray-d-p10;
}

@include respond(Desktops) {
	.show-marquee .marquee-wrap {
		padding: 13px 0;
	}

	.marquee-wrap {
		.marquee-content {
			padding-right: 54px;
		}

		.btn-close {
			right: 20px;
		}
	}

	.m-logo .b-link {
		width: 164px;
		height: 52px;
	}

	.main-menu {
		height: 70px;

		.function-list .list {
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) .popup-function {
					right: calc(-33px * (4 - #{$i}));

					&:before {
						right: calc(33px * (4 - #{$i}) + 15px);
					}
				}
			}

			&:nth-child(4) .popup-function {
				right: 0;

				&:before {
					right: 4px;
				}
			}
		}
	}

	.function-list {
		.list {
			padding: 0 9px;
			font-size: 22px;
		}

		.btn-func {
			width: 30px;

			&.shopping {
				font-size: 26px;
			}
		}
	}

	.menu-list {
		> .list {
			padding: 0 18px;
			font-size: 16px;
			letter-spacing: 1px;

			&.has-bg .sub-menu-wrap {
				padding: 0 0 0 65px;
				width: 995px;

				.sub-menu {
					.list-block {
						padding: 30px 0 40px 0;
					}

					.b-link {
						padding: 8px 0 8px 35px;
					}
				}
			}

			&:not(.has-bg) .sub-menu-wrap .sub-menu {
				.list-block {
					padding: 20px 0;
				}

				.b-link {
					padding: 4px 17px;
				}
			}

			.text {
				line-height: 70px;
			}
		}

		.sub-menu-wrap {
			.sub-menu .b-link {
				font-size: 16px;
			}

			.product-banner {
				padding: 30px 0 20px 38px;
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.l-body.show-header .shortcut-wrap {
		max-height: 100px;
		overflow: visible;
	}

	.shortcut-wrap {
		padding: 0 10px;
		background: #f4f4f4;
		max-height: 0;
		position: relative;
		overflow: hidden;
		z-index: 1;
		@include transition(ease-in all 0.3s);

		.quick-list {
			@include display-flex;
			@include align-items(center);
			@include justify-content(space-between);

			> * {
				height: 50px;
	
				&:last-child > *:not(:first-child) {
					margin-left: 10px;
				}
			}

			.language-selecter {
				@include display-flex;
				@include align-items(center);
				@include justify-content(flex-end);
			}
		}

		.btn-lang {
			padding: 0 10px;
			font-size: 14px;

			&.is-curr {
				cursor: default;
			}
		}
	}

	.main-menu {
		padding: 0 10px;

		.function-list {
			@include display-flex;
			@include align-items(stretch);
			@include justify-content(center);
			height: 70px;
			position: absolute;
			bottom: 0;
			right: 10px;
			font-size: 0;
			line-height: 0;
			text-align: right;
	
			.list {
				@include display-flex;
				@include align-items(stretch);
				@include justify-content(center);
				position: relative;
	
				&:last-child {
					padding-right: 0;
				}
			}
	
			.btn-func {
				position: relative;

				&.show-func ~ .popup-function {
					max-height: calc(100vh - 200px);
				}
		
				&.shopping .count {
					margin-top: -16px;
					position: absolute;
					top: 50%;
					right: 0;
				}
			}
		}

		.popup-function {
			margin-top: 20px;
			background: $color-white;
			width: 330px;
			position: absolute;
			top: 100%;
			border-radius: 4px;
			box-shadow: 0 2px 16px rgba($color-black, 0.35);

			&.wide-size {
				width: 380px;
			}

			&:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				top: -14px;
				border-right: 9px solid transparent;
				border-bottom: 14px solid $color-white;
				border-left: 9px solid transparent;
			}

			.function-wrap {
				padding: 10px 20px 25px 30px;
				box-sizing: border-box;
				overflow-x: hidden;
				overflow-y: scroll;
			}

			.function-title {
				padding: 10px 0;
				font-size: 18px;

				.m-icon {
					margin-right: 5px;
				}
			}

			.function-desc {
				margin-top: 20px;
				margin-bottom: 5px;
				font-size: 16px;
			}

			.keyword-list {
				margin: 0 -6px;

				.item-list {
					margin: 5px 6px;
				}
			}
		}
	}

	.menu-list {
		font-size: 0;
		line-height: 0;
		text-align: center;

		&.is-highlight {
			margin-left: 18px;
			@include display-flex;
			@include align-items(center);

			&:before {
				margin-right: 18px;
				background: $color-gray-l-p10;
				width: 1px;
				height: 20px;
			}

			.list .text:after {
				background: #0073ce;
			}
		}

		> .list {
			display: inline-block;

			&.has-bg .menu-slider {
				background: $color-white;
				right: 0;
				box-shadow: 0 4px 8px rgba($color-black, 0.04);

				.sub-menu-wrap .sub-menu {
					width: 600px;
				}
			}

			&:not(.has-bg) {
				position: relative;

				.menu-slider {
					box-shadow: 0 4px 8px rgba($color-black, 0.04);
				}

				.sub-menu-wrap .sub-menu {
					min-width: 100px;

					.b-link {
						white-space: nowrap;
					}
				}
			}

			.text {
				position: relative;
				cursor: pointer;
				color: $color-gray-d-p30;

				&:after {
					content: '';
					background: $color-gray-d-p30;
					display: block;
					width: 100%;
					height: 5px;
					position: absolute;
					bottom: 0;
					left: 0;
					opacity: 0;
					@include transition(ease-in all 0.3s);
				}

				&:hover:after, &.is-curr:after {
					opacity: 1;
				}

				&:hover ~ .menu-slider {
					max-height: 1000px;
				}
			}
		}

		.menu-slider {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: -1;

			&:hover {
				max-height: 1000px;
			}
		}

		.sub-menu-wrap {
			margin: 0 auto;
			@include display-flex;
			@include align-content(stretch);
			@include align-items(stretch);
			@include flex-direction(row);
			@include box-sizing(border-box);

			.sub-menu {
				background: $color-white;
				@include display-flex;
				@include align-content(stretch);
				@include align-items(stretch);

				.list-block {
					border-left: 1px solid $color-gray-l-p40;
					text-align: left;
					@include flex-grow(1);
					@include box-sizing(border-box);
				}

				.b-link {
					display: block;
					width: 100%;
					height: 100%;
					color: $color-gray-d-p30;
					line-height: 1.5em;
					@include box-sizing(border-box);

					&:hover, &.is-curr {
						color: $color-text-major;
					}
				}
			}

			.product-banner {
				border-left: 1px solid $color-gray-l-p40;

				.img-wrap {
					width: 210px;

					img {
						width: 100%;
					}

					.desc {
						margin-top: 5px;
						padding: 5px 0;
						color: $color-gray-d-p30;
						font-size: 14px;
						font-weight: bold;
						line-height: 1.5em;
						text-align: left;
					}
				}
			}
		}
	}

	.m-logo {
		position: absolute;
		bottom: 9px;
		left: 10px;
	}

	.m-replace-select {
		display: inline-block;
		height: 30px;
		position: relative;
		overflow: hidden;
		cursor: pointer;

		&.is-active {
			overflow: visible;

			.m-selected-item {
				border-radius: 15px 15px 0 0;
			}

			> *:not(.m-selected-item) {
				max-height: 100vh;
			}
		}

		.m-selected-item {
			padding: 0 36px;
			background: $color-white;
			display: inline-block;
			width: 100%;
			height: 30px;
			position: relative;
			border: 1px solid $color-gray-l-p10;
			border-radius: 15px;
			color: $color-gray-d-p10;
			font-size: 13px;
			line-height: 28px;
			text-align: left;
			white-space: nowrap;
			@include box-sizing(border-box);

			&:hover {
				background: $color-text-major;
				border-color: $color-text-major;
				color: $color-white;

				&:after {
					border-top-color: $color-white;
				}
			}

			&:after {
				content: '';
				margin-top: -3px;
				display: block;
				position: absolute;
				top: 50%;
				right: 14px;
				border-top: 6px solid $color-gray-l-p10;
				border-right: 5px solid transparent;
				border-left: 5px solid transparent;
				pointer-events: none;
			}
		}

		> *:not(.m-selected-item) {
			background: $color-white;
			width: 100%;
			max-height: 0;
			border: 1px solid $color-gray-l-p10;
			border-top: 0;
			overflow: hidden;
			z-index: 1;
			border-radius: 0 0 15px 15px;
			overflow: hidden;
			@include box-sizing(border-box);
			@include transition(ease-in all 0.3s);
		}

		.list {
			height: 30px;
			color: $color-gray-d-p10;
			font-size: 13px;
			line-height: 30px;
			text-align: left;
			white-space: nowrap;

			&.title {
				padding: 0 36px;
			}

			.b-link {
				padding: 0 36px;
				display: block;
				width: 100%;
				height: 100%;
				@include box-sizing(border-box);
			}

			&.title:hover, &:hover .b-link, &.is-selected .b-link {
				background: $color-text-major;
				color: $color-white !important;
			}

			&.back {
				margin: 10px 0 20px 0;
				height: auto;
				position: relative;
				overflow: hidden;

				&:before {
					content: '';
					margin-left: calc((-100% + 36px) / 2);
					background: $color-gray-l-p10;
					display: block;
					width: calc(100% - 36px);
					height: 1px;
					position: absolute;
					top: 0;
					left: 50%;
				}

				.b-link {
					margin-top: 10px;
					color: $color-text-minor;
	
					&:before {
						content: '\e911';
						font-family : 'feds-font';
					}
				}
			}
		}
	}
}

@include respond(HD) {
	.shortcut-wrap {
		padding: 0;
	}

	.quick-list, .main-menu, .marquee-content {
		margin: 0 auto;
		padding: 0 20px;
		width: $main-max-width;
		@include box-sizing(border-box);
	}

	.main-menu {
		padding: 0;

		.function-list {
			margin-right: -680px;
			right: 50%;
		}
	}

	.m-logo {
		margin-left: -680px;
		left: 50%;
	}
}

@include respond(Tablets) {
	.m-logo {
		bottom: 5px;
	}

	.main-menu {
		height: 36px;

		.function-list {
			height: 36px;
			right: 10px;

			.list {
				padding: 0 4px;
				font-size: 20px;

				@for $i from 1 through 3 {
					&:nth-child(#{$i}) .popup-function {
						right: calc(-33px * (4 - #{$i}));

						&:before {
							right: calc(33px * (4 - #{$i}) + 8px);
						}
					}
				}

				&:nth-child(4) .popup-function {
					right: 0;

					&:before {
						right: 3px;
					}
				}
			}

			.btn-func {
				width: 24px;

				> * {
					vertical-align: top;
				}

				&.shopping {
					font-size: 24px;
					line-height: 1em;
					
					.count {
						right: -6px;
					}
				}
			}
		}
	}

	.menu-list {
		> .list {
			padding: 0 9px;
			height: 36px;
			font-size: 14px;
			line-height: 36px;

			&.has-bg .menu-slider .sub-menu-wrap .sub-menu .list-block {
				width: 22.5vw;
			}

			> .text {
				height: 100%;
			}
		}

		.sub-menu-wrap {
			.sub-menu {
				.list-block {
					padding: 20px;
				}

				.b-link {
					padding: 4px 0;
					font-size: 14px;
				}
			}

			.product-banner {
				padding: 20px;
			}
		}
	}
}

@include respond(Tablets-Mobiles) {
	.show-marquee .marquee-wrap {
		padding: 10px;
	}

	.marquee-wrap {
		padding: 0 10px;

		.marquee-content {
			padding-right: 34px;
		}

		.btn-close {
			right: 0;
		}
	}

	.m-logo .b-link {
		width: 82px;
		height: 26px;
	}
}

@include respond(Mobiles) {
	.l-body:not(.index) {
		.l-header {
			.header-wrap {
				background: $color-white;
				max-height: 56px;
				position: relative;
				@include transition(ease-in all 0.3s);

				&:after {
					content: '';
					background: $color-white;
					display: block;
					width: 100%;
					height: 56px;
					position: absolute;
					top: 0;
					left: 0;
					box-shadow: 0 0 5px rgba($color-black, 0.3);
					z-index: 1;
				}

				&.is-active {
					max-height: 100vh;
					box-shadow: 0 0 5px rgba($color-black, 0.3);
					overflow-y: scroll;

					.l-nav {
						padding-top: 56px;
						max-height: 2000px;
					}

					.shortcut-wrap {
						display: block;
					}

					.btn-mobile-menu {
						&:before {
							margin-top: 0;
							@include transform(rotate(45deg));
						}
			
						&:after {
							margin-top: 0;
							margin-left: -15px;
							width: 30px;
							@include transform(rotate(-45deg));
						}
			
						em {
							background: transparent !important;
						}
					}
				}
			}

			button:not(.btn-mobile-menu), .jQ-sub-menu {
				height: 40px;
				color: $color-black;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 1px;
				line-height: 40px;
				text-align: left;

				.m-icon {
					font-size: 24px;
				}
			}

			.language-list > * {
				display: block;
				height: 34px !important;
				line-height: 34px !important;
			}

			.menu-list .has-menu .text {
				position: relative;

				&:after {
					content: '';
					display: block;
					width: 8px;
					height: 8px;
					position: absolute;
					top: 13px;
					right: 2px;
					border-right: 1px solid $color-gray-d-p30;
					border-bottom: 1px solid $color-gray-d-p30;
					@include transform(rotate(45deg));
				}
			}
		}

		.marquee-wrap .marquee-wording {
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);

			.m-icon {
				margin-right: 10px;
			}
		}

		.m-logo {
			position: absolute;
			top: 15px;
			left: 10px;
			z-index: 2;
		}

		.shortcut-wrap {
			background: #f4f4f4;
			display: none;
			min-height: 0;
			position: relative;
			overflow: hidden;
			@include transition(ease-in all 0.3s);

			.m-box-holder.is-selector {
				&:after {
					right: 10px;
				}

				.m-selection {
					padding: 0 24px 0 18px;
				}
			}

			.quick-list {
				padding: 15px 25px 20px 25px;
			}
		}

		.location-selecter > *, .language-selecter > * {
			padding: 0 0 0 15px;
			background: $color-white;
			max-height: 36px;
			position: relative;
			border: 1px solid $color-gray-l-p30;
			border-radius: 18px;
			box-sizing: border-box;
			overflow: hidden;
			font-size: 14px;
			line-height: 34px;
			text-align: left;
			@include transition(ease-in all 0.3s);

			&:before {
				display: none;
			}

			&:after {
				content: '';
				position: absolute;
				top: 15px;
				right: 15px;
				border-top: 6px solid $color-gray-d-p30;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
			}
		}

		.location-selecter {
			min-height: auto;

			> * {
				width: 100%;
		
				&.is-active {
					max-height: 2000px;
				}
			}
		}

		.language-selecter > * {
			margin: 5px 0;

			&.is-active {
				max-height: 2000px;
			}

			.btn-language-switch {
				font-weight: normal !important;
			}
		}

		.btn-mobile-menu {
			width: 46px;
			height: 46px;
			position: absolute;
			top: 5px;
			right: 5px;
			z-index: 2;

			&:before, &:after {
				content: '';
				padding: 0;
				background: $color-black;
				display: block;
				height: 3px;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform-origin(center, center);
				@include transition(ease-in all 0.3s);
			}

			&:before {
				margin-top: -10px;
				margin-left: -15px;
				width: 30px;
			}

			&:after {
				margin-top: 8px;
				margin-left: 5px;
				width: 10px;
			}

			em {
				margin: 0 8px 0 18px;
				background: $color-black;
				display: block;
				width: 20px;
				height: 3px;
				@include transition(ease-in all 0.3s);
			}
		}

		.main-menu {
			@include align-items(stretch);
			@include flex-direction(column-reverse);

			.function-list {
				padding: 56px 25px 0 25px;
				position: relative;
				@include order(3);

				&:before {
					content: '';
					background: #f4f4f4;
					display: block;
					width: 100%;
					height: 56px;
					position: absolute;
					top: 0;
					left: 0;
				}

				@for $i from 1 through 4 {
					.list:nth-child(#{$i}) .btn-func {
						left: calc(((100vw - 50px) / 4) * (#{$i} - 1) + 25px);
					}
				}

				.info-hint {
					margin-top: 16px;
				}

				.btn-func {
					width: calc((100vw - 50px) / 4);
					height: 56px;
					position: absolute;
					top: 0;
					line-height: 56px;

					&.show-func {
						&:after {
							opacity: 1;
						}

						~ .popup-function {
							max-height: 2000px;
						}
					}

					&:after {
						content: '';
						margin-left: -18px;
						background: $color-text-major;
						display: block;
						width: 36px;
						height: 3px;
						position: absolute;
						bottom: 0;
						left: 50%;
						opacity: 0;
						@include transition(ease-in all 0.3s);
					}
		
					&.shopping .count {
						margin: -16px -16px 0 0;
						position: absolute;
						top: 50%;
						right: 50%;
					}
				}

				.m-box-holder {
					border-radius: 18px;
					overflow: hidden;
					@include transform(translateZ(0));

					.m-icon {
						color: $color-gray-l-p20;
						font-size: 12px;
					}

					.m-inputbox {
						width: 100%;
						height: 34px;
						line-height: 34px;
						text-indent: 14px;
						@include box-sizing(border-box);
					}

					.btn-search {
						height: 34px;
						line-height: 34px;
					}
				}
			}

			.menu-list {
				margin: 0 25px;
				@include order(2);
				line-height: 0;

				&.is-highlight {
					@include order(1);

					&:before {
						background: $color-gray-l-p30;
						width: 100%;
						height: 1px;
					}
				}

				> .list {
					position: relative;

					&:before, &:after {
						content: '';
						background: #484848;
						display: block;
						width: 25px;
						position: absolute;
						top: 40px;
						bottom: 0;
					}

					&:before {
						left: 100%;
					}

					&:after {
						right: 100%;
					}

					&:not(:last-child) {
						border-bottom: 1px solid $color-gray-l-p30;
					}
				}

				.text.is-curr {
					color: $color-text-major;

					~ .menu-slider {
						max-height: 2000px;
						overflow: visible;
					}
				}

				.menu-slider {
					background: #484848;
				}

				.sub-menu-wrap .sub-menu .b-link {
					height: 40px;
					border-bottom: 1px solid $color-gray-d-p10;
					color: $color-white;
					font-size: 14px;
					line-height: 40px;
					text-indent: 14px;
				}
			}

			.popup-function {
				.function-desc {
					padding: 16px 0;
				}

				.keyword-list {
					margin: 0 -5px;

					.item-list {
						margin: 5px;
					}
				}

				.m-tab-wrap .btn-tab {
					font-weight: normal;
				}

				.btn-link.btn-cancel, .m-box-holder .btn-search {
					color: $color-white;
				}
			}
		}
	}
}

@include browsers('IE') {
	.m-logo .b-link {
		display   : block;
		font-size : 0;
		position  : relative;

		&:before {
			content     : '';
			font-size   : 0;
			height      : 100%;
			line-height : 0;
			zoom        : 1;
			@include inline-block;
		}

		> * {
			@include inline-block;
		}
	}
}

@include browsers('IE9') {
	.l-header .m-box-holder {
		border-radius: 0;
	}

	.shortcut-wrap {
		.quick-list {
			&:after {
				content : '';
				width   : 100%;
				height  : 0;
				clear   : both;
				@include clearfix;
				@include display(block);
			}

			.location-selecter {
				float: left;
			}
	
			.language-selecter {
				float: right;
	
				> * {
					margin-top: 10px;
					display: inline-block;
					vertical-align: top;
				}

				> .b-link {
					height: 30px;
					line-height: 30px;
				}
			}

			.language-list > * {
				height: 30px;
				line-height: 30px;
			}
		}

		.is-selector.m-box-holder .m-selection {
			padding: 0;
		}
	}

	.main-menu {
		text-align: center;

		.function-list {
			display: table;
	
			.list {
				display: table-cell;
				vertical-align: middle;

				.btn-func {
					height: 70px;
				}
			}
		}

		.popup-function .function-wrap > *:last-child {
			margin-bottom: 20px;
		}
	}

	.menu-list {
		display: inline-block;
		
		.sub-menu-wrap > * {
			float: left;

			.list-block {
				display: table-cell;
				width: 200px;
			}
		}
	}
}

@include devices(iphone) {
	.shortcut-wrap .quick-list {
		padding-bottom: 45px;
	}
}