.shortcut-wrap {
	.m-box-holder.is-selector {
		height: 28px;
		border-radius: 14px;
		overflow: hidden;

		.m-selection {
			height: 26px;
			font-size: 12px;
			line-height: 26px;
		}
	}

	.btn-lang {
		color: $color-gray-l-p10;
		letter-spacing: 2px;

		&.is-curr {
			color: $color-black;
		}
	}
}

.menu-list {
	&.is-highlight .list .text {
		color: $color-text-minor;
	}

	.menu-slider {
		background: $color-white;
		max-height: 0;
		overflow: hidden;
		@include transition(ease-in all 0.3s);
	}
}
.m-logo {
	display: inline-block;
	position: absolute;

	.b-link {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.main-menu {
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);

	.function-list .btn-func.shopping .count {
		background: $color-text-major;
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		color: $color-white;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
	}
}

@include respond(Desktops) {
	.m-logo .b-link {
		width: 164px;
		height: 52px;
	}

	.main-menu {
		height: 70px;
	}

	.function-list {
		.list {
			padding: 0 9px;
			font-size: 22px;
		}

		.btn-func {
			width: 30px;
		}
	}

	.menu-list {
		> .list {
			padding: 0 18px;
			font-size: 16px;
			letter-spacing: 1px;

			.text {
				line-height: 70px;
			}
		}

		.sub-menu-wrap {
			padding: 0 0 0 65px;
			width: 995px;

			.sub-menu .list-block {
				width: 200px;
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.l-body.show-header .shortcut-wrap {
		max-height: 100px;
	}

	.shortcut-wrap {
		background: #f4f4f4;
		max-height: 0;
		position: relative;
		overflow: hidden;
		z-index: 1;
		@include transition(ease-in all 0.3s);

		.m-box-holder.is-selector .m-selection {
			padding: 0 36px;
		}

		.quick-list {
			@include display-flex;
			@include align-items(center);
			@include justify-content(space-between);

			> * {
				height: 50px;
	
				&:last-child > *:last-child {
					margin-left: 10px;
				}
			}
		}

		.btn-lang {
			padding: 0 10px;
			font-size: 14px;

			&.is-curr {
				cursor: default;
			}
		}
	}

	.main-menu .function-list {
		height: 70px;
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 0;
		line-height: 0;
		text-align: right;
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);

		.list {
			display: inline-block;

			&:last-child {
				padding-right: 0;
			}
		}

		.btn-func {
			position: relative;

			&:hover .m-icon {
				color: $color-text-major;
			}

			&.shopping .count {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}

	.menu-list {
		font-size: 0;
		line-height: 0;
		text-align: center;

		> .list {
			display: inline-block;

			.text {
				position: relative;
				cursor: pointer;
				color: $color-gray-d-p30;

				&:after {
					content: '';
					background: $color-text-minor;
					display: block;
					width: 100%;
					height: 5px;
					position: absolute;
					bottom: 0;
					left: 0;
					opacity: 0;
					@include transition(ease-in all 0.3s);
				}

				&:hover {
					&:after {
						opacity: 1;
					}

					~ .menu-slider {
						max-height: 1000px;
					}
				}
			}
		}

		.menu-slider {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
			z-index: -1;

			&:hover {
				max-height: 1000px;
			}
		}

		.sub-menu-wrap {
			margin: 0 auto;
			@include display-flex;
			@include align-content(stretch);
			@include align-items(stretch);
			@include flex-direction(row);
			@include box-sizing(border-box);

			.sub-menu {
				display: inherit;
				width: 600px;

				.list-block {
					padding: 30px 0 40px 0;
					display: table-cell;
					border-left: 1px solid $color-gray-l-p40;
					text-align: left;
					@include box-sizing(border-box);
				}

				.b-link {
					padding: 8px 0;
					display: block;
					width: 100%;
					height: 100%;
					color: $color-gray-d-p30;
					font-size: 16px;
					letter-spacing: 2px;
					line-height: 1.5em;
					text-indent: 35px;

					&:hover {
						color: $color-text-major;
					}
				}
			}

			.product-banner {
				padding: 30px 0 20px 38px;
				border-left: 1px solid $color-gray-l-p40;

				.img-wrap {
					width: 187px;

					img {
						width: 100%;
					}

					.desc {
						margin-top: 5px;
						padding: 5px 0;
						color: $color-gray-d-p30;
						font-size: 14px;
						font-weight: bold;
						line-height: 1.5em;
						text-align: left;
					}
				}
			}
		}
	}

	.m-logo {
		bottom: 9px;
		left: 0;
	}
}

@include respond(HD) {
	.quick-list, .main-menu {
		margin: 0 auto;
		padding: 0 20px;
		width: $main-max-width;
		@include box-sizing(border-box);
	}

	.main-menu .function-list {
		margin-right: -680px;
		right: 50%;
	}

	.m-logo {
		margin-left: -680px;
		left: 50%;
	}
}

@include respond(Tablets) {
	.m-logo {
		bottom: 5px;
	}

	.main-menu {
		height: 36px;

		.function-list {
			height: 36px;
			right: 10px;

			.list {
				padding: 0 4px;
				font-size: 20px;
			}

			.btn-func {
				width: 24px;

				> * {
					vertical-align: top;
				}

				&.shopping .count {
					top: -3px;
					right: -3px;
				}
			}
		}
	}

	.menu-list {
		> .list {
			padding: 0 9px;
			font-size: 14px;
			line-height: 36px;
		}

		.sub-menu-wrap .sub-menu .list-block {
			width: 22.5vw;
		}
	}
}

@include respond(Tablets-Mobiles) {
	.m-logo .b-link {
		width: 82px;
		height: 26px;
	}
}

@include respond(Mobiles) {
	.m-logo {
		top: 15px;
		left: 10px;
		z-index: 1;
	}

	.shortcut-wrap {
		background: $color-white;
		max-height: 0;
		position: relative;
		overflow: hidden;
		@include transition(ease-in all 0.3s);

		.m-box-holder.is-selector {
			&:after {
				right: 10px;
			}

			.m-selection {
				padding: 0 24px 0 18px;
			}
		}

		.quick-list {
			padding-right: 64px;
			height: 56px;
			@include display-flex;
			@include align-items(center);
			@include justify-content(flex-end);
		}
	}

	.language-selecter {
		padding-left: 25px;
		position: relative;

		.btn-language-switch {
			padding-right: 20px;
			height: 46px;
			position: relative;

			&:before {
				content: '';
				background: $color-gray-l-p20;
				width: 100%;
				height: 1px;
				position: absolute;
				bottom: 10px;
				left: 0;
			}

			&:after {
				content: '';
				margin-top: -3px;
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				border-top: 6px solid #9a9a9a;
				border-right: 5px solid transparent;
				border-left: 5px solid transparent;
				pointer-events: none;
			}

			&.is-active ~ .language-list {
				max-height: 100vh;
				overflow: visible;
			}
		}

		.language-list {
			background: $color-white;
			max-height: 0;
			position: absolute;
			top: 100%;
			overflow: hidden;
			font-size: 14px;
			/*@include transition(ease-in all 0.3s);*/

			&:before, .m-box-holder.is-selector:after {
				display: none;
			}

			> * {
				display: block;
			}

			.m-box-holder {
				height: auto;
				border: none;
			}
		}
	}

	.btn-mobile-menu {
		width: 46px;
		height: 46px;
		position: absolute;
		top: 5px;
		right: 5px;

		&:before, &:after {
			content: '';
			padding: 0;
			background: $color-black;
			display: block;
			height: 3px;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform-origin(center, center);
			@include transition(ease-in all 0.3s);
		}

		&:before {
			margin-top: -10px;
			margin-left: -15px;
			width: 30px;
		}

		&:after {
			margin-top: 8px;
			margin-left: 5px;
			width: 10px;
		}

		em {
			margin: 0 8px 0 18px;
			background: $color-black;
			display: block;
			width: 20px;
			height: 3px;
			@include transition(ease-in all 0.3s);
		}
	}

	.main-menu {
		@include align-items(stretch);
		@include flex-direction(column-reverse);

		.function-list {
			border-bottom: 1px solid $color-gray-l-p30;
		}

		.list {
			font-size: 13px;
			font-weight: bold;
			letter-spacing: 1px;
			line-height: 30px;
		}
	}
}

@-moz-document url-prefix() {}

@include browsers('IE') {}