.m-header {
    position : relative;
    @include box-sizing(border-box);

    &:before {
        content    : "";
        left       : -10px;
        width      : 110%;
        height     : 300%;
        background : rgba($major-color , .9);
        position   : absolute;
        z-index    : 2;
        @include rotate(-3deg);
        @include transform-origin(right , center);
    }

    &:after {
        content    : "";
        left       : -10px;
        width      : 110%;
        height     : 300%;
        background : rgba($major-color , .4);
        position   : absolute;
        position   : absolute;
        z-index : 1;
        @include rotate(3deg);
        @include transform-origin(left , center);
    }

    > ul {
        position : relative;
        z-index  : 3;
        @include box-sizing(border-box);

        > li {
            position : relative;
        }
    }

    h1 {
        top      : 0;
        left     : -99999px;
        position : absolute;
    }
}

.m-header-logo {
    float : left;

    > a {
        color    : $color-white;
        position : relative;
        @include display(block);
    }
}

@include respond-to(Desktops) {
    .m-header {
        &:before {
            bottom : 10px;
        }

        &:after {
            bottom : 0;
        }

        > ul {
            padding-top   : 40px;
            padding-right : 50px;
            padding-left  : 50px;
        }
    }

    .m-header-logo {
        > a {
            > .m-icon {
                font-size : 40px;
            }
        }
    }
}

@include respond-to(Desktops-Tablets) {}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {
    .m-header {
        &:before {
            bottom : 0;
        }

        &:after {
            bottom : 0;
        }

        > ul {
            padding-top   : 30px;
            padding-right : 30px;
            padding-left  : 30px;
        }
    }

    .m-header-logo {
        > a {
            > .m-icon {
                font-size : 30px;
            }
        }
    }
}

@include respond-to(Mobiles) {
    .m-header {
        &:before {
            bottom : 0;
        }

        &:after {
            bottom : 0;
        }

        > ul {
            padding-top   : 20px;
            padding-right : 15px;
            padding-left  : 15px;
        }
    }

    .m-header-logo {
        > a {
            > .m-icon {
                font-size : 20px;
            }
        }
    }
}