.m-list {
    position : relative;
    @include box-sizing(border-box);

    &.is-ft-underline {
        .m-list-ft {
            border-top : 1px dashed $border-minor-color;
        }
    }

    &.is-photo {
        .m-list-bd {
            > ul {
                > li {
                    > a {
                        @include display(block);
                    }
                }
            }
        }
    }

    &.is-item {
        .m-list-bd {
            > ul {
                > li {
                    border-top : 1px dashed $border-minor-color;

                    &:first-child {
                        border-top : 0;
                    }
                }
            }
        }
    }
}

.m-list-hd {
    padding-bottom : 20px;
}

.m-list-bd {
    width    : 100%;
    position : relative;
    @include clearfix;

    > ul {
        white-space : nowrap;
        @include clearfix;

        > li {
            white-space : normal;

            > a {
                word-break : normal;
            }

            /* color */
            @each $key , $value in $color {
                &.b-text-#{$key} {
                    border-top-color : #{$value} !important;

                    > a {
                        color : #{$value};
                    }
                }
            }
        }
    }
}

.m-list-object {
    @include display(block);
}

.m-list-ft {
    @include box-sizing(border-box);
}

@include respond-to(Desktops) {
    .m-list {
        &.is-ft-underline {
            .m-list-ft {
                padding-top : $margin-md;
            }
        }

         &.is-item {
            .m-list-bd {
                > ul {
                    > li {
                        margin-top  : 20px;
                        padding-top : 20px;

                        &:first-child {
                            margin-top  : 0;
                            padding-top : 0;
                        }
                    }
                }
            }
        }

        &.is-photo {
            .m-list-bd {
                > ul {
                    margin-top   : $margin-md;
                    margin-right : -15px;
                    margin-left  : -15px;
                    padding-top  : $margin-md;

                    &:first-child {
                        margin-top  : 0;
                        padding-top : 0;
                    }
                }
            }
        }
    }

    .m-list-bd {
        > ul {
            > li {
                font-size : 15px;

                &.b-text-white {
                    > a {
                        &:hover {
                            color : $color-white;
                        }
                    }
                }

                > a {
                    @include transition(color $transition-times);

                    &:hover {
                        color           : $major-color;
                        text-decoration : underline;
                    }
                }
            }
        }
    }

    .m-list-object {
        margin-top : 10px;

        &:first-child {
            margin-top    : auto;
            margin-bottom : 10px;
        }
    }

    .m-list-ft {
        margin-top : $margin-md;
    }
}

@include respond-to(Desktops-Tablets) {
    .m-list {
        &.is-photo {
            .m-list-bd {
                > ul {
                    border-top : 1px dashed $border-minor-color;

                    &:first-child {
                        border-top : 0;
                    }

                    > li {
                        float : none;
                        @include inline-block;
                    }
                }
            }
        }
    }
}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {
    .m-list {
        &.is-ft-underline {
            .m-list-ft {
                padding-top : $margin-sm;
            }
        }

         &.is-item {
            .m-list-bd {
                > ul {
                    > li {
                        margin-top  : 20px;
                        padding-top : 20px;

                        &:first-child {
                            margin-top  : 0;
                            padding-top : 0;
                        }
                    }
                }
            }
        }

        &.is-photo {
            .m-list-bd {
                > ul {
                    margin-top   : $margin-sm;
                    margin-right : -10px;
                    margin-left  : -10px;
                    padding-top  : $margin-sm;

                    &:first-child {
                        margin-top  : 0;
                        padding-top : 0;
                    }
                }
            }
        }
    }

    .m-list-bd {
        > ul {
            > li {
                font-size : 14px;
            }
        }
    }

    .m-list-object {
        margin-top : 8px;

        &:first-child {
            margin-top    : auto;
            margin-bottom : 8px;
        }
    }

    .m-list-ft {
        margin-top : $margin-sm;
    }
}

@include respond-to(Mobiles) {
    .m-list {
        &.is-ft-underline {
            .m-list-ft {
                padding-top : $margin-xs;
            }
        }

        &.is-photo {
            .m-list-bd {
                > ul {
                    &:first-child {
                        > li {
                            &:first-child {
                                margin-top  : 0;
                                padding-top : 0;
                                border-top  : 0;
                            }
                        }
                    }

                    > li {
                        margin-top  : $margin-xs;
                        padding-top : $margin-xs;
                        border-top  : 1px dashed $border-minor-color;
                    }
                }
            }
        }

         &.is-item {
            .m-list-bd {
                > ul {
                    > li {
                        margin-top  : 10px;
                        padding-top : 10px;

                        &:first-child {
                            margin-top  : 0;
                            padding-top : 0;
                        }
                    }
                }
            }
        }
    }

    .m-list-bd {
        > ul {
            > li {
                font-size : 13px;
            }
        }
    }

    .m-list-object {
        margin-top : 5px;

        &:first-child {
            margin-top    : auto;
            margin-bottom : 5px;
        }
    }

    .m-list-ft {
        margin-top : $margin-xs;
    }
}