.m-no-data-wrap {
    display : block;
    width   : 100%;
}

.m-no-data {
    width       : 100%;
    line-height : 1.5em;
    position    : relative;
    @include box-sizing(border-box);
}

@include respond(Desktops) {
    .m-no-data {
        margin-top: 20px;
        padding   : 10px;
        font-size : 22px;

        &.text-xs {
            font-size: 16px;
        }
    }
}

@include respond(Desktops-Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Tablets) {
    .m-no-data {
        margin-top: 15px;
        padding   : 8px;
        font-size : 18px;

        &.text-xs {
            font-size: 14px;
        }
    }
}

@include respond(Mobiles) {
    .m-no-data {
        margin-top: 10px;
        padding   : 5px;
        font-size : 16px;

        &.text-xs {
            font-size: 14px;
        }
    }
}