.owl-stage-outer {
	overflow: hidden;
}

.owl-stage {
	margin: 0 auto;

	.owl-item {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
	}
}

.m-owl-ctrl {
	&.disabled {
		display: none;
	}

	> * {
		background: rgba(51, 51, 51, 0.7);
		position: absolute;
		top: 50%;
		border: 1px solid $color-gray-d-p30;
		overflow: hidden;
		text-indent: 200%;
		white-space: nowrap;
		@include box-sizing(border-box);

		&.owl-prev:before {
			left: 50%;
			@include transform(rotate(-135deg));
		}

		&.owl-next:before {
			right: 50%;
			@include transform(rotate(45deg));
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			border-top: 2px solid $color-white;
			border-right: 2px solid $color-white;
			@include box-sizing(border-box);
		}
	}
}

.m-owl-arrow {
	position: absolute;
	cursor: pointer;

	i {
		margin-top: -6px;
		display: block;
		width: 12px;
		height: 12px;
		position: absolute;
		top: 50%;
		border-bottom: 2px solid $color-white;
		border-left: 2px solid $color-white;
		@include box-sizing(border-box);
	}

	&.is-prev i {
		margin-left: -4px;
		left: 50%;
		@include transform(rotate(45deg));
	}

	&.is-next i {
		margin-right: -4px;
		right: 50%;
		@include transform(rotate(-135deg));
	}
}

.m-owl-dots {
	font-size: 0;
	line-height: 0;

	&.disabled {
		display: none;
	}

	&.is-relative {
		position: relative;
		text-align: center;
	}

	&.is-absolute {
		position: absolute;
		bottom: 27px;
		left: 0;
		right: 0;
		text-align: center;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

	.m-owl-dot {
		display: inline-block;
		position: relative;

		&:hover span, &.active span {
			background: $color-white;
		}

		span {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			border: 1px solid $color-white;
			@include transition(ease-in all 0.3s);
			@include box-sizing(border-box);
		}
	}
}

.jQ-owl {
	&.is-light .m-owl-dots .m-owl-dot {
		&:hover span, &.active span {
			background: $color-white;
		}

		span {
			border: 1px solid $color-white;
		}
	}

	&.is-dark .m-owl-dots .m-owl-dot {
		&:hover span, &.active span {
			background: $color-gray-d-p30;
		}

		span {
			border: 1px solid $color-gray-d-p30;
		}
	}
}

@include respond(Desktops) {
	.jQ-owl {
		&:hover .m-owl-ctrl {
			opacity: 1;
		}

		.m-owl-ctrl {
			opacity: 0;
			@include transition(ease-in all 0.3s);
		}

		&.is-padding {
			.owl-prev {
				left: 64px;
			}

			.owl-next {
				right: 64px;
			}
		}
	}

	.m-owl-ctrl  {
		> * {
			cursor: pointer;
		}

		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}
	}

	.m-owl-dot {
		width: 12px;
		height: 12px;

		span {
			margin: -4px 0 0 -4px;
			width: 8px;
			height: 8px;
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-owl-ctrl > * {
		margin-top: -25px;
		width: 50px;
		height: 56px;
		@include transition(ease-in all 0.3s);

		&:hover {
			background: rgba(51, 51, 51, 1);
		}

		&:before {
			margin-top: -15px;
			width: 30px;
			height: 30px;
		}

		&.owl-prev:before {
			margin-left: -7px;
		}

		&.owl-next:before {
			margin-right: -7px;
		}
	}
}

@include respond(HD) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.m-owl-dot {
		width: 30px;
		height: 40px;

		span {
			margin: -7px 0 0 -7px;
			width: 14px;
			height: 14px;
		}
	}
}