.m-tab-wrap {
	font-size: 0;
	line-height: 0;
	text-align: center;
	white-space: nowrap;

	.tab-list {
		display: inline-block;
	}
}

.content-list {
	display: none;
	overflow: hidden;
	/*@include transition(ease-in all 0.3s);*/

	&.is-curr {
		display: block;
	}
}

@include keyframes(switch-in) {
	0% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@include respond(Desktops) {}

@include respond(Desktops-Tablets) {
	/*.content-list {
		@include animation(switch-in 0.5s ease-in forwards);
	}*/
}

@include respond(HD) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {}

@include devices(iphone) {}

@include respond(Iphone5) {}

@include browsers('IE') {}

@include browsers('Safari') {}