.m-table {
	width: 100%;

	td {
		line-height: 1.5em;
		text-align: center;
		@include box-sizing(border-box);

		em {
			vertical-align: middle;
			word-wrap: break-word;
		}
	}
}

@include respond(Desktops) {}

@include respond(Desktops-Tablets) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {
	.m-table.table-rotate {
		&.no-label > tbody > tr {
			> td, > th {
				> * {
					padding-right: 18px;
				}

				&:before {
					display: none;
				}
			}
		}

		> thead {
			display: none;
		}

		> tbody {
			> tr {
				display: block;
				position: relative;
				overflow: hidden;

				> td, > th {
					display: table;
					width: 100%;
					position: relative;
					font-size: 14px;
					text-align: left;

					> * {
						padding: 10px 0 10px 18px;
						display: table-cell;
						vertical-align: middle;
					}

					&:before {
						content: attr(data-label);
						display: table-cell;
						width: 30%;
						vertical-align: middle;
					}
				}
			}
		}
	}
}