.m-tooltip {
    position : relative;

    &:before {
        content          : "";
        right            : 50%;
        bottom           : 100%;
        width            : 0;
        height           : 0;
        pointer-events   : none;
        border-style     : solid;
        border-color     : transparent;
        border-top-color : darken($text-major-color , 20%);
        position         : absolute;
    }

    &:after {
        content    : attr(data-tooltip);
        right      : 50%;
        bottom     : 100%;
        color      : $color-white;
        background : darken($text-major-color , 20%);
        position   : absolute;
        @include translateX(50%);
    }

    @each $key , $value in $color {
        &.b-text-#{$key} {
            &:before {
                border-top-color : #{$value};
            }

            &:after {
                background : #{$value};

                @if $key == 'white' {
                    color : $text-major-color;
                } @else {
                    color : $color-white;
                }
            }
        }
    }
}

@include respond-to(Desktops) {
    .m-tooltip {
        &:before {
            margin-right : -6px;
            border-width : 8px 6px 0 6px;
        }

        &:after {
            margin-bottom : 8px;
            padding       : 5px;
            font-size     : 13px;
            @include border-radius($module-border-radius);
        }
    }
}

@include respond-to(Desktops-Tablets) {}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {
    .m-tooltip {
        &:before {
            margin-right : -5px;
            border-width : 6px 5px 0 5px;
        }

        &:after {
            margin-bottom : 6px;
            padding       : 4px;
            font-size     : 12px;
            @include border-radius(($module-border-radius - 1));
        }
    }
}

@include respond-to(Mobiles) {
    .m-tooltip {
        &:before {
            margin-right : -5px;
            border-width : 6px 5px 0 5px;
        }

        &:after {
            margin-bottom : 6px;
            padding       : 3px;
            font-size     : 12px;
            @include border-radius(($module-border-radius - 2));
        }
    }
}