		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list">
					<li class="list"><a href="../about/about.html" class="b-link b-hide-xs">關於遠東百貨</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">CSR企業社會責任</a></li>
					<li class="list"><a href="../investment/earnings.html" class="b-link b-hide-xs">投資人專區</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">人才招募</a></li>
					<li class="list"><a href="../about/pipp.html" class="b-link b-hide-xs">個資條款與隱私權政策</a></li>
					<li class="list"><a href="../about/terms.html" class="b-link b-hide-xs">購物條款</a></li>
					<!-- <li class="list"><a href="../member/policy.html" class="b-link b-hide-xs">隱私權政策</a></li> -->
					<li class="list"><a href="../sitemap/branch-sitemap.html" class="b-link b-hide-xs">網站地圖</a></li>
					<li class="list"><a href="../about/contact-us.html" class="b-link">聯絡我們</a></li>
					<li class="list"><a href="../about/affiliates.html" class="b-link b-hide-xs">相關連結</a></li>
				</ul>
				<small class="copyright b-text-center-dt">Copyright &copy; 2016 Far Eastern Group All rights reserved.</small>
				<a href="https://www.instagram.com/feds_tw/" target="_blank" class="social-link instagram b-hide-xs">
					<i class="m-icon m-icon-instagram"></i>
					<em class="text b-hide-text">Instagram</em>
				</a>
				<a href="javascript:;" target="_blank" class="social-link facebook b-hide-xs">
					<i class="m-icon m-icon-facebook"></i>
					<em class="text b-hide-text">Facebook</em>
				</a>
				<h3 class="footer-logo b-hide-xs">
					<img src="../../content/img/shared/footer-logo.png" alt="遠東百貨">
					<em class="b-hide-text">遠東零售集團 FAR EASTERN</em>
				</h3>
			</div>
		</footer>