		<header class="l-header">
			<h1 class="m-logo">
				<a href="../home/branch.html" class="b-link">
					<img src="../../content/img/branch/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="location-selecter b-col-md-6 b-middle">
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="location-list">
								<li class="list title">選擇分店</li>
								<li class="list"><a href="branch.html" class="b-link">寶慶遠百</a></li>
								<li class="list is-selected"><a href="branch.html" class="b-link">板橋大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">板橋遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">桃園遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">新竹大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台中大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">嘉義遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台南大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">高雄大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">花蓮遠百</a></li>
								<li class="list back"><a href="index.html" class="b-link">返回遠百首頁</a></li>
							</ul>
						</div>
					</div>
					<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
						<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
						<div class="language-list">
							<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
							<button class="btn-lang is-curr">繁中</button>
							<button class="btn-lang">簡中</button>
						</div>
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="visitor-center">
								<li class="list title">Visitor Center</li>
								<li class="list" data-lang="en"><a href="javascript:;" class="b-link">EN</a></li>
								<li class="list" data-lang="jp"><a href="javascript:;" class="b-link">JP</a></li>
								<li class="list" data-lang="cn"><a href="javascript:;" class="b-link">CN</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list">
							<button class="text btn-submenu-xs">營業資訊</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">最新活動</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">美食娛樂</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">美食</a></div>
										<div class="list"><a href="javascript:;" class="b-link">娛樂</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">電子DM</button>
						</li>
						<li class="list has-menu">
							<button class="text btn-submenu-xs">線上購物</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">主題活動</a></div>
										<div class="list"><a href="javascript:;" class="b-link">女士</a></div>
										<div class="list"><a href="javascript:;" class="b-link">男士</a></div>
										<div class="list"><a href="javascript:;" class="b-link">配件</a></div>
										<div class="list"><a href="javascript:;" class="b-link">鞋子</a></div>
										<div class="list"><a href="javascript:;" class="b-link">兒童</a></div>
										<div class="list"><a href="javascript:;" class="b-link">美妝</a></div>
										<div class="list"><a href="javascript:;" class="b-link">食品&酒</a></div>
										<div class="list"><a href="javascript:;" class="b-link">居家寢飾</a></div>
										<div class="list"><a href="javascript:;" class="b-link">家用電器</a></div>
										<div class="list"><a href="javascript:;" class="b-link">伴手禮</a></div>
										<!-- <div class="list"><a href="javascript:;" class="b-link">更多</a></div> -->
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">時尚焦點</button>
						</li>
					</ul>
					<ul class="function-list">
						<li class="list">
							<div class="m-box-holder b-hide-dt">
								<i class="m-icon m-icon-search"></i>
								<input type="text" class="m-inputbox" placeholder="輸入關鍵字">
							</div>
							<button class="btn-func jQ-btn-func">
								<i class="m-icon m-icon-search b-hide-xs"></i>
								<em class="b-hide-text-dt">品牌字首搜尋</em>
							</button>
							<div class="popup-function b-text-left">
								<h3 class="function-title b-bold"><i class="m-icon m-icon-search"></i><em class="text b-bold">請選擇任一方式搜尋</em></h3>
								<h4 class="function-desc b-bold">全站關鍵字搜尋</h4>
								<div class="m-box-holder b-col-dt-12 b-clearfix">
									<input type="text" class="m-inputbox b-col-md-9 b-col-sm-9 b-col-xs-8 b-float-left" placeholder="請輸入關鍵字">
									<button class="btn-search b-col-md-3 b-col-sm-3 b-col-xs-4 b-float-right b-text-center jQ-search">搜尋</button>
								</div>
								<h4 class="function-desc b-bold">品牌關鍵字搜尋</h4>
								<div class="m-box-holder b-col-dt-12 b-clearfix">
									<input type="text" class="m-inputbox b-col-md-9 b-col-sm-9 b-col-xs-8 b-float-left" placeholder="請輸入關鍵字">
									<button class="btn-search b-col-md-3 b-col-sm-3 b-col-xs-4 b-float-right b-text-center jQ-search">搜尋</button>
								</div>
								<h4 class="function-desc b-bold">品牌字首搜尋</h4>
								<ul class="keyword-list">
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">1</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">2</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">3</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">4</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">5</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">6</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">7</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">8</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">9</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">0</a></li>
								</ul>
								<ul class="keyword-list">
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">A</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">B</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">C</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">D</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">E</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">F</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">G</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">H</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">I</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">J</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">K</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">L</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">M</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">N</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">O</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">P</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">Q</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">R</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">S</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">T</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">U</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">V</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">W</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">X</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">Y</a></li>
									<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">Z</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-member b-hide-xs"></i>
								<em class="b-hide-text-dt">我的帳戶</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-heart b-hide-xs"></i>
								<em class="b-hide-text-dt">我的最愛</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func shopping">
								<i class="m-icon m-icon-shopping b-hide-xs"></i>
								<em class="b-hide-text-dt">購物車</em>
								<span class="count">5</span>
							</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>