		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/branch/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<div class="shortcut-wrap">
					<div class="quick-list">
						<div class="language-selecter b-text-right-dt b-text-left-xs">
							<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
							<div class="language-list">
								<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
								<button class="btn-lang">简体中文</button>
								<button class="btn-lang is-curr">English</button>
								<button class="btn-lang">日本語</button>
							</div>
						</div>
					</div>
				</div>
				<nav class="l-nav">
					<div class="main-menu">
						<ul class="menu-list">
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12 is-curr">Taipei</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">PaoChing Branch</a></div>
											<div class="list"><a href="oversea-index.html" class="b-link b-block">BanQiao Store</a></div>
											<div class="list"><a href="oversea-index.html" class="b-link b-block is-curr">Mega City BanQiao Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Taoyuan</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Taoyuan Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Hsinchu</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Hsinchu Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Taichung</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Top City Taichung Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Chiayi</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Chiayi Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Tainan</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Tainan Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Kaohsiung</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Kaohsiung Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Hualien</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Hualien Store</a></div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</nav>
				<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
			</div>
		</header>