		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/branch/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="location-selecter b-col-md-6 b-middle">
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="location-list">
								<li class="list title">選擇分店</li>
								<li class="list"><a href="branch.html" class="b-link">寶慶遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">遠東百貨</a></li>
								<li class="list is-selected"><a href="branch.html" class="b-link">板橋大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">板橋遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">桃園遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">新竹遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台中大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">嘉義遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台南大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">高雄大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">花蓮遠百</a></li>
								<li class="list back"><a href="index.html" class="b-link">返回集團首頁</a></li>
							</ul>
						</div>
					</div>
					<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
						<div class="language-list">
							<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
							<button class="btn-lang is-curr">繁中</button>
							<button class="btn-lang">簡中</button>
						</div>
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="visitor-center">
								<li class="list title">Visitor Center</li>
								<li class="list" data-lang="en"><a href="javascript:;" class="b-link">EN</a></li>
								<li class="list" data-lang="jp"><a href="javascript:;" class="b-link">JP</a></li>
								<li class="list" data-lang="cn"><a href="javascript:;" class="b-link">CN</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list">
							<button class="text btn-submenu-xs">營業資訊</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">最新活動</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">美食娛樂</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">電子DM</button>
						</li>
						<li class="list has-menu">
							<button class="text btn-submenu-xs">線上購物</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">精品美妍</a></div>
										<div class="list"><a href="javascript:;" class="b-link">國際名品</a></div>
										<div class="list"><a href="javascript:;" class="b-link">摩登風尚</a></div>
										<div class="list"><a href="javascript:;" class="b-link">都會名媛</a></div>
										<div class="list"><a href="javascript:;" class="b-link">玩美童樂</a></div>
										<div class="list"><a href="javascript:;" class="b-link">紳仕休閒</a></div>
										<div class="list"><a href="javascript:;" class="b-link">運動休閒</a></div>
										<div class="list"><a href="javascript:;" class="b-link">家居寢飾</a></div>
										<div class="list"><a href="javascript:;" class="b-link">家用電氣</a></div>
										<div class="list"><a href="javascript:;" class="b-link">潮流藝文</a></div>
										<div class="list"><a href="javascript:;" class="b-link">異國食藝</a></div>
										<div class="list"><a href="javascript:;" class="b-link">鮮活百匯</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">時尚焦點</button>
						</li>
					</ul>
					<ul class="function-list">
						<li class="list">
							<div class="m-box-holder b-hide-dt">
								<i class="m-icon m-icon-search"></i>
								<input type="text" class="m-inputbox" placeholder="輸入關鍵字">
							</div>
							<button class="btn-func">
								<i class="m-icon m-icon-search b-hide-xs"></i>
								<em class="b-hide-text-dt">品牌字首搜尋</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-member b-hide-xs"></i>
								<em class="b-hide-text-dt">我的帳戶</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-heart b-hide-xs"></i>
								<em class="b-hide-text-dt">我的最愛</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func shopping">
								<i class="m-icon m-icon-shopping b-hide-xs"></i>
								<em class="b-hide-text-dt">購物車</em>
								<span class="count">5</span>
							</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>