			<aside class="l-side">
				<div class="pagination">
					<ul class="cut-dot"></ul>
				</div>
				<div class="function-list">
					<button class="btn-side-menu jQ-side-menu b-hide-text is-active">side menu</button>
					<ul class="collapse-wrap">
						<li class="list">
							<button class="btn-func jQ-btn-func" data-place="aside"><i class="m-icon m-icon-announcement"></i><em class="b-hide-text">即時公告</em></button>
							<div class="popup-function">
								<div class="function-wrap">
									<h3 class="function-title b-bold b-text-left">最新消息</h3>
									<ul class="link-list b-text-left">
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">【阿原肥皂】/B1 隆重開幕慶！</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">APPLE PAY登場</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">【母親節】遠百線上購物同慶</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">媽咪搭郵輪趣-擁抱海洋之旅</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">遠百週四花旗日</em></a></li>
									</ul>
									<a href="javascript:;" class="btn-link b-inline b-col-dt-6 b-col-xs-6">more</a>
									<button class="btn-close jQ-close-popup b-hide-text">關閉</button>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="btn-func jQ-btn-func" data-place="aside"><i class="m-icon m-icon-card"></i><em class="b-hide-text">卡友專區</em></button>
							<div class="popup-function">
								<div class="function-wrap">
									<h3 class="function-title b-bold b-text-left">卡友專區</h3>
									<ul class="link-list b-text-left">
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">《珍馨為你》中獎名單</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">金門物產展 消費滿額抽</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">愛獻媽咪 禮券/汽車 雙重驚喜</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">線上購物獨家限時搶購贈獎活動</em></a></li>
									</ul>
									<a href="javascript:;" class="btn-link b-inline b-col-dt-6 b-col-xs-6">more</a>
									<button class="btn-close jQ-close-popup b-hide-text">關閉</button>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="btn-func jQ-btn-func" data-place="aside"><i class="m-icon m-icon-gift"></i><em class="b-hide-text">贈獎專區</em></button>
							<div class="popup-function">
								<div class="function-wrap">
									<h3 class="function-title b-bold b-text-left">贈獎專區</h3>
									<ul class="link-list b-text-left">
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">【愛獻媽咪】 週週抽萬元禮券</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">《珍馨為你》中獎名單</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">金門物產展 消費滿額抽</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">愛獻媽咪 禮券/汽車 雙重驚喜</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">線上購物獨家限時搶購贈獎活動</em></a></li>
									</ul>
									<a href="javascript:;" class="btn-link b-inline b-col-dt-6 b-col-xs-6">more</a>
									<button class="btn-close jQ-close-popup b-hide-text">關閉</button>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="btn-func jQ-btn-func" data-place="aside"><i class="m-icon m-icon-note"></i><em class="b-hide-text">活動報名</em></button>
							<div class="popup-function">
								<div class="function-wrap">
									<h3 class="function-title b-bold b-text-left">活動報名</h3>
									<ul class="link-list b-text-left">
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">金門物產展 消費滿額抽</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">愛獻媽咪 禮券/汽車 雙重驚喜</em></a></li>
										<li class="item-list"><a href="javascript:;" class="b-link b-block"><em class="text">線上購物獨家限時搶購贈獎活動</em></a></li>
									</ul>
									<a href="javascript:;" class="btn-link b-inline b-col-dt-6 b-col-xs-6">more</a>
									<button class="btn-close jQ-close-popup b-hide-text">關閉</button>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="btn-func jQ-btn-func" data-place="aside"><i class="m-icon m-icon-service"></i><em class="b-hide-text">智能客服</em></button>
							<div class="popup-function customer-service">
								<div class="function-wrap">
									<div class="function-hd b-text-left">
										<em class="function-title">
											<i class="m-icon m-icon-customer-service"></i>
											<span class="text b-bold">遠東百貨 行動智能客服</span>
										</em>
										<button class="btn-close jQ-close-popup b-hide-text">關閉</button>
									</div>
									<div class="function-bd b-clearfix">
										<div class="chat-wrap">
											<time class="chat-time b-block b-clearfix" datetime="2017/05/22">2017/05/22</time>
											<div class="msg-wrap robot b-clearfix">
												<figure class="head-img-wrap img-wrap b-float-left">
													<img src="../../content/img/shared/heads/robot.png" alt="">
												</figure>
												<p class="msg-wording b-inline b-float-left b-text-left">您好，很高興為您服務</p>
											</div>
											<div class="msg-wrap user b-clearfix">
												<figure class="head-img-wrap img-wrap b-float-right">
													<img src="../../content/img/shared/heads/user.png" alt="">
												</figure>
												<p class="msg-wording b-inline b-float-right b-text-left">請問大遠百板橋店怎麼去</p>
											</div>
											<div class="msg-wrap robot b-clearfix">
												<figure class="head-img-wrap img-wrap b-float-left">
													<img src="../../content/img/shared/heads/robot.png" alt="">
												</figure>
												<p class="msg-wording b-inline b-float-left b-text-left">Mega City板橋大遠百 位於 220新北市板橋區新站路28號</p>
											</div>
										</div>
									</div>
									<div class="function-ft">
										<div class="m-box-holder jQ-send-msg">
											<input type="text" class="m-inputbox" placeholder="">
											<button class="btn-send">送出</button>
										</div>
										<div class="link-wrap b-text-right">
											<a href="javascript:;" class="b-link">常見問題</a>
											<a href="javascript:;" class="b-link">聯絡我們</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="btn-func jQ-btn-func" data-place="aside"><i class="m-icon m-icon-parking"></i><em class="b-hide-text">交通資訊</em></button>
							<div class="popup-function align-bottom wide-size">
								<div class="function-wrap">
									<h3 class="function-title b-bold b-text-left">停車資訊</h3>
									<button class="btn-close jQ-close-popup b-hide-text">關閉</button>
								</div>
								<figure class="img-wrap store-img">
									<img src="../../content/img/shared/stores/01.png" alt="">
								</figure>
								<div class="function-wrap">
									<div class="info-wrap b-text-left">
										<em class="branch-name b-bold">寶慶遠百</em>
										<address class="address">台北市中正區寶慶路32號</address>
										<a href="tel:0223816088" class="b-link">02-23816088</a>
										<ul class="parking-info">
											<li class="parking-count b-middle b-col-dt-6 b-col-xs-6 b-inline"><i class="m-icon m-icon-car"></i><span class="text b-bold">汽車空位 - 剩餘 45</span></li>
											<li class="parking-count b-middle b-col-dt-6 b-col-xs-6 b-inline b-text-right"><i class="m-icon m-icon-motor"></i><span class="text b-bold">機車空位 - 剩餘 145</span></li>
										</ul>
									</div>
								</div>
								<ul class="reaction-list">
									<li class="action-list b-inline b-col-dt-4 b-col-xs-4">
										<a href="javascript:;" class="b-link b-block">
											<i class="m-icon m-icon-guidance b-text-center b-block"></i>
											<em class="text b-bold b-text-center b-block">路徑引導</em>
										</a>
									</li>
									<li class="action-list b-inline b-col-dt-4 b-col-xs-4">
										<a href="javascript:;" class="b-link b-block">
											<i class="m-icon m-icon-store b-text-center b-block"></i>
											<em class="text b-bold b-text-center b-block">分店資訊</em>
										</a>
									</li>
									<li class="action-list b-inline b-col-dt-4 b-col-xs-4">
										<a href="javascript:;" class="b-link b-block">
											<i class="m-icon m-icon-bus-2 b-text-center b-block"></i>
											<em class="text b-bold b-text-center b-block">接駁車資訊</em>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="list b-hide-md">
							<button class="btn-func jQ-btn-func" data-place="aside"><i class="m-icon m-icon-barcode"></i><em class="b-hide-text">會員條碼</em></button>
							<div class="popup-function align-bottom wide-size">
								<div class="function-wrap">
									<ul class="code-list">
										<li class="item-list qrcode">
											<h3 class="function-title b-bold b-text-left b-inline b-col-tm-3">QR Code</h3>
											<div class="code-info b-inline b-col-tm-9">
												<figure class="img-wrap b-inline">
													<img src="../../content/img/shared/members-code/qrcode.jpg" alt="">
												</figure>
											</div>
										</li>
										<li class="item-list">
											<h3 class="function-title b-bold b-text-left b-inline b-col-tm-3">手機條碼</h3>
											<div class="code-info b-inline b-col-tm-9">
												<em class="text b-block">此條碼可在<a href="javascript:;" class="b-link">指定商店</a>使用</em>
												<figure class="img-wrap barcode">
													<img src="../../content/img/shared/members-code/barcode.jpg" alt="">
												</figure>
											</div>
										</li>
									</ul>
									<span class="hint-text">提醒您，若您沒有綁定HAPPY GO卡號<br>您的消費將無法累積點數</span>
									<button class="btn-close jQ-close-popup b-hide-text">關閉</button>
								</div>
								<ul class="reaction-list">
									<li class="action-list b-block">
										<a href="javascript:;" class="b-link b-block b-middle">
											<em class="text b-bold b-text-center">立即綁定</em>
											<i class="m-icon m-icon-long-arrow-right b-text-center"></i>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<button class="btn-top jQ-top">TOP</button>
			</aside>