			<aside class="l-side">
				<div class="pagination">
					<ul class="cut-dot"></ul>
				</div>
				<div class="function-list">
					<button class="btn-side-menu jQ-side-menu b-hide-text is-active">side menu</button>
					<ul class="collapse-wrap">
						<li class="list">
							<button class="btn-func jQ-btn-func"><i class="m-icon m-icon-announcement"></i><em class="b-hide-text">即時公告</em></button>
							<div class="popup-function">
								<h3 class="function-title b-bold">請選擇任一方式搜尋</h3>
								<ul class="news-list">
									<li class="item-list"><a href="javascript:;" class="b-link">【阿原肥皂】/B1 隆重開幕慶！</a></li>
									<li class="item-list"><a href="javascript:;" class="b-link">APPLE PAY登場</a></li>
									<li class="item-list"><a href="javascript:;" class="b-link">【母親節】遠百線上購物同慶</a></li>
									<li class="item-list"><a href="javascript:;" class="b-link">媽咪搭郵輪趣-擁抱海洋之旅</a></li>
									<li class="item-list"><a href="javascript:;" class="b-link">遠百週四花旗日</a></li>
								</ul>
								<a href="javascript:;" class="btn-link">more</a>
							</div>
						</li>
						<li class="list"><button class="btn-func jQ-btn-func"><i class="m-icon m-icon-card"></i><em class="b-hide-text">卡友專區</em></button></li>
						<li class="list"><button class="btn-func jQ-btn-func"><i class="m-icon m-icon-gift"></i><em class="b-hide-text">贈獎專區</em></button></li>
						<li class="list"><button class="btn-func jQ-btn-func"><i class="m-icon m-icon-note"></i><em class="b-hide-text">活動報名</em></button></li>
						<li class="list"><button class="btn-func jQ-btn-func"><i class="m-icon m-icon-service"></i><em class="b-hide-text">智能客服</em></button></li>
						<li class="list"><button class="btn-func jQ-btn-func"><i class="m-icon m-icon-parking"></i><em class="b-hide-text">交通資訊</em></button></li>
						<li class="list b-hide-md"><button class="btn-func jQ-btn-func"><i class="m-icon m-icon-barcode"></i><em class="b-hide-text">會員條碼</em></button></li>
					</ul>
				</div>
				<button class="btn-top jQ-top">TOP</button>
			</aside>