			<div class="m-teach b-hide-xs" data-step="branch">
				<div class="teach-box" data-lesson="branch">
					<div class="teach-wording">
						<p class="desc b-bold">點擊此下拉選單可以切換全省遠東百貨分店。</p>
					</div>
					<div class="btn-wrap">
						<button class="btn-link jQ-finish"><em class="text">略過教學</em></button>
						<button class="btn-link jQ-next" data-next="visitor"><em class="text">下一功能</em></button>
					</div>
				</div>
				<div class="teach-box" data-lesson="visitor">
					<div class="teach-wording">
						<p class="desc b-bold">點擊此下拉選單，進入旅客中心，分別為日語 / 英語 / 簡體中文版</p>
					</div>
					<div class="btn-wrap">
						<button class="btn-link jQ-finish"><em class="text">略過教學</em></button>
						<button class="btn-link jQ-next" data-next="search"><em class="text">下一功能</em></button>
					</div>
				</div>
				<div class="teach-box" data-lesson="search">
					<div class="teach-wording">
						<p class="desc b-bold">你可以透過全站搜尋功能快速找到你要的品牌及活動相關資訊。</p>
					</div>
					<div class="btn-wrap">
						<button class="btn-link jQ-finish"><em class="text">略過教學</em></button>
						<button class="btn-link jQ-next" data-next="member"><em class="text">下一功能</em></button>
					</div>
				</div>
				<div class="teach-box" data-lesson="member">
					<div class="teach-wording">
						<p class="desc b-bold">立即加入遠百網路會員，享受會員生日禮及各項會員專屬優惠喔。</p>
					</div>
					<div class="btn-wrap">
						<button class="btn-link jQ-finish"><em class="text">略過教學</em></button>
						<button class="btn-link jQ-next" data-next="favorite"><em class="text">下一功能</em></button>
					</div>
				</div>
				<div class="teach-box" data-lesson="favorite">
					<div class="teach-wording">
						<p class="desc b-bold">您可以在瀏覽網站的同時，將你喜愛的活動、商品、文章加入我的最愛。</p>
					</div>
					<div class="btn-wrap">
						<button class="btn-link jQ-finish"><em class="text">略過教學</em></button>
						<button class="btn-link jQ-next" data-next="shopping"><em class="text">下一功能</em></button>
					</div>
				</div>
				<div class="teach-box" data-lesson="shopping">
					<div class="teach-wording">
						<p class="desc b-bold">不需登入會員，自動記錄您曾經瀏覽過的商品，快速瀏覽所有購物車內的商品，並即時統計購物金額!</p>
					</div>
					<div class="btn-wrap">
						<button class="btn-link jQ-finish"><em class="text">略過教學</em></button>
						<button class="btn-link jQ-next" data-next="service"><em class="text">下一功能</em></button>
					</div>
				</div>
				<div class="teach-box" data-lesson="service">
					<div class="teach-wording">
						<p class="desc b-bold">全站即時功能選單：</p>
						<ol class="order-list">
							<li class="list b-col-dt-6 b-bold">最新消息</li>
							<li class="list b-col-dt-6 b-bold">卡友專區</li>
							<li class="list b-col-dt-6 b-bold">贈獎專區</li>
							<li class="list b-col-dt-6 b-bold">活動報名</li>
							<li class="list b-col-dt-6 b-bold">智能客服</li>
							<li class="list b-col-dt-6 b-bold">停車資訊</li>
						</ol>
					</div>
					<div class="btn-wrap">
						<button class="btn-link jQ-finish"><em class="text">立即體驗全新官網</em></button>
					</div>
				</div>
			</div>
			<div class="m-teach b-hide-dt" data-step="branch">
				<div class="teach-owl jQ-owl" data-items="1" data-ctrl="flase" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="false" data-hover-pause="true" data-dots-position="relative">
					<div class="item-list">
						<div class="teach-box b-text-center" data-lesson="branch">
							<figure class="img-wrap">
								<img src="../../content/img/shared/teach/teach-location.png" alt="">
							</figure>
							<em class="function b-bold">定位離你最近的分店</em>
							<p class="desc">使用手機瀏覽全新遠百官網，將依照你所在的區域，自動推薦離你最近的分店資訊。</p>
						</div>
					</div>
					<div class="item-list">
						<div class="teach-box b-text-center" data-lesson="branch">
							<figure class="img-wrap">
								<img src="../../content/img/shared/teach/teach-member.png" alt="">
							</figure>
							<em class="function b-bold">全新遠百網路會員</em>
							<p class="desc">只要加入遠百網路會員，立即享受會員生日禮及各項會員專屬優惠，並可使用手機顯示會員條碼，進行現場各種實體優惠活動。</p>
						</div>
					</div>
					<div class="item-list">
						<div class="teach-box b-text-center" data-lesson="branch">
							<figure class="img-wrap">
								<img src="../../content/img/shared/teach/teach-parking.png" alt="">
							</figure>
							<em class="function b-bold">隨時掌握停車資訊</em>
							<p class="desc">即時顯示分店汽、機車空位剩餘數量，並可連結路徑導航，前往你欲抵達的分店。</p>
						</div>
					</div>
					<div class="item-list">
						<div class="teach-box b-text-center" data-lesson="branch">
							<figure class="img-wrap">
								<img src="../../content/img/shared/teach/teach-service.png" alt="">
							</figure>
							<em class="function b-bold">24H 智能客服</em>
							<p class="desc">24小時線上機器人客服系統，隨時隨地解答你遇到的相關問題。</p>
						</div>
					</div>
					<div class="item-list">
						<div class="teach-box b-text-center" data-lesson="branch">
							<figure class="img-wrap">
								<img src="../../content/img/shared/teach/teach-shopping.png" alt="">
							</figure>
							<em class="function b-bold">線上購物</em>
							<p class="desc">我們整合了線上及線下的購物系統，線上購買商品，也可獲得實體百貨公司禮券/折價券回饋，購物不再受到時間跟空間的限制。</p>
						</div>
					</div>
				</div>
				<div class="btn-wrap">
					<button class="btn-link b-col-xs-5 jQ-finish"><em class="text">略過教學</em></button>
					<button class="btn-link b-col-xs-5 jQ-next" data-next="service"><em class="text">下一功能</em></button>
					<button class="btn-link is-end b-col-xs-12 jQ-finish"><em class="text">立即體驗全新官網</em></button>
				</div>
			</div>