<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/account.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body shopping-money show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="my-account.html" class="b-link">我的帳戶</a></li>
						<li class="list"><a href="record.html" class="b-link">交易紀錄查詢</a></li>
						<li class="list">
							<button class="b-link is-curr">點數/購物金</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="shopping-money.html" class="sub-link">購物金</a></li>
									<li class="list"><a href="coupons.html" class="sub-link is-curr">折價券</a></li>
									<li class="list"><a href="happy-go.html" class="sub-link">HAPPY GO 點數</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="my-calendar.html" class="b-link">我的行事曆</a></li>
						<li class="list"><a href="my-card.html" class="b-link">我的遠百卡</a></li>
						<li class="list"><a href="favorite.html" class="b-link">我的最愛</a></li>
						<li class="list">
							<button class="b-link">帳戶相關設定</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="javascript:;" class="sub-link">修改會員資料</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">變更密碼</a></li>
									<li class="list"><a href="maintain.html" class="sub-link">配送地址維護</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">電子報訂閱 / 取消</a></li>
									<li class="list"><a href="setting.html" class="sub-link">快速登入設定</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">我的帳戶</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">交易紀錄查詢</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">我的</em>帳戶</span>
					<span class="sub-lang">my account</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<em class="main-msg b-block b-text-center">親愛的 蔡依琳 您好！<br class="b-hide-dt">這是您的帳戶與專屬優惠。</em>
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">折價券</h3>
								<ul class="info-list">
									<li class="list">您已收到下列折價券。</li>
								</ul>
								<div class="m-tab main-tab">
									<ul class="m-tab-wrap b-middle">
										<li class="tab-list b-col-dt-3 b-col-xs-3">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 is-curr jQ-tab">已生效 (<em class="highlight">10</em>)</button>
										</li>
										<li class="tab-list b-col-dt-3 b-col-xs-3">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab">待生效 (<em class="highlight">5</em>)</button>
										</li>
										<li class="tab-list b-col-dt-3 b-col-xs-3">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab">已到期 (<em class="highlight">4</em>)</button>
										</li>
										<li class="tab-list b-col-dt-3 b-col-xs-3">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab">已使用 (<em class="highlight">3</em>)</button>
										</li>
									</ul>
									<ul class="m-tab-content">
										<li class="content-list is-curr">
											<table class="m-table table-rotate">
												<thead>
													<tr>
														<td><em class="text">發放日期</em></td>
														<td><em class="text">獲得方式</em></td>
														<td><em class="text">折價券序號</em></td>
														<td><em class="text">生效日期</em></td>
														<td><em class="text">到期日期</em></td>
														<td><em class="text">金額</em></td>
													</tr>
												</thead>
												<tbody>
													<tr class="expired">
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">新會員加入送購物金</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 200</em></td>
													</tr>
													<tr class="expired">
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">會員生日禮</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 250</em></td>
													</tr>
													<tr class="expired">
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">線上購物</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">參加行銷活動「購物抽獎」</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 500</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">新會員加入送購物金</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 200</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">參加行銷活動「購物抽獎」</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">會員生日禮</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">新會員加入送購物金</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">參加行銷活動「購物抽獎」</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">線上購物</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
												</tbody>
											</table>
											<div class="info-text">
												<span class="text">注意事項</span>
												<ul class="notice-list">
													<li class="list">電子折價券不可跨店使用，一筆購物車結帳只能使用一張電子折價券。</li>
													<li class="list">電子折價券僅能使用一次且不找零，一經使用就無法取消或恢復。</li>
													<li class="list">電子折價券每次最多只能折抵商品金額的50%，了解更多電子折價券使用說明。</li>
													<li class="list">使用電子折價券結帳，系統會將折價金額依照比例均攤到本購物車每筆訂單。</li>
													<li class="list">若購物車有使用電子折價券，如欲取消訂單，一起結帳的訂單需全部取消；如欲辦理退貨，一起結帳的商品必須全數退回。</li>
												</ul>
											</div>
											<!-- <div class="btn-wrap b-text-center b-col-xs-12">
												<a href="javascript:;" class="btn-link b-col-xs-10">回我的帳戶</a>
											</div> -->
										</li>
										<li class="content-list">
											<div class="info-text">
												<span class="text">注意事項</span>
												<ul class="notice-list">
													<li class="list">電子折價券不可跨店使用，一筆購物車結帳只能使用一張電子折價券。</li>
													<li class="list">電子折價券僅能使用一次且不找零，一經使用就無法取消或恢復。</li>
													<li class="list">電子折價券每次最多只能折抵商品金額的50%，了解更多電子折價券使用說明。</li>
													<li class="list">使用電子折價券結帳，系統會將折價金額依照比例均攤到本購物車每筆訂單。</li>
													<li class="list">若購物車有使用電子折價券，如欲取消訂單，一起結帳的訂單需全部取消；如欲辦理退貨，一起結帳的商品必須全數退回。</li>
												</ul>
											</div>
											<!-- <div class="btn-wrap b-text-center b-col-xs-12">
												<a href="javascript:;" class="btn-link b-col-xs-10">回我的帳戶</a>
											</div> -->
										</li>
										<li class="content-list">
											<table class="m-table table-rotate">
												<thead>
													<tr>
														<td><em class="text">發放日期</em></td>
														<td><em class="text">獲得方式</em></td>
														<td><em class="text">折價券序號</em></td>
														<td><em class="text">生效日期</em></td>
														<td><em class="text">到期日期</em></td>
														<td><em class="text">金額</em></td>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">線上購物</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">線上購物</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">新會員加入送購物金</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">會員生日禮</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">新會員加入送購物金</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">新會員加入送購物金</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">參加行銷活動「購物抽獎」</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">新會員加入送購物金</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">會員生日禮</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
													<tr>
														<td data-label="發放日期"><em class="text">2017/01/31</em></td>
														<td data-label="獲得方式"><em class="text">參加行銷活動「購物抽獎」</em></td>
														<td data-label="折價券序號"><em class="text">1234567890123</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
														<td data-label="金額"><em class="text">NT. 100</em></td>
													</tr>
												</tbody>
											</table>
										</li>
										<li class="content-list">
											<!-- <div class="btn-wrap b-text-center b-col-xs-12">
												<a href="javascript:;" class="btn-link b-col-xs-10">回我的帳戶</a>
											</div> -->
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/sugarfun-datepicker/datepicker.min.js?JS=20160420_01"></script>
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>