<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/account.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body epaper show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="my-account.html" class="b-link">我的帳戶</a></li>
						<li class="list"><a href="record.html" class="b-link">交易紀錄查詢</a></li>
						<li class="list">
							<button class="b-link">點數/購物金</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="shopping-money.html" class="sub-link">購物金</a></li>
									<li class="list"><a href="coupons.html" class="sub-link">折價券</a></li>
									<li class="list"><a href="happy-go.html" class="sub-link">HAPPY GO 點數</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="my-calendar.html" class="b-link">我的行事曆</a></li>
						<li class="list"><a href="my-card.html" class="b-link">我的遠百卡</a></li>
						<li class="list"><a href="favorite.html" class="b-link">我的最愛</a></li>
						<li class="list">
							<button class="b-link is-curr">帳戶相關設定</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="../member/edit.html" class="sub-link">修改會員資料</a></li>
									<li class="list"><a href="../member/change-password.html" class="sub-link">變更密碼</a></li>
									<li class="list"><a href="maintain.html" class="sub-link">配送地址維護</a></li>
									<li class="list"><a href="epaper.html" class="sub-link is-curr">電子報訂閱 / 取消</a></li>
									<li class="list"><a href="setting.html" class="sub-link">快速登入設定</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="my-account.html" class="b-link"><em class="text">我的帳戶</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">我的</em>帳戶</span>
					<span class="sub-lang">my account</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<em class="main-msg b-block b-text-center">親愛的 蔡依琳 您好！<br class="b-hide-dt">這是您的帳戶與專屬優惠。</em>
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">電子報訂閱/取消</h3>
								<div class="info-text">
									<span class="text b-bold b-block">請勾選你要訂閱的電子報</span>
									<span class="text b-block">【訂閱電子報】請直接在要訂閱的電子報前點一下，變成<span class="sample-icon m-lab b-inline is-checked"><i class="m-box-holder is-checkbox b-inline"></i></span>，之後按下“確定“即可。</span>
									<span class="text b-block">【取消訂閱】請直接在要取消訂閱的電子報前點一下，把<span class="sample-icon m-lab b-inline is-checked"><i class="m-box-holder is-checkbox b-inline"></i></span>消掉→變成<div class="sample-icon m-box-holder b-inline is-checkbox"></div>，之後按下“確定“即可。</span>
								</div>
								<div class="table-wrap">
									<table class="m-table">
										<thead>
											<tr>
												<td class="b-col-dt-3 b-col-xs-4">
													<label class="m-lab jQ-checkbox" data-select-all="true" data-gruop-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
														<em class="text b-bold">全選</em>
													</label>
												</td>
												<td class="b-col-dt-9 b-col-xs-8 b-text-left"><em class="text b-bold">名稱</em></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<label class="m-lab jQ-checkbox" data-select-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
													</label>
												</td>
												<td class="b-text-left"><em class="text">寶慶遠百電子報</em></td>
											</tr>
											<tr>
												<td>
													<label class="m-lab jQ-checkbox" data-select-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
													</label>
												</td>
												<td class="b-text-left"><em class="text">板橋遠百電子報</em></td>
											</tr>
											<tr>
												<td>
													<label class="m-lab jQ-checkbox" data-select-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
													</label>
												</td>
												<td class="b-text-left"><em class="text">板橋大遠百電子報</em></td>
											</tr>
											<tr>
												<td>
													<label class="m-lab jQ-checkbox" data-select-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
													</label>
												</td>
												<td class="b-text-left"><em class="text">桃園遠百電子報</em></td>
											</tr>
											<tr>
												<td>
													<label class="m-lab jQ-checkbox" data-select-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
													</label>
												</td>
												<td class="b-text-left"><em class="text">新竹遠百電子報</em></td>
											</tr>
											<tr>
												<td>
													<label class="m-lab jQ-checkbox" data-select-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
													</label>
												</td>
												<td class="b-text-left"><em class="text">台中大遠百電子報</em></td>
											</tr>
											<tr>
												<td>
													<label class="m-lab jQ-checkbox" data-select-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
													</label>
												</td>
												<td class="b-text-left"><em class="text">嘉義遠百電子報</em></td>
											</tr>
											<tr>
												<td>
													<label class="m-lab jQ-checkbox" data-select-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
													</label>
												</td>
												<td class="b-text-left"><em class="text">台南大遠百電子報</em></td>
											</tr>
											<tr>
												<td>
													<label class="m-lab jQ-checkbox" data-select-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
													</label>
												</td>
												<td class="b-text-left"><em class="text">高雄大遠百電子報</em></td>
											</tr>
											<tr>
												<td>
													<label class="m-lab jQ-checkbox" data-select-name="epaper">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
													</label>
												</td>
												<td class="b-text-left"><em class="text">花蓮遠百電子報</em></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="btn-wrap b-text-center">
									<button class="btn-link b-col-dt-2 b-col-xs-6">取消</button>
									<button class="btn-link b-col-dt-2 b-col-xs-6 jQ-open-box">確定</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
		<div class="l-lightbox">
			<div class="m-lightbox-content">
				<header class="m-lightbox-hd">
					<button class="btn-close-box jQ-close-box">
						<em class="text b-hide-text">關閉</em>
					</button>
				</header>
				<div class="m-lightbox-bd b-text-center">
					<span class="box-msg b-block">您已變更成功！</span>
					<div class="btn-wrap">
						<button class="btn-confirm b-col-dt-4 b-col-xs-12 jQ-close-box"><em class="text">OK</em></button>
					</div>
				</div>
				<footer class="m-lightbox-ft"></footer>
			</div>
		</div>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>