<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/account.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body favorite show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="my-account.html" class="b-link">我的帳戶</a></li>
						<li class="list"><a href="record.html" class="b-link">交易紀錄查詢</a></li>
						<li class="list">
							<button class="b-link">點數/購物金</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="shopping-money.html" class="sub-link">購物金(線上抵用券)</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">購物金(實體抵用券)</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">HAPPY GO 點數</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="my-calendar.html" class="b-link">我的行事曆</a></li>
						<li class="list"><a href="favorite.html" class="b-link is-curr">我的最愛</a></li>
						<li class="list">
							<button class="b-link">帳戶相關設定</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="javascript:;" class="sub-link">修改會員資料</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">變更密碼</a></li>
									<li class="list"><a href="maintain.html" class="sub-link">配送地址維護</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">電子報訂閱 / 取消</a></li>
									<li class="list"><a href="setting.html" class="sub-link">快速登入設定</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">我的帳戶</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">我的最愛</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">我的</em>帳戶</span>
					<span class="sub-lang">my account</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<em class="main-msg b-block b-text-center">親愛的 蔡依琳 您好！<br class="b-hide-dt">這是您的帳戶與專屬優惠。</em>
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">我的最愛</h3>
								<div class="info-text"><span class="text">您的最愛記錄如下：</span></div>
								<div class="m-tab main-tab">
									<ul class="m-tab-wrap b-middle">
										<li class="tab-list b-col-dt-4 b-col-xs-4">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab merchandise is-curr">商品</button>
										</li>
										<li class="tab-list b-col-dt-4 b-col-xs-4">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab foods">美食</button>
										</li>
										<li class="tab-list b-col-dt-4 b-col-xs-4">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab articles">文章</button>
										</li>
									</ul>
									<ul class="m-tab-content">
										<li class="content-list is-curr">
											<ul class="favorite-list">
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/01.png" alt="植村秀綠茶潔顏油">
														</figure>
													</div>
													<div class="item-text-info b-col-dt-4">
														<h3 class="sub-title">植村秀綠茶潔顏油</h3>
														<span class="note b-inline b-bold">滿2000滿200</span>
													</div>
													<div class="item-sub-info">
														<div class="item-price"><em class="text">$ 2500</em></div>
														<div class="btn-wrap b-col-xs-12"><button class="btn-link"><i class="m-icon m-icon-shopping"></i><em class="text">放入購物車</em></button></div>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/01.png" alt="植村秀綠茶潔顏油">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">植村秀綠茶潔顏油植村秀綠茶潔顏油植村秀綠茶潔顏油植村秀綠茶潔顏油</h3>
														<span class="note b-inline b-bold">滿2000滿200</span>
													</div>
													<div class="item-sub-info">
														<div class="item-price"><em class="text">$ 2500</em></div>
														<div class="btn-wrap b-col-xs-12"><button class="btn-link"><i class="m-icon m-icon-shopping"></i><em class="text">放入購物車</em></button></div>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/01.png" alt="植村秀綠茶潔顏油">
														</figure>
													</div>
													<div class="item-text-info b-col-dt-4">
														<h3 class="sub-title">植村秀綠茶潔顏油</h3>
														<span class="note b-inline b-bold">滿2000滿200</span>
													</div>
													<div class="item-sub-info">
														<div class="item-price"><em class="text">$ 250000</em></div>
														<div class="btn-wrap b-col-xs-12"><button class="btn-link"><i class="m-icon m-icon-shopping"></i><em class="text">放入購物車</em></button></div>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/01.png" alt="植村秀綠茶潔顏油">
														</figure>
													</div>
													<div class="item-text-info b-col-dt-4">
														<h3 class="sub-title">植村秀綠茶潔顏油</h3>
														<span class="note b-inline b-bold">滿2000滿200</span>
													</div>
													<div class="item-sub-info">
														<div class="item-price"><em class="text">$ 2500</em></div>
														<div class="btn-wrap b-col-xs-12"><button class="btn-link"><i class="m-icon m-icon-shopping"></i><em class="text">放入購物車</em></button></div>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/01.png" alt="植村秀綠茶潔顏油">
														</figure>
													</div>
													<div class="item-text-info b-col-dt-4">
														<h3 class="sub-title">植村秀綠茶潔顏油</h3>
														<span class="note b-inline b-bold">滿2000滿200</span>
													</div>
													<div class="item-sub-info">
														<div class="item-price"><em class="text">$ 2500</em></div>
														<div class="btn-wrap b-col-xs-12"><button class="btn-link"><i class="m-icon m-icon-shopping"></i><em class="text">放入購物車</em></button></div>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/01.png" alt="植村秀綠茶潔顏油">
														</figure>
													</div>
													<div class="item-text-info b-col-dt-4">
														<h3 class="sub-title">植村秀綠茶潔顏油</h3>
														<span class="note b-inline b-bold">滿2000滿200</span>
													</div>
													<div class="item-sub-info">
														<div class="item-price"><em class="text">$ 2500</em></div>
														<div class="btn-wrap b-col-xs-12"><button class="btn-link"><i class="m-icon m-icon-shopping"></i><em class="text">放入購物車</em></button></div>
													</div>
												</li>
											</ul>
											<div class="m-pagination">
												<ul class="m-pagination-bd">
													<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-back"></a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button is-active">1</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">2</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">3</a></li>
													<li class="page-ctrl"><span class="text">4</span></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">5</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-next"></a></li>
												</ul>
											</div>
										</li>
										<li class="content-list">
											<ul class="favorite-list">
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">八阪丼屋</h3>
														<p class="desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣，日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">八阪丼屋</h3>
														<p class="desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣，日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">八阪丼屋</h3>
														<p class="desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣，日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">八阪丼屋</h3>
														<p class="desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣，日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">八阪丼屋</h3>
														<p class="desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣，日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">八阪丼屋</h3>
														<p class="desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣，日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
													</div>
												</li>
											</ul>
											<div class="m-pagination">
												<ul class="m-pagination-bd">
													<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-back"></a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button is-active">1</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">2</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">3</a></li>
													<li class="page-ctrl"><span class="text">4</span></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">5</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-next"></a></li>
												</ul>
											</div>
										</li>
										<li class="content-list">
											<ul class="favorite-list">
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/03.png" alt="讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型</h3>
														<p class="desc">誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟誌的人氣造型師福田麻琴，.....</p>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/04.png" alt="讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型</h3>
														<p class="desc">誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟誌的人氣造型師福田麻琴，.....</p>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/05.png" alt="讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型</h3>
														<p class="desc">誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟誌的人氣造型師福田麻琴，.....</p>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/06.png" alt="讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型</h3>
														<p class="desc">誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟誌的人氣造型師福田麻琴，.....</p>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/07.png" alt="讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型</h3>
														<p class="desc">誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟誌的人氣造型師福田麻琴，.....</p>
													</div>
												</li>
												<li class="item-list">
													<div class="btn-wrap"><button class="btn-delete"><em class="text b-hide-text">刪除</em></button></div>
													<div class="item-pic">
														<figure class="img-wrap">
															<img src="../../content/img/account/favorite/08.png" alt="讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型">
														</figure>
													</div>
													<div class="item-text-info">
														<h3 class="sub-title">讓保暖＆時尚一次完成！意想不到發熱衣四款溫暖造型</h3>
														<p class="desc">誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟粽子一樣厚重呢？讓活躍於日本女性雜誌的人氣造型師福田麻琴，誰說天氣寒冷就一定要包的跟誌的人氣造型師福田麻琴，.....</p>
													</div>
												</li>
											</ul>
											<div class="m-pagination">
												<ul class="m-pagination-bd">
													<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-back"></a></li>
													<li class="page-ctrl"><span class="text">1</span></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">2</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">3</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">4</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">5</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-next"></a></li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<aside class="l-side">
				<div class="pagination">
					<ul class="cut-dot"></ul>
				</div>
				<div class="function-list">
					<button class="btn-side-menu jQ-side-menu b-hide-text is-active">side menu</button>
					<ul class="collapse-wrap">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-announcement"></i><em class="b-hide-text">即時公告</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-card"></i><em class="b-hide-text">卡友專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-gift"></i><em class="b-hide-text">贈獎專區</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-note"></i><em class="b-hide-text">活動報名</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-service"></i><em class="b-hide-text">智能客服</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-parking"></i><em class="b-hide-text">交通資訊</em></a></a></li>
					</ul>
				</div>
				<button class="btn-top jQ-top">TOP</button>
			</aside>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/sugarfun-datepicker/datepicker.min.js?JS=20160420_01"></script>
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>