<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/account.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body account show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="my-account.html" class="b-link is-curr">我的帳戶</a></li>
						<li class="list"><a href="record.html" class="b-link">交易紀錄查詢</a></li>
						<li class="list">
							<button class="b-link">點數/購物金</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="shopping-money.html" class="sub-link">購物金</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">折價券</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">HAPPY GO 點數</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="my-calendar.html" class="b-link">我的行事曆</a></li>
						<li class="list"><a href="my-card.html" class="b-link">我的遠百卡</a></li>
						<li class="list"><a href="favorite.html" class="b-link">我的最愛</a></li>
						<li class="list">
							<button class="b-link">帳戶相關設定</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="javascript:;" class="sub-link">修改會員資料</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">變更密碼</a></li>
									<li class="list"><a href="maintain.html" class="sub-link">配送地址維護</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">電子報訂閱 / 取消</a></li>
									<li class="list"><a href="setting.html" class="sub-link">快速登入設定</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">我的帳戶</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">我的</em>帳戶</span>
					<span class="sub-lang">my account</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<em class="main-msg b-block b-text-center">親愛的 蔡依琳 您好！<br class="b-hide-dt">這是您的帳戶與專屬優惠。</em>
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-6 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">交易紀錄查詢</h3>
								<ul class="info-list">
									<li class="list">交易紀錄<em class="highlight">10</em>筆</li>
								</ul>
								<h3 class="sub-title">點數/購物金</h3>
								<ul class="info-list">
									<li class="list">購物金<em class="highlight">3,500</em>元</li>
									<li class="list">折價券<em class="highlight">02</em>張</li>
									<li class="list">HAPPY GO 點數<em class="highlight">26568</em>點</li>
								</ul>
							</div>
							<div class="info-wrap b-col-dt-6 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">我的行事曆</h3>
								<ul class="info-list">
									<li class="list">報名成功活動<em class="highlight">01</em>項</li>
								</ul>
								<h3 class="sub-title">我的最愛</h3>
								<ul class="info-list">
									<li class="list">商品<em class="highlight">02</em>項</li>
									<li class="list">美食<em class="highlight">02</em>項</li>
									<li class="list">文章<em class="highlight">02</em>項</li>
								</ul>
							</div>
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">會員專屬優惠</h3>
								<ul class="members-item-list">
									<li class="list">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/latest-events/acts/01.jpg" alt="">
												<figcaption class="desc b-hide-text">Mitchell & Ness新櫃登場</figcaption>
											</figure>
											<div class="act-info">
												<h3 class="act-title">Mitchell & Ness新櫃登場</h3>
												<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
												<p class="desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
											</div>
										</a>
										<em class="act-type">
											<i class="m-icon m-icon-new-brand"></i>
											<span class="text">新櫃登場</span>
										</em>
										<button class="btn-calendar jQ-calendar">
											<i class="m-icon m-icon-calendar-default"></i>
											<em class="text b-hide-text">加入行事曆</em>
										</button>
									</li>
									<li class="list">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/latest-events/acts/02.jpg" alt="">
												<figcaption class="desc b-hide-text">nickelodeon聖誕嘉年華</figcaption>
											</figure>
											<div class="act-info">
												<h3 class="act-title">nickelodeon聖誕嘉年華</h3>
												<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
												<p class="desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
											</div>
										</a>
										<em class="act-type">
											<i class="m-icon m-icon-activity"></i>
											<span class="text">展售活動</span>
										</em>
										<button class="btn-calendar jQ-calendar is-add">
											<i class="m-icon m-icon-calendar-default"></i>
											<em class="text b-hide-text">加入行事曆</em>
										</button>
									</li>
									<li class="list">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/latest-events/acts/03.jpg" alt="">
												<figcaption class="desc b-hide-text">Diamond House滿額大方送</figcaption>
											</figure>
											<div class="act-info">
												<h3 class="act-title">Diamond House滿額大方送</h3>
												<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
												<p class="desc">Diamond House珠寶嚴選最優質的鑽石與寶石，秉持品牌一貫的精湛工藝和獨特設計，創造許多經典 .... </p>
											</div>
										</a>
										<em class="act-type">
											<i class="m-icon m-icon-gift-o"></i>
											<span class="text">滿額贈送</span>
										</em>
										<button class="btn-calendar jQ-calendar">
											<i class="m-icon m-icon-calendar-default"></i>
											<em class="text b-hide-text">加入行事曆</em>
										</button>
									</li>
								</ul>
							</div>
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">常見問題</h3>
								<ul class="link-list">
									<li class="list"><a href="javascript:;" class="btn-link">會員/ 購物金/ 折價券</a></li>
									<li class="list"><a href="javascript:;" class="btn-link">付款/發票問題</a></li>
									<li class="list"><a href="javascript:;" class="btn-link">商品/退換問題</a></li>
									<li class="list"><a href="javascript:;" class="btn-link">運送問題</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>