<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/account.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body calendar show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="my-account.html" class="b-link">我的帳戶</a></li>
						<li class="list"><a href="record.html" class="b-link">交易紀錄查詢</a></li>
						<li class="list">
							<button class="b-link">點數/購物金</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="shopping-money.html" class="sub-link">購物金</a></li>
									<li class="list"><a href="coupons.html" class="sub-link">折價券</a></li>
									<li class="list"><a href="happy-go.html" class="sub-link">HAPPY GO 點數</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="my-calendar.html" class="b-link is-curr">我的行事曆</a></li>
						<li class="list"><a href="my-card.html" class="b-link">我的遠百卡</a></li>
						<li class="list"><a href="favorite.html" class="b-link">我的最愛</a></li>
						<li class="list">
							<button class="b-link">帳戶相關設定</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="../member/edit.html" class="sub-link">修改會員資料</a></li>
									<li class="list"><a href="../member/change-password.html" class="sub-link">變更密碼</a></li>
									<li class="list"><a href="maintain.html" class="sub-link">配送地址維護</a></li>
									<li class="list"><a href="epaper.html" class="sub-link">電子報訂閱 / 取消</a></li>
									<li class="list"><a href="setting.html" class="sub-link">快速登入設定</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="my-account.html" class="b-link"><em class="text">我的帳戶</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">我的</em>帳戶</span>
					<span class="sub-lang">my account</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<em class="main-msg b-block b-text-center">親愛的 蔡依琳 您好！<br class="b-hide-dt">這是您的帳戶與專屬優惠。</em>
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt b-middle">
								<h3 class="sub-title b-inline">我的行事曆</h3>
								<div class="m-lab b-inline-dt b-block-xs">
									<div class="m-box-holder is-selector">
										<select name="" id="" class="m-selection">
											<option value="">全部活動</option>
											<option value="">已報名活動</option>
											<option value="">已追蹤活動</option>
										</select>
									</div>
								</div>
								<div class="m-adding-wrap b-inline-dt b-block-xs">
									<button class="btn-text b-bold jQ-open-calendar">同步30天內的活動到google行事曆</button>
									<div class="calendar-box is-bottom b-text-left-xs">
										<button class="btn-close jQ-close-calendar"><em class="text b-hide-text">關閉</em></button>
										<em class="box-title b-bold b-block">選擇以下出現的Google行事曆</em>
										<ul class="selection-list">
											<li class="list">
												<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
													<div class="m-box-holder is-checkbox">
														<input type="checkbox" class="m-checkbox">
													</div>
													<span class="text">Miguel Wu</span>
												</label>
											</li>
											<li class="list">
												<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
													<div class="m-box-holder is-checkbox">
														<input type="checkbox" class="m-checkbox">
													</div>
													<span class="text">Sugarfun</span>
												</label>
											</li>
											<li class="list">
												<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
													<div class="m-box-holder is-checkbox">
														<input type="checkbox" class="m-checkbox">
													</div>
													<span class="text">Meeting Room</span>
												</label>
											</li>
											<li class="list">
												<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
													<div class="m-box-holder is-checkbox">
														<input type="checkbox" class="m-checkbox">
													</div>
													<span class="text">Miguel Wu</span>
												</label>
											</li>
											<li class="list">
												<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
													<div class="m-box-holder is-checkbox">
														<input type="checkbox" class="m-checkbox">
													</div>
													<span class="text">Sugarfun</span>
												</label>
											</li>
											<li class="list">
												<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
													<div class="m-box-holder is-checkbox">
														<input type="checkbox" class="m-checkbox">
													</div>
													<span class="text">Meeting Room</span>
												</label>
											</li>
										</ul>
										<button class="btn-link b-block b-col-dt-12 b-col-xs-12" onclick="common.btnGoogleCalendsr(this);">加入此行事曆</button>
									</div>
								</div>
							</div>
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<div class="m-pagination calendar-pagination">
									<ul class="m-pagination-bd">
										<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-back"></a></li>
										<li class="page-ctrl"><span class="text">2016年 12月</span></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-next"></a></li>
									</ul>
								</div>
								<ul class="members-item-list">
									<li class="list">
										<a href="../latest-events/latest-events-detail.html" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/latest-events/acts/01.jpg" alt="">
												<figcaption class="desc b-hide-text">Mitchell & Ness新櫃登場</figcaption>
											</figure>
											<div class="act-info">
												<h3 class="act-title">Mitchell & Ness新櫃登場</h3>
												<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
												<p class="desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
											</div>
										</a>
										<em class="act-type">
											<i class="m-icon m-icon-new-brand"></i>
											<span class="text">新櫃登場</span>
										</em>
										<a href="../latest-events/latest-events-detail.html" class="btn-link">報名資訊</a>
									</li>
									<li class="list">
										<a href="../latest-events/latest-events-detail.html" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/latest-events/acts/02.jpg" alt="">
												<figcaption class="desc b-hide-text">nickelodeon聖誕嘉年華</figcaption>
											</figure>
											<div class="act-info">
												<h3 class="act-title">nickelodeon聖誕嘉年華</h3>
												<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
												<p class="desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
											</div>
										</a>
										<em class="act-type">
											<i class="m-icon m-icon-activity"></i>
											<span class="text">展售活動</span>
										</em>
										<a href="../latest-events/latest-events-detail.html" class="btn-link">報名資訊</a>
									</li>
									<li class="list">
										<a href="../latest-events/latest-events-detail.html" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/latest-events/acts/03.jpg" alt="">
												<figcaption class="desc b-hide-text">Diamond House滿額大方送</figcaption>
											</figure>
											<div class="act-info">
												<h3 class="act-title">Diamond House滿額大方送</h3>
												<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
												<p class="desc">Diamond House珠寶嚴選最優質的鑽石與寶石，秉持品牌一貫的精湛工藝和獨特設計，創造許多經典 .... </p>
											</div>
										</a>
										<em class="act-type">
											<i class="m-icon m-icon-gift-o"></i>
											<span class="text">滿額贈送</span>
										</em>
										<a href="../latest-events/latest-events-detail.html" class="btn-link">報名資訊</a>
									</li>
									<li class="list">
										<a href="../latest-events/latest-events-detail.html" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/latest-events/acts/04.jpg" alt="">
												<figcaption class="desc b-hide-text">迪奧 瞬效美肌飾底膏新品上市</figcaption>
											</figure>
											<div class="act-info">
												<h3 class="act-title">迪奧 瞬效美肌飾底膏新品上市</h3>
												<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
												<p class="desc">瞬效美肌飾底膏 售價1,400元</p>
											</div>
										</a>
										<em class="act-type">
											<i class="m-icon m-icon-new-arrive"></i>
											<span class="text">新品上市</span>
										</em>
										<a href="../latest-events/latest-events-detail.html" class="btn-link">報名資訊</a>
									</li>
									<li class="list">
										<a href="../latest-events/latest-events-detail.html" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/latest-events/acts/05.jpg" alt="">
												<figcaption class="desc b-hide-text">遠百周年慶</figcaption>
											</figure>
											<div class="act-info">
												<h3 class="act-title">遠百周年慶</h3>
												<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
												<p class="desc">就是今天週年慶正式登場馬力來送好禮囉！注意注意即日起至11/11(五)於此貼文下方tag2名好友+ ...</p>
											</div>
										</a>
										<em class="act-type">
											<i class="m-icon m-icon-member-o"></i>
											<span class="text">會員＆卡友活動</span>
										</em>
										<a href="../latest-events/latest-events-detail.html" class="btn-link">報名資訊</a>
									</li>
									<li class="list">
										<a href="../latest-events/latest-events-detail.html" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/latest-events/acts/06.jpg" alt="">
												<figcaption class="desc b-hide-text">Revitalizing Supreme Plus 年輕肌密無敵霜</figcaption>
											</figure>
											<div class="act-info">
												<h3 class="act-title">Revitalizing Supreme Plus 年輕肌密無敵霜</h3>
												<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
												<p class="desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
											</div>
										</a>
										<em class="act-type">
											<i class="m-icon m-icon-card-2"></i>
											<span class="text">信用卡/來店禮</span>
										</em>
										<a href="../latest-events/latest-events-detail.html" class="btn-link">報名資訊</a>
									</li>
								</ul>
								<a href="../latest-events/latest-events.html" class="btn-more b-link">MORE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>