<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/account.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body order-detail show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="my-account.html" class="b-link">我的帳戶</a></li>
						<li class="list"><a href="record.html" class="b-link is-curr">交易紀錄查詢</a></li>
						<li class="list">
							<button class="b-link">點數/購物金</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="shopping-money.html" class="sub-link">購物金</a></li>
									<li class="list"><a href="coupons.html" class="sub-link">折價券</a></li>
									<li class="list"><a href="happy-go.html" class="sub-link">HAPPY GO 點數</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="my-calendar.html" class="b-link">我的行事曆</a></li>
						<li class="list"><a href="my-card.html" class="b-link">我的遠百卡</a></li>
						<li class="list"><a href="favorite.html" class="b-link">我的最愛</a></li>
						<li class="list">
							<button class="b-link">帳戶相關設定</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="../member/edit.html" class="sub-link">修改會員資料</a></li>
									<li class="list"><a href="../member/change-password.html" class="sub-link">變更密碼</a></li>
									<li class="list"><a href="maintain.html" class="sub-link">配送地址維護</a></li>
									<li class="list"><a href="epaper.html" class="sub-link">電子報訂閱 / 取消</a></li>
									<li class="list"><a href="setting.html" class="sub-link">快速登入設定</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="my-account.html" class="b-link"><em class="text">我的帳戶</em></a></li>
						<li class="list"><a href="record.html" class="b-link"><em class="text">交易紀錄查詢</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">我的</em>帳戶</span>
					<span class="sub-lang">my account</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<em class="main-msg b-block b-text-center">親愛的 蔡依琳 您好！<br class="b-hide-dt">這是您的帳戶與專屬優惠。</em>
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">訂單明細</h3>
								<div class="info-text deliver-info"><span class="text">訂單編號 <em class="highlight">541612070002620</em></span></div>
							</div>
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">商品明細</h3>
								<div class="table-wrap">
									<table class="m-table table-rotate">
										<thead>
											<tr>
												<td><em class="text b-bold">商品</em></td>
												<td><em class="text b-bold">贈品</em></td>
												<td><em class="text b-bold">數量</em></td>
												<td><em class="text b-bold">價格</em></td>
												<td><em class="text b-bold">配送方式</em></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td data-label="商品">
													<div class="item-info b-text-left">
														<figure class="img-wrap b-inline b-hide-xs">
															<img src="../../content/img/account/order-items/02.png" alt="Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)">
															<figcaption class="desc b-hide-text">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</figcaption>
														</figure>
														<div class="item-text-info">
															<a href="../online-shopping/online-shopping-detail.html" class="b-link b-inline">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</a>
															<span class="note b-inline b-bold">活動 :限時24小時，指定商品結帳再85折</span>
														</div>
													</div>
												</td>
												<td data-label="贈品"><em class="text">精美化妝鏡<br>精美化妝包組</em></td>
												<td data-label="數量"><em class="text">1</em></td>
												<td data-label="價格"><em class="text">特惠價 <strong class="highlight">1988</strong> 元</em></td>
												<td data-label="配送方式"><em class="text">宅配</em></td>
											</tr>
											<tr>
												<td data-label="商品">
													<div class="item-info b-text-left">
														<figure class="img-wrap b-inline b-hide-xs">
															<img src="../../content/img/account/order-items/02.png" alt="Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)">
															<figcaption class="desc b-hide-text">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</figcaption>
														</figure>
														<div class="item-text-info">
															<a href="../online-shopping/online-shopping-detail.html" class="b-link b-inline">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</a>
															<span class="note b-inline b-bold">活動 :限時24小時，指定商品結帳再85折</span>
														</div>
													</div>
												</td>
												<td data-label="贈品"><em class="text">精美化妝鏡<br>精美化妝包組</em></td>
												<td data-label="數量"><em class="text">1</em></td>
												<td data-label="價格"><em class="text">特惠價 <strong class="highlight">1988</strong> 元</em></td>
												<td data-label="配送方式"><em class="text">宅配</em></td>
											</tr>
											<tr>
												<td data-label="商品">
													<div class="item-info b-text-left">
														<figure class="img-wrap b-inline b-hide-xs">
															<img src="../../content/img/account/order-items/02.png" alt="Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)">
															<figcaption class="desc b-hide-text">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</figcaption>
														</figure>
														<div class="item-text-info">
															<a href="../online-shopping/online-shopping-detail.html" class="b-link b-inline">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</a>
															<span class="note b-inline b-bold">活動 :限時24小時，指定商品結帳再85折</span>
														</div>
													</div>
												</td>
												<td data-label="贈品"><em class="text">精美化妝鏡<br>精美化妝包組</em></td>
												<td data-label="數量"><em class="text">1</em></td>
												<td data-label="價格"><em class="text">特惠價 <strong class="highlight">1988</strong> 元</em></td>
												<td data-label="配送方式"><em class="text">到店取貨<br>取貨地點：板橋大遠百-7樓服務台。<button class="b-link jQ-open-box">(檢視取貨條碼)</button></em></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="5" class="b-text-right">總計 NT$ 2,780</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">付款資訊</h3>
								<div class="table-wrap">
									<table class="m-table table-rotate">
										<thead>
											<tr>
												<td><em class="text b-bold">訂購日期時間</em></td>
												<td><em class="text b-bold">收件人電話</em></td>
												<td><em class="text b-bold">付款狀態</em></td>
												<td><em class="text b-bold">付款方式</em></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td data-label="訂購日期時間"><em class="text">2016/06/09 13:45</em></td>
												<td data-label="收件人電話"><em class="text">0988945945</em></td>
												<td data-label="付款狀態"><em class="text">刷卡成功</em></td>
												<td data-label="付款方式"><em class="text">信用卡線上刷卡</em></td>
											</tr>
										</tbody>
									</table>
									<table class="m-table table-rotate">
										<thead>
											<tr>
												<td><em class="text b-bold">發票資訊</em></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td data-label="發票資訊"><em class="text">二聯式電子發票 / 二聯式捐贈發票：5222 社團法人台灣愛兔協會</em></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">配送資訊</h3>
								<div class="table-wrap">
									<table class="m-table table-rotate">
										<thead>
											<tr>
												<td><em class="text b-bold">商品</em></td>
												<td><em class="text b-bold">贈品</em></td>
												<td><em class="text b-bold">配送資訊</em></td>
												<td><em class="text b-bold">商品配送</em></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td data-label="商品">
													<div class="item-info b-text-left">
														<figure class="img-wrap b-inline b-hide-xs">
															<img src="../../content/img/account/order-items/02.png" alt="Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)">
															<figcaption class="desc b-hide-text">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</figcaption>
														</figure>
														<div class="item-text-info">
															<a href="../online-shopping/online-shopping-detail.html" class="b-link b-inline">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</a>
															<span class="note b-inline b-bold">活動 :限時24小時，指定商品結帳再85折</span>
														</div>
													</div>
												</td>
												<td data-label="贈品"><em class="text">精美化妝鏡<br>精美化妝包組</em></td>
												<td data-label="配送資訊" class="b-text-left"><em class="text">收件人：蔡依琳<br>電話：市話  (日) 02- 82263668 分機123<br>(夜) 02- 82263668 <br>手機：0912345678<br>地址：新北市板橋區新站路20號16樓<br>配送特殊需求： 管理員代收</em></td>
												<td data-label="商品配送"><em class="text"><a href="javascript:;" class="b-link" target="_blank">黑貓3595002874</a></em></td>
											</tr>
											<tr>
												<td data-label="商品">
													<div class="item-info b-text-left">
														<figure class="img-wrap b-inline b-hide-xs">
															<img src="../../content/img/account/order-items/02.png" alt="Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)">
															<figcaption class="desc b-hide-text">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</figcaption>
														</figure>
														<div class="item-text-info">
															<a href="../online-shopping/online-shopping-detail.html" class="b-link b-inline">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</a>
															<span class="note b-inline b-bold">活動 :限時24小時，指定商品結帳再85折</span>
														</div>
													</div>
												</td>
												<td data-label="贈品"><em class="text">精美化妝鏡<br>精美化妝包組</em></td>
												<td data-label="配送資訊" class="b-text-left"><em class="text">收件人：蔡依琳<br>電話：市話  (日) 02- 82263668 分機123<br>(夜) 02- 82263668 <br>手機：0912345678<br>地址：新北市板橋區新站路20號16樓<br>配送特殊需求： 管理員代收</em></td>
												<td data-label="商品配送"><em class="text"><a href="javascript:;" class="b-link" target="_blank">新竹1181216886</a></em></td>
											</tr>
											<tr>
												<td data-label="商品">
													<div class="item-info b-text-left">
														<figure class="img-wrap b-inline b-hide-xs">
															<img src="../../content/img/account/order-items/02.png" alt="Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)">
															<figcaption class="desc b-hide-text">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</figcaption>
														</figure>
														<div class="item-text-info">
															<a href="../online-shopping/online-shopping-detail.html" class="b-link b-inline">Keeley Ann 大人系OL微金屬鞋頭全真皮軟墊尖頭高跟鞋(黑色)</a>
															<span class="note b-inline b-bold">活動 :限時24小時，指定商品結帳再85折</span>
														</div>
													</div>
												</td>
												<td data-label="贈品"><em class="text">精美化妝鏡<br>精美化妝包組</em></td>
												<td data-label="配送資訊" class="b-text-left"><em class="text">收件人：蔡依琳<br>電話：市話  (日) 02- 82263668 分機123<br>(夜) 02- 82263668 <br>手機：0912345678<br>地址：新北市板橋區新站路20號16樓<br>配送特殊需求： 管理員代收</em></td>
												<td data-label="商品配送"><em class="text">到店取貨<br>取貨地點：板橋大遠百-7樓服務台。<button class="b-link jQ-open-box">(檢視取貨條碼)</button></em></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">取消/退換貨</h3>
								<div class="info-text">
									<ul class="link-list">
										<li class="list"><a href="cancel-order.html" class="btn-link">取消訂單</a></li>
										<li class="list"><a href="replacement.html" class="btn-link">換貨</a></li>
										<li class="list"><a href="return.html" class="btn-link">退貨</a></li>
									</ul>
								</div>
							</div>
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">訂單處理狀態</h3>
								<div class="info-text deliver-info"><span class="text"><em class="highlight">備貨中...</em></span></div>
							</div>
							<div class="info-wrap has-bg b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<div class="info-text">
									<span class="text">注意事項</span>
									<ul class="notice-list">
										<li class="list">取消訂單：當訂單狀態進入「出貨進行中」後，即無法取消取消訂單。</li>
										<li class="list">換貨：訂單狀態到達「配送完成」，且 7天鑑賞期內才可換貨，7天過後就不可以換貨囉！</li>
										<li class="list">退貨：貨品配送完成後，才能進行退貨。當７天鑑賞期過後，即無法退貨。</li>
										<li class="list">若您還有其他關於商品的問題請<a href="../about/contact-us.html" class="b-link">聯絡我們</a>。</li>
									</ul>
								</div>
							</div>
							<div class="btn-wrap b-text-center b-col-dt-12 b-col-xs-12 b-float-left-dt b-clearfix">
								<a href="record.html" class="btn-link b-col-dt-3 b-col-xs-10">回交易查詢記錄</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
		<div class="l-lightbox">
			<div class="m-lightbox-content">
				<header class="m-lightbox-hd b-middle">
					<h3 class="lightbox-title b-inline b-bold b-text-center b-col-dt-12 b-col-xs-12">取貨條碼</h3>
					<button class="btn-close-box jQ-close-box">
						<em class="text b-hide-text">關閉</em>
					</button>
				</header>
				<div class="m-lightbox-bd b-text-center">
					<ul class="code-list">
						<li class="item-list qrcode">
							<h3 class="function-title b-bold b-text-left b-inline b-col-tm-3">QR Code</h3>
							<div class="code-info b-inline b-col-tm-9">
								<figure class="img-wrap b-inline">
									<img src="../../content/img/shared/members-code/qrcode.jpg" alt="">
								</figure>
							</div>
						</li>
						<li class="item-list">
							<h3 class="function-title b-bold b-text-left b-inline b-col-tm-3">手機條碼</h3>
							<div class="code-info b-inline b-col-tm-9">
								<em class="text b-block">此條碼可在<a href="javascript:;" class="b-link">指定商店</a>使用</em>
								<figure class="img-wrap barcode">
									<img src="../../content/img/shared/members-code/barcode.jpg" alt="">
								</figure>
							</div>
						</li>
					</ul>
				</div>
				<footer class="m-lightbox-ft"></footer>
			</div>
		</div>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>