<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/account.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body record show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="my-account.html" class="b-link">我的帳戶</a></li>
						<li class="list"><a href="record.html" class="b-link is-curr">交易紀錄查詢</a></li>
						<li class="list">
							<button class="b-link">點數/購物金</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="shopping-money.html" class="sub-link">購物金(線上抵用券)</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">購物金(實體抵用券)</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">HAPPY GO 點數</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="my-calendar.html" class="b-link">我的行事曆</a></li>
						<li class="list"><a href="favorite.html" class="b-link">我的最愛</a></li>
						<li class="list">
							<button class="b-link">帳戶相關設定</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="javascript:;" class="sub-link">修改會員資料</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">變更密碼</a></li>
									<li class="list"><a href="maintain.html" class="sub-link">配送地址維護</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">電子報訂閱 / 取消</a></li>
									<li class="list"><a href="setting.html" class="sub-link">快速登入設定</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">我的帳戶</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">交易紀錄查詢</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">我的</em>帳戶</span>
					<span class="sub-lang">my account</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<em class="main-msg b-block b-text-center">親愛的 蔡依琳 您好！<br class="b-hide-dt">這是您的帳戶與專屬優惠。</em>
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">交易紀錄查詢</h3>
								<div class="info-text">
									<span class="text">說明：</span>
									<ol class="order-list">
										<li class="list">請輸入您欲查詢的時間 (最多六個月內)</li>
										<li class="list">您查詢訂購商品明細清單如下，點選『訂單明細』，可查詢該筆訂單的詳細資料：</li>
										<li class="list">如果您的訂單有辦理換貨，下列明細中將包含各一筆退貨及換貨的訂單。</li>
									</ol>
								</div>
								<div class="b-col-dt-12 b-col-xs-12 b-middle">
									<div class="m-form b-col-dt-4 b-col-xs-12 b-middle b-text-right-dt b-text-center-xs">
										<span class="text">開始日期</span>
										<label class="m-lab b-col-dt-6">
											<div class="m-box-holder">
												<input type="text" class="m-inputbox jQ-datepicker" placeholder="" data-weeks="S,M,T,W,T,F,S" data-width="200">
											</div>
										</label>
										<i class="m-icon m-icon-calendar"></i>
									</div>
									<div class="m-form b-col-dt-4 b-col-xs-12 b-middle b-text-right-dt b-text-center-xs">
										<span class="text">結束日期</span>
										<label class="m-lab b-col-dt-6">
											<div class="m-box-holder">
												<input type="text" class="m-inputbox jQ-datepicker" placeholder="" data-weeks="S,M,T,W,T,F,S" data-width="200">
											</div>
										</label>
										<i class="m-icon m-icon-calendar"></i>
									</div>
									<div class="btn-wrap b-col-dt-4 b-col-xs-12 b-text-center">
										<a href="javascript:;" class="btn-link b-col-xs-10">開始查詢</a>
									</div>
								</div>
							</div>
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">查詢結果</h3>
								<div class="info-text"><span class="text">以下為您查詢的消費期間資料 <em class="highlight">2016/06/18 ~ 2016/07/19</em></span></div>
								<div class="m-tab main-tab">
									<ul class="m-tab-wrap b-middle">
										<li class="tab-list b-col-dt-6 b-col-xs-6">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 is-curr jQ-tab">線上購物</button>
										</li>
										<li class="tab-list b-col-dt-6 b-col-xs-6">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab">到店購物</button>
										</li>
									</ul>
									<ul class="m-tab-content">
										<li class="content-list is-curr">
											<table class="m-table table-rotate">
												<thead>
													<tr>
														<td><em class="text">訂單編號</em></td>
														<td><em class="text">訂購日期</em></td>
														<td><em class="text">配送方式</em></td>
														<td><em class="text">金額</em></td>
														<td><em class="text">訂單明細</em></td>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td data-label="訂單編號"><em class="text">54161207002620</em></td>
														<td data-label="訂購日期"><em class="text">2016/06/09 13:45</em></td>
														<td data-label="配送方式"><em class="text">到店取貨</em></td>
														<td data-label="金額"><em class="text">NT$2,780</em></td>
														<td data-label="訂單明細"><em class="text"><a href="order-detail.html" class="b-link">檢視</a></em></td>
													</tr>
													<tr>
														<td data-label="訂單編號"><em class="text">54161207002620</em></td>
														<td data-label="訂購日期"><em class="text">2016/06/09 13:45</em></td>
														<td data-label="配送方式"><em class="text">宅配</em></td>
														<td data-label="金額"><em class="text">NT$6,980</em></td>
														<td data-label="訂單明細"><em class="text"><a href="order-detail.html" class="b-link">檢視</a></em></td>
													</tr>
													<tr>
														<td data-label="訂單編號"><em class="text">54161207002620</em></td>
														<td data-label="訂購日期"><em class="text">2016/06/09 13:45</em></td>
														<td data-label="配送方式"><em class="text">到店取貨</em></td>
														<td data-label="金額"><em class="text">NT$6,980</em></td>
														<td data-label="訂單明細"><em class="text"><a href="order-detail.html" class="b-link">檢視</a></em></td>
													</tr>
													<tr>
														<td data-label="訂單編號"><em class="text">54161207002620</em></td>
														<td data-label="訂購日期"><em class="text">2016/06/09 13:45</em></td>
														<td data-label="配送方式"><em class="text">宅配</em></td>
														<td data-label="金額"><em class="text">NT$2,780</em></td>
														<td data-label="訂單明細"><em class="text"><a href="order-detail.html" class="b-link">檢視</a></em></td>
													</tr>
													<tr>
														<td data-label="訂單編號"><em class="text">54161207002620</em></td>
														<td data-label="訂購日期"><em class="text">2016/06/09 13:45</em></td>
														<td data-label="配送方式"><em class="text">到店取貨</em></td>
														<td data-label="金額"><em class="text">NT$2,780</em></td>
														<td data-label="訂單明細"><em class="text"><a href="order-detail.html" class="b-link">檢視</a></em></td>
													</tr>
													<tr>
														<td data-label="訂單編號"><em class="text">54161207002620</em></td>
														<td data-label="訂購日期"><em class="text">2016/06/09 13:45</em></td>
														<td data-label="配送方式"><em class="text">到店取貨</em></td>
														<td data-label="金額"><em class="text">NT$6,980</em></td>
														<td data-label="訂單明細"><em class="text"><a href="order-detail.html" class="b-link">檢視</a></em></td>
													</tr>
													<tr>
														<td data-label="訂單編號"><em class="text">54161207002620</em></td>
														<td data-label="訂購日期"><em class="text">2016/06/09 13:45</em></td>
														<td data-label="配送方式"><em class="text">到店取貨</em></td>
														<td data-label="金額"><em class="text">NT$2,780</em></td>
														<td data-label="訂單明細"><em class="text"><a href="order-detail.html" class="b-link">檢視</a></em></td>
													</tr>
													<tr>
														<td data-label="訂單編號"><em class="text">54161207002620</em></td>
														<td data-label="訂購日期"><em class="text">2016/06/09 13:45</em></td>
														<td data-label="配送方式"><em class="text">到店取貨</em></td>
														<td data-label="金額"><em class="text">NT$2,780</em></td>
														<td data-label="訂單明細"><em class="text"><a href="order-detail.html" class="b-link">檢視</a></em></td>
													</tr>
												</tbody>
											</table>
											<div class="m-pagination">
												<ul class="m-pagination-bd">
													<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-back"></a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button is-active">1</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">2</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">3</a></li>
													<li class="page-ctrl"><span class="text">4</span></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button">5</a></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-next"></a></li>
												</ul>
											</div>
											<div class="btn-wrap b-text-center b-col-xs-12">
												<a href="javascript:;" class="btn-link b-col-xs-10">回我的帳戶</a>
											</div>
										</li>
										<li class="content-list">
											<table class="m-table table-rotate">
												<thead>
													<tr>
														<td><em class="text">訂單編號</em></td>
														<td><em class="text">訂購日期</em></td>
														<td><em class="text">配送方式</em></td>
														<td><em class="text">金額</em></td>
														<td><em class="text">訂單明細</em></td>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td data-label="訂單編號"><em class="text">54161207002620</em></td>
														<td data-label="訂購日期"><em class="text">2016/06/09 13:45</em></td>
														<td data-label="配送方式"><em class="text">到店取貨</em></td>
														<td data-label="金額"><em class="text">NT$2,780</em></td>
														<td data-label="訂單明細"><em class="text"><a href="order-detail.html" class="b-link">檢視</a></em></td>
													</tr>
												</tbody>
											</table>
											<div class="m-pagination">
												<ul class="m-pagination-bd">
													<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-back"></a></li>
													<li class="page-ctrl"><span class="text">1</span></li>
													<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-next"></a></li>
												</ul>
											</div>
											<div class="btn-wrap b-text-center b-col-xs-12">
												<a href="javascript:;" class="btn-link b-col-xs-10">回我的帳戶</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<aside class="l-side">
				<div class="pagination">
					<ul class="cut-dot"></ul>
				</div>
				<div class="function-list">
					<button class="btn-side-menu jQ-side-menu b-hide-text is-active">side menu</button>
					<ul class="collapse-wrap">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-announcement"></i><em class="b-hide-text">即時公告</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-card"></i><em class="b-hide-text">卡友專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-gift"></i><em class="b-hide-text">贈獎專區</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-note"></i><em class="b-hide-text">活動報名</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-service"></i><em class="b-hide-text">智能客服</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-parking"></i><em class="b-hide-text">交通資訊</em></a></a></li>
					</ul>
				</div>
				<button class="btn-top jQ-top">TOP</button>
			</aside>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/sugarfun-datepicker/datepicker.min.js?JS=20160420_01"></script>
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>