<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/account.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body replacement show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="my-account.html" class="b-link">我的帳戶</a></li>
						<li class="list"><a href="record.html" class="b-link is-curr">交易紀錄查詢</a></li>
						<li class="list">
							<button class="b-link">點數/購物金</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="shopping-money.html" class="sub-link">購物金</a></li>
									<li class="list"><a href="coupons.html" class="sub-link">折價券</a></li>
									<li class="list"><a href="happy-go.html" class="sub-link">HAPPY GO 點數</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="my-calendar.html" class="b-link">我的行事曆</a></li>
						<li class="list"><a href="my-card.html" class="b-link">我的遠百卡</a></li>
						<li class="list"><a href="favorite.html" class="b-link">我的最愛</a></li>
						<li class="list">
							<button class="b-link">帳戶相關設定</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="../member/edit.html" class="sub-link">修改會員資料</a></li>
									<li class="list"><a href="../member/change-password.html" class="sub-link">變更密碼</a></li>
									<li class="list"><a href="maintain.html" class="sub-link">配送地址維護</a></li>
									<li class="list"><a href="epaper.html" class="sub-link">電子報訂閱 / 取消</a></li>
									<li class="list"><a href="setting.html" class="sub-link">快速登入設定</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="my-account.html" class="b-link"><em class="text">我的帳戶</em></a></li>
						<li class="list"><a href="record.html" class="b-link"><em class="text">交易紀錄查詢</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">我的</em>帳戶</span>
					<span class="sub-lang">my account</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<em class="main-msg b-block b-text-center">親愛的 蔡依琳 您好！<br class="b-hide-dt">這是您的帳戶與專屬優惠。</em>
						<div class="main-content b-float-right-md b-clearfix">
							<h3 class="sub-title">換貨</h3>
							<div class="info-wrap has-bg b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<div class="info-text">
									<span class="text">您現在要換貨 XXXXXX（訂單編號項次)，換貨只能同商品的換貨！敬請您告訴我們換貨的原因，以方便我們改進服務，謝謝。</span>
								</div>
								<div class="info-text">
									<div class="btn-wrap b-text-center">
										<a href="record.html" class="btn-link b-col-dt-2 b-col-xs-5">取消</a>
										<a href="javascript:;" class="btn-link b-col-dt-2 b-col-xs-5">送出</a>
									</div>
								</div>
							</div>
							<div class="btn-wrap b-text-center b-col-dt-12 b-col-xs-12 b-float-left-dt b-clearfix">
								<a href="record.html" class="btn-link b-col-dt-3 b-col-xs-10">回交易查詢記錄</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>