<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/account.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body shopping-money show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="javascript:;" class="b-link">我的帳戶</a></li>
						<li class="list"><a href="javascript:;" class="b-link">交易紀錄查詢</a></li>
						<li class="list">
							<button class="b-link is-curr">點數/購物金</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="javascript:;" class="sub-link is-curr">購物金(線上抵用券)</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">購物金(實體抵用券)</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">HAPPY GO 點數</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="javascript:;" class="b-link">我的行事曆</a></li>
						<li class="list"><a href="javascript:;" class="b-link">我的最愛</a></li>
						<li class="list">
							<button class="b-link">帳戶相關設定</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="javascript:;" class="sub-link">修改會員資料</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">變更密碼</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">配送地址維護</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">電子報訂閱 / 取消</a></li>
									<li class="list"><a href="javascript:;" class="sub-link">快速登入設定</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">我的帳戶</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">交易紀錄查詢</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">我的</em>帳戶</span>
					<span class="sub-lang">my account</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<em class="main-msg b-block b-text-center">親愛的 蔡依琳 您好！<br class="b-hide-dt">這是您的帳戶與專屬優惠。</em>
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">查詢結果</h3>
								<div class="info-text"><span class="text">您的折價券記錄如下：</span></div>
								<div class="m-tab main-tab">
									<ul class="m-tab-wrap b-middle">
										<li class="tab-list b-col-dt-3 b-col-xs-3">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 is-curr jQ-tab">已生效 (<em class="highlight">10</em>)</button>
										</li>
										<li class="tab-list b-col-dt-3 b-col-xs-3">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab">待生效 (<em class="highlight">5</em>)</button>
										</li>
										<li class="tab-list b-col-dt-3 b-col-xs-3">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab">已到期 (<em class="highlight">4</em>)</button>
										</li>
										<li class="tab-list b-col-dt-3 b-col-xs-3">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab">已使用 (<em class="highlight">3</em>)</button>
										</li>
									</ul>
									<ul class="m-tab-content">
										<li class="content-list is-curr">
											<table class="m-table table-rotate">
												<thead>
													<tr>
														<td><em class="text">面額</em></td>
														<td><em class="text">券號</em></td>
														<td><em class="text">類別</em></td>
														<td><em class="text">適用類別</em></td>
														<td><em class="text">生效日期</em></td>
														<td><em class="text">到期日期</em></td>
													</tr>
												</thead>
												<tbody>
													<tr class="expired">
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr class="expired">
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr class="expired">
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
												</tbody>
											</table>
											<div class="info-text">
												<span class="text">注意事項</span>
												<ul class="notice-list">
													<li class="list">目前可用點數：目前累積可以使用的購物金點數</li>
													<li class="list">目前待生效點數：目前累積的待生效購物金點數，待取貨後21天將轉為已生效點數（將扣除失效點數）</li>
													<li class="list">購物金狀態說明<br>1-來源：為您獲得購物金的原因<br>2-待生效：尚不可使用的購物金</li>
													<li class="list">購物金(抵用券)請於有效日期前使用完畢，逾期將無法使用或申請補發。</li>
													<li class="list">購物金(抵用券)一經使用，若辦理取消訂單或退貨，該次消費使用之購物金(抵用券)將無法退回。</li>
													<li class="list">購物金(抵用券)有指定之「適用館別」，請於指定的館別使用。</li>
													<li class="list">一次交易限抵用一張購物金(抵用券)，購物金(抵用券)可使用的訂單最低金額，將視您所參加的活動辦法而有所不同，詳細請見列表中「說明」欄位。</li>
													<li class="list">逾期且未使用之購物金(抵用券)保留時間為七天。</li>
												</ul>
											</div>
											<div class="btn-wrap b-text-center b-col-xs-12">
												<a href="javascript:;" class="btn-link b-col-xs-10">回我的帳戶</a>
											</div>
										</li>
										<li class="content-list">
											<div class="info-text">
												<span class="text">注意事項</span>
												<ul class="notice-list">
													<li class="list">目前可用點數：目前累積可以使用的購物金點數</li>
													<li class="list">目前待生效點數：目前累積的待生效購物金點數，待取貨後21天將轉為已生效點數（將扣除失效點數）</li>
													<li class="list">購物金狀態說明<br>1-來源：為您獲得購物金的原因<br>2-待生效：尚不可使用的購物金</li>
													<li class="list">購物金(抵用券)請於有效日期前使用完畢，逾期將無法使用或申請補發。</li>
													<li class="list">購物金(抵用券)一經使用，若辦理取消訂單或退貨，該次消費使用之購物金(抵用券)將無法退回。</li>
													<li class="list">購物金(抵用券)有指定之「適用館別」，請於指定的館別使用。</li>
													<li class="list">一次交易限抵用一張購物金(抵用券)，購物金(抵用券)可使用的訂單最低金額，將視您所參加的活動辦法而有所不同，詳細請見列表中「說明」欄位。</li>
													<li class="list">逾期且未使用之購物金(抵用券)保留時間為七天。</li>
												</ul>
											</div>
											<div class="btn-wrap b-text-center b-col-xs-12">
												<a href="javascript:;" class="btn-link b-col-xs-10">回我的帳戶</a>
											</div>
										</li>
										<li class="content-list">
											<table class="m-table table-rotate">
												<thead>
													<tr>
														<td><em class="text">面額</em></td>
														<td><em class="text">券號</em></td>
														<td><em class="text">類別</em></td>
														<td><em class="text">適用類別</em></td>
														<td><em class="text">生效日期</em></td>
														<td><em class="text">到期日期</em></td>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
													<tr>
														<td data-label="面額"><em class="text">1888</em></td>
														<td data-label="券號"><em class="text">S10475201773</em></td>
														<td data-label="類別"><em class="text">2016/12/05  新會員加入送購物金</em></td>
														<td data-label="適用類別"><em class="text">美妝保養</em></td>
														<td data-label="生效日期"><em class="text">2016/12/01</em></td>
														<td data-label="到期日期"><em class="text">2016/12/31</em></td>
													</tr>
												</tbody>
											</table>
										</li>
										<li class="content-list">
											<div class="btn-wrap b-text-center b-col-xs-12">
												<a href="javascript:;" class="btn-link b-col-xs-10">回我的帳戶</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<aside class="l-side">
				<div class="pagination">
					<ul class="cut-dot"></ul>
				</div>
				<div class="function-list">
					<button class="btn-side-menu jQ-side-menu b-hide-text is-active">side menu</button>
					<ul class="collapse-wrap">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-announcement"></i><em class="b-hide-text">即時公告</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-card"></i><em class="b-hide-text">卡友專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-gift"></i><em class="b-hide-text">贈獎專區</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-note"></i><em class="b-hide-text">活動報名</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-service"></i><em class="b-hide-text">智能客服</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-parking"></i><em class="b-hide-text">交通資訊</em></a></a></li>
					</ul>
				</div>
				<button class="btn-top jQ-top">TOP</button>
			</aside>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/sugarfun-datepicker/datepicker.min.js?JS=20160420_01"></script>
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>