<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/card.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body card-index show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="card-index.html" class="b-link">HAPPY GO</a></li>
						<li class="list"><a href="card-index-feds.html" class="b-link">遠百會員卡</a></li>
						<li class="list"><a href="javascript:;" class="b-link is-curr">信用卡優惠</a></li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">卡友專區</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">卡友</em>專區</span>
					<span class="sub-lang">Member</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<div class="title-wrap">
									<h3 class="sub-title b-inline">信用卡優惠</h3>
									<div class="m-box-holder b-inline is-selector b-col-xs-12">
										<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
											<option value="花旗銀行">花旗銀行</option>
											<option value="遠東商銀">遠東商銀</option>
											<option value="永豐銀行">永豐銀行</option>
											<option value="匯豐銀行">匯豐銀行</option>
											<option selected="selected" value="所有信用卡優惠">所有信用卡優惠</option>
										</select>
									</div>
								</div>
								<div class="listing-wrap">
									<ul class="coupon-list">
										<li class="item-list">
											<a href="card-detail.html" class="b-link">
												<div class="item-pic">
													<figure class="img-wrap">
														<img src="../../content/img/card/listing/01.jpg" alt="春季微旅行 送你去度假">
													</figure>
												</div>
												<div class="item-text-info">
													<h3 class="sub-title">
														<em class="text">春季微旅行 送你去度假</em>
														<div class="item-period">
															<time datetime="2017/01/12">2017/1/12</time> ~ <time datetime="2017/02/12">2017/2/12</time>
														</div>
													</h3>
													<p class="desc">活動期間，憑當日於全館不限金額銷貨明細表及HAPPYＧＯ卡至贈品處扣會員點數10點可參加抽獎乙次，扣20點可參加2次，依此類推，無最高上限次數。就有機會獲得台北北投雅樂軒酒店…</p>
												</div>
											</a>
										</li>
										<li class="item-list">
											<a href="card-detail.html" class="b-link">
												<div class="item-pic">
													<figure class="img-wrap">
														<img src="../../content/img/card/listing/02.jpg" alt="保暖家電推薦">
													</figure>
												</div>
												<div class="item-text-info">
													<h3 class="sub-title">
														<em class="text">保暖家電推薦</em>
														<div class="item-period">
															<time datetime="2017/01/12">2017/1/12</time> ~ <time datetime="2017/02/12">2017/2/12</time>
														</div>
													</h3>
													<p class="desc">氣溫明顯驟降，暖呼呼的保暖家電已經準備好陪大家過冬天囉。 無論電毯、電暖器或是電暖爐，冬日必備小家電暖心推薦。TOYOTOMI 油電煤油爐 #LC-L43C-TW 原價 24,800/台…</p>
												</div>
											</a>
										</li>
										<li class="item-list">
											<a href="card-detail.html" class="b-link">
												<div class="item-pic">
													<figure class="img-wrap">
														<img src="../../content/img/card/listing/03.jpg" alt="卡友獨享禮">
													</figure>
												</div>
												<div class="item-text-info">
													<h3 class="sub-title">
														<em class="text">卡友獨享禮</em>
														<div class="item-period">
															<time datetime="2017/01/12">2017/1/12</time> ~ <time datetime="2017/02/12">2017/2/12</time>
														</div>
													</h3>
													<p class="desc">活動期間，持HAPPYＧＯ當日於全館過卡累計消費達指定門檻，即可憑HAPPYＧＯ+銷貨明細表至7F贈品處兌換指定好禮乙份</p>
												</div>
											</a>
										</li>
										<li class="item-list">
											<a href="card-detail.html" class="b-link">
												<div class="item-pic">
													<figure class="img-wrap">
														<img src="../../content/img/card/listing/01.jpg" alt="春季微旅行 送你去度假">
													</figure>
												</div>
												<div class="item-text-info">
													<h3 class="sub-title">
														<em class="text">春季微旅行 送你去度假</em>
														<div class="item-period">
															<time datetime="2017/01/12">2017/1/12</time> ~ <time datetime="2017/02/12">2017/2/12</time>
														</div>
													</h3>
													<p class="desc">活動期間，憑當日於全館不限金額銷貨明細表及HAPPYＧＯ卡至贈品處扣會員點數10點可參加抽獎乙次，扣20點可參加2次，依此類推，無最高上限次數。就有機會獲得台北北投雅樂軒酒店…</p>
												</div>
											</a>
										</li>
										<li class="item-list">
											<a href="card-detail.html" class="b-link">
												<div class="item-pic">
													<figure class="img-wrap">
														<img src="../../content/img/card/listing/02.jpg" alt="保暖家電推薦">
													</figure>
												</div>
												<div class="item-text-info">
													<h3 class="sub-title">
														<em class="text">保暖家電推薦</em>
														<div class="item-period">
															<time datetime="2017/01/12">2017/1/12</time> ~ <time datetime="2017/02/12">2017/2/12</time>
														</div>
													</h3>
													<p class="desc">氣溫明顯驟降，暖呼呼的保暖家電已經準備好陪大家過冬天囉。 無論電毯、電暖器或是電暖爐，冬日必備小家電暖心推薦。TOYOTOMI 油電煤油爐 #LC-L43C-TW 原價 24,800/台…</p>
												</div>
											</a>
										</li>
										<li class="item-list">
											<a href="card-detail.html" class="b-link">
												<div class="item-pic">
													<figure class="img-wrap">
														<img src="../../content/img/card/listing/03.jpg" alt="卡友獨享禮">
													</figure>
												</div>
												<div class="item-text-info">
													<h3 class="sub-title">
														<em class="text">卡友獨享禮</em>
														<div class="item-period">
															<time datetime="2017/01/12">2017/1/12</time> ~ <time datetime="2017/02/12">2017/2/12</time>
														</div>
													</h3>
													<p class="desc">活動期間，持HAPPYＧＯ當日於全館過卡累計消費達指定門檻，即可憑HAPPYＧＯ+銷貨明細表至7F贈品處兌換指定好禮乙份</p>
												</div>
											</a>
										</li>
										<li class="item-list">
											<a href="card-detail.html" class="b-link">
												<div class="item-pic">
													<figure class="img-wrap">
														<img src="../../content/img/card/listing/01.jpg" alt="春季微旅行 送你去度假">
													</figure>
												</div>
												<div class="item-text-info">
													<h3 class="sub-title">
														<em class="text">春季微旅行 送你去度假</em>
														<div class="item-period">
															<time datetime="2017/01/12">2017/1/12</time> ~ <time datetime="2017/02/12">2017/2/12</time>
														</div>
													</h3>
													<p class="desc">活動期間，憑當日於全館不限金額銷貨明細表及HAPPYＧＯ卡至贈品處扣會員點數10點可參加抽獎乙次，扣20點可參加2次，依此類推，無最高上限次數。就有機會獲得台北北投雅樂軒酒店…</p>
												</div>
											</a>
										</li>
										<li class="item-list">
											<a href="card-detail.html" class="b-link">
												<div class="item-pic">
													<figure class="img-wrap">
														<img src="../../content/img/card/listing/02.jpg" alt="保暖家電推薦">
													</figure>
												</div>
												<div class="item-text-info">
													<h3 class="sub-title">
														<em class="text">保暖家電推薦</em>
														<div class="item-period">
															<time datetime="2017/01/12">2017/1/12</time> ~ <time datetime="2017/02/12">2017/2/12</time>
														</div>
													</h3>
													<p class="desc">氣溫明顯驟降，暖呼呼的保暖家電已經準備好陪大家過冬天囉。 無論電毯、電暖器或是電暖爐，冬日必備小家電暖心推薦。TOYOTOMI 油電煤油爐 #LC-L43C-TW 原價 24,800/台…</p>
												</div>
											</a>
										</li>
										<li class="item-list">
											<a href="card-detail.html" class="b-link">
												<div class="item-pic">
													<figure class="img-wrap">
														<img src="../../content/img/card/listing/03.jpg" alt="卡友獨享禮">
													</figure>
												</div>
												<div class="item-text-info">
													<h3 class="sub-title">
														<em class="text">卡友獨享禮</em>
														<div class="item-period">
															<time datetime="2017/01/12">2017/1/12</time> ~ <time datetime="2017/02/12">2017/2/12</time>
														</div>
													</h3>
													<p class="desc">活動期間，持HAPPYＧＯ當日於全館過卡累計消費達指定門檻，即可憑HAPPYＧＯ+銷貨明細表至7F贈品處兌換指定好禮乙份</p>
												</div>
											</a>
										</li>
										<li class="item-list">
											<a href="card-detail.html" class="b-link">
												<div class="item-pic">
													<figure class="img-wrap">
														<img src="../../content/img/card/listing/01.jpg" alt="春季微旅行 送你去度假">
													</figure>
												</div>
												<div class="item-text-info">
													<h3 class="sub-title">
														<em class="text">春季微旅行 送你去度假</em>
														<div class="item-period">
															<time datetime="2017/01/12">2017/1/12</time> ~ <time datetime="2017/02/12">2017/2/12</time>
														</div>
													</h3>
													<p class="desc">活動期間，憑當日於全館不限金額銷貨明細表及HAPPYＧＯ卡至贈品處扣會員點數10點可參加抽獎乙次，扣20點可參加2次，依此類推，無最高上限次數。就有機會獲得台北北投雅樂軒酒店…</p>
												</div>
											</a>
										</li>
									</ul>
									<div class="m-pagination">
										<ul class="m-pagination-bd">
											<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-back"></a></li>
											<li class="page-ctrl"><span class="text is-active">1</span></li>
											<li class="page-ctrl"><a href="javascript:;" class="m-button">2</a></li>
											<li class="page-ctrl"><a href="javascript:;" class="m-button">3</a></li>
											<li class="page-ctrl"><a href="javascript:;" class="m-button">4</a></li>
											<li class="page-ctrl"><a href="javascript:;" class="m-button">5</a></li>
											<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-next"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/sugarfun-datepicker/datepicker.min.js?JS=20160420_01"></script>
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>