<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/card.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body card-detail show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="card-index.html" class="b-link is-curr">HAPPY GO</a></li>
						<li class="list"><a href="card-index-feds.html" class="b-link">遠百會員卡</a></li>
						<li class="list"><a href="card-index-credit.html" class="b-link">信用卡優惠</a></li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">卡友專區</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">卡友</em>專區</span>
					<span class="sub-lang">Member</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">HAPPY GO</h3>
								<div class="m-tab main-tab">
									<ul class="m-tab-wrap b-middle">
										<li class="tab-list b-col-dt-6 b-col-xs-6">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab latest is-curr">最新活動</button>
										</li>
										<li class="tab-list b-col-dt-6 b-col-xs-6">
											<a href="../account/happy-go.html" class="btn-tab b-col-dt-12 b-col-xs-12 search b-block">點數查詢</a>
										</li>
									</ul>
									<ul class="m-tab-content">
										<li class="content-list is-curr">
											<div class="editor-area b-normalize">
												<img src="../../content/img/card/detail/01.jpg" alt="">
												<h2 style="font-size: 30px; line-height: 1.5em; letter-spacing: 1px; font-weight: bold; margin-bottom: 0;">春季微旅行 送你去度假</h2>
												<em style="color: #a0a0a0; font-size: 18px; font-weight: bold; font-style: normal;">2/24(五)-3/19(日)</em>
												<p style="color: #1b1b1b; font-size: 14px; line-height: 1.5em;">活動期間，憑當日於全館不限金額銷貨明細表及HAPPYＧＯ卡至贈品處扣會員點數10點可參加抽獎乙次，扣20點可參加2次，依此類推，無最高上限次數。就有機會獲得台北北投雅樂軒酒店高級住宿券、餐飲抵用券等多項好禮．</p><br>
												<p style="color: #1b1b1b; font-size: 14px; line-height: 1.5em;"><b style="font-size: 16px;">獎項內容：</b><br>台北北投樂雅軒酒店雙人住宿券(房型-快活樂窩)，價值11,550元  限量5名<br>台北北投樂雅軒酒店Nook聚聚樂餐飲600元抵用券  限量10名</p>
												<img src="../../content/img/card/detail/02.jpg" alt=""><br><br><br>
												<div class="precautions">
													<p class="b-desc b-bold">注意事項：</p>
													<ol class="order-list">
														<li class="list">活動期間不限參加次數，離開贈品處後若要再參加抽獎，需憑新消費之銷貨明細表方可再次扣點兌換。</li>
														<li class="list">銷貨明細表上需出示卡號方可參加扣點抽獎活動，當天扣點，僅限參加當日之抽獎活動，不得跨日抽獎。</li>
														<li class="list">台北北投雅樂軒酒店住宿券及餐飲抵用券(面額600元)，使用期限至2017.07.31止，逾期恕不受理，國定假日恕無法使用且不得與其他優惠合併使用，其他限制請詳見券上說明。</li>
													</ol>
												</div>
											</div>
											<div class="link-wrap">
												<a href="javascript:;" class="b-link b-middle b-col-dt-4 b-col-xs-4 b-text-left b-float-left"><i class="m-icon m-icon-long-arrow-left"></i><em class="text b-hide-xs">上一則</em></a>
												<a href="card-index.html" class="btn-return b-link b-middle b-col-dt-4 b-col-xs-4 b-text-center"><i class="m-icon m-icon-return"></i><em class="text b-hide-xs">回活動列表</em></a>
												<a href="javascript:;" class="b-link b-middle b-col-dt-4 b-col-xs-4 b-text-right b-float-right"><em class="text b-hide-xs">下一則</em><i class="m-icon m-icon-long-arrow-right"></i></a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/sugarfun-datepicker/datepicker.min.js?JS=20160420_01"></script>
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>