<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/card.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body card-detail show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list"><a href="card-index.html" class="b-link">HAPPY GO</a></li>
						<li class="list"><a href="javascript:;" class="b-link is-curr">遠百會員卡</a></li>
						<li class="list"><a href="card-index-credit.html" class="b-link">信用卡優惠</a></li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">卡友專區</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">卡友</em>專區</span>
					<span class="sub-lang">Member</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12 b-float-left-dt">
								<h3 class="sub-title">遠百會員卡</h3>
								<div class="m-tab main-tab">
									<ul class="m-tab-wrap b-middle b-text-left">
										<li class="tab-list b-col-dt-4 b-col-xs-4">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab latest is-curr">最新活動</button>
										</li>
										<li class="tab-list b-col-dt-4 b-col-xs-4">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab application">申請辦法</button>
										</li>
										<li class="tab-list b-col-dt-4 b-col-xs-4">
											<button class="btn-tab b-col-dt-12 b-col-xs-12 jQ-tab rights">卡友權益</button>
										</li>
									</ul>
									<ul class="m-tab-content">
										<li class="content-list is-curr">
											<div class="editor-area b-normalize">
												<img src="../../content/img/card/detail/01.jpg" alt="">
												<h2 style="font-size: 30px; line-height: 1.5em; letter-spacing: 1px; font-weight: bold; margin-bottom: 0;">春季微旅行 送你去度假</h2>
												<em style="color: #a0a0a0; font-size: 18px; font-weight: bold; font-style: normal;">2/24(五)-3/19(日)</em>
												<p style="color: #1b1b1b; font-size: 14px; line-height: 1.5em;">活動期間，憑當日於全館不限金額銷貨明細表及HAPPYＧＯ卡至贈品處扣會員點數10點可參加抽獎乙次，扣20點可參加2次，依此類推，無最高上限次數。就有機會獲得台北北投雅樂軒酒店高級住宿券、餐飲抵用券等多項好禮．</p><br>
												<p style="color: #1b1b1b; font-size: 14px; line-height: 1.5em;"><b style="font-size: 16px;">獎項內容：</b><br>台北北投樂雅軒酒店雙人住宿券(房型-快活樂窩)，價值11,550元  限量5名<br>台北北投樂雅軒酒店Nook聚聚樂餐飲600元抵用券  限量10名</p>
												<img src="../../content/img/card/detail/02.jpg" alt=""><br><br><br>
												<div class="precautions">
													<p class="b-desc b-bold">注意事項：</p>
													<ol class="order-list">
														<li class="list">活動期間不限參加次數，離開贈品處後若要再參加抽獎，需憑新消費之銷貨明細表方可再次扣點兌換。</li>
														<li class="list">銷貨明細表上需出示卡號方可參加扣點抽獎活動，當天扣點，僅限參加當日之抽獎活動，不得跨日抽獎。</li>
														<li class="list">台北北投雅樂軒酒店住宿券及餐飲抵用券(面額600元)，使用期限至2017.07.31止，逾期恕不受理，國定假日恕無法使用且不得與其他優惠合併使用，其他限制請詳見券上說明。</li>
													</ol>
												</div>
											</div>
											<div class="link-wrap">
												<a href="javascript:;" class="b-link b-middle"><i class="m-icon m-icon-long-arrow-left"></i><em class="text b-hide-xs">上一則</em></a>
												<a href="card-index.html" class="b-link b-middle"><i class="m-icon m-icon-return"></i><em class="text b-hide-xs">回活動列表</em></a>
												<a href="javascript:;" class="b-link b-middle"><em class="text b-hide-xs">下一則</em><i class="m-icon m-icon-long-arrow-right"></i></a>
											</div>
										</li>
										<li class="content-list">
											<div class="editor-area b-normalize">
												<img src="../../content/img/card/detail/04.jpg" alt="門市申辦">
												<h2 style="font-size: 30px; line-height: 1.5em; letter-spacing: 1px; font-weight: bold; margin-bottom: 0;">門市申辦</h2>
												<p style="color: #1b1b1b; font-size: 14px; line-height: 1.5em;">為保障持卡人權益，請攜帶本人身份證或駕照（外籍人士攜帶居留證或統一證號基資表或健保卡），親自前往全台快樂購聯合集點卡特約辦卡地點之指定櫃檯，填寫、簽名並繳回申請書後，立即可取得快樂購聯合集點卡，馬上享受購物折扣優惠及累積點數之回饋。</p>
												<p style="color: #1b1b1b; font-size: 14px; line-height: 1.5em;">您可以直接點選下方各特約商店，查詢全台超過3,000個申辦地點的地址，快加入快樂購聯合集點卡的行列吧!!</p><br>
												<h2 style="font-size: 30px; line-height: 1.5em; letter-spacing: 1px; font-weight: bold; margin-bottom: 0;">全台可申辦處</h2>
												<p style="color: #1b1b1b; font-size: 14px; line-height: 1.5em;">快樂購聯合集點卡擁有全台約400多個申辦地點：</p>
												<img src="../../content/img/card/detail/03.jpg" alt="全台可申辦處">
											</div>
										</li>
										<li class="content-list">
											<div class="editor-area b-normalize">
												<h2 style="font-size: 30px; line-height: 1.5em; letter-spacing: 1px; font-weight: bold; margin-bottom: 0;">遠百會員卡友權益需知</h2>
												<ol style="color: #1b1b1b; font-size: 14px; line-height: 1.5em;">
													<li>加入快樂購聯合集點卡且取得快樂購聯合集點卡實體卡或虛擬卡(以下簡稱本卡)可享有鼎鼎聯合行銷(股)公司(以下簡稱鼎鼎)、各合作特約商(特約商名單將會不定期於快樂購卡網站更新並公告，詳見快樂購卡網站www.happygocard.com.tw，以下同)贈送申請人之快樂購卡點數(以下簡稱點數)，以累積點數兌換鼎鼎或各合作特約商提供之優惠或贈品，亦可享有鼎鼎暨各合作特約商提供鼎鼎、各合作特約商、各合作夥伴之行銷優惠等服務。<br><br></li>
													<li>申請人須於快樂購聯合集點卡【申請書】或快樂購卡網站及特約商網站線上填寫基本個人資料向鼎鼎提出申請，經鼎鼎或指定合作特約商完成相關實體卡或虛擬卡發卡作業後成為快樂購卡友（以下簡稱卡友）並取得本卡。為確保個人權益，申請人應填寫本人正確資料，若有變動並請盡速更新，藉以維持系統紀錄資料之正確性。申請人需出示或提供相關身分證件以供驗證且不得冒用別人的身分進行申請，否則需自負相關民刑事法律責任。除鼎鼎系統已留存卡友先前資料且無更新必要以外，鼎鼎將以本次申請書所記載為記錄依據。鼎鼎將以系統紀錄之地址、行動電話或電子郵件、帳號等資料，不定期發送訊息、電子郵件，進行卡友累兌點活動及優惠資訊，為確保您的權益，請務必提供並維持資料正確性。如果您為既有快樂購卡友，本次未完整填寫之個人基本資料欄位，鼎鼎將以您之前留存之個人基本資料為記錄依據。卡友得自由選擇提供個人資料，惟若其提供之資料不足或有誤時，鼎鼎除將無法提供完整之服務外，亦將可能以逕行停卡或無法成為本卡卡友之方式處理。<br><br></li>
													<li>鼎鼎、鼎鼎委外服務廠商得於快樂購聯合集點卡營運期間，於快樂購聯合集點卡營運地區範圍內，於「○四○ 行銷業務（包含金控共同行銷業務）」、「○五二 法人或團體對股東、會員(含股東、會員指派之代表)、董事、監察人、理事、監事或其他成員名冊之內部管理」、「○六三 非公務機關依法定義務所進行個人資料之蒐集處理及利用」、「○六九 契約、類似契約或其他法律關係事務」、「○七七 訂位、住宿登記與購票業務」、「○八一 個人資料之合法交易業務」、「○九○ 消費者、客戶管理與服務」、「一二七 募款（包含公益勸募）」、「一三六 資（通）訊資料庫管理」、「一四八 網路購物及其他電子商務服務」、「一五二 廣告和商業行為管理」、「一五七 調查、統計與研究分析」、「一七九 其他財政服務」、「一八一 其他經營合於營業登記項目或組織章程所定之業務」、「一八二 其他諮詢與顧問服務」等合理關連之特定目的範圍內, 以統計分析、交叉比對、簡訊、活動及商品訊息推播、郵件、電子郵件、問卷、電話行銷、電話服務、抽獎等方式蒐集、國際傳輸、處理及利用包含但不限於卡友姓名、身分證字號、電話、地址、生日等基本資料及卡友之消費時間、消費明細、店點、發票號碼、卡號、快樂購卡點數及、網頁瀏覽紀錄、位址資訊或其他社會活動等生活消費相關資料，俾得履行契約義務並提供卡友各項優惠措施及行銷活動訊息，但卡友如表示不同意或要求停止對其提供前述服務時，鼎鼎、鼎鼎委外服務廠商將立即停止，且卡友之權益不會受到影響。鼎鼎得將卡友之個人資料提供予各合作廠商或特約商，作為其於前開特定目的內辦理累兌點作業、點數餘額通知、統計調查分析、交叉比對、行銷與其他服務使用，惟鼎鼎將僅於必要範圍內 提供資料，且將對卡友資料為適當之個資保護。如鼎鼎擬將卡友個人資料提供予特定合作特約商進行電話行銷時，將取得卡友以簡訊、網路問卷、電話或其他方式回 覆同意後，始將卡友姓名、稱謂及聯絡方式提供予該合作特約商進行電話行銷，俾以於提供卡友各項優惠措施及行銷活動訊息範圍內使用。<br><br></li>
													<li>為配合財政部電子發票作業，卡友使用本卡作為電子發票載具時，表示卡友同意使用本卡作為電子發票之載具，營業人得將卡友之卡號、電子發票號碼、消費時間、 消費明細、店點等發票資料，自行上傳至財政部電子發票整合服務平台，或委託鼎鼎上傳前揭資料，以求符合營業人開立發票之義務並提供卡友線上查詢發票資訊及 對獎服務。卡友並同意鼎鼎得於前述營業人委託範圍內，以最近一次系統登錄卡友基本資料之聯絡資訊，作為卡友中獎訊息之通知方式。<br><br></li>
													<li>卡友以簡訊、電話、網頁等方式表示同意以點數換算現金捐贈款項予鼎鼎合作團體時，鼎鼎將於交付款項予合作團體之同時，一併將同意捐贈卡友之姓名、地址、捐 贈點數、換算金額提供予受捐贈之合作團體作為開立、寄發收據之用；鼎鼎均僅與政府合法立案之團體合作點數換現金捐款活動。如卡友就該次點數換現金捐款活動 明示無需開立收據或卡友捐贈點數依該次活動所揭示辦法無需開立收據者，鼎鼎將不提供卡友地址予該次受捐贈之合作團體；如卡友就該次點數換現金捐款活動明示匿名捐贈者，鼎鼎將不提供卡友姓名及地址予該次受捐贈之合作團體。<br><br></li>
													<li>卡友就其個人資料得向鼎鼎請求答覆查詢、提供閱覽、製給複製本，或請求補充更正、請求停止蒐集、處理、利用及刪除等權利。卡友行使前揭權利時，須由本人向鼎鼎服務中心申請，鼎鼎將於確認卡友身分及請求內容 後依作業程序規定辦理。 卡友行使上述答覆查詢、提供閱覽、製給複製本權利時，鼎鼎將酌收必要成本費用。<br><br></li>
													<li>卡友申請本卡後，於快樂購卡網站 <a href="http://www.happygocard.com.tw輸入經驗證之手機門號及密碼後即可使用快樂購卡網站提供之功能。相關使用約定條款詳見快樂購網站公告。" title="www.happygocard.com.tw">www.happygocard.com.tw</a>輸入經驗證之手機門號及密碼後即可使用快樂購卡網站提供之功能。相關使用約定條款詳見快樂購網站公告。<br><a href="http://www.happygocard.com.tw輸入經驗證之手機門號及密碼後即可使用快樂購卡網站提供之功能。相關使用約定條款詳見快樂購網站公告。"><br></a></li>
													<li>卡友於行使卡友所屬權利時，應出示本卡，必要時鼎鼎或各合作特約商得要求出示卡友本人身分證等身分證明文件，以確認權益歸屬。<br><br></li>
													<li>卡友於申請書提供之基本資料，除依法律規定方式處理外，將於快樂購聯合集點卡營運終止後刪除。<br><br></li>
													<li>卡友如就已消費並贈送點數之商品或服務向原合作特約商退換貨時，合作特約商將扣回該商品贈送點數，如點數不足扣回者，卡友需繳還點數處理成本費用(計算公式：不足之點數*NT$ 0.4)後始得進行退換貨。<br><br></li>
													<li>本卡累計點數可兌換之贈品內容將不定期更新，卡友不得要求兌換現金，或兌換非贈品兌換期限內之贈品。點數兌換作業，將依各合作特約商公告為準。<br><br></li>
													<li>除另有約定外，鼎鼎與各合作特約商間並無合夥、經銷、代理或保證人關係，兌換贈品如由各合作特約商直接提供予卡友，其寄送、使用、保證、瑕疵擔保等問題， 均由各合作特約商或活動主辦單位提供並負責之。鼎鼎提供之贈品兌換及活動內容依快樂購卡網站www.happygocard.com.tw公告為依據。<br><br></li>
													<li>卡友當年度獲贈之點數，可使用至次年12月31日。新增累積之點數將於登錄後48小時內轉入卡友帳戶，且兌換贈品所需點數將以獲贈日在前者優先扣除。<br><br></li>
													<li>為維護卡友權益，如系統產生點數登錄異常情況時，鼎鼎將暫停該卡異常狀況之點數登錄及兌換功能；異常狀況解除時，鼎鼎隨即恢復卡友點數登錄、兌換功能或調整該卡點數，鼎鼎亦可能於必要時另以換、補卡之方式處理。<br><br></li>
													<li>持卡人持有多張本卡者，每張卡片均可累點及兌點，點數將累積於同一身分證帳號，不得重複計算。如因遺失實體卡而申請補發時，鼎鼎將酌收工本費50元。<br><br></li>
													<li>鼎鼎保有本卡之申請、停用、修改或終止各項優惠服務之權利。鼎鼎將不定期更新或變更相關資料，有關本卡之服務辦法、相關權益及使用說明、標識符號、合作特約商、活動內容等相關資訊以快樂購卡網站www.happygocard.com.tw公告者為準。<br><br>
													</li>
												</ol>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/sugarfun-datepicker/datepicker.min.js?JS=20160420_01"></script>
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>