<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/online-shopping.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/act.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body online-act-list show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">線上購物</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">主題活動</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle b-highlight is-curr"><i class="m-icon m-icon-firework"></i><em class="text">主題活動</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">配件</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">鞋子</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">兒童</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">食品&酒</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">居家寢飾</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">家用電器</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">伴手禮</em></a></li>
						<li class="list">
							<button class="catalog-more b-link b-middle"><em class="text">更多</em></button>
							<div class="catalog-slider">
								<div class="sub-catalog-wrap">
									<div class="sub-catalog jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">精品美妍</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">國際名品</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">玩美童樂</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">紳仕休閒</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">異國食藝</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">鮮活百匯</em></a></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="main-content">
					<div class="sort-selection">
						<em class="func-hint">
							<i class="m-icon m-icon-sort"></i>
							<span class="text">排序</span>
						</em>
						<div class="m-box-holder is-selector">
							<select name="" id="" class="m-selection">
								<option value="">選擇分店</option>
								<option value="">寶慶遠百</option>
								<option value="">遠東百貨</option>
								<option value="">板橋大遠百</option>
							</select>
						</div>
					</div>
					<ul class="act-list">
						<li class="list">
							<a href="act-detail.html" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/online-shopping/act/01.jpg" alt="珍愛情人 & 季末出清">
									<figcaption class="desc b-hide-text">珍愛情人 & 季末出清</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">珍愛情人 & 季末出清</h3>
									<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2017/03/17">2017/03/17</time></span>
									<p class="b-desc">活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文</p>
								</div>
								<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
							</a>
						</li>
						<li class="list">
							<a href="act-detail.html" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/online-shopping/act/02.jpg" alt="北海道物產展">
									<figcaption class="desc b-hide-text">北海道物產展</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">北海道物產展</h3>
									<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2017/03/17">2017/03/17</time></span>
									<p class="b-desc">活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文</p>
								</div>
								<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
							</a>
						</li>
						<li class="list">
							<a href="act-detail.html" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/online-shopping/act/01.jpg" alt="珍愛情人 & 季末出清">
									<figcaption class="desc b-hide-text">珍愛情人 & 季末出清</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">珍愛情人 & 季末出清</h3>
									<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2017/03/17">2017/03/17</time></span>
									<p class="b-desc">活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文</p>
								</div>
								<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
							</a>
						</li>
						<li class="list">
							<a href="act-detail.html" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/online-shopping/act/02.jpg" alt="北海道物產展">
									<figcaption class="desc b-hide-text">北海道物產展</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">北海道物產展</h3>
									<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2017/03/17">2017/03/17</time></span>
									<p class="b-desc">活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文</p>
								</div>
								<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
							</a>
						</li>
						<li class="list">
							<a href="act-detail.html" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/online-shopping/act/01.jpg" alt="珍愛情人 & 季末出清">
									<figcaption class="desc b-hide-text">珍愛情人 & 季末出清</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">珍愛情人 & 季末出清</h3>
									<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2017/03/17">2017/03/17</time></span>
									<p class="b-desc">活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文</p>
								</div>
								<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
							</a>
						</li>
						<li class="list">
							<a href="act-detail.html" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/online-shopping/act/02.jpg" alt="北海道物產展">
									<figcaption class="desc b-hide-text">北海道物產展</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">北海道物產展</h3>
									<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2017/03/17">2017/03/17</time></span>
									<p class="b-desc">活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文活動內文</p>
								</div>
								<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
							</a>
						</li>
					</ul>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/online-shopping.js?JS=20160420_01"></script>
</html>