<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/online-shopping.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/act.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body online-act-detail show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">線上購物</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">新品上架</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle b-highlight is-curr"><i class="m-icon m-icon-firework"></i><em class="text">主題活動</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">配件</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">鞋子</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">兒童</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">食品&酒</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">居家寢飾</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">家用電器</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">伴手禮</em></a></li>
						<li class="list">
							<button class="catalog-more b-link b-middle"><em class="text">更多</em></button>
							<div class="catalog-slider">
								<div class="sub-catalog-wrap">
									<div class="sub-catalog jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">精品美妍</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">國際名品</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">玩美童樂</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">紳仕休閒</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">異國食藝</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">鮮活百匯</em></a></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="main-content">
					<div class="act-timer">
						<a href="javascript:;" class="b-link b-col-dt-6 b-col-xs-12">
							<figure class="img-wrap">
								<img src="../../content/img/act/banner/02.jpg" alt="好事成雙">
							</figure>
						</a>
						<div class="act-info b-col-dt-6 b-col-xs-12">
							<h3 class="main-act-title b-bold">全區購買，結帳金額達 6000 元，送象印保溫瓶 500ml 乙個。</h3>
							<div class="info-wrap">
								<em class="info-title b-col-dt-3 b-col-xs-3">活動日期</em>
								<div class="act-period b-col-dt-9 b-col-xs-9">
									<time class="act-time b-text-right" datetime="2016-11-11T11:00">
										<span class="period-date b-block">2016/11/11</span>
										<span class="period-time b-block b-bold">11:00</span>
									</time>
									<span class="symbol-tag">~</span>
									<time class="act-time b-text-right" datetime="2016-11-17T10:59">
										<span class="period-date b-block">2016/11/17</span>
										<span class="period-time b-block b-bold">10:59</span>
									</time>
								</div>
							</div>
							<div class="info-wrap">
								<em class="info-title b-col-dt-3 b-col-xs-3">活動剩餘</em>
								<div class="count-down-timer b-col-dt-9 b-col-xs-9">
									<em class="count b-inline">08</em><span class="unit">天</span>
									<em class="count b-inline">05</em><span class="unit">時</span>
									<em class="count b-inline">13</em><span class="unit">分</span>
								</div>
							</div>
						</div>
					</div>
					<div class="cart-wrap act-desc">
						<header class="cart-hd">
							<h3 class="cart-title b-bold">活動說明</h3>
						</header>
						<div class="cart-bd"><p class="b-desc">(1)中獎名單將由遠東百貨統一於2017年01月26日及2017年02月13日隨機抽出，並於抽獎當日公布中獎名單於遠東百貨官網及FB粉絲團，中獎人須於2017年01月28日至2017年03月 20日期間持身份證影本至1F服務台領取，未領取者視同放棄，恕無法兌換。<br>(2)本活動獎項為機會中獎類別，中獎人為本國人時，中獎人所得年度累積受贈之贈品價值超過1,001元(含)以上者，應列入中獎人年度綜合所得，遠東百貨於年終結算後將依法開立扣繳憑 單；另中獎獎項價值超過新台幣20,000元(含)以上者，則依法應扣繳10%稅金，中獎人需支付(由遠東百貨代收)；中獎人為外國人(包含外僑及大陸人士)時，由遠東百貨將先行代扣繳20%之稅額，並將代扣稅額寄送至中獎人填寫之地址。<br>(3)活動前及活動期間之消費，若於活動期間刷退重刷，則視為原同筆消費之重複交易行為，故不納入此活動消費回饋。<br>(4)本活動中獎人，若於活動期間內已領取贈品，於活動結束前該筆中獎之消費有刷退或列入爭議款項導致資格不符之卡友，遠東百貨有權取消其獲獎資格，並要求其返還贈品實際價格。<br>(5)贈品以實物為主，中獎人不得要求更換或更換現金。<br>(6)其他未盡事宜以遠東百貨官網或店內公告為主。<br>(7)遠東百貨保留修改、變更、取消本活動之權利。</p></div>
						<footer class="cart-ft b-clearfix"></footer>
					</div>
					<div class="cart-wrap">
						<header class="cart-hd">
							<h3 class="cart-title b-bold">已選擇商品</h3>
						</header>
						<div class="cart-bd">
							<div class="cart-list jQ-owl" data-items-md="7" data-items-sm="4" data-items-xs="1" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="false" data-hover-pause="true">
								<div class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
										</figure>
										<div class="item-info b-text-center">
											<h3 class="info-title">紅布朗</h3>
											<p class="b-desc">超大無籽葡萄乾(420g/罐)X3 加贈3色葡萄乾(180g/袋)</p>
											<em class="main-info b-clearfix b-block">
												<span class="bargain-price highlight b-float-left">$200</span>
												<span class="amount b-float-right">數量 1</span>
											</em>
										</div>
									</a>
									<button class="btn-delete jQ-delelte"><i class="m-icon m-icon-delete"></i><em class="text b-hide-text">刪除</em></button>
								</div>
								<div class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
										</figure>
										<div class="item-info b-text-center">
											<h3 class="info-title">紅布朗</h3>
											<!-- <p class="b-desc">超大無籽葡萄乾(420g/罐)X3 加贈3色葡萄乾(180g/袋)</p> -->
											<em class="main-info b-clearfix b-block">
												<span class="bargain-price highlight b-float-left">$200</span>
												<span class="amount b-float-right">數量 1</span>
											</em>
										</div>
									</a>
									<button class="btn-delete jQ-delelte"><i class="m-icon m-icon-delete"></i><em class="text b-hide-text">刪除</em></button>
								</div>
								<div class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
										</figure>
										<div class="item-info b-text-center">
											<h3 class="info-title">紅布朗</h3>
											<p class="b-desc">超大無籽葡萄乾(420g/罐)X3 加贈3色葡萄乾(180g/袋)</p>
											<em class="main-info b-clearfix b-block">
												<span class="bargain-price highlight b-float-left">$200</span>
												<span class="amount b-float-right">數量 1</span>
											</em>
										</div>
									</a>
									<button class="btn-delete jQ-delelte"><i class="m-icon m-icon-delete"></i><em class="text b-hide-text">刪除</em></button>
								</div>
								<div class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
										</figure>
										<div class="item-info b-text-center">
											<h3 class="info-title">紅布朗紅布朗紅布朗紅布朗紅布朗</h3>
											<p class="b-desc">超大無籽葡萄乾(420g/罐)X3 加贈3色葡萄乾(180g/袋)</p>
											<em class="main-info b-clearfix b-block">
												<span class="bargain-price highlight b-float-left">$200</span>
												<span class="amount b-float-right">數量 1</span>
											</em>
										</div>
									</a>
									<button class="btn-delete jQ-delelte"><i class="m-icon m-icon-delete"></i><em class="text b-hide-text">刪除</em></button>
								</div>
								<div class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
										</figure>
										<div class="item-info b-text-center">
											<h3 class="info-title">紅布朗</h3>
											<p class="b-desc">超大無籽葡萄乾(420g/罐)X3 加贈3色葡萄乾(180g/袋)</p>
											<em class="main-info b-clearfix b-block">
												<span class="bargain-price highlight b-float-left">$200</span>
												<span class="amount b-float-right">數量 1</span>
											</em>
										</div>
									</a>
									<button class="btn-delete jQ-delelte"><i class="m-icon m-icon-delete"></i><em class="text b-hide-text">刪除</em></button>
								</div>
								<div class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
										</figure>
										<div class="item-info b-text-center">
											<h3 class="info-title">紅布朗</h3>
											<p class="b-desc">超大無籽葡萄乾(420g/罐)X3 加贈3色葡萄乾(180g/袋)</p>
											<em class="main-info b-clearfix b-block">
												<span class="bargain-price highlight b-float-left">$200</span>
												<span class="amount b-float-right">數量 1</span>
											</em>
										</div>
									</a>
									<button class="btn-delete jQ-delelte"><i class="m-icon m-icon-delete"></i><em class="text b-hide-text">刪除</em></button>
								</div>
								<div class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
										</figure>
										<div class="item-info b-text-center">
											<h3 class="info-title">紅布朗</h3>
											<p class="b-desc">超大無籽葡萄乾(420g/罐)X3 加贈3色葡萄乾(180g/袋)</p>
											<em class="main-info b-clearfix b-block">
												<span class="bargain-price highlight b-float-left">$200</span>
												<span class="amount b-float-right">數量 1</span>
											</em>
										</div>
									</a>
									<button class="btn-delete jQ-delelte"><i class="m-icon m-icon-delete"></i><em class="text b-hide-text">刪除</em></button>
								</div>
								<div class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
										</figure>
										<div class="item-info b-text-center">
											<h3 class="info-title">紅布朗</h3>
											<p class="b-desc">超大無籽葡萄乾(420g/罐)X3 加贈3色葡萄乾(180g/袋)</p>
											<em class="main-info b-clearfix b-block">
												<span class="bargain-price highlight b-float-left">$200</span>
												<span class="amount b-float-right">數量 1</span>
											</em>
										</div>
									</a>
									<button class="btn-delete jQ-delelte"><i class="m-icon m-icon-delete"></i><em class="text b-hide-text">刪除</em></button>
								</div>
							</div>
						</div>
						<footer class="cart-ft b-clearfix">
							<div class="cart-msg b-clearfix b-bold b-col-md-10 b-col-sm-9 b-col-xs-12 b-float-left-dt">
								<span class="text b-float-left-dt b-block-xs">已選購3件 還差 <b class="highlight">3</b> 件 差 <b class="highlight">$4,902</b> 元</span>
								<span class="text b-float-right-dt b-block-xs">限宅配 總額 <b class="highlight">$400</b></span>
							</div>
							<button class="btn-link btn-main b-col-md-2 b-col-sm-3 b-col-xs-12 b-middle b-float-right-dt"><i class="m-icon m-icon-shopping"></i><em class="text">放入購物車</em></button>
						</footer>
					</div>
					<div class="sort-selection">
						<em class="func-hint">
							<i class="m-icon m-icon-sort"></i>
							<span class="text">排序</span>
						</em>
						<div class="m-box-holder is-selector">
							<select name="" id="" class="m-selection">
								<option value="">新品</option>
							</select>
						</div>
					</div>
					<ul class="shopping-list b-block">
						<li class="list b-inline">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
								</figure>
							</a>
							<div class="item-info">
								<a href="javascript:;" class="b-link"><h3 class="info-title">紅布朗</h3></a>
								<p class="b-desc">超大無籽葡萄乾(420g/罐)X3<br>加贈3色葡萄乾(180g/袋)</p>
								<em class="main-info"><span class="bargain-price">$2,880</span></em>
								<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-12">
									<select name="" id="" class="m-selection">
										<option value="">單一規格</option>
									</select>
								</div>
								<div class="btn-wrap">
									<div class="counter b-col-dt-7 b-col-xs-7">
										<button class="btn-count jQ-calc" data-calc="minus">-</button>
										<div class="m-box-holder">
											<input type="text" class="m-inputbox" value="1">
										</div>
										<button class="btn-count jQ-calc" data-calc="plus">+</button>
									</div>
									<button class="btn-add-to-cart b-bold b-col-dt-5 b-col-xs-5">＋選購</button>
								</div>
							</div>
						</li>
						<li class="list b-inline">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
								</figure>
							</a>
							<div class="item-info">
								<a href="javascript:;" class="b-link"><h3 class="info-title">紅布朗</h3></a>
								<p class="b-desc">超大無籽葡萄乾(420g/罐)X3<br>加贈3色葡萄乾(180g/袋)</p>
								<em class="main-info"><span class="bargain-price">$2,880</span></em>
								<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-12">
									<select name="" id="" class="m-selection">
										<option value="">單一規格</option>
									</select>
								</div>
								<div class="btn-wrap">
									<div class="counter b-col-dt-7 b-col-xs-7">
										<button class="btn-count jQ-calc" data-calc="minus">-</button>
										<div class="m-box-holder">
											<input type="text" class="m-inputbox" value="1">
										</div>
										<button class="btn-count jQ-calc" data-calc="plus">+</button>
									</div>
									<button class="btn-add-to-cart b-bold b-col-dt-5 b-col-xs-5">＋選購</button>
								</div>
							</div>
						</li>
						<li class="list b-inline">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
								</figure>
							</a>
							<div class="item-info">
								<a href="javascript:;" class="b-link"><h3 class="info-title">紅布朗</h3></a>
								<p class="b-desc">超大無籽葡萄乾(420g/罐)X3<br>加贈3色葡萄乾(180g/袋)</p>
								<em class="main-info"><span class="bargain-price">$2,880</span></em>
								<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-12">
									<select name="" id="" class="m-selection">
										<option value="">單一規格</option>
									</select>
								</div>
								<div class="btn-wrap">
									<div class="counter b-col-dt-7 b-col-xs-7">
										<button class="btn-count jQ-calc" data-calc="minus">-</button>
										<div class="m-box-holder">
											<input type="text" class="m-inputbox" value="1">
										</div>
										<button class="btn-count jQ-calc" data-calc="plus">+</button>
									</div>
									<button class="btn-add-to-cart b-bold b-col-dt-5 b-col-xs-5">＋選購</button>
								</div>
							</div>
						</li>
						<li class="list b-inline">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
								</figure>
							</a>
							<div class="item-info">
								<a href="javascript:;" class="b-link"><h3 class="info-title">紅布朗</h3></a>
								<p class="b-desc">超大無籽葡萄乾(420g/罐)X3<br>加贈3色葡萄乾(180g/袋)</p>
								<em class="main-info"><span class="bargain-price">$2,880</span></em>
								<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-12">
									<select name="" id="" class="m-selection">
										<option value="">單一規格</option>
									</select>
								</div>
								<div class="btn-wrap">
									<div class="counter b-col-dt-7 b-col-xs-7">
										<button class="btn-count jQ-calc" data-calc="minus">-</button>
										<div class="m-box-holder">
											<input type="text" class="m-inputbox" value="1">
										</div>
										<button class="btn-count jQ-calc" data-calc="plus">+</button>
									</div>
									<button class="btn-add-to-cart b-bold b-col-dt-5 b-col-xs-5">＋選購</button>
								</div>
							</div>
						</li>
						<li class="list b-inline">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
								</figure>
							</a>
							<div class="item-info">
								<a href="javascript:;" class="b-link"><h3 class="info-title">紅布朗</h3></a>
								<p class="b-desc">超大無籽葡萄乾(420g/罐)X3<br>加贈3色葡萄乾(180g/袋)</p>
								<em class="main-info"><span class="bargain-price">$2,880</span></em>
								<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-12">
									<select name="" id="" class="m-selection">
										<option value="">單一規格</option>
									</select>
								</div>
								<div class="btn-wrap">
									<div class="counter b-col-dt-7 b-col-xs-7">
										<button class="btn-count jQ-calc" data-calc="minus">-</button>
										<div class="m-box-holder">
											<input type="text" class="m-inputbox" value="1">
										</div>
										<button class="btn-count jQ-calc" data-calc="plus">+</button>
									</div>
									<button class="btn-add-to-cart b-bold b-col-dt-5 b-col-xs-5">＋選購</button>
								</div>
							</div>
						</li>
						<li class="list b-inline">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
								</figure>
							</a>
							<div class="item-info">
								<a href="javascript:;" class="b-link"><h3 class="info-title">紅布朗</h3></a>
								<p class="b-desc">超大無籽葡萄乾(420g/罐)X3<br>加贈3色葡萄乾(180g/袋)</p>
								<em class="main-info"><span class="bargain-price">$2,880</span></em>
								<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-12">
									<select name="" id="" class="m-selection">
										<option value="">單一規格</option>
									</select>
								</div>
								<div class="btn-wrap">
									<div class="counter b-col-dt-7 b-col-xs-7">
										<button class="btn-count jQ-calc" data-calc="minus">-</button>
										<div class="m-box-holder">
											<input type="text" class="m-inputbox" value="1">
										</div>
										<button class="btn-count jQ-calc" data-calc="plus">+</button>
									</div>
									<button class="btn-add-to-cart b-bold b-col-dt-5 b-col-xs-5">＋選購</button>
								</div>
							</div>
						</li>
						<li class="list b-inline">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
								</figure>
							</a>
							<div class="item-info">
								<a href="javascript:;" class="b-link"><h3 class="info-title">紅布朗</h3></a>
								<p class="b-desc">超大無籽葡萄乾(420g/罐)X3<br>加贈3色葡萄乾(180g/袋)</p>
								<em class="main-info"><span class="bargain-price">$2,880</span></em>
								<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-12">
									<select name="" id="" class="m-selection">
										<option value="">單一規格</option>
									</select>
								</div>
								<div class="btn-wrap">
									<div class="counter b-col-dt-7 b-col-xs-7">
										<button class="btn-count jQ-calc" data-calc="minus">-</button>
										<div class="m-box-holder">
											<input type="text" class="m-inputbox" value="1">
										</div>
										<button class="btn-count jQ-calc" data-calc="plus">+</button>
									</div>
									<button class="btn-add-to-cart b-bold b-col-dt-5 b-col-xs-5">＋選購</button>
								</div>
							</div>
						</li>
						<li class="list b-inline">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/act/items/02.jpg" alt="紅布朗">
								</figure>
							</a>
							<div class="item-info">
								<a href="javascript:;" class="b-link"><h3 class="info-title">紅布朗</h3></a>
								<p class="b-desc">超大無籽葡萄乾(420g/罐)X3<br>加贈3色葡萄乾(180g/袋)</p>
								<em class="main-info"><span class="bargain-price">$2,880</span></em>
								<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-12">
									<select name="" id="" class="m-selection">
										<option value="">單一規格</option>
									</select>
								</div>
								<div class="btn-wrap">
									<div class="counter b-col-dt-7 b-col-xs-7">
										<button class="btn-count jQ-calc" data-calc="minus">-</button>
										<div class="m-box-holder">
											<input type="text" class="m-inputbox" value="1">
										</div>
										<button class="btn-count jQ-calc" data-calc="plus">+</button>
									</div>
									<button class="btn-add-to-cart b-bold b-col-dt-5 b-col-xs-5">＋選購</button>
								</div>
							</div>
						</li>
					</ul>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/act-detail.js?JS=20160420_01"></script>
</html>