<!DOCTYPE html>
<html lang="en">
<head>
    <!--#include virtual="common/meta.html" -->
    <title>ACADINE</title>
    <link rel="canonical" href="" />
    <!-- master page include css begin -->
    <!--#include virtual="common/css.html" -->
    <!-- master page include css end -->

    <!-- self page include css begin -->
    <link rel="stylesheet" href="../../public/scripts/plugin/malihu.custom.scrollbar/jquery.mCustomScrollbar.css?CSS=20160122_01">
    <link rel="stylesheet" href="../../public/scripts/plugin/owl.carousel/owl.carousel.css?CSS=20160122_01">
    <link rel="stylesheet" href="../../public/css/about.css?CSS=20160122_01">
    <!-- self page include css end -->
</head>
<body>
    <!-- ==================== l-header begin ==================== -->
    <!--#include virtual="common/header.html" -->
    <!-- ==================== l-header end ==================== -->
    
    <!-- ==================== l-main begin ==================== -->
    <div class="l-main">
        <div class="l-main-bd">
            <div class="l-content is-full">
                <ul class="l-content-bd">
                    <li>
                        <article class="m-article about-article about-who b-middle b-text-center jQ-translate">
                            <div class="m-article-bd b-text-white b-text-center">
                                <h2 class="b-h2">WHO WE ARE</h2>
                                <p class="b-p">ACADINE is an independent provider of operating systems and software / services platforms for new generations of smart devices worldwide.</p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="m-article about-article about-why b-middle b-text-center jQ-translate">
                            <div class="m-article-bd b-text-white b-text-center">
                                <h2 class="b-h2">WHY WE ARE HERE</h2>
                                <p class="b-p">Today, participants in the IoT revolution are faced with choosing a solution among the highly fragmented incompatible standards or being locked into limited and biased platforms maintained by dominant companies. ACADINE offers a better alternative. Our platform gives control back to the device/platform by enabling customization and innovation amongst developers, content providers, and manufacturers. We believe in open standards to prevent market monopolies and allow smart devices to reach their full potential through seamless communication and connectivity across different hardware platforms.</p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="m-article about-article about-team b-middle b-text-center jQ-translate">
                            <div class="m-article-bd b-text-white b-text-center">
                                <h2 class="b-h2">CORE TEAM</h2>
                                <div class="m-slider">
                                    <div class="m-slider-bd jQ-slider" data-dots="true" data-dots-position="relative" data-nav="true" data-item-md="5" data-item-sm="3" data-item-xs="1">
                                        <div class="m-slider-item">
                                            <div class="m-slider-frame">
                                                <figure class="m-slider-media">
                                                    <img src="../../public/img/about/person-01.png?IMG=20160122_01">
                                                </figure>
                                                <div class="m-slider-caption">
                                                    <p class="b-p">CEO<br />Chairman</p>
                                                    <p class="b-p is-lg">Gong Li</p>
                                                </div>
                                                <div class="m-button-group">
                                                    <a href="javascript:;" class="m-button is-sm b-text-white">more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-slider-item">
                                            <div class="m-slider-frame">
                                                <figure class="m-slider-media">
                                                    <img src="../../public/img/about/person-02.png?IMG=20160122_01">
                                                </figure>
                                                <div class="m-slider-caption">
                                                    <p class="b-p">VP<br />Advanced Technologies</p>
                                                    <p class="b-p is-lg">Mark Fulks</p>
                                                </div>
                                                <div class="m-button-group">
                                                    <a href="javascript:;" class="m-button is-sm b-text-white">more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-slider-item">
                                            <div class="m-slider-frame">
                                                <figure class="m-slider-media">
                                                    <img src="../../public/img/about/person-03.png?IMG=20160122_01">
                                                </figure>
                                                <div class="m-slider-caption">
                                                    <p class="b-p">VP<br />Business Development</p>
                                                    <p class="b-p is-lg">Vineet Gupta</p>
                                                </div>
                                                <div class="m-button-group">
                                                    <a href="javascript:;" class="m-button is-sm b-text-white">more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-slider-item">
                                            <div class="m-slider-frame">
                                                <figure class="m-slider-media">
                                                    <img src="../../public/img/about/person-04.png?IMG=20160122_01">
                                                </figure>
                                                <div class="m-slider-caption">
                                                    <p class="b-p">VP<br />Product Development</p>
                                                    <p class="b-p is-lg">James Ho</p>
                                                </div>
                                                <div class="m-button-group">
                                                    <a href="javascript:;" class="m-button is-sm b-text-white">more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-slider-item">
                                            <div class="m-slider-frame">
                                                <figure class="m-slider-media">
                                                    <img src="../../public/img/about/person-05.png?IMG=20160122_01">
                                                </figure>
                                                <div class="m-slider-caption">
                                                    <p class="b-p">VP<br />Operations</p>
                                                    <p class="b-p is-lg">Hong Tang</p>
                                                </div>
                                                <div class="m-button-group">
                                                    <a href="javascript:;" class="m-button is-sm b-text-white">more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="m-article about-article about-info b-middle b-text-center jQ-translate">
                            <div class="m-article-bd b-text-white b-text-center">
                                <h2 class="b-h2">INVESTOR INFORMATION</h2>
                                <p class="b-p">ACADINE™ Technologies is a systems software company specializing in innovative mobile operating systems for mobile, wearable, and IoT.</p>
                                <div class="m-button-group">
                                    <a href="javascript:;" class="m-button b-text-white">Download</a>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="l-side"></div>
        </div>
    </div>
    <!-- ==================== l-main end ==================== -->

    <!-- ==================== l-footer begin ==================== -->
    <div class="l-footer">
        <footer class="m-footer">
            <!--#include virtual="common/footer.html" -->
        </footer>
    </div>
    <!-- ==================== l-footer end ==================== -->
    
    <!-- ==================== l-nav begin ==================== -->
    <!--#include virtual="common/navigation.html" -->
    <!-- ==================== l-nav end ==================== -->
</body>
<!-- master page include js begin -->
<!--#include virtual="common/js_ft.html" -->
<!-- master page include js end -->

<!-- self page include js begin -->
<script type="text/javascript" src="../../public/scripts/plugin/malihu.custom.scrollbar/jquery.mCustomScrollbar.concat.min.js?JS=20160122_01" defer></script>
<script type="text/javascript" src="../../public/scripts/plugin/owl.carousel/owl.carousel.min.js?JS=20160122_01" defer></script>
<script type="text/javascript" src="../../public/scripts/js/about.js?JS=20160122_01" defer></script>
<!-- self page include js end -->
</html>