<!DOCTYPE html>
<html lang="en">
<head>
    <!--#include virtual="common/meta.html" -->
    <title>ACADINE</title>
    <link rel="canonical" href="" />
    <!-- master page include css begin -->
    <!--#include virtual="common/css.html" -->
    <!-- master page include css end -->

    <!-- self page include css begin -->
    <link rel="stylesheet" href="../../public/scripts/plugin/owl.carousel/owl.carousel.css?CSS=20160122_01">
    <link rel="stylesheet" href="../../public/css/blog-list.css?CSS=20160122_01">
    <!-- self page include css end -->
</head>
<body>
    <!-- ==================== l-header begin ==================== -->
    <!--#include virtual="common/header.html" -->
    <!-- ==================== l-header end ==================== -->
    
    <!-- ==================== l-main begin ==================== -->
    <div class="l-main">
        <div class="l-main-hd jQ-translate">
            <div class="m-slider is-full">
                <div class="m-slider-bd jQ-slider" data-dots="true" data-nav="true" data-loop="true" data-autoplay="true">
                    <div class="m-slider-item">
                        <div class="m-slider-frame">
                            <figure class="m-slider-media">
                                <img src="../../public/img/news/poster-01.jpg?IMG=20160122_01">
                            </figure>
                            <div class="m-slider-caption">
                                <div class="b-text-white">
                                    <p class="b-h2">Visit us <br class="b-br-xs" />in Barcelona <br class="b-br-xs" />at MWC 2016</p>
                                    <p class="b-h3">We’re at Hall 7 - Stand 7A11</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-slider-item">
                        <div class="m-slider-frame">
                            <figure class="m-slider-media">
                                <img src="../../public/img/news/poster-01.jpg?IMG=20160122_01">
                            </figure>
                            <div class="m-slider-caption">
                                <div class="b-text-white">
                                    <p class="b-h2">2016<br />MOBILE WORLD CONGRESS</p>
                                    <p class="b-h3">Visit us at hall 7</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-main-bd">
            <div class="l-content">
                <ul class="l-content-bd">
                    <li>
                        <div class="m-tab">
                            <div class="m-tab-hd b-text-center">
                                <ul>
                                    <li class="b-col-xs-3"><a href="../../views/media-list.html" class="m-button is-lg">Media Library</a></li>
                                    <li class="b-col-xs-3"><a href="../../views/blog-list.html" class="m-button is-lg is-active">ACADINE Blog</a></li>
                                </ul>
                            </div>
                            <div class="m-tab-bd">
                                <ul>
                                    <li>
                                        <div class="m-list is-item">
                                            <div class="m-list-bd">
                                                <ul>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <time class="m-list-object"><b>29/10/2015</b></time>
                                                            <h6 class="m-list-content">Acadine Joins Linaro Mobile Group as First Systems Software Company</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <time class="m-list-object"><b>15/07/2015</b></time>
                                                            <h6 class="m-list-content">MWC Shanghai 2015 -- Mobile OS Company Acadine Technologies Receives $100M First-Round Funding from Tsinghua Unigroup International</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <time class="m-list-object"><b>29/10/2015</b></time>
                                                            <h6 class="m-list-content">Acadine Joins Linaro Mobile Group as First Systems Software Company</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <time class="m-list-object"><b>15/07/2015</b></time>
                                                            <h6 class="m-list-content">MWC Shanghai 2015 -- Mobile OS Company Acadine Technologies Receives $100M First-Round Funding from Tsinghua Unigroup International</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <time class="m-list-object"><b>29/10/2015</b></time>
                                                            <h6 class="m-list-content">Acadine Joins Linaro Mobile Group as First Systems Software Company</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <time class="m-list-object"><b>15/07/2015</b></time>
                                                            <h6 class="m-list-content">MWC Shanghai 2015 -- Mobile OS Company Acadine Technologies Receives $100M First-Round Funding from Tsinghua Unigroup International</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <time class="m-list-object"><b>29/10/2015</b></time>
                                                            <h6 class="m-list-content">Acadine Joins Linaro Mobile Group as First Systems Software Company</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <time class="m-list-object"><b>15/07/2015</b></time>
                                                            <h6 class="m-list-content">MWC Shanghai 2015 -- Mobile OS Company Acadine Technologies Receives $100M First-Round Funding from Tsinghua Unigroup International</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <time class="m-list-object"><b>29/10/2015</b></time>
                                                            <h6 class="m-list-content">Acadine Joins Linaro Mobile Group as First Systems Software Company</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <time class="m-list-object"><b>15/07/2015</b></time>
                                                            <h6 class="m-list-content">MWC Shanghai 2015 -- Mobile OS Company Acadine Technologies Receives $100M First-Round Funding from Tsinghua Unigroup International</h6>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <footer class="m-list-ft">
                                                <div class="m-button-group b-text-center">
                                                    <a href="../../views/media-list.html" class="m-button">Load more</a>
                                                </div>
                                            </footer>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="l-side"></div>
        </div>
    </div>
    <!-- ==================== l-main end ==================== -->

    <!-- ==================== l-footer begin ==================== -->
    <div class="l-footer">
        <footer class="m-footer">
            <!--#include virtual="common/footer.html" -->
        </footer>
    </div>
    <!-- ==================== l-footer end ==================== -->
    
    <!-- ==================== l-nav begin ==================== -->
    <!--#include virtual="common/navigation.html" -->
    <!-- ==================== l-nav end ==================== -->
</body>
<!-- master page include js begin -->
<!--#include virtual="common/js_ft.html" -->
<!-- master page include js end -->

<!-- self page include js begin -->
<script type="text/javascript" src="../../public/scripts/plugin/owl.carousel/owl.carousel.min.js?JS=20160122_01" defer></script>
<script type="text/javascript" src="../../public/scripts/js/blog-list.js?JS=20160122_01" defer></script>
<!-- self page include js end -->
</html>