<!DOCTYPE html>
<html lang="en">
<head>
    <!--#include virtual="common/meta.html" -->
    <title>ACADINE</title>
    <link rel="canonical" href="" />
    <!-- master page include css begin -->
    <!--#include virtual="common/css.html" -->
    <!-- master page include css end -->

    <!-- self page include css begin -->
    <link rel="stylesheet" href="../public/css/contact.css?CSS=20160122_01">
    <!-- self page include css end -->
</head>
<body data-user-agent="is-not-pc">
    <!-- ==================== l-header begin ==================== -->
    <!--#include virtual="common/header.html" -->
    <!-- ==================== l-header end ==================== -->
    
    <!-- ==================== l-main begin ==================== -->
    <div class="l-main is-full">
        <div class="l-main-bd">
            <section class="l-content">
                <ul class="l-content-bd">
                    <li>
                        <div class="contact">
                            <ul class="contact-frame jQ-contact-frame" data-active="is-active" data-center="is-center" data-left="is-left" data-right="is-right">
                                <li class="contact-list is-taipei b-text-white">
                                    <button type="button" class="contact-county jQ-county"><h4 class="b-text-white"><b>TAIPEI</b></h4></button>
                                    <div class="contact-items is-active-sm is-active-xs jQ-contact-items">
                                        <button type="button" class="contact-close b-text-white b-hide-sm b-hide-xs jQ-contact-close"><i class="m-icon m-icon-times"></i></button>
                                        <ul>
                                            <li>ACADINE TECHNOLOGIES</li>
                                            <li><a href="tel:+886-2-8101-0588">+886 2 8101-0588</a></li>
                                            <li>
                                                <span class="contact-info">info@acadine.com</span>
                                                <button class="contact-button b-text-white jQ-copy" data-clipboard-text="info@acadine.com" data-tooltip="Copied!" data-class="m-tooltip"><i class="m-icon m-icon-copy"></i></button>
                                                <a href="mailto:info@acadine.com" class="contact-button b-text-white"><i class="m-icon m-icon-email"></i></a>
                                            </li>
                                            <li>Side A, 21F., No.7, Sec. 5, Xinyi Rd., Xinyi Dist., Taipei City 110, Taiwan (R.O.C.)</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="contact-list is-beijing b-text-white">
                                    <button type="button" class="contact-county jQ-county"><h4 class="b-text-white"><b>BEIJING</b></h4></button>
                                    <div class="contact-items jQ-contact-items">
                                        <button type="button" class="contact-close b-text-white b-hide-sm b-hide-xs jQ-contact-close"><i class="m-icon m-icon-times"></i></button>
                                        <ul>
                                            <li>ACADINE TECHNOLOGIES</li>
                                            <li><a href="tel:+86-10-5780-9288">+86 10 5780-9288</a></li>
                                            <li>
                                                <span class="contact-info">info@acadine.com</span>
                                                <button class="contact-button b-text-white jQ-copy" data-clipboard-text="info@acadine.com" data-tooltip="Copied!" data-class="m-tooltip"><i class="m-icon m-icon-copy"></i></button>
                                                <a href="mailto:info@acadine.com" class="contact-button b-text-white"><i class="m-icon m-icon-email"></i></a>
                                            </li>
                                            <li>Room 800, Office Building of International Club, No. 21 Jianguomenwai Street, Chaoyang District, Beijing100020</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="contact-list is-paloalto b-text-white">
                                    <button type="button" class="contact-county jQ-county"><h4 class="b-text-white"><b>PALO ALTO</b></h4></button>
                                    <div class="contact-items jQ-contact-items">
                                        <button type="button" class="contact-close b-text-white b-hide-sm b-hide-xs jQ-contact-close" data-tooltip="Copied!" data-class="m-tooltip"><i class="m-icon m-icon-times"></i></button>
                                        <ul>
                                            <li>ACADINE LABS</li>
                                            <li><a href="tel:+1-650-485-2209">+1-650-485-2209</a></li>
                                            <li>
                                                <span class="contact-info">info@acadine.com</span>
                                                <button class="contact-button b-text-white jQ-copy" data-clipboard-text="info@acadine.com" data-tooltip="Copied!" data-class="m-tooltip"><i class="m-icon m-icon-copy"></i></button>
                                                <a href="mailto:info@acadine.com" class="contact-button b-text-white"><i class="m-icon m-icon-email"></i></a>
                                            </li>
                                            <li>2479 E. Bayshore Rd, Suite 280, Palo Alto, CA 94303</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>    
                    </li>
                </ul>
            </section>
            <div class="l-side"></div>
        </div>
    </div>
    <!-- ==================== l-main end ==================== -->

    <!-- ==================== l-footer begin ==================== -->
    <div class="l-footer is-absolute">
        <footer class="m-footer is-bg-black">
            <!--#include virtual="common/footer.html" -->
        </footer>
    </div>
    <!-- ==================== l-footer end ==================== -->
    
    <!-- ==================== l-nav begin ==================== -->
    <!--#include virtual="common/navigation.html" -->
    <!-- ==================== l-nav end ==================== -->
</body>
<!-- master page include js begin -->
<!--#include virtual="common/js_ft.html" -->
<!-- master page include js end -->

<!-- self page include js begin -->
<script defer type="text/javascript" src="../public/scripts/plugin/clipboard/clipboard.min.js?JS=20160122_01"></script>
<script defer type="text/javascript" src="../public/scripts/js/contact.js?JS=20160122_01"></script>
<!-- self page include js end -->
</html>