<!DOCTYPE html>
<html lang="en">
<head>
    <!--#include virtual="common/meta.html" -->
    <title>ACADINE</title>
    <link rel="canonical" href="" />
    <!-- master page include css begin -->
    <!--#include virtual="common/css.html" -->
    <!-- master page include css end -->

    <!-- self page include css begin -->
    <link rel="stylesheet" href="../../public/css/index.css?CSS=20160122_01">
    <!-- self page include css end -->
</head>
<body data-user-agent="is-not-pc">
    <!-- ==================== l-header begin ==================== -->
    <!--#include virtual="common/header.html" -->
    <!-- ==================== l-header end ==================== -->
    
    <!-- ==================== l-main begin ==================== -->
    <div class="l-main is-full">
        <div class="l-main-bd">
            <section class="l-content">
                <ul class="l-content-bd">
                    <li>
                        <div class="m-slider is-full is-3D">
                            <ul class="m-slider-bd jQ-slider-3D">
                                <li class="m-slider-item">
                                    <div class="m-slider-frame">
                                        <figure class="m-slider-media">
                                            <img src="../../public/img/home/index/poster-01.jpg?IMG=20160122_01">
                                        </figure>
                                        <div class="m-slider-caption">
                                            <div class="b-text-white">
                                                <h2>Visit us in Barcelona at MWC 2016</h2>
                                                <p>We’re at Hall 7 - Stand 7A11</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="m-slider-item">
                                    <div class="m-slider-frame">
                                        <figure class="m-slider-media">
                                            <img src="https://i.vimeocdn.com/video/459114607_1920.jpg">
                                        </figure>
                                        <div class="m-slider-caption">
                                            <div class="b-text-white">
                                                <h2>2016 MOBILE WORLD CONGRESS</h2>
                                                <p>Visit us at hall 7</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="m-slider-ctrl">
                                <button class="m-slider-arrow is-prev m-icon m-icon-angle-left jQ-arrow"></button>
                                <button class="m-slider-arrow is-next m-icon m-icon-angle-right jQ-arrow"></button>
                            </div>
                        </div>    
                    </li>
                </ul>
            </section>
            <div class="l-side"></div>
        </div>
    </div>
    <!-- ==================== l-main end ==================== -->

    <!-- ==================== l-footer begin ==================== -->
    <div class="l-footer is-absolute">
        <footer class="m-footer is-bg-black">
            <!--#include virtual="common/footer.html" -->
        </footer>
    </div>
    <!-- ==================== l-footer end ==================== -->
    
    <!-- ==================== l-nav begin ==================== -->
    <!--#include virtual="common/navigation.html" -->
    <!-- ==================== l-nav end ==================== -->
</body>
<!-- master page include js begin -->
<!--#include virtual="common/js_ft.html" -->
<!-- master page include js end -->

<!-- self page include js begin -->
<script defer type="text/javascript" src="../../public/scripts/plugin/jquery.slicebox/modernizr.custom.js?JS=20160122_01"></script>
<script defer type="text/javascript" src="../../public/scripts/plugin/jquery.slicebox/jquery.slicebox.js?JS=20160122_01"></script>
<script defer type="text/javascript" src="../../public/scripts/js/index.js?JS=20160122_01"></script>
<!-- self page include js end -->
</html>