<!DOCTYPE html>
<html lang="en">
<head>
    <!--#include virtual="common/meta.html" -->
    <title>ACADINE</title>
    <link rel="canonical" href="" />
    <!-- master page include css begin -->
    <!--#include virtual="common/css.html" -->
    <!-- master page include css end -->

    <!-- self page include css begin -->
    <link rel="stylesheet" href="../public/css/news-detail.css?CSS=20160122_01">
    <!-- self page include css end -->
</head>
<body data-user-agent="is-not-pc">
    <!-- ==================== l-header begin ==================== -->
    <!--#include virtual="common/header.html" -->
    <!-- ==================== l-header end ==================== -->
    
    <!-- ==================== l-main begin ==================== -->
    <div class="l-main is-side-right">
        <div class="l-main-bd">
            <div class="l-content">
                <ul class="l-content-bd">
                    <li>
                        <article class="m-article">
                            <header class="m-article-hd is-underline">
                                <h3>ACADINE Joins Linaro Mobile Group as First Systems Software Company</h3>
                            </header>
                            <div class="m-article-bd">
                                <em class="issue-time">29/10/2015 by <a href="javascript:;" class="b-link is-underline">WSJ / LORRAINE LUK</a></em>
                                <img src="../public/img/blog/blog_detail-01.jpg" alt="">
                                <p class="b-p">Cambridge, UK – October 29, 2015 – ACADINE™ Technologies, a Hong Kong-based startup delivering innovative mobile operating systems for mobile, wearable, and IoT devices, announced today that it has become the first systems software company to join the Linaro Mobile Group (LMG), the collaborative engineering organization developing open source software for the ARM® architecture.</p>
                                <p class="b-p">LMG was formed in July 2014 to consolidate and optimize open source software for ARM powered mobile phones, tablets, laptops and wearables. The Group's engineers work have been focused on the Android Open Source Project (AOSP), performance and power optimizations, graphics and GPGPU, and work with other groups in Linaro Core Engineering on other open source technologies.</p>
                                <p class="b-p">“We are delighted to welcome ACADINE Technologies as the first systems software company to become a member of the Linaro Mobile Group”, said Robert Booth, Linaro’s Chief Operating Officer (COO). “Mobile vendors are continually looking for a choice of operating systems and H5OS is a new and very interesting option that provides flexibility and customization for partners. We look forward to working closely with ACADINE and the other LMG vendors to ensure the best possible open source mobile software is readily available.”</p>
                                <p class="b-p">ACADINE Technologies is a systems software company specializing in innovative mobile operating systems for mobile, wearable, and IoT devices. ACADINE’s core product, called H5OS, is a web-centric operating system that is primarily based on HTML5, one of the open standard technologies of the modern Internet.</p>
                                <p class="b-p">“ACADINE is committed to make H5OS an innovative open mobile operating system and we’re very excited to join Linaro,” said Dr. Li Gong, Founder, Chairman and CEO of ACADINE. “We believe that Linaro’s experience in working with open source projects and the engineering resources that it and its members can apply to developing and optimizing platforms like H5OS will help us make our core product ecosystem-friendly to the community and customers around the world.”</p>
                                <p class="b-p">About ACADINE<br>ACADINE™ Technologies is a startup company specializing in innovative mobile operating systems for mobile, wearable, and IoT devices. ACADINE is based in Hong Kong, with operations in Beijing, Taipei, Palo Alto, and London. For more information, please contact <a href="mailto:press@acadine.com" class="b-link is-underline">press@acadine.com</a>.</p>
                                <p class="b-p">About H5OS<br>A completely web-centric operating system, H5OS eliminates the native APIs that give the conventional mobile OS owners full business control over other mobile industry participants. As a result, H5OS offers the huge potential of a simpler technical architecture, more efficient memory and power consumption, and completely dynamic and seamless interactions between the mobile operating system, on-device applications, and the millions of web apps and services on the Internet at large.</p>
                                <p class="b-p">The H5OS open architecture also brings about an open mobile ecosystem with open participation, thus enabling choices for everyone, from device makers to operators to consumers, to freely select and experience the best of the web. For more information about our products, please contact <a href="mailto:press@acadine.com" class="b-link is-underline">press@acadine.com</a>.</p>
                                <p class="b-p">About Linaro<br>Linaro is leading collaboration on open source development in the ARM ecosystem. The company has over 250 engineers working on consolidating and optimizing open source software for the ARM architecture, including developer tools, the Linux kernel, ARM power management, and other software infrastructure. Linaro is distribution neutral: it wants to provide the best software foundations to everyone by working upstream, and to reduce non-differentiating and costly low level fragmentation. The effectiveness of the Linaro approach has been demonstrated by Linaro’s growing membership, and by Linaro consistently being listed as one of the top five company contributors, worldwide, to Linux kernels since 3.10.</p>
                                <p class="b-p">To ensure commercial quality software, Linaro’s work includes comprehensive test and validation on member hardware platforms. The full scope of Linaro engineering work is open to all online. To find out more, please visit <a href="http://www.linaro.org" class="b-link is-underline">http://www.linaro.org</a> and <a href="http://www.96Boards.org" class="b-link is-underline">http://www.96Boards.org</a>.</p>
                            </div>
                            <footer class="m-article-ft">
                                <ul>
                                    <li>
                                        <div class="m-button-group">
                                            <em>Share it : </em>
                                            <button class="m-button is-shared b-bg-facebook b-text-white"><i class="m-icon m-icon-facebook"></i></button>
                                            <button class="m-button is-shared b-bg-twitter b-text-white"><i class="m-icon m-icon-twitter"></i></button>
                                            <button class="m-button is-shared b-bg-linkedin b-text-white"><i class="m-icon m-icon-linkedin"></i></button>
                                        </div>
                                        <div class="m-button-tool b-text-right-md b-text-right-sm b-text-center-xs">
                                            <a href="../views/blog-list.html" class="m-button back-button b-text-center">Back to list</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="m-list is-item b-clearfix">
                                            <header class="m-list-hd">
                                                <h3 class="b-text-blue">Related Articles</h3>
                                            </header>
                                            <div class="m-list-bd">
                                                <ul>
                                                    <li>
                                                        <a href="javascript:;" target="_blank">
                                                            <time class="m-list-object"><b>29/10/2015</b></time>
                                                            <h6 class="m-list-content">Acadine Joins Linaro Mobile Group as First Systems Software Company</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" target="_blank">
                                                            <time class="m-list-object"><b>15/07/2015</b></time>
                                                            <h6 class="m-list-content">MWC Shanghai 2015 -- Mobile OS Company Acadine Technologies Receives $100M First-Round Funding from Tsinghua Unigroup International</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" target="_blank">
                                                            <time class="m-list-object"><b>29/10/2015</b></time>
                                                            <h6 class="m-list-content">Acadine Joins Linaro Mobile Group as First Systems Software Company</h6>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="l-side">
                <div class="l-side-bd">
                    <aside class="m-aside b-clearfix">
                        <header class="m-aside-hd b-text-center">Media Contact</header>
                        <div class="m-aside-bd">
                            <div class="m-button-group mail-function">
                                <button type="button" class="jQ-copy" data-clipboard-text="press@acadine.com" data-tooltip="Copied!" data-class="m-tooltip">
                                    <span class="m-icon-stack b-bg-white b-text-blue is-circle">
                                        <i class="m-icon m-icon-copy"></i>
                                    </span>
                                    <em>Copy</em>
                                </button>
                                <a href="mailto:press@acadine.com" class="">
                                    <span class="m-icon-stack b-bg-white b-text-blue is-circle">
                                        <i class="m-icon m-icon-email"></i>
                                    </span>
                                    <em>Mail</em>
                                </a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== l-main end ==================== -->

    <!-- ==================== l-footer begin ==================== -->
    <div class="l-footer">
        <footer class="m-footer">
            <!--#include virtual="common/footer.html" -->
        </footer>
    </div>
    <!-- ==================== l-footer end ==================== -->
    
    <!-- ==================== l-nav begin ==================== -->
    <!--#include virtual="common/navigation.html" -->
    <!-- ==================== l-nav end ==================== -->
</body>
<!-- master page include js begin -->
<!--#include virtual="common/js_ft.html" -->
<!-- master page include js end -->

<!-- self page include js begin -->
<script defer type="text/javascript" src="../public/scripts/plugin/clipboard/clipboard.min.js?JS=20160122_01"></script>
<script type="text/javascript" src="../public/scripts/js/detail.js?JS=20160122_01" defer></script>
<!-- self page include js end -->
</html>