<!DOCTYPE html>
<html lang="en">
<head>
    <!--#include virtual="common/meta.html" -->
    <title>ACADINE</title>
    <link rel="canonical" href="" />
    <!-- master page include css begin -->
    <!--#include virtual="common/css.html" -->
    <!-- master page include css end -->

    <!-- self page include css begin -->
    <link rel="stylesheet" href="../../public/scripts/plugin/owl.carousel/owl.carousel.css?CSS=20160122_01">
    <link rel="stylesheet" href="../../public/css/product.css?CSS=20160122_01">
    <!-- self page include css end -->
</head>
<body>
    <!-- ==================== l-header begin ==================== -->
    <!--#include virtual="common/header.html" -->
    <!-- ==================== l-header end ==================== -->
    
    <!-- ==================== l-main begin ==================== -->
    <div class="l-main">
        <div class="l-main-hd jQ-translate">
            <div class="m-slider is-full">
                <div class="m-slider-bd jQ-slider" data-dots="true" data-nav="true" data-loop="true">
                    <div class="m-slider-item">
                        <div class="m-slider-frame">
                            <figure class="m-slider-media">
                                <img src="../../public/img/product/poster-01.jpg?IMG=20160122_01" alt="">
                            </figure>
                            <div class="m-slider-caption">
                                <div class="b-text-white">
                                    <p class="b-h2">Powering  Your Smart Devices </p>
                                    <p class="b-h3">HTML5-based scalable OS platform</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="m-slider-item">
                        <div class="m-slider-frame">
                            <figure class="m-slider-media">
                                <img src="../../public/img/product/poster-01.jpg?IMG=20160122_01" alt="">
                            </figure>
                            <div class="m-slider-caption">
                                <div class="b-text-white">
                                    <p class="b-h2">2016<br />MOBILE WORLD CONGRESS</p>
                                    <p class="b-h3">Visit us at hall 7</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="l-main-bd">
            <div class="l-content">
                <ul class="l-content-bd">
                    <li class="is-arrow-right is-gary">
                        <article class="m-article">
                            <div class="m-article-bd is-img-right b-clearfix">
                                <figure class="m-article-img">
                                    <img src="../../public/img/product/article-01.png" alt="">
                                </figure>
                                <div class="m-article-text">
                                    <h3 class="b-text-blue">What is H5OS</h3>
                                    <p class="b-p">H5OS is a dynamic, scalable operating systems software / service platform based on open standard web technologies, that leverages the existing extensive web ecosystem and fosters open participation and enhances device makers’ freedom to innovate. We’ve constructed a horizontal platform with built-in support for core industry standards. It connects and streamlines the diverse IoT ecosystem across fields such as medical, manufacturing, smart Home, automotive and retail. H5OS is a commercially ready, independent OS designed for the next decades of innovation. </p>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="is-arrow-left b-bg-waterblue">
                        <article class="m-article">
                            <div class="m-article-bd is-img-left b-text-white b-clearfix">
                                <figure class="m-article-img">
                                    <img src="../../public/img/product/article-02.jpg" alt="">
                                </figure>
                                <div class="m-article-text">
                                    <h3>Why H5OS is your best solution</h3>
                                    <p class="b-p"><b>Employing Web Technology</b><br>By leveraging HTML5 technology, H5OS is more versatile, adaptable and memory efficient than other existing mobile operating systems. Smart device makers can readily adopt H5OS, both for sophisticated mobile devices as well as lightweight devices such as smart cameras.</p>
                                    <p class="b-p">H5OS embraces open web standards to facilitate cross-platform usability so that apps, contents and services developed for H5OS can be rendered and delivered to other operating systems via their web components.</p>
                                    <p class="b-p"><b>Scalable and Dynamic Design</b><br>H5OS facilitates an environment for smart device makers to develop and commercialize their various product innovations. H5OS is composed of two key products - H5OS Core and H5OS Feature Packs. H5OS Core is a commercialization ready, dynamic OS and service platform where systems and apps can be enhanced on demand. The H5OS Feature Packs target applications and user experience for specific product markets. It currently includes one for mobile devices and one for wearable products.</p>
                                    <p class="b-p"><b>Fast Time to Market</b><br>At the same time, device makers can reduce time to market, integrating a world-class operating system into their products without having to develop a full system themselves. With H5OS, they can focus time and resources on their specialized product differentiators.</p>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="is-arrow-right is-gary">
                        <article class="m-article">
                            <div class="m-article-bd is-img-right b-clearfix">
                                <figure class="m-article-img">
                                    <img src="../../public/img/product/article-03.jpg" alt="">
                                </figure>
                                <div class="m-article-text">
                                    <h3 class="b-text-blue">H5OS Core 1.0 Release</h3>
                                    <p class="b-p">H5OS Core 1.0 includes the latest technologies such as 4G telephony and Voice over LTE. It enables touch and non-touch interfaces, multi-screen experiences and various connectivity and sensor technologies that support the need for a full spectrum of smart devices. The H5OS Core also comes with an open service framework that empowers content and services collaborators: The H5OS Core 1.0 supports all the essential features of smart devices, enabling developers, OEM/ODM and other partners to access H5OS – through the most prevalent reference hardware, such as DragonBoard and Raspberry Pi 2, as well as other commercial solutions. H5OS Core 1.0 is available now for partners interested in making smart devices.</p>
                                </div>
                            </div>
                        </article>
                    </li>
                    <!-- <li class="is-arrow-left b-bg-purple">
                        <article class="m-article b-text-center">
                            <h3 class="b-text-white">Contact us to learn more about our exciting projects</h3>
                        </article>
                        <footer class="m-article-ft">
                            <div class="m-button-group b-text-center">
                                <a href="../../views/blog-list.html" class="m-button b-text-white">Contact Us</a>
                            </div>
                        </footer>
                    </li> -->
                </ul>
            </div>
            <div class="l-side"></div>
        </div>
    </div>
    <!-- ==================== l-main end ==================== -->

    <!-- ==================== l-footer begin ==================== -->
    <div class="l-footer">
        <footer class="m-footer">
            <!--#include virtual="common/footer.html" -->
        </footer>
    </div>
    <!-- ==================== l-footer end ==================== -->
    
    <!-- ==================== l-nav begin ==================== -->
    <!--#include virtual="common/navigation.html" -->
    <!-- ==================== l-nav end ==================== -->
</body>
<!-- master page include js begin -->
<!--#include virtual="common/js_ft.html" -->
<!-- master page include js end -->

<!-- self page include js begin -->
<script type="text/javascript" src="../../public/scripts/plugin/owl.carousel/owl.carousel.min.js?JS=20160122_01" defer></script>
<script type="text/javascript" src="../../public/scripts/js/product.js?JS=20160122_01" defer></script>
<!-- self page include js end -->
</html>