<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/latest-events-detail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body latest-events-detail show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">板橋大遠百</em></a></li>
						<li class="list"><a href="latest-events.html" class="b-link"><em class="text">最新活動</em></a></li>
					</ol>
				</div>
				<div class="m-cut">
					<div class="m-section">
						<header class="m-section-hd b-text-center">
							<div class="post-tools b-clearfix">
								<em class="post-catalog b-middle b-inline"><i class="m-icon m-icon-activity"></i><span class="text">展售活動</span></em>
								<div class="btn-wrap b-middle b-text-right-xs">
									<a href="http://www.facebook.com/share.php?u=https://www.feds.com.tw/" target="_blank" class="btn-tool btn-fb-share jQ-share"><em class="text b-hide-tm b-inline">分享這個活動</em><i class="m-icon m-icon-facebook"></i></a>
									<div class="m-adding-wrap b-inline">
										<button class="btn-tool btn-calendar jQ-open-calendar"><em class="text b-hide-tm b-inline">加入至行事曆</em><i class="m-icon m-icon-calendar-default b-inline"></i></button>
										<div class="calendar-box is-bottom b-text-left">
											<button class="btn-close jQ-close-calendar"><em class="text b-hide-text">關閉</em></button>
											<em class="box-title b-bold b-block">請登入會員加入遠百會員行事曆或選擇以下出現的Google行事曆</em>
											<ul class="selection-list">
												<li class="list">
													<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
														<span class="text">Miguel Wu</span>
													</label>
												</li>
												<li class="list">
													<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
														<span class="text">Sugarfun</span>
													</label>
												</li>
												<li class="list">
													<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox">
														</div>
														<span class="text">Meeting Room</span>
													</label>
												</li>
											</ul>
											<button class="btn-link b-block b-col-dt-12 b-col-xs-12 jQ-close-calendar">加入此行事曆</button>
										</div>
									</div>
								</div>
							</div>
							<h2 class="post-title">開幕94狂 百萬大獎等你抽</h2>
							<div class="activity-period">
								<time datetime="2017/01/12">2017/1/12(四)</time> ~ <time datetime="2017/02/12">2017/2/12(日)</time>
							</div>
						</header>
						<div class="m-section-bd">
							<div class="editor-area b-normalize">
								<img src="../../content/img/latest-events-detail/01.jpg" alt="">
								<ul style="padding-left: 70px; font-size: 14px; line-height: 30px; text-indent: -70px;">
									<li style="list-style: none;">活動期間：2017/01/12(四) ～ 2017/02/12(日)</li>
									<li style="list-style: none;">活動內容：於遠東百貨任一專櫃消費，累計滿1,000元(含)以上，憑當日消費發票，即可兌換「廣豐新天地 抽獎券」乙張單筆消費滿2,000元(含)以上，即可兌換2張抽獎券，以此類推。</li>
									<li style="list-style: none;">兌換地點：B1贈品處 （活動注意事項請見贈品處公告）</li>
								</ul>
								<table width="100%" style="border: 0; border-collapse: collapse;">
									<thead>
										<tr height="60" style="border: 0;">
											<td style="border-top: 1px solid #e1e1e1; border-right: 0; border-bottom: 2px solid #e1e1e1; border-left: 0; font-size: 16px; font-weight: bold; line-height: 26px; text-align: center;">精選獎項</td>
											<td style="padding: 0 20px; border-top: 1px solid #e1e1e1; border-right: 0; border-bottom: 2px solid #e1e1e1; border-left: 0; font-size: 16px; font-weight: bold; line-height: 26px; text-align: center;">01/26抽獎</td>
											<td style="padding: 0 20px; border-top: 1px solid #e1e1e1; border-right: 0; border-bottom: 2px solid #e1e1e1; border-left: 0; font-size: 16px; font-weight: bold; line-height: 26px; text-align: center;">02/13抽獎</td>
										</tr>
									</thead>
									<tbody style="font-size: 14px; line-height: 22px;">
										<tr style="border: 0;">
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; padding-left: 28px;">GOGORO LITE (市價88,000元)</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">共1名</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">共1名</td>
										</tr>
										<tr style="border: 0;">
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; padding-left: 28px;">百威旅行日本本團雙人來回五天四夜(市價70,000元)</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">-</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">-</td>
										</tr>
										<tr style="border: 0;">
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; padding-left: 28px;">iphone 7plus (市價39,000元)</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">共1名</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">共1名</td>
										</tr>
										<tr style="border: 0;">
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; padding-left: 28px;">Panasonic 智慧節能+淨化滾筒洗脫烘衣機 NAV158DDH (價值49,150元)</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">-</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">-</td>
										</tr>
										<tr style="border: 0;">
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; padding-left: 28px;">MACBOOK Air 13吋 (市價38,900元)</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">共1名</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">共1名</td>
										</tr>
										<tr style="border: 0;">
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; padding-left: 28px;">Dyson V8 Fluffy (價值29,900元)</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">-</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; text-align: center;">-</td>
										</tr>
										<tr style="border: 0;">
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; border-bottom: 2px solid #e1e1e1; padding-left: 28px;">日立Fuzzy負離子感溫室濕除濕機 (市價 16,800元)</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; border-bottom: 2px solid #e1e1e1; text-align: center;">共1名</td>
											<td style="padding-top: 7px; padding-bottom: 7px; border: 0; vertical-align: top; border-bottom: 2px solid #e1e1e1; text-align: center;">共1名</td>
										</tr>
									</tbody>
								</table>
								<h4 style="margin-bottom: 0; padding: 0 24px; font-size: 16px; font-weight: bold; line-height: 26px;">注意事項</h4>
								<p style="padding: 0 24px; font-size: 14px; line-height: 24px;">(1)中獎名單將由遠東百貨統一於2017年01月26日及2017年02月13日隨機抽出，並於抽獎當日公布中獎名單於遠東百貨官網及FB粉絲團，中獎人須於2017年01月28日至2017年03月  20日期間持身份證影本至1F服務台領取，未領取者視同放棄，恕無法兌換。<br>(2)本活動獎項為機會中獎類別，中獎人為本國人時，中獎人所得年度累積受贈之贈品價值超過1,001元(含)以上者，應列入中獎人年度綜合所得，遠東百貨於年終結算後將依法開立扣繳憑  單；另中獎獎項價值超過新台幣20,000元(含)以上者，則依法應扣繳10%稅金，中獎人需支付(由遠東百貨代收)；中獎人為外國人(包含外僑及大陸人士)時，由遠東百貨將先行代扣繳20%之稅額，並將代扣稅額寄送至中獎人填寫之地址。<br>(3)活動前及活動期間之消費，若於活動期間刷退重刷，則視為原同筆消費之重複交易行為，故不納入此活動消費回饋。<br>(4)本活動中獎人，若於活動期間內已領取贈品，於活動結束前該筆中獎之消費有刷退或列入爭議款項導致資格不符之卡友，遠東百貨有權取消其獲獎資格，並要求其返還贈品實際價格。<br>(5)贈品以實物為主，中獎人不得要求更換或更換現金。<br>(6)其他未盡事宜以遠東百貨官網或店內公告為主。<br>(7)遠東百貨保留修改、變更、取消本活動之權利。</p>
							</div>
							<div class="btn-wrap b-text-center">
								<a href="latest-events-form.html" class="btn-link btn-main b-col-dt-3 b-col-xs-12 b-inline b-middle"><em class="text">活動報名</em><i class="m-icon m-icon-long-arrow-right"></i></a>
							</div>
						</div>
						<footer class="m-section-ft">
							<div class="link-wrap">
								<a href="javascript:;" class="b-link b-middle"><i class="m-icon m-icon-long-arrow-left"></i><em class="text b-hide-xs">Mitchell & Ness新櫃登場</em></a>
								<a href="latest-events.html" class="b-link b-middle"><i class="m-icon m-icon-return"></i><em class="text b-hide-xs">回活動列表</em></a>
								<a href="javascript:;" class="b-link b-middle"><em class="text b-hide-xs">Nickelodeon聖誕嘉年華</em><i class="m-icon m-icon-long-arrow-right"></i></a>
							</div>
						</footer>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>