<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/latest-events-form.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body latest-events-form show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">板橋大遠百</em></a></li>
						<li class="list"><a href="latest-events.html" class="b-link"><em class="text">最新活動</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">活動報名</em></a></li>
					</ol>
				</div>
				<div class="m-cut">
					<div class="m-section">
						<header class="m-section-hd">
							<ul class="activity-info">
								<li class="list">活動名稱：遠百播音小天使</li>
								<li class="list">報名日期：106／3／9(四) ~ 3／22(三)</li>
								<li class="list">報名資格：歡迎94／3／1 ~ 99／3／1出生之小朋友參加，(每人限報名一家分店，不可重複報名參賽，板橋大遠百限額15名)<br class="b-hide-tm">※報名人數未達到5名，即取消此活動。</li>
							</ul>
						</header>
						<div class="m-section-bd b-clearfix">
							<h3 class="form-title b-text-center">填寫報名資料</h3>
							<div class="m-form b-clearfix">
								<div class="b-col-md-6 b-col-tm-12 b-float-left-md b-clearfix">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events-form/poster.jpg" alt="遠百播音小天使">
									</figure>
								</div>
								<div class="form-area b-col-md-6 b-col-tm-12 b-float-left-md b-clearfix jQ-clear-area">
									<label class="m-lab b-col-dt-6 b-col-xs-12 error">
										<span class="text b-block">選擇店別</span>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="" value="">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">此欄位必填！請輸入店別</span>
									</label>
									<label class="m-lab b-col-dt-6 b-col-xs-12">
										<span class="text b-block">聯絡人姓名</span>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="" value="蔡爸爸">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">此欄位必填！請輸入聯絡人姓名</span>
									</label>
									<label class="m-lab b-col-dt-6 b-col-xs-12">
										<span class="text b-block">聯絡電話</span>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="tel" class="m-inputbox" placeholder="" value="0988945945">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">輸入錯誤！請重新輸入</span>
									</label>
									<label class="m-lab b-col-dt-6 b-col-xs-12">
										<span class="text b-block">E-Mail</span>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="email" class="m-inputbox" placeholder="" value="jolin.915@gmail.com">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">輸入錯誤！請重新輸入</span>
									</label>
									<label class="m-lab b-col-dt-6 b-col-xs-12">
										<span class="text b-block">參賽者家長姓名</span>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="" value="蔡萬才">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">此欄位必填！請輸入家長姓名</span>
									</label>
									<label class="m-lab b-col-dt-6 b-col-xs-12">
										<span class="text b-block">參賽者子女姓名</span>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="" value="蔡依林">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">此欄位必填！請輸入子女姓名</span>
									</label>
									<label class="m-lab b-col-dt-6 b-col-xs-12">
										<span class="text b-block">服務單位</span>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="" value="方形堂">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">此欄位必填！請輸入服務單位</span>
									</label>
									<label class="m-lab b-col-dt-6 b-col-xs-12">
										<span class="text b-block">參加人數</span>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="number" class="m-inputbox" placeholder="" value="2">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">此欄位必填！請輸入參加人數</span>
									</label>
								</div>
							</div>
							<div class="btn-wrap b-text-center">
								<button class="btn-link btn-cancel b-col-md-2 b-col-sm-3 b-inline b-middle jQ-clear-input"><em class="text">清除重填</em></button>
								<a href="latest-events-result.html" class="btn-link btn-main b-col-md-2 b-col-sm-3 b-inline b-middle"><em class="text">確認送出</em><i class="m-icon m-icon-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>