<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/latest-events.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body latest-events-branch show-header show-marquee">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">最新活動</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">最新</em>活動</span>
					<span class="sub-lang">Latest Events</span>
				</h2>
				<div class="m-tab main-tab">
					<ul class="m-tab-wrap">
						<li class="tab-list b-col-dt-6 b-col-xs-6">
							<button class="btn-tab is-curr jQ-tab" data-hushtag="">全台活動</button>
						</li>
						<li class="tab-list b-col-dt-6 b-col-xs-6">
							<button class="btn-tab jQ-tab all-listing" data-hushtag="all-listing">活動一覽</button>
						</li>
					</ul>
					<ul class="m-tab-content">
						<li class="content-list is-curr">
							<div class="m-tab sub-tab">
								<ul class="m-tab-wrap">
									<li class="tab-list">
										<button class="btn-tab is-curr jQ-tab"><em class="text">特別推薦</em></button>
									</li>
									<li class="tab-list">
										<button class="btn-tab jQ-tab"><em class="text">活動預告</em></button>
									</li>
									<li class="tab-list">
										<button class="btn-tab jQ-tab"><em class="text">本週活動</em></button>
									</li>
								</ul>
								<ul class="m-tab-content">
									<li class="content-list is-curr">
										<ul class="activities-list">
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/01.jpg" alt="">
														<figcaption class="desc b-hide-text">Mitchell & Ness新櫃登場</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">Mitchell & Ness新櫃登場</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-new-brand"></i>
													<span class="text">新櫃登場</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/02.jpg" alt="">
														<figcaption class="desc b-hide-text">nickelodeon聖誕嘉年華</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">nickelodeon聖誕嘉年華</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-activity"></i>
													<span class="text">展售活動</span>
												</em>
												<button class="btn-calendar jQ-calendar is-add">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/03.jpg" alt="">
														<figcaption class="desc b-hide-text">Diamond House滿額大方送</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">Diamond House滿額大方送</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">Diamond House珠寶嚴選最優質的鑽石與寶石，秉持品牌一貫的精湛工藝和獨特設計，創造許多經典 .... </p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-gift-o"></i>
													<span class="text">滿額贈送</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/04.jpg" alt="">
														<figcaption class="desc b-hide-text">迪奧 瞬效美肌飾底膏新品上市</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">迪奧 瞬效美肌飾底膏新品上市</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">瞬效美肌飾底膏 售價1,400元</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-new-arrive"></i>
													<span class="text">新品上市</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/05.jpg" alt="">
														<figcaption class="desc b-hide-text">遠百周年慶</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">遠百周年慶</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">就是今天週年慶正式登場馬力來送好禮囉！注意注意即日起至11/11(五)於此貼文下方tag2名好友+ ...</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-member-o"></i>
													<span class="text">會員＆卡友活動</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/06.jpg" alt="">
														<figcaption class="desc b-hide-text">Revitalizing Supreme Plus 年輕肌密無敵霜</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">Revitalizing Supreme Plus 年輕肌密無敵霜</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-card-2"></i>
													<span class="text">信用卡/來店禮</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/07.jpg" alt="">
														<figcaption class="desc b-hide-text">滿三千再送高級電磁爐</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">滿三千再送高級電磁爐</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">PHILIPS飛利浦智慧變頻電磁爐HD4921. 火紅熱銷品！必搶 ◇頂級黑晶面板，防刮耐磨 ◇7大烹飪模式 ... 炒/烤/火鍋/煮湯/蒸/
													</div>粥/煮水) ◇6段火力選擇 ◇2小時定時</p>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-gift-o"></i>
													<span class="text">滿額贈送</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/08.jpg" alt="">
														<figcaption class="desc b-hide-text">YSL 金夜繁星限量彩妝盤</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">YSL 金夜繁星限量彩妝盤</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">Yves Saint Laurent彩妝精準展現品牌最大膽的一面。總是無法預測、令人驚喜萬分。透過不斷地革 ....
													</div> 讓彩妝就如時尚潮流般，絕不一成不變,永遠令人耳目一新。</p>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-member-o"></i>
													<span class="text">會員＆卡友活動</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
										</ul>
									</li>
									<li class="content-list">
										<ul class="activities-list">
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/04.jpg" alt="">
														<figcaption class="desc b-hide-text">迪奧 瞬效美肌飾底膏新品上市</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">迪奧 瞬效美肌飾底膏新品上市</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">瞬效美肌飾底膏 售價1,400元</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-new-arrive"></i>
													<span class="text">新品上市</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/05.jpg" alt="">
														<figcaption class="desc b-hide-text">遠百周年慶</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">遠百周年慶</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">就是今天週年慶正式登場馬力來送好禮囉！注意注意即日起至11/11(五)於此貼文下方tag2名好友+ ...</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-member-o"></i>
													<span class="text">會員＆卡友活動</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/06.jpg" alt="">
														<figcaption class="desc b-hide-text">Revitalizing Supreme Plus 年輕肌密無敵霜</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">Revitalizing Supreme Plus 年輕肌密無敵霜</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-card-2"></i>
													<span class="text">信用卡/來店禮</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
										</ul>
									</li>
									<li class="content-list">
										<ul class="activities-list">
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/07.jpg" alt="">
														<figcaption class="desc b-hide-text">滿三千再送高級電磁爐</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">滿三千再送高級電磁爐</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">PHILIPS飛利浦智慧變頻電磁爐HD4921. 火紅熱銷品！必搶 ◇頂級黑晶面板，防刮耐磨 ◇7大烹飪模式 ... 炒/烤/火鍋/煮湯/蒸/
													</div>粥/煮水) ◇6段火力選擇 ◇2小時定時</p>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-gift-o"></i>
													<span class="text">滿額贈送</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/08.jpg" alt="">
														<figcaption class="desc b-hide-text">YSL 金夜繁星限量彩妝盤</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">YSL 金夜繁星限量彩妝盤</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">Yves Saint Laurent彩妝精準展現品牌最大膽的一面。總是無法預測、令人驚喜萬分。透過不斷地革 ....
													</div> 讓彩妝就如時尚潮流般，絕不一成不變,永遠令人耳目一新。</p>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-member-o"></i>
													<span class="text">會員＆卡友活動</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li class="content-list">
							<div class="m-tab sub-tab">
								<ul class="m-tab-wrap jQ-tag-select">
									<li class="tab-list"><button class="btn-tab is-curr jQ-tab"><em class="text">滿額贈送</em></button></li>
									<li class="tab-list"><button class="btn-tab jQ-tab"><em class="text">信用卡/來店禮</em></button></li>
									<li class="tab-list"><button class="btn-tab jQ-tab"><em class="text">會員＆卡友活動</em></button></li>
									<li class="tab-list"><button class="btn-tab jQ-tab"><em class="text">展售活動</em></button></li>
									<li class="tab-list"><button class="btn-tab jQ-tab"><em class="text">新櫃登場</em></button></li>
									<li class="tab-list"><button class="btn-tab jQ-tab"><em class="text">新品上市</em></button></li>
								</ul>
								<ul class="m-tab-content">
									<li class="content-list is-curr">
										<ul class="activities-list">
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/08.jpg" alt="">
														<figcaption class="desc b-hide-text">YSL 金夜繁星限量彩妝盤</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">YSL 金夜繁星限量彩妝盤</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">Yves Saint Laurent彩妝精準展現品牌最大膽的一面。總是無法預測、令人驚喜萬分。透過不斷地革 ....
													</div> 讓彩妝就如時尚潮流般，絕不一成不變,永遠令人耳目一新。</p>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-member-o"></i>
													<span class="text">會員＆卡友活動</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/02.jpg" alt="">
														<figcaption class="desc b-hide-text">nickelodeon聖誕嘉年華</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">nickelodeon聖誕嘉年華</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-activity"></i>
													<span class="text">展售活動</span>
												</em>
												<button class="btn-calendar jQ-calendar is-add">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/05.jpg" alt="">
														<figcaption class="desc b-hide-text">遠百周年慶</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">遠百周年慶</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">就是今天週年慶正式登場馬力來送好禮囉！注意注意即日起至11/11(五)於此貼文下方tag2名好友+ ...</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-member-o"></i>
													<span class="text">會員＆卡友活動</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/04.jpg" alt="">
														<figcaption class="desc b-hide-text">迪奧 瞬效美肌飾底膏新品上市</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">迪奧 瞬效美肌飾底膏新品上市</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">瞬效美肌飾底膏 售價1,400元</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-new-arrive"></i>
													<span class="text">新品上市</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/07.jpg" alt="">
														<figcaption class="desc b-hide-text">滿三千再送高級電磁爐</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">滿三千再送高級電磁爐</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">PHILIPS飛利浦智慧變頻電磁爐HD4921. 火紅熱銷品！必搶 ◇頂級黑晶面板，防刮耐磨 ◇7大烹飪模式 ... 炒/烤/火鍋/煮湯/蒸/
													</div>粥/煮水) ◇6段火力選擇 ◇2小時定時</p>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-gift-o"></i>
													<span class="text">滿額贈送</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/06.jpg" alt="">
														<figcaption class="desc b-hide-text">Revitalizing Supreme Plus 年輕肌密無敵霜</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">Revitalizing Supreme Plus 年輕肌密無敵霜</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-card-2"></i>
													<span class="text">信用卡/來店禮</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/09.jpg" alt="">
														<figcaption class="desc b-hide-text">3NITY永三潮流複合櫃新櫃登場</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">3NITY永三潮流複合櫃新櫃登場</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">全新複合式店鋪3NITY，追求高品質及不斷的創新突破，店內匯集來自世界多國的時尚潮流品牌，不 .... 春休閒或者輕熟質感，體現出完美生活的精緻風格及潮流性格</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-new-brand"></i>
													<span class="text">新櫃登場</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/03.jpg" alt="">
														<figcaption class="desc b-hide-text">Diamond House滿額大方送</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">Diamond House滿額大方送</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">Diamond House珠寶嚴選最優質的鑽石與寶石，秉持品牌一貫的精湛工藝和獨特設計，創造許多經典 .... </p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-gift-o"></i>
													<span class="text">滿額贈送</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/01.jpg" alt="">
														<figcaption class="desc b-hide-text">Mitchell & Ness新櫃登場</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">Mitchell & Ness新櫃登場</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-new-brand"></i>
													<span class="text">新櫃登場</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
										</ul>
									</li>
									<li class="content-list">
										<ul class="activities-list">
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/05.jpg" alt="">
														<figcaption class="desc b-hide-text">遠百周年慶</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">遠百周年慶</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">就是今天週年慶正式登場馬力來送好禮囉！注意注意即日起至11/11(五)於此貼文下方tag2名好友+ ...</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-member-o"></i>
													<span class="text">會員＆卡友活動</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
										</ul>
									</li>
									<li class="content-list">
										<ul class="activities-list">
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/03.jpg" alt="">
														<figcaption class="desc b-hide-text">Diamond House滿額大方送</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">Diamond House滿額大方送</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">Diamond House珠寶嚴選最優質的鑽石與寶石，秉持品牌一貫的精湛工藝和獨特設計，創造許多經典 .... </p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-gift-o"></i>
													<span class="text">滿額贈送</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/01.jpg" alt="">
														<figcaption class="desc b-hide-text">Mitchell & Ness新櫃登場</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">Mitchell & Ness新櫃登場</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-new-brand"></i>
													<span class="text">新櫃登場</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
										</ul>
									</li>
									<li class="content-list">
										<ul class="activities-list">
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/02.jpg" alt="">
														<figcaption class="desc b-hide-text">nickelodeon聖誕嘉年華</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">nickelodeon聖誕嘉年華</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-activity"></i>
													<span class="text">展售活動</span>
												</em>
												<button class="btn-calendar jQ-calendar is-add">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
										</ul>
									</li>
									<li class="content-list">
										<ul class="activities-list">
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/07.jpg" alt="">
														<figcaption class="desc b-hide-text">滿三千再送高級電磁爐</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">滿三千再送高級電磁爐</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">PHILIPS飛利浦智慧變頻電磁爐HD4921. 火紅熱銷品！必搶 ◇頂級黑晶面板，防刮耐磨 ◇7大烹飪模式 ... 炒/烤/火鍋/煮湯/蒸/
													</div>粥/煮水) ◇6段火力選擇 ◇2小時定時</p>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-gift-o"></i>
													<span class="text">滿額贈送</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
										</ul>
									</li>
									<li class="content-list">
										<ul class="activities-list">
											<li class="list">
												<a href="javascript:;" class="b-link">
													<figure class="img-wrap">
														<img src="../../content/img/latest-events/acts/09.jpg" alt="">
														<figcaption class="desc b-hide-text">3NITY永三潮流複合櫃新櫃登場</figcaption>
													</figure>
													<div class="act-info">
														<h3 class="act-title">3NITY永三潮流複合櫃新櫃登場</h3>
														<span class="act-time"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span>
														<p class="desc">全新複合式店鋪3NITY，追求高品質及不斷的創新突破，店內匯集來自世界多國的時尚潮流品牌，不 .... 春休閒或者輕熟質感，體現出完美生活的精緻風格及潮流性格</p>
													</div>
												</a>
												<em class="act-type">
													<i class="m-icon m-icon-new-brand"></i>
													<span class="text">新櫃登場</span>
												</em>
												<button class="btn-calendar jQ-calendar">
													<i class="m-icon m-icon-calendar-default"></i>
													<em class="text b-hide-text">加入行事曆</em>
												</button>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>