<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/latest-events-fail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body latest-events-fail show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">板橋大遠百</em></a></li>
						<li class="list"><a href="latest-events.html" class="b-link"><em class="text">最新活動</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">活動報名</em></a></li>
					</ol>
				</div>
				<div class="m-cut">
					<div class="m-section">
						<header class="m-section-hd">
							<ul class="activity-info">
								<li class="list">活動名稱：遠百播音小天使</li>
								<li class="list">報名日期：106／3／9(四) ~ 3／22(三)</li>
								<li class="list">報名資格：歡迎94／3／1 ~ 99／3／1出生之小朋友參加，(每人限報名一家分店，不可重複報名參賽，板橋大遠百限額15名)<br class="b-hide-tm">※報名人數未達到5名，即取消此活動。</li>
							</ul>
						</header>
						<div class="m-section-bd b-clearfix">
							<h3 class="form-title b-text-center">填寫報名資料</h3>
							<div class="m-form b-col-md-12 b-col-tm-12 b-clearfix">
								<div class="b-col-md-6 b-col-tm-12 b-float-left-md b-clearfix">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events-form/poster.jpg" alt="遠百播音小天使">
									</figure>
								</div>
								<div class="result-area b-col-md-6 b-col-tm-12 b-float-left-md b-clearfix">
									<div class="main-result b-col-dt-12 b-col-xs-12 b-text-center">
										<em class="result-response b-block b-middle">
											<i class="m-icon m-icon-sad"></i>
											<span class="result-text">很抱歉！！</span>
										</em>
									</div>
									<div class="m-lab b-col-dt-12 b-col-xs-12 b-text-center-sm">
										<span class="text">本梯次活動已經額滿，請您另選其他梯次或其他活動進行報名。</span>
									</div>
								</div>
							</div>
							<div class="btn-wrap b-text-center">
								<a href="my-calendar.html" class="btn-link btn-sub b-col-md-2 b-col-sm-3 b-inline b-middle"><em class="text">我的行事曆</em></a>
								<a href="latest-events.html" class="btn-link btn-main b-col-md-2 b-col-sm-3 b-inline b-middle"><em class="text">最新活動</em></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>