.m-breadcrumb_ {
    margin        : -25px -25px 20px -25px;
    padding-left  : 20px;
    padding-right : 20px;
    text-overflow : ellipsis;
    white-space   : nowrap;
    border-bottom : 1px solid lighten($border-major-color , 45%);
    background    : $color-white;
    position      : relative;
    @include box-sizing(border-box);

    > li {
        padding-left : 25px;
        font-size    : 40px;
        height       : 39px;
        line-height  : 39px;
        position     : relative;
        float        : left;
        @include clearfix;

        &:before {
            top          : 0;
            left         : 0;
            margin-right : -5px;
            margin-left  : -10px;
            color        : lighten($border-major-color , 45%);
            text-align   : center;
            width        : 25px;
            height       : 100%;
            position     : absolute;
            @include clearfix;
        }

        &:first-child {
            padding-left : 0 !important;

            &:before {
                display : none;
            }
        }

        > a , > em {
            font    : 13px/43px $font-family;
            color   : $text-major-color;
            @include display(block);
            @include transition(color $transition-times);
        }

        > a {
            &:hover {
                color : $major-color;
            }
        }
    }
}