.m-form_ {
    margin      : 0;
    padding     : 0;
    font-family : $font-family;
    color       : $text-major-color;
    border      : 0;
    outline     : none;
    position    : relative;
    @include readonly;
    @include disabled;

    &.m-form-ctrl_ {
        margin-bottom : 3px;
        padding       : 10px;
        font-size     : 15px;
        width         : 100%;
        line-height   : 20px;
        background    : $color-white;
        border        : 1px solid lighten($border-minor-color , 15%);
        @include autofill();
        @include placeholder();
        @include box-sizing(border-box);
        @include border-radius($form-border-radius);
        @include box-shadow(rgba($color-black , .15) 2px 2px 3px);

        @at-root {
            select#{&} {
                margin-bottom  : 0;
                padding-top    : 9px;
                padding-bottom : 9px;
                padding-right  : 50px;
                background     : transparent;
                white-space    : nowrap;
                @include appearance(none);

                option {
                    margin  : 0;
                    padding : 0;
                    width   : 100%;
                    @include disabled;
                    @include box-sizing(border-box);
                }
            }

            textarea#{&} {
                height : 150px;
                resize : none;

                &.is-resize {
                    resize : both;
                }

                &.is-resize-V {
                    resize : vertical;
                }

                &.is-resize-H {
                    resize : horizontal;
                }
            }
        }
    }
}

.m-form-box_ {
    margin-right : 10px;
    padding      : 10px 0;
    position     : relative;
    @include inline-block;

    &.is-V {
        @include display(block);
    }

    > label {
        @include inline-block;

        .m-icon-stack_ {
            .m-icon_ {
                &.m-icon-check-square-o_ , &.m-icon-dot-circle-o_ {
                    display : none;
                }

                &.m-icon-square-o_ , &.m-icon-dot-circle_ {
                    @include display(block);
                }
            }
        }
        
        > .m-form_ {
            top      : 0;
            left     : -99999px;
            position : absolute;

            &:checked ~ .m-icon-stack_ {
                .m-icon_ {
                    &.m-icon-check-square-o_ , &.m-icon-dot-circle-o_ {
                        @include display(block);
                    }

                    &.m-icon-square-o_ , &.m-icon-dot-circle_ {
                        display : none;
                    }
                }
            }
        }
    }
}

.m-form-select_ {
    margin-bottom : 3px;
    width         : 100%;
    background    : $color-white;
    position      : relative;
    @include box-sizing(border-box);
    @include border-radius($form-border-radius);

    &:before {
        content      : "";
        top          : 50%;
        right        : 20px;
        margin-top   : -3px;
        width        : 0;
        height       : 0;
        border-width : 8px 6px 0 6px;
        border-style : solid;
        border-color : darken($text-major-color , 20%) transparent transparent transparent;
        position     : absolute;
        z-index      : 1;
    }

    .m-form_ {
        z-index : 2;
    }
}

.m-form-addon_ {
    @include box-sizing(border-box);
}

.m-form-validate_ {
    color      : $color-white;
    text-align : left;
    @include display(block);

    > * {
        @include display(block);
    }
}