.m-form-group_ {
	position : relative;
}

.m-form-group-list_ {
	position : relative;

	> li {
		margin-top : 10px;
		width      : 100%;
		@include display(table);

		&:first-child {
			margin-top : 0;
		}

		&.is-V {
			@include display(block);

			> .m-form-addon_ {
				&:first-child {
					margin-bottom : 5px;
					@include display(block);
				}
			}
		}

		> .m-form-addon_ {
			padding-right : 5px;
			padding-left  : 5px;
			width         : 1%;
			white-space   : nowrap;
			@include display(table-cell);

			&:first-child {
				padding-left : 0;
			}

			&:last-child {
				padding-right : 0;
			}
		}
	}
}

.m-form-group-frame_ {
	width       : 100%;
	white-space : nowrap;
	@include display(table);

	> .m-form-addon_ {
		padding-right : 5px;
		padding-left  : 5px;
		width         : 1%;
		white-space   : nowrap;
		@include display(table-cell);
	}
}

.m-form-group-item_ {
	width : 100%;
	@include display(table-cell);
}