$FontNum : 2015052701;

@font-face {
	font-family : 'FontAdmin';
	src         : font-url('FontAdmin.eot?#{$FontNum}');
	src         : font-url('FontAdmin.eot?#iefix#{$FontNum}') format('embedded-opentype'),
				  font-url('FontAdmin.woff?#{$FontNum}') format('woff'),
				  font-url('FontAdmin.ttf?#{$FontNum}') format('truetype'),
				  font-url('FontAdmin.svg?#{$FontNum}#skmFount') format('svg');
	font-weight : normal;
	font-style  : normal;
}

.m-icon_ {
	margin         : 0;
	padding        : 0;
	font-family    : 'FontAdmin';
	speak          : none;
	font-style     : normal;
	font-weight    : normal;
	font-variant   : normal;
	text-transform : none;
	line-height    : 1;
	@include inline-block;
	@include box-sizing(border-box);

	/* Better Font Rendering =========== */
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;

	&:before , &:after {
		@include box-sizing(border-box);
	}
}

.m-icon-close_:before {
	content: "\00d7"
}

/* fonts icon */
.m-icon-align-center_:before {
	content: "\e600";
}
.m-icon-align-left_:before {
	content: "\e601";
}
.m-icon-align-right_:before {
	content: "\e602";
}
.m-icon-android_:before {
	content: "\e603";
}
.m-icon-angle-down_:before {
	content: "\e604";
}
.m-icon-angle-left_:before {
	content: "\e605";
}
.m-icon-angle-right_:before {
	content: "\e606";
}
.m-icon-angle-up_:before {
	content: "\e607";
}
.m-icon-apple_:before {
	content: "\e608";
}
.m-icon-breadcrumb-left_:before {
	content: "\e609";
}
.m-icon-breadcrumb-right_:before {
	content: "\e60a";
}
.m-icon-calendar_:before {
	content: "\e60b";
}
.m-icon-check_:before {
	content: "\e60c";
}
.m-icon-check-circle_:before {
	content: "\e60d";
}
.m-icon-check-square-o_:before {
	content: "\e60e";
}
.m-icon-circle_:before {
	content: "\e60f";
}
.m-icon-circle-o_:before {
	content: "\e610";
}
.m-icon-cloud-upload_:before {
	content: "\e611";
}
.m-icon-cog:before {
	content: "\e612";
}
.m-icon-css3_:before {
	content: "\e613";
}
.m-icon-dot-circle_:before {
	content: "\e614";
}
.m-icon-dot-circle-o_:before {
	content: "\e615";
}
.m-icon-envelope_:before {
	content: "\e616";
}
.m-icon-export_:before {
	content: "\e617";
}
.m-icon-eye_:before {
	content: "\e618";
}
.m-icon-eye-slash_:before {
	content: "\e619";
}
.m-icon-facebook_:before {
	content: "\e61a";
}
.m-icon-facebook-circle_:before {
	content: "\e61b";
}
.m-icon-google_:before {
	content: "\e61c";
}
.m-icon-google-plus_:before {
	content: "\e61d";
}
.m-icon-google-plus-square_:before {
	content: "\e61e";
}
.m-icon-html5_:before {
	content: "\e61f";
}
.m-icon-image_:before {
	content: "\e620";
}
.m-icon-instagram_:before {
	content: "\e621";
}
.m-icon-line_:before {
	content: "\e622";
}
.m-icon-line-square_:before {
	content: "\e623";
}
.m-icon-lock_:before {
	content: "\e624";
}
.m-icon-member_:before {
	content: "\e625";
}
.m-icon-minus_:before {
	content: "\e626";
}
.m-icon-minus-circle_:before {
	content: "\e627";
}
.m-icon-minus-square_:before {
	content: "\e628";
}
.m-icon-minus-square-o_:before {
	content: "\e629";
}
.m-icon-pencil-square-o_:before {
	content: "\e62a";
}
.m-icon-plus_:before {
	content: "\e62b";
}
.m-icon-plus-circle_:before {
	content: "\e62c";
}
.m-icon-plus-square_:before {
	content: "\e62d";
}
.m-icon-plus-square-o_:before {
	content: "\e62e";
}
.m-icon-qrcode_:before {
	content: "\e62f";
}
.m-icon-question-circle_:before {
	content: "\e630";
}
.m-icon-search_:before {
	content: "\e631";
}
.m-icon-slide-left_:before {
	content: "\e632";
}
.m-icon-slide-right_:before {
	content: "\e633";
}
.m-icon-square-o_:before {
	content: "\e634";
}
.m-icon-times_:before {
	content: "\e635";
}
.m-icon-trash_:before {
	content: "\e636";
}
.m-icon-trash-o_:before {
	content: "\e637";
}
.m-icon-twitter_:before {
	content: "\e638";
}
.m-icon-warning_:before {
	content: "\e639";
}
.m-icon-windows_:before {
	content: "\e63a";
}
.m-icon-youtube_:before {
	content: "\e63b";
}
.m-icon-youtube-square_:before {
	content: "\e63c";
}