.m-section_ {
    position : relative;
}

.m-section-hd_ {
    margin-bottom : 20px;
    position      : relative;
}

.m-section-bd_ {
    position : relative;

    > li {
        margin-top : 20px;
        padding    : 15px 20px;
        border     : 1px solid lighten($border-major-color , 45%);
        border-top : 2px solid $minor-color;
        background : $color-white;
        position   : relative;
        @include clearfix;
        @include border-radius($module-border-radius);

        &:first-child {
            margin-top : 0;
        }

        > * {
            margin-top : 15px;

            &:first-child {
                margin-top : 0;
            }
        }
    }
}