<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body faq show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">常見</em>問題</span>
					<span class="sub-lang">membership registration</span>
				</h2>
				<div class="content-wrap">
					<div class="m-tab main-tab">
						<ul class="m-tab-wrap jQ-tag-select">
							<li class="tab-list b-col-dt-3 b-col-xs-3">
								<button class="btn-tab is-curr jQ-tab" data-hushtag="">會員/購物金/折價券</button>
							</li>
							<li class="tab-list b-col-dt-3 b-col-xs-3">
								<button class="btn-tab jQ-tab" data-hushtag="">付款／發票問題</button>
							</li>
							<li class="tab-list b-col-dt-3 b-col-xs-3">
								<button class="btn-tab jQ-tab" data-hushtag="">商品／退換問題</button>
							</li>
							<li class="tab-list b-col-dt-3 b-col-xs-3">
								<button class="btn-tab jQ-tab" data-hushtag="">運送問題</button>
							</li>
						</ul>
						<ul class="m-tab-content">
							<li class="content-list is-curr">
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q1. 請問如何加入會員？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q2. 請問忘記密碼怎麼辦？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q3. 請問購物金有什麼使用規則嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q4. 請問電子折價券有什麼使用規則嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q5. 請問如何登入會員？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q6. 若訂單交易失敗、取消訂單、退貨完成，所折抵的購物金、電子折價券何時還回？若訂單交易失敗、取消訂單、退貨完成，所折抵的購物金、電子折價券何時還回？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
							</li>
							<li class="content-list">
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q2. 請問忘記密碼怎麼辦？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q4. 請問電子折價券有什麼使用規則嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q5. 請問如何登入會員？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q6. 若訂單交易失敗、取消訂單、退貨完成，所折抵的購物金、電子折價券何時還回？若訂單交易失敗、取消訂單、退貨完成，所折抵的購物金、電子折價券何時還回？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
							</li>
							<li class="content-list">
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q1. 請問如何加入會員？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q5. 請問如何登入會員？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q6. 若訂單交易失敗、取消訂單、退貨完成，所折抵的購物金、電子折價券何時還回？若訂單交易失敗、取消訂單、退貨完成，所折抵的購物金、電子折價券何時還回？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<ol class="order-list">
											<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
											<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
										</ol>
									</div>
								</div>
							</li>
							<li class="content-list"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>