<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body faq show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">常見</em>問題</span>
					<span class="sub-lang">membership registration</span>
				</h2>
				<div class="content-wrap">
					<div class="m-tab main-tab">
						<ul class="m-tab-wrap jQ-tag-select">
							<li class="tab-list b-col-dt-3 b-col-xs-3">
								<button class="btn-tab is-curr jQ-tab" data-hushtag="">會員／購物金／折價券</button>
							</li>
							<li class="tab-list b-col-dt-3 b-col-xs-3">
								<button class="btn-tab jQ-tab" data-hushtag="payment">付款／發票問題</button>
							</li>
							<li class="tab-list b-col-dt-3 b-col-xs-3">
								<button class="btn-tab jQ-tab" data-hushtag="merchandise">商品／退換問題</button>
							</li>
							<li class="tab-list b-col-dt-3 b-col-xs-3">
								<button class="btn-tab jQ-tab" data-hushtag="delivery">運送問題</button>
							</li>
						</ul>
						<ul class="m-tab-content">
							<li class="content-list is-curr">
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q1. 如何加入會員？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">只需於本網站憑電子郵件信箱註冊即可加入會員，我們將透過電子郵件完成認證，方能啟動會員功能。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q2. 購物一定要加入會員嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">於本網站線上購物消費，請先加入會員再開始購物，可享有多項會員服務。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q3. 加入會員需要付費嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">我們的會員功能不收取任何入會的費用，只需於註冊時輸入相關個人資料即可加入會員。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q4. 如何修改個人資料及密碼？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">由於基本資料及密碼是會員之個人隱私，為保障會員基本資料之安全，請自行於本網站『我的帳戶』中修改。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q5. 可以修改帳號嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">由於會員帳號與訂購記錄等資料息息相關，故無法更改。若您欲修改帳號，請先申請「刪除帳號」再重新申請。但您刪除後的購物金、生日禮金將不再另行補發。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q6. 可以刪除帳號嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">請來函或來電至遠東百貨客服，告知刪除帳號原因並附上基本資料，我們將於收到您提供的資料後，與您聯絡確認。</p>
											<p class="list">提供資料包含：姓名、會員帳號、連絡電話、電子郵件信箱、會員地址及正確的出生年月。</p>
											<p class="list">※帳號刪除後，會員所有的訂購記錄（包含取消、退款… 等資料）亦將一併刪除，日後遠東百貨將無法自會員刪除的帳號中查詢到各種資料。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q7. 忘記帳號密碼怎麼辦？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">請透過本網站「忘記密碼」辦理。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q8. 我想重新申請會員，卻出現已申請過的訊息？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">一個電子郵件信箱僅能申請一組會員帳號，因此若會員忘記密碼，請連結至「忘記密碼」查詢，不需重新申請新帳號。若仍無法查詢，請發函至客服信箱，並於來信中提供姓名、出生年月、當初登錄會員時所留的地址及連絡電話，我們將儘速回覆您！</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q9. 我要如何獲得購物金？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">只要於本網站線上購物單次消費每滿 100 元，即可獲得 1 元購物金，若不滿 100 元，則不贈送購物金；若單次消費超過 100 元，且不滿次個累計門檻時，剩餘金額不得併入下次累計計算。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q10. 我要如何查詢購物金？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">您可登入本網站會員後，於「我的帳戶」下「點數/購物」做查詢。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q11. 購物金有什麼使用規則嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">每筆網路會員獨享之折抵優惠皆有其生效日期、到期日期，您可於遠東百貨官網中登入會員後於「我的帳戶」下「點數/購物」做查詢，未在截止日期前使用完畢之點數/購物金將自動失效，逾期將不再補發。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q12. 若訂單交易失敗、取消訂單、退貨完成，所折抵的購物金是否會退還？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">凡交易失敗、取消訂單，或辦理退貨完成，我們將退回您購物時折抵的消費累計購物金，但入會時所獲得之購物金及生日禮金，若於購物後辦理訂單取消或退貨，則將不另行補發。</p>
										</div>
									</div>
								</div>
							</li>
							<li class="content-list">
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q1. 請問我可以選擇甚麼樣的付款方式？可以貨到付款嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">本網站僅提供「線上刷卡」服務，尚未開放「到貨付款」的服務。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q2. 若選擇刷卡付款可以分期嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">本網站僅提供「一次付清」的服務，尚未開放「分期付款」的服務。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q3. 我可以到何處查看電子發票？若中獎該如何兌獎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">您可於「我的帳戶」中查詢您的交易紀錄，若有中獎金發票請透過本網站「聯絡我們」中申請紙本發票，遠東百貨將不負責任何發票中獎之通知。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q4. 選擇「電子發票」後，若想要索取紙本發票怎麼辦？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">請透過本網站「聯絡我們」中申請紙本發票。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q5. 如何選擇開立三聯式發票？（發票需抬頭統編或報帳需要）</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">請於購物結帳時選取「公司用電子發票(發票証明聯)」並輸入公司相關資料即可。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q6. 信用卡付款有卡別或發卡銀行的限制嗎？線上付款安全嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">本網站提供 VISA、Master、JCB 三種卡別，並採用與銀行同級的 SSL128 加密機制，最能保障您個人資料的傳輸安全，刷卡時將以亂碼型態傳送至銀行端進行認證授權，同時本網站亦不會保留您的卡號，請您安心付款。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q7. 請問退款時間大概多久？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">我們將於收到您退貨之商品、折讓單，並確認無誤後開始辦理退款，並於五個工作天內完成退款作業。</p>
										</div>
									</div>
								</div>
							</li>
							<li class="content-list">
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q1. 若我收到的商品有瑕疵，該如何處理？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">您可於本網站「我的帳戶」的「交易紀錄查詢」中辦理「換貨」服務。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q2. 我收到商品後若不喜歡，可以退貨嗎？要怎麼申請？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">您可於本網站「我的帳戶」的「交易紀錄查詢」中辦理「退貨」服務。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q3. 退換貨需要在幾天內進行申請呢？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">請於收到貨物後7天內辦理退貨。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q4. 美妝/保健/貼身衣物類或是食品類商品，在退換貨方面有其他的規定嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">凡拆封之美妝、保健、貼身衣物類或是食品類商品，將恕不提供退換貨之服務。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q5. 下完訂單後，我要怎麼知道我的訂單狀態呢？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">您可於本網站「我的帳戶」的「交易紀錄查詢」中查詢。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q6. 收到商品後，我只想退掉其中一樣可以嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">本網站目前不提供單一品項之退貨服務。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q7. 我可以在訂單成立後，要求更改訂購數量或配送地址嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">請可透過本網站「聯絡我們」辦理，若商品已寄送則無法變更。</p>
										</div>
									</div>
								</div>
							</li>
							<li class="content-list">
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q1. 請問我可以選擇何種配送方式？可以指定收件時間嗎？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">本網站線上購物目前提供「宅配（限國內）」進「到店取貨」服務，若需指定時間，請於結帳時於「備註」欄做填寫，亦可於出貨前透過「聯絡我們」辦理申請。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q2. 請問我要在哪裡看配送進度？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">您可於本網站「我的帳戶」的「交易紀錄查詢」中查詢。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q3. 請問我的訂單會收到幾個包裹？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">本網站線上購物商品皆由遠東百貨各分店提供，若您的訂單中包含兩家（含）以上分店所提供之商品，則將至少會收到兩件包裹。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q4. 請問我在遠百線上購物確認訂單後，多久可以收到商品？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">本網站線上購物將於收到您的訂單後 5 個工作天內完成出貨，並透過合作之宅配業者於 5 天內完成配送。</p>
										</div>
									</div>
								</div>
								<div class="m-accordion">
									<div class="m-accordion-hd">
										<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q5. 如果訂單確認後遲遲未收到商品該怎麼辦？</button></h3>
									</div>
									<div class="m-accordion-bd">
										<div class="order-list">
											<p class="list">您可透過本網站「聯絡我們」或致電遠東百貨客服查詢。</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>