<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body gift-center-detail show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="gift-center-detail.html" class="b-link"><em class="text">贈獎專區</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">贈獎</em>專區</span>
					<span class="sub-lang">Gift Center</span>
				</h2>
				<div class="content-wrap">
					<div class="main-content">
						<div class="sheet">
							<ul class="info-list">
								<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
									<em class="info-title b-block">活動名稱</em>
									<span class="info-desc b-block">Pepper機器人動感抽獎</span>
								</li>
								<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
									<em class="info-title b-block">領獎地點</em>
									<span class="info-desc b-block">3/10前中獎者本人攜FB載具至3F 客服中心領取</span>
								</li>
								<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
									<em class="info-title b-block">活動日期</em>
									<span class="info-desc b-block">2017/2/17 ~ 2017/2/28</span>
								</li>
								<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
									<em class="info-title b-block">領獎方式</em>
									<span class="info-desc b-block">限親領不郵寄</span>
								</li>
								<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
									<em class="info-title b-block">活動網址</em>
									<span class="info-desc b-block"><a href="https://www.feds.com.tw/store/gift.aspx?store=15&gift=888" class="b-link">https://www.feds.com.tw/store/gift.aspx?store=15&gift=888</a></span>
								</li>
								<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
									<em class="info-title b-block">活動內容</em>
									<span class="info-desc b-block">粉絲團按讚+分享抽 LowrysFarm俏皮傘10把</span>
								</li>
							</ul>
						</div>
						<div class="sheet">
							<ul class="info-list">
								<li class="list b-col-dt-6 b-col-xs-12">
									<em class="info-title b-block">分公司</em>
									<span class="info-desc b-block">板橋大遠百</span>
								</li>
								<li class="list b-col-dt-6 b-col-xs-12">
									<em class="info-title b-block">抽獎日期</em>
									<span class="info-desc b-block">2017/03/17</span>
								</li>
							</ul>
						</div>
						<div class="sheet">
							<h3 class="sheet-title b-text-center">得獎名單</h3>
							<table class="m-table table-rotate b-col-dt-12">
								<thead>
									<tr>
										<td class="b-col-dt-2 b-text-center"><em class="info-title">獎項名稱</em></td>
										<td class="b-col-dt-2 b-text-center"><em class="info-title">獎項內容</em></td>
										<td class="b-col-dt-2 b-text-center"><em class="info-title">獎券號碼</em></td>
										<td class="b-col-dt-2 b-text-center"><em class="info-title">姓名</em></td>
										<td class="b-col-dt-2 b-text-center"><em class="info-title">電話</em></td>
										<td class="b-col-dt-2 b-text-center"><em class="info-title">E-Mail</em></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="b-text-center" data-label="獎項名稱"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎項內容"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎券號碼"><em class="text b-text-left-xs">12345678</em></td>
										<td class="b-text-center" data-label="姓名"><em class="text b-text-left-xs">周**</em></td>
										<td class="b-text-center" data-label="電話"><em class="text b-text-left-xs">09**123***</em></td>
										<td class="b-text-center" data-label="E-Mail"><em class="text b-text-left-xs">jay.****@gmail.com</em></td>
									</tr>
									<tr>
										<td class="b-text-center" data-label="獎項名稱"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎項內容"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎券號碼"><em class="text b-text-left-xs">12345678</em></td>
										<td class="b-text-center" data-label="姓名"><em class="text b-text-left-xs">周**</em></td>
										<td class="b-text-center" data-label="電話"><em class="text b-text-left-xs">09**123***</em></td>
										<td class="b-text-center" data-label="E-Mail"><em class="text b-text-left-xs">jay.****@gmail.com</em></td>
									</tr>
									<tr>
										<td class="b-text-center" data-label="獎項名稱"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎項內容"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎券號碼"><em class="text b-text-left-xs">12345678</em></td>
										<td class="b-text-center" data-label="姓名"><em class="text b-text-left-xs">周**</em></td>
										<td class="b-text-center" data-label="電話"><em class="text b-text-left-xs">09**123***</em></td>
										<td class="b-text-center" data-label="E-Mail"><em class="text b-text-left-xs">jay.****@gmail.com</em></td>
									</tr>
									<tr>
										<td class="b-text-center" data-label="獎項名稱"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎項內容"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎券號碼"><em class="text b-text-left-xs">12345678</em></td>
										<td class="b-text-center" data-label="姓名"><em class="text b-text-left-xs">周**</em></td>
										<td class="b-text-center" data-label="電話"><em class="text b-text-left-xs">09**123***</em></td>
										<td class="b-text-center" data-label="E-Mail"><em class="text b-text-left-xs">jay.****@gmail.com</em></td>
									</tr>
									<tr>
										<td class="b-text-center" data-label="獎項名稱"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎項內容"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎券號碼"><em class="text b-text-left-xs">12345678</em></td>
										<td class="b-text-center" data-label="姓名"><em class="text b-text-left-xs">周**</em></td>
										<td class="b-text-center" data-label="電話"><em class="text b-text-left-xs">09**123***</em></td>
										<td class="b-text-center" data-label="E-Mail"><em class="text b-text-left-xs">jay.****@gmail.com</em></td>
									</tr>
									<tr>
										<td class="b-text-center" data-label="獎項名稱"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎項內容"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎券號碼"><em class="text b-text-left-xs">12345678</em></td>
										<td class="b-text-center" data-label="姓名"><em class="text b-text-left-xs">周**</em></td>
										<td class="b-text-center" data-label="電話"><em class="text b-text-left-xs">09**123***</em></td>
										<td class="b-text-center" data-label="E-Mail"><em class="text b-text-left-xs">jay.****@gmail.com</em></td>
									</tr>
									<tr>
										<td class="b-text-center" data-label="獎項名稱"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎項內容"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎券號碼"><em class="text b-text-left-xs">12345678</em></td>
										<td class="b-text-center" data-label="姓名"><em class="text b-text-left-xs">周**</em></td>
										<td class="b-text-center" data-label="電話"><em class="text b-text-left-xs">09**123***</em></td>
										<td class="b-text-center" data-label="E-Mail"><em class="text b-text-left-xs">jay.****@gmail.com</em></td>
									</tr>
									<tr>
										<td class="b-text-center" data-label="獎項名稱"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎項內容"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎券號碼"><em class="text b-text-left-xs">12345678</em></td>
										<td class="b-text-center" data-label="姓名"><em class="text b-text-left-xs">周**</em></td>
										<td class="b-text-center" data-label="電話"><em class="text b-text-left-xs">09**123***</em></td>
										<td class="b-text-center" data-label="E-Mail"><em class="text b-text-left-xs">jay.****@gmail.com</em></td>
									</tr>
									<tr>
										<td class="b-text-center" data-label="獎項名稱"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎項內容"><em class="text b-text-left-xs">LowrysFarm俏皮傘</em></td>
										<td class="b-text-center" data-label="獎券號碼"><em class="text b-text-left-xs">12345678</em></td>
										<td class="b-text-center" data-label="姓名"><em class="text b-text-left-xs">周**</em></td>
										<td class="b-text-center" data-label="電話"><em class="text b-text-left-xs">09**123***</em></td>
										<td class="b-text-center" data-label="E-Mail"><em class="text b-text-left-xs">jay.****@gmail.com</em></td>
									</tr>
								</tbody>
							</table>
							<div class="precautions">
								<p class="info-title b-bold">注意事項：</p>
								<ol class="order-list">
									<li class="list">活動期間不限參加次數，離開贈品處後若要再參加抽獎，需憑新消費之銷貨明細表方可再次扣點兌換。</li>
									<li class="list">銷貨明細表上需出示卡號方可參加扣點抽獎活動，當天扣點，僅限參加當日之抽獎活動，不得跨日抽獎。</li>
									<li class="list">台北北投雅樂軒酒店住宿券及餐飲抵用券(面額600元)，使用期限至2017.07.31止，逾期恕不受理，國定假日恕無法使用且不得與其他優惠合併使用，其他限制請詳見券上說明。</li>
								</ol>
							</div>
						</div>
						<div class="link-wrap">
							<a href="javascript:;" class="b-link b-middle"><i class="m-icon m-icon-long-arrow-left"></i><em class="text b-hide-xs">上一則</em></a>
							<a href="gift-center.html" class="b-link b-middle"><i class="m-icon m-icon-return"></i><em class="text b-hide-xs">回活動列表</em></a>
							<a href="javascript:;" class="b-link b-middle"><em class="text b-hide-xs">下一則</em><i class="m-icon m-icon-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>