<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body gift-center show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="gift-center.html" class="b-link"><em class="text">贈獎專區</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">贈獎</em>專區</span>
					<span class="sub-lang">Gift Center</span>
				</h2>
				<div class="content-wrap">
					<div class="main-content">
						<ul class="activities-list">
							<li class="list">
								<a href="gift-center-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events/acts/01.jpg" alt="">
										<figcaption class="desc b-hide-text">Mitchell & Ness新櫃登場</figcaption>
									</figure>
									<div class="act-info">
										<h3 class="act-title">Mitchell & Ness新櫃登場</h3>
										<p class="desc">兌獎期間<span class="act-time b-block"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span></p>
									</div>
								</a>
							</li>
							<li class="list">
								<a href="gift-center-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events/acts/02.jpg" alt="">
										<figcaption class="desc b-hide-text">nickelodeon聖誕嘉年華</figcaption>
									</figure>
									<div class="act-info">
										<h3 class="act-title">nickelodeon聖誕嘉年華</h3>
										<p class="desc">兌獎期間<span class="act-time b-block"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span></p>
									</div>
								</a>
							</li>
							<li class="list">
								<a href="gift-center-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events/acts/03.jpg" alt="">
										<figcaption class="desc b-hide-text">Diamond House滿額大方送</figcaption>
									</figure>
									<div class="act-info">
										<h3 class="act-title">Diamond House滿額大方送</h3>
										<p class="desc">兌獎期間<span class="act-time b-block"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span></p>
									</div>
								</a>
							</li>
							<li class="list">
								<a href="gift-center-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events/acts/04.jpg" alt="">
										<figcaption class="desc b-hide-text">迪奧 瞬效美肌飾底膏新品上市</figcaption>
									</figure>
									<div class="act-info">
										<h3 class="act-title">迪奧 瞬效美肌飾底膏新品上市</h3>
										<p class="desc">兌獎期間<span class="act-time b-block"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span></p>
									</div>
								</a>
							</li>
							<li class="list">
								<a href="gift-center-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events/acts/05.jpg" alt="">
										<figcaption class="desc b-hide-text">遠百周年慶</figcaption>
									</figure>
									<div class="act-info">
										<h3 class="act-title">遠百周年慶</h3>
										<p class="desc">兌獎期間<span class="act-time b-block"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span></p>
									</div>
								</a>
							</li>
							<li class="list">
								<a href="gift-center-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events/acts/06.jpg" alt="">
										<figcaption class="desc b-hide-text">Revitalizing Supreme Plus 年輕肌密無敵霜</figcaption>
									</figure>
									<div class="act-info">
										<h3 class="act-title">Revitalizing Supreme Plus 年輕肌密無敵霜</h3>
										<p class="desc">兌獎期間<span class="act-time b-block"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span></p>
									</div>
								</a>
							</li>
							<li class="list">
								<a href="gift-center-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events/acts/07.jpg" alt="">
										<figcaption class="desc b-hide-text">滿三千再送高級電磁爐</figcaption>
									</figure>
									<div class="act-info">
										<h3 class="act-title">滿三千再送高級電磁爐</h3>
										<p class="desc">兌獎期間<span class="act-time b-block"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span></p>
									</div>
								</a>
							</li>
							<li class="list">
								<a href="gift-center-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events/acts/08.jpg" alt="">
										<figcaption class="desc b-hide-text">YSL 金夜繁星限量彩妝盤</figcaption>
									</figure>
									<div class="act-info">
										<h3 class="act-title">YSL 金夜繁星限量彩妝盤</h3>
										<p class="desc">兌獎期間<span class="act-time b-block"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span></p>
									</div>
								</a>
							</li>
							<li class="list">
								<a href="gift-center-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/latest-events/acts/01.jpg" alt="">
										<figcaption class="desc b-hide-text">Mitchell & Ness新櫃登場</figcaption>
									</figure>
									<div class="act-info">
										<h3 class="act-title">Mitchell & Ness新櫃登場</h3>
										<p class="desc">兌獎期間<span class="act-time b-block"><time datetime="2016/11/11">2016/11/11</time>-<time datetime="2016/11/17">2016/11/17</time></span></p>
									</div>
								</a>
							</li>
						</ul>
						<a href="javascript:;" class="btn-more b-link">MORE</a>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>