<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/online-shopping.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body keyword-search show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">搜尋結果</em></a></li>
					</ol>
				</div>
				<div class="content-wrap">
					<div class="main-content">
						<div class="input-content">
							<div class="search-wrap">
								<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-clearfix">
									<i class="m-icon m-icon-search"></i>
									<input type="text" class="m-inputbox b-col-dt-10 b-col-xs-8" placeholder="請輸入品牌名稱">
									<button class="btn-search btn-radius b-link b-col-dt-2 b-col-xs-4 b-text-center jQ-search">Search</button>
								</div>
							</div>
							<ul class="keyword-list b-text-center">
								<li class="list"><button class="btn-keyword jQ-keyword">123</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">A</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">B</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">C</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">D</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">E</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">F</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">G</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">H</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">I</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">J</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">K</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">L</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">M</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">N</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">O</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">P</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">Q</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">R</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">S</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">T</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">U</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">V</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">W</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">X</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">Y</button></li>
								<li class="list"><button class="btn-keyword jQ-keyword">Z</button></li>
							</ul>
						</div>
						<div class="result-content has-result">
							<h2 class="content-title">
								<span class="main-sentence">搜尋結果</span>
								<span class="sub-sentence">你所搜尋的結果如下： <b class="count">S</b> , 共有 <b class="count">105</b> 筆資料</span>
							</h2>
							<ul class="result-list">
								<li class="list-item">
									<figure class="img-wrap">
										<img src="../../content/img/oversea-index/result/01.jpg" alt="SHISEIDO 資生堂東京櫃">
										<figcaption class="desc b-hide-text">SHISEIDO 資生堂東京櫃</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="item-title">SHISEIDO 資生堂東京櫃</h3>
										<span class="info-title">Location</span>
										<ul class="localtion-list">
											<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
										</ul>
										<a href="online-shopping-list.html" class="btn-link">了解更多</a>
									</div>
								</li>
								<li class="list-item">
									<figure class="img-wrap">
										<img src="../../content/img/oversea-index/result/02.jpg" alt="SHU UEMURA 植村秀">
										<figcaption class="desc b-hide-text">SHU UEMURA 植村秀</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="item-title">SHU UEMURA 植村秀</h3>
										<span class="info-title">遠東百貨線上購物中心特約品牌，多樣獨家商品千萬不能錯過，敬邀您立即參觀選購！</span>
										<a href="online-shopping-list.html" class="btn-link">了解更多</a>
									</div>
								</li>
								<li class="list-item">
									<figure class="img-wrap">
										<img src="../../content/img/oversea-index/result/03.jpg" alt="Salvatore Ferragamo">
										<figcaption class="desc b-hide-text">Salvatore Ferragamo</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="item-title">Salvatore Ferragamo</h3>
										<span class="info-title">Location</span>
										<ul class="localtion-list">
											<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
										</ul>
										<a href="online-shopping-list.html" class="btn-link">了解更多</a>
									</div>
								</li>
								<li class="list-item">
									<figure class="img-wrap">
										<img src="../../content/img/oversea-index/result/02.jpg" alt="SHU UEMURA 植村秀">
										<figcaption class="desc b-hide-text">SHU UEMURA 植村秀</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="item-title">SHU UEMURA 植村秀</h3>
										<span class="info-title">Location</span>
										<ul class="localtion-list">
											<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
										</ul>
										<a href="online-shopping-list.html" class="btn-link">了解更多</a>
									</div>
								</li>
								<li class="list-item">
									<figure class="img-wrap">
										<img src="../../content/img/oversea-index/result/01.jpg" alt="SHISEIDO 資生堂東京櫃">
										<figcaption class="desc b-hide-text">SHISEIDO 資生堂東京櫃</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="item-title">SHISEIDO 資生堂東京櫃</h3>
										<span class="info-title">Location</span>
										<ul class="localtion-list">
											<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
										</ul>
										<a href="online-shopping-list.html" class="btn-link">了解更多</a>
									</div>
								</li>
								<li class="list-item">
									<figure class="img-wrap">
										<img src="../../content/img/oversea-index/result/03.jpg" alt="Salvatore Ferragamo">
										<figcaption class="desc b-hide-text">Salvatore Ferragamo</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="item-title">Salvatore Ferragamo</h3>
										<span class="info-title">Location</span>
										<ul class="localtion-list">
											<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
										</ul>
										<a href="online-shopping-list.html" class="btn-link">了解更多</a>
									</div>
								</li>
								<li class="item-sizer"></li>
								<li class="item-gutter"></li>
							</ul>
							<div class="m-pagination">
								<ul class="m-pagination-bd">
									<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-first"></a></li>
									<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-back"></a></li>
									<li class="page-ctrl"><a href="javascript:;" class="m-button is-active">1</a></li>
									<li class="page-ctrl"><a href="javascript:;" class="m-button">2</a></li>
									<li class="page-ctrl"><a href="javascript:;" class="m-button">3</a></li>
									<li class="page-ctrl"><span class="text">...</span></li>
									<li class="page-ctrl"><a href="javascript:;" class="m-button">14</a></li>
									<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-next"></a></li>
									<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-last"></a></li>
								</ul>
							</div>
						</div>
						<div class="result-content empty-result">
							<i class="m-icon m-icon-not-found"></i>
							<em class="text b-text-center">您搜尋的關鍵字找不到符合的品牌<br>試試以其他關鍵字搜尋</em>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<script defer src="../../scripts/js/online-shopping.js?JS=20160420_01"></script>
</html>