<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body members-only show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">會員好康</em></a></li>
					</ol>
				</div>
				<div class="kv">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<a href="javascript:;" class="b-link">
								<figure class="img-wrap">
									<img src="../../content/img/members-only/kv/02.jpg" alt="全新網路會員好康">
									<figcaption class="desc b-hide-text">全新網路會員好康</figcaption>
								</figure>
							</a>
						</div>
					</div>
				</div>
				<div class="m-cut">
					<ul class="act-list">
						<li class="list">
							<a href="javascript:;" class="b-link b-col-dt-4 b-col-xs-12">
								<figure class="img-wrap">
									<img src="../../content/img/members-only/banner/01.jpg" alt="好禮1 加入會員拿好康 購物金200元">
									<figcaption class="desc b-hide-text">好禮1 加入會員拿好康 購物金200元</figcaption>
								</figure>
							</a>
							<div class="item-info b-col-md-6 b-col-sm-5 b-col-xs-12">
								<em class="order-tag b-bold">好禮1</em>
								<h3 class="act-title">加入會員拿好康 購物金<em class="b-highlight">200</em>元</h3>
							</div>
							<a href="javascript:;" class="btn-link b-inline b-col-md-2 b-col-sm-3"><em class="text">立即領取</em><i class="m-icon m-icon-arrow-right"></i></a>
						</li>
						<li class="list">
							<a href="javascript:;" class="b-link b-col-dt-4 b-col-xs-12">
								<figure class="img-wrap">
									<img src="../../content/img/members-only/banner/04.jpg" alt="全新遠東百貨網路會員入會好禮1">
									<figcaption class="desc b-hide-text">全新遠東百貨網路會員入會好禮1</figcaption>
								</figure>
							</a>
							<div class="item-info b-col-md-6 b-col-sm-5 b-col-xs-12">
								<em class="order-tag b-bold">全新遠東百貨網路會員入會好禮1</em>
								<h3 class="act-title">即日起只要線上加入遠東百貨網路會員即贈送線上購物金NT$200</h3>
							</div>
							<a href="javascript:;" class="btn-link b-inline b-col-md-2 b-col-sm-3"><em class="text">立即領取</em><i class="m-icon m-icon-arrow-right"></i></a>
						</li>
						<li class="list">
							<a href="javascript:;" class="b-link b-col-dt-4 b-col-xs-12">
								<figure class="img-wrap">
									<img src="../../content/img/members-only/banner/05.jpg" alt="全新遠東百貨網路會員入會好禮2">
									<figcaption class="desc b-hide-text">全新遠東百貨網路會員入會好禮2</figcaption>
								</figure>
							</a>
							<div class="item-info b-col-md-6 b-col-sm-5 b-col-xs-12">
								<em class="order-tag b-bold">全新遠東百貨網路會員入會好禮2</em>
								<h3 class="act-title">即日起只要線上加入遠東百貨網路會員即贈送線上購物金NT$200</h3>
							</div>
							<a href="javascript:;" class="btn-link b-inline b-col-md-2 b-col-sm-3"><em class="text">線上購物 GO</em><i class="m-icon m-icon-arrow-right"></i></a>
						</li>
					</ul>
					<div class="precautions">
						<p class="info-title b-bold">活動辦法</p>
						<ol class="order-list">
							<li class="list">活動期間：2017/1/1~2017/1/31</li>
							<li class="list">活動方式：加入會員送購物金200元。當月壽星於每月10號前即可獲得購物金250元於遠東百貨會員帳戶中，可於至我的帳戶購物金確認。</li>
							<li class="list">活動期間於遠東頁貨線上購物消費，於活動結束後即可獲得HAPPY GO點數50點，請至我的帳戶查詢點數中確認。</li>
							<li class="list">購物金使用辦法請參閱本站遠東百貨購物金使用說明。</li>
							<li class="list">訂單取消或退貨，則只退回現金部分，購物金將不退還亦不補發。</li>
							<li class="list">若有因電腦、網路、電話、技術或不可歸咎亞東百貨之事由，而使參加者登錄之資料有延遲、遺失、錯誤、無法辨識或毀損之情況，遠東百貨不負任何法律責任，參加者亦不得因此異議。</li>
							<li class="list">遠東百貨公司有權決定終止及變更抵用券贈送辦法及折抵方式的權利，詳細活動辦法以網站公告為準。</li>
						</ol>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>