<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body earnings show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link">財務資訊</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link">財報資料</a></li>
									<li class="list"><a href="revenue.html" class="sub-link">營收報告</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">重大訊息</a></li>
						<li class="list">
							<button class="b-link">公司治理</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link">公司組織架構</a></li>
									<li class="list"><a href="history.html" class="sub-link">公司沿革</a></li>
									<li class="list"><a href="directors.html" class="sub-link">董事會員及委員會</a></li>
									<li class="list"><a href="operation.html" class="sub-link">稽核組織與運作</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">章程及相關作業程序</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link is-curr">股東專欄</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="resolutions.html" class="sub-link">董事會決議事項</a></li>
									<li class="list"><a href="processing.html" class="sub-link">投資人關係處理窗口</a></li>
									<li class="list"><a href="briefing.html" class="sub-link is-curr">法人說明會簡報</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link">股東會紀實</a></li>
									<li class="list"><a href="reference.html" class="sub-link">股東會參考資料</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">投資人專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">法人說明會簡報</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">投資人</em>專區</span>
					<span class="sub-lang">investment</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">法人說明會簡報</h3>
							</div>
							<div class="table-wrap">
								<table class="m-table">
									<thead>
										<tr>
											<td class="b-col-dt-9" colspan="2"><em class="text b-bold">資料內容</em></td>
											<td class="b-col-dt-3"><em class="text b-bold">下載</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="b-text-center"><em class="text">106/03/23</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加106年3月23日美林證劵主辦的『2017 Asia Pacific Telecom, Media & Technology Conference (TTB)』，說明本公司105年第3季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/FEDS-3Q-2016-Consolidated-Chinese.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">105/12/02</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加105年12月02日國泰綜合證券主辦之法人座談會，說明本公司105年第3季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20161201001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">105/05/06</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加105年05月06日國泰綜合證券主辦之法人座談會，說明本公司104年第4季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20160505001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">105/03/16</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加105年3月16日美林證劵主辦的『2016 Asia Pacific Telecom, Media & Technology Conference (TTB)』，說明本公司104年第3季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20160315001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">104/10/21</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加104年10月21日群益金鼎證券主辦的『群益金鼎投資論壇』，說明本公司104年第2季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20151020001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">104/09/17</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加104年9月17日國泰綜合證券主辦之法人座談會，說明本公司104年第2季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20150916001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">104/06/23</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加104年6月23日瑞銀證劵主辦的『UBS Taiwan Conference 2015』，說明本公司104年第1季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20150622002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">104/03/19</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加104年3月19日美林證劵主辦的『2015 Taiwan, Technology & Beyond』，說明本公司103年第3季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20150318001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">104/03/16</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加104年3月16日香港上海滙豐銀行主辦的『第三屆台灣企業領袖論壇』，說明本公司103年第3季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20150313001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">103/11/25</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加103年11月25日中國信託證劵主辦的『2015年產業展望論壇』，說明本公司103年第3季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20141124001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">103/09/03</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加103年09月03日富邦證券在台北主辦的『2014年第3季度產業論壇』，說明本公司103年第2季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20140902001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">103/06/26 至 103/6/27</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加103年06月26日至06月27日瑞銀證券在台北舉辦的『2014 UBS台灣投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20140625001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">103/05/29</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加103年05月29日凱基證券主辦的『凱基證券產業座談會』，說明本公司103年第1季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20140528001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">103/01/16</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加103年01月16日凱基證券主辦的『凱基證券產業座談會』，說明本公司102年第3季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20140115001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">102/9/6</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加102年09月06日富邦證券在台北主辦的『2013年3Q產業論壇』，說明本公司102年第2季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20130905001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">102/9/3 至 102/9/4</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加102年09月03日至102年09月04日美商高盛亞洲證券在新加坡及香港主辦的『台灣投資論壇』，說明本公司102年第2季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/Investor_Conference_Information/20130902001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">102/07/9 至 102/7/10</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加102年07月09日至102年07月10日台灣摩根士丹利證券在香港主辦的『台灣投資論壇』，說明本公司102年第1季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130705006.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">102/05/23</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加102年05月23日凱基證券主辦的『凱基證券產業座談會』，說明本公司102年第1季營運與財務概況。(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130522001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">102/03/14</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加102年03月14日美林證券與臺灣證券交易所在台北合辦的『2013台灣投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/ICI20130313001CH.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">101/12/13</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加101年12月13日凱基證券在台北舉辦的『2013年台灣投資論壇』 (該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/12-19912-FEDS3Q11_20121212.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">101/11/16</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加101年11月16日德意志證券在台北舉辦的『2012年德意志證券台灣論壇』 (該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/15-93764-20121115001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">101/06/26</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加101年06月26日瑞銀證券在台北舉辦的『2012 UBS台灣及韓國投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/22-24518-20120622001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">101/05/09</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加101年05月09日花旗環球證券在台北主辦的『2012花旗環球證券台灣投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/8-60339-062.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">101/03/14</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加101年03月14日美林證券與臺灣證券交易所在台北合辦之『2012台灣投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/13-93723-FEDS3Q11.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">101/02/23 至 101/02/24</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加101年02月23日至02月24日法銀巴黎證券在香港所舉辦的『台灣投資論壇』 (該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/025.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">101/01/12 至 101/01/13</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加101年01月12日至01月13日高盛證券在新加坡及香港所舉辦的『高盛證券投資論壇』 (該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/024.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100/11/08 至 100/11/09</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加100年11月08日至11月09日美林證券在香港舉辦的『美林證券投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/023.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100/11/07</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加100年11月07日德意志證券在台北舉辦的『德意志證券台灣論壇』 (該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/022.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100/10/18</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加100年10月18日法銀巴黎證券在台北舉辦的『2011法銀巴黎證券第一屆台灣投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/021.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100/09/16</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加100年09月16日瑞士信貸證券在台北舉辦的『2011瑞信證券亞洲科技論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/020.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100/09/05 至 100/09/09</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加100年09月05日~09月09日花旗環球證券在英國愛丁堡、倫敦、美國紐約及波士頓舉辦的2011年台灣投資高峰會議(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/019.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100/06/29</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加100年06月29日瑞銀證券在台北舉辦的法人說明會(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/018.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100/05/09</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加100年05月09日凱基證券在台北合辦之「2011年凱基台股商機論壇」(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/017.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100/03/16 至 100/03/17</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加100年03月16日~03月17日美林證券與臺灣證券交易所在台北合辦之「2011台灣投資論壇」(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/016.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100/03/02</em></td>
											<td class="b-text-left"><em class="text">本公司將參加遠東集團與麥格里證券擬於100/03/02在台北舉辦的法人說明會</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/015.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99/11/08 至 99/11/10</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加99年11月08日~11月10日美國匯豐證券在紐約及波士頓舉辦的法人說明會(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/012.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99/11/04 至 99/11/05</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加99年11月04日~11月05日美林證券在北京舉辦的法人說明會(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/011.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99/07/15</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加99年07月15日法國巴黎證券在新加坡舉辦的法人說明會(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/Upload/shareholder/InRe_Report5/010.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99/07/09</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加99年07月09日高盛證券在香港舉辦的法人說明會(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/Upload/shareholder/InRe_Report5/010.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99/06/24</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加99年6月24日瑞銀證券在台北舉辦的『2010 UBS台灣投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/Upload/shareholder/InRe_Report5/010.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99/03/18</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加99年3月18日臺灣證券交易所股份有限公司與美林證券股份有限公司共同舉辦之『2010 台灣投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/009.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99/03/11 至 99/03/12</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加99年3月11日~3月12日大和證券在東京舉辦的『2010 大和投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/008.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99/03/02 至 99/03/05</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加99年3月2日~3月5日麥格理證券在新加坡及香港舉辦的『2010年海外投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/007.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99/01/12</em></td>
											<td class="b-text-left"><em class="text">本公司受邀參加瑞信證券在台北舉辦的『2010年瑞信證券亞洲投資論壇』(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/006.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">98/12/1 至 98/12/4</em></td>
											<td class="b-text-left"><em class="text">本公司參加麥格理證券主辦『2009年北亞香港及新加坡地區』投資人說明會(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/006.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">98/10/13</em></td>
											<td class="b-text-left"><em class="text">本公司參加花旗環球國際證券主辦『2009花旗環球國際證券投資法人論壇』(CITI Taiwan Investor Conference 2009) (該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/005.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">98/09/16</em></td>
											<td class="b-text-left"><em class="text">本公司參加瑞士信貸主辦『2009瑞信證券亞洲科技論壇』(Credit Suisse Asian Technology Conference)(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/004.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">98/07/15 至 98/07/17</em></td>
											<td class="b-text-left"><em class="text">本公司參加大和國泰證券主辦日本一對一投資人說明會 (該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">98/06/29 至 98/07/03</em></td>
											<td class="b-text-left"><em class="text">本公司參加凱基證券主辦『2009年第二季香港及新加坡地區』投資人說明會備註：新加坡 98/6/29~98/7/1 香港 98/7/2~98/7/3(該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">98/06/24</em></td>
											<td class="b-text-left"><em class="text">本公司參加麥格里主辦之投資研討會(Taipei Workshop) (該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">98/06/23 至 98/06/24</em></td>
											<td class="b-text-left"><em class="text">本公司參加元大證券於上海舉辦之投資人說明會(Yuanta Corporate Day) (該說明會非屬自辦，而無法取得全程之錄音或錄影檔。)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report5/003.pdf" class="btn-link">Download</a></em></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>