<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/investment-en.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body earnings show-header">
		<!--#include virtual="../Shared/Header-oversea.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link">Financial Information</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link">Financial Information</a></li>
									<li class="list"><a href="revenue.html" class="sub-link">Monthly Revenue Statements</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">Important Information</a></li>
						<li class="list">
							<button class="b-link">Corporate Governance</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link">Organization Chart</a></li>
									<li class="list"><a href="history.html" class="sub-link">Company Profile</a></li>
									<li class="list"><a href="directors.html" class="sub-link">Board of Directors</a></li>
									<li class="list"><a href="operation.html" class="sub-link">Internal Auditing Chart & Operations</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">Articles of Incorporation & Relevant Procedure</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link is-curr">Shareholders Billboard</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="processing.html" class="sub-link">Investor Relations Contact</a></li>
									<li class="list"><a href="briefing.html" class="sub-link is-curr">Investor Conference Information</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link">Major Resolutions approved on Shareholder Meeting</a></li>
									<li class="list"><a href="reference.html" class="sub-link">Shareholders Information</a></li>
									<li class="list"><a href="dividends.html" class="sub-link">Stock Quotes & Dividends</a></li>
									<li class="list"><a href="meeting-record.html" class="sub-link">Meeting Record</a></li>
									<li class="list"><a href="annual-reports.html" class="sub-link">Annual Reports</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">FEDS</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">Investment</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">Investor Conference Information</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">Investment</em></span>
					<span class="sub-lang">投資人專區</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">Investor Conference Information</h3>
							</div>
							<div class="table-wrap">
								<table class="m-table">
									<thead>
										<tr>
											<td class="b-col-dt-9" colspan="2"><em class="text b-bold">Summary</em></td>
											<td class="b-col-dt-3"><em class="text b-bold">File</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">4 Sep. 2017.</em></td>
											<td class="b-text-left"><em class="text">Participate in Cathay Securities Corporation investor conference</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/FEDS-2Q-2017-C-Consolidated.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">23 March 2017.</em></td>
											<td class="b-text-left"><em class="text">Participate in Bank of America Merrill Lynch "2017 Asia Pacific Telecom, Media & Technology Conference (TTB)" in Taipei</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/FEDS-3Q-2016-Consolidated.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">2 Dec. 2016.</em></td>
											<td class="b-text-left"><em class="text">Participate in Cathay Securities Corporation investor conference</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20161201001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">6 May 2016.</em></td>
											<td class="b-text-left"><em class="text">Participate in Cathay Securities Corporation investor conference</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20160505001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">16 March 2016.</em></td>
											<td class="b-text-left"><em class="text">Participate in Bank of America Merrill Lynch "2016 Asia Pacific Telecom, Media & Technology Conference (TTB)" in Taipei</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20160315001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">21 October 2015.</em></td>
											<td class="b-text-left"><em class="text">Participate in CAPITAL Securities Corporation investor conference</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20151020001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">17 September 2015.</em></td>
											<td class="b-text-left"><em class="text">Participate in Cathay Securities Corporation investor conference</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20150916001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">23 June 2015.</em></td>
											<td class="b-text-left"><em class="text">Participate in UBS Securities “UBS Taiwan Conference 2015”</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20150622001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">19 March 2015.</em></td>
											<td class="b-text-left"><em class="text">Participate in Bank of America Merrill Lynch "Taiwan, Technology & Beyond Conference" in Taipei</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20150318001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">16 March 2015.</em></td>
											<td class="b-text-left"><em class="text">Participate in HSBC “HSBC 3rd Annual Taiwan CEO Forum”</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20150313001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">25 Nov., 2014.</em></td>
											<td class="b-text-left"><em class="text">Participate in CTBC Securities. “Taiwan Corporate Day”</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20141124001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">3 Sep., 2014.</em></td>
											<td class="b-text-left"><em class="text">Participate in Fubon Securities. “Taiwan Corporate Day” in Taipei</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20140902001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">26~27 June 2014.</em></td>
											<td class="b-text-left"><em class="text">Participate in UBS Securities “UBS Taiwan Conference 2014”</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20140625001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">29 May, 2014.</em></td>
											<td class="b-text-left"><em class="text">Participate in KGI Securities, “KGI Taiwan Corporate Day 2014”, Taipei</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20140528001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">16 Jan, 2014.</em></td>
											<td class="b-text-left"><em class="text">Participate in KGI Securities, “KGI Taiwan Corporate Day 2014” , Taipei.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20140115001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">6 Sep., 2013.</em></td>
											<td class="b-text-left"><em class="text">Participate in Fubon Securities. “Taiwan Corporate Day” in Taipei.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20130905001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">3 Sep. ~ 4 Sep., 2013.</em></td>
											<td class="b-text-left"><em class="text">Participate in Goldman Sachs Securities, “Taiwan Corporate Day” in Singapore and Hong Kong</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20130902001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">9 July ~ 10 July, 2013.</em></td>
											<td class="b-text-left"><em class="text">Participate in Morgan Stanley Taiwan Ltd., “Taiwan Corporate Day” in Hong Kong</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20130705001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">23 May, 2013.</em></td>
											<td class="b-text-left"><em class="text">Participate in KGI Securities, “KGI Taiwan Corporate Day 2013”, Taipei.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20130522001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">14 March 2013.</em></td>
											<td class="b-text-left"><em class="text">Participate in Bank of America Merrill Lynch and Taiwan Stock Exchange "Taiwan, Technology & Beyond Conference" in Taipei.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20130313001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">13 Dec. 2012.</em></td>
											<td class="b-text-left"><em class="text">Participate in KGI Securities, “KGI Taiwan Corporate Day 2013” , Taipei.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20121212001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">16 Nov. 2012</em></td>
											<td class="b-text-left"><em class="text">Participate in Deutsche Bank “9TH Annual dbAccess Taiwan Conference 2012”</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20121115001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">26 June 2012.</em></td>
											<td class="b-text-left"><em class="text">Participate in UBS Securities “Taiwan and Korea Conference 2012”</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20120622001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">09 May 2012.</em></td>
											<td class="b-text-left"><em class="text">Participate in Citi Securities "Citi's Taiwan Investor Conference 2012" in Taipei.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20120508001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">14 March 2012.</em></td>
											<td class="b-text-left"><em class="text">Participate in Bank of America Merrill Lynch and Taiwan Stock Exchange "Taiwan, Technology & Beyond Conference" in Taipei.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20120313001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">12 Jan.~ 13 Jan. 2012.</em></td>
											<td class="b-text-left"><em class="text">Participate in Goldman Sachs Securities “Goldman Sachs Taiwan Corporate Day” in Singapore and Hong Kong.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20120111001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">8 Nov.~ 9 Nov. 2011.</em></td>
											<td class="b-text-left"><em class="text">Participate in Bank of America Merrill Lynch “Bank of America Merrill Lynch Taiwan Corporate Day” in Hong Kong.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20111107002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">7 Nov. 2011.</em></td>
											<td class="b-text-left"><em class="text">Participate in Deutsche Bank “DB Access Taiwan Conference 2011”</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20111107001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">18 Oct. 2011.</em></td>
											<td class="b-text-left"><em class="text">Participate in BNP Paribas Securities”1st Taiwan Conference 2011”</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20111018001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">16 Sep. 2011</em></td>
											<td class="b-text-left"><em class="text">Participate in Credit Suisse Securities ”Asian Technology Conference 2011 - Taipei"</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20110916001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">5~9 Sep 2011.</em></td>
											<td class="b-text-left"><em class="text">Participate in Citi Securities”2011 Citi Taiwan Conference- Edinburgh, London, New York & Boston”</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20110907001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">June 29, 2011.</em></td>
											<td class="b-text-left"><em class="text">Participate in UBS Securities" UBS Taiwan Conference 2011", Taipei</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20110630001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">May 09, 2011</em></td>
											<td class="b-text-left"><em class="text">Participate in KGI Securities" KGI Corporate Access Taiwan (CAT)" Conference, Taipei</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20110506001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">March 16-17, 2011</em></td>
											<td class="b-text-left"><em class="text">Participate in Bank of America Merrill Lynch and Taiwan Stock Exchange "Taiwan, Technology & Beyond" Conference, Taipei</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20110315001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">02 March 2011</em></td>
											<td class="b-text-left"><em class="text">Participate in Far Eastern Group and Macquarie Securities " Far Eastern Group Corporate Day"</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20110301001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">08~10 Nov 2010.</em></td>
											<td class="b-text-left"><em class="text">Participate in HSBC Securities “ HSBC Asia Investor Forum 2010”.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20101108001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">04~05 Nov 2010.</em></td>
											<td class="b-text-left"><em class="text">Participate in Merrill Lynch Securities “ China Investment Summit”.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20101104001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">09 July 2010.</em></td>
											<td class="b-text-left"><em class="text">Participate in Goldman Sachs Securities “ Greater China Consumption Corporate Day”.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20100628001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">24 June 2010.</em></td>
											<td class="b-text-left"><em class="text">Participate in UBS Securities “ UBS Taiwan Conference 2010”.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20100628001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">18 March 2010.</em></td>
											<td class="b-text-left"><em class="text">Participate in Bank of America Merrill Lynch and Taiwan Stock Exchange "Taiwan, Technology & Beyond Conference".</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20100318001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">11~12 March 2010.</em></td>
											<td class="b-text-left"><em class="text">Participate in Daiwa Securities “ Daiwa Investment Conference in Tokyo”.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20100311001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">2~5 March 2010.</em></td>
											<td class="b-text-left"><em class="text">Participate in Macquarie “Taiwan Corporate Day – Singapore & Hong Kong ”.</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20100302001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">12 Jan 2010.</em></td>
											<td class="b-text-left"><em class="text">Participate in Credit Suisse "Asian Investment Conference 2010-Taipei".</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20100111001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text b-nowrap">1~4 Dec 2009</em></td>
											<td class="b-text-left"><em class="text">Participate in Macquarie "North Asia Conference-Singapore & Hong Kong".</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/ICI/ICI20091201001.pdf" class="btn-link">Download</a></em></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-oversea.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>