<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/investment-en.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body earnings show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link is-curr">Financial Information</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link is-curr">Financial Information</a></li>
									<li class="list"><a href="revenue.html" class="sub-link">Monthly Revenue Statements</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">Important Information</a></li>
						<li class="list">
							<button class="b-link">Corporate Governance</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link">Organization Chart</a></li>
									<li class="list"><a href="history.html" class="sub-link">Company Profile</a></li>
									<li class="list"><a href="directors.html" class="sub-link">Board of Directors</a></li>
									<li class="list"><a href="operation.html" class="sub-link">Internal Auditing Chart & Operations</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">Articles of Incorporation & Relevant Procedure</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link">Shareholders Billboard</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="processing.html" class="sub-link">Investor Relations Contact</a></li>
									<li class="list"><a href="briefing.html" class="sub-link">Investor Conference Information</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link">Major Resolutions approved on Shareholder Meeting</a></li>
									<li class="list"><a href="reference.html" class="sub-link">Shareholders Information</a></li>
									<li class="list"><a href="dividends.html" class="sub-link">Stock Quotes & Dividends</a></li>
									<li class="list"><a href="meeting-record.html" class="sub-link">Meeting Record</a></li>
									<li class="list"><a href="annual-reports.html" class="sub-link">Annual Reports</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">FEDS</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">Investment</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">Financial Information</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">Investment</em></span>
					<span class="sub-lang">投資人專區</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">Financial Information</h3>
							</div>
							<div class="table-wrap">
								<table class="m-table">
									<thead>
										<tr>
											<td class="b-col-dt-8"><em class="text b-bold">Summary</em></td>
											<td class="b-col-dt-4"><em class="text b-bold">File</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Jun. 30, 2017 AND 2016</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/FEDS-2Q-2017-Consolidated.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Mar. 31, 2017 AND 2016</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/FEDS-1Q-2017-Consolidated.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Dec. 31, 2016 AND 2015</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/FEDS-4Q-2016-Consolidated.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended Dec. 31, 2016 AND 2015</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/FEDS-4Q-2016-Unconsolidated.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Sep. 30, 2016 AND 2015</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20161111002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Jun. 30, 2016 AND 2015</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20160815002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Mar. 31, 2016 AND 2015</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20160516001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended Dec. 31, 2015 AND 2014</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20160331002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Dec. 31, 2015 AND 2014</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20160331001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Sep. 30, 2015 AND 2014</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20151116002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Jun. 30, 2015 AND 2014</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20150814001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Mar. 31, 2015 AND 2014</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20150515001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended December 31, 2014 and 2013 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20151223001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Years Ended December 31, 2014 and 2013 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20151223002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended Dec. 31, 2014 AND 2013</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20150331002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Dec. 31, 2014 AND 2013</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20150331001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Sep. 30, 2014 AND 2013</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20141114001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Jun. 30, 2014 AND 2013</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20140814001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Mar. 31, 2014 AND 2013</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20140515001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended Dec. 31, 2013 AND 2012</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20140403001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Dec. 31, 2013 AND 2012</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20140331001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended Sep. 30, 2013 AND 2012</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20131114001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended June 30, 2013 AND 2012</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20130814001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended March 31, 2013 AND 2012</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20130515001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended December 31, 2012 AND 2011</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20130401002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended December 31, 2012 AND 2011</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20130401001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended September 30, 2012 AND 2011</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20121114001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended September 30, 2012 AND 2011</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20121031001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated financial Statements for the Year Ended June 30, 2012 AND 2011</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20120831002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended June 30, 2012 AND 2011</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20120831001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated financial Statements for the Year Ended March 31, 2012 AND 2011</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20120515001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended March 31, 2012 AND 2011</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20120430001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated financial Statements for the Year Ended March 31, 2012 AND 2011</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20120515001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended March 31, 2012 AND 2011</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20120430001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended December 31, 2011 AND 2010</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20120402001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended December 31, 2011 AND 2010</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20111115001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended September 30, 2011 AND 2010</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20111031001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended September 30, 2011 AND 2010</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20110831002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended June 30, 2011 AND 2010</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20110831001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended June 30, 2011 AND 2010</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20110525001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Year Ended March 31, 2011 AND 2010</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20110502001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended March 31, 2011 AND 2010</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20110502002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended December 31, 2010 and 2009</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20110502003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended December 31, 2010 AND 2009</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20101119001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended September 30, 2010 AND 2009</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20101029001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended September 30, 2010 AND 2009</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20100830002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended June 30, 2010 AND 2009</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20100830001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended June 30, 2010 AND 2009</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20100624002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended March 31, 2010 AND 2009</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20100624001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended March 31, 2010 AND 2009</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20100624001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended December 31, 2009 AND 2008</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20100513001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended December 31, 2009 and 2008</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20100513002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Year Ended September 30, 2009 AND 2008</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091111003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended September 30, 2009 and 2008</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091127001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Years Ended December 31, 2008 and 2007 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091111001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended December 31, 2008 and 2007 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091111002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Years Ended December 31, 2007 and 2006 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091123007.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended December 31, 2007 and 2006 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091123008.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Years Ended December 31, 2006 and 2005 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091123005.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended December 31, 2006 and 2005 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091123006.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Years Ended December 31, 2005 and 2004 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091123003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended Decembe</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091123004.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Financial Statements for the Years Ended December 31, 2004 and 2003 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091123001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Consolidated Financial Statements for the Years Ended December 31, 2004 and 2003 and Independent Auditors’ Report</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/FI/FI20091123002.pdf" class="btn-link">Download</a></em></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>