<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/investment-en.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body history show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link">Financial Information</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link">Financial Information</a></li>
									<li class="list"><a href="revenue.html" class="sub-link">Monthly Revenue Statements</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">Important Information</a></li>
						<li class="list">
							<button class="b-link is-curr">Corporate Governance</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link">Organization Chart</a></li>
									<li class="list"><a href="history.html" class="sub-link is-curr">Company Profile</a></li>
									<li class="list"><a href="directors.html" class="sub-link">Board of Directors</a></li>
									<li class="list"><a href="operation.html" class="sub-link">Internal Auditing Chart & Operations</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">Articles of Incorporation & Relevant Procedure</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link">Shareholders Billboard</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="processing.html" class="sub-link">Investor Relations Contact</a></li>
									<li class="list"><a href="briefing.html" class="sub-link">Investor Conference Information</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link">Major Resolutions approved on Shareholder Meeting</a></li>
									<li class="list"><a href="reference.html" class="sub-link">Shareholders Information</a></li>
									<li class="list"><a href="dividends.html" class="sub-link">Stock Quotes & Dividends</a></li>
									<li class="list"><a href="meeting-record.html" class="sub-link">Meeting Record</a></li>
									<li class="list"><a href="annual-reports.html" class="sub-link">Annual Reports</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">FEDS</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">Investment</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">Company Profile</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">Investment</em></span>
					<span class="sub-lang">投資人專區</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">公司沿革</h3>
								<div class="info-text">
									<ul class="unorder-list">
										<li class="list">
											<em class="b-highlight b-bold b-block">Founded Date</em>
											<p class="b-desc">1967/8/31</p>
										</li>
										<li class="list">
											<em class="b-highlight b-bold b-block">The Company's businesses are as follows</em>
											<ol class="order-list">
												<li class="list">General merchandise、silk nylon、cotton cloth、candies cookies、cans、 entertainment appliances、hardware、furniture、decorations、hand-made local products、stationery、library appliances、CD/DVD、camera appliances、children toys (excluding gambling、porn game and air-soft gun)、shoe/ hat/ raining garment、medicine/medical equipment、cigarette /wine、rice/corn、salt、the import and export of beverage、 clocks/watches/glasses/camera’s business & maintenances、electronic business & maintenances、Children’s entertainment playground/facility business (excluding gambling、porn game and play gun)、restaurants、food courts、beverage stores、film developer shop、and advertisement business(permitted business);</li>
												<li class="list">To operate gourmet grocery market, fresh food business, frozen vegetable, frozen meat/fish, dry food, and all kinds of flavoring sources;</li>
												<li class="list">To operate all kinds of product distribution, product classification and storage business;</li>
												<li class="list">The import and sales of vendor machines and measurement devices;</li>
												<li class="list">Authorizing a construction companies to build , commercial buildings and residential buildings for leasing and selling;</li>
												<li class="list">The business of gold and jewelry;</li>
												<li class="list">The business of tape recorder, radar CD player, and lets and sales of film tape, and CD/DVD;</li>
												<li class="list">The sales, import and export business, and dealer business of vehicles and vehicles parts ( for example, seats, vehicles refresher, wax, car accessories and etc);</li>
												<li class="list">Vehicles repair and the operation and management of parking lot;</li>
												<li class="list">To operate gas station to supply gasoline, diesel fuel, the food and beverages in automatic vendor machine;</li>
												<li class="list">The business of art gallery and the deal of its works and antiques;</li>
												<li class="list">The business、repair、bidding and import and export business of all kind of wire and wireless telecom appliances;</li>
												<li class="list">The business of hair salon and various kinds of beauty services;</li>
												<li class="list">The entrusted management business of department stores and the stores in international and general tourist hotels;</li>
												<li class="list">The business of computer & telecom instrument/services;</li>
												<li class="list">JZ99030 photo shooting industry;</li>
												<li class="list">JZ99090 various kind services of festivities;</li>
												<li class="list">J701040 Leisure and entertaining activities;</li>
												<li class="list">F401161 the import of tobacco;</li>
												<li class="list">F401171 the import of liquor;</li>
												<li class="list">Except where permits are required, to run operations not forbidden or limited by laws and regulations.</li>
											</ol>
										</li>
										<li class="list">
											<em class="b-highlight b-bold b-block">Company history</em>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1967</time> August</span>
													<ul class="event-desc">
														<li class="event-detail">Far Eastern Textile Co. Ltd. established Far Eastern Department Stores Ltd., which was located on Yongsui Rd. in Taipei.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">The first store of FEDS was opened in its own six-floor building on Yongsui Rd. in Taipei.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1969</time> October</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Taichung Store was set up.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1972</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Paoching Store was set up and FEDS Yongsui Store was moved to and merged with FEDS Paoching Store.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1973</time> April</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS established Ya Tung Department Store Ltd. in Far Eastern Department Building. FEDS made a 65% investment in it. It was located on Wufu fourth Rd.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1976</time> March</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Tainan Store was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1977</time> September</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Taichung Store suffered some damage due to the fire in a neighboring building.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Jenai Store was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1978</time> May</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Taichung Store re-opened.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Taipei Store expanded its operating space to eight floors.</li>
														<li class="event-detail">FEDS officially listed on the Taiwan Stock Exchange</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1980</time> February</span>
													<ul class="event-desc">
														<li class="event-detail">After helping to restore the neighboring building, FEDS Taichung Store expanded its own operation.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1981</time> December</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS established Yuan Yang Department Store Ltd., in which FEDS made a 60% investment and it was located on Xinsheng Rd., Chungli City.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1982</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Chiayi Store was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1983</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">Ya Tung Department Store Ltd. suspended its retailing business and FEDS Kaohsiung Store was set up on the same site of Ya Tung Department Store Ltd.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">September</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Panchiao Store was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">Yuan Yang Department Store Ltd. suspended its retailing business and FEDS Chungli Store was set up on the same site of Yuan Yang Department Store Ltd.</li>
														<li class="event-detail">FEDS Sanchong Store was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1984</time> November</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Taoyuan Store was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1985</time> December</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Taoyuan Store suffered fire damage on December 1, and resumed first floor operation on December 12.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1986</time> June</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Sanchong Store suspended its operation.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">August</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Taoyuan Store was re-opened its second and third floors.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Kaohsiung Chungshan Store, also named Kaohsiung Shopping Center Store, was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1987</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Hsinchu Store was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">July</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Kaohsiung Store moved to and merged with FEDS Kaohsiung Chungshan Store.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS established a first community-based supermarket in the Far Eastern New World Community.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Jenai Store was transformed into the first all men's department Store in Taiwan.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1988</time> December</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS established two community-based supermarkets in the Hungnan and Houching Communities in Kaohsiung.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1989</time> August</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS opened its first specialty electronic appliance store in Tienmu.</li>
														<li class="event-detail">Panchiao Commodities Transfer and Distribution Center completed.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1990</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Taichung Store suffered fire damage from the neighboring building on January 14, but was re-opened its first and second floors and basement first floor on January 23.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">September</span>
													<ul class="event-desc">
														<li class="event-detail">Far Eastern Enterprise Ltd. was set up by FEDS and Chingmei Hyper Store of Far Eastern Enterprise Ltd. was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">November</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS established Taita METRO Branch Store.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1991</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">Panhsin Hyper Store of Far Eastern Enterprise Ltd. was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">February</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Hualien Store was established.</li>
														<li class="event-detail">The operation of FEDS first specialty electronic appliance store in Tienmu ended.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">April</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of the first community-based supermarket in the Far Eastern New World Community ended.</li>
														<li class="event-detail">FEDS Paoching Store suffered the fire damage. Its basement first floor and first and second floors experienced smoke and slight flooding, however, its third, fourth and fifth floors were destroyed by fire.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">May</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Taichung Store was re-opened after completely being restored.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">June</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of FEDS Paoching Store on the basement first floor and first and second floors was resumed.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">July</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Tainan Store was re-opened after it expansion and refurbishment.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of FEDS Chiayi Store located at Kuohua St. ended</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">After FEDS Paoching Store was restored, it not only resumed but also expanded its operation.</li>
														<li class="event-detail">FEDS built and inaugurated a brand new Chiayi Store on Chueiyang Road.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1992</time> November</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of Taita METRO Branch Store ended.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">Far Eastern Hon Li Do Co., Ltd. was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1993</time> September</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Panchiao Chungshan Store was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Chungli Central Store was set up and the registration of FEDS Chungli Store was cancelled.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">November</span>
													<ul class="event-desc">
														<li class="event-detail">Commodities Transfer and Distribution Center in the Tai Shan plant of Far Eastern Textile Co. Ltd. in Wugu Township was established.</li>
														<li class="event-detail">The renovation of FEDS Taichung Store and its own building completed and re-opened.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1994</time> March</span>
													<ul class="event-desc">
														<li class="event-detail">Taipei Metro, The Mall managed by Ya Tung Department Store Ltd. went into full operation.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">July</span>
													<ul class="event-desc">
														<li class="event-detail">Overseas Convertible bonds of seven years maturity were issued to the amount of USD$75 million.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1995</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">The Tainan Store of Far Eastern Hon Li Do Co., Ltd. was opened.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">May</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of Kaohsiung Shopping Center Store ended.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">July</span>
													<ul class="event-desc">
														<li class="event-detail">Summer Sale in Taiwan originated with FEDS.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1996</time> May</span>
													<ul class="event-desc">
														<li class="event-detail">The operations of FEDS Chungli Store were expanded to 10 floors in the same building and it was re-opened after being redesigned and remodeled.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">July</span>
													<ul class="event-desc">
														<li class="event-detail">Yongho Hyper Store of Far Eastern Enterprise Ltd. was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">September</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Kaohsiung Store, located in front of the Kaohsiung Railway Station, was established and the registration of Kaohsiung Shopping Center Store was cancelled.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Asia Pacific Development Co., Ltd. was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1997</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Tainan Cheng-Kong Stores was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS thirtieth Anniversary Celebration was held.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1998</time> March</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Panchiao Chungshan Store was re-opened after being remodeled, and the operation of FEDS Panchiao Store ended due to expiry of its lease.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">May</span>
													<ul class="event-desc">
														<li class="event-detail">Yungfu Hyper Store of Far Eastern Enterprise Ltd. was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">1999</time> March</span>
													<ul class="event-desc">
														<li class="event-detail">Chungkang Hyper Store of Far Eastern Enterprise Ltd. was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">September</span>
													<ul class="event-desc">
														<li class="event-detail">Due to the impact of earthquake 921, FEDS Taichung Store temporarily suspended operations.</li>
														<li class="event-detail">FEDS Taoyuan Store closed due to the expiry of its lease.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Tainan Park Stores closed and was demolished and another entertainment building was built.</li>
														<li class="event-detail">FE21' Taoyuan Store was built on the land owned by Tao-Yuan Farmers’ Association.</li>
														<li class="event-detail">The operation of FEDS Kaohsiung Store was located in front of the Kaohsiung Railway Station. It was decreased by 3 floors and continued to operate after re-adjustment and refurbishment.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">November</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS New Century Development Co., Ltd. was established to set up Far Eastern Panchiao Shopping Mall</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">Taoyuan Hyper Store of Far Eastern Enterprise Ltd. was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2000</time> February</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Jenai Store closed due to the expiration of its lease.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">March</span>
													<ul class="event-desc">
														<li class="event-detail">Far Eastern Enterprise Ltd. signed a merging contract with French Casino Group's Taiwan Branch D.F.I. Geant . Far Eastern Enterprise Ltd. was a surviving company. The record date of consolidation was on July 3.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">May</span>
													<ul class="event-desc">
														<li class="event-detail">Yangmei HYPER Store of Far Eastern Geant Co., Ltd. was established.</li>
														<li class="event-detail">The operation of FEDS Panchiao Chungshan Store ended.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">June</span>
													<ul class="event-desc">
														<li class="event-detail">FE21' Panchiao Store whose building and land was owned by FEDS was opened.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">July</span>
													<ul class="event-desc">
														<li class="event-detail">Far Eastern Enterprise Ltd. and French Casino Group's Taiwan Branch D.F.I. Geant formally completed their merger to form Far Eastern Geant Co. Ltd.</li>
														<li class="event-detail">The operation of Tainan Store of Far Eastern Hon Li Do Co., Ltd. ended.</li>
														<li class="event-detail">Tainan HYPER Store of Far Eastern Geant Co., Ltd. was established.</li>
														<li class="event-detail">Taichung Fuxing Store and Kaohsiung Pingdeng Store of French Casino Group's Taiwan Branch D.F.I. Geant were renamed as Taichung Fuxing HYPER Store and Kaohsiung Pingdeng HYPER Store of Far Eastern Geant Co., Ltd.</li>
														<li class="event-detail">FEDS held the eleventh IDGS (International Group Department Store) Asia Summit in Taipei.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of FEDS Taichung Store ended.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2001</time> September</span>
													<ul class="event-desc">
														<li class="event-detail">Chunghsiao HYPER Store of Far Eastern Geant Co., Ltd. was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">Taoyuan HYPER Store of Far Eastern Geant Co., Ltd. was established.</li>
														<li class="event-detail">The operation of FEDS Kaohsiung Store, located in front of the Kaohsiung Railway Station, ended.</li>
														<li class="event-detail">FE21' Mega Kaohsiung Store inaugurated its services.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">Central HYPER Store of Far Eastern Geant Co., Ltd. was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2002</time> March</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of FEDS Hsinchu Store ended.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">July</span>
													<ul class="event-desc">
														<li class="event-detail">FE21' Mega Tainan Chenkong Store re-opened after FEDS Tainan Chenkong Stores was remodeled.</li>
														<li class="event-detail">FE21' Mega Tainan Konyuan Store comprised of a recreation center which was re-opened after FEDS Tainan Park Stores was remodeled.</li>
														<li class="event-detail">Yuanlin HYPER Store of Far Eastern Geant Co., Ltd. was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">September</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS invested in Pacific Liu Tong Investment Co., Ltd.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">November</span>
													<ul class="event-desc">
														<li class="event-detail">FE21' Mega Hsinchu Store inaugurated its services.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2003</time> April</span>
													<ul class="event-desc">
														<li class="event-detail">A groundbreaking and commencement ceremony for Far Eastern Panchiao Shopping Mall was held.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">May</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of Central HYPER Store of Far Eastern Geant Co., Ltd. ended.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">Hsinchu HYPER Store of Far Eastern Geant Co., Ltd. was established.</li>
														<li class="event-detail">FEDS acquired the land use rights for No. A13 in the Hsinyi district, which is owned by the Taipei City Government, and had the right to use the land for 50 years from the completion of the right registration.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2004</time> February</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of FEDS Chungli Central Store ended.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">June</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Chungli Store was remodeled to be SOGO Chungli New Hall.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">July</span>
													<ul class="event-desc">
														<li class="event-detail">Ministry of Economic Affairs, Investment Commission, approved FEDS's subsidiary, FEDS Development Ltd.(BVI), to set up FEDS Chongqing Store and Chongqing Bai Ding Business Management Consulting Co., Ltd. in Mainland China.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">September</span>
													<ul class="event-desc">
														<li class="event-detail">A joint investment was carried out with FEDS and CitySuper in the establishment of Far Eastern CitySuper Ltd.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">November</span>
													<ul class="event-desc">
														<li class="event-detail">Ministry of Economic Affairs, Investment Commission, approved to a name change of Chongqing Far Eastern Business Management Consulting Co. to the name of Chongqing Bai Ding Business Management Consulting Co.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">Mall Store of Far Eastern CitySuper Ltd. was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2005</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS invested in Far Eastern Finance & Leasing Corp.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">March</span>
													<ul class="event-desc">
														<li class="event-detail">Ministry of Economic Affairs, Investment Commission, approved FEDS's subsidiary, FEDS Development Ltd.(BVI), to set up FEDS Tianjin Store in Mainland China.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">November</span>
													<ul class="event-desc">
														<li class="event-detail">Far Eastern Department Stores (U.S.A.) Inc. (FEDS-USA) dissolved and FEDS invested in Far Eastern Department Stores (U.S.A.) Inc. from indirectly to directly.</li>
														<li class="event-detail">FEDS won the bid to lease land (No.89 and 91) located in the West Tun district in Taichung city, which was being managed by the Ministry of Education. On expiry of the contract, the Company has the right to extend the contract for another twenty years.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2006</time> May</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Tianjin Stores was opened.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">Bai Chin (Singapore) Pte. Ltd. dissolved and liquidated.</li>
														<li class="event-detail">Fuxing Store of Pacific SOGO Department Stores Ltd. was opened.</li>
														<li class="event-detail">Fuxing Store of Far Eastern CitySuper Ltd. was opened.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2007</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS bought back the shares of Hyper Geant Co. held by  Bergsaar BV, et al.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2008</time> February</span>
													<ul class="event-desc">
														<li class="event-detail">Ministry of Economic Affairs, Investment Commission, approved to change the name of Chongqing Bai Ding Business Management Consulting Co. to the name of Shanghai Bai Ding Business Management Consulting Co.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">April</span>
													<ul class="event-desc">
														<li class="event-detail">Ministry of Economic Affairs, Investment Commission, approved Bai Yang Investment Co., a subsidiary of FEDS, to acquire 40% shares of Pacific China Holdings Ltd., held by ABN AMRO BANK, N.V. LONDON BRANCH.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">Sanchong HYPER Store of Far Eastern Geant Co., Ltd. was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2009</time> May</span>
													<ul class="event-desc">
														<li class="event-detail">Tienmu Store of Pacific SOGO Department Stores Ltd. was opened.</li>
														<li class="event-detail">Tienmu Store of Far Eastern CitySuper Ltd. was opened.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">October</span>
													<ul class="event-desc">
														<li class="event-detail">Hualien Heping Store of FEDS was established.</li>
														<li class="event-detail">Hualien Hyper Store of Far Eastern Enterprise Ltd. was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2010</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">Ministry of Economic Affairs, Investment Commission, approved FEDS's subsidiaries, Bai Yang Investment Co. and Pacific Sogo Department Stores Ltd., to indirectly set up WuXi FEDS Co. Ltd. in Mainland China.</li>
														<li class="event-detail">Keelung Hyper Store of Far Eastern Enterprise Ltd. was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">June</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS WuXi Store was opened.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">Far Eastern Big City Shopping Center in Hsinchu was established.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2011</time> January</span>
													<ul class="event-desc">
														<li class="event-detail">Fengyuan Hyper Store of Far Eastern Enterprise Ltd. was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">June</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Chengdu Store was opened.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">December</span>
													<ul class="event-desc">
														<li class="event-detail">FE21' Mega Taichung Store (Top City) inaugurated its services.</li>
														<li class="event-detail">FE21' Mega Panchiao Store (Mega City) inaugurated its services.</li>
														<li class="event-detail">Panchiao Store (Mega City) of Far Eastern CitySuper Ltd. was opened.</li>
														<li class="event-detail">Taichung Store (Top City) of Far Eastern CitySuper Ltd. was opened.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2012</time> April</span>
													<ul class="event-desc">
														<li class="event-detail">Far Eastern SOGO BIG CITY Shopping Mall was opened.</li>
														<li class="event-detail">Second Hsinchu Store of Pacific SOGO Department Stores Ltd. was opened.</li>
														<li class="event-detail">Far Eastern SOGO BIG CITY Hyper Store of Far Eastern Enterprise Ltd. was opened.</li>
														<li class="event-detail">Hsinchu Store (Big City) of Far Eastern CitySuper Ltd. was opened.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2013</time> March</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Chengdu Store signed the letter of intent to lease with Chengdu Longhu North Real Estate Company Limited</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">Nov.</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of Pacific Chengdu Tsunsi Store ended.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2014</time> Jan.</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Chengdu Beicheng Store was opened.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2015</time> Jan.</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS’s head office has been relocated at 16F~18F., No.16, Xinzhan Rd., Banqiao Dist., New Taipei City 220, Taiwan</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">Mar.</span>
													<ul class="event-desc">
														<li class="event-detail">The operation of FEDS Tianjin Stores ended.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">Apr.</span>
													<ul class="event-desc">
														<li class="event-detail">Banqiao Nanya Hyper Store of Far Eastern Enterprise Ltd. was opened.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">Jun.</span>
													<ul class="event-desc">
														<li class="event-detail">Chubei New Century Shopping Mall Co., Ltd. was established.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">Jul.</span>
													<ul class="event-desc">
														<li class="event-detail">Chubei New Century Shopping Mall Co., Ltd. signed an investment contract of No.8 Parking Lot BOT Project, Zhubei City, Hsinchu County with Hsinchu County Government.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">Aug.</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS issued the 2014 CSR Report, the first one issued by Taiwan Listed Department Store Chain Business.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">Oct.</span>
													<ul class="event-desc">
														<li class="event-detail">Panhsin Hyper Store of Far Eastern Enterprise Ltd. ended.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">Dec.</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS WuXi Store was opened.</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2016</time> Agu.</span>
													<ul class="event-desc">
														<li class="event-detail">Dalian Pacific Department Store Co. Ltd. transferred to Pacific (China) Investment Co. Ltd.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">Oct.</span>
													<ul class="event-desc">
														<li class="event-detail">Kaohsiung Hyper Store of Far Eastern Enterprise Ltd. ended.</li>
														<li class="event-detail">Taoyuan Tai Mall Store of Far Eastern City Super Ltd. was opened.</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right"></span>
													<ul class="event-desc">
														<li class="event-detail">Dazhi Hyper Store of Far Eastern Enterprise Ltd. ended.</li>
														<li class="event-detail">Log on Hsinchu Store of Far Eastern City Super Ltd. was opened.</li>
														<li class="event-detail">Huaihai Store of Shanghai Pacific Sogo Department Stores Co. Ltd. ended.(Lease expired)</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right"><time class="event-year b-float-left">2017</time> Apr.</span>
													<ul class="event-desc">
														<li class="event-detail">FEDS Chengdu Beicheng Store ended.</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>