<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/investment-en.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body processing show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link">Financial Information</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link">Financial Information</a></li>
									<li class="list"><a href="revenue.html" class="sub-link">Monthly Revenue Statements</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">Important Information</a></li>
						<li class="list">
							<button class="b-link">Corporate Governance</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link">Organization Chart</a></li>
									<li class="list"><a href="history.html" class="sub-link">Company Profile</a></li>
									<li class="list"><a href="directors.html" class="sub-link">Board of Directors</a></li>
									<li class="list"><a href="operation.html" class="sub-link">Internal Auditing Chart & Operations</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">Articles of Incorporation & Relevant Procedure</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link is-curr">Shareholders Billboard</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="processing.html" class="sub-link is-curr">Investor Relations Contact</a></li>
									<li class="list"><a href="briefing.html" class="sub-link">Investor Conference Information</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link">Major Resolutions approved on Shareholder Meeting</a></li>
									<li class="list"><a href="reference.html" class="sub-link">Shareholders Information</a></li>
									<li class="list"><a href="dividends.html" class="sub-link">Stock Quotes & Dividends</a></li>
									<li class="list"><a href="meeting-record.html" class="sub-link">Meeting Record</a></li>
									<li class="list"><a href="annual-reports.html" class="sub-link">Annual Reports</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">FEDS</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">Investment</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">Investor Relations Contact</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">Investment</em></span>
					<span class="sub-lang">投資人專區</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">Investor Relations Contact</h3>
							</div>
							<div class="table-wrap">
								<table class="m-table table-rotate no-label">
									<tbody>
										<tr>
											<th class="b-text-center b-col-dt-3"><em class="text">Spokesperson</em></td>
											<td>
												<table class="sub-table b-col-dt-12">
													<tr>
														<th class="b-text-right b-col-dt-3"><em class="text">Name</em></th>
														<td class="b-text-left b-col-dt-9"><em class="text">James Tang</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">Title</em></th>
														<td class="b-text-left"><em class="text">Vice president/ CFO</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">Tel</em></th>
														<td class="b-text-left"><em class="text">886-2-77278168 ext. 8301</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">Fax</em></th>
														<td class="b-text-left"><em class="text">886-2-77380752</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">E-mail</em></th>
														<td class="b-text-left"><em class="text"><a href="mailto:service@feds.com.tw" class="b-link">service@feds.com.tw</a></em></td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<th class="b-text-center"><em class="text">Acting Spokesperson</em></td>
											<td>
												<table class="sub-table b-col-dt-12">
													<tr>
														<th class="b-text-right b-col-dt-3"><em class="text">Name</em></th>
														<td class="b-text-left b-col-dt-9"><em class="text">Yuan-Chuan Chen</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">Title</em></th>
														<td class="b-text-left"><em class="text">Manager</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">Tel</em></th>
														<td class="b-text-left"><em class="text">886-2-77278168 ext.8261</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">Fax</em></th>
														<td class="b-text-left"><em class="text">886-2-77270790</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">E-mail</em></th>
														<td class="b-text-left"><em class="text"><a href="mailto:service@feds.com.tw" class="b-link">service@feds.com.tw</a></em></td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<th class="b-text-center"><em class="text">IR Director</em></td>
											<td>
												<table class="sub-table b-col-dt-12">
													<tr>
														<th class="b-text-right b-col-dt-3"><em class="text">Name</em></th>
														<td class="b-text-left b-col-dt-9"><em class="text">James Tang</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">Title</em></th>
														<td class="b-text-left"><em class="text">Vice president/ CFO</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">Tel</em></th>
														<td class="b-text-left"><em class="text">886-2-77278168 ext.8301</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">Fax</em></th>
														<td class="b-text-left"><em class="text">886-2-77380752</em></td>
													</tr>
													<tr>
														<th class="b-text-right"><em class="text">E-mail</em></th>
														<td class="b-text-left"><em class="text"><a href="mailto:irjt@feds.com.tw" class="b-link">irjt@feds.com.tw</a></em></td>
													</tr>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>