<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body earnings show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link">股東會參考資料</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link">財報資料</a></li>
									<li class="list"><a href="revenue.html" class="sub-link">營收報告</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">重大訊息</a></li>
						<li class="list">
							<button class="b-link">公司治理</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link">公司組織架構</a></li>
									<li class="list"><a href="history.html" class="sub-link">公司沿革</a></li>
									<li class="list"><a href="directors.html" class="sub-link">董事會員及委員會</a></li>
									<li class="list"><a href="operation.html" class="sub-link">稽核組織與運作</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">章程及相關作業程序</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link is-curr">股東專欄</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="resolutions.html" class="sub-link">董事會決議事項</a></li>
									<li class="list"><a href="processing.html" class="sub-link">投資人關係處理窗口</a></li>
									<li class="list"><a href="briefing.html" class="sub-link">法人說明會簡報</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link">股東會紀實</a></li>
									<li class="list"><a href="reference.html" class="sub-link is-curr">股東會參考資料</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">投資人專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">股東會參考資料</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">投資人</em>專區</span>
					<span class="sub-lang">investment</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">股東會參考資料</h3>
							</div>
							<div class="table-wrap">
								<table class="m-table">
									<thead>
										<tr>
											<td class="b-col-dt-9" colspan="2"><em class="text b-bold">資料內容</em></td>
											<td class="b-col-dt-3"><em class="text b-bold">下載</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="b-text-center"><em class="text">一○六年</em></td>
											<td class="b-text-left"><em class="text">一○六年議事錄</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/106%E5%B9%B4%E8%82%A1%E6%9D%B1%E6%9C%83%E8%AD%B0%E4%BA%8B%E9%8C%84.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○六年</em></td>
											<td class="b-text-left"><em class="text">一○六年議事錄(英文版)</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/%E4%B8%800%E5%85%AD%E5%B9%B4%E8%AD%B0%E4%BA%8B%E9%8C%84(%E8%8B%B1%E6%96%87%E7%89%88).pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○六年</em></td>
											<td class="b-text-left"><em class="text">一○五年度年報</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/FEDS-20170605001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○六年</em></td>
											<td class="b-text-left"><em class="text">前十大股東名單</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/FEDS-20170605002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○六年</em></td>
											<td class="b-text-left"><em class="text">一○六年開會通知</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/Notice.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○六年</em></td>
											<td class="b-text-left"><em class="text">一○六年議事手冊</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/Manual.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○六年</em></td>
											<td class="b-text-left"><em class="text">一○六年開會通知(英文版)</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/Meeting%20Notice%20of%202017%20AGM.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○六年</em></td>
											<td class="b-text-left"><em class="text">一○六年議事手冊(英文版)</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/Meeting%20Handbook%20of%202017%20AGM.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○五年</em></td>
											<td class="b-text-left"><em class="text">主要股東名單</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20161221002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○五年</em></td>
											<td class="b-text-left"><em class="text">一○五年議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20160705002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○五年</em></td>
											<td class="b-text-left"><em class="text">一○五年議事錄(英文版)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20160705003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○五年</em></td>
											<td class="b-text-left"><em class="text">一○四年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20160602001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○五年</em></td>
											<td class="b-text-left"><em class="text">一○五年開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20160517001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○五年</em></td>
											<td class="b-text-left"><em class="text">一○五年開會通知(英文版)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20160517002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○五年</em></td>
											<td class="b-text-left"><em class="text">一○五年議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20160517003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○五年</em></td>
											<td class="b-text-left"><em class="text">一○五年股東常會議案參考資料</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20160517003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○五年</em></td>
											<td class="b-text-left"><em class="text">一○五年議事手冊(英文版)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20160517004.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○四年</em></td>
											<td class="b-text-left"><em class="text">一○四年議事錄(英文版)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2015/20150703001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○四年</em></td>
											<td class="b-text-left"><em class="text">一○四年議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2015/20150703002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○四年</em></td>
											<td class="b-text-left"><em class="text">一○三年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2015/20150610001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○四年</em></td>
											<td class="b-text-left"><em class="text">一○四年議事手冊(英文版)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2015/20150610002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○四年</em></td>
											<td class="b-text-left"><em class="text">一○四年開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2015/20150522003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○四年</em></td>
											<td class="b-text-left"><em class="text">一○四年英文開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2015/20150522004.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○四年</em></td>
											<td class="b-text-left"><em class="text">一○四年議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2015/20150522005.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○四年</em></td>
											<td class="b-text-left"><em class="text">一○四年股東常會議案參考資料</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2015/20150522005.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○三年</em></td>
											<td class="b-text-left"><em class="text">一○三年議事錄（英文版）</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140707005.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○三年</em></td>
											<td class="b-text-left"><em class="text">一○三年議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140707001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○三年</em></td>
											<td class="b-text-left"><em class="text">一○三年股東常會得以電子方式行使表決權之方法及執行情形</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140701001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○三年</em></td>
											<td class="b-text-left"><em class="text">一○二年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140721001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○三年</em></td>
											<td class="b-text-left"><em class="text">一○三年開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140520001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○三年</em></td>
											<td class="b-text-left"><em class="text">一○三年英文開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140520002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○三年</em></td>
											<td class="b-text-left"><em class="text">一○三年議事手冊(英文版)</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140617001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○三年</em></td>
											<td class="b-text-left"><em class="text">一○三年議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140520003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○三年</em></td>
											<td class="b-text-left"><em class="text">一○三年股東常會議案參考資料</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140520004.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○二年</em></td>
											<td class="b-text-left"><em class="text">一○二年英文議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130705005.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○二年</em></td>
											<td class="b-text-left"><em class="text">一○二年議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130705004.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○二年</em></td>
											<td class="b-text-left"><em class="text">一○二年股東常會得以電子方式行使表決權之方法及執行情形</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130715001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○二年</em></td>
											<td class="b-text-left"><em class="text">一○二年股東常會各項議案逐案表決之投票情況與結果</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130715002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○二年</em></td>
											<td class="b-text-left"><em class="text">一○一年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130624001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○二年</em></td>
											<td class="b-text-left"><em class="text">一○二年開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130529001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○二年</em></td>
											<td class="b-text-left"><em class="text">一○二年英文開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20130529001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○二年</em></td>
											<td class="b-text-left"><em class="text">一○二年議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130529002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○二年</em></td>
											<td class="b-text-left"><em class="text">一○二年英文議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20130529002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○一年</em></td>
											<td class="b-text-left"><em class="text">一○一年獨立董事提名暨選任相關資訊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/1-52636-20120801001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○一年</em></td>
											<td class="b-text-left"><em class="text">一○一年股東常會得以電子方式行使表決權之方法及執行情形</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/1-11613-20120801002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○一年</em></td>
											<td class="b-text-left"><em class="text">一○一年股東常會各項議案逐案表決之投票情況與結果</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130620004.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○一年</em></td>
											<td class="b-text-left"><em class="text">一○一年議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/10-81666-20120710003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○一年</em></td>
											<td class="b-text-left"><em class="text">一○一年英文議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/10-62548-20120710002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○一年</em></td>
											<td class="b-text-left"><em class="text">一○○年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/028.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○一年</em></td>
											<td class="b-text-left"><em class="text">一○一年議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/027.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○一年</em></td>
											<td class="b-text-left"><em class="text">一○一年英文議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20120529002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○一年</em></td>
											<td class="b-text-left"><em class="text">一○一年開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/026.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一○一年</em></td>
											<td class="b-text-left"><em class="text">一○一年英文開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20120529001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一百年</em></td>
											<td class="b-text-left"><em class="text">一百年議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/025.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一百年</em></td>
											<td class="b-text-left"><em class="text">一百年英文議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/024.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一百年</em></td>
											<td class="b-text-left"><em class="text">一百年議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/022.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一百年</em></td>
											<td class="b-text-left"><em class="text">一百年英文版議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/021.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一百年</em></td>
											<td class="b-text-left"><em class="text">一百年開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/020.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一百年</em></td>
											<td class="b-text-left"><em class="text">一百年英文版開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/019.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">一百年</em></td>
											<td class="b-text-left"><em class="text">九十九年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/023.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十九年</em></td>
											<td class="b-text-left"><em class="text">九十九年議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/017.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十九年</em></td>
											<td class="b-text-left"><em class="text">九十九年英文議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/016.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十九年</em></td>
											<td class="b-text-left"><em class="text">九十九年議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/015.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十九年</em></td>
											<td class="b-text-left"><em class="text">九十八年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/014.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十九年</em></td>
											<td class="b-text-left"><em class="text">九十九年英文議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/013.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十九年</em></td>
											<td class="b-text-left"><em class="text">九十九年開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/018.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十九年</em></td>
											<td class="b-text-left"><em class="text">九十九年英文開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/012.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十八年</em></td>
											<td class="b-text-left"><em class="text">九十八年議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/011.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十八年</em></td>
											<td class="b-text-left"><em class="text">九十八年英文議事錄</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/010.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十八年</em></td>
											<td class="b-text-left"><em class="text">九十八年議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/009.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十八年</em></td>
											<td class="b-text-left"><em class="text">九十八年英文議事手冊</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/008.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十八年</em></td>
											<td class="b-text-left"><em class="text">九十八年開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/007.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十八年</em></td>
											<td class="b-text-left"><em class="text">九十八年英文開會通知</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/006.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十八年</em></td>
											<td class="b-text-left"><em class="text">九十七年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/005.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十七年</em></td>
											<td class="b-text-left"><em class="text">九十六年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/004.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十六年</em></td>
											<td class="b-text-left"><em class="text">九十五年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十五年</em></td>
											<td class="b-text-left"><em class="text">九十四年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">九十四年</em></td>
											<td class="b-text-left"><em class="text">九十三年年報</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report4/001.pdf" class="btn-link">Download</a></em></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>