<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body earnings show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link">Financial Information</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link">Financial Information</a></li>
									<li class="list"><a href="revenue.html" class="sub-link">Monthly Revenue Statements</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">Important Information</a></li>
						<li class="list">
							<button class="b-link">Corporate Governance</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link">Organization Chart</a></li>
									<li class="list"><a href="history.html" class="sub-link">Company Profile</a></li>
									<li class="list"><a href="directors.html" class="sub-link">Board of Directors</a></li>
									<li class="list"><a href="operation.html" class="sub-link">Internal Auditing Chart & Operations</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">Articles of Incorporation & Relevant Procedure</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link is-curr">Shareholders Billboard</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="processing.html" class="sub-link">Investor Relations Contact</a></li>
									<li class="list"><a href="briefing.html" class="sub-link">Investor Conference Information</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link">Major Resolutions approved on Shareholder Meeting</a></li>
									<li class="list"><a href="reference.html" class="sub-link is-curr">Shareholders Information</a></li>
									<li class="list"><a href="dividends.html" class="sub-link">Stock Quotes & Dividends</a></li>
									<li class="list"><a href="meeting-record.html" class="sub-link">Meeting Record</a></li>
									<li class="list"><a href="annual-reports.html" class="sub-link">Annual Reports</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">FEDS</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">Investment</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">Shareholders Information</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">Investment</em></span>
					<span class="sub-lang">投資人專區</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">Shareholders Information</h3>
							</div>
							<div class="table-wrap">
								<table class="m-table">
									<thead>
										<tr>
											<td class="b-col-dt-9"><em class="text b-bold">Summary</em></td>
											<td class="b-col-dt-3"><em class="text b-bold">File</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><em class="text">Meeting Notice of 2017 AGM</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/Meeting%20Notice%20of%202017%20AGM.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Handbook of 2017 AGM</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/Meeting%20Handbook%20of%202017%20AGM.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Notice of 2016 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20160517001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Handbook of 2016 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20160517002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Handbook of 2015 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20150529001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Notice of 2015 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20150522001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Handbook of 2014 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20140529001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Notice of 2014 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20140520001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Notice of 2013 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20130529001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Handbook of 2013 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20130529002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Handbook of 2012 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20120529002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Notice of 2012 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20120529001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Handbook of 2011 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20110602002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Notice of 2011 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI20110602001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Handbook of 2010 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI201000514002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Notice of 2010 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI201000514001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Handbook of 2009 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI201000517001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td><em class="text">Meeting Notice of 2009 AGM</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/en/SI/SI201000517002.pdf" class="btn-link">Download</a></em></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>