<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body earnings show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link">財務資訊</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link">財報資料</a></li>
									<li class="list"><a href="revenue.html" class="sub-link">營收報告</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">重大訊息</a></li>
						<li class="list">
							<button class="b-link">公司治理</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link">公司組織架構</a></li>
									<li class="list"><a href="history.html" class="sub-link">公司沿革</a></li>
									<li class="list"><a href="directors.html" class="sub-link">董事會員及委員會</a></li>
									<li class="list"><a href="operation.html" class="sub-link">稽核組織與運作</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">章程及相關作業程序</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link is-curr">股東專欄</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="resolutions.html" class="sub-link">董事會決議事項</a></li>
									<li class="list"><a href="processing.html" class="sub-link">投資人關係處理窗口</a></li>
									<li class="list"><a href="briefing.html" class="sub-link">法人說明會簡報</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link is-curr">股東會紀實</a></li>
									<li class="list"><a href="reference.html" class="sub-link">股東會參考資料</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">投資人專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">股東會紀實</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">投資人</em>專區</span>
					<span class="sub-lang">investment</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">股東會紀實</h3>
							</div>
							<div class="table-wrap">
								<table class="m-table">
									<thead>
										<tr>
											<td class="b-col-dt-9" colspan="2"><em class="text b-bold">資料內容</em></td>
											<td class="b-col-dt-3"><em class="text b-bold">下載</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="b-text-center"><em class="text">106年</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○六年度股東會紀實</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/The%20Record%20of%20FEDS'%202017%20Annual%20General%20Shareholders'%20Meeting(Chinese).pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">106年</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○六年度股東會新聞稿</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/shareholder/Reunion/Press%20release%20for%202017%20AGM%20of%20FEDS(Chinese).pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">105年</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○五年度股東會紀實</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20160705004.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">105年</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○五年度股東會新聞稿</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2016/20160617001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">104年</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○四年度股東會紀實</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2015/20150629001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">104年</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○四年度股東會新聞稿</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2015/20150622001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">103年</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○三年度股東會紀實</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140703001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">103年</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○三年度股東會新聞稿</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2014/20140620001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">102年</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○二年度股東會紀實</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130705003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">102年</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○二年度股東會新聞稿</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/2013/20130620003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">101年度</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○一年度股東會紀實</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/27-43009-20120727001.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">101年度</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一○一年度股東常會新聞稿</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/InRe_Report1/21-22697-006.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100年度</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一百年度股東會紀實</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/MeetRecord_TC/005.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">100年度</em></td>
											<td class="b-text-left"><em class="text">遠東百貨一百年度股東常會新聞稿</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/MeetRecord_TC/004.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99年度</em></td>
											<td class="b-text-left"><em class="text">遠東百貨九十九年股東會紀實</em></td>
											<td><em class="text"><a href="https://www.feds.com.tw/Upload/shareholder/MeetRecord_TC/003.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">99年度</em></td>
											<td class="b-text-left"><em class="text">遠東百貨九十九年度股東常會新聞稿</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/MeetRecord_TC/002.pdf" class="btn-link">Download</a></em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">98年度</em></td>
											<td class="b-text-left"><em class="text">遠東百貨九十八年股東會紀實</em></td>
											<td><em class="text"><a href="http://fedsenews.com.tw/shareholder/tw/MeetRecord_TC/001.pdf" class="btn-link">Download</a></em></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>