<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body structure show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link">財務資訊</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link">財報資料</a></li>
									<li class="list"><a href="revenue.html" class="sub-link">營收報告</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">重大訊息</a></li>
						<li class="list">
							<button class="b-link is-curr">公司治理</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link is-curr">公司組織架構</a></li>
									<li class="list"><a href="history.html" class="sub-link">公司沿革</a></li>
									<li class="list"><a href="directors.html" class="sub-link">董事會員及委員會</a></li>
									<li class="list"><a href="operation.html" class="sub-link">稽核組織與運作</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">章程及相關作業程序</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link">股東專欄</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="resolutions.html" class="sub-link">董事會決議事項</a></li>
									<li class="list"><a href="processing.html" class="sub-link">投資人關係處理窗口</a></li>
									<li class="list"><a href="briefing.html" class="sub-link">法人說明會簡報</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link">股東會紀實</a></li>
									<li class="list"><a href="reference.html" class="sub-link">股東會參考資料</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">投資人專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">公司組織架構</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">投資人</em>專區</span>
					<span class="sub-lang">investment</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">公司組織架構</h3>
								<div class="info-text">
									<figure class="img-wrap b-text-center">
										<img class="b-hide-xs" src="../../content/img/investment/structure-pc.png" alt="">
										<img class="b-hide-dt" src="../../content/img/investment/structure-m.png" alt="">
									</figure>
								</div>
							</div>
							<div class="table-wrap">
								<table class="m-table table-rotate">
									<thead>
										<tr>
											<td class="b-col-dt-2"><em class="text b-bold">部門名稱</em></td>
											<td class="b-col-dt-3"><em class="text b-bold">部門最高主管</em></td>
											<td class=""><em class="text b-bold">所司業務</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td data-label="部門名稱"><em class="text">稽核室</em></td>
											<td data-label="部門最高主管"><em class="text">許華齡 協理</em></td>
											<td data-label="所司業務" class="b-text-left"><em class="text">依據公司章程、內部控制制度、內部稽核實施細則及相關法令規定，評估各單位業務潛在風險，擬訂實施年度稽核計畫，以降低公司經營風險。</em></td>
										</tr>
										<tr>
											<td data-label="部門名稱"><em class="text">管理本部</em></td>
											<td data-label="部門最高主管"><em class="text">湯治亞 副總經理</em></td>
											<td data-label="所司業務" class="b-text-left"><em class="text">督導人力資源、會計、資訊管理、總務、工程、財務及採購等部門業務，以降低營運管理風險。<br>(1) 辦理人力開發訓練及培養、任免、調遷、獎懲、考核，擬訂作息時間， 提高工作效率及員工福利之有關事項。<br>(2) 會計年度之研擬修訂，各項會計帳務之處理、財務報告之編製，年度預算之編訂，各項稅捐之申報，固定資產之管理及存貨盤點之監督查核等。<br>(3) 辦理資訊系統設計、資訊程式設計及資料管理之有關事項。<br>(4) 辦理文書、庶務、安全及不屬於各部之事務。<br>(5) 各項工程營建專案規劃及冷氣、空調及用電設備維護保養。<br>(6) 辦理資金調度、出納、禮券之發售及管理，對外投資規劃暨轉投資公司投資效益之分析與考核。</em></td>
										</tr>
										<tr>
											<td data-label="部門名稱"><em class="text">營運本部</em></td>
											<td data-label="部門最高主管"><em class="text">林彰豊 副總經理</em></td>
											<td data-label="所司業務" class="b-text-left"><em class="text">督導行銷企劃室各項業務。<br>(1) 各檔期行銷企劃或其他專案活動規劃。<br>(2) 賣場視覺表現、商品陳列、櫥窗設計等各項提案及執行。<br>(3) 顧客抱怨處理及各項顧客服務規劃。<br>(4) 統理媒體公關事宜。<br>督導各分公司營運業務，以降低營運業務風險。<br>統理新店籌備各項事宜。</em></td>
										</tr>
										<tr>
											<td data-label="部門名稱"><em class="text">商品本部</em></td>
											<td data-label="部門最高主管"><em class="text">劉志成 副總經理</em></td>
											<td data-label="所司業務" class="b-text-left"><em class="text">辦理國際精品、家用品、化妝品、女內睡衣、女鞋、流行女裝、少淑淑女裝、童裝、男裝、家電文教及超市等各項商品採購及專櫃廠商招攬等管理事宜，以降低採購業務風險。<br><br>辦理網路購物電子商務管理事宜。</em></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-wrap">
								<table class="m-table table-rotate">
									<thead>
										<tr>
											<td class="b-col-dt-3"><em class="text b-bold">職 務</em></td>
											<td class="b-col-dt-2"><em class="text b-bold">姓 名</em></td>
											<td class="b-col-dt-2"><em class="text b-bold">就任日期</em></td>
											<td class=""><em class="text b-bold">主要經（學）歷</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td data-label="職 務"><em class="text">總經理</em></td>
											<td data-label="姓 名"><em class="text">徐雪芳</em></td>
											<td data-label="就任日期"><em class="text">95.06.02</em></td>
											<td data-label="主要經（學）歷" class="b-text-left"><em class="text">實踐大學服裝設計科</em></td>
										</tr>
										<tr>
											<td data-label="職 務"><em class="text">商品本部副總經理</em></td>
											<td data-label="姓 名"><em class="text">劉志成</em></td>
											<td data-label="就任日期"><em class="text">96.03.20</em></td>
											<td data-label="主要經（學）歷" class="b-text-left"><em class="text">美國中央密西根大學電腦碩士</em></td>
										</tr>
										<tr>
											<td data-label="職 務"><em class="text">高雄分公司副總經理</em></td>
											<td data-label="姓 名"><em class="text">鄒德祥</em></td>
											<td data-label="就任日期"><em class="text">96.03.20</em></td>
											<td data-label="主要經（學）歷" class="b-text-left"><em class="text">東吳大學會計系</em></td>
										</tr>
										<tr>
											<td data-label="職 務"><em class="text">管理本部副總經理</em></td>
											<td data-label="姓 名"><em class="text">湯治亞</em></td>
											<td data-label="就任日期"><em class="text">102.10.01</em></td>
											<td data-label="主要經（學）歷" class="b-text-left"><em class="text">東吳大學法律碩士<br>英國萊斯特大學金融理科碩士<br>英國倫敦政經學院法律碩士</em></td>
										</tr>
										<tr>
											<td data-label="職 務"><em class="text">營運本部副總經理</em></td>
											<td data-label="姓 名"><em class="text">林彰豊</em></td>
											<td data-label="就任日期"><em class="text">104.07.01</em></td>
											<td data-label="主要經（學）歷" class="b-text-left"><em class="text">台灣師範大學美術系</em></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>