<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/business-info.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body brand-info show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">板橋大遠百</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">營業資訊</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">交通指南</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">營業</em>資訊</span>
					<span class="sub-lang">Business information</span>
				</h2>
				<div class="m-cut b-clearfix">
					<div class="m-tab main-tab">
						<ul class="m-tab-wrap">
							<li class="tab-list">
								<a href="business-info.html" class="btn-tab b-block"><i class="m-icon m-icon-traffic"></i><em class="text">交通指南</em></a>
							</li>
							<li class="tab-list">
								<a href="business-info.html?parking" class="btn-tab b-block"><i class="m-icon m-icon-taxi-o"></i><em class="text">停車優惠</em></a>
							</li>
							<li class="tab-list">
								<a href="business-info.html?floor" class="btn-tab b-block is-curr"><i class="m-icon m-icon-guide"></i><em class="text">樓層 / 櫃位</em></a>
							</li>
							<li class="tab-list">
								<a href="business-info.html?service" class="btn-tab b-block"><i class="m-icon m-icon-service-2"></i><em class="text">服務設施</em></a>
							</li>
						</ul>
						<ul class="m-tab-content">
							<li class="content-list is-curr">
								<div class="m-tab sub-tab">
									<ul class="m-tab-wrap">
										<li class="tab-list">
											<a href="business-info.html?floor-b2" class="btn-tab b-block b-middle"><em class="text">B2</em></a>
										</li>
										<li class="tab-list">
											<a href="business-info.html?floor-b1" class="btn-tab b-block b-middle"><em class="text">B1</em></a>
										</li>
										<li class="tab-list">
											<a href="business-info.html?floor-1f" class="btn-tab b-block b-middle"><em class="text">1F</em></a>
										</li>
										<li class="tab-list">
											<a href="business-info.html?floor-2f" class="btn-tab b-block b-middle"><em class="text">2F</em></a>
										</li>
										<li class="tab-list">
											<a href="business-info.html?floor-3f" class="btn-tab b-block b-middle"><em class="text">3F</em></a>
										</li>
										<li class="tab-list">
											<a href="business-info.html?floor-4f" class="btn-tab b-block b-middle"><em class="text">4F</em></a>
										</li>
										<li class="tab-list">
											<a href="business-info.html?floor-5f" class="btn-tab b-block b-middle is-curr"><em class="text">5F</em></a>
										</li>
										<li class="tab-list">
											<a href="business-info.html?floor-6f" class="btn-tab b-block b-middle"><em class="text">6F</em></a>
										</li>
										<li class="tab-list">
											<a href="business-info.html?floor-7f" class="btn-tab b-block b-middle"><em class="text">7F</em></a>
										</li>
										<li class="tab-list">
											<a href="business-info.html?floor-8f" class="btn-tab b-block b-middle"><em class="text">8F</em></a>
										</li>
									</ul>
									<ul class="m-tab-content">
										<li class="content-list is-curr">
											<div class="floor-info-wrap b-text-center">
												<div class="floor-main-info">
													<h3 class="floor-title">名媛童趣館</h3>
													<p class="counters-desc">流行童裝 / 玩具益智 / 童鞋雜貨 / 化妝品 / 內睡衣 / 婦嬰用品 / 香氛 / 輕食餐廳</p>
													<h4 class="facility-title">服務設施</h4>
													<ul class="facility-list">
														<li class="list b-middle"><i class="m-icon m-icon-accessibility"></i></li>
														<li class="list b-middle"><i class="m-icon m-icon-elevator"></i></li>
														<li class="list b-middle"><i class="m-icon m-icon-escalator"></i></li>
														<li class="list b-middle"><i class="m-icon m-icon-baby"></i></li>
														<li class="list b-middle"><i class="m-icon m-icon-toilet"></i></li>
													</ul>
													<div class="brand-info-wrap">
														<figure class="brand-logo">
															<img src="../../content/img/brand-info/adidas-kids.jpg" alt="">
														</figure>
														<p class="brand-slogan b-text-left">“Impossible Is Nothing”是ADIDAS一貫的品牌精神，秉持這樣的精神運用再小朋友的商品設計，運用簡潔與舒適的材質Light、 Warm & Proof等各項透氣吸濕排汗以及快速保暖科技材質，讓活潑躍動的小朋友充滿著無與倫比的朝氣與活力。</p>
														<h3 class="sub-title b-text-left">服務據點<span class="hint-text">請選擇您欲前往的分店</span></h3>
														<ul class="service-location-list b-text-left">
															<li class="list b-col-dt-6 b-col-xs-12">
																<a href="javascript:;" class="b-link b-col-dt-7 b-col-xs-6 b-inline b-text-left">Mega City 板橋大遠百1F</a>
																<a href="tel:0289648402" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
															</li>
															<li class="list b-col-dt-6 b-col-xs-12">
																<a href="javascript:;" class="b-link b-col-dt-7 b-col-xs-6 b-inline b-text-left">寶慶遠百1F</a>
																<a href="tel:0289648402" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
															</li>
															<li class="list b-col-dt-6 b-col-xs-12">
																<a href="javascript:;" class="b-link b-col-dt-7 b-col-xs-6 b-inline b-text-left">寶慶遠百1F</a>
																<a href="tel:0289648402" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
															</li>
															<li class="list b-col-dt-6 b-col-xs-12">
																<a href="javascript:;" class="b-link b-col-dt-7 b-col-xs-6 b-inline b-text-left">板橋遠百1F</a>
																<a href="tel:0289648402" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
															</li>
															<li class="list b-col-dt-6 b-col-xs-12">
																<a href="javascript:;" class="b-link b-col-dt-7 b-col-xs-6 b-inline b-text-left">板橋遠百1F</a>
																<a href="tel:0289648402" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
															</li>
															<li class="list b-col-dt-6 b-col-xs-12">
																<a href="javascript:;" class="b-link b-col-dt-7 b-col-xs-6 b-inline b-text-left">板橋遠百1F</a>
																<a href="tel:0289648402" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
															</li>
															<li class="list b-col-dt-6 b-col-xs-12">
																<a href="javascript:;" class="b-link b-col-dt-7 b-col-xs-6 b-inline b-text-left">板橋大遠百1F</a>
																<a href="tel:0289648402" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
															</li>
															<li class="list b-col-dt-6 b-col-xs-12">
																<a href="javascript:;" class="b-link b-col-dt-7 b-col-xs-6 b-inline b-text-left">板橋大遠百1F</a>
																<a href="tel:0289648402" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
															</li>
															<li class="list b-col-dt-6 b-col-xs-12">
																<a href="javascript:;" class="b-link b-col-dt-7 b-col-xs-6 b-inline b-text-left">板橋大遠百1F</a>
																<a href="tel:0289648402" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
															</li>
														</ul>
														<h3 class="sub-title b-text-left">熱銷推薦</h3>
														<div class="shopping-list slide-list jQ-owl is-padding is-dark jQ-browserAdj" data-items-md="3" data-items-sm="2" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
															<div class="list">
																<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
																	<figure class="img-wrap">
																		<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
																		<figcaption class="desc b-hide-text">HERMES</figcaption>
																	</figure>
																	<div class="item-info b-text-left">
																		<h3 class="info-title">HERMES</h3>
																		<p class="b-desc">真皮尖頭踝靴</p>
																		<em class="main-info">
																			<span class="bargain-price">$48800</span>
																			<span class="acts"></span>
																		</em>
																	</div>
																	<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
																</a>
																<button class="btn-like jQ-like">
																	<i class="m-icon m-icon-heart-2"></i>
																	<em class="text b-hide-text">LIKE</em>
																</button>
															</div>
															<div class="list">
																<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
																	<figure class="img-wrap">
																		<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
																		<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
																	</figure>
																	<div class="item-info b-text-left">
																		<h3 class="info-title">SWISS MILITARY</h3>
																		<p class="b-desc">三環運動手錶</p>
																		<em class="main-info">
																			<span class="bargain-price">$2880</span>
																			<span class="acts">滿5000送500</span>
																		</em>
																		<span class="price">$5790</span>
																	</div>
																	<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
																</a>
																<button class="btn-like jQ-like is-add" onclick="common.btnFavorite(this, false);">
																	<i class="m-icon m-icon-heart-2"></i>
																	<em class="text b-hide-text">LIKE</em>
																</button>
															</div>
															<div class="list">
																<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
																	<figure class="img-wrap">
																		<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
																		<figcaption class="desc b-hide-text">NINE WEST</figcaption>
																	</figure>
																	<div class="item-info b-text-left">
																		<h3 class="info-title">NINE WEST</h3>
																		<p class="b-desc">真皮尖頭踝靴</p>
																		<em class="main-info">
																			<span class="bargain-price">$2880</span>
																			<span class="acts"></span>
																		</em>
																		<span class="price">$5790</span>
																	</div>
																	<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
																</a>
																<button class="btn-like jQ-like">
																	<i class="m-icon m-icon-heart-2"></i>
																	<em class="text b-hide-text">LIKE</em>
																</button>
															</div>
															<div class="list">
																<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
																	<figure class="img-wrap">
																		<img src="../../content/img/branch/shopping/04.png" alt="BERLUTI">
																		<figcaption class="desc b-hide-text">BERLUTI</figcaption>
																	</figure>
																	<div class="item-info b-text-left">
																		<h3 class="info-title">BERLUTI</h3>
																		<p class="b-desc">真皮尖頭踝靴</p>
																		<em class="main-info">
																			<span class="bargain-price">$2880</span>
																			<span class="acts">滿2000送200</span>
																		</em>
																		<span class="price">$5790</span>
																	</div>
																	<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
																</a>
																<button class="btn-like jQ-like">
																	<i class="m-icon m-icon-heart-2"></i>
																	<em class="text b-hide-text">LIKE</em>
																</button>
															</div>
															<div class="list">
																<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
																	<figure class="img-wrap">
																		<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
																		<figcaption class="desc b-hide-text">HERMES</figcaption>
																	</figure>
																	<div class="item-info b-text-left">
																		<h3 class="info-title">HERMES</h3>
																		<p class="b-desc">真皮尖頭踝靴</p>
																		<em class="main-info">
																			<span class="bargain-price">$48800</span>
																			<span class="acts"></span>
																		</em>
																	</div>
																	<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
																</a>
																<button class="btn-like jQ-like">
																	<i class="m-icon m-icon-heart-2"></i>
																	<em class="text b-hide-text">LIKE</em>
																</button>
															</div>
															<div class="list">
																<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
																	<figure class="img-wrap">
																		<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
																		<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
																	</figure>
																	<div class="item-info b-text-left">
																		<h3 class="info-title">SWISS MILITARY</h3>
																		<p class="b-desc">三環運動手錶</p>
																		<em class="main-info">
																			<span class="bargain-price">$2880</span>
																			<span class="acts">滿5000送500</span>
																		</em>
																		<span class="price">$5790</span>
																	</div>
																	<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
																</a>
																<button class="btn-like jQ-like is-add">
																	<i class="m-icon m-icon-heart-2"></i>
																	<em class="text b-hide-text">LIKE</em>
																</button>
															</div>
														</div>
													</div>
													<div class="btn-wrap">
														<a href="business-info.html?floor-5f" class="btn-return btn-radius b-link b-col-dt-4 b-col-xs-12">回品牌列表</a>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>