<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body certification" data-switch="1">
		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/index/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<nav class="l-nav"></nav>
			</div>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">註冊</em>會員</span>
							<span class="sub-lang">Registration</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix">
						<div class="b-clearfix b-text-center">
							<em class="text guest-msg b-col-dt-12 b-col-xs-12 b-text-center b-block">遠東百貨及大遠百等相關網站，已整合會員服務，統一於本網站註冊會員，註冊成功後即可使用會員服務。<br class="b-hide-tm">若您已是會員，請立即於<a href="javascript:;" class="b-link">會員中心登入</a>，即可使用會員相關服務。</em>
							<ol class="step-list b-text-center">
								<li class="list b-text-left">
									<i class="b-text-center m-icon m-icon-note"></i>
									<div class="list-content"><span class="step-title">Step.</span><em class="desc">填寫基本資料</em></div>
								</li>
								<li class="list b-text-left is-curr">
									<i class="b-text-center m-icon m-icon-certification"></i>
									<div class="list-content"><span class="step-title">Step.</span><em class="desc">註冊認證</em></div>
								</li>
								<li class="list b-text-left">
									<i class="b-text-center m-icon m-icon-confirm"></i>
									<div class="list-content"><span class="step-title">Step.</span><em class="desc">註冊完成</em></div>
								</li>
							</ol>
							<h3 class="sub-title">註冊認証</h3>
							<div class="switch-part" data-index="1">
								<i class="m-icon m-icon-sand-mail b-block"></i>
								<em class="main-msg b-block">註冊認証信已寄出！</em>
								<span class="msg b-block">請點選Email中的連結，啟用您的會員帳戶。</span>
								<div class="btn-wrap b-col-dt-12 b-col-xs-12 b-text-center">
									<span class="msg b-block b-col-dt-12 b-col-xs-12">沒有收到認証信嗎？</span>
									<button class="btn-link jQ-resand b-col-dt-3 b-col-xs-12">補發會員認証信</button>
								</div>
							</div>
							<div class="switch-part b-text-center" data-index="2">
								<em class="main-msg b-block">補發會員認証信</em>
								<span class="msg b-block">請輸入您所註冊的E-mail 及驗証碼，我們會再發送一次會員認証信給您。</span>
								<div class="certification-form b-col-md-4 b-col-tm-6 b-col-xs-12 b-inline">
									<form>
										<label class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix">
											<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-float-left">
												<input type="email" name="email" class="m-inputbox required" placeholder="請輸入 E-Mail" value="" data-msg="E-Mail為必填" data-msg-email="E-Mail輸入錯誤！請重新輸入">
											</div>
											<span class="alert b-col-dt-12 b-col-xs-12 b-float-right-dt b-text-center"><label for="email" class="is-error b-text-warning"></label></span>
										</label>
										<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
											<label class="m-lab b-col-dt-7 b-col-xs-12 b-float-left">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12">
													<input type="text" name="verification" class="m-inputbox required" placeholder="請輸入驗證碼(不分大小寫)" data-msg="驗證碼為必填">
												</div>
												<span class="alert b-col-dt-12 b-col-xs-12 b-float-right-dt b-text-center"><label for="verification" class="is-error b-text-warning"></label></span>
											</label>
											<div class="verification b-col-dt-5 b-col-xs-12 b-float-left b-text-right-dt b-text-left-xs">
												<figure class="img-wrap b-inline">
													<img src="../../content/img/verification/01.jpg" alt="">
												</figure>
												<button class="b-link b-block-dt b-inline-xs">更新驗證碼</button>
											</div>
										</div>
										<div class="btn-wrap b-col-dt-12 b-col-xs-12 b-text-center">
											<button class="btn-link b-col-dt-12 b-col-xs-12" type="submit">確認送出</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list b-text-center-xs">
					<li class="list b-inline"><a href="../member/faq.html" class="b-link">常見問題</a></li>
					<li class="list b-inline"><a href="../member/terms.html" class="b-link">會員權益</a></li>
					<li class="list b-inline"><a href="../member/policy.html" class="b-link">個保護條款</a></li>
				</ul>
				<small class="copyright b-text-center-xs">&copy; Copyright 2017 FEDS All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/jquery.validation/jquery.validate.min.js?js=20160420_01"></script>
<script defer src="../../scripts/js/member.js?JS=20160420_01"></script>
</html>