<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body member change-password">
		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/index/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<nav class="l-nav">
					<div class="main-menu">
						<ul class="menu-list">
							<li class="list">
								<button class="text jQ-sub-menu">修改會員資料</button>
							</li>
							<li class="list">
								<button class="text jQ-sub-menu is-curr">變更密碼</button>
							</li>
							<li class="list">
								<button class="text jQ-sub-menu">快速登入設定</button>
							</li>
						</ul>
					</div>
				</nav>
				<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
			</div>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">變更</em>密碼</span>
							<span class="sub-lang">Change Your Password</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix b-text-center">
						<div class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix">
							<span class="text b-col-md-3 b-col-tm-4 b-col-xs-12 b-float-left b-text-right-dt b-text-left-xs">請輸入您目前的密碼：</span>
							<div class="value-form b-col-md-8 b-col-tm-8 b-col-xs-12 b-float-left b-middle b-text-left">
								<label class="m-lab b-col-dt-6 b-col-xs-12">
									<div class="m-box-holder b-col-dt-12 b-col-xs-12">
										<input type="password" class="m-inputbox" placeholder="請輸入密碼英文字母需區分大小寫">
									</div>
									<span class="alert b-col-dt-12 b-col-xs-12 b-text-center">密碼輸入錯誤！請重新輸入</span>
								</label>
							</div>
						</div>
						<div class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix b-middle">
							<span class="text b-col-md-3 b-col-tm-4 b-col-xs-12 b-float-left b-text-right-dt b-text-left-xs">請輸入您的新密碼：</span>
							<div class="value-form b-col-md-8 b-col-tm-8 b-col-xs-12 b-float-left b-middle b-text-left">
								<label class="m-lab b-col-dt-6 b-col-xs-12">
									<div class="m-box-holder b-col-dt-12 b-col-xs-12">
										<input type="password" class="m-inputbox" placeholder="請輸入密碼英文字母需區分大小寫">
									</div>
									<span class="alert b-col-dt-12 b-col-xs-12 b-float-right b-text-center">密碼輸入錯誤！請重新輸入</span>
								</label>
								<span class="msg b-col-dt-6 b-col-xs-12 b-text-left">請使用8個字元以上混合使用數字和英文字大小寫的密碼</span>
							</div>
						</div>
						<div class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix">
							<span class="text b-col-md-3 b-col-tm-4 b-col-xs-12 b-float-left b-text-right-dt b-text-left-xs">確認您的新密碼：</span>
							<div class="value-form b-col-md-8 b-col-tm-8 b-col-xs-12 b-float-left b-middle b-text-left">
								<label class="m-lab b-col-dt-6 b-col-xs-12">
									<div class="m-box-holder b-col-dt-12 b-col-xs-12">
										<input type="password" class="m-inputbox" placeholder="請輸入密碼英文字母需區分大小寫">
									</div>
									<span class="alert b-col-dt-12 b-col-xs-12 b-float-right b-text-center">密碼輸入錯誤！請重新輸入</span>
								</label>
							</div>
						</div>
						<div class="b-col-md-4 b-col-tm-5 b-col-xs-12 b-inline b-clearfix">
							<a href="javascript:;" class="btn-link b-col-dt-12 b-col-xs-12">確認送出</a>
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list b-text-center-xs">
					<li class="list b-inline"><a href="../member/faq.html" class="b-link">常見問題</a></li>
					<li class="list b-inline"><a href="../member/terms.html" class="b-link">服務條款</a></li>
					<li class="list b-inline"><a href="../member/policy.html" class="b-link">隱私權政策</a></li>
				</ul>
				<small class="copyright b-text-center-xs">&copy; Copyright 2017 FEDS All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!-- <script defer src="../../scripts/js/member.js?JS=20160420_01"></script> -->
</html>