<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body member change-password">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/index/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list">
							<button class="text btn-submenu-xs">修改會員資料</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs is-curr">變更密碼</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">快速登入設定</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">變更</em>密碼</span>
							<span class="sub-lang">Change Your Password</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix b-text-center">
						<label class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix">
							<span class="text b-col-dt-3 b-col-xs-12 b-float-left b-text-right-dt b-text-left-xs">請輸入您目前的密碼：</span>
							<div class="m-box-holder b-col-dt-4 b-col-xs-12 b-float-left">
								<input type="password" class="m-inputbox" placeholder="請輸入密碼英文字母需區分大小寫">
							</div>
							<span class="alert b-col-dt-9 b-col-xs-12 b-float-right b-text-left-dt b-text-center-xs">密碼輸入錯誤 !請重新輸入</span>
						</label>
						<label class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix">
							<span class="text b-col-dt-3 b-col-xs-12 b-float-left b-text-right-dt b-text-left-xs">請輸入您的新密碼：</span>
							<div class="m-box-holder b-col-dt-4 b-col-xs-12 b-float-left">
								<input type="password" class="m-inputbox" placeholder="請輸入密碼英文字母需區分大小寫">
							</div>
							<span class="text hint b-col-dt-5 b-col-xs-12 b-float-left b-text-left">請使用8個字元以上混合使用數字和英文字大小寫的密碼</span>
							<span class="alert b-col-dt-9 b-col-xs-12 b-float-right b-text-left-dt b-text-center-xs">密碼輸入錯誤 !請重新輸入</span>
						</label>
						<label class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix">
							<span class="text b-col-dt-3 b-col-xs-12 b-float-left b-text-right-dt b-text-left-xs">確認您的新密碼：</span>
							<div class="m-box-holder b-col-dt-4 b-col-xs-12 b-float-left">
								<input type="password" class="m-inputbox" placeholder="請輸入密碼英文字母需區分大小寫">
							</div>
							<span class="alert b-col-dt-9 b-col-xs-12 b-float-right b-text-left-dt b-text-center-xs">密碼輸入錯誤 !請重新輸入</span>
						</label>
						<div class="b-col-dt-4 b-col-xs-12 b-inline b-clearfix">
							<a href="javascript:;" class="btn-link b-col-dt-12 b-col-xs-12">確認送出</a>
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list">
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">常見問題</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">服務條款</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">隱私權政策</a></li>
				</ul>
				<small class="copyright b-text-center-xs">&copy; Copyright 2017 FEDS All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!-- <script defer src="../../scripts/js/member.js?JS=20160420_01"></script> -->
</html>