<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body complete" data-switch="1">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/index/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<nav class="l-nav"></nav>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">註冊</em>會員</span>
							<span class="sub-lang">Registration</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix">
						<div class="b-clearfix b-text-center">
							<em class="text guest-msg b-col-dt-12 b-col-xs-12 b-text-center b-block">遠東百貨及大遠百等相關網站，已整合會員服務，統一於本網站註冊會員，註冊成功後即可使用會員服務。<br class="b-hide-tm">若您已是會員，請立即於<a href="javascript:;" class="b-link">會員中心登入</a>，即可使用會員相關服務。</em>
							<ol class="step-list b-text-center">
								<li class="list b-text-left">
									<i class="b-text-center m-icon m-icon-note"></i>
									<div class="list-content"><span class="step-title">Step.</span><em class="desc">填寫基本資料</em></div>
								</li>
								<li class="list b-text-left">
									<i class="b-text-center m-icon m-icon-certification"></i>
									<div class="list-content"><span class="step-title">Step.</span><em class="desc">註冊認證</em></div>
								</li>
								<li class="list b-text-left is-curr">
									<i class="b-text-center m-icon m-icon-confirm"></i>
									<div class="list-content"><span class="step-title">Step.</span><em class="desc">註冊完成</em></div>
								</li>
							</ol>
							<h3 class="sub-title">註冊認証</h3>
							<i class="m-icon m-icon-member-complete b-block"></i>
							<em class="main-msg b-block">恭喜您已成功加入遠東百貨集團會員！</em>
							<div class="btn-wrap b-col-dt-12 b-col-xs-12 b-text-center">
								<button class="btn-link jQ-resand b-col-dt-3 b-col-xs-12">立即登入</button>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list">
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">常見問題</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">服務條款</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">隱私權政策</a></li>
				</ul>
				<small class="copyright b-text-center-xs">&copy; Copyright 2017 FEDS All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/member.js?JS=20160420_01"></script>
</html>