<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body member faq">
		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/index/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<nav class="l-nav">
					<div class="main-menu">
						<ul class="menu-list">
							<li class="list">
								<button class="text jQ-sub-menu">修改會員資料</button>
							</li>
							<li class="list">
								<button class="text jQ-sub-menu is-curr">變更密碼</button>
							</li>
							<li class="list">
								<button class="text jQ-sub-menu">快速登入設定</button>
							</li>
						</ul>
					</div>
				</nav>
				<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
			</div>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">常見</em>問題</span>
							<span class="sub-lang">FAQ</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix">
						<div class="m-accordion">
							<div class="m-accordion-hd">
								<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q1. 請問如何加入會員？</button></h3>
							</div>
							<div class="m-accordion-bd">
								<ol class="order-list">
									<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
									<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
									<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
									<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
								</ol>
							</div>
						</div>
						<div class="m-accordion">
							<div class="m-accordion-hd">
								<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q2. 請問忘記密碼怎麼辦？</button></h3>
							</div>
							<div class="m-accordion-bd">
								<ol class="order-list">
									<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
									<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
								</ol>
							</div>
						</div>
						<div class="m-accordion">
							<div class="m-accordion-hd">
								<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q3. 請問購物金有什麼使用規則嗎？</button></h3>
							</div>
							<div class="m-accordion-bd">
								<ol class="order-list">
									<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
									<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
								</ol>
							</div>
						</div>
						<div class="m-accordion">
							<div class="m-accordion-hd">
								<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q4. 請問電子折價券有什麼使用規則嗎？</button></h3>
							</div>
							<div class="m-accordion-bd">
								<ol class="order-list">
									<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
									<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
								</ol>
							</div>
						</div>
						<div class="m-accordion">
							<div class="m-accordion-hd">
								<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q5. 請問如何登入會員？</button></h3>
							</div>
							<div class="m-accordion-bd">
								<ol class="order-list">
									<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
									<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
								</ol>
							</div>
						</div>
						<div class="m-accordion">
							<div class="m-accordion-hd">
								<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q6. 若訂單交易失敗、取消訂單、退貨完成，所折抵的購物金、電子折價券何時還回？若訂單交易失敗、取消訂單、退貨完成，所折抵的購物金、電子折價券何時還回？</button></h3>
							</div>
							<div class="m-accordion-bd">
								<ol class="order-list">
									<li class="list">您可以使用您的電子郵件信箱在遠東百貨網站註冊會員帳號，註冊完後，您就可以立即開始購物了，日後要會員登入就以註冊時的電子郵件及您所設定的帳號密碼，就可以登入購物了！</li>
									<li class="list">您亦可以直接使用facebook、google的帳號註冊成為會員，註冊完後，您就可以立即開始購物，日後登入會員時請選擇您當時註冊的網站的帳號密碼，即可登入購物。</li>
								</ol>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list b-text-center-xs">
					<li class="list b-inline"><a href="javascript:;" class="b-link">常見問題</a></li>
					<li class="list b-inline"><a href="javascript:;" class="b-link">服務條款</a></li>
					<li class="list b-inline"><a href="javascript:;" class="b-link">隱私權政策</a></li>
				</ul>
				<small class="copyright b-text-center-xs">&copy; Copyright 2017 FEDS All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>