<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body member forget-password">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/index/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list">
							<button class="text btn-submenu-xs">修改會員資料</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">變更密碼</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">快速登入設定</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">忘記</em>密碼</span>
							<span class="sub-lang">Forget Password</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix b-text-center">
						<p class="desc b-bold">我們將傳送變更密碼連結至您的註冊時所填的電子郵件地址，<br class="b-hide-xs">請收取您的郵件並點選連結至變更密碼頁，請立即變更您的密碼。</p>
						<label class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="m-box-holder b-col-md-4 b-col-tm-5 b-col-xs-12">
								<input type="email" class="m-inputbox" placeholder="請輸入 E-Mail">
							</div>
							<span class="alert b-col-dt-12 b-col-xs-12 b-text-center">E-Mail輸入錯誤 !請重新輸入</span>
						</label>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<a href="javascript:;" class="btn-link b-col-md-4 b-col-tm-5 b-col-xs-12">確認送出</a>
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list">
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">常見問題</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">服務條款</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">隱私權政策</a></li>
				</ul>
				<small class="copyright b-text-center-xs">&copy; Copyright 2017 FEDS All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!-- <script defer src="../../scripts/js/member.js?JS=20160420_01"></script> -->
</html>