<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body member forget-password">
		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/index/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<nav class="l-nav">
					<div class="main-menu">
						<ul class="menu-list">
							<li class="list">
								<a href="javascript:;" class="text jQ-sub-menu">修改會員資料</a>
							</li>
							<li class="list">
								<a href="javascript:;" class="text jQ-sub-menu is-curr">變更密碼</a>
							</li>
							<li class="list">
								<a href="javascript:;" class="text jQ-sub-menu">快速登入設定</a>
							</li>
						</ul>
					</div>
				</nav>
				<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
			</div>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">忘記</em>密碼</span>
							<span class="sub-lang">Forget Password</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix b-text-center">
						<form>
							<p class="desc">請至您的註冊時所填的電子郵件地址，點選郵件內連結前往變更您的密碼。<br class="b-hide-xs">此連結有效期為24小時，若您逾期未點選該連結，請您至忘記密碼頁再行發送一次。</p>
							<p class="desc">若您一直未收到我們所寄發的密碼函，可能遭您所使用的E-Mail信箱服務系統誤判為垃圾信，<br class="b-hide-xs">建議您修改所使用的E-Mail信箱。如欲修改E-Mail信箱或有其他相關問題請 <a href="../about/contact-us.html" class="b-link">聯絡我們</a>。</p>
						</form>
					</div>
				</section>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list b-text-center-xs">
					<li class="list b-inline"><a href="../member/faq.html" class="b-link">常見問題</a></li>
					<li class="list b-inline"><a href="../member/terms.html" class="b-link">服務條款</a></li>
					<li class="list b-inline"><a href="../member/policy.html" class="b-link">隱私權政策</a></li>
				</ul>
				<small class="copyright b-text-center-xs">&copy; Copyright 2017 FEDS All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/jquery.validation/jquery.validate.min.js?js=20160420_01"></script>
<script defer src="../../scripts/js/member.js?JS=20160420_01"></script>
</html>