<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body member login">
		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/index/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<nav class="l-nav"></nav>
			</div>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">會員</em>登入</span>
							<span class="sub-lang">Login</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix">
						<div class="b-col-dt-6 b-col-xs-12 b-float-left-dt b-clearfix">
							<h3 class="sub-title">會員登入</h3>
							<label class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-col-dt-3 b-col-xs-3 b-float-left b-text-right">E-Mail</span>
								<div class="m-box-holder b-col-dt-9 b-col-xs-9 b-float-left">
									<input type="email" class="m-inputbox" placeholder="請輸入 E-Mail">
								</div>
								<span class="alert b-col-dt-9 b-col-xs-9 b-float-right b-text-left">E-Mail輸入錯誤 !請重新輸入</span>
							</label>
							<label class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix error">
								<span class="text b-col-dt-3 b-col-xs-3 b-float-left b-text-right">密碼</span>
								<div class="m-box-holder b-col-dt-9 b-col-xs-9 b-float-left">
									<input type="password" class="m-inputbox" placeholder="請輸入密碼英文字母需區分大小寫">
								</div>
								<span class="alert b-col-dt-9 b-col-xs-9 b-float-right b-text-left">密碼輸入錯誤 !請重新輸入</span>
							</label>
							<label class="m-lab b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-col-dt-3 b-col-xs-3 b-float-left b-text-right">驗證碼</span>
								<div class="m-box-holder b-col-dt-9 b-col-xs-9 b-float-left">
									<input type="text" class="m-inputbox" placeholder="請輸入驗證碼(不分大小寫)">
								</div>
								<span class="alert b-col-dt-9 b-col-xs-9 b-float-right b-text-left">輸入錯誤！</span>
							</label>
							<div class="function-wrap b-col-dt-9 b-col-xs-12 b-float-right">
								<div class="b-middle">
									<label class="m-lab jQ-checkbox b-col-dt-6 b-col-xs-6">
										<div class="m-box-holder is-checkbox">
											<input type="checkbox" class="m-checkbox">
										</div>
										<span class="text">記住我的帳號</span>
									</label>
									<div class="verification b-col-dt-6 b-col-xs-6 b-text-right">
										<figure class="img-wrap b-inline">
											<img src="../../content/img/verification/01.jpg" alt="">
										</figure>
										<a href="javascript:;" class="b-link b-block">更新驗證碼</a>
									</div>
								</div>
								<a href="javascript:;" class="btn-link b-col-dt-12 b-col-xs-12">登入</a>
								<div class="help-links-wrap">
									<a href="javascript:;" class="b-link">常見問題</a>
									<a href="javascript:;" class="b-link">忘記密碼</a>
									<a href="javascript:;" class="b-link">補發會員認證信</a>
								</div>
							</div>
						</div>
						<div class="b-col-dt-6 b-col-xs-12 b-float-left-dt">
							<div class="function-wrap">
								<h3 class="sub-title">新用戶</h3>
								<p class="desc b-text-left b-clearfix">遠東百貨及大遠百等相關網站，已整合會員服務，統一於本網站註冊會員，註冊成功後即可使用會員服務。<br>若您已是會員，請立即於會員中心登入，即可使用會員相關服務。</p>
								<a href="javascript:;" class="btn-link b-col-xs-12">立即註冊</a>
							</div>
							<div class="function-wrap">
								<h3 class="sub-title">快速登入</h3>
								<p class="desc b-text-left b-clearfix">限已綁定快速登入功能之註冊會員。</p>
								<button class="btn-link fb-login b-block b-col-xs-12"><i class="m-icon m-icon-facebook"></i><em class="text">使用 facebook 帳號登入</em></button>
								<button class="btn-link google-login b-block b-col-xs-12"><i class="m-icon m-icon-google-plus"></i><em class="text">使用 google 帳號登入</em></button>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list b-text-center-xs">
					<li class="list b-inline"><a href="javascript:;" class="b-link">常見問題</a></li>
					<li class="list b-inline"><a href="javascript:;" class="b-link">服務條款</a></li>
					<li class="list b-inline"><a href="javascript:;" class="b-link">隱私權政策</a></li>
				</ul>
				<small class="copyright b-text-center-xs">&copy; Copyright 2017 FEDS All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!-- <script defer src="../../scripts/js/member.js?JS=20160420_01"></script> -->
</html>