<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body member quick-login">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/index/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list">
							<button class="text btn-submenu-xs">修改會員資料</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">變更密碼</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs is-curr">快速登入設定</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">快速</em>登入設定</span>
							<span class="sub-lang">Quick Login Settings</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix b-text-center">
						<ul class="media-connect b-inline b-col-xs-12">
							<li class="list">
								<div class="b-text-left-dt b-text-center-xs b-col-xs-12">
									<i class="m-icon m-icon-facebook b-inline b-text-center"></i>
									<span class="text b-inline">已綁定Facebook帳號</span>
								</div>
								<a href="javascript:;" class="btn-link b-col-xs-12">解除</a>
							</li>
							<li class="list">
								<div class="b-text-left-dt b-text-center-xs b-col-xs-12">
									<i class="m-icon m-icon-google-plus b-inline b-text-center"></i>
									<span class="text b-inline">尚未綁定Google帳號</span>
								</div>
								<a href="javascript:;" class="btn-link b-col-xs-12">設定</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list b-text-center-xs">
					<li class="list b-inline"><a href="javascript:;" class="b-link">常見問題</a></li>
					<li class="list b-inline"><a href="javascript:;" class="b-link">服務條款</a></li>
					<li class="list b-inline"><a href="javascript:;" class="b-link">隱私權政策</a></li>
				</ul>
				<small class="copyright b-text-center-xs">&copy; Copyright 2017 FEDS All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!-- <script defer src="../../scripts/js/member.js?JS=20160420_01"></script> -->
</html>