<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body member terms">
		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/index/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<nav class="l-nav">
					<div class="main-menu">
						<ul class="menu-list">
							<li class="list">
								<a href="javascript:;" class="text jQ-sub-menu">修改會員資料</a>
							</li>
							<li class="list">
								<a href="javascript:;" class="text jQ-sub-menu is-curr">變更密碼</a>
							</li>
							<li class="list">
								<a href="javascript:;" class="text jQ-sub-menu">快速登入設定</a>
							</li>
						</ul>
					</div>
				</nav>
				<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
			</div>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">會員</em>權益</span>
							<span class="sub-lang">Member benefits</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix">
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<ol class="term-list order-list is-cjk-ideographic">
								<li class="list">服務說明：<br>本網路會員制度由遠東百貨股份有限公司（以下簡稱遠東百貨）發行制定，遠東百貨保有隨時修改、暫停或終止網路會員之權益及相關活動之決定權及最終解釋權。任何權益、規則或活動之修改皆無須個別通知，請自行參閱遠東百貨官網或現場公告，並自公告日或指定日起生效。</li>
								<li class="list">會員資料填寫、規範與蒐集：<br>
									<ol class="order-list is-decimal">
										<li class="list">申請人申辦網路會員時，所填寫之個人資料將由遠東百貨依個人資料保護法規定予以保護，並同意本公司得以電子郵件或其他方式進行會員認證，並提供您本公司各項服務及相關優惠訊息。</li>
										<li class="list">申請人所申請之帳號、密碼於本網站開通後，將得於本公司目前已提供及後續所提供之各項服務（包含本公司所經營之其他網站）中登入使用。</li>
										<li class="list">遠東百貨為HAPPY GO卡特約商，故遠東百貨之網路會員，與HAPPYGO卡友會員身份為各自獨立。</li>
									</ol>
								</li>
								<li class="list">會員註冊規則與好康說明：<br>
									<ol class="order-list is-decimal">
										<li class="list">會員登入方式：<br>本網路會員制度提供下列登入方式：<br>• 電子郵件登入<br>• Facebook登入（需於完成註冊後綁定）<br>• Google帳戶登入（需於完成註冊後綁定）</li>
										<li class="list">會員註冊規則：<br>每個網路會員身分，限綁定一組EMAIL帳號，系統將透過此EMAIL帳號做為驗證之使用。</li>
										<li class="list">新會員權益：<br>加入遠東百貨網路會員方可享有以下相關權益：<br>• 首次註冊禮：網路購物金及生日禮金<br>• 首次消費禮：HAPPYGO點數</li>
									</ol>
								</li>
								<li class="list">新會員註冊好康使用方式：<br>
									<ol class="order-list is-decimal">
										<li class="list">首次註冊禮－網路購物金<br>加入遠東百貨網站會員後至2017年12月31日前，於遠東百貨官網線上購物使用完畢，逾期無效。</li>
										<li class="list">首次註冊禮－生日禮金<br>加入遠東百貨網站會員後，於次年度生日當月方可使用於遠東百貨官網線上購物，逾期無效。例：生日為11月20日之會員，生日禮金可抵用時點為2018年11月，使用期限至2018年11月30日止。</li>
										<li class="list">首次消費禮－HAPPY GO 點數<br>加入遠東百貨網站會員後至2017年12月31日止，凡於遠東百貨官網線上購物完成消費（若辦理退貨者，則不在此贈送條件中）不限金額即加贈HAPPY GO點數50點，點數將於活動結束後，統一發送。</li>
									</ol>
								</li>
								<li class="list">網路會員獨享之優惠及折抵說明<br>
									<ol class="order-list is-decimal">
										<li class="list">遠東百貨將提供網路會員獨享優惠，類型如下<br>（1）滿額購物金<br>網路會員於遠東百貨官網線上購物消費時，達活動規定滿額條件，產生一定的購物金累積。例：單次消費每滿100元，即享有1元之滿額購物金，若不滿100元，則不贈送滿額購物金；若單次消費超過100元，且不滿次個累計門檻時，剩餘金額不得併入下次累計計算。<br>（2）HAPPY GO點數<br>網路會員於遠東百貨官網線上購物消費時，達活動規定滿額條件，產生一定的HAPPY GO點數累積，若於遠東百貨官網線上購物消費時，未填寫HAPPY GO卡號，則不另補發點數。例：單次消費每滿100元，即享有1點之HAPPY GO點數，若不滿100元，則不贈送HAPPY GO點數，若單次消費超過100元，且不滿次個累計門檻時，剩餘金額不得併入下次累計計算。</li>
										<li class="list">網路會員獨享之折抵優惠，可依下列方式取得<br>• 透過不定期之線上活動領取<br>• 符合特定消費資格條件<br>網路會員獨享之折抵優惠會存入網路會員專屬帳戶中，可於遠東百貨官網中登入會員後於「我的帳戶」下「點數/購物」做查詢。</li>
										<li class="list">購物金使用方式：<br>購物金限在遠東百貨官網線上購物使用。線上購物結帳時，若帳戶存有購物金，且購買適用購物金折抵的商品，在購物車明細中輸入要使用購物金金額，系統將會扣除購物金金額，並自動計算本次消費實際支付金額。請注意，每筆交易金額最高折抵50%。</li>
										<li class="list">每筆網路會員獨享之折抵優惠皆有其開始日期、使用效期，您可於遠東百貨官網中登入會員後於「我的帳戶」下「點數/購物」做查詢，未在截止日期前使用完畢之點數/購物金將自動失效，逾期將不再補發。</li>
										<li class="list">消費使用網路會員獨享之折抵優惠，折扣金額將不另開立發票。開立發票金額，以該筆訂單「購買時實際支付的金額」計算。</li>
										<li class="list">訂單取消時，退貨金額以「購買時實際支付的金額」計算，也就是扣除折抵優惠後的金額。該次消費折抵使用之金額將無法退回。</li>
										<li class="list">網路會員獨享之折抵優惠不得兌換現金、找零或折換其他贈品。</li>
										<li class="list">遠東百貨有權決定終止及變更各項網路會員獨享之折抵優惠贈送辦法及折抵方式，以網站公告為主。</li>
									</ol>
								</li>
								<li class="list">拒絕或終止會員之使用：<br>申請人將網路會員身份借予他人使用、或以任何不正當方式行使權益或有其他違反本網路會員規則或活動辦法之行為時，遠東百貨得予停止網路會員資格。</li>
							</ol>
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list b-text-center-xs">
					<li class="list b-inline"><a href="../member/faq.html" class="b-link">常見問題</a></li>
					<li class="list b-inline"><a href="../member/terms.html" class="b-link">會員權益</a></li>
					<li class="list b-inline"><a href="../member/policy.html" class="b-link">個保護條款</a></li>
				</ul>
				<small class="copyright b-text-center-xs">&copy; Copyright 2017 FEDS All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>