<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="../../content/css/online-dm-detail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body online-dm-detail show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="online-dm-index.html" class="b-link"><em class="text">電子DM</em></a></li>
						<li class="list"><a href="online-dm-detail.html" class="b-link"><em class="text">寵愛。女人 ─ 化妝品搶先購</em></a></li>
					</ol>
				</div>
				<div class="main-content">
					<div class="main-cut">
						<h2 class="dm-title b-hide-dt">寵愛。女人 ─ 化妝品搶先購 2017/3/24 ~ 2017/4/10</h2>
						<div class="dm-reader">
							<div class="magazine-viewport">
								<!-- Next button -->
								<button class="next-button"></button>
								<!-- Previous button -->
								<button class="previous-button"></button>
								<div class="container">
									<div class="magazine"></div>
								</div>
							</div>
							<div class="tools">
								<div class="center-part">
									<button class="first-button"></button>
									<button class="previous-button"></button>
									<span class="pages jQ-pages"></span>
									<button class="next-button"></button>
									<button class="last-button"></button>
								</div>
								<div class="right-part b-text-right-dt b-text-center-xs">
									<button class="zoom-icon zoom-icon-in"></button>
									<button class="btn-total-page jQ-show-list"><i class="m-icon m-icon-menu"></i></button>
									<a class="btn-download b-middle"><i class="m-icon m-icon-download"></i></a>
									<button class="jQ-full-screen"><i class="m-icon m-icon-full-screen"></i></button>
								</div>
							</div>
						</div>
						<div class="thumbnails">
							<div>
								<ul>
									<li class="i">
										<figure>
											<img src="../../content/img/online-dm/dm01/01.jpg" class="page-01" alt="">
											<figcaption class="desc">1</figcaption>
										</figure>
										<span>1</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/02.jpg" class="page-02" alt="">
											<figcaption class="desc">2</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/03.jpg" class="page-03" alt="">
											<figcaption class="desc">3</figcaption>
										</figure>
										<span>2-3</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/04.jpg" class="page-04" alt="">
											<figcaption class="desc">4</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/05.jpg" class="page-05" alt="">
											<figcaption class="desc">5</figcaption>
										</figure>
										<span>4-5</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/06.jpg" class="page-06" alt="">
											<figcaption class="desc">6</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/07.jpg" class="page-07" alt="">
											<figcaption class="desc">7</figcaption>
										</figure>
										<span>6-7</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/08.jpg" class="page-08" alt="">
											<figcaption class="desc">8</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/09.jpg" class="page-09" alt="">
											<figcaption class="desc">9</figcaption>
										</figure>
										<span>8-9</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/10.jpg" class="page-10" alt="">
											<figcaption class="desc">10</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/11.jpg" class="page-11" alt="">
											<figcaption class="desc">11</figcaption>
										</figure>
										<span>10-11</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/12.jpg" class="page-12" alt="">
											<figcaption class="desc">12</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/13.jpg" class="page-13" alt="">
											<figcaption class="desc">13</figcaption>
										</figure>
										<span>12-13</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/14.jpg" class="page-14" alt="">
											<figcaption class="desc">14</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/15.jpg" class="page-15" alt="">
											<figcaption class="desc">15</figcaption>
										</figure>
										<span>14-15</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/16.jpg" class="page-16" alt="">
											<figcaption class="desc">16</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/17.jpg" class="page-17" alt="">
											<figcaption class="desc">17</figcaption>
										</figure>
										<span>16-17</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/18.jpg" class="page-18" alt="">
											<figcaption class="desc">18</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/19.jpg" class="page-19" alt="">
											<figcaption class="desc">19</figcaption>
										</figure>
										<span>18-19</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/20.jpg" class="page-20" alt="">
											<figcaption class="desc">20</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/21.jpg" class="page-21" alt="">
											<figcaption class="desc">21</figcaption>
										</figure>
										<span>20-21</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/22.jpg" class="page-22" alt="">
											<figcaption class="desc">22</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/23.jpg" class="page-23" alt="">
											<figcaption class="desc">23</figcaption>
										</figure>
										<span>22-23</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/24.jpg" class="page-24" alt="">
											<figcaption class="desc">24</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/25.jpg" class="page-25" alt="">
											<figcaption class="desc">25</figcaption>
										</figure>
										<span>24-25</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/26.jpg" class="page-26" alt="">
											<figcaption class="desc">26</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/27.jpg" class="page-27" alt="">
											<figcaption class="desc">27</figcaption>
										</figure>
										<span>26-27</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/28.jpg" class="page-28" alt="">
											<figcaption class="desc">28</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/29.jpg" class="page-29" alt="">
											<figcaption class="desc">29</figcaption>
										</figure>
										<span>28-29</span>
									</li>
									<li class="d">
										<figure>
											<img src="../../content/img/online-dm/dm01/30.jpg" class="page-30" alt="">
											<figcaption class="desc">30</figcaption>
										</figure>
										<figure>
											<img src="../../content/img/online-dm/dm01/31.jpg" class="page-31" alt="">
											<figcaption class="desc">31</figcaption>
										</figure>
										<span>30-31</span>
									</li>
									<li class="i">
										<figure>
											<img src="../../content/img/online-dm/dm01/32.jpg" class="page-32" alt="">
											<figcaption class="desc">32</figcaption>
										</figure>
										<span>32</span>
									</li>
								</ul>
							</div>
						</div>
						<ul class="dm-list">
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/01.jpg" alt="LUXURYZONE 2017/3/1 ~ 2017/5/31">
										<figcaption class="desc">LUXURYZONE 2017/3/1 ~ 2017/5/31</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/02.jpg" alt="ELLE ─ SHINE YOUR STYLE 80S 閃耀復古新風潮">
										<figcaption class="desc">ELLE ─ SHINE YOUR STYLE 80S 閃耀復古新風潮</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/03.jpg" alt="台灣好物">
										<figcaption class="desc">台灣好物</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/04.jpg" alt="新竹大遠百 2017/05/19~2017/05/30">
										<figcaption class="desc">新竹大遠百 2017/05/19~2017/05/30</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/05.jpg" alt="板橋大遠百 2017/05/15~2017/05/25">
										<figcaption class="desc">板橋大遠百 2017/05/15~2017/05/25</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/06.jpg" alt="Happy Mothers Day 即日起至 2017/5/30">
										<figcaption class="desc">Happy Mothers Day 即日起至 2017/5/30</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/01.jpg" alt="LUXURYZONE 2017/3/1 ~ 2017/5/31">
										<figcaption class="desc">LUXURYZONE 2017/3/1 ~ 2017/5/31</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/02.jpg" alt="ELLE ─ SHINE YOUR STYLE 80S 閃耀復古新風潮">
										<figcaption class="desc">ELLE ─ SHINE YOUR STYLE 80S 閃耀復古新風潮</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/03.jpg" alt="台灣好物">
										<figcaption class="desc">台灣好物</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/04.jpg" alt="新竹大遠百 2017/05/19~2017/05/30">
										<figcaption class="desc">新竹大遠百 2017/05/19~2017/05/30</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/05.jpg" alt="板橋大遠百 2017/05/15~2017/05/25">
										<figcaption class="desc">板橋大遠百 2017/05/15~2017/05/25</figcaption>
									</figure>
								</a>
							</li>
							<li class="list">
								<a href="online-dm-detail.html" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/online-dm/covers/06.jpg" alt="Happy Mothers Day 即日起至 2017/5/30">
										<figcaption class="desc">Happy Mothers Day 即日起至 2017/5/30</figcaption>
									</figure>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-cut">
					<div class="recommend-wrap">
						<h4 class="recommend-title b-text-center-xs">DM獨家商品</h4>
						<div class="shopping-list jQ-owl" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
									<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
								</a>
								<button class="btn-like jQ-like show-text">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">已加入收藏</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
									<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
								</a>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
									<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
									<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
									<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
									<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
								</a>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
									<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
									<p class="btn-read-more"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></p>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script defer src="../../scripts/plugin/turnjs4/turn.min.js"></script>
<script defer src="../../scripts/plugin/turnjs4/zoom.min.js"></script>
<script defer src="../../scripts/plugin/turnjs4/mag.js"></script>
<script defer src="../../scripts/js/online-dm-detail.js?JS=20160420_01"></script>
</html>