<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <title>Admin Basic</title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/common/favicon.ico">
    <link rel="stylesheet" href="/public/scripts/plugin/malihu.custom.scrollbar/jquery.mCustomScrollbar.css?CSS=20160122_01">
    <link rel="stylesheet" href="/public/css/reset.css?CSS=20160122_01">
    <link rel="stylesheet" href="/public/css/style_.css?CSS=20160122_01">
</head>
<body>
    <div class="l-body_">
        <div class="l-header_">
            <header class="m-header_">
                <h1>ACADINE</h1>
                <div class="m-header-logo_">
                    <i class="m-icon m-icon-logo"></i>
                </div>
                <div class="m-header-tools_">
                    <em>Administrator Site</em>
                </div>
            </header>
        </div>
        <div class="l-main_ is-nav-left">
            <div class="l-content_">
                <!-- ==================== breadcrumb_ begin ==================== -->
                <ol class="m-breadcrumb_ b-clearfix_">
                    <li class="m-icon_ m-icon-breadcrumb-right_">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="m-icon_ m-icon-breadcrumb-right_">
                        <em>LAYOUTS</em>
                    </li>
                    <li class="m-icon_ m-icon-breadcrumb-right_">
                        <em>Grids</em>
                    </li>
                </ol>
                <!-- ==================== breadcrumb_ end ==================== -->

                <!-- ==================== section begin ==================== -->
                <section class="m-section_">
                    <header class="m-section-hd_">
                        <h2 class="b-h2_">Grids</h2>
                    </header>
                    <ul class="m-section-bd_">
                        <li>
                            <h6 class="b-h6_">Stacked to horizontal</h6>
                            <p class="b-p_">.b-row_ & .b-col-*_</p>
                            <ul class="b-row_">
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                                <li class="b-col-1_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-1_</em></li>
                            </ul>
                            <ul class="b-row_">
                                <li class="b-col-3_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-3_</em></li>
                                <li class="b-col-3_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-3_</em></li>
                                <li class="b-col-3_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-3_</em></li>
                                <li class="b-col-3_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-3_</em></li>
                            </ul>
                            <ul class="b-row_">
                                <li class="b-col-8_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-8_</em></li>
                                <li class="b-col-4_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-4_</em></li>
                            </ul>
                            <ul class="b-row_">
                                <li class="b-col-12_"><em class="b-block_ b-solid_ is-all b-text-center_">.b-col-12_</em></li>
                            </ul>
                        </li>
                        <li>
                            <h6 class="b-h6_">Text Align</h6>
                            <p class="b-p_">使用 .b-text-left_ .b-text-center_ .b-text-right_ 設定文字對齊。</p>
                            <table class="m-table_">
                                <thead>
                                    <tr>
                                        <th class="b-col-4_ b-text-left_">text-left</th>
                                        <th class="b-col-4_ b-text-center_">text-center</th>
                                        <th class="b-col-4_ b-text-right_">text-right</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="b-text-left_">.b-text-left_</td>
                                        <td class="b-text-center_">.b-text-center_</td>
                                        <td class="b-text-right_">.b-text-right_</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <h6 class="b-h6_">Border</h6>
                            <p class="b-p_">使用 .b-solid_ .b-dashed_ 設定邊框樣式。</p>
                            <table class="m-table_">
                                <thead>
                                    <tr>
                                        <th class="b-col-6_ b-text-center_">.b-solid_</th>
                                        <th class="b-col-6_ b-text-center_">.b-dashed_</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="b-text-center_">
                                            <div class="b-solid_ is-all">
                                                &lt;div class="b-solid_ is-all"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                        <td class="b-text-center_">
                                            <div class="b-dashed_ is-all">
                                                &lt;div class="b-dashed_ is-all"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b-text-center_">
                                            <div class="b-solid_ is-TB">
                                                &lt;div class="b-solid_ is-TB"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                        <td class="b-text-center_">
                                            <div class="b-dashed_ is-TB">
                                                &lt;div class="b-dashed_ is-TB"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b-text-center_">
                                            <div class="b-solid_ is-RL">
                                                &lt;div class="b-solid_ is-RL"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                        <td class="b-text-center_">
                                            <div class="b-dashed_ is-RL">
                                                &lt;div class="b-dashed_ is-RL"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b-text-center_">
                                            <div class="b-solid_ is-T">
                                                &lt;div class="b-solid_ is-T"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                        <td class="b-text-center_">
                                            <div class="b-dashed_ is-T">
                                                &lt;div class="b-dashed_ is-T"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b-text-center_">
                                            <div class="b-solid_ is-B">
                                                &lt;div class="b-solid_ is-B"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                        <td class="b-text-center_">
                                            <div class="b-dashed_ is-B">
                                                &lt;div class="b-dashed_ is-B"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b-text-center_">
                                            <div class="b-solid_ is-R">
                                                &lt;div class="b-solid_ is-R"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                        <td class="b-text-center_">
                                            <div class="b-dashed_ is-R">
                                                &lt;div class="b-dashed_ is-R"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b-text-center_">
                                            <div class="b-solid_ is-L">
                                                &lt;div class="b-solid_ is-L"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                        <td class="b-text-center_">
                                            <div class="b-dashed_ is-L">
                                                &lt;div class="b-dashed_ is-L"&gt;&lt;/div&gt;
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <h6 class="b-h6_">Display</h6>
                            <p class="b-p_">使用 .b-hide_ .b-block_ .b-inline_ 設定 display。</p>
                            <table class="m-table_">
                                <thead>
                                    <tr>
                                        <th class="b-col-4_ b-text-center_">.b-hide_</th>
                                        <th class="b-col-4_ b-text-center_">.b-block_</th>
                                        <th class="b-col-4_ b-text-center_">.b-inline_</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="b-text-center_">在任何 tag 使用 .b-hide_ 可以讓任何的 tag 改變 display 為 none</td>
                                        <td class="b-text-center_">在任何 tag 使用 .b-block_ 可以讓任何的 tag 改變 display 為 block</td>
                                        <td class="b-text-center_">在任何 tag 使用 .b-inline_ 可以讓任何的 tag 改變 display 為 inline-block</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <h6 class="b-h6_">Paragraph</h6>
                            <p class="b-p_">使用 .b-p_ 預設段落字級為 14px，可使用 .is-lg 改變預設字級為 15px ，.is-sm 改變預設字級為 12px。</p>
                        </li>
                        <li>
                            <h6 class="b-h6_">Color</h6>
                            <p class="b-p_">使用 .b-bg-*_ .b-text-*_ 設定文字顏色或背景顏色。</p>
                            <ul class="b-row_">
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-white_ b-block_ b-solid_ is-all" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-white_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-black_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-black_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-blue_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-blue_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-skyblue_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-skyblue_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-waterblue_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-waterblue_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-gary_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-gary_</em>
                                </li>
                            </ul>
                            <ul class="b-row_">
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-light-gary_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-light-gary_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-orange_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-orange_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-primary_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-primary_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-warning_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-warning_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-purple_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-purple_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-info_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-info_</em>
                                </li>
                            </ul>
                            <ul class="b-row_">
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-success_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-success_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-disabled_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-disabled_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-facebook_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-facebook_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-linkedin_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-linkedin_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-twitter_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-twitter_</em>
                                </li>
                                <li class="b-col-2_ b-text-center_">
                                    <i class="b-bg-youtube-tube_ b-block_" style="margin:0 auto; width:50px; height:50px; border-radius:50%;"></i>
                                    <em>.b-bg-youtube-tube_</em>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- ==================== section end ==================== -->
            </div>
            <div class="l-nav_">
                <nav class="m-nav_ jQ-nav" data-active="is-active">
                    <span>MENU</span>
                    <ul>
                        <li class="is-active">
                            <a href="javascript:;" class="jQ-nav-ctrl"><i class="m-icon_ m-icon-dot-circle-o_"></i><em>LAYOUTS</em></a>
                            <ul>
                                <li>
                                    <a href="grids.html" class="is-active">
                                        <i class="m-icon_ m-icon-circle-o_"></i>
                                        <i class="m-icon_ m-icon-circle_"></i>
                                        <em>Grids</em>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" class="jQ-nav-ctrl"><i class="m-icon_ m-icon-dot-circle-o_"></i><em>UI</em></a>
                            <ul>
                                <li>
                                    <a href="form.html">
                                        <i class="m-icon_ m-icon-circle-o_"></i>
                                        <i class="m-icon_ m-icon-circle_"></i>
                                        <em>Form</em>
                                    </a>
                                </li>
                                <li>
                                    <a href="form-group.html">
                                        <i class="m-icon_ m-icon-circle-o_"></i>
                                        <i class="m-icon_ m-icon-circle_"></i>
                                        <em>Form Group</em>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
<script defer type="text/javascript" src="/public/scripts/plugin/jquery/jquery.min.js?JS=20160122_01"></script>
<script defer type="text/javascript" src="/public/scripts/plugin/malihu.custom.scrollbar/jquery.mCustomScrollbar.concat.min.js?JS=20160122_01"></script>
<script defer type="text/javascript" src="/public/scripts/js/factory_.js?JS=20160122_01"></script>
<script defer type="text/javascript" src="/public/scripts/js/common_.js?JS=20160122_01"></script>
</html>