<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/online-shopping.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/act-detail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body online-act-detail show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">目前位置</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">線上購物</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">新品上架</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle b-highlight is-curr"><i class="m-icon m-icon-firework"></i><em class="text">主題活動</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">配件</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">鞋子</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">兒童</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">食品&酒</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">居家寢飾</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">家用電器</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">伴手禮</em></a></li>
						<li class="list">
							<button class="catalog-more b-link b-middle"><em class="text">更多</em></button>
							<div class="catalog-slider">
								<div class="sub-catalog-wrap">
									<div class="sub-catalog jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">精品美妍</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">國際名品</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">玩美童樂</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">紳仕休閒</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">異國食藝</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">鮮活百匯</em></a></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="kv">
				</div>
				<div class="m-tab main-tab">
					<ul class="m-tab-wrap">
						<li class="tab-list">
							<button class="btn-tab jQ-tab is-curr" data-main="0"><em class="text">流行服飾 滿 3500 千送 250</em></button>
						</li>
						<li class="tab-list">
							<button class="btn-tab jQ-tab" data-main="0"><em class="text">家用 / 小家電滿 3500 送 250</em></button>
						</li>
						<li class="tab-list">
							<button class="btn-tab jQ-tab" data-main="0"><em class="text">鞋包 / 配件 滿 3500 送 250</em></button>
						</li>
					</ul>
					<ul class="m-tab-content">
						<li class="content-list is-curr">
							<div class="shopping-list jQ-owl" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
							</div>
							<div class="shopping-list jQ-owl" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
							</div>
							<div class="shopping-list jQ-owl" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
								<div class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link"><i class="m-icon m-icon-shopping"></i><em class="text" data-lang="加入購物車" data-default="ADD TO CART"></em></button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</div>
							</div>
						</li>
						<li class="content-list">
						</li>
						<li class="content-list">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>