<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/branch.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body branch show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="kv">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/branch/kv/01.jpg" alt="">
								<figcaption class="desc b-hide-text">全館沐浴品 50% OFF</figcaption>
							</figure>
						</div>
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/branch/kv/02.jpg" alt="">
								<figcaption class="desc b-hide-text">全館沐浴品 50% OFF</figcaption>
							</figure>
						</div>
						<!-- <div class="item" data-media="https://www.youtube.com/watch?v=JUtsNRlBHmk&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=JUtsNRlBHmk" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/branch/kv/02.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div> -->
						<div class="item" data-media="https://www.youtube.com/watch?v=TaCdAscgpU0&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=TaCdAscgpU0" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/branch/kv/03.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
					</div>
					<button class="m-btn-slide jq-slide-down">
						<i class="m-icon m-icon-mouse"></i>
						<em>Scrolling</em>
					</button>
				</div>
				<div class="m-cut activity-cut">
					<div class="activity-list slide-list jQ-owl is-padding is-dark" data-items-md="2" data-items-sm="2" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="../fashion/fashion-detail.html" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/01.png" alt="秋冬美靴折扣季">
									<figcaption class="desc b-hide-text">秋冬美靴折扣季</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #0e3a5b;">
									<h3 class="info-title">秋冬美靴折扣季</h3>
									<p class="b-desc">天然的食材中含有多種正面能量並能提升個人的自身能量和活。設計時尚、誇張、充滿智慧！</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="../fashion/fashion-detail.html" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/04.jpg" alt="花開富貴">
									<figcaption class="desc b-hide-text">花開富貴</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #44bcbb;">
									<h3 class="info-title">花開富貴</h3>
									<p class="b-desc">花開富貴，金雞報喜；春節禮品特輯<br>* 此區域色塊僅為示意，後續待確認</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="../fashion/fashion-detail.html" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/02.png" alt="誰說皮衣只有黑色！">
									<figcaption class="desc b-hide-text">誰說皮衣只有黑色！</figcaption>
								</figure>
								<div class="item-info is-dark" style="background: #fff;">
									<h3 class="info-title">誰說皮衣只有黑色！</h3>
									<p class="b-desc">秋冬一片黑，亮色系的皮衣更能襯托你的好品味！</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div>
						<!-- <div class="list">
							<a href="../fashion/fashion-detail.html" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/03.jpg" alt="歲末酬賓">
									<figcaption class="desc b-hide-text">歲末酬賓</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #cfae50;">
									<h3 class="info-title">歲末酬賓</h3>
									<p class="b-desc">跨年迎新<br>* 此區域色塊僅為示意，後續待確認</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div> -->
					</div>
				</div>
				<div class="m-cut food-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">美食</em>饗宴</span>
						<span class="sub-lang">Food Feast</span>
					</h2>
					<div class="food-list slide-list jQ-owl is-padding is-dark" data-items-md="3" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="../entertainment/foods-detail.html" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/01.png" alt="揚日式料理">
									<figcaption class="desc b-hide-text">揚日式料理</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">揚日式料理</h3>
									<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../entertainment/foods-detail.html" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/02.png" alt="大戶屋">
									<figcaption class="desc b-hide-text">大戶屋</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">大戶屋</h3>
									<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../entertainment/foods-detail.html" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/03.png" alt="豬排控必去！靜岡勝政日式豬排">
									<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
									<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../entertainment/foods-detail.html" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/04.png" alt="揚日式料理">
									<figcaption class="desc b-hide-text">揚日式料理</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">揚日式料理</h3>
									<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../entertainment/foods-detail.html" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/05.png" alt="先喝咖啡">
									<figcaption class="desc b-hide-text">先喝咖啡</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">先喝咖啡</h3>
									<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../entertainment/foods-detail.html" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/06.png" alt="豬排控必去！靜岡勝政日式豬排">
									<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
									<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
					</div>
					<a href="../entertainment/foods-index.html" class="btn-more b-link">MORE</a>
				</div>
				<div class="m-cut shopping-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">線上</em>購物</span>
						<span class="sub-lang">Online Shopping</span>
					</h2>
					<div class="shopping-list slide-list jQ-owl is-padding is-dark jQ-browserAdj" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
									<figcaption class="desc b-hide-text">HERMES</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">HERMES</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$48800</span>
										<span class="acts"></span>
									</em>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
									<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">SWISS MILITARY</h3>
									<p class="b-desc">三環運動手錶</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿5000送500</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like is-add">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
									<figcaption class="desc b-hide-text">NINE WEST</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">NINE WEST</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts"></span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/04.png" alt="BERLUTI">
									<figcaption class="desc b-hide-text">BERLUTI</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">BERLUTI</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿2000送200</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
									<figcaption class="desc b-hide-text">HERMES</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">HERMES</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$48800</span>
										<span class="acts"></span>
									</em>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="../online-shopping/online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
									<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">SWISS MILITARY</h3>
									<p class="b-desc">三環運動手錶</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿5000送500</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like is-add">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
					</div>
					<a href="../online-shopping/online-shopping.html?new-arrive" class="btn-more b-link">MORE</a>
				</div>
				<div class="m-cut movie-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">電影</em>資訊</span>
						<span class="sub-lang">Movies</span>
					</h2>
					<div class="movie-list slide-list jQ-owl is-padding is-dark" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/01.png" alt="功夫熊貓 3">
									<figcaption class="desc b-hide-text">功夫熊貓 3</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">功夫熊貓 3</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/02.jpg" alt="星際特工瓦雷諾：千星之城">
									<figcaption class="desc b-hide-text">星際特工瓦雷諾：千星之城</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">星際特工瓦雷諾：千星之城</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/03.png" alt="美女與野獸">
									<figcaption class="desc b-hide-text">美女與野獸</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">美女與野獸</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/04.png" alt="蟻人 2">
									<figcaption class="desc b-hide-text">蟻人 2</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">蟻人 2</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/05.jpg" alt="神力女超人">
									<figcaption class="desc b-hide-text">神力女超人</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">神力女超人</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/06.png" alt="比利林恩的中場戰事">
									<figcaption class="desc b-hide-text">比利林恩的中場戰事</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">比利林恩的中場戰事</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/07.jpg" alt="樂高蝙蝠俠">
									<figcaption class="desc b-hide-text">樂高蝙蝠俠</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">樂高蝙蝠俠</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/08.jpg" alt="下女的誘惑">
									<figcaption class="desc b-hide-text">下女的誘惑</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">下女的誘惑</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/09.jpg" alt="一念無明">
									<figcaption class="desc b-hide-text">一念無明</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">一念無明</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/10.jpg" alt="玩命槍火">
									<figcaption class="desc b-hide-text">玩命槍火</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">玩命槍火</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/11.jpg" alt="速食遊戲">
									<figcaption class="desc b-hide-text">速食遊戲</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">速食遊戲</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/12.jpg" alt="寶貝老闆">
									<figcaption class="desc b-hide-text">寶貝老闆</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">寶貝老闆</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/13.jpg" alt="月光下的藍色男孩">
									<figcaption class="desc b-hide-text">月光下的藍色男孩</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">月光下的藍色男孩</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/15.jpg" alt="網路世界的幻想">
									<figcaption class="desc b-hide-text">網路世界的幻想</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">網路世界的幻想</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/14.jpg" alt="美國心風暴">
									<figcaption class="desc b-hide-text">美國心風暴</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">美國心風暴</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
					</div>
					<a href="../entertainment/movies.html" class="btn-more b-link">MORE</a>
				</div>
				<div class="m-cut social-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">社群</em>媒體</span>
						<span class="sub-lang">Social Media</span>
					</h2>
					<ul class="social-wall">
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/01.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚是時候來點下午茶囉！ 喝茶也要很時尚是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-facebook">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/02.jpg" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/03.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-facebook">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/04.png" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/05.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/06.png" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/07.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/08.png" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="item-sizer"></li>
					</ul>
					<a href="../social/social.html" class="btn-more b-link">MORE</a>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
	<div class="hidden-place">
		<img src="../../content/img/branch/social/09.png" alt="">
		<img src="../../content/img/branch/social/10.jpg" alt="">
		<img src="../../content/img/branch/social/11.jpg" alt="">
		<img src="../../content/img/branch/social/12.jpg" alt="">
		<img src="../../content/img/branch/social/13.jpg" alt="">
		<img src="../../content/img/branch/social/14.jpg" alt="">
		<img src="../../content/img/branch/social/15.jpg" alt="">
		<img src="../../content/img/branch/social/16.jpg" alt="">
	</div>
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<script defer src="../../scripts/js/branch.js?JS=20160420_01"></script>
</html>