<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/branch.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body branch show-header is-padding-arrow">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/branch/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="location-selecter b-col-md-6 b-middle">
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="location-list">
								<li class="list title">選擇分店</li>
								<li class="list"><a href="branch.html" class="b-link">寶慶遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">遠東百貨</a></li>
								<li class="list is-selected"><a href="branch.html" class="b-link">板橋大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">板橋遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">桃園遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">新竹遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台中大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">嘉義遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台南大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">高雄大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">花蓮遠百</a></li>
								<li class="list back"><a href="index.html" class="b-link">返回集團首頁</a></li>
							</ul>
						</div>
					</div>
					<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
						<div class="language-list">
							<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
							<button class="btn-lang is-curr">繁中</button>
							<button class="btn-lang">簡中</button>
						</div>
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="visitor-center">
								<li class="list title">Visitor Center</li>
								<li class="list" data-lang="en"><a href="javascript:;" class="b-link">EN</a></li>
								<li class="list" data-lang="jp"><a href="javascript:;" class="b-link">JP</a></li>
								<li class="list" data-lang="cn"><a href="javascript:;" class="b-link">CN</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list">
							<button class="text btn-submenu-xs">營業資訊</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">營業時間/路線</a></div>
										<div class="list"><a href="javascript:;" class="b-link">樓層簡介</a></div>
										<div class="list"><a href="javascript:;" class="b-link">停車優惠</a></div>
										<div class="list"><a href="javascript:;" class="b-link">服務設施</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">最新活動</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">全省活動</a></div>
										<div class="list"><a href="javascript:;" class="b-link">各店活動</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">美食娛樂</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">餐廳推薦</a></div>
										<div class="list"><a href="javascript:;" class="b-link">美食品牌</a></div>
										<div class="list"><a href="javascript:;" class="b-link">電影資訊</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">電子DM</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">寶慶遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">板橋遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">板橋大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">桃園遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">新竹遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">台中大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">嘉義遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">台南大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">高雄大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">花蓮遠百</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
					</ul>
					<ul class="menu-list is-highlight">
						<li class="list has-menu">
							<button class="text btn-submenu-xs">線上購物</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">精品美妍</a></div>
										<div class="list"><a href="javascript:;" class="b-link">國際名品</a></div>
										<div class="list"><a href="javascript:;" class="b-link">摩登風尚</a></div>
										<div class="list"><a href="javascript:;" class="b-link">都會名媛</a></div>
										<div class="list"><a href="javascript:;" class="b-link">玩美童樂</a></div>
										<div class="list"><a href="javascript:;" class="b-link">紳仕休閒</a></div>
										<div class="list"><a href="javascript:;" class="b-link">運動休閒</a></div>
										<div class="list"><a href="javascript:;" class="b-link">家居寢飾</a></div>
										<div class="list"><a href="javascript:;" class="b-link">家用電氣</a></div>
										<div class="list"><a href="javascript:;" class="b-link">潮流藝文</a></div>
										<div class="list"><a href="javascript:;" class="b-link">異國食藝</a></div>
										<div class="list"><a href="javascript:;" class="b-link">鮮活百匯</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">潮流趨勢</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">時尚穿搭</a></div>
										<div class="list"><a href="javascript:;" class="b-link">時尚Blog</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
					</ul>
					<ul class="function-list">
						<li class="list">
							<div class="m-box-holder b-hide-dt">
								<i class="m-icon m-icon-search"></i>
								<input type="text" class="m-inputbox" placeholder="輸入關鍵字">
							</div>
							<button class="btn-func">
								<i class="m-icon m-icon-search b-hide-xs"></i>
								<em class="b-hide-text-dt">品牌字首搜尋</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-member b-hide-xs"></i>
								<em class="b-hide-text-dt">我的帳戶</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-heart b-hide-xs"></i>
								<em class="b-hide-text-dt">我的最愛</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func shopping">
								<i class="m-icon m-icon-shopping b-hide-xs"></i>
								<em class="b-hide-text-dt">購物車</em>
								<span class="count">5</span>
							</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="kv">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/branch/kv/01.png" alt="">
								<figcaption class="desc b-hide-text">全館沐浴品 50% OFF</figcaption>
							</figure>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=TaCdAscgpU0&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
					</div>
				</div>
				<div class="m-cut activity-cut">
					<div class="activity-list slide-list jQ-owl is-padding is-dark" data-items-md="2" data-items-sm="2" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/01.png" alt="秋冬美靴折扣季">
									<figcaption class="desc b-hide-text">秋冬美靴折扣季</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #0e3a5b;">
									<h3 class="info-title">秋冬美靴折扣季</h3>
									<p class="b-desc">天然的食材中含有多種正面能量並能提升個人的自身能量和活。設計時尚、誇張、充滿智慧！</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/02.png" alt="誰說皮衣只有黑色！">
									<figcaption class="desc b-hide-text">誰說皮衣只有黑色！</figcaption>
								</figure>
								<div class="item-info is-dark" style="background: #fff;">
									<h3 class="info-title">誰說皮衣只有黑色！</h3>
									<p class="b-desc">秋冬一片黑，亮色系的皮衣更能襯托你的好品味！</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/03.jpg" alt="歲末酬賓">
									<figcaption class="desc b-hide-text">歲末酬賓</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #cfae50;">
									<h3 class="info-title">歲末酬賓</h3>
									<p class="b-desc">跨年迎新<br>* 此區域色塊僅為示意，後續待確認</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/04.jpg" alt="花開富貴">
									<figcaption class="desc b-hide-text">花開富貴</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #44bcbb;">
									<h3 class="info-title">花開富貴</h3>
									<p class="b-desc">花開富貴，金雞報喜；春節禮品特輯<br>* 此區域色塊僅為示意，後續待確認</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="m-cut food-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">美食</em>饗宴</span>
						<span class="sub-lang">Food Feast</span>
					</h2>
					<div class="food-list slide-list jQ-owl is-padding is-dark" data-items-md="3" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/01.png" alt="揚日式料理">
									<figcaption class="desc b-hide-text">揚日式料理</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">揚日式料理</h3>
									<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/02.png" alt="大戶屋">
									<figcaption class="desc b-hide-text">大戶屋</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">大戶屋</h3>
									<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/03.png" alt="豬排控必去！靜岡勝政日式豬排">
									<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
									<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/01.png" alt="揚日式料理">
									<figcaption class="desc b-hide-text">揚日式料理</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">揚日式料理</h3>
									<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/02.png" alt="大戶屋">
									<figcaption class="desc b-hide-text">大戶屋</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">大戶屋</h3>
									<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/03.png" alt="豬排控必去！靜岡勝政日式豬排">
									<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
									<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
					</div>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
				<div class="m-cut shopping-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">線上</em>購物</span>
						<span class="sub-lang">Online Shopping</span>
					</h2>
					<div class="shopping-list slide-list jQ-owl is-padding is-dark" data-items-md="4" data-items-sm="4" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="list">
							<a href="javascript:;" class="shopping-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
									<figcaption class="desc b-hide-text">NINE WEST</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">NINE WEST</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts"></span>
									</em>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="shopping-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
									<figcaption class="desc b-hide-text">NINE WEST</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">NINE WEST</h3>
									<p class="b-desc">黑色時尚名錶</p>
									<em class="main-info">
										<span class="bargain-price">$8880</span>
										<span class="acts">滿5000送500</span>
									</em>
									<span class="price">$9790</span>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
							</a>
							<button class="btn-like jQ-like is-add">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="shopping-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
									<figcaption class="desc b-hide-text">NINE WEST</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">NINE WEST</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts"></span>
									</em>
									<span class="price">$5790</span>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="shopping-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
									<figcaption class="desc b-hide-text">NINE WEST</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">NINE WEST</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿2000送200</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="shopping-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
									<figcaption class="desc b-hide-text">NINE WEST</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">NINE WEST</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts"></span>
									</em>
									<span class="price">$5790</span>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="shopping-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
									<figcaption class="desc b-hide-text">NINE WEST</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">NINE WEST</h3>
									<p class="b-desc">黑色時尚名錶</p>
									<em class="main-info">
										<span class="bargain-price">$8880</span>
										<span class="acts">滿5000送500</span>
									</em>
									<span class="price">$9790</span>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
					</div>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
				<div class="m-cut movie-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">電影</em>資訊</span>
						<span class="sub-lang">Movies</span>
					</h2>
					<div class="movie-list slide-list jQ-owl is-padding is-dark" data-items-md="4" data-items-sm="4" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/01.png" alt="功夫熊貓  3">
									<figcaption class="desc b-hide-text">功夫熊貓  3</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">功夫熊貓  3</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/02.jpg" alt="星際特工瓦雷諾: 千星之城">
									<figcaption class="desc b-hide-text">星際特工瓦雷諾: 千星之城</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">星際特工瓦雷諾: 千星之城</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/03.png" alt="丹麥女孩">
									<figcaption class="desc b-hide-text">丹麥女孩</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">丹麥女孩</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/04.png" alt="蟻人  2">
									<figcaption class="desc b-hide-text">蟻人  2</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">蟻人  2</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/05.jpg" alt="《再見瓦城》The Road to Mandalay">
									<figcaption class="desc b-hide-text">《再見瓦城》The Road to Mandalay</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">《再見瓦城》<br>The Road to Mandalay</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/06.png" alt="比利林恩的中場戰事">
									<figcaption class="desc b-hide-text">比利林恩的中場戰事</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">比利林恩的中場戰事</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/07.jpg" alt="禁愛世界">
									<figcaption class="desc b-hide-text">禁愛世界</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">禁愛世界</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/08.jpg" alt="下女的誘惑">
									<figcaption class="desc b-hide-text">下女的誘惑</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">下女的誘惑</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/09.jpg" alt="一念無明">
									<figcaption class="desc b-hide-text">一念無明</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">一念無明</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/10.jpg" alt="玩命槍火">
									<figcaption class="desc b-hide-text">玩命槍火</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">玩命槍火</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/11.jpg" alt="速食遊戲">
									<figcaption class="desc b-hide-text">速食遊戲</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">速食遊戲</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/12.jpg" alt="七月與安生">
									<figcaption class="desc b-hide-text">七月與安生</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">七月與安生</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/13.jpg" alt="月光下的藍色男孩">
									<figcaption class="desc b-hide-text">月光下的藍色男孩</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">月光下的藍色男孩</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/15.jpg" alt="網路世界的幻想">
									<figcaption class="desc b-hide-text">網路世界的幻想</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">網路世界的幻想</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/14.jpg" alt="美國心風暴">
									<figcaption class="desc b-hide-text">美國心風暴</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">美國心風暴</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
					</div>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
				<div class="m-cut social-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">社群</em>媒體</span>
						<span class="sub-lang">Social Media</span>
					</h2>
					<ul class="social-wall">
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/01.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚是時候來點下午茶囉！ 喝茶也要很時尚是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-facebook">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/02.png" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/03.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-facebook">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/04.png" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/05.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/06.png" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/07.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/08.png" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="item-sizer"></li>
					</ul>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
			</div>
			<aside class="l-side">
				<div class="pagination">
					<ul class="cut-dot"></ul>
				</div>
				<div class="function-list">
					<button class="btn-side-menu jQ-side-menu b-hide-text is-active">side menu</button>
					<ul class="collapse-wrap">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-announcement"></i><em class="b-hide-text">即時公告</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-card"></i><em class="b-hide-text">卡友專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-gift"></i><em class="b-hide-text">贈獎專區</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-note"></i><em class="b-hide-text">活動報名</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-service"></i><em class="b-hide-text">智能客服</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-parking"></i><em class="b-hide-text">交通資訊</em></a></a></li>
					</ul>
				</div>
				<button class="btn-top jQ-top">TOP</button>
			</aside>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
	<div class="hidden-place">
		<img src="../../content/img/branch/social/09.jpg" alt="">
		<img src="../../content/img/branch/social/10.jpg" alt="">
		<img src="../../content/img/branch/social/11.jpg" alt="">
		<img src="../../content/img/branch/social/12.jpg" alt="">
		<img src="../../content/img/branch/social/13.jpg" alt="">
		<img src="../../content/img/branch/social/14.jpg" alt="">
		<img src="../../content/img/branch/social/15.jpg" alt="">
		<img src="../../content/img/branch/social/16.jpg" alt="">
	</div>
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<script defer src="../../scripts/js/branch.js?JS=20160420_01"></script>
</html>