<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/branch.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body branch show-header is-padding-arrow show-marquee">
		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/branch/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<div class="shortcut-wrap">
					<div class="quick-list">
						<div class="location-selecter b-col-md-6 b-middle">
							<div class="m-replace-select jQ-select">
								<span class="m-selected-item b-hide-xs"></span>
								<ul class="location-list">
									<li class="list title">選擇分店</li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">寶慶遠百</a></li>
									<li class="list is-selected"><a href="../home/branch.html" class="b-link b-block">板橋大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">板橋遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">桃園遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">新竹大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">台中大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">嘉義遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">台南大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">高雄大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">花蓮遠百</a></li>
									<li class="list back"><a href="../home/index.html" class="b-link b-block">返回遠百首頁</a></li>
								</ul>
							</div>
						</div>
						<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
							<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
							<div class="language-list">
								<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
								<button class="btn-lang is-curr">繁中</button>
								<button class="btn-lang">簡中</button>
							</div>
							<div class="m-replace-select jQ-select">
								<span class="m-selected-item b-hide-xs"></span>
								<ul class="visitor-center">
									<li class="list title">Visitor Center</li>
									<li class="list" data-lang="en"><a href="javascript:;" class="b-link b-block">EN</a></li>
									<li class="list" data-lang="jp"><a href="javascript:;" class="b-link b-block">JP</a></li>
									<li class="list" data-lang="cn"><a href="javascript:;" class="b-link b-block">CN</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<nav class="l-nav">
					<div class="main-menu">
						<ul class="menu-list">
							<li class="list has-menu">
								<button class="text jQ-sub-menu">營業資訊</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="javascript:;" class="b-link b-block">交通指南</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">停車優惠</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">樓層/櫃位</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">服務設施</a></div>
										</div>
										<div class="product-banner b-hide-xs">
											<a href="javascript:;" class="b-link">
												<figure class="img-wrap">
													<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
													<figcaption class="desc">聖誕大餐組合優惠</figcaption>
												</figure>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu">最新活動</button>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu">美食娛樂</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="javascript:;" class="b-link b-block">美食</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">娛樂</a></div>
										</div>
										<div class="product-banner b-hide-xs">
											<a href="javascript:;" class="b-link">
												<figure class="img-wrap">
													<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
													<figcaption class="desc">聖誕大餐組合優惠</figcaption>
												</figure>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu">電子DM</button>
							</li>
						</ul>
						<ul class="menu-list is-highlight">
							<li class="list has-menu">
								<button class="text jQ-sub-menu">線上購物</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="3">
											<div class="list"><a href="javascript:;" class="b-link b-block">主題活動</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">女士</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">男士</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">配件</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">鞋子</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">兒童</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">美妝</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">食品&酒</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">居家寢飾</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">家用電器</a></div>
											<div class="list"><a href="javascript:;" class="b-link b-block">伴手禮</a></div>
											<!-- <div class="list"><a href="javascript:;" class="b-link b-block">更多</a></div> -->
										</div>
										<div class="product-banner b-hide-xs">
											<a href="javascript:;" class="b-link">
												<figure class="img-wrap">
													<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
													<figcaption class="desc">聖誕大餐組合優惠</figcaption>
												</figure>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu">時尚焦點</button>
							</li>
						</ul>
						<ul class="function-list">
							<li class="list">
								<button class="btn-func b-text-center jQ-btn-func" data-sidebar-close="true">
									<i class="m-icon m-icon-search"></i>
									<em class="b-hide-text">品牌字首搜尋</em>
								</button>
								<div class="popup-function wide-size b-text-left">
									<div class="function-wrap">
										<h3 class="function-title b-bold b-hide-xs"><i class="m-icon m-icon-search"></i><em class="text b-bold">請選擇任一方式搜尋</em></h3>
										<h4 class="function-desc b-bold">全站關鍵字搜尋</h4>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-clearfix">
											<input type="text" class="m-inputbox b-col-md-9 b-col-sm-9 b-col-xs-8 b-float-left" placeholder="請輸入關鍵字">
											<button class="btn-search b-col-md-3 b-col-sm-3 b-col-xs-4 b-float-right b-text-center jQ-search">搜尋</button>
										</div>
										<h4 class="function-desc b-bold">品牌關鍵字搜尋</h4>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-clearfix">
											<input type="text" class="m-inputbox b-col-md-9 b-col-sm-9 b-col-xs-8 b-float-left" placeholder="請輸入關鍵字">
											<button class="btn-search b-col-md-3 b-col-sm-3 b-col-xs-4 b-float-right b-text-center jQ-search">搜尋</button>
										</div>
										<h4 class="function-desc b-bold">品牌字首搜尋</h4>
										<ul class="keyword-list">
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">1</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">2</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">3</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">4</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">5</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">6</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">7</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">8</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">9</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">0</a></li>
										</ul>
										<ul class="keyword-list">
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">A</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">B</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">C</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">D</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">E</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">F</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">G</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">H</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">I</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">J</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">K</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">L</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">M</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">N</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">O</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">P</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">Q</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">R</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">S</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">T</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">U</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">V</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">W</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">X</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">Y</a></li>
											<li class="item-list b-inline"><a href="javascript:;" class="btn-keyword b-block b-bold">Z</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="list">
								<button class="btn-func b-text-center jQ-btn-func" data-sidebar-close="true">
									<i class="m-icon m-icon-member"></i>
									<em class="b-hide-text">我的帳戶</em>
								</button>
								<div class="popup-function">
									<div class="function-wrap">
										<a href="javascript:;" class="btn-link b-block b-text-center">會員登入</a>
										<a href="javascript:;" class="btn-link b-block b-text-center">註冊成為新會員</a>
										<div class="info-hint">
											<h4 class="line-through b-bold b-text-center"><em class="hint-text">快速登入</em></h4>
											<span class="text b-block b-text-center">限已綁定快速登入功能之註冊會員</span>
										</div>
										<a href="javascript:;" class="btn-link b-block b-text-center fb-login">使用Facebook帳號登入</a>
										<a href="javascript:;" class="btn-link b-block b-text-center google-login">使用Google帳號登入</a>
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/action.jpg" alt="入會禮活動Banner">
											</figure>
										</a>
									</div>
								</div>
							</li>
							<li class="list">
								<button class="btn-func b-text-center jQ-btn-func" data-sidebar-close="true">
									<i class="m-icon m-icon-heart"></i>
									<em class="b-hide-text">我的最愛</em>
								</button>
								<div class="popup-function">
									<div class="function-wrap">
										<div class="m-tab main-tab">
											<ul class="m-tab-wrap">
												<li class="tab-list b-col-dt-4 b-col-xs-4">
													<button class="btn-tab b-text-center is-curr jQ-tab">商品</button>
												</li>
												<li class="tab-list b-col-dt-4 b-col-xs-4">
													<button class="btn-tab b-text-center jQ-tab">美食</button>
												</li>
												<li class="tab-list b-col-dt-4 b-col-xs-4">
													<button class="btn-tab b-text-center jQ-tab">文章</button>
												</li>
											</ul>
											<ul class="m-tab-content">
												<li class="content-list is-curr">
													<ul class="favorite-list">
														<li class="item-list">
															<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/01.png" alt="都會美學拚色點綴皮革水桶包">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<em class="item-brand b-block">NINE WEST</em>
																<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																<span class="note b-block">滿2,000滿200</span>
																<div class="item-price b-block"><em class="text">$2,500</em></div>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/09.png" alt="都會美學拚色點綴皮革水桶包">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<em class="item-brand b-block">NINE WEST</em>
																<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																<span class="note b-block">滿2,000滿200</span>
																<div class="item-price b-block"><em class="text">$2,500</em></div>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/10.png" alt="都會美學拚色點綴皮革水桶包">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<em class="item-brand b-block">NINE WEST</em>
																<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																<span class="note b-block">滿2,000滿200</span>
																<div class="item-price b-block"><em class="text">$2,500</em></div>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
													</ul>
													<div class="btn-wrap b-text-center">
														<a href="javascript:;" class="btn-read-more b-col-dt-6 b-col-xs-12" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
													</div>
												</li>
												<li class="content-list">
													<ul class="favorite-list">
														<li class="item-list">
															<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<h3 class="item-title b-block b-bold">八阪丼屋</h3>
																<p class="desc">產地直送 高品質結合現代與傳統的日式飯食美味</p>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<h3 class="item-title b-block b-bold">八阪丼屋</h3>
																<p class="desc">產地直送 高品質結合現代與傳統的日式飯食美味</p>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/02.png" alt="八阪丼屋">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<h3 class="item-title b-block b-bold">八阪丼屋</h3>
																<p class="desc">產地直送 高品質結合現代與傳統的日式飯食美味</p>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
													</ul>
													<div class="btn-wrap b-text-center">
														<a href="javascript:;" class="btn-read-more b-col-dt-6 b-col-xs-12" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
													</div>
												</li>
												<li class="content-list">
													<ul class="favorite-list">
														<li class="item-list">
															<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/03.png" alt="秋冬時尚穿搭特輯">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<h3 class="item-title b-block b-bold">秋冬時尚穿搭特輯</h3>
																<p class="desc">這樣搭更時尚！與黑色結合的7種組合，讓你…</p>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/04.png" alt="秋冬時尚穿搭特輯">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<h3 class="item-title b-block b-bold">秋冬時尚穿搭特輯</h3>
																<p class="desc">這樣搭更時尚！與黑色結合的7種組合，讓你…</p>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<div class="food-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/05.png" alt="秋冬時尚穿搭特輯">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<h3 class="item-title b-block b-bold">秋冬時尚穿搭特輯</h3>
																<p class="desc">這樣搭更時尚！與黑色結合的7種組合，讓你…</p>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
													</ul>
													<div class="btn-wrap b-text-center">
														<a href="javascript:;" class="btn-read-more b-col-dt-6 b-col-xs-12" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="list">
								<button class="btn-func b-text-center shopping jQ-btn-func" data-sidebar-close="true">
									<i class="m-icon m-icon-shopping"></i>
									<em class="b-hide-text">購物車</em>
									<span class="count">5</span>
								</button>
								<div class="popup-function wide-size">
									<div class="function-wrap">
										<div class="m-tab main-tab">
											<ul class="m-tab-wrap">
												<li class="tab-list b-col-dt-6 b-col-xs-6">
													<button class="btn-tab b-text-center is-curr jQ-tab">購物清單</button>
												</li>
												<li class="tab-list b-col-dt-6 b-col-xs-6">
													<button class="btn-tab b-text-center jQ-tab">瀏覽清單</button>
												</li>
											</ul>
											<ul class="m-tab-content">
												<li class="content-list is-curr">
													<ul class="favorite-list">
														<li class="item-list">
															<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/01.png" alt="都會美學拚色點綴皮革水桶包">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<em class="item-brand b-block">NINE WEST</em>
																<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																<span class="note b-block">滿2,000滿200</span>
																<span class="shopping-count">10 x $2,500</span>
																<div class="item-price b-block"><em class="text">$2,500</em></div>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/09.png" alt="都會美學拚色點綴皮革水桶包">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<em class="item-brand b-block">NINE WEST</em>
																<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																<span class="note b-block">滿2,000滿200</span>
																<span class="shopping-count">10 x $2,500</span>
																<div class="item-price b-block"><em class="text">$2,500</em></div>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/10.png" alt="都會美學拚色點綴皮革水桶包">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<em class="item-brand b-block">NINE WEST</em>
																<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																<span class="note b-block">滿2,000滿200</span>
																<span class="shopping-count">10 x $2,500</span>
																<div class="item-price b-block"><em class="text">$2,500</em></div>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
													</ul>
													<div class="shopping-amount">
														<em class="total b-text-right b-block">總計：<span class="highlight b-bold">$580,800</span></em>
													</div>
													<div class="btn-wrap b-text-center">
														<a href="javascript:;" class="btn-more btn-checkout b-col-dt-6 b-col-xs-12">前往結帳</a>
													</div>
												</li>
												<li class="content-list">
													<ul class="favorite-list">
														<li class="item-list">
															<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/10.png" alt="都會美學拚色點綴皮革水桶包">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<em class="item-brand b-block">NINE WEST</em>
																<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																<span class="note b-block">滿2,000滿200</span>
																<div class="item-price b-block"><em class="text">$2,500</em></div>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/01.png" alt="都會美學拚色點綴皮革水桶包">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<em class="item-brand b-block">NINE WEST</em>
																<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																<span class="note b-block">滿2,000滿200</span>
																<div class="item-price b-block"><em class="text">$2,500</em></div>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
														<li class="item-list">
															<div class="item-pic b-col-dt-6 b-col-xs-6 b-inline">
																<figure class="img-wrap">
																	<img src="../../content/img/account/favorite/09.png" alt="都會美學拚色點綴皮革水桶包">
																</figure>
															</div>
															<div class="item-text-info b-col-dt-6 b-col-xs-6 b-inline b-text-left">
																<em class="item-brand b-block">NINE WEST</em>
																<h3 class="item-title b-block b-bold">都會美學拚色點綴皮革水桶包</h3>
																<span class="note b-block">滿2,000滿200</span>
																<div class="item-price b-block"><em class="text">$2,500</em></div>
															</div>
															<button class="btn-delete"><em class="text b-hide-text">刪除</em></button>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</nav>
				<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
			</div>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="kv">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/branch/kv/01.png" alt="">
								<figcaption class="desc b-hide-text">全館沐浴品 50% OFF</figcaption>
							</figure>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=JUtsNRlBHmk&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=JUtsNRlBHmk" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/branch/kv/02.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=TaCdAscgpU0&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=TaCdAscgpU0" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/branch/kv/03.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
					</div>
					<button class="m-btn-slide jq-slide-down">
						<i class="m-icon m-icon-mouse"></i>
						<em>Scrolling</em>
					</button>
				</div>
				<div class="m-cut activity-cut">
					<div class="activity-list slide-list jQ-owl is-padding is-dark" data-items-md="2" data-items-sm="2" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/01.png" alt="秋冬美靴折扣季">
									<figcaption class="desc b-hide-text">秋冬美靴折扣季</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #0e3a5b;">
									<h3 class="info-title">秋冬美靴折扣季</h3>
									<p class="b-desc">天然的食材中含有多種正面能量並能提升個人的自身能量和活。設計時尚、誇張、充滿智慧！</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/04.jpg" alt="花開富貴">
									<figcaption class="desc b-hide-text">花開富貴</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #44bcbb;">
									<h3 class="info-title">花開富貴</h3>
									<p class="b-desc">花開富貴，金雞報喜；春節禮品特輯<br>* 此區域色塊僅為示意，後續待確認</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/02.png" alt="誰說皮衣只有黑色！">
									<figcaption class="desc b-hide-text">誰說皮衣只有黑色！</figcaption>
								</figure>
								<div class="item-info is-dark" style="background: #fff;">
									<h3 class="info-title">誰說皮衣只有黑色！</h3>
									<p class="b-desc">秋冬一片黑，亮色系的皮衣更能襯托你的好品味！</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div>
						<!-- <div class="list">
							<a href="javascript:;" class="activity-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/activity/03.jpg" alt="歲末酬賓">
									<figcaption class="desc b-hide-text">歲末酬賓</figcaption>
								</figure>
								<div class="item-info is-light" style="background: #cfae50;">
									<h3 class="info-title">歲末酬賓</h3>
									<p class="b-desc">跨年迎新<br>* 此區域色塊僅為示意，後續待確認</p>
									<span class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</span>
								</div>
							</a>
						</div> -->
					</div>
				</div>
				<div class="m-cut food-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">美食</em>饗宴</span>
						<span class="sub-lang">Food Feast</span>
					</h2>
					<div class="food-list slide-list jQ-owl is-padding is-dark" data-items-md="3" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/01.png" alt="揚日式料理">
									<figcaption class="desc b-hide-text">揚日式料理</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">揚日式料理</h3>
									<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/02.png" alt="大戶屋">
									<figcaption class="desc b-hide-text">大戶屋</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">大戶屋</h3>
									<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/03.png" alt="豬排控必去！靜岡勝政日式豬排">
									<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
									<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/04.png" alt="揚日式料理">
									<figcaption class="desc b-hide-text">揚日式料理</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">揚日式料理</h3>
									<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/05.png" alt="先喝咖啡">
									<figcaption class="desc b-hide-text">先喝咖啡</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">先喝咖啡</h3>
									<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="food-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/food/06.png" alt="豬排控必去！靜岡勝政日式豬排">
									<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
									<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
					</div>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
				<div class="m-cut shopping-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">線上</em>購物</span>
						<span class="sub-lang">Online Shopping</span>
					</h2>
					<div class="shopping-list slide-list jQ-owl is-padding is-dark jQ-browserAdj" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="list">
							<a href="javascript:;" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
									<figcaption class="desc b-hide-text">HERMES</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">HERMES</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$48800</span>
										<span class="acts"></span>
									</em>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
									<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">SWISS MILITARY</h3>
									<p class="b-desc">三環運動手錶</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿5000送500</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like is-add">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
									<figcaption class="desc b-hide-text">NINE WEST</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">NINE WEST</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts"></span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/04.png" alt="BERLUTI">
									<figcaption class="desc b-hide-text">BERLUTI</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">BERLUTI</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿2000送200</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
									<figcaption class="desc b-hide-text">HERMES</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">HERMES</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$48800</span>
										<span class="acts"></span>
									</em>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="javascript:;" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
									<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">SWISS MILITARY</h3>
									<p class="b-desc">三環運動手錶</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿5000送500</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like is-add">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
					</div>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
				<div class="m-cut movie-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">電影</em>資訊</span>
						<span class="sub-lang">Movies</span>
					</h2>
					<div class="movie-list slide-list jQ-owl is-padding is-dark" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/01.png" alt="功夫熊貓 3">
									<figcaption class="desc b-hide-text">功夫熊貓 3</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">功夫熊貓 3</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/02.jpg" alt="星際特工瓦雷諾：千星之城">
									<figcaption class="desc b-hide-text">星際特工瓦雷諾：千星之城</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">星際特工瓦雷諾：千星之城</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/03.png" alt="美女與野獸">
									<figcaption class="desc b-hide-text">美女與野獸</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">美女與野獸</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/04.png" alt="蟻人 2">
									<figcaption class="desc b-hide-text">蟻人 2</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">蟻人 2</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/05.jpg" alt="神力女超人">
									<figcaption class="desc b-hide-text">神力女超人</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">神力女超人</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/06.png" alt="比利林恩的中場戰事">
									<figcaption class="desc b-hide-text">比利林恩的中場戰事</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">比利林恩的中場戰事</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/07.jpg" alt="樂高蝙蝠俠">
									<figcaption class="desc b-hide-text">樂高蝙蝠俠</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">樂高蝙蝠俠</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/08.jpg" alt="下女的誘惑">
									<figcaption class="desc b-hide-text">下女的誘惑</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">下女的誘惑</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/09.jpg" alt="一念無明">
									<figcaption class="desc b-hide-text">一念無明</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">一念無明</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/10.jpg" alt="玩命槍火">
									<figcaption class="desc b-hide-text">玩命槍火</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">玩命槍火</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/11.jpg" alt="速食遊戲">
									<figcaption class="desc b-hide-text">速食遊戲</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">速食遊戲</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/12.jpg" alt="寶貝老闆">
									<figcaption class="desc b-hide-text">寶貝老闆</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">寶貝老闆</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/13.jpg" alt="月光下的藍色男孩">
									<figcaption class="desc b-hide-text">月光下的藍色男孩</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">月光下的藍色男孩</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/15.jpg" alt="網路世界的幻想">
									<figcaption class="desc b-hide-text">網路世界的幻想</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">網路世界的幻想</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/movie/14.jpg" alt="美國心風暴">
									<figcaption class="desc b-hide-text">美國心風暴</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">美國心風暴</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
					</div>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
				<div class="m-cut social-cut">
					<h2 class="cut-title">
						<span class="main-lang"><em class="highlight">社群</em>媒體</span>
						<span class="sub-lang">Social Media</span>
					</h2>
					<ul class="social-wall">
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/01.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚是時候來點下午茶囉！ 喝茶也要很時尚是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-facebook">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/02.jpg" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/03.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-facebook">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/04.png" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/05.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/06.png" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/07.png" alt="">
									<figcaption class="desc">是時候來點下午茶囉！ 喝茶也要很時尚</figcaption>
								</figure>
							</a>
						</li>
						<li class="list-item">
							<a href="javascript:;" class="b-link from-instagram">
								<figure class="img-wrap">
									<img src="../../content/img/branch/social/08.png" alt="">
									<figcaption class="desc">歡慶週年慶，小編極力爭取限量雲朵家族來店禮抽獎唷！【遠百IG限定活動】 完成下列兩個步驟，即符合抽獎資格 1. 追蹤遠百IG帳號 。</figcaption>
								</figure>
							</a>
						</li>
						<li class="item-sizer"></li>
					</ul>
					<a href="javascript:;" class="btn-more b-link">MORE</a>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
	<div class="hidden-place">
		<img src="../../content/img/branch/social/09.png" alt="">
		<img src="../../content/img/branch/social/10.jpg" alt="">
		<img src="../../content/img/branch/social/11.jpg" alt="">
		<img src="../../content/img/branch/social/12.jpg" alt="">
		<img src="../../content/img/branch/social/13.jpg" alt="">
		<img src="../../content/img/branch/social/14.jpg" alt="">
		<img src="../../content/img/branch/social/15.jpg" alt="">
		<img src="../../content/img/branch/social/16.jpg" alt="">
	</div>
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<script defer src="../../scripts/js/branch.js?JS=20160420_01"></script>
</html>