<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/cart.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body cart-step3 show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<ol class="shopping-step-list" data-step="3">
							<li class="list">填寫訂購資料</li>
							<li class="list">確認付款方式</li>
							<li class="list">訂購完成</li>
						</ol>
					</header>
					<div class="m-cut-bd">
						<div class="sheet underline">
							<h4 class="info-title">會員帳戶</h4>
							<div class="member-info">
								<em class="member-name">蔡依林</em>
								<div class="coupon-info">
									<span class="coupon-name">購物金(線上抵用券)</span>
									<span class="highlight">2</span>
									<span class="unit">張</span>
								</div>
								<div class="coupon-info">
									<span class="coupon-name">HAPPY GO 點數</span>
									<span class="highlight">26568</span>
									<span class="unit">點</span>
								</div>
							</div>
						</div>
						<div class="sheet underline">
							<h4 class="info-title b-clearfix">
								<em class="minor-desc b-block">感謝您訂購本站商品，以下為您的訂購明細資訊</em>
								<div class="order-info">
									<em class="sub-desc b-block">訂單編號：541701190002544</em>
									<em class="sub-desc b-block">訂購日期：2017/10/01  15:50:32</em>
								</div>
								<em class="main-desc b-block">商品明細</em>
							</h4>
							<table class="m-table table-rotate">
								<thead>
									<tr>
										<td><em class="text">商品</em></td>
										<td><em class="text">配送方式</em></td>
										<td><em class="text">贈品</em></td>
										<td><em class="text">單價(NT$)</em></td>
										<td><em class="text">數量</em></td>
										<td><em class="text">小計(NT$)</em></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="b-text-right-xs" data-label="商品">
											<a href="javascript:;" class="b-link">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</a>
										</td>
										<td class="b-text-right-xs" data-label="配送方式"><em class="text">宅配</em></td>
										<td class="b-text-right-xs" data-label="贈品"><em class="text">雅詩蘭黛特潤精華 5ml</em></td>
										<td class="b-text-right-xs" data-label="單價(NT$)"><em class="text">3,990 元</em></td>
										<td class="b-text-right-xs" data-label="數量"><em class="text">1</em></td>
										<td class="b-text-right-xs" data-label="小計(NT$)"><em class="text">3,990 元</em></td>
									</tr>
									<tr>
										<td class="b-text-right-xs" data-label="商品">
											<a href="javascript:;" class="b-link">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</a>
										</td>
										<td class="b-text-right-xs" data-label="配送方式"><em class="text">宅配</em></td>
										<td class="b-text-right-xs" data-label="贈品"></td>
										<td class="b-text-right-xs" data-label="單價(NT$)"><em class="text">3,990 元</em></td>
										<td class="b-text-right-xs" data-label="數量"><em class="text">1</em></td>
										<td class="b-text-right-xs" data-label="小計(NT$)"><em class="text">3,990 元</em></td>
									</tr>
									<tr>
										<td class="b-text-right-xs" data-label="商品">
											<a href="javascript:;" class="b-link">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</a>
										</td>
										<td class="b-text-right-xs" data-label="配送方式"><em class="text">到店取貨<br>板橋大遠百7樓服務台</em></td>
										<td class="b-text-right-xs" data-label="贈品"></td>
										<td class="b-text-right-xs" data-label="單價(NT$)"><em class="text">3,990 元</em></td>
										<td class="b-text-right-xs" data-label="數量"><em class="text">1</em></td>
										<td class="b-text-right-xs" data-label="小計(NT$)"><em class="text">3,990 元</em></td>
									</tr>
								</tbody>
							</table>
							<div class="purchase-info b-text-right"><em class="text">共 <span class="highlight">3</span> 件商品，商品金額： <span class="highlight">8,008</span> 元</em></div>
							<div class="purchase-info b-text-right">
								<em class="text b-col-dt-10 b-col-xs-8 b-text-right-xs b-inline">使用購物金(抵用券)折抵</em>
								<em class="text b-col-dt-2 b-col-xs-4 b-text-right-xs b-inline"><span class="highlight">-100</span> 元</em>
							</div>
							<div class="purchase-info b-text-right">
								<em class="text b-col-dt-10 b-col-xs-8 b-text-right-xs b-inline">使用折價券序號折抵</em>
								<em class="text b-col-dt-2 b-col-xs-4 b-text-right-xs b-inline"><span class="highlight">-100</span> 元</em>
							</div>
							<div class="purchase-info b-text-right"><em class="text">金額總計： <span class="highlight">8,008</span> 元</em></div>
							<div class="purchase-info b-text-right"><em class="text">HAPPYGO卡號累積點數 卡號：<span class="highlight">1234123145646</span> 本次累點約 <span class="highlight">80</span> 點</em></div>
						</div>
						<div class="receipt-detail">
							<div class="sheet form-input half-dt">
								<h4 class="info-title b-clearfix">
									<em class="main-desc b-float-left-dt b-block">商品配送明細</em>
								</h4>
								<div class="m-form b-col-dt-12 b-col-xs-12">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">收件人姓名</em>
									<span class="text b-col-dt-12 b-col-xs-12 b-block">蔡依琳</span>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">收件人電話</em>
									<div class="b-col-md-5 b-col-sm-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">市話（日）</em>
										<span class="text b-col-dt-12 b-col-xs-12 b-block">02- 82263668 分機123</span>
									</div>
									<div class="b-col-md-5 b-col-sm-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">市話（夜）</em>
										<span class="text b-col-dt-12 b-col-xs-12 b-block">02- 82263668 分機123</span>
									</div>
									<div class="b-col-md-2 b-col-sm-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">手機號碼</em>
										<span class="text b-col-dt-12 b-col-xs-12 b-block">0912345678</span>
									</div>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">地址</em>
									<span class="text b-col-dt-12 b-col-xs-12 b-block">220 新北市板橋區新站路20號16樓</span>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">配送方式</em>
									<span class="text b-col-dt-12 b-col-xs-12 b-block">到店取貨 ( 地點 : MegaCity 板橋大遠百 ／ 地址: 新北市板橋區新站路28號 )</span>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">配送特殊需求</em>
									<span class="text b-col-dt-12 b-col-xs-12 b-block">管理員代收</span>
									<p class="note"><em class="text">您購買的商品將於七日內送貨到府。</em></p>
								</div>
							</div>
							<div class="sheet form-input half-dt">
								<h4 class="info-title b-clearfix">
									<em class="main-desc b-float-left-dt b-block">付款資料明細</em>
								</h4>
								<div class="m-form b-col-dt-12 b-col-xs-12">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">付款人姓名</em>
									<span class="text b-col-dt-12 b-col-xs-12 b-block">蔡依琳</span>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">付款人電話</em>
									<div class="b-col-md-5 b-col-sm-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">市話（日）</em>
										<span class="text b-col-dt-12 b-col-xs-12 b-block">02- 82263668 分機123</span>
									</div>
									<div class="b-col-md-5 b-col-sm-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">市話（夜）</em>
										<span class="text b-col-dt-12 b-col-xs-12 b-block">02- 82263668 分機123</span>
									</div>
									<div class="b-col-md-2 b-col-sm-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">手機號碼</em>
										<span class="text b-col-dt-12 b-col-xs-12 b-block">0912345678</span>
									</div>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">地址</em>
									<span class="text b-col-dt-12 b-col-xs-12 b-block">220 新北市板橋區新站路20號16樓</span>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">付款方式</em>
									<span class="text b-col-dt-12 b-col-xs-12 b-block">信用卡12期付款</span>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">發票資訊</em>
									<span class="text b-col-dt-12 b-col-xs-12 b-block">統編16799127 /  某某顧問公司</span>
								</div>
							</div>
						</div>
						<div class="btn-wrap b-text-right">
							<a href="javascript:;" class="btn-link btn-sub b-col-xs-6">查詢交易紀錄</a>
							<a href="javascript:;" class="btn-link btn-main b-col-xs-6">回線上購物</a>
						</div>
					</div>
				</section>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!-- <script defer src="../../scripts/js/cart.js?JS=20160420_01"></script> -->
</html>