<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/cart.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body cart show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="main-title">購物車明細</h2>
					</header>
					<div class="m-cut-bd">
						<div class="sheet">
							<h4 class="info-title">會員帳戶</h4>
							<div class="member-info">
								<em class="member-name">蔡依林</em>
								<div class="coupon-info">
									<span class="coupon-name">購物金(線上抵用券)</span>
									<span class="highlight">2</span>
									<span class="unit">張</span>
								</div>
								<div class="coupon-info">
									<span class="coupon-name">HAPPY GO 點數</span>
									<span class="highlight">26568</span>
									<span class="unit">點</span>
								</div>
							</div>
							<h4 class="info-title b-clearfix">
								<em class="main-desc b-float-left-dt b-block">本次結帳商品</em>
								<span class="sub-desc b-float-right-dt b-block">共 <span class="highlight">3</span> 件商品，請確認以下商品資訊並進行結帳</span>
							</h4>
							<table class="m-table table-rotate">
								<thead>
									<tr>
										<td><em class="text">品項</em></td>
										<td><em class="text">商品</em></td>
										<td><em class="text">配送方式</em></td>
										<td><em class="text">贈品</em></td>
										<td><em class="text">單價(NT$)</em></td>
										<td><em class="text">數量</em></td>
										<td><em class="text">小計(NT$)</em></td>
										<td><em class="text">刪除</em></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td data-label="品項"><em class="text">1</em></td>
										<td data-label="商品">
											<div class="item-info">
												<figure class="img-wrap">
													<img src="../../content/img/cart/sheet/01.jpg" alt="STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑">
													<figcaption class="desc b-hide-text">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</figcaption>
												</figure>
												<em class="item-name">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</em>
											</div>
										</td>
										<td data-label="配送方式">
											<div class="m-table-xs-wrap deliver-method">
												<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6">
													<div class="m-box-holder is-radio">
														<input type="radio" name="deliver-3" class="m-radio" value="home">
													</div>
													<em class="text">宅配</em>
												</label>
												<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6">
													<div class="m-box-holder is-radio">
														<input type="radio" name="deliver-3" class="m-radio" value="store">
													</div>
													<em class="text">到店取貨</em>
												</label>
												<div class="m-box-holder is-selector">
													<select name="" id="" class="m-selection">
														<option value="">選擇分店</option>
														<option value="">OOO店</option>
														<option value="">XXX店</option>
													</select>
												</div>
											</div>
										</td>
										<td data-label="贈品"><em class="text">雅詩蘭黛特潤精華 5ml</em></td>
										<td data-label="單價(NT$)"><em class="text">3,990 元</em></td>
										<td data-label="數量">
											<div class="m-table-xs-wrap">
												<div class="counter">
													<button class="btn-count jQ-calc" data-calc="minus">-</button>
													<div class="m-box-holder">
														<input type="text" class="m-inputbox" value="1">
													</div>
													<button class="btn-count jQ-calc" data-calc="plus">+</button>
												</div>
											</div>
										</td>
										<td data-label="小計(NT$)"><em class="text">3,990 元</em></td>
										<td data-label="刪除">
											<div class="m-table-xs-wrap">
												<button class="btn-delete jQ-delelte">
													<i class="m-icon m-icon-delete"></i>
													<em class="text b-hide-text">刪除</em>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td data-label="品項"><em class="text">2</em></td>
										<td data-label="商品">
											<div class="item-info">
												<figure class="img-wrap">
													<img src="../../content/img/cart/sheet/01.jpg" alt="STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑">
													<figcaption class="desc b-hide-text">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</figcaption>
												</figure>
												<em class="item-name">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</em>
											</div>
											<p class="note"><i class="m-icon m-icon-info-3"></i><em class="text">此商品已下架，請選擇其他商品。</em></p>
											<p class="note"><i class="m-icon m-icon-bell-o"></i><em class="text">限時24小時，指定商品結帳再85折</em></p>
										</td>
										<td data-label="配送方式">
											<div class="m-table-xs-wrap deliver-method">
												<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6">
													<div class="m-box-holder is-radio">
														<input type="radio" name="deliver-3" class="m-radio" value="home">
													</div>
													<em class="text">宅配</em>
												</label>
												<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6">
													<div class="m-box-holder is-radio">
														<input type="radio" name="deliver-3" class="m-radio" value="store">
													</div>
													<em class="text">到店取貨</em>
												</label>
												<div class="m-box-holder is-selector">
													<select name="" id="" class="m-selection">
														<option value="">選擇分店</option>
														<option value="">OOO店</option>
														<option value="">XXX店</option>
													</select>
												</div>
											</div>
										</td>
										<td data-label="贈品"><em class="text">雅詩蘭黛特潤精華 5ml</em></td>
										<td data-label="單價(NT$)"><em class="text">3,990 元</em></td>
										<td data-label="數量">
											<div class="m-table-xs-wrap">
												<div class="counter">
													<button class="btn-count jQ-calc" data-calc="minus">-</button>
													<div class="m-box-holder">
														<input type="text" class="m-inputbox" value="1">
													</div>
													<button class="btn-count jQ-calc" data-calc="plus">+</button>
												</div>
											</div>
										</td>
										<td data-label="小計(NT$)"><em class="text">3,990 元</em></td>
										<td data-label="刪除">
											<div class="m-table-xs-wrap">
												<button class="btn-delete jQ-delelte">
													<i class="m-icon m-icon-delete"></i>
													<em class="text b-hide-text">刪除</em>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td data-label="品項"><em class="text">3</em></td>
										<td data-label="商品">
											<div class="item-info">
												<figure class="img-wrap">
													<img src="../../content/img/cart/sheet/01.jpg" alt="STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑">
													<figcaption class="desc b-hide-text">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</figcaption>
												</figure>
												<em class="item-name">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</em>
											</div>
											<p class="note"><i class="m-icon m-icon-bell-o"></i><em class="text">限時24小時，指定商品結帳再85折</em></p>
										</td>
										<td data-label="配送方式">
											<div class="m-table-xs-wrap deliver-method">
												<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6">
													<div class="m-box-holder is-radio">
														<input type="radio" name="deliver-3" class="m-radio" value="home">
													</div>
													<em class="text">宅配</em>
												</label>
												<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6">
													<div class="m-box-holder is-radio">
														<input type="radio" name="deliver-3" class="m-radio" value="store">
													</div>
													<em class="text">到店取貨</em>
												</label>
												<div class="m-box-holder is-selector">
													<select name="" id="" class="m-selection">
														<option value="">選擇分店</option>
														<option value="">OOO店</option>
														<option value="">XXX店</option>
													</select>
												</div>
											</div>
										</td>
										<td data-label="贈品"><em class="text">雅詩蘭黛特潤精華 5ml</em></td>
										<td data-label="單價(NT$)"><em class="text">3,990 元</em></td>
										<td data-label="數量">
											<div class="m-table-xs-wrap">
												<div class="counter">
													<button class="btn-count jQ-calc" data-calc="minus">-</button>
													<div class="m-box-holder">
														<input type="text" class="m-inputbox" value="1">
													</div>
													<button class="btn-count jQ-calc" data-calc="plus">+</button>
												</div>
											</div>
										</td>
										<td data-label="小計(NT$)"><em class="text">3,990 元</em></td>
										<td data-label="刪除">
											<div class="m-table-xs-wrap">
												<button class="btn-delete jQ-delelte">
													<i class="m-icon m-icon-delete"></i>
													<em class="text b-hide-text">刪除</em>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="purchase-info b-text-right"><em class="text">共 <span class="highlight">3</span> 件商品，商品金額：<span class="highlight">8,208</span> 元</em></div>
							<div class="purchase-info b-text-right-dt b-middle">
								<div class="b-col-md-10 b-col-tm-9">
									<div class="coupon-selection">
										<span class="text b-inline">使用購物金(抵用券)折抵</span>
										<div class="m-box-holder is-selector">
											<select name="" id="" class="m-selection">
												<option value="">100 元購物金折價券</option>
											</select>
										</div>
										<span class="text b-inline">元</span>
									</div>
									<p class="highlight">* 僅顯示本次消費可使用之購物金，如要查詢其餘不適用購物金，請至我的帳戶 > <a href="javascript:;" class="b-link">查詢購物金</a></p>
									<p class="highlight">* 訂單成立後，所使用的購物金(抵用券)將無法歸還</p>
								</div>
								<em class="text b-col-md-2 b-col-tm-3 b-text-right-xs"><span class="highlight">100</span> 元</em>
							</div>
							<div class="purchase-info b-text-right-dt b-middle">
								<div class="b-col-md-10 b-col-tm-9">
									<label class="m-lab">
										<span class="text">HAPPYGO 卡累點</span>
										<div class="m-box-holder">
											<input type="text" class="m-inputbox" placeholder="請輸入序號">
										</div>
									</label>
									<button class="btn-link btn-confirm btn-cancel">確定</button>
								</div>
								<em class="text b-col-md-2 b-col-tm-3 b-text-right-xs"><span class="highlight">0</span> 元</em>
							</div>
							<div class="purchase-info b-text-right"><em class="text">小計：<span class="highlight">8,108</span> 元</em></div>
							<div class="purchase-info b-text-right-dt">
								<label class="m-lab">
									<span class="text">HAPPYGO 卡累點</span>
									<div class="m-box-holder">
										<input type="text" class="m-inputbox" placeholder="請輸入序號">
									</div>
								</label>
								<label class="m-lab jQ-checkbox">
									<div class="m-box-holder is-checkbox">
										<input type="checkbox" class="m-checkbox">
									</div>
									<span class="text">HAPPYGO 卡號同步更新至我的帳戶</span>
								</label>
							</div>
							<div class="purchase-info b-text-right-dt"><em class="text highlight">重要提醒：到店取貨若到不同店取貨建議您使用宅配。</em></div>
						</div>
						<div class="btn-wrap b-text-right">
							<a href="javascript:;" class="btn-link btn-sub b-col-xs-6">繼續購物</a>
							<a href="javascript:;" class="btn-link btn-main b-col-xs-6">準備結帳</a>
						</div>
					</div>
					<div class="m-cut-ft">
						<h3 class="ft-title">推薦商品</h3>
						<div class="recommended-list jQ-owl is-padding is-dark" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
							<div class="list">
								<a href="javascript:;" class="recommended-link">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<div class="counter">
									<button class="btn-count jQ-calc" data-calc="minus">-</button>
									<div class="m-box-holder">
										<input type="text" class="m-inputbox" value="1">
									</div>
									<button class="btn-count jQ-calc" data-calc="plus">+</button>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="recommended-link">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<div class="counter">
									<button class="btn-count jQ-calc" data-calc="minus">-</button>
									<div class="m-box-holder">
										<input type="text" class="m-inputbox" value="1">
									</div>
									<button class="btn-count jQ-calc" data-calc="plus">+</button>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="recommended-link">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<div class="counter">
									<button class="btn-count jQ-calc" data-calc="minus">-</button>
									<div class="m-box-holder">
										<input type="text" class="m-inputbox" value="1">
									</div>
									<button class="btn-count jQ-calc" data-calc="plus">+</button>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="recommended-link">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<div class="counter">
									<button class="btn-count jQ-calc" data-calc="minus">-</button>
									<div class="m-box-holder">
										<input type="text" class="m-inputbox" value="1">
									</div>
									<button class="btn-count jQ-calc" data-calc="plus">+</button>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="recommended-link">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<div class="counter">
									<button class="btn-count jQ-calc" data-calc="minus">-</button>
									<div class="m-box-holder">
										<input type="text" class="m-inputbox" value="1">
									</div>
									<button class="btn-count jQ-calc" data-calc="plus">+</button>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="recommended-link">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<div class="counter">
									<button class="btn-count jQ-calc" data-calc="minus">-</button>
									<div class="m-box-holder">
										<input type="text" class="m-inputbox" value="1">
									</div>
									<button class="btn-count jQ-calc" data-calc="plus">+</button>
								</div>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!-- <script defer src="../../scripts/js/cart.js?JS=20160420_01"></script> -->
</html>