<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/faq.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body faq show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">常見問題</em></a></li>
					</ol>
				</div>
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">常見</em>問題</span>
							<span class="sub-lang">FAQ</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix">
						<div class="m-tab main-tab">
							<ul class="m-tab-wrap">
								<li class="tab-list b-col-dt-3 b-col-xs-3">
									<button class="btn-tab is-curr jQ-tab">會員/購物金/折價券</button>
								</li>
								<li class="tab-list b-col-dt-3 b-col-xs-3">
									<button class="btn-tab jQ-tab">付款/發票問題</button>
								</li>
								<li class="tab-list b-col-dt-3 b-col-xs-3">
									<button class="btn-tab jQ-tab">商品/退換問題</button>
								</li>
								<li class="tab-list b-col-dt-3 b-col-xs-3">
									<button class="btn-tab jQ-tab">運送問題</button>
								</li>
							</ul>
							<ul class="m-tab-content">
								<li class="content-list is-curr">
									<div class="m-accordion">
										<div class="m-accordion-hd">
											<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q1. 請問如何加入會員？</button></h3>
										</div>
										<div class="m-accordion-bd">
											<ol class="order-list">
												<li class="list">verr</li>
												<li class="list">vrr</li>
											</ol>
										</div>
									</div>
									<div class="m-accordion">
										<div class="m-accordion-hd">
											<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q2. 請問忘記密碼怎麼辦？</button></h3>
										</div>
										<div class="m-accordion-bd">
											<ol class="order-list">
												<li class="list"></li>
												<li class="list"></li>
											</ol>
										</div>
									</div>
									<div class="m-accordion">
										<div class="m-accordion-hd">
											<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q3. 請問購物金有什麼使用規則嗎？</button></h3>
										</div>
										<div class="m-accordion-bd">
											<ol class="order-list">
												<li class="list"></li>
												<li class="list"></li>
											</ol>
										</div>
									</div>
									<div class="m-accordion">
										<div class="m-accordion-hd">
											<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Q4. 請問電子折價券有什麼使用規則嗎？</button></h3>
										</div>
										<div class="m-accordion-bd">
											<ol class="order-list">
												<li class="list"></li>
												<li class="list"></li>
											</ol>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>