<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/fashion-detail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body fashion-detail show-header">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/branch/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="location-selecter b-col-md-6 b-middle">
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="location-list">
								<li class="list title">選擇分店</li>
								<li class="list"><a href="branch.html" class="b-link">寶慶遠百</a></li>
								<li class="list is-selected"><a href="branch.html" class="b-link">板橋大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">板橋遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">桃園遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">新竹大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台中大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">嘉義遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台南大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">高雄大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">花蓮遠百</a></li>
								<li class="list back"><a href="index.html" class="b-link">返回遠百首頁</a></li>
							</ul>
						</div>
					</div>
					<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
						<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
						<div class="language-list">
							<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
							<button class="btn-lang is-curr">繁中</button>
							<button class="btn-lang">簡中</button>
						</div>
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="visitor-center">
								<li class="list title">Visitor Center</li>
								<li class="list" data-lang="en"><a href="javascript:;" class="b-link">EN</a></li>
								<li class="list" data-lang="jp"><a href="javascript:;" class="b-link">JP</a></li>
								<li class="list" data-lang="cn"><a href="javascript:;" class="b-link">CN</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list">
							<button class="text btn-submenu-xs">營業資訊</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">營業時間/路線</a></div>
										<div class="list"><a href="javascript:;" class="b-link">樓層簡介</a></div>
										<div class="list"><a href="javascript:;" class="b-link">停車優惠</a></div>
										<div class="list"><a href="javascript:;" class="b-link">服務設施</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">最新活動</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">全省活動</a></div>
										<div class="list"><a href="javascript:;" class="b-link">各店活動</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">美食娛樂</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">餐廳推薦</a></div>
										<div class="list"><a href="javascript:;" class="b-link">美食品牌</a></div>
										<div class="list"><a href="javascript:;" class="b-link">電影資訊</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">電子DM</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">寶慶遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">板橋遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">板橋大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">桃園遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">新竹遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">台中大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">嘉義遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">台南大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">高雄大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">花蓮遠百</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
					</ul>
					<ul class="menu-list is-highlight">
						<li class="list has-menu">
							<button class="text btn-submenu-xs">線上購物</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">主題活動</a></div>
										<div class="list"><a href="javascript:;" class="b-link">女士</a></div>
										<div class="list"><a href="javascript:;" class="b-link">男士</a></div>
										<div class="list"><a href="javascript:;" class="b-link">配件</a></div>
										<div class="list"><a href="javascript:;" class="b-link">鞋子</a></div>
										<div class="list"><a href="javascript:;" class="b-link">兒童</a></div>
										<div class="list"><a href="javascript:;" class="b-link">美妝</a></div>
										<div class="list"><a href="javascript:;" class="b-link">食品&酒</a></div>
										<div class="list"><a href="javascript:;" class="b-link">居家寢飾</a></div>
										<div class="list"><a href="javascript:;" class="b-link">家用電器</a></div>
										<div class="list"><a href="javascript:;" class="b-link">伴手禮</a></div>
										<!-- <div class="list"><a href="javascript:;" class="b-link">更多</a></div> -->
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs is-curr">時尚焦點</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link is-curr">女性時尚</a></div>
										<div class="list"><a href="javascript:;" class="b-link">時尚Blog</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<ul class="function-list">
						<li class="list">
							<div class="m-box-holder b-hide-dt">
								<i class="m-icon m-icon-search"></i>
								<input type="text" class="m-inputbox" placeholder="輸入關鍵字">
							</div>
							<button class="btn-func">
								<i class="m-icon m-icon-search b-hide-xs"></i>
								<em class="b-hide-text-dt">品牌字首搜尋</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-member b-hide-xs"></i>
								<em class="b-hide-text-dt">我的帳戶</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-heart b-hide-xs"></i>
								<em class="b-hide-text-dt">我的最愛</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func shopping">
								<i class="m-icon m-icon-shopping b-hide-xs"></i>
								<em class="b-hide-text-dt">購物車</em>
								<span class="count">5</span>
							</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">目前位置</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">時尚焦點</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女性時尚</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">Mix & Match</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝保養</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle is-curr"><em class="text">女性時尚</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男性潮流</em></a></li>
						<li class="list"><a href="foods-index.html" class="b-link b-middle"><em class="text">美食娛樂</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">品味生活</em></a></li>
					</ul>
				</div>
				<div class="m-cut main-content">
					<header class="main-content-hd">
						<div class="post-tools b-clearfix">
							<div class="info-tag">
								<em class="post-catalog">女性時尚</em>
								<time class="post-time" datetime="2017/03/20">2017.03.20</time>
							</div>
							<div class="btn-wrap b-float-right b-middle">
								<a href="http://www.facebook.com/share.php?u=https://www.feds.com.tw/" target="_blank" class="btn-tool btn-fb-share b-middle jQ-share"><i class="m-icon m-icon-facebook"></i><em class="text b-hide-xs">share</em></a>
								<button class="btn-tool btn-like jQ-like b-middle" data-bind="0"><i class="m-icon m-icon-heart-2"></i><em class="text b-hide-xs">收藏</em></button>
							</div>
						</div>
						<h2 class="page-title">2017春夏超想擁有的夢幻清單!有了這些妳就是潮流一姐!</h2>
					</header>
					<div class="main-content-bd">
						<div class="editor-area b-normalize">
							<img src="../../content/img/fashion-detail/article/01.jpg" alt="" style="margin-bottom: 35px;">
							<h4 style="padding: 0 44px; color: #3b3b3b; font-size: 20px; font-weight: bold;letter-spacing: 1px; line-height: 26px;">2017春夏超想擁有的夢幻清單!有了這些妳就是潮流一姐!</h4>
							<p style="padding: 0 44px; color: #3b3b3b; font-size: 16px;letter-spacing: 1px; line-height: 26px;">Chanel早春古巴系列的德比鞋一推出就造成轟動，他的設計源自男鞋，因此鞋面楦頭保留男鞋的瀟灑大氣，經典雙色的靈感則來自Chanel 1957年推出的雙色鞋，穿起來隨性不羈，搭褲裝或長裙都很有味道，就連桂綸鎂也搶著穿！搭配牛仔男友褲的她看起來好帥又好正喔！</p>
							<p style="padding: 0 44px; color: #3b3b3b; font-size: 16px;letter-spacing: 1px; line-height: 26px;">Chanel早春古巴系列的德比鞋一推出就造成轟動，他的設計源自男鞋，因此鞋面楦頭保留男鞋的瀟灑大氣，經典雙色的靈感則來自Chanel 1957年推出的雙色鞋，穿起來隨性不羈，搭褲裝或長裙都很有味道，就連桂綸鎂也搶著穿！搭配牛仔男友褲的她看起來好帥又好正喔！<br><br></p>
							<h4 style="padding: 0 44px; color: #3b3b3b; font-size: 20px; font-weight: bold;letter-spacing: 1px; line-height: 26px;">2017春夏超想擁有的夢幻清單!有了這些妳就是潮流一姐!</h4>
							<p style="padding: 0 44px; color: #3b3b3b; font-size: 16px;letter-spacing: 1px; line-height: 26px;">Chanel早春古巴系列的德比鞋一推出就造成轟動，他的設計源自男鞋，因此鞋面楦頭保留男鞋的瀟灑大氣，經典雙色的靈感則來自Chanel 1957年推出的雙色鞋，穿起來隨性不羈，搭褲裝或長裙都很有味道，就連桂綸鎂也搶著穿！搭配牛仔男友褲的她看起來好帥又好正喔！</p>
							<img src="../../content/img/fashion-detail/article/02.jpg" alt="" style="margin: 35px auto; display: block;">
							<p style="padding: 0 44px; color: #3b3b3b; font-size: 16px;letter-spacing: 1px; line-height: 26px;">Chanel早春古巴系列的德比鞋一推出就造成轟動，他的設計源自男鞋，因此鞋面楦頭保留男鞋的瀟灑大氣，經典雙色的靈感則來自Chanel 1957年推出的雙色鞋，穿起來隨性不羈，搭褲裝或長裙都很有味道，就連桂綸鎂也搶著穿！<br><br></p>
							<h4 style="color: #3b3b3b; font-size: 20px; font-weight: bold;letter-spacing: 1px; line-height: 26px;">2017春夏超想擁有的夢幻清單!有了這些妳就是潮流一姐!</h4>
							<p style="color: #3b3b3b; font-size: 16px;letter-spacing: 1px; line-height: 26px;">Chanel早春古巴系列的德比鞋一推出就造成轟動，他的設計源自男鞋，因此鞋面楦頭保留男鞋的瀟灑大氣，經典雙色的靈感則來自Chanel 1957年推出的雙色鞋，穿起來隨性不羈，搭褲裝或長裙都很有味道，就連桂綸鎂也搶著穿！搭配牛仔男友褲的她看起來好帥又好正喔！</p>
						</div>
					</div>
					<footer class="main-content-ft">
						<div class="post-tools b-clearfix b-text-right">
							<a href="http://www.facebook.com/share.php?u=https://www.feds.com.tw/" target="_blank" class="btn-tool btn-fb-share b-middle jQ-share"><i class="m-icon m-icon-facebook"></i><em class="text b-hide-xs">share</em></a>
							<button class="btn-tool btn-like jQ-like b-middle" data-bind="0"><i class="m-icon m-icon-heart-2"></i><em class="text b-hide-xs">收藏</em></button>
						</div>
					</footer>
				</div>
				<div class="m-cut shopping-cut">
					<h3 class="sub-title b-text-left">私房推薦</h3>
					<div class="shopping-list slide-list jQ-owl is-padding is-dark jQ-browserAdj" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="list">
							<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
									<figcaption class="desc b-hide-text">HERMES</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">HERMES</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$48800</span>
										<span class="acts"></span>
									</em>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
									<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">SWISS MILITARY</h3>
									<p class="b-desc">三環運動手錶</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿5000送500</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like is-add">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
									<figcaption class="desc b-hide-text">NINE WEST</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">NINE WEST</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts"></span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/04.png" alt="BERLUTI">
									<figcaption class="desc b-hide-text">BERLUTI</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">BERLUTI</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿2000送200</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
									<figcaption class="desc b-hide-text">HERMES</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">HERMES</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$48800</span>
										<span class="acts"></span>
									</em>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/02.png" alt="SWISS MILITARY">
									<figcaption class="desc b-hide-text">SWISS MILITARY</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">SWISS MILITARY</h3>
									<p class="b-desc">三環運動手錶</p>
									<em class="main-info">
										<span class="bargain-price">$2880</span>
										<span class="acts">滿5000送500</span>
									</em>
									<span class="price">$5790</span>
								</div>
								<p class="btn-read-more"><em class="text">SHOP NOW</em></p>
							</a>
							<button class="btn-like jQ-like is-add">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
					</div>
				</div>
				<div class="m-cut favorite-cut">
					<h3 class="sub-title b-text-left">你也會喜歡</h3>
					<div class="favorite-list slide-list jQ-owl is-padding is-dark" data-items-md="3" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/01.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/02.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/03.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/01.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/03.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
						<div class="list">
							<a href="fashion-detail.html" class="favorite-link">
								<figure class="img-wrap">
									<img src="../../content/img/fashion-detail/favorite/02.jpg" alt="潮流酷女生">
									<figcaption class="desc b-hide-text">潮流酷女生</figcaption>
								</figure>
								<div class="item-info">
									<header class="info-hd">
										<h3 class="info-title">潮流酷女生</h3>
										<div class="info-tag">
											<em class="post-catalog">女性時尚</em>
											<time class="post-time" datetime="2017/03/20">2017.03.20</time>
										</div>
									</header>
									<p class="b-desc">成立於1904年的美國費城（Philadelphia），有百年歷史的 Mitchell & Ness，是現今歷史最悠久的 .... </p>
								</div>
								<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
							</a>
							<button class="btn-like jQ-like">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="text b-hide-text">LIKE</em>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>