<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/index.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body index show-header is-padding-arrow" data-cut="1">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content">
				<div class="m-cut main-cut">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="true" data-loop="true" data-hover-pause="true">
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/index/main/01.jpg" alt="">
							</figure>
						</div>
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/index/main/02.jpg" alt="">
							</figure>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=JUtsNRlBHmk&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
						<!-- <div class="item" data-media="https://www.youtube.com/watch?v=TaCdAscgpU0&autoplay=1&loop=0&mute=0&bgplay=1&fullscreen=1&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video b-hide-tm"></div>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div> -->
					</div>
					<button class="m-btn-slide jq-slide-down">
						<i class="m-icon m-icon-mouse"></i>
						<em>Scrolling</em>
					</button>
				</div>
				<div class="m-cut">
					<div class="main-content">
						<div class="sub-owl activity-list jQ-owl is-dark" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="true" data-loop="true" data-hover-pause="true">
							<div class="item is-dark" style="background: #ffc93b;">
								<figure class="img-wrap">
									<img src="../../content/img/index/activity/01.jpg" alt="雲朵家族獨家來店禮">
								</figure>
								<div class="item-info">
									<em class="classification">會員活動</em>
									<h3 class="topic-title">雲朵家族獨家來店禮</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
									<i class="arrow"></i>
								</div>
							</div>
							<div class="item is-dark" style="background: #ebc0b0;">
								<figure class="img-wrap">
									<img src="../../content/img/index/activity/02.jpg" alt="全館保養商品5折起">
								</figure>
								<div class="item-info">
									<em class="classification">會員活動</em>
									<h3 class="topic-title">全館保養商品5折起</h3>
									<p class="desc">琺瑯材質的用品不僅耐熱更不會摔碎，玻璃材質表面不易造成氣味及細菌留存也相當方便清洗。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
									<i class="arrow"></i>
								</div>
							</div>
							<!-- <div class="item is-dark" style="background: #ffc93b;">
								<figure class="img-wrap">
									<img src="../../content/img/index/activity/01.jpg" alt="雲朵家族獨家來店禮">
								</figure>
								<div class="item-info">
									<em class="classification">會員活動</em>
									<h3 class="topic-title">雲朵家族獨家來店禮</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
									<i class="arrow"></i>
								</div>
							</div>
							<div class="item is-dark" style="background: #ebc0b0;">
								<figure class="img-wrap">
									<img src="../../content/img/index/activity/02.jpg" alt="全館保養商品5折起">
								</figure>
								<div class="item-info">
									<em class="classification">會員活動</em>
									<h3 class="topic-title">全館保養商品5折起</h3>
									<p class="desc">琺瑯材質的用品不僅耐熱更不會摔碎，玻璃材質表面不易造成氣味及細菌留存也相當方便清洗。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
									<i class="arrow"></i>
								</div>
							</div> -->
						</div>
						<div class="main-owl restaurant-list jQ-owl is-light is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="true" data-loop="true" data-hover-pause="true">
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/restaurant/01.jpg" alt="大戶屋日本美食季">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">大戶屋日本美食季</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮卡<br>全館當日即可兌換實用好禮，獨家開發「萌萌可愛」系列來店禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/restaurant/02.jpg" alt="新加坡部落客Little miss bento 推薦糖村">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">新加坡部落客Little miss bento 推薦糖村</h3>
									<p class="desc">SUGAR & SPICE now sells their delightful souvenirs via their website so no need to trouble <br>any friends to carry these goodies back for you.</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/restaurant/03.jpg" alt="大戶屋日本美食季">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">大戶屋日本美食季</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮卡<br>全館當日即可兌換實用好禮，獨家開發「萌萌可愛」系列來店禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/restaurant/04.jpg" alt="新加坡部落客Little miss bento 推薦糖村">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">非常泰</h3>
									<p class="desc">SUGAR & SPICE now sells their delightful souvenirs via their website so no need to trouble <br>any friends to carry these goodies back for you.</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-cut">
					<div class="main-content">
						<div class="main-owl fashion-list jQ-owl is-light" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="true" data-loop="true" data-hover-pause="true">
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/01.png" alt="既復古又時髦！最強穿搭教學">
								</figure>
								<div class="item-info">
									<em class="classification">流行趨勢</em>
									<h3 class="topic-title">既復古又時髦！最強穿搭教學</h3>
									<p class="desc">也相當方便清洗。受熱均勻的特質也使它能直接放入烤箱當作烤盤使用，<br>但注意琺瑯製品無法微波爐加熱喔。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/02.jpg" alt="新加坡部落客Little miss bento 推薦糖村">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">新加坡部落客Little miss bento 推薦糖村</h3>
									<p class="desc">SUGAR & SPICE now sells their delightful souvenirs via their website so no need to trouble <br>any friends to carry these goodies back for you.</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<!-- <div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/03.jpg" alt="大戶屋日本美食季">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">大戶屋日本美食季</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮卡<br>全館當日即可兌換實用好禮，獨家開發「萌萌可愛」系列來店禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/04.jpg" alt="新加坡部落客Little miss bento 推薦糖村">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">新加坡部落客Little miss bento 推薦糖村</h3>
									<p class="desc">SUGAR & SPICE now sells their delightful souvenirs via their website so no need to trouble <br>any friends to carry these goodies back for you.</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div> -->
						</div>
						<div class="sub-owl shopping-list jQ-owl is-dark is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="true" data-loop="true" data-hover-pause="true">
							<div class="item is-dark" style="background: #ffc5dd;">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/03.jpg" alt="大戶屋日本美食季">
								</figure>
								<div class="item-info">
									<em class="classification">線上購物</em>
									<h3 class="topic-title">植村秀母親節預購活動開跑中</h3>
									<p class="desc">琺瑯材質的用品不僅耐熱更不會摔碎，玻璃材質表面不易造成氣味及細菌留存也相當方便清洗。<br>受熱均勻的特質也使它能直接放入烤箱當作烤盤使用</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-dark" style="background: #ecd0bb;">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/04.jpg" alt="新加坡部落客Little miss bento 推薦糖村">
								</figure>
								<div class="item-info">
									<em class="classification">線上購物</em>
									<h3 class="topic-title">Coco香水贈提袋及美妝小物</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮，<br>包含後揹包、晴雨傘、萬用包、U型枕和雙盤組，持HAPPY GO卡即可兌換實用好禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-cut social-cut">
					<div class="main-content">
						<h3 class="cut-title">社群媒體<span class="translation">Social Media</span></h3>
						<ul class="social-wall">
							<li class="list-item double-width"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/01.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/02.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/03.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/04.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/05.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/06.png" alt=""></a></li>
							<li class="list-item double-width"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/07.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/08.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/09.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/10.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/11.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/12.png" alt=""></a></li>
							<li class="item-sizer"></li>
						</ul>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list">
					<li class="list"><a href="../about/about.html" class="b-link b-hide-xs">關於遠東百貨</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">CSR企業社會責任</a></li>
					<li class="list"><a href="../investment/earnings.html" class="b-link b-hide-xs">投資人專區</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">人才招募</a></li>
					<li class="list"><a href="../about/pipp.html" class="b-link b-hide-xs">個資保護條款</a></li>
					<li class="list"><a href="../member/policy.html" class="b-link b-hide-xs">隱私權政策</a></li>
					<li class="list"><a href="../sitemap/index-sitemap.html" class="b-link b-hide-xs">網站地圖</a></li>
					<li class="list"><a href="../about/contact-us.html" class="b-link">聯絡我們</a></li>
					<li class="list"><a href="../about/affiliates.html" class="b-link">相關連結</a></li>
				</ul>
				<small class="copyright">Copyright&copy; 2016 Far Eastern Group All rights reserved.</small>
				<h3 class="footer-logo b-hide-text">遠東零售集團 FAR EASTERN</h3>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js?JS=20160216_01"></script>
<script defer src="../../scripts/plugin/detect-zoom-master/detect-zoom.min.js?JS=20160216_01"></script>
<script defer src="../../scripts/js/index.js?JS=20170120_01"></script>
</html>