<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/index.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body index show-header is-padding-arrow" data-cut="1">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="index.html" class="b-link">
					<img src="../../content/img/index/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="location-selecter b-col-md-6 b-middle">
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="location-list">
								<li class="list title">選擇分店</li>
								<li class="list"><a href="branch.html" class="b-link">寶慶遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">板橋大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">板橋遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">桃園遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">新竹大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台中大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">嘉義遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台南大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">高雄大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">花蓮遠百</a></li>
								<li class="list back"><a href="index.html" class="b-link">返回遠百首頁</a></li>
							</ul>
						</div>
					</div>
					<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
						<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
						<div class="language-list">
							<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
							<button class="btn-lang is-curr">繁中</button>
							<button class="btn-lang">簡中</button>
						</div>
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="visitor-center">
								<li class="list title">Visitor Center</li>
								<li class="list" data-lang="en">EN</li>
								<li class="list" data-lang="jp">JP</li>
								<li class="list" data-lang="cn">CN</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list is-highlight">
						<li class="list">
							<button class="text btn-submenu-xs">最新活動</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">全省活動</a></div>
										<div class="list"><a href="javascript:;" class="b-link">各店活動</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">美食饗宴</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">餐廳推薦</a></div>
										<div class="list"><a href="javascript:;" class="b-link">美食品牌</a></div>
										<div class="list"><a href="javascript:;" class="b-link">電影資訊</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">電子DM</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">寶慶遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">板橋遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">板橋大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">桃園遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">新竹遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">台中大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">嘉義遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">台南大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">高雄大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">花蓮遠百</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">線上購物</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">主題活動</a></div>
										<div class="list"><a href="javascript:;" class="b-link">女士</a></div>
										<div class="list"><a href="javascript:;" class="b-link">男士</a></div>
										<div class="list"><a href="javascript:;" class="b-link">配件</a></div>
										<div class="list"><a href="javascript:;" class="b-link">鞋子</a></div>
										<div class="list"><a href="javascript:;" class="b-link">兒童</a></div>
										<div class="list"><a href="javascript:;" class="b-link">美妝</a></div>
										<div class="list"><a href="javascript:;" class="b-link">食品&酒</a></div>
										<div class="list"><a href="javascript:;" class="b-link">居家寢飾</a></div>
										<div class="list"><a href="javascript:;" class="b-link">家用電器</a></div>
										<div class="list"><a href="javascript:;" class="b-link">伴手禮</a></div>
										<!-- <div class="list"><a href="javascript:;" class="b-link">更多</a></div> -->
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">時尚焦點</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">時尚穿搭</a></div>
										<div class="list"><a href="javascript:;" class="b-link">時尚Blog</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
					</ul>
					<ul class="function-list">
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-search"></i>
								<em class="b-hide-text-dt">搜尋</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-member"></i>
								<em class="b-hide-text-dt">登入/註冊</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-heart"></i>
								<em class="b-hide-text-dt">我的最愛</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func shopping">
								<i class="m-icon m-icon-shopping"></i>
								<em class="b-hide-text-dt">我的購物車</em>
								<span class="count">5</span>
							</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content">
				<div class="m-cut main-cut">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="true" data-loop="true" data-hover-pause="true">
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/index/main/01.jpg" alt="">
							</figure>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=JUtsNRlBHmk&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=TaCdAscgpU0&autoplay=1&loop=0&mute=0&bgplay=1&fullscreen=1&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video b-hide-tm"></div>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
					</div>
					<button class="m-btn-slide jq-slide-down">
						<i class="m-icon m-icon-mouse"></i>
						<em>Scrolling</em>
					</button>
				</div>
				<div class="m-cut">
					<div class="main-content">
						<div class="sub-owl activity-list jQ-owl is-dark" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="true" data-loop="true" data-hover-pause="true">
							<div class="item is-dark" style="background: #ffc93b;">
								<figure class="img-wrap">
									<img src="../../content/img/index/activity/01.jpg" alt="雲朵家族獨家來店禮">
								</figure>
								<div class="item-info">
									<em class="classification">會員活動</em>
									<h3 class="topic-title">雲朵家族獨家來店禮</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
									<i class="arrow"></i>
								</div>
							</div>
							<div class="item is-dark" style="background: #ebc0b0;">
								<figure class="img-wrap">
									<img src="../../content/img/index/activity/02.jpg" alt="全館保養商品5折起">
								</figure>
								<div class="item-info">
									<em class="classification">會員活動</em>
									<h3 class="topic-title">全館保養商品5折起</h3>
									<p class="desc">琺瑯材質的用品不僅耐熱更不會摔碎，玻璃材質表面不易造成氣味及細菌留存也相當方便清洗。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
									<i class="arrow"></i>
								</div>
							</div>
							<!-- <div class="item is-dark" style="background: #ffc93b;">
								<figure class="img-wrap">
									<img src="../../content/img/index/activity/01.jpg" alt="雲朵家族獨家來店禮">
								</figure>
								<div class="item-info">
									<em class="classification">會員活動</em>
									<h3 class="topic-title">雲朵家族獨家來店禮</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
									<i class="arrow"></i>
								</div>
							</div>
							<div class="item is-dark" style="background: #ebc0b0;">
								<figure class="img-wrap">
									<img src="../../content/img/index/activity/02.jpg" alt="全館保養商品5折起">
								</figure>
								<div class="item-info">
									<em class="classification">會員活動</em>
									<h3 class="topic-title">全館保養商品5折起</h3>
									<p class="desc">琺瑯材質的用品不僅耐熱更不會摔碎，玻璃材質表面不易造成氣味及細菌留存也相當方便清洗。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
									<i class="arrow"></i>
								</div>
							</div> -->
						</div>
						<div class="main-owl restaurant-list jQ-owl is-light is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="true" data-loop="true" data-hover-pause="true">
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/restaurant/01.jpg" alt="大戶屋日本美食季">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">大戶屋日本美食季</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮卡<br>全館當日即可兌換實用好禮，獨家開發「萌萌可愛」系列來店禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/restaurant/02.jpg" alt="新加坡部落客Little miss bento 推薦糖村">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">新加坡部落客Little miss bento 推薦糖村</h3>
									<p class="desc">SUGAR & SPICE now sells their delightful souvenirs via their website so no need to trouble <br>any friends to carry these goodies back for you.</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/restaurant/03.jpg" alt="大戶屋日本美食季">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">大戶屋日本美食季</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮卡<br>全館當日即可兌換實用好禮，獨家開發「萌萌可愛」系列來店禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/restaurant/04.jpg" alt="新加坡部落客Little miss bento 推薦糖村">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">非常泰</h3>
									<p class="desc">SUGAR & SPICE now sells their delightful souvenirs via their website so no need to trouble <br>any friends to carry these goodies back for you.</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-cut">
					<div class="main-content">
						<div class="main-owl fashion-list jQ-owl is-light" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="true" data-loop="true" data-hover-pause="true">
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/01.png" alt="既復古又時髦！最強穿搭教學">
								</figure>
								<div class="item-info">
									<em class="classification">流行趨勢</em>
									<h3 class="topic-title">既復古又時髦！最強穿搭教學</h3>
									<p class="desc">也相當方便清洗。受熱均勻的特質也使它能直接放入烤箱當作烤盤使用，<br>但注意琺瑯製品無法微波爐加熱喔。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/02.jpg" alt="新加坡部落客Little miss bento 推薦糖村">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">新加坡部落客Little miss bento 推薦糖村</h3>
									<p class="desc">SUGAR & SPICE now sells their delightful souvenirs via their website so no need to trouble <br>any friends to carry these goodies back for you.</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<!-- <div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/03.jpg" alt="大戶屋日本美食季">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">大戶屋日本美食季</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮卡<br>全館當日即可兌換實用好禮，獨家開發「萌萌可愛」系列來店禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-light">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/04.jpg" alt="新加坡部落客Little miss bento 推薦糖村">
								</figure>
								<div class="item-info">
									<em class="classification">美食饗宴</em>
									<h3 class="topic-title">新加坡部落客Little miss bento 推薦糖村</h3>
									<p class="desc">SUGAR & SPICE now sells their delightful souvenirs via their website so no need to trouble <br>any friends to carry these goodies back for you.</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div> -->
						</div>
						<div class="sub-owl shopping-list jQ-owl is-dark is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="true" data-loop="true" data-hover-pause="true">
							<div class="item is-dark" style="background: #ffc5dd;">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/03.jpg" alt="大戶屋日本美食季">
								</figure>
								<div class="item-info">
									<em class="classification">線上購物</em>
									<h3 class="topic-title">植村秀母親節預購活動開跑中</h3>
									<p class="desc">琺瑯材質的用品不僅耐熱更不會摔碎，玻璃材質表面不易造成氣味及細菌留存也相當方便清洗。<br>受熱均勻的特質也使它能直接放入烤箱當作烤盤使用</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
							<div class="item is-dark" style="background: #ecd0bb;">
								<figure class="img-wrap">
									<img src="../../content/img/index/fashion/04.jpg" alt="新加坡部落客Little miss bento 推薦糖村">
								</figure>
								<div class="item-info">
									<em class="classification">線上購物</em>
									<h3 class="topic-title">Coco香水贈提袋及美妝小物</h3>
									<p class="desc">今年板橋大遠百周慶來店禮與香港插畫品牌「雲朵家族」合作，獨家開發「萌萌可愛」系列來店禮，<br>包含後揹包、晴雨傘、萬用包、U型枕和雙盤組，持HAPPY GO卡即可兌換實用好禮。</p>
									<a href="javascript:;" class="btn-read-more b-link" data-lang="了解更多" data-default="READ MORE">READ MORE</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-cut social-cut">
					<div class="main-content">
						<h3 class="cut-title">社群媒體<span class="translation">Social Media</span></h3>
						<ul class="social-wall">
							<li class="list-item double-width"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/01.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/02.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/03.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/04.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/05.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/06.png" alt=""></a></li>
							<li class="list-item double-width"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/07.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/08.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/09.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/10.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/11.png" alt=""></a></li>
							<li class="list-item"><a href="javascript:;" class="b-link"><img src="../../content/img/index/social/12.png" alt=""></a></li>
							<li class="item-sizer"></li>
						</ul>
					</div>
				</div>
			</div>
			<aside class="l-side">
				<div class="pagination">
					<ul class="cut-dot"></ul>
				</div>
				<div class="function-list">
					<button class="btn-side-menu jQ-side-menu b-hide-text is-active">side menu</button>
					<ul class="collapse-wrap">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-announcement"></i><em class="b-hide-text">即時公告</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-card"></i><em class="b-hide-text">卡友專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-gift"></i><em class="b-hide-text">贈獎專區</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-note"></i><em class="b-hide-text">活動報名</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-service"></i><em class="b-hide-text">智能客服</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-parking"></i><em class="b-hide-text">交通資訊</em></a></a></li>
					</ul>
				</div>
				<button class="btn-top jQ-top">TOP</button>
			</aside>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list">
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">品牌故事</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">CSR企業社會責任</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">投資人專區</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">人才招募</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">隱私權政策</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">網站地圖</a></li>
					<li class="list"><a href="javascript:;" class="b-link">聯絡我們</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">相關連結</a></li>
				</ul>
				<small class="copyright">Copyright&copy; 2016 Far Eastern Group All rights reserved.</small>
				<h3 class="footer-logo b-hide-text">遠東零售集團 FAR EASTERN</h3>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js?JS=20160216_01"></script>
<script defer src="../../scripts/plugin/detect-zoom-master/detect-zoom.min.js?JS=20160216_01"></script>
<script defer src="../../scripts/js/index.js?JS=20170120_01"></script>
</html>