<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/movies.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body movies show-header">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/branch/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="location-selecter b-col-md-6 b-middle">
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="location-list">
								<li class="list title">選擇分店</li>
								<li class="list"><a href="branch.html" class="b-link">寶慶遠百</a></li>
								<li class="list is-selected"><a href="branch.html" class="b-link">板橋大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">板橋遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">桃園遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">新竹大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台中大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">嘉義遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台南大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">高雄大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">花蓮遠百</a></li>
								<li class="list back"><a href="index.html" class="b-link">返回遠百首頁</a></li>
							</ul>
						</div>
					</div>
					<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
						<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
						<div class="language-list">
							<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
							<button class="btn-lang is-curr">繁中</button>
							<button class="btn-lang">簡中</button>
						</div>
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="visitor-center">
								<li class="list title">Visitor Center</li>
								<li class="list" data-lang="en"><a href="javascript:;" class="b-link">EN</a></li>
								<li class="list" data-lang="jp"><a href="javascript:;" class="b-link">JP</a></li>
								<li class="list" data-lang="cn"><a href="javascript:;" class="b-link">CN</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list">
							<button class="text btn-submenu-xs">營業資訊</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">營業時間/路線</a></div>
										<div class="list"><a href="javascript:;" class="b-link">樓層簡介</a></div>
										<div class="list"><a href="javascript:;" class="b-link">停車優惠</a></div>
										<div class="list"><a href="javascript:;" class="b-link">服務設施</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">最新活動</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">全省活動</a></div>
										<div class="list"><a href="javascript:;" class="b-link">各店活動</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs is-curr">美食娛樂</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">美食</a></div>
										<div class="list"><a href="javascript:;" class="b-link is-curr">電影</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">電子DM</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">寶慶遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">板橋遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">板橋大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">桃園遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">新竹遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">台中大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">嘉義遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">台南大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">高雄大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">花蓮遠百</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
					</ul>
					<ul class="menu-list is-highlight">
						<li class="list has-menu">
							<button class="text btn-submenu-xs">線上購物</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">主題活動</a></div>
										<div class="list"><a href="javascript:;" class="b-link">女士</a></div>
										<div class="list"><a href="javascript:;" class="b-link">男士</a></div>
										<div class="list"><a href="javascript:;" class="b-link">配件</a></div>
										<div class="list"><a href="javascript:;" class="b-link">鞋子</a></div>
										<div class="list"><a href="javascript:;" class="b-link">兒童</a></div>
										<div class="list"><a href="javascript:;" class="b-link">美妝</a></div>
										<div class="list"><a href="javascript:;" class="b-link">食品&酒</a></div>
										<div class="list"><a href="javascript:;" class="b-link">居家寢飾</a></div>
										<div class="list"><a href="javascript:;" class="b-link">家用電器</a></div>
										<div class="list"><a href="javascript:;" class="b-link">伴手禮</a></div>
										<!-- <div class="list"><a href="javascript:;" class="b-link">更多</a></div> -->
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">時尚焦點</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">時尚穿搭</a></div>
										<div class="list"><a href="javascript:;" class="b-link">時尚Blog</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
					</ul>
					<ul class="function-list">
						<li class="list">
							<div class="m-box-holder b-hide-dt">
								<i class="m-icon m-icon-search"></i>
								<input type="text" class="m-inputbox" placeholder="輸入關鍵字">
							</div>
							<button class="btn-func">
								<i class="m-icon m-icon-search b-hide-xs"></i>
								<em class="b-hide-text-dt">品牌字首搜尋</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-member b-hide-xs"></i>
								<em class="b-hide-text-dt">我的帳戶</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-heart b-hide-xs"></i>
								<em class="b-hide-text-dt">我的最愛</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func shopping">
								<i class="m-icon m-icon-shopping b-hide-xs"></i>
								<em class="b-hide-text-dt">購物車</em>
								<span class="count">5</span>
							</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">電影</em></a></li>
					</ol>
				</div>
				<div class="kv">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item" data-media="https://www.youtube.com/watch?v=HDoiN6c9oac&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=HDoiN6c9oac" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/movies/kv/01.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=hdCxRmLXWxM&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=hdCxRmLXWxM" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/movies/kv/02.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=OFaLeXUFcuQ&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=OFaLeXUFcuQ" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/movies/kv/03.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
					</div>
				</div>
				<div class="m-cut movie-cut">
					<div class="m-cut-hd b-middle">
						<h2 class="sub-title b-col-md-4 b-col-sm-12">現正熱映</h2>
						<div class="store-selection b-col-md-8 b-col-sm-12 b-text-right-dt b-text-left-xs">
							<em class="func-hint b-block-xs">
								<span class="text">如有場次異動、海報誤植，以威秀影城官網公布為準；所有電影資料皆為威秀影城所有。</span>
							</em>
							<div class="m-box-holder is-selector b-block-xs">
								<select name="" id="" class="m-selection">
									<option value="">選擇分店</option>
									<option value="">遠東百貨</option>
									<option value="">板橋大遠百</option>
								</select>
							</div>
						</div>
					</div>
					<div class="movie-list slide-list jQ-owl is-padding" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/01.png" alt="功夫熊貓 3">
									<figcaption class="desc b-hide-text">功夫熊貓 3</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">功夫熊貓 3</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/02.jpg" alt="星際特工瓦雷諾：千星之城">
									<figcaption class="desc b-hide-text">星際特工瓦雷諾：千星之城</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">星際特工瓦雷諾：千星之城</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/03.png" alt="美女與野獸">
									<figcaption class="desc b-hide-text">美女與野獸</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">美女與野獸</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/04.png" alt="蟻人 2">
									<figcaption class="desc b-hide-text">蟻人 2</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">蟻人 2</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/05.jpg" alt="神力女超人">
									<figcaption class="desc b-hide-text">神力女超人</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">神力女超人</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/06.png" alt="比利林恩的中場戰事">
									<figcaption class="desc b-hide-text">比利林恩的中場戰事</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">比利林恩的中場戰事</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/07.jpg" alt="樂高蝙蝠俠">
									<figcaption class="desc b-hide-text">樂高蝙蝠俠</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">樂高蝙蝠俠</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/08.jpg" alt="金牌特務2">
									<figcaption class="desc b-hide-text">金牌特務2</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">金牌特務2</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="m-cut movie-cut">
					<div class="m-cut-hd">
						<h2 class="sub-title">即將上映</h2>
					</div>
					<div class="movie-list slide-list jQ-owl is-padding" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/09.jpg" alt="一念無明">
									<figcaption class="desc b-hide-text">一念無明</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">一念無明</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/10.jpg" alt="玩命槍火">
									<figcaption class="desc b-hide-text">玩命槍火</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">玩命槍火</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/11.jpg" alt="速食遊戲">
									<figcaption class="desc b-hide-text">速食遊戲</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">速食遊戲</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/12.jpg" alt="寶貝老闆">
									<figcaption class="desc b-hide-text">寶貝老闆</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">寶貝老闆</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/13.jpg" alt="月光下的藍色男孩">
									<figcaption class="desc b-hide-text">月光下的藍色男孩</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">月光下的藍色男孩</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/15.jpg" alt="網路世界的幻想">
									<figcaption class="desc b-hide-text">網路世界的幻想</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">網路世界的幻想</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/14.jpg" alt="美國心風暴">
									<figcaption class="desc b-hide-text">美國心風暴</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">美國心風暴</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>