<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/online-dm.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body online-dm show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="foods-index.html" class="b-link"><em class="text">電子DM</em></a></li>
					</ol>
				</div>
				<div class="m-cut">
					<section class="m-section">
						<header class="m-section-hd">
							<h2 class="page-title">板橋大遠百-線上DM</h2>
							<div class="m-box-holder is-selector">
								<select name="" id="" class="m-selection">
									<option value="">板橋大遠百</option>
									<option value="">板橋遠百</option>
									<option value="">桃園遠百</option>
									<option value="">新竹大遠百</option>
								</select>
							</div>
						</header>
						<div class="m-section-bd">
							<div class="cover-owl-list b-clearfix">
								<div class="dm-list jQ-passive-owl b-float-right-dt" data-items="1" data-ctrl="false" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-rtl="true">
									<div class="item" data-url="online-dm-detail.html">
										<figure class="img-wrap">
											<img src="../../content/img/online-dm/covers/01.jpg" alt="LUXURYZONE 2017/3/1 ~ 2017/5/31">
											<figcaption class="desc b-hide-text">LUXURYZONE 2017/3/1 ~ 2017/5/31</figcaption>
										</figure>
									</div>
									<div class="item" data-url="online-dm-detail.html">
										<figure class="img-wrap">
											<img src="../../content/img/online-dm/covers/02.jpg" alt="ELLE ─ SHINE YOUR STYLE 80S 閃耀復古新風潮">
											<figcaption class="desc b-hide-text">ELLE ─ SHINE YOUR STYLE 80S 閃耀復古新風潮</figcaption>
										</figure>
									</div>
									<div class="item" data-url="online-dm-detail.html">
										<figure class="img-wrap">
											<img src="../../content/img/online-dm/covers/03.jpg" alt="台灣好物">
											<figcaption class="desc b-hide-text">台灣好物</figcaption>
										</figure>
									</div>
									<div class="item" data-url="online-dm-detail.html">
										<figure class="img-wrap">
											<img src="../../content/img/online-dm/covers/04.jpg" alt="新竹大遠百 2017/05/19~2017/05/30">
											<figcaption class="desc b-hide-text">新竹大遠百 2017/05/19~2017/05/30</figcaption>
										</figure>
									</div>
									<div class="item" data-url="online-dm-detail.html">
										<figure class="img-wrap">
											<img src="../../content/img/online-dm/covers/05.jpg" alt="板橋大遠百 2017/05/15~2017/05/25">
											<figcaption class="desc b-hide-text">板橋大遠百 2017/05/15~2017/05/25</figcaption>
										</figure>
									</div>
									<div class="item" data-url="online-dm-detail.html">
										<figure class="img-wrap">
											<img src="../../content/img/online-dm/covers/06.jpg" alt="Happy Mothers Day 即日起至 2017/5/30">
											<figcaption class="desc b-hide-text">Happy Mothers Day 即日起至 2017/5/30</figcaption>
										</figure>
									</div>
								</div>
								<div class="owl-tools b-text-center">
									<button class="btn-owl-controler btn-next jQ-btn-prev b-inline"></button>
									<div class="pages-info b-inline">
										<span class="now-page jQ-now-page"></span>/<span class="total-page jQ-total-page"></span>
									</div>
									<button class="btn-owl-controler btn-prev jQ-btn-next b-inline"></button>
								</div>
							</div>
							<div class="desc-owl-list">
								<div class="desc-list jQ-passive-owl" data-items="1" data-ctrl="false" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-rtl="true">
									<div class="item b-text-center">
										<em class="dm-name b-block">LUXURYZONE</em>
										<span class="active-time b-block"><time datetime="2017/3/1">2017/3/1</time>-<time datetime="2017/5/31">2017/5/31</time></span>
										<a href="javascript:;" class="b-link b-inline b-middle">
											<em class="text">See details</em>
											<i class="m-icon m-icon-long-arrow-right"></i>
										</a>
									</div>
									<div class="item b-text-center">
										<em class="dm-name b-block">ELLE ─ SHINE YOUR STYLE 80S 閃耀復古新風潮</em>
										<span class="active-time b-block"><time datetime="2017/3/24">2017/3/24</time>-<time datetime="2017/4/10">2017/4/10</time></span>
										<a href="javascript:;" class="b-link b-inline b-middle">
											<em class="text">See details</em>
											<i class="m-icon m-icon-long-arrow-right"></i>
										</a>
									</div>
									<div class="item b-text-center">
										<em class="dm-name b-block">台灣好物</em>
										<span class="active-time b-block"><time datetime="2017/3/24">2017/3/24</time>-<time datetime="2017/4/10">2017/4/10</time></span>
										<a href="javascript:;" class="b-link b-inline b-middle">
											<em class="text">See details</em>
											<i class="m-icon m-icon-long-arrow-right"></i>
										</a>
									</div>
									<div class="item b-text-center">
										<em class="dm-name b-block">新竹大遠百</em>
										<span class="active-time b-block"><time datetime="2017/5/19">2017/5/19</time>-<time datetime="2017/5/30">2017/5/30</time></span>
										<a href="javascript:;" class="b-link b-inline b-middle">
											<em class="text">See details</em>
											<i class="m-icon m-icon-long-arrow-right"></i>
										</a>
									</div>
									<div class="item b-text-center">
										<em class="dm-name b-block">板橋大遠百</em>
										<span class="active-time b-block"><time datetime="2017/5/15">2017/5/15</time>-<time datetime="2017/5/25">2017/5/25</time></span>
										<a href="javascript:;" class="b-link b-inline b-middle">
											<em class="text">See details</em>
											<i class="m-icon m-icon-long-arrow-right"></i>
										</a>
									</div>
									<div class="item b-text-center">
										<em class="dm-name b-block">Happy Mothers Day</em>
										<span class="active-time b-block"><time datetime="2017/5/19">即日起</time>-<time datetime="2017/5/30">2017/5/30</time></span>
										<a href="javascript:;" class="b-link b-inline b-middle">
											<em class="text">See details</em>
											<i class="m-icon m-icon-long-arrow-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/online-dm-index.js?JS=20160420_01"></script>
</html>