<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/online-shopping-detail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body online-shopping-detail show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">目前位置</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">線上購物</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">新品上架</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">主題活動</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle is-curr"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">配件</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">鞋子</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">兒童</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">食品&酒</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">居家寢飾</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">家用電器</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">伴手禮</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">更多</em></a></li>
					</ul>
				</div>
				<div class="main-content">
					<div class="merchandise-info b-clearfix">
						<div class="item-detail b-col-dt-6 b-col-xs-6 b-float-right-dt">
							<em class="item-brand">BURBERRY</em>
							<div class="item-desc">
								<h2 class="item-name">羊毛喀什米爾風衣搭配皮草衣領</h2>
								<span class="item-tag">2016 秋冬新品上市</span>
								<span class="item-tag">可用購物金現折 200▼ 再送 2000 購物金</span>
								<span class="item-tag">相當於 2200-使用 200 購物金-再送 2000 購物金</span>
								<ul class="marketing-wording">
									<li class="list">格紋是永遠不敗的經典流行元素</li>
									<li class="list">舒適羊毛讓你穿出好質感</li>
									<li class="list">翻領造型增添時尚感</li>
								</ul>
							</div>
							<div class="gift b-clearfix">
								<h4 class="gift-title">贈品</h4>
								<figure class="img-wrap b-col-dt-6 b-col-xs-12 b-float-left-dt">
									<img src="../../content/img/online-shopping/detail/gift/01.jpg" alt="特潤超導精華乳 5ml">
									<figcaption class="desc">特潤超導精華乳 5ml</figcaption>
								</figure>
								<figure class="img-wrap b-col-dt-6 b-col-xs-12 b-float-left-dt">
									<img src="../../content/img/online-shopping/detail/gift/01.jpg" alt="特潤超導精華乳 5ml">
									<figcaption class="desc">特潤超導精華乳 5ml</figcaption>
								</figure>
							</div>
							<div class="item-price">
								<span class="item-code">商品訂購代碼 5734080</span>
								<span class="original-price">原價 $5,960</span>
								<em class="discount-price">特惠價 $4,100</em>
							</div>
							<div class="item-selection b-col-dt-12 b-col-xs-12">
								<div class="m-box-holder is-selector b-col-dt-4 b-col-xs-12">
									<select name="color" id="" class="m-selection">
										<option value="">顏色</option>
									</select>
								</div>
								<div class="m-box-holder is-selector b-col-dt-4 b-col-xs-12">
									<select name="style" id="" class="m-selection">
										<option value="">樣式</option>
									</select>
								</div>
								<div class="counter b-col-dt-4 b-col-xs-12">
									<button class="btn-count jQ-calc" data-calc="minus">-</button>
									<div class="m-box-holder">
										<input type="text" class="m-inputbox" value="1">
									</div>
									<button class="btn-count jQ-calc" data-calc="plus">+</button>
								</div>
							</div>
							<div class="btn-wrap b-clearfix">
								<button class="btn-link btn-cancel b-col-dt-6 b-col-xs-12 b-float-left-dt"><i class="m-icon m-icon-heart-2"></i><em class="text">加入我的最愛</em></button>
								<button class="btn-link btn-main b-col-dt-6 b-col-xs-12 b-float-left-dt"><i class="m-icon m-icon-shopping"></i><em class="text">放入購物車</em></button>
							</div>
						</div>
						<div class="photo-album b-col-dt-6 b-col-xs-6 b-float-right-dt">
							<div class="photo-hd jQ-owl" data-items="1" data-ctrl="false" data-dots="false" data-mouse-drag="false" data-touch-drag="false" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/01.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/02.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/03.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/04.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/05.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/06.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/07.jpg" alt=""></figure>
								</div>
							</div>
							<div class="photo-slider jQ-owl" data-items="5" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/01.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/02.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/03.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/04.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/05.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/06.jpg" alt=""></figure>
								</div>
								<div class="list">
									<figure class="img-wrap"><img src="../../content/img/online-shopping/detail/item/07.jpg" alt=""></figure>
								</div>
							</div>
						</div>
					</div>
					<div class="m-tab main-tab">
						<ul class="m-tab-wrap">
							<li class="tab-list">
								<button class="btn-tab jQ-tab is-curr" data-main="0"><em class="text">商品說明及注意事項</em></button>
							</li>
							<li class="tab-list">
								<button class="btn-tab jQ-tab" data-main="0"><em class="text">尺寸表</em></button>
							</li>
							<li class="tab-list">
								<button class="btn-tab jQ-tab" data-main="0"><em class="text">購物須知</em></button>
							</li>
						</ul>
						<ul class="m-tab-content">
							<li class="content-list is-curr">
								<div class="editor-area b-normalize">
									<p style="font-size: 13px; line-height: 1.8em; text-align: center;">經典束帶風衣，採標誌性 Sandringham 修身剪裁，並搭配軍裝細節設計。<br>臻選義大利精紡羊毛及喀什米爾混紡精製而成，增添卓越保暖性。搭配可拆式狐狸毛衣領，彰顯風衣柔順觸感。<br><br></p>
									<img src="../../content/img/online-shopping/detail/item/00.jpg" alt="">
									<p style="font-size: 13px; line-height: 1.8em;"><br>風衣長度：<br>模特兒身高：<br>外層：<br>100% 芬蘭畜養純正藍狐狸毛 (學名： Vulpes lagopus)<br>領底：<br>襯裡：<br>雙排釦開襟<br>正面明扣口袋<br>標誌性設計包括：<br>乾洗<br>物品 40209621</p>
								</div>
							</li>
							<li class="content-list">
							</li>
							<li class="content-list">
							</li>
						</ul>
					</div>
					<div class="ranking-wrap hot-ranking">
						<h4 class="ranking-title">熱銷排行</h4>
						<div class="shopping-list jQ-owl" data-items="4" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
						</div>
					</div>
					<div class="ranking-wrap recommend-list">
						<h4 class="ranking-title">商品推薦</h4>
						<div class="shopping-list jQ-owl" data-items="4" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!-- <script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<script defer src="../../scripts/js/online-shopping.js?JS=20160420_01"></script> -->
</html>