<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/online-shopping-detail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body online-shopping-detail show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">目前位置</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">線上購物</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">新品上架</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">主題活動</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle is-curr"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">配件</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">鞋子</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">兒童</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">食品&酒</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">居家寢飾</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">家用電器</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">伴手禮</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">更多</em></a></li>
					</ul>
				</div>
				<div class="main-content">
					<div class="m-tab main-tab">
						<ul class="m-tab-wrap">
							<li class="tab-list">
								<button class="btn-tab jQ-tab is-curr" data-main="0"><em class="text">商品說明及注意事項</em></button>
							</li>
							<li class="tab-list">
								<button class="btn-tab jQ-tab" data-main="0"><em class="text">尺寸表</em></button>
							</li>
							<li class="tab-list">
								<button class="btn-tab jQ-tab" data-main="0"><em class="text">購物須知</em></button>
							</li>
						</ul>
						<ul class="m-tab-content">
							<li class="content-list is-curr">
							</li>
							<li class="content-list">
							</li>
							<li class="content-list">
							</li>
						</ul>
					</div>
					<div class="ranking-wrap hot-ranking">
						<h4 class="ranking-title">熱銷排行</h4>
						<div class="shopping-list jQ-owl" data-items="4" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
						</div>
					</div>
					<div class="ranking-wrap recommend-list">
						<h4 class="ranking-title">商品推薦</h4>
						<div class="shopping-list jQ-owl" data-items="4" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<!-- <script defer src="../../scripts/js/online-shopping.js?JS=20160420_01"></script> -->
</html>