<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/online-shopping-list.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body online-shopping-list show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">目前位置</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">線上購物</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">新品上架</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">主題活動</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle is-curr"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">配件</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">鞋子</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">兒童</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">食品&酒</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">居家寢飾</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">家用電器</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">伴手禮</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">更多</em></a></li>
					</ul>
				</div>
				<div class="kv">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/branch/kv/01.png" alt="全館沐浴品 50% OFF">
								<figcaption class="desc b-hide-text">全館沐浴品 50% OFF</figcaption>
							</figure>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=TaCdAscgpU0&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
					</div>
				</div>
				<div class="m-tab main-tab">
					<ul class="m-tab-wrap">
						<li class="tab-list">
							<button class="btn-tab jQ-tab is-curr" data-main="0"><i class="m-icon m-icon-business-hour"></i><em class="text">看所有品牌</em></button>
						</li>
						<li class="tab-list">
							<button class="btn-tab jQ-tab" data-main="0"><i class="m-icon m-icon-guide"></i><em class="text">新品上架</em></button>
						</li>
						<li class="tab-list">
							<button class="btn-tab jQ-tab" data-main="0"><i class="m-icon m-icon-service-2"></i><em class="text">熱銷排行</em></button>
						</li>
					</ul>
					<ul class="m-tab-content">
						<li class="content-list is-curr">
							<div class="brand-store">
								<figure class="img-wrap">
									<img src="" alt="BURBERRY">
									<figcaption class="desc b-hide-text">BURBERRY</figcaption>
								</figure>
								<div class="brand-info">
									<em class="brand-name"><span class="name">BURBERRY</span> 銷售分點</em>
									<ul class="store-list">
										<li class="list"><em class="text">寶慶遠百1F</em><a href="javascript:;" class="b-link">(02)8964-8402</a></li>
										<li class="list"><em class="text">新竹遠百1F</em><a href="javascript:;" class="b-link">(02)8964-8402</a></li>
										<li class="list"><em class="text">台南大遠百1F</em><a href="javascript:;" class="b-link">(02)8964-8402</a></li>
										<li class="list"><em class="text">板橋遠百1F</em><a href="javascript:;" class="b-link">(02)8964-8402</a></li>
										<li class="list"><em class="text">台中大遠百1F</em><a href="javascript:;" class="b-link">(02)8964-8402</a></li>
										<li class="list"><em class="text">高雄大遠百1F</em><a href="javascript:;" class="b-link">(02)8964-8402</a></li>
										<li class="list"><em class="text">板橋大遠百1F</em><a href="javascript:;" class="b-link">(02)8964-8402</a></li>
										<li class="list"><em class="text">嘉義遠百1F</em><a href="javascript:;" class="b-link">(02)8964-8402</a></li>
										<li class="list"><em class="text">花蓮遠百1F</em><a href="javascript:;" class="b-link">(02)8964-8402</a></li>
									</ul>
								</div>
							</div>
							<div class="sort-selection">
								<em class="func-hint">
									<i class="m-icon m-icon-sort"></i>
									<span class="text">排序</span>
								</em>
								<div class="m-box-holder is-selector">
									<select name="" id="" class="m-selection">
										<option value="">價格低至高</option>
										<option value="">價格高至低</option>
										<option value="">日期新到舊</option>
										<option value="">日期舊到新</option>
									</select>
								</div>
							</div>
							<ul class="shopping-list">
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="javascript:;" class="shopping-link">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
									</a>
									<button class="btn-read-more b-link" data-lang="加入購物車" data-default="+ ADD TO CART">+ ADD TO CART</button>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
							</ul>
							<a href="javascript:;" class="btn-more b-link">MORE</a>
						</li>
						<li class="content-list">
						</li>
						<li class="content-list">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<script defer src="../../scripts/js/online-shopping.js?JS=20160420_01"></script>
</html>