<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/oversea-index.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body oversea-index show-header">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/branch/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="language-selecter b-text-right-dt b-text-left-xs">
						<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
						<div class="language-list">
							<button class="btn-lang">简体中文</button>
							<button class="btn-lang is-curr">English</button>
							<button class="btn-lang">日本語</button>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list has-menu">
							<button class="text btn-submenu-xs is-curr">Taipei</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">PaoChing Branch</a></div>
										<div class="list"><a href="javascript:;" class="b-link">BanQiao Store</a></div>
										<div class="list"><a href="javascript:;" class="b-link is-curr">Mega City BanQiao Store</a></div>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Taoyuan</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Hsinchu</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Taichung</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Chiayi</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Tainan</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Kaohsiung</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Hualien</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="kv">
					<div class="kv-owl jQ-owl" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/oversea-share/kv/01.png" alt="">
								<figcaption class="desc b-hide-text">聖誕禮讚 12/09 ~ 12/22</figcaption>
							</figure>
						</div>
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/oversea-share/kv/01.png" alt="">
								<figcaption class="desc b-hide-text">聖誕禮讚 12/09 ~ 12/22</figcaption>
							</figure>
						</div>
					</div>
				</div>
				<div class="m-tab main-tab">
					<ul class="m-tab-wrap">
						<li class="tab-list">
							<button class="btn-tab is-curr jQ-tab">
								<figure class="img-wrap">
									<img src="../../content/img/oversea-share/tab/01.jpg" alt="STORE INFO">
									<i class="m-icon m-icon-triangle"></i>
									<figcaption class="text">STORE INFO</figcaption>
								</figure>
							</button>
						</li>
						<li class="tab-list">
							<button class="btn-tab jQ-tab">
								<figure class="img-wrap">
									<img src="../../content/img/oversea-share/tab/02.jpg" alt="SHOPPING GUIDE">
									<i class="m-icon m-icon-triangle"></i>
									<figcaption class="text">SHOPPING GUIDE</figcaption>
								</figure>
							</button>
						</li>
						<li class="tab-list">
							<button class="btn-tab jQ-tab">
								<figure class="img-wrap">
									<img src="../../content/img/oversea-share/tab/03.jpg" alt="BRANCH SEARCH">
									<i class="m-icon m-icon-triangle"></i>
									<figcaption class="text">BRAND SEARCH</figcaption>
								</figure>
							</button>
						</li>
					</ul>
					<ul class="m-tab-content">
						<li class="content-list is-curr">
							<div class="m-cut set-flex b-clearfix">
								<div class="m-cut-header">
									<h2 class="cut-title">
										<span class="main-lang"><em class="highlight">Opening hours and Access</em></span>
										<span class="sub-lang">營業時間和路線</span>
									</h2>
								</div>
								<div class="b-col-dt-12">
									<ul class="info-list b-col-dt-6 b-col-xs-12 b-float-left-dt">
										<li class="list"><i class="m-icon m-icon-time-o"></i><em class="text">Monday - Sunday Open from 11:00 am - 22:00 pm</em></li>
										<li class="list"><i class="m-icon m-icon-phone"></i><em class="text"><a href="tel:0809081968" class="tel-link">0809-081-968</a> / <a href="tel:0277054168" class="tel-link">02-77054168</a></em></li>
										<li class="list"><i class="m-icon m-icon-pin"></i><em class="text">No.28, Xinzhan Rd., Banqiao Dist., New Taipei City, Taiwan, R.O.C.</em></li>
									</ul>
									<ul class="info-link-list icon-list b-col-dt-6 b-col-xs-12 b-float-left-dt">
										<li class="list">
											<a href="oversea-detail.html#traffic" class="b-link">
												<span class="ani-mask"><i class="m-icon m-icon-bus"></i></span>
												<em class="text">Traffic</em>
											</a>
										</li>
										<li class="list">
											<a href="oversea-detail.html#parking" class="b-link">
												<span class="ani-mask"><i class="m-icon m-icon-taxi"></i></span>
												<em class="text">Parking</em>
											</a>
										</li>
										<li class="list">
											<a href="javascript:;" class="b-link">
												<span class="ani-mask"><i class="m-icon m-icon-facebook-2"></i></span>
												<em class="text">Facebook</em>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-cut has-bg b-clearfix">
								<h2 class="cut-title">
									<span class="main-lang"><em class="highlight">Floor Guide</em></span>
									<span class="sub-lang">樓層指南</span>
								</h2>
								<p class="desc">Locate at new taipei city Banqiao railways station ,<br>Mega City Banqiao store offer you brand new shopping experience</p>
								<div class="btn-wrap">
									<a href="oversea-detail.html#floor-guide" class="btn-more btn-radius b-link">See More</a>
								</div>
								<figure class="bg-wrap">
									<img src="../../content/img/oversea-index/bg/01.jpg" alt="Floor Guide">
								</figure>
							</div>
							<div class="m-cut b-clearfix">
								<h2 class="cut-title">
									<span class="main-lang"><em class="highlight">International Tourist Service</em></span>
									<span class="sub-lang">服務設施</span>
								</h2>
								<p class="desc">Locate at new taipei city Banqiao railways station ,<br>Mega City Banqiao store offer you brand new shopping experinece</p>
								<div class="btn-wrap">
									<a href="oversea-detail.html#international-tourist-service" class="btn-more btn-radius b-link">See More</a>
								</div>
							</div>
						</li>
						<li class="content-list">
							<div class="m-cut b-clearfix">
								<h2 class="cut-title">
									<span class="main-lang"><em class="highlight">Tax Refund Services</em></span>
									<span class="sub-lang">退稅/兌換/結算服務</span>
								</h2>
								<p class="desc">International passenger service  11F<br>Customers who are not a ROC resident could have their tax refunds. <br>When they spend over 3000 NTD shopping in our store.</p>
								<ul class="service-link-list icon-list">
									<li class="list">
										<a href="oversea-detail.html#tax-refund" class="b-link">
											<span class="ani-mask"><i class="m-icon m-icon-tax"></i></span>
											<em class="text">Tax Refund</em>
										</a>
									</li>
									<li class="list">
										<a href="oversea-detail.html#currency-exchang" class="b-link">
											<span class="ani-mask"><i class="m-icon m-icon-currency"></i></span>
											<em class="text">Foreign Currency Exchang</em>
										</a>
									</li>
									<li class="list">
										<a href="oversea-detail.html#storage-lockers" class="b-link">
											<span class="ani-mask"><i class="m-icon m-icon-lockers"></i></span>
											<em class="text">Storage Lockers</em>
										</a>
									</li>
								</ul>
							</div>
							<div class="m-cut has-bg b-clearfix">
								<h2 class="cut-title">
									<span class="main-lang"><em class="highlight">Tourist Guide</em></span>
									<span class="sub-lang">玩樂地圖</span>
								</h2>
								<p class="desc">Locate at new taipei city Banqiao railways station ,<br>Mega City Banqiao store offer you happy tour.</p>
								<div class="btn-wrap">
									<a href="oversea-detail.html#tourist-guide" class="btn-more btn-radius b-link">See More</a>
								</div>
								<figure class="bg-wrap">
									<img src="../../content/img/oversea-index/bg/02.jpg" alt="Tourist Guide">
								</figure>
							</div>
							<div class="m-cut b-clearfix">
								<h2 class="cut-title">
									<span class="main-lang"><em class="highlight">Souvenir</em></span>
									<span class="sub-lang">伴手禮</span>
								</h2>
								<p class="desc">Locate at new taipei city Banqiao railways station <br>Mega City Banqiao store<br> offer you variety brand and comfortable enviroment.</p>
								<div class="btn-wrap">
									<a href="oversea-detail.html#souvenir" class="btn-more btn-radius b-link">See More</a>
								</div>
							</div>
						</li>
						<li class="content-list">
							<div class="m-tab sub-tab">
								<ul class="m-tab-wrap">
									<li class="tab-list">
										<button class="btn-tab is-curr jQ-tab"><em class="text">Brand Search</em></button>
									</li>
									<li class="tab-list">
										<button class="btn-tab jQ-tab"><em class="text">Prefix word Search</em></button>
									</li>
								</ul>
								<ul class="m-tab-content">
									<li class="content-list is-curr">
										<ul class="form-list b-col-dt-12 b-clearfix">
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Select a CIty</option>
													</select>
												</div>
											</li>
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Select a Store</option>
													</select>
												</div>
											</li>
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Select floor</option>
													</select>
												</div>
											</li>
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Please select main product type</option>
													</select>
												</div>
											</li>
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Please select secondary product type</option>
													</select>
												</div>
											</li>
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Please select brand keyword</option>
													</select>
												</div>
											</li>
										</ul>
										<div class="btn-wrap">
											<a href="javascript:;" class="btn-search btn-radius b-link jQ-search">Search</a>
										</div>
									</li>
									<li class="content-list">
										<ul class="keyword-list">
											<li class="list"><button class="btn-keyword jQ-keyword">123</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">A</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">B</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">C</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">D</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">E</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">F</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">G</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">H</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">I</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">J</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">K</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">L</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">M</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">N</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">O</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">P</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">Q</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">R</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">S</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">T</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">U</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">V</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">W</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">X</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">Y</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">Z</button></li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="result-content">
								<h2 class="content-title">
									<span class="main-sentence">Search Results</span>
									<span class="sub-sentence">A total of <b class="count">124</b> results were found</span>
								</h2>
								<ul class="result-list">
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/01.jpg" alt="SHISEIDO 資生堂東京櫃">
											<figcaption class="desc b-hide-text">SHISEIDO 資生堂東京櫃</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">SHISEIDO 資生堂東京櫃</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/02.jpg" alt="SHU UEMURA 植村秀">
											<figcaption class="desc b-hide-text">SHU UEMURA 植村秀</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">SHU UEMURA 植村秀</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/03.jpg" alt="Salvatore Ferragamo">
											<figcaption class="desc b-hide-text">Salvatore Ferragamo</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">Salvatore Ferragamo</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/02.jpg" alt="SHU UEMURA 植村秀">
											<figcaption class="desc b-hide-text">SHU UEMURA 植村秀</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">SHU UEMURA 植村秀</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/01.jpg" alt="SHISEIDO 資生堂東京櫃">
											<figcaption class="desc b-hide-text">SHISEIDO 資生堂東京櫃</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">SHISEIDO 資生堂東京櫃</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/03.jpg" alt="Salvatore Ferragamo">
											<figcaption class="desc b-hide-text">Salvatore Ferragamo</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">Salvatore Ferragamo</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="item-sizer"></li>
									<li class="item-gutter"></li>
								</ul>
								<div class="m-pagination">
									<ul class="m-pagination-bd">
										<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-first"></a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-back"></a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button is-active">1</a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button">2</a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button">3</a></li>
										<li class="page-ctrl"><span class="text">...</span></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button">14</a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-next"></a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-last"></a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<script defer src="../../scripts/js/oversea-share.js?JS=20160420_01"></script>
</html>