<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
	<title>遠東百貨</title>
	<link rel="stylesheet" href="../../scripts/plugin/owl.carousel/owl.carousel.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/style.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/oversea.css?CSS=20160420_01">
	<link rel="shortcut icon" type="image/x-icon" href="../../content/img/shared/favicon.ico">
</head>
<body>
	<div class="l-body oversea show-header">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/branch/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="language-selecter b-text-right-dt b-text-left-xs">
						<div class="language-list">
							<button class="btn-lang">简体中文</button>
							<button class="btn-lang is-curr">English</button>
							<button class="btn-lang">日本語</button>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list has-menu">
							<button class="text btn-submenu-xs">Taipei</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">PaoChing Branch</a></div>
										<div class="list"><a href="javascript:;" class="b-link">BanQiao Store</a></div>
										<div class="list"><a href="javascript:;" class="b-link">Mega City BanQiao Store</a></div>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Taoyuan</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Hsinchu</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Taichung</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Chiayi</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Tainan</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Kaohsiung</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Hualien</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="kv">
					<div class="kv-owl jQ-owl" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/oversea/kv/01.png" alt="">
								<figcaption class="desc b-hide-text">聖誕禮讚 12/09 ~ 12/22</figcaption>
							</figure>
						</div>
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/oversea/kv/01.png" alt="">
								<figcaption class="desc b-hide-text">聖誕禮讚 12/09 ~ 12/22</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list">
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">品牌故事</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">CSR企業社會責任</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">投資人專區</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">人才招募</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">隱私權政策</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">網站地圖</a></li>
					<li class="list"><a href="javascript:;" class="b-link">聯絡我們</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">相關連結</a></li>
				</ul>
				<small class="copyright b-text-center-dt">Copyright&copy; 2016 Far Eastern Group All rights reserved.</small>
				<a href="javascript:;" class="social-link instagram b-hide-xs">
					<i class="m-icon m-icon-instagram"></i>
					<em class="text b-hide-text">Instagram</em>
				</a>
				<a href="javascript:;" class="social-link facebook b-hide-xs">
					<i class="m-icon m-icon-facebook"></i>
					<em class="text b-hide-text">Facebook</em>
				</a>
				<h3 class="footer-logo b-hide-text b-hide-xs">遠東零售集團 FAR EASTERN</h3>
			</div>
		</footer>
	</div>
	<div class="l-not-support">
		<div class="m-not-support b-text-center">
			<div class="m-not-support-content">
				<div class="m-not-support-hd">
					<p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
					<p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
				</div>
				<div class="m-not-support-bd">
					<ul>
						<li>
							<a href="https://www.google.com.tw/chrome/browser/desktop/">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
								</span>
								<p class="m-not-support-desc">Google Chrome</p>
							</a>
						</li>
						<li>
							<a href="https://www.mozilla.org/zh-TW/firefox/new/">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
								</span>
								<p class="m-not-support-desc">Mozilla Firefox</p>
							</a>
						</li>
						<li>
							<a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
								</span>
								<p class="m-not-support-desc">Internet Explorer</p>
							</a>
						</li>
						<li>
							<a href="https://support.apple.com/zh_TW/downloads/safari">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/safari.png?img=20160511_01" alt="Safari">
								</span>
								<p class="m-not-support-desc">Safari</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="m-not-support-ft">
					<div class="m-not-support-copyright">
						<p class="m-not-support-info"><em>© Copyright 2017 FEDS All rights reserved.</em></p>
						<p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!--[if IE 9]><script src="../../scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script><![endif]-->
<!--[if gt IE 9]><!--> <script defer src="../../scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script> <!--<![endif]-->
<script defer src="../../scripts/plugin/owl.carousel/owl.carousel.min.js?JS=20160216_01"></script>
<script defer src="../../scripts/js/factory.js?JS=20160420_01"></script>
<script defer src="../../scripts/js/common.js?JS=20160420_01"></script>
</html>