<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
	<title>遠東百貨</title>
	<link rel="stylesheet" href="../../scripts/plugin/owl.carousel/owl.carousel.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/style.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/oversea-detail.css?CSS=20160420_01">
	<link rel="shortcut icon" type="image/x-icon" href="../../content/img/shared/favicon.ico">
</head>
<body>
	<div class="l-body oversea-detail show-header">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/branch/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="language-selecter b-text-right-dt b-text-left-xs">
						<div class="language-list">
							<button class="btn-lang">简体中文</button>
							<button class="btn-lang is-curr">English</button>
							<button class="btn-lang">日本語</button>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list has-menu">
							<button class="text btn-submenu-xs">Taipei</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">PaoChing Branch</a></div>
										<div class="list"><a href="javascript:;" class="b-link">BanQiao Store</a></div>
										<div class="list"><a href="javascript:;" class="b-link">Mega City BanQiao Store</a></div>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Taoyuan</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Hsinchu</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Taichung</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Chiayi</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Tainan</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Kaohsiung</button>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">Hualien</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="kv">
					<div class="kv-owl jQ-owl" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/oversea-share/kv/01.png" alt="">
								<figcaption class="desc b-hide-text">聖誕禮讚 12/09 ~ 12/22</figcaption>
							</figure>
						</div>
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/oversea-share/kv/01.png" alt="">
								<figcaption class="desc b-hide-text">聖誕禮讚 12/09 ~ 12/22</figcaption>
							</figure>
						</div>
					</div>
				</div>
				<div class="m-tab main-tab">
					<ul class="m-tab-wrap">
						<li class="tab-list">
							<button class="btn-tab jQ-tab">
								<figure class="img-wrap">
									<img src="../../content/img/oversea-share/tab/01.jpg" alt="STORE INFO">
									<i class="m-icon m-icon-triangle"></i>
									<figcaption class="text">STORE INFO</figcaption>
								</figure>
							</button>
						</li>
						<li class="tab-list">
							<button class="btn-tab jQ-tab">
								<figure class="img-wrap">
									<img src="../../content/img/oversea-share/tab/02.jpg" alt="SHOPPING GUIDE">
									<i class="m-icon m-icon-triangle"></i>
									<figcaption class="text">SHOPPING GUIDE</figcaption>
								</figure>
							</button>
						</li>
						<li class="tab-list">
							<button class="btn-tab is-curr jQ-tab">
								<figure class="img-wrap">
									<img src="../../content/img/oversea-share/tab/03.jpg" alt="BRANCH SEARCH">
									<i class="m-icon m-icon-triangle"></i>
									<figcaption class="text">BRAND SEARCH</figcaption>
								</figure>
							</button>
						</li>
					</ul>
					<ul class="m-tab-content">
						<li class="content-list">
							<div class="m-cut b-clearfix">
								<div class="m-tab sub-tab">
									<ul class="m-tab-wrap">
										<li class="tab-list">
											<button class="btn-tab is-curr jQ-tab"><i class="m-icon m-icon-business-hour"></i><em class="text">Opening hours and Access</em></button>
										</li>
										<li class="tab-list">
											<button class="btn-tab jQ-tab"><i class="m-icon m-icon-guide"></i><em class="text">Floor Guide</em></button>
										</li>
										<li class="tab-list">
											<button class="btn-tab jQ-tab"><i class="m-icon m-icon-service-2"></i><em class="text">International Tourist  Service</em></button>
										</li>
									</ul>
									<ul class="m-tab-content">
										<li class="content-list is-curr">
											<div class="m-tab inner-tab">
												<ul class="m-tab-wrap">
													<li class="tab-list">
														<button class="btn-tab jQ-tab"><em class="text">Traffic</em></button>
													</li>
													<li class="tab-list">
														<button class="btn-tab is-curr jQ-tab"><em class="text">Parking fee discount</em></button>
													</li>
												</ul>
												<ul class="m-tab-content">
													<li class="content-list">
														<div class="google-map-box">
															<iframe class="map-frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.606400996933!2d121.46468451498562!3d25.013486983981934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a818c287c9c5%3A0x4a7e076d4631b0af!2zMjIw5paw5YyX5biC5p2_5qmL5Y2A5paw56uZ6LevMjjomZ8!5e0!3m2!1szh-TW!2stw!4v1486621481796"  frameborder="0" style="border:0" allowfullscreen></iframe>
															<div class="main-info">
																<figure class="img-wrap">
																	<img src="../../content/img/oversea-detail/store/01.jpg" alt="Mega City">
																	<figcaption class="desc b-hide-text">Mega City</figcaption>
																</figure>
																<div class="info-box">
																	<div class="m-accordion">
																		<div class="m-accordion-hd">
																			<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Address</button></h3>
																		</div>
																		<div class="m-accordion-bd">
																			<p class="desc">No.28, Xinzhan Rd., Banqiao Dist., New Taipei City, Taiwan, R.O.C</p>
																		</div>
																	</div>
																	<div class="m-accordion">
																		<div class="m-accordion-hd">
																			<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Transport</button></h3>
																		</div>
																		<div class="m-accordion-bd">
																			<p class="desc"><em class="b-highlight">By MRT</em>Take MRT Bannan Line (blue line) to Banqiao Station and exit at #2, walk straight for about 5 minutes to FEDS.</p>
																			<p class="desc"><em class="b-highlight">By Bus</em>234. 245正 main . 265紅 red. 667. 705. 810. 813. 926. 1032</p>
																			<p class="desc"><em class="b-highlight">By High Speed Railway/Train</em>Take high speed railway/train to Banqiao Station, walk to west gate on 1F toward Bank of Panhsin and walk about 5 minutes to FEDS</p>
																			<!-- <p class="desc"><em class="b-highlight">By MRT</em>Take MRT Bannan Line (blue line) to Banqiao Station and exit at #2, walk straight for about 5 minutes to FEDS.</p>
																			<p class="desc"><em class="b-highlight">By Bus</em>234. 245正 main . 265紅 red. 667. 705. 810. 813. 926. 1032</p>
																			<p class="desc"><em class="b-highlight">By High Speed Railway/Train</em>Take high speed railway/train to Banqiao Station, walk to west gate on 1F toward Bank of Panhsin and walk about 5 minutes to FEDS</p> -->
																		</div>
																	</div>
																	<div class="m-accordion">
																		<div class="m-accordion-hd">
																			<h3 class="accordion-title"><button class="btn-switch jQ-btn-accordion">Park</button></h3>
																		</div>
																		<div class="m-accordion-bd">
																			<p class="desc">這要放什麼？</p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="other-info">
															<div class="info-box">
																<h3 class="info-title">Shuttle Hours</h3>
																<ul class="info-list">
																	<li class="list"><i class="m-icon m-icon-bus-2"></i><em class="text">Sunday~Thursday<br>13:00~21:00</em></li>
																	<li class="list"><i class="m-icon m-icon-bus-2"></i><em class="text">Friday~Saturday<br>13:00~22:00</em></li>
																</ul>
															</div>
															<figure class="img-wrap">
																<img src="../../content/img/oversea-detail/map/01.jpg" alt="Shuttle Map">
																<figcaption class="desc b-hide-text">Shuttle Map</figcaption>
															</figure>
														</div>
													</li>
													<li class="content-list is-curr">
														<ul class="parking-info-list">
															<li class="list">
																<h3 class="info-title">B2F Parking lot</h3>
																<div class="info-content">
																	<em class="introduction">
																		<i class="m-icon m-icon-parking-2"></i>
																		<span class="text">Free parking hour from your purchase</span>
																	</em>
																	<p class="desc">With every 500 NTD you spend at our store , you could receive half on hour free discount at the same day of your purchase. (Discount could be added up to 3 hours the most).</p>
																	<p class="desc">Where to convert your discount : 1F Service Counter , 8F Customer Service Center or 1F Information Counter.</p>
																</div>
															</li>
															<li class="list">
																<h3 class="info-title">Zhong-Shan Hall Parking lot</h3>
																<div class="info-content">
																	<em class="introduction">
																		<i class="m-icon m-icon-parking-2"></i>
																		<span class="text">Free parking hour from your purchase</span>
																	</em>
																	<p class="desc">With every 500 NTD you spend at our store , you could receive half on hour free discount at the same day of your purchase. (Discount could be added up to 3 hours the most).</p>
																	<p class="desc">Where to convert your discount : 1F Service Counter , 8F Customer Service Center or 1F Information Counter.</p>
																</div>
															</li>
														</ul>
													</li>
												</ul>
											</div>
										</li>
										<li class="content-list">
											<ul class="guide-list">
												<li class="floor-list">
													<div class="floor-info">
														<h3 class="classic-title">
															<em class="main-desc">Sports & Jeans/Home Appliances</em>
															<em class="sub-desc">運動休閒/家電館</em>
														</h3>
														<span class="desc">Sports/Jeans/Home Appliances/Swimsuits/Casuals/Service Counter(Tax Refund)/Promotion and SALES Counter</span>
														<span class="desc">運動休閒/牛仔服飾/家電/泳裝/中性休閒/客服中心(退稅服務)/活動中心</span>
														<ul class="icon-list">
															<li class="list"><i class="m-icon m-icon-toilet"></i><em class="text b-hide-text">toilet</em></li>
															<li class="list"><i class="m-icon m-icon-gift"></i><em class="text b-hide-text">gift</em></li>
															<li class="list"><i class="m-icon m-icon-elevator"></i><em class="text b-hide-text">elevator</em></li>
															<li class="list"><i class="m-icon m-icon-escalator"></i><em class="text b-hide-text">escalator</em></li>
															<li class="list"><i class="m-icon m-icon-info"></i><em class="text b-hide-text">info</em></li>
														</ul>
													</div>
													<em class="floor-count">8F</em>
												</li>
												<li class="floor-list">
													<div class="floor-info">
														<h3 class="classic-title">
															<em class="main-desc">Gentlemen's Wear</em>
															<em class="sub-desc">優質男仕館</em>
														</h3>
														<span class="desc">Men's Suits/Shirts/Men's Accessories/Outdoor Accessories/Men's Shoes</span>
														<span class="desc">進口西服/襯衫/男仕用品/戶外用品/休閒男裝/男鞋</span>
														<ul class="icon-list">
															<li class="list"><i class="m-icon m-icon-toilet"></i><em class="text b-hide-text">toilet</em></li>
															<li class="list"><i class="m-icon m-icon-accessibility"></i><em class="text b-hide-text">accessibility</em></li>
															<li class="list"><i class="m-icon m-icon-elevator"></i><em class="text b-hide-text">elevator</em></li>
															<li class="list"><i class="m-icon m-icon-escalator"></i><em class="text b-hide-text">escalator</em></li>
														</ul>
													</div>
													<em class="floor-count">7F</em>
												</li>
												<li class="floor-list">
													<div class="floor-info">
														<h3 class="classic-title">
															<em class="main-desc">Living & Leisure/Lingerie & Pajamas</em>
															<em class="sub-desc">精緻家居/內衣館</em>
														</h3>
														<span class="desc">Lingerie & Pajamas/Bedding Accessories/Aromatherapy/Porcelain Ware/Cooking Pot</span>
														<span class="desc">內睡衣/寢具家飾/芳香精油/瓷器禮品/鍋具/家用品</span>
														<ul class="icon-list">
															<li class="list"><i class="m-icon m-icon-toilet"></i><em class="text b-hide-text">toilet</em></li>
															<li class="list"><i class="m-icon m-icon-elevator"></i><em class="text b-hide-text">elevator</em></li>
															<li class="list"><i class="m-icon m-icon-escalator"></i><em class="text b-hide-text">escalator</em></li>
														</ul>
													</div>
													<em class="floor-count">6F</em>
												</li>
												<li class="floor-list">
													<div class="floor-info">
														<h3 class="classic-title">
															<em class="main-desc">Ladies' Wear & Children's Wear</em>
															<em class="sub-desc">名媛新貴/嬰童館</em>
														</h3>
														<span class="desc">Ladies' Wear/Jewelry/Children's Clothing/Children's Shoes/Various Toys/Maternity Clothing/Baby Accessories/Breastfeeding Room</span>
														<span class="desc">淑女裝/珠寶/童裝/童鞋/玩具/孕婦裝/嬰兒用品/育嬰室/哺(集)乳室</span>
														<ul class="icon-list">
															<li class="list"><i class="m-icon m-icon-toilet"></i><em class="text b-hide-text">toilet</em></li>
															<li class="list"><i class="m-icon m-icon-baby"></i><em class="text b-hide-text">baby</em></li>
															<li class="list"><i class="m-icon m-icon-elevator"></i><em class="text b-hide-text">elevator</em></li>
															<li class="list"><i class="m-icon m-icon-escalator"></i><em class="text b-hide-text">escalator</em></li>
														</ul>
													</div>
													<em class="floor-count">5F</em>
												</li>
												<li class="floor-list">
													<div class="floor-info">
														<h3 class="classic-title">
															<em class="main-desc">Young Ladies' Wear</em>
															<em class="sub-desc">花漾年華館 </em>
														</h3>
														<span class="desc">Trendy Clothing/ Young Ladies' Fashion/Trendy Accessories/Ladies' Shoes/VIP Room</span>
														<span class="desc">流行少女裝/少淑女裝/流行配件/女鞋/貴賓室</span>
														<ul class="icon-list">
															<li class="list"><i class="m-icon m-icon-toilet"></i><em class="text b-hide-text">toilet</em></li>
															<li class="list"><i class="m-icon m-icon-baby"></i><em class="text b-hide-text">baby</em></li>
															<li class="list"><i class="m-icon m-icon-elevator"></i><em class="text b-hide-text">elevator</em></li>
															<li class="list"><i class="m-icon m-icon-escalator"></i><em class="text b-hide-text">escalator</em></li>
														</ul>
													</div>
													<em class="floor-count">4F</em>
												</li>
												<li class="floor-list">
													<div class="floor-info">
														<h3 class="classic-title">
															<em class="main-desc">Ladies' Elegance Fashion</em>
															<em class="sub-desc">都會流行館</em>
														</h3>
														<span class="desc">Imported Trendy Clothing/Ladies' Leather Bag/Imported Accessories/Clocks & Watches/Sewing Service</span>
														<span class="desc">進口流行女裝/女包/進口配件/鐘錶/修改室</span>
														<ul class="icon-list">
															<li class="list"><i class="m-icon m-icon-toilet"></i><em class="text b-hide-text">toilet</em></li>
															<li class="list"><i class="m-icon m-icon-elevator"></i><em class="text b-hide-text">elevator</em></li>
															<li class="list"><i class="m-icon m-icon-escalator"></i><em class="text b-hide-text">escalator</em></li>
														</ul>
													</div>
													<em class="floor-count">3F</em>
												</li>
												<li class="floor-list">
													<div class="floor-info">
														<h3 class="classic-title">
															<em class="main-desc">Luxury Boutique & Women's Shoes</em>
															<em class="sub-desc">名品仙履館</em>
														</h3>
														<span class="desc">International Luxury Boutique/Trendy Women's Shoes/Imported Ladies' Leather Bag</span>
														<span class="desc">國際名品/流行女鞋/進口女包</span>
														<ul class="icon-list">
															<li class="list"><i class="m-icon m-icon-toilet"></i><em class="text b-hide-text">toilet</em></li>
															<li class="list"><i class="m-icon m-icon-elevator"></i><em class="text b-hide-text">elevator</em></li>
															<li class="list"><i class="m-icon m-icon-escalator"></i><em class="text b-hide-text">escalator</em></li>
														</ul>
													</div>
													<em class="floor-count">2F</em>
												</li>
												<li class="floor-list">
													<div class="floor-info">
														<h3 class="classic-title">
															<em class="main-desc">Cosmetics</em>
															<em class="sub-desc">美妝時尚館</em>
														</h3>
														<span class="desc">Cosmetics/Skylark Restaurants/Starbucks Coffee/Service Center(Foreign Exchange)</span>
														<span class="desc">名牌化妝品/流行彩妝/加州風洋食館/星巴克咖啡/服務台(外幣兌換)/亞尼克菓子工房</span>
														<ul class="icon-list">
															<li class="list"><i class="m-icon m-icon-toilet"></i><em class="text b-hide-text">toilet</em></li>
															<li class="list"><i class="m-icon m-icon-elevator"></i><em class="text b-hide-text">elevator</em></li>
															<li class="list"><i class="m-icon m-icon-escalator"></i><em class="text b-hide-text">escalator</em></li>
														</ul>
													</div>
													<em class="floor-count">1F</em>
												</li>
												<li class="floor-list">
													<div class="floor-info">
														<h3 class="classic-title">
															<em class="main-desc">Supermarket Exotic Foods Court</em>
															<em class="sub-desc">超市異國美食館</em>
														</h3>
														<span class="desc">Wellcome Gourmet/FE'21 World Gourmet/Exotic Foods Court</span>
														<span class="desc">頂好超市/遠東異國食品館/美食廣場</span>
														<ul class="icon-list">
															<li class="list"><i class="m-icon m-icon-toilet"></i><em class="text b-hide-text">toilet</em></li>
															<li class="list"><i class="m-icon m-icon-elevator"></i><em class="text b-hide-text">elevator</em></li>
															<li class="list"><i class="m-icon m-icon-escalator"></i><em class="text b-hide-text">escalator</em></li>
														</ul>
													</div>
													<em class="floor-count">B1</em>
												</li>
												<li class="floor-list">
													<div class="floor-info">
														<h3 class="classic-title">
															<em class="main-desc">Parking Lot</em>
															<em class="sub-desc">停車場</em>
														</h3>
														<span class="desc">Parking Lot</span>
														<span class="desc">停車場</span>
														<ul class="icon-list">
															<li class="list"><i class="m-icon m-icon-parking-2"></i><em class="text b-hide-text">parking</em></li>
															<li class="list"><i class="m-icon m-icon-elevator"></i><em class="text b-hide-text">elevator</em></li>
														</ul>
													</div>
													<em class="floor-count">B2</em>
												</li>
											</ul>
										</li>
										<li class="content-list">
											<ul class="service-main-list">
												<li class="list">
													<figure class="img-wrap">
														<img src="../../content/img/oversea-detail/service/01.jpg" alt="Service Counter 1F">
														<figcaption class="desc b-hide-text">Service Counter 1F</figcaption>
													</figure>
													<div class="service-info">
														<h3 class="list-title">Service Counter 1F</h3>
														<ul class="service-sub-list">
															<li class="list">Shopping & Event Guide</li>
															<li class="list">Parking Validation Service</li>
															<li class="list">Customer Service Center8F</li>
															<li class="list">Gift Vouchers Selling</li>
															<li class="list">Receipt & Invoice Service</li>
															<li class="list">Shopping & Event Consulting</li>
															<li class="list">Lost & Found</li>
															<li class="list">Tax Refund Service for Foreigners and Tourists</li>
															<li class="list">HAPPY GO Card Service</li>
															<li class="list">Kid Welfare Card Service</li>
															<li class="list">Currency Exchange</li>
															<li class="list">Thoughtful Facility</li>
														</ul>
													</div>
												</li>
												<li class="list">
													<figure class="img-wrap">
														<img src="../../content/img/oversea-detail/service/02.jpg" alt="Information B1F">
														<figcaption class="desc b-hide-text">Information B1F</figcaption>
													</figure>
													<div class="service-info">
														<h3 class="list-title">Information B1F</h3>
														<ul class="service-sub-list">
															<li class="list">Floor & Event Consulting</li>
															<li class="list">Shopping & Event Guide</li>
															<li class="list">Parking Validation Service</li>
															<li class="list">Lost & Found</li>
															<li class="list">HAPPY GO Card Service</li>
															<li class="list">Public Announcement</li>
															<li class="list">Stroller Available</li>
															<li class="list">Wheelchair Available</li>
															<li class="list">Umbrellas Available</li>
														</ul>
													</div>
												</li>
												<li class="list">
													<figure class="img-wrap">
														<img src="../../content/img/oversea-detail/service/03.jpg" alt="Others Services">
														<figcaption class="desc b-hide-text">Others Services</figcaption>
													</figure>
													<div class="service-info">
														<h3 class="list-title">Others Services</h3>
														<ul class="service-sub-list">
															<li class="list">PayPhone：B1、2F 、4F 、6F 、8F</li>
															<li class="list">ATM：B1, 1F</li>
															<li class="list">Apparel Alterations and Repair：4F、5F<br><br>Islandwide Free Delivery Service 1F、8F、B1 Service Counter<br><br>Free delivery service to one single home address is offered for purchase over $3,000 in this Store on the day of purchase.<br><br>Delivery from Jasons Supermarket is subject to its own delivery service terms.<br><br>Please contact floor sales staffs for courier and delivery services.</li>
														</ul>
													</div>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="content-list">
						</li>
						<li class="content-list is-curr">
							<div class="m-tab sub-tab">
								<ul class="m-tab-wrap">
									<li class="tab-list">
										<button class="btn-tab is-curr jQ-tab"><em class="text">Brand Search</em></button>
									</li>
									<li class="tab-list">
										<button class="btn-tab jQ-tab"><em class="text">Prefix word Search</em></button>
									</li>
								</ul>
								<ul class="m-tab-content">
									<li class="content-list is-curr">
										<ul class="form-list b-col-dt-12 b-clearfix">
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Select a CIty</option>
													</select>
												</div>
											</li>
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Select a Store</option>
													</select>
												</div>
											</li>
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Select floor</option>
													</select>
												</div>
											</li>
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Please select main product type</option>
													</select>
												</div>
											</li>
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Please select secondary product type</option>
													</select>
												</div>
											</li>
											<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-float-left-dt">
												<div class="m-box-holder b-col-dt-12 b-col-xs-12 is-selector">
													<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
														<option value="">Please select brand keyword</option>
													</select>
												</div>
											</li>
										</ul>
										<div class="btn-wrap">
											<a href="javascript:;" class="btn-search btn-radius b-link jQ-search">Search</a>
										</div>
									</li>
									<li class="content-list">
										<ul class="keyword-list">
											<li class="list"><button class="btn-keyword jQ-keyword">123</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">A</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">B</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">C</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">D</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">E</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">F</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">G</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">H</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">I</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">J</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">K</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">L</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">M</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">N</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">O</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">P</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">Q</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">R</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">S</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">T</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">U</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">V</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">W</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">X</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">Y</button></li>
											<li class="list"><button class="btn-keyword jQ-keyword">Z</button></li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="result-content">
								<h2 class="content-title">
									<span class="main-sentence">Search Results</span>
									<span class="sub-sentence">A total of <b class="count">124</b> results were found</span>
								</h2>
								<ul class="result-list">
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/01.jpg" alt="SHISEIDO 資生堂東京櫃">
											<figcaption class="desc b-hide-text">SHISEIDO 資生堂東京櫃</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">SHISEIDO 資生堂東京櫃</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/02.jpg" alt="SHU UEMURA 植村秀">
											<figcaption class="desc b-hide-text">SHU UEMURA 植村秀</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">SHU UEMURA 植村秀</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/03.jpg" alt="Salvatore Ferragamo">
											<figcaption class="desc b-hide-text">Salvatore Ferragamo</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">Salvatore Ferragamo</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/02.jpg" alt="SHU UEMURA 植村秀">
											<figcaption class="desc b-hide-text">SHU UEMURA 植村秀</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">SHU UEMURA 植村秀</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/01.jpg" alt="SHISEIDO 資生堂東京櫃">
											<figcaption class="desc b-hide-text">SHISEIDO 資生堂東京櫃</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">SHISEIDO 資生堂東京櫃</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="list-item">
										<figure class="img-wrap">
											<img src="../../content/img/oversea-index/result/03.jpg" alt="Salvatore Ferragamo">
											<figcaption class="desc b-hide-text">Salvatore Ferragamo</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="item-title">Salvatore Ferragamo</h3>
											<span class="info-title">Location</span>
											<ul class="localtion-list">
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">寶慶遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
												<li class="list"><span class="name">板橋大遠百1F</span><a href="tel:0289648402" class="tel-link">(02)8964-8402</a></li>
											</ul>
										</div>
									</li>
									<li class="item-sizer"></li>
									<li class="item-gutter"></li>
								</ul>
								<div class="m-pagination">
									<ul class="m-pagination-bd">
										<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-first"></a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-back"></a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button is-active">1</a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button">2</a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button">3</a></li>
										<li class="page-ctrl"><span class="text">...</span></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button">14</a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-next"></a></li>
										<li class="page-ctrl"><a href="javascript:;" class="m-button btn-go-last"></a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list">
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">品牌故事</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">CSR企業社會責任</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">投資人專區</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">人才招募</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">隱私權政策</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">網站地圖</a></li>
					<li class="list"><a href="javascript:;" class="b-link">聯絡我們</a></li>
					<li class="list"><a href="javascript:;" class="b-link b-hide-xs">相關連結</a></li>
				</ul>
				<small class="copyright b-text-center-dt">Copyright&copy; 2016 Far Eastern Group All rights reserved.</small>
				<a href="javascript:;" class="social-link instagram b-hide-xs">
					<i class="m-icon m-icon-instagram"></i>
					<em class="text b-hide-text">Instagram</em>
				</a>
				<a href="javascript:;" class="social-link facebook b-hide-xs">
					<i class="m-icon m-icon-facebook"></i>
					<em class="text b-hide-text">Facebook</em>
				</a>
				<h3 class="footer-logo b-hide-text b-hide-xs">遠東零售集團 FAR EASTERN</h3>
			</div>
		</footer>
	</div>
	<div class="l-not-support">
		<div class="m-not-support b-text-center">
			<div class="m-not-support-content">
				<div class="m-not-support-hd">
					<p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
					<p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
				</div>
				<div class="m-not-support-bd">
					<ul>
						<li>
							<a href="https://www.google.com.tw/chrome/browser/desktop/">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
								</span>
								<p class="m-not-support-desc">Google Chrome</p>
							</a>
						</li>
						<li>
							<a href="https://www.mozilla.org/zh-TW/firefox/new/">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
								</span>
								<p class="m-not-support-desc">Mozilla Firefox</p>
							</a>
						</li>
						<li>
							<a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
								</span>
								<p class="m-not-support-desc">Internet Explorer</p>
							</a>
						</li>
						<li>
							<a href="https://support.apple.com/zh_TW/downloads/safari">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/safari.png?img=20160511_01" alt="Safari">
								</span>
								<p class="m-not-support-desc">Safari</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="m-not-support-ft">
					<div class="m-not-support-copyright">
						<p class="m-not-support-info"><em>© Copyright 2017 FEDS All rights reserved.</em></p>
						<p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!--[if IE 9]><script src="../../scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script><![endif]-->
<!--[if gt IE 9]><!--> <script defer src="../../scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script> <!--<![endif]-->
<script defer src="../../scripts/plugin/owl.carousel/owl.carousel.min.js?JS=20160216_01"></script>
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<script defer src="../../scripts/js/factory.js?JS=20160420_01"></script>
<script defer src="../../scripts/js/common.js?JS=20160420_01"></script>
<script defer src="../../scripts/js/oversea-index.js?JS=20160420_01"></script>
</html>