<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body registration show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">註冊會員</em></a></li>
					</ol>
				</div>
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">註冊</em>會員</span>
							<span class="sub-lang">membership registration</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix">
						<em class="main-msg b-col-dt-12 b-col-xs-12 b-text-center b-block">簡單幾步驟立即加入會員，馬上獲得購物金 xxx 元！<a href="javascript:;" class="btn-link">新會員入會禮</a></em>
						<ol class="step-list b-text-center">
							<li class="list is-curr">
								<i class="m-icon m-icon-list"></i>
								<div class="list-content"><span class="step-title">Step.</span><em class="desc">填寫基本資料</em></div>
							</li>
							<li class="list">
								<i class="m-icon m-icon-list"></i>
								<div class="list-content"><span class="step-title">Step.</span><em class="desc">註冊認證</em></div>
							</li>
							<li class="list">
								<i class="m-icon m-icon-member"></i>
								<div class="list-content"><span class="step-title">Step.</span><em class="desc">註冊完成</em></div>
							</li>
						</ol>
						<h3 class="sub-title">填寫基本資料(*為必填)</h3>
						<ul class="info-form">
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left is-reqired">會員姓名</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<label class="m-lab b-col-dt-6 b-col-xs-6 b-float-left">
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">姓名輸入錯誤！</span>
									</label>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left is-reqired">E-Mail</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<label class="m-lab b-col-dt-6 b-col-xs-6 b-float-left">
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">E-Mail 輸入錯誤！</span>
									</label>
									<span class="msg b-col-dt-6 b-col-xs-6 b-float-left">您將透過此郵件信箱，接收遠東百貨會員訊息</span>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left is-reqired">密碼</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<label class="m-lab b-col-dt-6 b-col-xs-6 b-float-left error">
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">密碼輸入錯誤！</span>
									</label>
									<span class="msg b-col-dt-6 b-col-xs-6 b-float-left">請使用8個字元以上混合使用數字和英文大小寫的密碼。</span>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left is-reqired">再次確認密碼</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<label class="m-lab b-col-dt-6 b-col-xs-6 b-float-left">
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">密碼輸入錯誤！</span>
									</label>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left is-reqired">性別</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6">
										<div class="m-box-holder is-radio">
											<input type="radio" name="gender" class="m-radio" value="male">
										</div>
										<em class="text">男</em>
									</label>
									<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6">
										<div class="m-box-holder is-radio">
											<input type="radio" name="gender" class="m-radio" value="female">
										</div>
										<em class="text">女</em>
									</label>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left is-reqired">出生年月日</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<div class="b-col-dt-4 b-col-xs-4 b-float-left">
										<div class="m-box-holder b-col-dt-9 b-col-xs-9 b-float-left is-selector">
											<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
												<option value="">1985</option>
											</select>
										</div>
										<span class="text b-col-dt-3 b-col-xs-3 b-float-left">年</span>
									</div>
									<div class="b-col-dt-4 b-col-xs-4 b-float-left">
										<div class="m-box-holder b-col-dt-9 b-col-xs-9 b-float-left is-selector">
											<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
												<option value="">請選擇</option>
											</select>
										</div>
										<span class="text b-col-dt-3 b-col-xs-3 b-float-left">月</span>
									</div>
									<div class="b-col-dt-4 b-col-xs-4 b-float-left">
										<div class="m-box-holder b-col-dt-9 b-col-xs-9 b-float-left is-selector">
											<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
												<option value="">請選擇</option>
											</select>
										</div>
										<span class="text b-col-dt-3 b-col-xs-3 b-float-left">日</span>
									</div>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left is-reqired">行動電話</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<label class="m-lab b-col-dt-6 b-col-xs-6 b-float-left">
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">行動電話輸入錯誤！</span>
									</label>
									<span class="msg b-col-dt-6 b-col-xs-6 b-float-left"></span>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left">HAPPY GO 卡號</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<label class="m-lab b-col-dt-6 b-col-xs-6 b-float-left">
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">輸入錯誤！</span>
									</label>
									<span class="msg b-col-dt-6 b-col-xs-6 b-float-left"></span>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left">身分證字號</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<label class="m-lab b-col-dt-6 b-col-xs-6 b-float-left">
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="">
										</div>
										<span class="alert b-col-dt-12 b-col-xs-12">輸入錯誤！</span>
									</label>
									<span class="msg b-col-dt-6 b-col-xs-6 b-float-left"></span>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left">居住地區</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<div class="b-col-dt-4 b-col-xs-4 b-float-left">
										<div class="m-box-holder b-col-dt-9 b-col-xs-9 b-float-left is-selector">
											<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
												<option value="">台北/基隆地區</option>
											</select>
										</div>
									</div>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<span class="text b-text-right b-col-dt-2 b-col-xs-2 b-float-left">通訊地址</span>
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-left">
									<div class="b-col-dt-4 b-col-xs-4 b-float-left">
										<div class="m-box-holder b-col-dt-9 b-col-xs-9 b-float-left is-selector">
											<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
												<option value="">請選擇</option>
											</select>
										</div>
									</div>
									<div class="b-col-dt-4 b-col-xs-4 b-float-left">
										<div class="m-box-holder b-col-dt-9 b-col-xs-9 b-float-left is-selector">
											<select name="" id="" class="m-selection b-col-dt-12 b-col-xs-12">
												<option value="">請選擇</option>
											</select>
										</div>
									</div>
									<label class="m-lab b-col-dt-12 b-col-xs-12">
										<div class="m-box-holder b-col-dt-12 b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="請輸入地址">
										</div>
									</label>
								</div>
							</li>
							<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
								<div class="value-form b-col-dt-10 b-col-xs-10 b-float-right">
									<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
										<div class="m-box-holder is-checkbox">
											<input type="checkbox" class="m-checkbox">
										</div>
										<span class="text">我已閱讀並已同意遠東百貨網站 <a href="javascript:;" class="b-link" target="_blank">會員細則及條款</a>。</span>
									</label>
									<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
										<div class="m-box-holder is-checkbox">
											<input type="checkbox" class="m-checkbox">
										</div>
										<span class="text">我願意收到遠東百貨各項簡訊通知。(欲取消簡訊通知，請取消勾選)</span>
									</label>
									<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
										<div class="m-box-holder is-checkbox">
											<input type="checkbox" class="m-checkbox">
										</div>
										<span class="text">我願意收到遠東百貨 E-mail 通知購物相關訊息。</span>
									</label>
								</div>
							</li>
						</ul>
						<div class="btn-wrap b-col-dt-12 b-col-xs-12 b-text-center">
							<a href="javascript:;" class="btn-link b-col-dt-5 b-col-xs-12">下一步</a>
						</div>
					</div>
				</section>
			</div>
			<aside class="l-side">
				<div class="pagination">
					<ul class="cut-dot"></ul>
				</div>
				<div class="function-list">
					<button class="btn-side-menu jQ-side-menu b-hide-text is-active">side menu</button>
					<ul class="collapse-wrap">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-announcement"></i><em class="b-hide-text">即時公告</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-card"></i><em class="b-hide-text">卡友專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-gift"></i><em class="b-hide-text">贈獎專區</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-note"></i><em class="b-hide-text">活動報名</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-service"></i><em class="b-hide-text">智能客服</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-parking"></i><em class="b-hide-text">交通資訊</em></a></a></li>
					</ul>
				</div>
				<button class="btn-top jQ-top">TOP</button>
			</aside>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!-- <script defer src="../../scripts/js/member.js?JS=20160420_01"></script> -->
</html>