<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/member.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body member show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">註冊會員</em></a></li>
					</ol>
				</div>
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<h2 class="cut-title">
							<span class="main-lang"><em class="highlight">註冊</em>會員</span>
							<span class="sub-lang">membership registration</span>
						</h2>
					</header>
					<div class="m-cut-bd b-clearfix">
						<h3 class="sub-title">填寫基本資料(*為必填)</h3>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
						<div class="b-col-dt-12 b-col-xs-12 b-clearfix">
							<div class="b-col-dt-3 b-col-xs-3 b-float-left"></div>
							<div class="b-col-dt-9 b-col-xs-9 b-float-left"></div>
						</div>
					</div>
				</section>
			</div>
			<aside class="l-side">
				<div class="pagination">
					<ul class="cut-dot"></ul>
				</div>
				<div class="function-list">
					<button class="btn-side-menu jQ-side-menu b-hide-text is-active">side menu</button>
					<ul class="collapse-wrap">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-announcement"></i><em class="b-hide-text">即時公告</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-card"></i><em class="b-hide-text">卡友專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-gift"></i><em class="b-hide-text">贈獎專區</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-note"></i><em class="b-hide-text">活動報名</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-service"></i><em class="b-hide-text">智能客服</em></a></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-parking"></i><em class="b-hide-text">交通資訊</em></a></a></li>
					</ul>
				</div>
				<button class="btn-top jQ-top">TOP</button>
			</aside>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<div class="l-not-support">
		<div class="m-not-support b-text-center">
			<div class="m-not-support-content">
				<div class="m-not-support-hd">
					<p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
					<p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
				</div>
				<div class="m-not-support-bd">
					<ul>
						<li>
							<a href="https://www.google.com.tw/chrome/browser/desktop/">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
								</span>
								<p class="m-not-support-desc">Google Chrome</p>
							</a>
						</li>
						<li>
							<a href="https://www.mozilla.org/zh-TW/firefox/new/">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
								</span>
								<p class="m-not-support-desc">Mozilla Firefox</p>
							</a>
						</li>
						<li>
							<a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
								</span>
								<p class="m-not-support-desc">Internet Explorer</p>
							</a>
						</li>
						<li>
							<a href="https://support.apple.com/zh_TW/downloads/safari">
								<span class="m-not-support-figure">
									<img src="../../content/img/not-support/safari.png?img=20160511_01" alt="Safari">
								</span>
								<p class="m-not-support-desc">Safari</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="m-not-support-ft">
					<div class="m-not-support-copyright">
						<p class="m-not-support-info"><em>© Copyright 2017 FEDS All rights reserved.</em></p>
						<p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!-- <script defer src="../../scripts/js/member.js?JS=20160420_01"></script> -->
</html>