<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/social.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body social show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="foods-index.html" class="b-link"><em class="text">社群媒體</em></a></li>
					</ol>
				</div>
				<div class="m-cut">
					<div class="m-tab main-tab">
						<ul class="m-tab-wrap">
							<li class="tab-list list b-inline-dt b-block-xs">
								<button class="btn-tab jQ-tab is-curr">
									<i class="m-icon m-icon-facebook-o"></i>
									<em class="text">Facebook</em>
								</button>
							</li>
							<li class="tab-list list b-inline-dt b-block-xs">
								<button class="btn-tab jQ-tab">
									<i class="m-icon m-icon-instagram-o"></i>
									<em class="text">Instagram</em>
								</button>
							</li>
						</ul>
						<ul class="m-tab-content">
							<li class="content-list is-curr">
								<ul class="social-list">
									<li class="list-item" data-url="<iframe%20src=%22https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffeds32%2Fposts%2F1353600214716097%3A0&width=500&show_text=true&appId=471818043022804&height=650%22%20width=%22500%22%20height=%22650%22></iframe>"></li>
									<li class="list-item" data-url="<iframe%20src=%22https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffeds32%2Fposts%2F1367736186635833%3A0&width=500&show_text=true&appId=471818043022804&height=668%22%20width=%22500%22%20height=%22668%22></iframe>"></li>
									<li class="list-item" data-url="<iframe%20src=%22https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffeds32%2Fposts%2F1364628780279907%3A0&width=500&show_text=true&appId=471818043022804&height=635%22%20width=%22500%22%20height=%22635%22></iframe>"></li>
									<li class="list-item" data-url="<iframe%20src=%22https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffeds32%2Fposts%2F1359662750776510%3A0&width=500&show_text=true&appId=471818043022804&height=668%22%20width=%22500%22%20height=%22668%22></iframe>"></li>
									<li class="item-sizer"></li>
								</ul>
								<a href="javascript:;" class="btn-more b-link">MORE</a>
							</li>
							<li class="content-list">
								<ul class="social-list">
								</ul>
								<a href="javascript:;" class="btn-more b-link">MORE</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<script defer src="../../scripts/js/social.js?JS=20160420_01"></script>
</html>