<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/business-info.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/app.css?CSS=20180502">
</head>
<body>
	<div class="l-body app-brand">
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-section">
					<div class="m-section-bd">
						<div class="brand-info-wrap">
							<figure class="brand-logo">
								<img src="../../content/img/brand-info/azur.jpg" alt="">
							</figure>
							<p class="brand-slogan b-text-center">Se AZUR-針對著對自我服飾品味、自我服飾美學充滿高度極緻要求之時尚都會女性，品牌著重感、性、美的三項精神要素，來創造出時尚女性的高感度自我流行風格。</p>
							<h3 class="sub-title">服務據點</h3>
							<ul class="service-location-list b-text-left">
								<li class="list b-col-dt-6 b-col-xs-12">
									<span class="b-bold b-col-dt-7 b-col-xs-6 b-inline b-text-left">寶慶遠百 3F</span>
								</li>
								<li class="list b-col-dt-6 b-col-xs-12">
									<span class="b-bold b-col-dt-7 b-col-xs-6 b-inline b-text-left">板橋遠百 3F</span>
								</li>
								<li class="list b-col-dt-6 b-col-xs-12">
									<span class="b-bold b-col-dt-7 b-col-xs-6 b-inline b-text-left">新竹大遠百 4F</span>
									<a href="tel:035234568" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">03-523-4568</a>
								</li>
								<li class="list b-col-dt-6 b-col-xs-12">
									<span class="b-bold b-col-dt-7 b-col-xs-6 b-inline b-text-left">Top City大遠百 4F</span>
								</li>
								<li class="list b-col-dt-6 b-col-xs-12">
									<span class="b-bold b-col-dt-7 b-col-xs-6 b-inline b-text-left">花蓮遠百 2F</span>
									<a href="tel:038315199" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">03-831-5199</a>
								</li>
								<li class="list b-col-dt-6 b-col-xs-12">
									<span class="b-bold b-col-dt-7 b-col-xs-6 b-inline b-text-left">嘉義遠百 2F</span>
									<a href="tel:052353068" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">05-235-3068</a>
								</li>
								<li class="list b-col-dt-6 b-col-xs-12">
									<span class="b-bold b-col-dt-7 b-col-xs-6 b-inline b-text-left">高雄大遠百 5F</span>
									<a href="tel:075368596" class="tel-link b-col-md-4 b-col-sm-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">07-536-8596</a>
								</li>
							</ul>
							<h3 class="sub-title b-text-left">熱銷推薦</h3>
							<div class="shopping-link">
								<figure class="img-wrap">
									<img src="../../content/img/branch/shopping/01.png" alt="HERMES">
									<figcaption class="desc b-hide-text">HERMES</figcaption>
								</figure>
								<div class="item-info b-text-left">
									<h3 class="info-title">HERMES</h3>
									<p class="b-desc">真皮尖頭踝靴</p>
									<em class="main-info">
										<span class="bargain-price">$48800</span>
										<span class="acts"></span>
									</em>
								</div>
								<a href="../online-shopping/online-shopping-detail.html" class="btn-read-more b-text-center"><em class="text">SHOP NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>