<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/latest-events-detail.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/app.css?CSS=20180502">
</head>
<body>
	<div class="l-body app-event">
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-section">
					<header class="m-section-hd b-text-center">
						<div class="post-tools b-clearfix">
							<em class="post-catalog b-middle b-inline"><i class="m-icon m-icon-gift-o"></i><span class="text">特別企劃</span></em>
						</div>
						<h2 class="post-title">【Mega City】寶寶搬尿布</h2>
						<div class="activity-period">
							<time datetime="2018/04/29">2018/04/29 (日)</time> ~ <time datetime="2018/04/29">2018/04/29 (日)</time>
						</div>
					</header>
					<div class="m-section-bd">
						<div class="editor-area b-normalize">
							<img src="../../content/img/latest-events-detail/01.jpg" alt="">
							<ul style="font-size: 14px; color: #717070;">
								<li style="list-style: none; margin-top: 1em;">時間：04/29(日)15:00-活動結束</li>
								<li style="list-style: none; margin-top: 1em;">地點：5F C電梯廳</li>
								<li style="list-style: none; margin-top: 1em;">限時1分鐘寶寶搬尿布到終點，數量最多者，將頒發前三名獎項，比賽中寶寶須獨自搬著尿布到終點，比賽過程中如有受到外力協助，均以棄權論，凡參賽均可獲得參加獎乙份。</li>
								<li style="list-style: none; margin-top: 1em;">報名資格：105年4月~106年4月出生的寶寶(已會走路)均可報名。</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>