<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/business-info.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/app.css?CSS=20180502">
</head>
<body>
	<div class="l-body app-branch" data-tab="floor">
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-section">
					<select class="m-selection floor-select b-block b-col-tm-12">
						<option value="3F">3F</option>
					</select>
					<div class="m-section-bd">
						<div class="floor-info-wrap b-text-center">
							<div class="floor-main-info">
								<h3 class="floor-title b-inline">都會流行館</h3>
								<p class="counters-desc">女性服飾 / 飾品配件 / 鞋類包款</p>
								<h4 class="facility-title b-bold">服務設施</h4>
								<ul class="facility-list">
									<li class="list b-middle"><i class="m-icon m-icon-accessibility"></i></li>
									<li class="list b-middle"><i class="m-icon m-icon-elevator"></i></li>
									<li class="list b-middle"><i class="m-icon m-icon-escalator"></i></li>
									<li class="list b-middle"><i class="m-icon m-icon-baby"></i></li>
									<li class="list b-middle"><i class="m-icon m-icon-toilet"></i></li>
								</ul>
							</div>
							<div class="m-accordion">
								<div class="m-accordion-hd">
									<h3 class="accordion-title">
										<button class="btn-switch jQ-btn-accordion b-middle">
											<i class="m-icon m-icon-brand"></i>
											<em class="text">女性服飾</em>
										</button>
									</h3>
								</div>
								<div class="m-accordion-bd">
									<ul class="counters-list b-text-left">
										<li class="list"><a href="brand-info.html" class="b-link">AZUR</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">BENETTON 班尼頓</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">BONITTA</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">Chaton 森活</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">COP COPINE</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">CUMAR 服飾</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">Diffa</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">Emilie Louis</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">EXP俊克</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">Gerry Weber</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">iROO</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">KOCCA</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">La Féta</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">LAURA ASHLEY</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">MASTINA</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">MK MICHEL KLEIN 服飾</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">MOSS CLUB</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">R&F</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">Sandwitch_</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">SCOTTISH HOUSE</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">U’re</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">XING</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">依祺</a></li>
									</ul>
								</div>
							</div>
							<div class="m-accordion">
								<div class="m-accordion-hd">
									<h3 class="accordion-title">
										<button class="btn-switch jQ-btn-accordion b-middle">
											<i class="m-icon m-icon-brand"></i>
											<em class="text">飾品配件</em>
										</button>
									</h3>
								</div>
								<div class="m-accordion-bd">
									<ul class="counters-list b-text-left">
										<li class="list"><a href="brand-info.html" class="b-link">Power Sleep 知識睡眠館</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">伊萊克斯 Electrolux</a></li>
										<li class="list"><a href="brand-info.html" class="b-link">Royal Copenhagen</a></li>
									</ul>
								</div>
							</div>
							<div class="m-accordion">
								<div class="m-accordion-hd">
									<h3 class="accordion-title">
										<button class="btn-switch jQ-btn-accordion b-middle">
											<i class="m-icon m-icon-brand"></i>
											<em class="text">鞋類包款</em>
										</button>
									</h3>
								</div>
								<div class="m-accordion-bd">
									<ul class="counters-list b-text-left">
										<li class="list"><a href="brand-info.html" class="b-link">addidas kids</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>