<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/app.css?CSS=20180502">
</head>
<body>
	<div class="l-body app-branch" data-tab="park">
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-section">
					<div class="m-section-bd">
						<div class="info-wrap">
							<em class="info-type b-bold b-block">停車資訊</em>
							<div class="b-inline b-col-md-6 b-col-tm-6"><i class="icon-color b-inline car"></i><span class="text">汽車空位 - 剩餘 <b class="count">610</b></span></div>
							<div class="b-inline b-col-md-6 b-col-tm-6"><i class="icon-color b-inline motor"></i><span class="text">機車空位 - 剩餘 <b class="count">366</b></span></div>
						</div>
						<div class="info-wrap">
							<em class="info-type b-bold b-block">免費停車辦法</em>
							<table class="m-table b-text-center">
								<thead>
									<tr>
										<th colspan="3"><em class="text b-bold">寶慶店 B2停車場 停車優惠辦法</em></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th><em class="text b-bold">消費金額</em></th>
										<th><em class="text b-bold">無 HAPPY GO卡</em></th>
										<th><em class="text b-bold">HAPPY GO卡或遠銀卡</em></th>
									</tr>
									<tr>
										<td><em class="text">500元</em></td>
										<td><em class="text">30分鐘</em></td>
										<td><em class="text">1.5小時</em></td>
									</tr>
									<tr>
										<td><em class="text">1000元</em></td>
										<td><em class="text">1小時</em></td>
										<td><em class="text">2小時</em></td>
									</tr>
									<tr>
										<td><em class="text">1500元</em></td>
										<td><em class="text">1.5小時</em></td>
										<td><em class="text">2.5小時</em></td>
									</tr>
									<tr>
										<td><em class="text">2000元</em></td>
										<td><em class="text">2小時</em></td>
										<td><em class="text">3小時</em></td>
									</tr>
									<tr>
										<td><em class="text">2500元</em></td>
										<td><em class="text">2.5小時</em></td>
										<td><em class="text">3.5小時</em></td>
									</tr>
									<tr>
										<td><em class="text">3000元</em></td>
										<td><em class="text">3.5小時</em></td>
										<td><em class="text">4小時</em></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3"><em class="text">兌換地點：1F服務台、8F客服中心<br>以上優惠最高上限4小時</em></td>
									</tr>
								</tfoot>
							</table>
							<table class="m-table b-text-center">
								<thead>
									<tr>
										<th colspan="3">
											<em class="text b-bold b-block">中山堂停車場 停車優惠辦法</em>
											<small class="sub b-block">中山堂停車場-博爱路轉武昌街</small>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th><em class="text b-bold">消費金額</em></th>
										<th><em class="text b-bold">無 HAPPY GO卡</em></th>
										<th><em class="text b-bold">HAPPY GO卡或遠銀卡</em></th>
									</tr>
									<tr>
										<td><em class="text">1000元</em></td>
										<td><em class="text">1小時</em></td>
										<td><em class="text">2小時</em></td>
									</tr>
									<tr>
										<td><em class="text">2000元</em></td>
										<td><em class="text">2小時</em></td>
										<td><em class="text">3小時</em></td>
									</tr>
									<tr>
										<td><em class="text">3000元</em></td>
										<td><em class="text">3小時</em></td>
										<td><em class="text">4小時</em></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3"><em class="text">兌換地點：1F服務台<br>若使用悠遊卡，請於出場時按收據，憑收據兌換停車費<br>計費方式以兌換時間為準，以上優惠最高上限4小時</em></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>