<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/app.css?CSS=20180502">
</head>
<body>
	<div class="l-body app-branch" data-tab="traffic">
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-section">
					<div class="m-section-bd">
						<img src="../../content/img/shared/stores/01.png" alt="">
						<div class="info-wrap b-text-center">
							<em class="text b-bold b-block">營業資訊</em>
							<address class="address b-block">台北市中正區寶慶路32號</address>
							<em class="text b-block">
								<a href="tel:0223816088" class="b-link b-block">02-23816088</a>
								<a href="tel:0223816088" class="b-link b-block">0800-231-022</a>
							</em>
							<em class="text b-inline">營業時間<br>週日-週四 11:00-21:30<br>週五-週六 11:00-22:00</em>
						</div>
						<div class="info-wrap b-text-center">
							<em class="text b-bold b-block">大眾運輸</em>
							<em class="text b-block">捷運<br>板南線-西門捷運站3號出口</em>
							<em class="text b-block">公車<br>捷運西門站 12､202､205､206､212､218､223､231､234､242､246､249､250､252､253､260､262､263､265､302､9､304承德線､304重慶線､307､310､49､527､601､604､624､628､651､652､660､662､667､701､702､703､705</em>
							<em class="text b-block">衡陽路站 18､20､222､235､257､663､藍23､513</em>
							<em class="text b-block">寶慶路站 232､246､257､621､635､637､640</em>
							<em class="text b-block">婦聯總會 270、235</em>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>