<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/cart.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body cart-step1 show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<section class="m-cut">
					<header class="m-cut-hd b-clearfix">
						<ol class="shopping-step-list" data-step="1">
							<li class="list">填寫訂購資料</li>
							<li class="list">確認付款方式</li>
							<li class="list">訂購完成</li>
						</ol>
					</header>
					<div class="m-cut-bd">
						<form action="cart-step2.html">
							<div class="sheet underline">
								<h4 class="info-title">會員帳戶</h4>
								<div class="member-info">
									<em class="member-name">蔡依林</em>
									<div class="coupon-info">
										<span class="coupon-name">購物金</span>
										<span class="highlight">3,500</span>
										<span class="unit">元</span>
									</div>
									<div class="coupon-info">
										<span class="coupon-name">HAPPY GO 點數</span>
										<span class="highlight">26568</span>
										<span class="unit">點</span>
									</div>
								</div>
							</div>
							<h2 class="main-title b-text-center-xs">購物車明細</h2>
							<div class="sheet underline">
								<h4 class="info-title b-clearfix">
									<em class="main-desc b-float-left-dt b-block">本次結帳商品</em>
									<em class="sub-desc highlight b-float-left-dt b-block">重要提醒：到店取貨若到不同店取貨建議您使用宅配。</em>
									<span class="sub-desc b-float-right-dt b-block">共 <span class="highlight">3</span> 件商品，請確認以下商品資訊並進行結帳</span>
								</h4>
								<table class="m-table table-rotate">
									<thead>
										<tr>
											<td><em class="text">商品</em></td>
											<td><em class="text">配送方式</em></td>
											<td><em class="text">贈品</em></td>
											<td><em class="text">單價(NT$)</em></td>
											<td><em class="text">數量</em></td>
											<td><em class="text">小計(NT$)</em></td>
											<td><em class="text">刪除</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td data-label="商品">
												<div class="m-table-xs-wrap">
													<div class="item-info">
														<figure class="img-wrap b-hide-xs">
															<img src="../../content/img/cart/sheet/01.jpg" alt="STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑">
															<figcaption class="desc b-hide-text">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</figcaption>
														</figure>
														<em class="item-name">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</em>
													</div>
												</div>
											</td>
											<td data-label="配送方式">
												<div class="m-table-xs-wrap deliver-method">
													<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6 b-float-left-xs">
														<div class="m-box-holder is-radio">
															<input type="radio" name="deliver-1" class="m-radio required" value="0" data-msg="請選擇配送方式！">
														</div>
														<em class="text">宅配</em>
													</label>
													<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6 b-float-left-xs" data-deliver="store">
														<div class="m-box-holder is-radio">
															<input type="radio" name="deliver-1" class="m-radio" value="1">
														</div>
														<em class="text">到店取貨</em>
													</label>
													<span class="alert b-col-dt-6 b-col-xs-12"><label for="deliver-1" class="is-error b-text-warning"></label></span>
													<div class="m-box-holder is-selector">
														<select name="" id="" class="m-selection">
															<option value="">選擇分店</option>
															<option value="">OOO店</option>
															<option value="">XXX店</option>
														</select>
													</div>
												</div>
											</td>
											<td data-label="贈品"><em class="text">雅詩蘭黛特潤精華 5ml</em></td>
											<td class="b-text-right-xs" data-label="單價(NT$)"><em class="text">3,990 元</em></td>
											<td class="b-text-right-xs" data-label="數量">
												<div class="m-table-xs-wrap">
													<div class="counter">
														<button class="btn-count jQ-calc" data-calc="minus">-</button>
														<div class="m-box-holder">
															<input type="text" class="m-inputbox" value="1">
														</div>
														<button class="btn-count jQ-calc" data-calc="plus">+</button>
													</div>
												</div>
											</td>
											<td class="b-text-right-xs" data-label="小計(NT$)"><em class="text">3,990 元</em></td>
											<td class="b-text-left-xs btn-delete-wrap">
												<div class="m-table-xs-wrap">
													<button class="btn-delete jQ-delelte">
														<i class="m-icon m-icon-delete"></i>
														<em class="text b-hide-text">刪除</em>
													</button>
												</div>
											</td>
										</tr>
										<tr>
											<td data-label="商品">
												<div class="m-table-xs-wrap">
													<div class="item-info">
														<figure class="img-wrap b-hide-xs">
															<img src="../../content/img/cart/sheet/02.jpg" alt="STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑">
															<figcaption class="desc b-hide-text">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</figcaption>
														</figure>
														<em class="item-name">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</em>
													</div>
													<p class="note has-icon"><i class="m-icon m-icon-info-3"></i><em class="text">此商品已下架，請選擇其他商品。</em></p>
													<p class="note has-icon"><i class="m-icon m-icon-bell-o"></i><em class="text">限時24小時，指定商品結帳再85折</em></p>
												</div>
											</td>
											<td data-label="配送方式">
												<div class="m-table-xs-wrap deliver-method">
													<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6 b-float-left-xs">
														<div class="m-box-holder is-radio">
															<input type="radio" name="deliver-2" class="m-radio required" value="0" data-msg="請選擇配送方式！">
														</div>
														<em class="text">宅配</em>
													</label>
													<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6 b-float-left-xs" data-deliver="store">
														<div class="m-box-holder is-radio">
															<input type="radio" name="deliver-2" class="m-radio" value="1">
														</div>
														<em class="text">到店取貨</em>
													</label>
													<span class="alert b-col-dt-6 b-col-xs-12"><i class="m-icon m-icon-info-3"></i><label for="deliver-2" class="is-error b-text-warning"></label></span>
													<div class="m-box-holder is-selector">
														<select name="" id="" class="m-selection">
															<option value="">選擇分店</option>
															<option value="">OOO店</option>
															<option value="">XXX店</option>
														</select>
													</div>
													<p class="note error-msg has-icon"><i class="m-icon m-icon-info-3"></i><em class="text">請選擇配送方式！</em></p>
												</div>
											</td>
											<td data-label="贈品"><em class="text">雅詩蘭黛特潤精華 5ml</em></td>
											<td class="b-text-right-xs" data-label="單價(NT$)"><em class="text">3,990 元</em></td>
											<td class="b-text-right-xs" data-label="數量">
												<div class="m-table-xs-wrap">
													<div class="counter">
														<button class="btn-count jQ-calc" data-calc="minus">-</button>
														<div class="m-box-holder">
															<input type="text" class="m-inputbox" value="1">
														</div>
														<button class="btn-count jQ-calc" data-calc="plus">+</button>
													</div>
												</div>
											</td>
											<td class="b-text-right-xs" data-label="小計(NT$)"><em class="text">3,990 元</em></td>
											<td class="b-text-left-xs btn-delete-wrap">
												<div class="m-table-xs-wrap">
													<button class="btn-delete jQ-delelte">
														<i class="m-icon m-icon-delete"></i>
														<em class="text b-hide-text">刪除</em>
													</button>
												</div>
											</td>
										</tr>
										<tr>
											<td data-label="商品">
												<div class="m-table-xs-wrap">
													<div class="item-info">
														<figure class="img-wrap b-hide-xs">
															<img src="../../content/img/cart/sheet/03.jpg" alt="STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑">
															<figcaption class="desc b-hide-text">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</figcaption>
														</figure>
														<em class="item-name">STEVE MADDEN - 摺疊肩背手拿絨布兩用小包 - 古典黑</em>
													</div>
													<p class="note has-icon"><i class="m-icon m-icon-bell-o"></i><em class="text">限時24小時，指定商品結帳再85折</em></p>
												</div>
											</td>
											<td data-label="配送方式">
												<div class="m-table-xs-wrap deliver-method">
													<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6 b-float-left-xs">
														<div class="m-box-holder is-radio">
															<input type="radio" name="deliver-3" class="m-radio required" value="0" data-msg="請選擇配送方式！">
														</div>
														<em class="text">宅配</em>
													</label>
													<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6 b-float-left-xs" data-deliver="store">
														<div class="m-box-holder is-radio">
															<input type="radio" name="deliver-3" class="m-radio" value="1">
														</div>
														<em class="text">到店取貨</em>
													</label>
													<span class="alert b-col-dt-6 b-col-xs-12"><label for="deliver-3" class="is-error b-text-warning"></label></span>
													<div class="m-box-holder is-selector">
														<select name="" id="" class="m-selection">
															<option value="">選擇分店</option>
															<option value="">OOO店</option>
															<option value="">XXX店</option>
														</select>
													</div>
												</div>
											</td>
											<td data-label="贈品"><em class="text">雅詩蘭黛特潤精華 5ml</em></td>
											<td class="b-text-right-xs" data-label="單價(NT$)"><em class="text">3,990 元</em></td>
											<td class="b-text-right-xs" data-label="數量">
												<div class="m-table-xs-wrap">
													<div class="counter">
														<button class="btn-count jQ-calc" data-calc="minus">-</button>
														<div class="m-box-holder">
															<input type="text" class="m-inputbox" value="1">
														</div>
														<button class="btn-count jQ-calc" data-calc="plus">+</button>
													</div>
												</div>
											</td>
											<td class="b-text-right-xs" data-label="小計(NT$)"><em class="text">3,990 元</em></td>
											<td class="b-text-left-xs btn-delete-wrap">
												<div class="m-table-xs-wrap">
													<button class="btn-delete jQ-delelte">
														<i class="m-icon m-icon-delete"></i>
														<em class="text b-hide-text">刪除</em>
													</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="purchase-info b-text-right final-payment"><em class="text">小計：<span class="highlight">8,108</span> 元</em></div>
								<div class="purchase-info b-text-right-dt b-middle">
									<span class="text b-inline b-col-xs-12">使用購物金(抵用券)折抵</span>
									<label class="m-lab b-col-xs-11">
										<div class="m-box-holder b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="">
										</div>
									</label>
									<span class="text b-inline b-col-xs-1 b-text-right-xs">元</span>
									<span class="text b-inline b-col-xs-12">(目前有300元購物金)</span>
									<p class="note error-msg b-text-right-dt"><em class="text">您所輸入的購物金超過您擁有的金額</em></p>
								</div>
								<div class="purchase-info b-text-right-dt b-middle">
									<span class="text">使用折價券序號折抵</span>
									<label class="m-lab b-col-xs-12">
										<div class="m-box-holder b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="請輸入序號">
										</div>
									</label>
									<button class="btn-link btn-confirm btn-cancel b-col-xs-12">確定</button>
								</div>
								<div class="purchase-info b-text-right-dt b-middle">
									<span class="text b-col-xs-12">HAPPYGO 卡累點</span>
									<label class="m-lab b-col-xs-12">
										<div class="m-box-holder b-col-xs-12">
											<input type="text" class="m-inputbox" placeholder="請輸入序號">
										</div>
									</label>
								</div>
							</div>
							<h2 class="main-title b-text-center-xs">填寫訂購資料</h2>
							<div class="sheet form-input payer-info">
								<h4 class="info-title b-clearfix">
									<em class="main-desc b-float-left-dt b-block">付款人資料</em>
								</h4>
								<div class="m-form b-col-dt-12 b-col-xs-12">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">付款人姓名</em>
									<div class="m-box-holder b-col-dt-6 b-col-xs-12 b-block">
										<input type="text" class="m-inputbox" placeholder="輸入姓名">
									</div>
								</div>
								<div class="m-form set-v-spacing b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">付款人電話</em>
									<div class="b-col-dt-4 b-col-xs-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">市話（日）</em>
										<div class="m-form-group b-col-dt-12 b-col-xs-12 b-clearfix">
											<div class="b-col-md-2 b-col-sm-3">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="區碼">
												</div>
											</div>
											<div class="b-col-dt-6 b-col-xs-6">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="電話號碼">
												</div>
											</div>
											<div class="b-col-md-3 b-col-sm-3">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="分機">
												</div>
											</div>
										</div>
									</div>
									<div class="b-col-dt-4 b-col-xs-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">市話（夜）</em>
										<div class="m-form-group b-col-dt-12 b-col-xs-12 b-clearfix">
											<div class="b-col-md-2 b-col-sm-3">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="區碼">
												</div>
											</div>
											<div class="b-col-dt-6 b-col-xs-6">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="電話號碼">
												</div>
											</div>
											<div class="b-col-md-3 b-col-sm-3">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="分機">
												</div>
											</div>
										</div>
									</div>
									<div class="b-col-dt-4 b-col-xs-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">手機號碼</em>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-block b-float-left-dt">
											<input type="text" class="m-inputbox" placeholder="手機號碼">
										</div>
									</div>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">地址</em>
									<div class="m-form-group-dt b-col-dt-12 b-col-xs-12 b-clearfix">
										<div class="b-col-dt-2 b-col-xs-6 b-float-left-xs">
											<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-11">
												<select name="" id="" class="m-selection">
													<option value="">選擇縣市</option>
													<option value="">台北市</option>
													<option value="">新北市</option>
												</select>
											</div>
										</div>
										<div class="b-col-dt-2 b-col-xs-6 b-float-left-xs">
											<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-11 b-float-right-xs">
												<select name="" id="" class="m-selection">
													<option value="">選擇區域</option>
													<option value="">中山區</option>
													<option value="">中正區</option>
												</select>
											</div>
										</div>
										<div class="b-col-dt-8 b-col-xs-12 b-float-left-xs">
											<div class="m-box-holder b-col-dt-12 b-col-xs-12">
												<input type="text" class="m-inputbox" placeholder="地址">
											</div>
										</div>
									</div>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">發票資訊</em>
									<div class="m-form-group-dt b-col-dt-12 b-col-xs-12 b-clearfix">
										<em class="m-form-addon note b-col-dt-12 b-col-xs-12 b-block">*請選擇發票處理方式</em>
									</div>
									<div class="m-form-group-dt b-col-dt-12 b-col-xs-12 b-clearfix">
										<div class="m-tab main-tab b-col-dt-12 b-col-xs-12 b-block">
											<ul class="m-tab-wrap invoice-selection">
												<li class="tab-list b-block-xs b-text-left-xs">
													<label class="m-lab jQ-radio jQ-tab">
														<div class="m-box-holder is-radio">
															<input type="radio" name="invoice" class="m-radio required" value="happygo">
														</div>
														<em class="text">HAPPYGO卡載具</em>
													</label>
												</li>
												<li class="tab-list b-block-xs b-text-left-xs">
													<label class="m-lab jQ-radio jQ-tab">
														<div class="m-box-holder is-radio">
															<input type="radio" name="invoice" class="m-radio" value="phone">
														</div>
														<em class="text">手機條碼載具</em>
													</label>
												</li>
												<li class="tab-list b-block-xs b-text-left-xs">
													<label class="m-lab jQ-radio jQ-tab">
														<div class="m-box-holder is-radio">
															<input type="radio" name="invoice" class="m-radio" value="citizen-digital">
														</div>
														<em class="text">自然人憑證載具</em>
													</label>
												</li>
												<li class="tab-list b-block-xs b-text-left-xs">
													<label class="m-lab jQ-radio jQ-tab">
														<div class="m-box-holder is-radio">
															<input type="radio" name="invoice" class="m-radio" value="credit-card">
														</div>
														<em class="text">信用卡載具</em>
													</label>
												</li>
												<li class="tab-list b-block-xs b-text-left-xs">
													<label class="m-lab jQ-radio jQ-tab">
														<div class="m-box-holder is-radio">
															<input type="radio" name="invoice" class="m-radio" value="donate">
														</div>
														<em class="text">捐贈</em>
													</label>
												</li>
												<li class="tab-list b-block-xs b-text-left-xs">
													<label class="m-lab jQ-radio jQ-tab">
														<div class="m-box-holder is-radio">
															<input type="radio" name="invoice" class="m-radio" value="e-invoice">
														</div>
														<em class="text">公司用電子發票(發票証明聯)</em>
													</label>
												</li>
												<li class="tab-list b-block-xs b-text-left-xs">
													<label class="m-lab jQ-radio jQ-tab">
														<div class="m-box-holder is-radio">
															<input type="radio" name="invoice" class="m-radio" value="p-invoice">
														</div>
														<em class="text">索取紙本發票</em>
													</label>
												</li>
											</ul>
											<ul class="m-tab-content">
												<li class="content-list">
													<label class="m-lab b-col-xs-12">
														<em class="text">HAPPYGO卡號</em>
														<div class="m-box-holder b-col-xs-12">
															<input type="text" class="m-inputbox" placeholder="請輸入HAPPYGO卡號">
														</div>
													</label>
													<label class="m-lab jQ-checkbox is-checked b-block">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox" checked="checked">
														</div>
														<span class="text">若本人後續辦理退貨作業，同意由遠東百貨代為處理銷售憑證 (例如：發票處理或銷貨折讓)</span>
													</label>
												</li>
												<li class="content-list">
													<label class="m-lab b-col-xs-12">
														<em class="text">手機條碼</em>
														<div class="m-box-holder b-col-xs-12">
															<input type="text" class="m-inputbox" placeholder="請輸入手機號碼">
														</div>
													</label>
													<em class="note b-col-dt-12 b-col-xs-12 b-block">※ 依統一發票使用辦法規定：個人戶 (二聯式) 發票一經開立，不得任意更改為公司戶 (三聯式)發票。</em>
													<label class="m-lab jQ-checkbox is-checked b-block">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox" checked="checked">
														</div>
														<span class="text">若本人後續辦理退貨作業，同意由遠東百貨代為處理銷售憑證 (例如：發票處理或銷貨折讓)</span>
													</label>
												</li>
												<li class="content-list">
													<label class="m-lab b-col-xs-12">
														<em class="text">自然人憑證</em>
														<div class="m-box-holder b-col-xs-12">
															<input type="text" class="m-inputbox" placeholder="請輸入自然人憑證證號">
														</div>
													</label>
													<em class="note b-col-dt-12 b-col-xs-12 b-block">※ 依統一發票使用辦法規定：個人戶 (二聯式) 發票一經開立，不得任意更改為公司戶 (三聯式)發票。</em>
													<label class="m-lab jQ-checkbox is-checked b-block">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox" checked="checked">
														</div>
														<span class="text">若本人後續辦理退貨作業，同意由遠東百貨代為處理銷售憑證 (例如：發票處理或銷貨折讓)</span>
													</label>
												</li>
												<li class="content-list">
													<label class="m-lab jQ-checkbox is-checked b-block">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox" checked="checked">
														</div>
														<span class="text">若本人後續辦理退貨作業，同意由遠東百貨代為處理銷售憑證 (例如：發票處理或銷貨折讓)</span>
													</label>
												</li>
												<li class="content-list">
													<label class="m-lab b-col-xs-12">
														<em class="text b-block-xs">請輸入愛心碼：</em>
														<div class="m-box-holder b-col-xs-12">
															<input type="text" class="m-inputbox" placeholder="">
														</div>
														<a href="https://www.einvoice.nat.gov.tw/APMEMBERVAN/XcaOrgPreserveCodeQuery/XcaOrgPreserveCodeQuery" class="b-link b-inline" target="_blank">(愛心碼查詢)</a>
													</label>
													<label class="m-lab jQ-checkbox is-checked b-block">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox" checked="checked">
														</div>
														<span class="text">若本人後續辦理退貨作業，同意由遠東百貨代為處理銷售憑證 (例如：發票處理或銷貨折讓)</span>
													</label>
												</li>
												<li class="content-list">
													<div class="m-form-group-dt b-col-dt-12 b-col-xs-12">
														<div class="b-col-dt-4 b-col-xs-12 b-clearfix b-float-left-dt">
															<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">統一編號</em>
															<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-block">
																<input type="text" class="m-inputbox" placeholder="請輸入統一編號">
															</div>
														</div>
														<div class="b-col-dt-4 b-col-xs-12 b-clearfix b-float-left-dt">
															<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">發票抬頭</em>
															<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-block">
																<input type="text" class="m-inputbox" placeholder="請填寫發票抬頭">
															</div>
														</div>
														<div class="b-col-dt-4 b-col-xs-12 b-clearfix b-float-left-dt">
															<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">收件人</em>
															<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-block">
																<input type="text" class="m-inputbox" placeholder="請填寫姓名">
															</div>
														</div>
													</div>
													<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
														<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">地址</em>
														<div class="m-form-group-dt b-col-dt-12 b-col-xs-12">
															<div class="b-col-dt-2 b-col-xs-6 b-float-left-xs">
																<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-11">
																	<select name="" id="" class="m-selection">
																		<option value="">選擇縣市</option>
																		<option value="">台北市</option>
																		<option value="">新北市</option>
																	</select>
																</div>
															</div>
															<div class="b-col-dt-2 b-col-xs-6 b-float-left-xs">
																<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-11 b-float-right-xs">
																	<select name="" id="" class="m-selection">
																		<option value="">選擇區域</option>
																		<option value="">中山區</option>
																		<option value="">中正區</option>
																	</select>
																</div>
															</div>
															<div class="b-col-dt-8 b-col-xs-12 b-float-left-xs">
																<div class="m-box-holder b-col-dt-12 b-col-xs-12">
																	<input type="text" class="m-inputbox" placeholder="地址">
																</div>
															</div>
														</div>
													</div>
													<em class="note b-col-dt-12 b-col-xs-12 b-block">※ 依統一發票使用辦法規定：個人戶 (二聯式) 發票一經開立，不得任意更改為公司戶 (三聯式)發票。</em>
													<label class="m-lab jQ-checkbox is-checked b-block">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox" checked="checked">
														</div>
														<span class="text">若本人後續辦理退貨作業，同意由遠東百貨代為處理銷售憑證 (例如：發票處理或銷貨折讓)</span>
													</label>
												</li>
												<li class="content-list">
													<div class="m-form-group-dt b-col-dt-12 b-col-xs-12">
														<div class="b-col-dt-4 b-col-xs-12 b-clearfix b-float-left-dt">
															<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">收件人</em>
															<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-block">
																<input type="text" class="m-inputbox" placeholder="請填寫姓名">
															</div>
														</div>
													</div>
													<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
														<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">地址</em>
														<div class="m-form-group-dt b-col-dt-12 b-col-xs-12 b-clearfix">
															<div class="b-col-dt-2 b-col-xs-6 b-float-left-xs">
																<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-11">
																	<select name="" id="" class="m-selection">
																		<option value="">選擇縣市</option>
																		<option value="">台北市</option>
																		<option value="">新北市</option>
																	</select>
																</div>
															</div>
															<div class="b-col-dt-2 b-col-xs-6 b-float-left-xs">
																<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-11 b-float-right-xs">
																	<select name="" id="" class="m-selection">
																		<option value="">選擇區域</option>
																		<option value="">中山區</option>
																		<option value="">中正區</option>
																	</select>
																</div>
															</div>
															<div class="b-col-dt-8 b-col-xs-12 b-float-left-xs">
																<div class="m-box-holder b-col-dt-12 b-col-xs-12">
																	<input type="text" class="m-inputbox" placeholder="地址">
																</div>
															</div>
														</div>
													</div>
													<label class="m-lab jQ-checkbox is-checked b-block">
														<div class="m-box-holder is-checkbox">
															<input type="checkbox" class="m-checkbox" checked="checked">
														</div>
														<span class="text">若本人後續辦理退貨作業，同意由遠東百貨代為處理銷售憑證 (例如：發票處理或銷貨折讓)</span>
													</label>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="sheet form-input recipient-info">
								<h4 class="info-title b-clearfix">
									<em class="main-desc b-float-left b-block">收件人資料</em>
									<em class="sub-desc b-float-left-dt b-float-right-xs b-block">
										<label class="m-lab jQ-checkbox">
											<div class="m-box-holder is-checkbox">
												<input type="checkbox" class="m-checkbox">
											</div>
											<span class="text">同付款人請打勾</span>
										</label>
									</em>
									<span class="sub-desc b-float-left b-block">宅配商品：共 <span class="highlight">3</span> 件，您可視需要選擇不同的配</span>
								</h4>
								<div class="m-form set-v-spacing b-col-dt-12 b-col-xs-12 b-clearfix">
									<label class="m-lab jQ-checkbox b-col-md-4 b-col-tm-6 b-col-xs-12 b-float-left-tm">
										<div class="m-box-holder is-checkbox">
											<input type="checkbox" class="m-checkbox">
										</div>
										<span class="text">同步更新至我的帳戶 > 配送地址維護</span>
									</label>
									<div class="m-box-holder is-selector b-col-tm-6 b-col-xs-12 b-float-left-tm">
										<select name="" id="" class="m-selection">
											<option value="">選擇不同配送地址</option>
											<option value="">103台北市大同區承德路三段100號10樓</option>
											<option value="">813高雄市左營區高鐵路1號</option>
										</select>
									</div>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">付款人姓名</em>
									<div class="m-box-holder b-col-dt-6 b-col-xs-12 b-block">
										<input type="text" class="m-inputbox required" name="payer" placeholder="輸入姓名">
									</div>
									<span class="alert b-col-dt-12 b-col-xs-12 b-inline-dt"><label for="payer" class="is-error b-text-warning"></label></span>
								</div>
								<div class="m-form set-v-spacing b-col-dt-12 b-col-xs-12">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">收件人電話</em>
									<div class="b-col-dt-4 b-col-xs-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">市話（日）</em>
										<div class="m-form-group b-col-dt-12 b-col-xs-12 b-clearfix">
											<div class="b-col-md-2 b-col-sm-3">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="區碼">
												</div>
											</div>
											<div class="b-col-dt-6 b-col-xs-6">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="電話號碼">
												</div>
											</div>
											<div class="b-col-md-3 b-col-sm-3">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="分機">
												</div>
											</div>
										</div>
									</div>
									<div class="b-col-dt-4 b-col-xs-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">市話（夜）</em>
										<div class="m-form-group b-col-dt-12 b-col-xs-12 b-clearfix">
											<div class="b-col-md-2 b-col-sm-3">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="區碼">
												</div>
											</div>
											<div class="b-col-dt-6 b-col-xs-6">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="電話號碼">
												</div>
											</div>
											<div class="b-col-md-3 b-col-sm-3">
												<div class="m-box-holder">
													<input type="text" class="m-inputbox" placeholder="分機">
												</div>
											</div>
										</div>
									</div>
									<div class="b-col-dt-4 b-col-xs-12 b-clearfix b-float-left-dt">
										<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">手機號碼</em>
										<div class="m-box-holder b-col-dt-12 b-col-xs-12 b-block b-float-left-dt">
											<input type="text" class="m-inputbox" placeholder="手機號碼">
										</div>
									</div>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">地址</em>
									<div class="m-form-group-dt b-col-dt-12 b-col-xs-12">
										<div class="b-col-dt-2 b-col-xs-6 b-float-left-xs">
											<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-11">
												<select name="" id="" class="m-selection">
													<option value="">選擇縣市</option>
													<option value="">台北市</option>
													<option value="">新北市</option>
												</select>
											</div>
										</div>
										<div class="b-col-dt-2 b-col-xs-6 b-float-left-xs">
											<div class="m-box-holder is-selector b-col-dt-12 b-col-xs-11 b-float-right-xs">
												<select name="" id="" class="m-selection">
													<option value="">選擇區域</option>
													<option value="">中山區</option>
													<option value="">中正區</option>
												</select>
											</div>
										</div>
										<div class="b-col-dt-8 b-col-xs-12 b-float-left-xs">
											<div class="m-box-holder b-col-dt-12 b-col-xs-12">
												<input type="text" class="m-inputbox required" name="address" placeholder="地址">
											</div>
											<span class="alert b-col-dt-12 b-col-xs-12 b-inline-dt"><label for="address" class="is-error b-text-warning"></label></span>
										</div>
									</div>
								</div>
								<div class="m-form b-col-dt-12 b-col-xs-12 b-clearfix">
									<em class="m-form-addon b-col-dt-12 b-col-xs-12 b-block">配送特殊需求</em>
									<div class="m-box-holder is-textarea b-col-dt-12 b-col-xs-12 b-block">
										<textarea name="" id="" cols="30" rows="3" class="m-textarea" placeholder="限100字以內"></textarea>
									</div>
									<p class="note"><em class="text">您購買的商品將於七日內送貨到府。</em></p>
								</div>
							</div>
							<div class="btn-wrap b-text-right">
								<a href="javascript:;" class="btn-link btn-sub b-col-xs-6">繼續購物</a>
								<button class="btn-link btn-main b-col-xs-6" type="submit" data-submit="">下一步</button>
							</div>
						</form>
					</div>
					<div class="m-cut-ft">
						<h3 class="ft-title b-text-center-xs">推薦商品</h3>
						<div class="recommended-list jQ-owl is-padding is-dark jQ-browserAdj" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="recommended-link jQ-adjHeight">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$9790</span>
									</div>
									<p class="btn-read-more"><em class="text">了解更多</em></p>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="recommended-link jQ-adjHeight">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
									<p class="btn-read-more"><em class="text">了解更多</em></p>
								</a>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="recommended-link jQ-adjHeight">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
									<p class="btn-read-more"><em class="text">了解更多</em></p>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="recommended-link jQ-adjHeight">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
									<p class="btn-read-more"><em class="text">了解更多</em></p>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="recommended-link jQ-adjHeight">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
									<p class="btn-read-more"><em class="text">了解更多</em></p>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="../online-shopping/online-shopping-detail.html" class="recommended-link jQ-adjHeight">
									<figure class="img-wrap">
										<img src="../../content/img/cart/recommended/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
									<p class="btn-read-more"><em class="text">了解更多</em></p>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/jquery.validation/jquery.validate.min.js?js=20160420_01"></script>
<script defer src="../../scripts/js/cart.js?JS=20160420_01"></script>
</html>