<div class="m-footer-copyright">
    <ul>
        <li><p><em class="b-hide-xs">Copyright</em> <i class="m-icon m-icon-copyright"></i> 2016 by ACADINE Technologies</p></li>
        <!-- <li>
            <a href="javascript:;"><em>Privacy Policy</em></a>
            <span>|</span>
            <a href="javascript:;"><em>Product Security</em></a>
        </li> -->
    </ul>
</div>
<!-- <ul class="m-footer-tools">
    <li><a href="https://www.facebook.com/Acadine-1029820997030396/?ref=hl" target="_blank"><i class="m-icon m-icon-facebook"></i></a></li>
    <li><a href="https://twitter.com/Acadine_Tech" target="_blank"><i class="m-icon m-icon-twitter"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCbKCAmPk4c_kdzoPbDgRNGQ" target="_blank"><i class="m-icon m-icon-youtube-play"></i></a></li>
</ul> -->