<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/online-shopping.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/online-shopping-detail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body online-shopping-detail show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="online-shopping.html?new-arrive" class="b-link"><em class="text">線上購物</em></a></li>
						<li class="list"><a href="online-shopping.html?new-arrive" class="b-link"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">BURBERRY羊毛喀什米爾風衣搭配皮草衣領</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="../act/act-list.html" class="b-link b-middle b-highlight"><i class="m-icon m-icon-firework"></i><em class="text">主題活動</em></a></li>
						<li class="list"><a href="online-shopping.html?new-arrive" class="b-link b-middle is-curr"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">配件</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">鞋子</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">兒童</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">食品&酒</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">居家寢飾</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">家用電器</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">伴手禮</em></a></li>
						<li class="list">
							<button class="catalog-more b-link b-middle"><em class="text">更多</em></button>
							<div class="catalog-slider">
								<div class="sub-catalog-wrap">
									<div class="sub-catalog jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">精品美妍</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">國際名品</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">玩美童樂</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">紳仕休閒</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">異國食藝</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">鮮活百匯</em></a></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="main-content">
					<section class="merchandise-info b-clearfix">
						<header class="info-header b-text-center-tm">
							<em class="item-brand">BURBERRY</em>
							<h2 class="item-name">羊毛喀什米爾風衣搭配皮草衣領</h2>
						</header>
						<div class="photo-album">
							<figure class="photo-hd img-wrap"><img src="../../content/img/online-shopping/detail/item/01.jpg" alt="羊毛喀什米爾風衣搭配皮草衣領"></figure>
							<div class="photo-slider jQ-owl" data-items="5" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="false" data-hover-pause="true">
								<div class="list">
									<figure class="img-wrap jQ-photo-switch is-curr" data-index=""><img src="../../content/img/online-shopping/detail/item/01.jpg" alt="羊毛喀什米爾風衣搭配皮草衣領"></figure>
								</div>
								<div class="list">
									<figure class="img-wrap jQ-photo-switch" data-index=""><img src="../../content/img/online-shopping/detail/item/02.jpg" alt="羊毛喀什米爾風衣搭配皮草衣領"></figure>
								</div>
								<div class="list">
									<figure class="img-wrap jQ-photo-switch" data-index=""><img src="../../content/img/online-shopping/detail/item/03.jpg" alt="羊毛喀什米爾風衣搭配皮草衣領"></figure>
								</div>
								<!-- <div class="list">
									<figure class="img-wrap jQ-photo-switch" data-index=""><img src="../../content/img/online-shopping/detail/item/04.jpg" alt="羊毛喀什米爾風衣搭配皮草衣領"></figure>
								</div>
								<div class="list">
									<figure class="img-wrap jQ-photo-switch" data-index=""><img src="../../content/img/online-shopping/detail/item/05.jpg" alt="羊毛喀什米爾風衣搭配皮草衣領"></figure>
								</div>
								<div class="list">
									<figure class="img-wrap jQ-photo-switch" data-index=""><img src="../../content/img/online-shopping/detail/item/06.jpg" alt="羊毛喀什米爾風衣搭配皮草衣領"></figure>
								</div>
								<div class="list">
									<figure class="img-wrap jQ-photo-switch" data-index=""><img src="../../content/img/online-shopping/detail/item/07.jpg" alt="羊毛喀什米爾風衣搭配皮草衣領"></figure>
								</div> -->
							</div>
						</div>
						<div class="item-detail">
							<div class="item-desc">
								<span class="item-tag">2016 秋冬新品上市</span>
								<span class="item-tag">可用購物金現折 200▼ 再送 2000 購物金</span>
								<span class="item-tag">相當於 2200-使用 200 購物金-再送 2000 購物金</span>
								<ul class="marketing-wording">
									<li class="list">格紋是永遠不敗的經典流行元素</li>
									<li class="list">舒適羊毛讓你穿出好質感</li>
									<li class="list">翻領造型增添時尚感</li>
								</ul>
							</div>
							<div class="gift b-clearfix">
								<h4 class="gift-title">贈品</h4>
								<div class="gift-info b-col-dt-6 b-col-xs-12 b-float-left-dt">
									<figure class="img-wrap">
										<img src="../../content/img/online-shopping/detail/gift/01.jpg" alt="特潤超導精華乳 5ml">
										<figcaption class="desc b-hide-text">特潤超導精華乳 5ml</figcaption>
									</figure>
									<span class="desc">特潤超導精華乳 5ml</span>
								</div>
								<div class="gift-info b-col-dt-6 b-col-xs-12 b-float-left-dt">
									<figure class="img-wrap">
										<img src="../../content/img/online-shopping/detail/gift/01.jpg" alt="特潤超導精華乳 5ml">
										<figcaption class="desc b-hide-text">特潤超導精華乳 5ml</figcaption>
									</figure>
									<span class="desc">特潤超導精華乳 5ml</span>
								</div>
							</div>
							<div class="item-price b-clearfix">
								<span class="item-code b-col-sm-6 b-float-left-sm">商品訂購代碼 5734080</span>
								<span class="original-price b-col-sm-3 b-text-right-sm b-float-left-sm b-text-right-xs">原價 $5,960</span>
								<em class="discount-price b-col-sm-3 b-text-right-sm b-float-left-sm b-text-right-xs">特惠價 $4,100</em>
							</div>
							<div class="item-selection">
								<div class="m-box-holder is-selector b-col-xs-12">
									<select name="color" id="" class="m-selection">
										<option value="">顏色</option>
									</select>
								</div>
								<div class="m-box-holder is-selector b-col-xs-12">
									<select name="style" id="" class="m-selection">
										<option value="">樣式</option>
									</select>
								</div>
								<div class="counter b-col-xs-12">
									<button class="btn-count jQ-calc" data-calc="minus">-</button>
									<div class="m-box-holder">
										<input type="text" class="m-inputbox" value="1">
									</div>
									<button class="btn-count jQ-calc" data-calc="plus">+</button>
								</div>
							</div>
							<div class="customer-actions">
								<span class="payment-info">付款方式：信用卡 / 歐付寶 ｜ 配送方式：宅配 / 到店取貨</span>
								<div class="btn-wrap">
									<button class="btn-link btn-like btn-cancel b-col-xs-12 jQ-like" onclick="common.btnFavorite(this, true);"><i class="m-icon m-icon-heart-2"></i><em class="text">加入我的最愛</em></button>
									<button class="btn-link btn-main b-col-xs-12"><i class="m-icon m-icon-shopping"></i><em class="text">放入購物車</em></button>
								</div>
							</div>
							<div class="community-actions b-text-right-dt b-text-center-tm">
								<a href="http://www.facebook.com/share.php?u=https://www.feds.com.tw/" class="btn-share jQ-share" target="_blank"><em class="text">分享</em><i class="m-icon m-icon-facebook"></i></a>
							</div>
						</div>
					</section>
					<div class="m-tab main-tab">
						<ul class="m-tab-wrap">
							<li class="tab-list">
								<button class="btn-tab jQ-tab merchandise-detail is-curr" data-main="0"><em class="text">商品說明</em></button>
							</li>
							<li class="tab-list">
								<button class="btn-tab jQ-tab size-info" data-main="0"><em class="text">尺寸表</em></button>
							</li>
							<li class="tab-list">
								<button class="btn-tab jQ-tab shopping-notes" data-main="0"><em class="text">購物須知</em></button>
							</li>
						</ul>
						<ul class="m-tab-content">
							<li class="content-list is-curr">
								<div class="editor-area b-normalize">
									<p style="color: #1a1a1a; font-size: 14px; line-height: 24px; text-align: center;">經典束帶風衣，採標誌性 Sandringham 修身剪裁，並搭配軍裝細節設計。<br>臻選義大利精紡羊毛及喀什米爾混紡精製而成，增添卓越保暖性。搭配可拆式狐狸毛衣領，彰顯風衣柔順觸感。<br><br></p>
									<img src="../../content/img/online-shopping/detail/item/00.jpg" alt="">
									<p style="color: #1a1a1a; font-size: 14px; line-height: 24px;"><br>風衣長度：85cm。此為英版 10 號長度，其他尺寸依比例而有些許差異<br>模特兒身高：179cm<br>外層：80% 羊毛，20% 喀什米爾，搭配小牛皮革與狐狸毛飾邊<br>100% 芬蘭畜養純正藍狐狸毛（學名：Vulpes lagopus）<br>領底：70% 羊毛，20% 聚醯胺纖維，10% 喀什米爾<br>襯裡：50% 醋酸纖維，50% 嫘縈纖維<br>雙排扣開襟<br>正面明鈕口袋<br>標誌性設計包括：肩章、鉤環扣衣領開口、槍墊、束帶袖口、D 形環束帶、格紋領底與擋風片<br>乾洗<br>物品 40209621</p>
								</div>
							</li>
							<li class="content-list">
								<div class="editor-area b-normalize">
									<table style="width: 100%; max-width: 900px; border-collapse: collapse; font-size: 14px;">
										<thead style="background: #e5e5e5;">
											<tr>
												<td style="width: 20%; height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">尺寸(cm)</td>
												<td style="width: 20%; height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">S</td>
												<td style="width: 20%; height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">M</td>
												<td style="width: 20%; height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">L</td>
												<td style="width: 20%; height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">XL</td>
											</tr>
										</thead>
										<tbody style="">
											<tr>
												<td style="height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">肩寬</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">39</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">40</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">41.5</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">41.5</td>
											</tr>
											<tr>
												<td style="height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">胸寬</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">49.5</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">51.5</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">51.5</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">51.5</td>
											</tr>
											<tr>
												<td style="height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">袖長</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">41.5</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">42.5</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">42.5</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">42.5</td>
											</tr>
											<tr>
												<td style="height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">袖口長</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">11</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">13</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">13</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">13</td>
											</tr>
											<tr>
												<td style="height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">衣長</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">67</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">69</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">69</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">69</td>
											</tr>
											<tr>
												<td style="height: 36px; border: 1px solid #bfbfbf; font-weight: bold; text-align: center;">下擺</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">49.5</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">51.5</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">51.5</td>
												<td style="height: 36px; border: 1px solid #bfbfbf; text-align: center;">51.5</td>
											</tr>
										</tbody>
									</table>
									<span style="line-height: 30px;">*本尺寸表會因布料彈性、水洗處理、測量起訖點、人為拉扯等因素，與實際商品尺寸略有誤差</span>
								</div>
							</li>
							<li class="content-list">
								<div class="editor-area b-normalize">
									<h2 style="margin-top: 0;"><b>退換貨</b></h2>
									<p style="color: #7d7d7d; font-size: 14px; line-height: 30px;">依照消費者保護法規定，消費者於本公司網站消費均享有商品到貨七日猶豫期(非試用期)，於前開期間內得不附理由退回商品或以書面通知本公司解除買賣契約，無須負擔任何費用或價款。<br>猶豫期間之退(換)貨商品必須是全新狀態且包裝完整 ( 包括且不限於產品、附件、包裝、廠商紙箱及所有附隨文件或資料之完整性 ) ，否則將影響退(換)貨權利。<br>部份不適用七天猶豫期商品 (請詳見說明)，請消費者購買前務必確認清楚。<br>消費者因檢查之必要手段或因不可歸責消費者之事由，致商品有毀損滅失或變更之情形，本公司雖不得拒絕消費者之退(換)貨，但得按商品毀損滅失程度收取回復原狀之費用。<br>會員以快樂購卡點數兌換本網站提供之商品或服務，一經兌換成功，將即時自快樂購點數帳戶中扣除點數，純點兌換所提供之商品或服務，請恕無法辦理取消訂單、退貨或要求退還快樂購卡點數，但若為商品本身或運送過程中所造成的瑕疵則不在此限。</p>
									<h2 style="margin-top: 0;"><b style="color: #000000;">付款運送</b></h2>
									<p style="color: #7d7d7d; font-size: 14px; line-height: 30px;">訂單以實際付款成功時間做為優先交易之判定，商品出貨順序係按照付款完成的順序，售完為止。</p>
									<p style="color: #7d7d7d; font-size: 14px; line-height: 30px;"><b style="color: #000000;">付款方式</b><br>宅配商品請您選擇信用卡線上刷卡<br>若本商品提供信用卡分期付款，請您依照不同期數可接受之銀行信用卡付費，謝謝。</p>
									<p style="color: #7d7d7d; font-size: 14px; line-height: 30px;"><b style="color: #000000;">商品運送</b><br>宅配商品將以宅配、貨運或郵局方式送達，運送區域僅限於台灣本島（外島地區的朋友請利用台灣親友地址做為收貨地址）。<br>商品將於3~5個工作天內（不含例假日）運送至指定地點</p>
									<p style="color: #7d7d7d; font-size: 14px; line-height: 30px;"><b style="color: #000000;">發票寄送</b><br>若您選擇三聯式或索取二聯式紙本發票，發票將於商品完成出貨15個工作天另行寄出，另約加2-7個工作天內送達，如遇國定假日將順延寄送。</p>
									<h2 style="margin-top: 0;"><b style="color: #000000;">客戶服務</b></h2>
									<p style="color: #7d7d7d; font-size: 14px; line-height: 30px;"><b style="color: #000000;">快樂購卡點數回點說明：</b><br>當您未完成交易時，系統最快於3小時內自動將您該筆已折抵的點數補回，如遇系統維護時間，系統最慢於48小時內自動將您該筆已折抵的點數補回。<br>當您選擇"取消訂單"時 ，系統會於7天內自動將您該筆已折抵的點數補回，以及扣回消費累積的點數。<br>當您選擇"退貨"時，系統會於退款完成後7天內自動將您該筆已折抵的點數補回，以及扣回消費累積的點數。</p>
									<p style="color: #7d7d7d; font-size: 14px; line-height: 30px;"><b style="color: #000000;">維修說明：</b><br>若商品已超過七天猶豫期的退換貨時效，商品僅提供維修服務，請恕不接受退換貨。<br>消費者可透過產品所附之保固卡、維修中心的原廠資訊或是維修聯絡資料，自行與保固或維修廠商諮詢維修相關資訊；若消費者遺失保固卡或不清楚維修廠商資訊，均可與本站客服中心聯絡，將由客服代為查詢維修資訊。<br>商品維修若採郵寄方式處理，一般是由消費者自行負擔寄回商品的運費，維修廠商則負擔寄還商品的運費，實際因維修產生的運費，均以保固或維修廠商所提供之服務為準。<br>一般商品送修時間大約7-14個工作天，實際將視個別商品的損害情形以及維修廠商判定維修時間為主。<br>消費者所寄回的維修商品若已經超過保固期或非商品本身造成之人為損壞而發生檢修費用，將由廠商告知報價後通知消費者，再由消費者決定是否繼續維修。<br>若您有任何疑問，可至<a href="javascript:;" style="color: #00a0e9;">常見問題</a>查詢</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="ranking-wrap hot-ranking">
						<h4 class="ranking-title b-text-center-xs">熱銷排行</h4>
						<div class="shopping-list jQ-owl" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="false" data-hover-pause="true">
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like show-text">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">已加入收藏</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
						</div>
					</div>
					<div class="ranking-wrap recommend-list">
						<h4 class="ranking-title b-text-center-xs">商品推薦</h4>
						<div class="shopping-list jQ-owl" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="false" data-hover-pause="true">
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like show-text">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">已加入收藏</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">黑色時尚名錶</p>
										<em class="main-info">
											<span class="bargain-price">$8880</span>
										</em>
										<span class="price">$9790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like is-add">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
							<div class="list">
								<a href="javascript:;" class="shopping-link">
									<figure class="img-wrap">
										<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
										<figcaption class="desc b-hide-text">NINE WEST</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">NINE WEST</h3>
										<p class="b-desc">真皮尖頭踝靴</p>
										<em class="main-info">
											<span class="bargain-price">$2880</span>
										</em>
										<span class="price">$5790</span>
									</div>
								</a>
								<a href="online-shopping-detail.html" class="btn-read-more"><em class="text">SHOW NOW</em><i class="m-icon m-icon-arrow-right"></i></a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/online-shopping-detail.js?JS=20160420_01"></script>
</html>