<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/online-shopping.css?CSS=20160420_01">
	<link rel="stylesheet" href="../../content/css/online-shopping-list.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body online-shopping-list show-header is-padding-arrow">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">線上購物</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">新品上架</em></a></li>
					</ol>
				</div>
				<div class="catalog-wrap">
					<ul class="catalog jQ-tag-select">
						<li class="list"><a href="javascript:;" class="b-link b-middle b-highlight"><i class="m-icon m-icon-firework"></i><em class="text">主題活動</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle is-curr"><em class="text">女士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">男士</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">配件</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">鞋子</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">兒童</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">美妝</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">食品&酒</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">居家寢飾</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">家用電器</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link b-middle"><em class="text">伴手禮</em></a></li>
						<li class="list">
							<button class="catalog-more b-link b-middle"><em class="text">更多</em></button>
							<div class="catalog-slider">
								<div class="sub-catalog-wrap">
									<div class="sub-catalog jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">精品美妍</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">國際名品</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">玩美童樂</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">紳仕休閒</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">異國食藝</em></a></div>
										<div class="list"><a href="javascript:;" class="b-link"><em class="text">鮮活百匯</em></a></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="kv">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item">
							<figure class="img-wrap">
								<img src="../../content/img/online-shopping/kv.jpg" alt="">
								<figcaption class="desc b-hide-text">全館沐浴品 50% OFF</figcaption>
							</figure>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=TaCdAscgpU0&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
					</div>
				</div>
				<div class="m-tab main-tab">
					<ul class="m-tab-wrap">
						<li class="tab-list">
							<button class="btn-tab jQ-tab is-curr" data-main="0"><i class="m-icon m-icon-brand"></i><em class="text">看所有品牌</em></button>
						</li>
						<li class="tab-list">
							<button class="btn-tab jQ-tab" data-main="0"><i class="m-icon m-icon-new-arrive-2"></i><em class="text">新品上架</em></button>
						</li>
						<li class="tab-list">
							<button class="btn-tab jQ-tab" data-main="0"><i class="m-icon m-icon-ranking"></i><em class="text">熱銷排行</em></button>
						</li>
					</ul>
					<ul class="m-tab-content">
						<li class="content-list is-curr">
							<div class="brand-store">
								<figure class="img-wrap">
									<img src="../../content/img/online-shopping/brand/burberry.jpg" alt="BURBERRY">
									<figcaption class="desc b-hide-text">BURBERRY</figcaption>
								</figure>
								<div class="brand-info">
									<em class="brand-name">BURBERRY</em>
									<p class="desc">總公司設於倫敦的 Burberry 創辦於 1856 年，目前在台灣的台北、台中、台南、高雄及新竹，擁有21家分店。這間位於台北精品地標 Taipei101 百貨四樓的台灣旗艦店由 Burberry 全球創意總監 Christopher Bailey 一手打造的，內外的設計概念來自 Burberry 的英倫風格，內外採用英國建材及裝飾主題。店外巨大的 9×5 LED 電視牆則是播放著由位於倫敦的 Burberry 全球總部所提供，精彩創新的 Burberry 服裝秀內容。</p>
								</div>
							</div>
							<div class="sort-selection">
								<em class="func-hint">
									<i class="m-icon m-icon-sort"></i>
									<span class="text">排序</span>
								</em>
								<div class="m-box-holder is-selector">
									<select name="" id="" class="m-selection">
										<option value="">價格低至高</option>
										<option value="">價格高至低</option>
										<option value="">日期新到舊</option>
										<option value="">日期舊到新</option>
									</select>
								</div>
							</div>
							<ul class="shopping-list jQ-browserAdj">
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/05.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/05.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
							</ul>
							<a href="javascript:;" class="btn-more b-link">MORE</a>
						</li>
						<li class="content-list">
							<div class="sort-selection">
								<em class="func-hint">
									<i class="m-icon m-icon-sort"></i>
									<span class="text">排序</span>
								</em>
								<div class="m-box-holder is-selector">
									<select name="" id="" class="m-selection">
										<option value="">價格低至高</option>
										<option value="">價格高至低</option>
										<option value="">日期新到舊</option>
										<option value="">日期舊到新</option>
									</select>
								</div>
							</div>
							<ul class="shopping-list jQ-browserAdj">
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/05.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/04.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/01.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like is-add">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/02.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">黑色時尚名錶</p>
											<em class="main-info">
												<span class="bargain-price">$8880</span>
											</em>
											<span class="price">$9790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/03.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
								<li class="list">
									<a href="online-shopping-detail.html" class="shopping-link jQ-adjHeight">
										<figure class="img-wrap">
											<img src="../../content/img/branch/shopping/05.png" alt="NINE WEST">
											<figcaption class="desc b-hide-text">NINE WEST</figcaption>
										</figure>
										<div class="item-info">
											<h3 class="info-title">NINE WEST</h3>
											<p class="b-desc">真皮尖頭踝靴</p>
											<em class="main-info">
												<span class="bargain-price">$2880</span>
											</em>
											<span class="price">$5790</span>
										</div>
										<p class="btn-read-more"><em class="text">了解更多</em></p>
									</a>
									<button class="btn-like jQ-like">
										<i class="m-icon m-icon-heart-2"></i>
										<em class="text b-hide-text">LIKE</em>
									</button>
								</li>
							</ul>
							<a href="javascript:;" class="btn-more b-link">MORE</a>
						</li>
						<li class="content-list">
							<div class="sort-selection">
								<em class="func-hint">
									<i class="m-icon m-icon-sort"></i>
									<span class="text">排序</span>
								</em>
								<div class="m-box-holder is-selector">
									<select name="" id="" class="m-selection">
										<option value="">價格低至高</option>
										<option value="">價格高至低</option>
										<option value="">日期新到舊</option>
										<option value="">日期舊到新</option>
									</select>
								</div>
							</div>
							<ul class="new-arrive-list">
								<li class="list main-intro">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/online-shopping/new-arrive/01.jpg" alt="輕盈防潑水羽絨外套">
											<figcaption class="desc b-hide-text">輕盈防潑水羽絨外套</figcaption>
										</figure>
									</a>
									<div class="item-info">
										<em class="sales-wording"><i class="m-icon m-icon-hot"></i><span class="text">熱銷 TOP</span></em>
										<a href="javascript:;" class="b-link">
											<h4 class="item-brand">茱莉歐美JILLSTREET</h4>
											<h3 class="item-name">輕盈防潑水羽絨外套</h3>
										</a>
										<em class="main-info">
											<span class="bargain-price">$847</span>
											<span class="acts">$1,314</span>
										</em>
										<!-- <div class="item-selection">
											<div class="m-box-holder is-selector b-col-dt-6 b-col-xs-6">
												<select name="size" id="" class="m-selection">
													<option value="">尺寸</option>
													<option value="">M</option>
													<option value="">L</option>
													<option value="">XL</option>
												</select>
											</div>
											<div class="m-box-holder is-selector b-col-dt-6 b-col-xs-6">
												<select name="color" id="" class="m-selection">
													<option value="">顏色</option>
													<option value="">紅</option>
													<option value="">黑</option>
													<option value="">紫</option>
												</select>
											</div>
										</div> -->
										<a href="javascript:;" class="btn-link"><em class="text">Shop now</em><i class="m-icon m-icon-arrow-right"></i></a>
									</div>
								</li>
								<li class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/online-shopping/new-arrive/02.jpg" alt="高機能羽絨棉三穿防風雨速暖沖鋒外套(情侶款)">
											<figcaption class="desc b-hide-text">高機能羽絨棉三穿防風雨速暖沖鋒外套(情侶款)</figcaption>
										</figure>
									</a>
									<div class="item-info">
										<em class="sales-wording"><i class="m-icon m-icon-hot"></i><span class="text">熱銷 TOP</span></em>
										<a href="javascript:;" class="b-link">
											<h4 class="item-brand">羅堡羅戶外</h4>
											<h3 class="item-name">高機能羽絨棉三穿防風雨速暖沖鋒外套(情侶款)</h3>
										</a>
										<em class="main-info">
											<span class="bargain-price">$847</span>
											<span class="acts">$1,314</span>
										</em>
										<a href="javascript:;" class="btn-link"><em class="text">Shop now</em><i class="m-icon m-icon-arrow-right"></i></a>
									</div>
								</li>
								<li class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/online-shopping/new-arrive/03.jpg" alt="立體翹臀搖粒絨彈力牛仔褲">
											<figcaption class="desc b-hide-text">立體翹臀搖粒絨彈力牛仔褲</figcaption>
										</figure>
									</a>
									<div class="item-info">
										<em class="sales-wording"><i class="m-icon m-icon-hot"></i><span class="text">熱銷 TOP</span></em>
										<a href="javascript:;" class="b-link">
											<h4 class="item-brand">nice ioi</h4>
											<h3 class="item-name">立體翹臀搖粒絨彈力牛仔褲</h3>
										</a>
										<em class="main-info">
											<span class="bargain-price">$690</span>
											<span class="acts">$1,314</span>
										</em>
										<a href="javascript:;" class="btn-link"><em class="text">Shop now</em><i class="m-icon m-icon-arrow-right"></i></a>
									</div>
									<i class="spec-tag">滿額禮</i>
								</li>
								<li class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/online-shopping/new-arrive/04.jpg" alt="韓版V型修身雙口袋針織長上衣(5色)">
											<figcaption class="desc b-hide-text">韓版V型修身雙口袋針織長上衣(5色)</figcaption>
										</figure>
									</a>
									<div class="item-info">
										<em class="sales-wording"><i class="m-icon m-icon-hot"></i><span class="text">熱銷 TOP</span></em>
										<a href="javascript:;" class="b-link">
											<h4 class="item-brand">MsMore</h4>
											<h3 class="item-name">韓版V型修身雙口袋針織長上衣(5色)</h3>
										</a>
										<em class="main-info">
											<span class="bargain-price">$690</span>
											<span class="acts">$1,314</span>
										</em>
										<a href="javascript:;" class="btn-link"><em class="text">Shop now</em><i class="m-icon m-icon-arrow-right"></i></a>
									</div>
									<i class="spec-tag">滿額禮</i>
								</li>
								<li class="list">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/online-shopping/new-arrive/05.jpg" alt="立領麻花雙口袋針織長上衣">
											<figcaption class="desc b-hide-text">立領麻花雙口袋針織長上衣</figcaption>
										</figure>
									</a>
									<div class="item-info">
										<em class="sales-wording"><i class="m-icon m-icon-hot"></i><span class="text">熱銷 TOP</span></em>
										<a href="javascript:;" class="b-link">
											<h4 class="item-brand">MsMore</h4>
											<h3 class="item-name">立領麻花雙口袋針織長上衣</h3>
										</a>
										<em class="main-info">
											<span class="bargain-price">$690</span>
											<span class="acts">$1,314</span>
										</em>
										<a href="javascript:;" class="btn-link"><em class="text">Shop now</em><i class="m-icon m-icon-arrow-right"></i></a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/masonry/masonry.pkgd.min.js"></script>
<script defer src="../../scripts/js/online-shopping.js?JS=20160420_01"></script>
</html>