<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/about.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body about show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">關於遠東百貨</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">關於</em>遠東百貨</span>
					<span class="sub-lang">Business information</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="m-tab main-tab">
							<ul class="m-tab-wrap">
								<li class="tab-list">
									<button class="btn-tab jQ-tab is-curr"><i class="m-icon m-icon-logo-wording"></i><em class="text">遠東百貨介紹</em></button>
								</li>
								<li class="tab-list">
									<button class="btn-tab jQ-tab matter"><i class="m-icon m-icon-book"></i><em class="text">大事紀</em></button>
								</li>
								<li class="tab-list">
									<button class="btn-tab jQ-tab sunny-baby"><i class="m-icon m-icon-sunny"></i><em class="text">太陽寶寶</em></button>
								</li>
							</ul>
							<ul class="m-tab-content">
								<li class="content-list is-curr">
									<div class="m-section">
										<figure class="img-wrap">
											<img src="../../content/img/about/main-img.jpg" alt="">
										</figure>
										<div class="info-content">
											<p class="desc">遠東百貨目前在台灣有十家分公司，賣場以寬敞、舒適為規畫的原則，盡量讓消費者在逛街購物的同時，能有輕鬆、愉悅的休閒感受。</p>
											<p class="desc">除了時尚氣氛、舒適環境之外，遠東百貨在新推出的店點特別著重主題式大型造景。Top City台中大遠百11、12樓運用六台高流明的投影機，拼接成12米寬，9米高，近三層樓高的「大型熱帶擬真海洋」，可與消費者做即時互動，彷彿沉浸在真實的海洋世界中。</p>
											<p class="desc">Mega City板橋大遠百引人目光的焦點在9樓，斥資上億元打造的威尼斯水都造景，把300坪大、挑空3層樓高的空間保留給消費大眾休憩。呈現水都風情，打造水道、引進Gondola「貢多拉」浪漫小船，沿著威尼斯廣場安排了將近300個咖啡座，盡享潺潺流水的浪漫風情，可以在透明落地玻璃帷幕前眺望新板特區建築之美，更顯悠閒。</p>
										</div>
									</div>
								</li>
								<li class="content-list">
									<div class="m-section">
										<div class="info-content">
											<p class="desc">1967年成立的遠東百貨，為國內唯一上市的連鎖百貨公司，以豐富的專業知識搭配靈活的行銷策略，展現求新求變的商品內涵，不斷引領市場趨勢。</p>
											<p class="desc">近年來遠東百貨積極轉型，引進全新概念的FE21‘，結合購物、娛樂、生活、餐飲及文化等機能，提供顧客舒適自在的購物休閒享受。2011年底開幕的板橋大遠百、台中大遠百、新竹巨城購物中心總樓地板面積近20萬坪，引進歐美賣場設計的規畫元素，結合高級超市、餐飲、娛樂、生活、文化… 等機能，擺脫制式傳統的百貨經營概念，提供顧客現代感、兼具娛樂的購物體驗。</p>
										</div>
										<ol class="matter-list">
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">2011</em>
												<ul class="event-list">
													<li class="list">台中大遠百Top City(台中分公司)開幕</li>
													<li class="list">板橋大遠百Mega City(板橋新站分公司)開幕</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">2009</em>
												<ul class="event-list">
													<li class="list">花蓮和平分公司開幕（原花蓮分公司結束營業）</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">2002</em>
												<ul class="event-list">
													<li class="list">台南大遠百FE21’MegA（台南成功分公司）改裝開幕</li>
													<li class="list">台南大遠百FE21’MegA（台南公園分公司）改建完成，休閒娛樂大樓開幕</li>
													<li class="list">新竹大遠百FE21’MegA（新竹分公司）開幕（原新竹分公司結束營業）</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">2001</em>
												<ul class="event-list">
													<li class="list">高雄大遠百FE21’MegA（高雄分公司；原高雄站前分公司結束營業）</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">2000</em>
												<ul class="event-list">
													<li class="list">板橋分公司FE21’開幕（原板橋中山路分公司結束營業）</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1999</em>
												<ul class="event-list">
													<li class="list">桃園分公司FE21’喬遷站前大樓全新擴大營業（原桃園分公司結束營業）</li>
													<li class="list">台南分公司（公園路）結束營業，拆除重建百貨娛樂大樓</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1998</em>
												<ul class="event-list">
													<li class="list">板橋中山分公司改裝全新開幕（原板橋分公司結束營業）</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1997</em>
												<ul class="event-list">
													<li class="list">成立台南成功分公司</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1996</em>
												<ul class="event-list">
													<li class="list">成立高雄站前分公司</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1993</em>
												<ul class="event-list">
													<li class="list">成立板橋中山分公司</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1991</em>
												<ul class="event-list">
													<li class="list">成立花蓮分公司</li>
													<li class="list">嘉義分公司喬遷垂楊路自建大樓，全新擴大開幕（原嘉義國華街分公司結束營業）</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1987</em>
												<ul class="event-list">
													<li class="list">成立新竹分公司</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1984</em>
												<ul class="event-list">
													<li class="list">成立桃園分公司</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1983</em>
												<ul class="event-list">
													<li class="list">成立板橋分公司</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1982</em>
												<ul class="event-list">
													<li class="list">成立嘉義分公司（國華街）</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1976</em>
												<ul class="event-list">
													<li class="list">成立台南分公司（公園路）</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1972</em>
												<ul class="event-list">
													<li class="list">成立台北寶慶分公司（將永綏路分公司遷入合併營業）</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1969</em>
												<ul class="event-list">
													<li class="list">成立台中分公司（於1990年結束營業）</li>
												</ul>
											</li>
											<li class="matter-info">
												<em class="time b-middle b-inline b-text-center">1967</em>
												<ul class="event-list">
													<li class="list">於台北市永綏路籌設遠東百貨股份有限公司</li>
												</ul>
											</li>
										</ol>
									</div>
								</li>
								<li class="content-list">
									<div class="m-section">
										<div class="mascot-info">
											<figure class="img-wrap main-img">
												<img src="../../content/img/about/mascot-01.png" alt="太陽寶寶">
											</figure>
											<div class="mascot-desc">
												<h3 class="mascot-title mascot-name">太陽寶寶</h3>
												<ul class="mascot-file">
													<li class="list">英文名字：SunnyBaby</li>
													<li class="list">生日：8/31</li>
													<li class="list">身高：168cm</li>
													<li class="list">體重：21個購物紙袋重</li>
													<li class="list">性格：天真無邪、開朗善良、笑容燦爛， 有用不完的活力</li>
													<li class="list">興趣：逛街、看電影、享用美食專長：樂於助人、解決各種疑問</li>
													<li class="list">特色：超級暖男-笑咪咪、無時無刻釋放正面能量、晴天時心情特別好</li>
													<li class="list">最喜歡的事：到處旅遊玩樂、購物</li>
													<li class="list">喜歡的食物：大胃王寶寶，中式或異國風料理都 是他的最愛</li>
													<li class="list">最喜歡的一段話：幸福滿溢，處處分享！</li>
												</ul>
											</div>
										</div>
										<div class="mascot-info">
											<div class="desc-owl-list">
												<div class="desc-list jQ-passive-owl" data-items="1" data-ctrl="false" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
													<div class="item">
														<div class="mascot-desc">
															<h3 class="mascot-title">家族成員</h3>
															<h4 class="role-desc">寶慶店 Young寶寶</h4>
															<p class="desc">寶慶店位於西門町一帶，充滿年輕潮流感，連太陽寶寶也忍不住大買特買！！ 裝扮也因此跟著走young  style~ 時時掛著陽光又有活力的笑容，隨身帶著相機記錄周遭的人文薈萃， 分享給每一位來訪寶慶店的旅人， 彼此愛上這個商圈的美好～</p>
														</div>
													</div>
													<div class="item">
														<div class="mascot-desc">
															<h3 class="mascot-title">家族成員2</h3>
															<h4 class="role-desc">寶慶店 Young寶寶</h4>
															<p class="desc">寶慶店位於西門町一帶，充滿年輕潮流感，連太陽寶寶也忍不住大買特買！！ 裝扮也因此跟著走young  style~ 時時掛著陽光又有活力的笑容，隨身帶著相機記錄周遭的人文薈萃， 分享給每一位來訪寶慶店的旅人， 彼此愛上這個商圈的美好～</p>
														</div>
													</div>
													<div class="item">
														<div class="mascot-desc">
															<h3 class="mascot-title">家族成員3</h3>
															<h4 class="role-desc">寶慶店 Young寶寶</h4>
															<p class="desc">寶慶店位於西門町一帶，充滿年輕潮流感，連太陽寶寶也忍不住大買特買！！ 裝扮也因此跟著走young  style~ 時時掛著陽光又有活力的笑容，隨身帶著相機記錄周遭的人文薈萃， 分享給每一位來訪寶慶店的旅人， 彼此愛上這個商圈的美好～</p>
														</div>
													</div>
												</div>
											</div>
											<div class="mascot-owl-list b-clearfix">
												<div class="mascot-list jQ-passive-owl" data-items="1" data-ctrl="false" data-dots="false" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
													<div class="item">
														<figure class="img-wrap">
															<img src="../../content/img/about/mascot-02.png" alt="寶慶店 Young寶寶">
														</figure>
													</div>
													<div class="item">
														<figure class="img-wrap">
															<img src="../../content/img/about/mascot-03.png" alt="寶慶店 Young寶寶">
														</figure>
													</div>
													<div class="item">
														<figure class="img-wrap">
															<img src="../../content/img/about/mascot-04.png" alt="寶慶店 Young寶寶">
														</figure>
													</div>
												</div>
											</div>
											<div class="owl-tools">
												<button class="btn-owl-controler btn-prev jQ-btn-next b-inline"></button>
												<button class="btn-owl-controler btn-next jQ-btn-prev b-inline"></button>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/about.js?JS=20160420_01"></script>
</html>