<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body affiliates show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">相關</em>連結</span>
					<span class="sub-lang">affiliates</span>
				</h2>
				<div class="content-wrap b-clearfix">
					<div class="main-cut">
						<ul class="affiliates-list b-clearfix">
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/01.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/02.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/03.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/04.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/05.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/06.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/07.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/08.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/09.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/10.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/11.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/12.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/13.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/14.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/15.png" alt=""></figure>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>