<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body affiliates show-header">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/index/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="location-selecter b-col-md-6 b-middle">
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="location-list">
								<li class="list title">選擇分店</li>
								<li class="list"><a href="branch.html" class="b-link">寶慶遠百</a></li>
								<li class="list is-selected"><a href="branch.html" class="b-link">板橋大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">板橋遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">桃園遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">新竹大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台中大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">嘉義遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台南大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">高雄大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">花蓮遠百</a></li>
								<li class="list back"><a href="index.html" class="b-link">返回遠百首頁</a></li>
							</ul>
						</div>
					</div>
					<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
						<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
						<div class="language-list">
							<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
							<button class="btn-lang is-curr">繁中</button>
							<button class="btn-lang">簡中</button>
						</div>
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="visitor-center">
								<li class="list title">Visitor Center</li>
								<li class="list" data-lang="en"><a href="javascript:;" class="b-link">EN</a></li>
								<li class="list" data-lang="jp"><a href="javascript:;" class="b-link">JP</a></li>
								<li class="list" data-lang="cn"><a href="javascript:;" class="b-link">CN</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu"></div>
			</nav>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">相關</em>連結</span>
					<span class="sub-lang">affiliates</span>
				</h2>
				<div class="content-wrap b-clearfix">
					<div class="main-cut">
						<ul class="affiliates-list b-clearfix">
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/01.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/02.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/03.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/04.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/05.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/06.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/07.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/08.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/09.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/10.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/11.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/12.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/13.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/14.png" alt=""></figure>
								</a>
							</li>
							<li class="list b-col-md-5d b-col-sm-3 b-col-xs-4">
								<a href="javascript:;" class="b-link" target="_blank">
									<figure class="img-wrap b-middle"><img src="../../content/img/about/affiliates/15.png" alt=""></figure>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>