<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body contact-us-sent show-header">
		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/index/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<div class="shortcut-wrap">
					<div class="quick-list">
						<div class="location-selecter b-col-md-6 b-middle">
							<div class="m-replace-select jQ-select">
								<span class="m-selected-item b-hide-xs"></span>
								<ul class="location-list">
									<li class="list title">選擇分店</li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">寶慶遠百</a></li>
									<li class="list is-selected"><a href="../home/branch.html" class="b-link b-block">板橋大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">板橋遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">桃園遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">新竹大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">台中大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">嘉義遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">台南大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">高雄大遠百</a></li>
									<li class="list"><a href="../home/branch.html" class="b-link b-block">花蓮遠百</a></li>
									<li class="list back"><a href="../home/index.html" class="b-link b-block">返回遠百首頁</a></li>
								</ul>
							</div>
						</div>
						<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
							<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
							<div class="language-list">
								<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
								<button class="btn-lang is-curr">繁中</button>
								<button class="btn-lang">簡中</button>
							</div>
							<div class="m-replace-select jQ-select">
								<span class="m-selected-item b-hide-xs"></span>
								<ul class="visitor-center">
									<li class="list title">Visitor Center</li>
									<li class="list" data-lang="en"><a href="javascript:;" class="b-link b-block">EN</a></li>
									<li class="list" data-lang="jp"><a href="javascript:;" class="b-link b-block">JP</a></li>
									<li class="list" data-lang="cn"><a href="javascript:;" class="b-link b-block">CN</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<nav class="l-nav">
					<div class="main-menu"></div>
				</nav>
				<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
			</div>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">聯絡</em>我們</span>
					<span class="sub-lang">contact us</span>
				</h2>
				<div class="content-wrap b-clearfix">
					<div class="main-cut b-text-center">
						<div class="main-msg b-block">
							<i class="m-icon m-icon-checked b-block"></i>
							<span class="text">填寫完成！</span>
						</div>
						<em class="guest-msg b-col-dt-6 b-col-xs-12 b-text-left b-inline">您的問題已順利送出！感謝您對遠東百貨的支持與指教，我們將於三~五個工作天內回覆您，如之後仍未收到回覆，建議您撥打客服專線，將由專人為您服務，謝謝！</em>
						<em class="guest-msg b-col-dt-10 b-col-xs-12 b-text-center b-inline">您可以直接前往<a href="javascript:;" class="b-link">遠東百貨首頁</a>，或重新<a href="javascript:;" class="b-link">登入遠東百貨</a>。</em>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>