<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body contact-us show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">聯絡</em>我們</span>
					<span class="sub-lang">contact us</span>
				</h2>
				<div class="content-wrap b-clearfix">
					<div class="main-cut">
						<em class="text guest-msg b-col-dt-12 b-col-xs-12 b-text-center b-block">歡迎您來到遠東百貨，若 <a href="../member/faq.html" class="b-link">常見問題</a> 無法解決您的問題，歡迎您提出疑問，將由專人儘速為您解答，謝謝。</em>
						<form action="contact-us-sent.html">
							<ul class="info-form">
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<span class="text b-text-right-dt b-text-left-xs b-col-md-2 b-col-tm-3 b-col-xs-12 b-float-left is-reqired">問題類別</span>
									<div class="value-form b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-left">
										<div class="m-lab b-col-dt-4 b-col-xs-12 b-float-left">
											<div class="m-box-holder b-col-dt-9 b-col-xs-12 b-float-left is-selector">
												<select name="qtype" id="" class="m-selection b-col-dt-12 b-col-xs-12 required" data-msg="類別必填！">
													<option value="">請選擇</option>
													<option value="卡友相關">卡友相關</option>
												</select>
											</div>
											<span class="alert b-col-dt-9 b-col-xs-12 b-float-left-dt b-block-xs b-text-center"><label for="qtype" class="is-error b-text-warning"></label></span>
										</div>
									</div>
								</li>
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<span class="text b-text-right-dt b-text-left-xs b-col-md-2 b-col-tm-3 b-col-xs-12 b-float-left is-reqired">選擇店別</span>
									<div class="value-form b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-left">
										<div class="m-lab b-col-dt-4 b-col-xs-12 b-float-left">
											<div class="m-box-holder b-col-dt-9 b-col-xs-12 b-float-left is-selector">
												<select name="store" id="" class="m-selection b-col-dt-12 b-col-xs-12 required" data-msg="店別必填！">
													<option value="">請選擇</option>
													<option value="板橋大遠百">板橋大遠百</option>
													<option value="寶慶遠百">寶慶遠百</option>
													<option value="板橋遠百">板橋遠百</option>
													<option value="桃園遠百">桃園遠百</option>
												</select>
											</div>
											<span class="alert b-col-dt-9 b-col-xs-12 b-float-left-dt b-block-xs b-text-center"><label for="store" class="is-error b-text-warning"></label></span>
										</div>
									</div>
								</li>
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<span class="text b-text-right-dt b-text-left-xs b-col-md-2 b-col-tm-3 b-col-xs-12 b-float-left is-reqired">姓名</span>
									<div class="value-form b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-left">
										<label class="m-lab b-col-dt-6 b-col-xs-12 b-float-left">
											<div class="m-box-holder b-col-dt-12 b-col-xs-12">
												<input type="text" name="username" class="m-inputbox required" placeholder="" data-msg="姓名必填！">
											</div>
											<span class="alert b-col-dt-12 b-col-xs-12 b-inline-dt b-block-xs b-text-center"><label for="username" class="is-error b-text-warning"></label></span>
										</label>
									</div>
								</li>
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<span class="text b-text-right-dt b-text-left-xs b-col-md-2 b-col-tm-3 b-col-xs-12 b-float-left is-reqired">性別</span>
									<div class="value-form b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-left b-clearfix">
										<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6 b-float-left b-text-center-dt b-text-left-xs">
											<div class="m-box-holder is-radio">
												<input type="radio" name="gender" class="m-radio required" value="male" data-msg="性別為必填！">
											</div>
											<em class="text">男</em>
										</label>
										<label class="m-lab jQ-radio b-col-dt-2 b-col-xs-6 b-float-left b-text-center-dt b-text-left-xs">
											<div class="m-box-holder is-radio">
												<input type="radio" name="gender" class="m-radio" value="female">
											</div>
											<em class="text">女</em>
										</label>
										<span class="alert b-col-dt-4 b-col-xs-12 b-block-xs b-text-center"><label for="gender" class="is-error b-text-warning"></label></span>
									</div>
								</li>
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<span class="text b-text-right-dt b-text-left-xs b-col-md-2 b-col-tm-3 b-col-xs-12 b-float-left is-reqired">電子郵件</span>
									<div class="value-form b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-left b-middle">
										<label class="m-lab b-col-dt-6 b-col-xs-12">
											<div class="m-box-holder b-col-dt-12 b-col-xs-12">
												<input type="email" name="email" class="m-inputbox required" placeholder="" data-msg="E-Mail為必填" data-msg-email="E-Mail輸入錯誤！請重新輸入">
											</div>
											<span class="alert b-col-dt-12 b-col-xs-12 b-inline-dt b-block-xs b-text-center"><label for="email" class="is-error b-text-warning"></label></span>
										</label>
									</div>
								</li>
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<span class="text b-text-right-dt b-text-left-xs b-col-md-2 b-col-tm-3 b-col-xs-12 b-float-left is-reqired">行動電話</span>
									<div class="value-form b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-left">
										<label class="m-lab b-col-dt-6 b-col-xs-12 b-float-left">
											<div class="m-box-holder b-col-dt-12 b-col-xs-12">
												<input type="tel" name="phone" class="m-inputbox required phone" placeholder="" data-msg="行動電話為必填" data-msg-phone="行動電話輸入錯誤！">
											</div>
											<span class="alert b-col-dt-12 b-col-xs-12 b-inline-dt b-block-xs b-text-center"><label for="phone" class="is-error b-text-warning"></label></span>
										</label>
									</div>
								</li>
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<span class="text b-text-right-dt b-text-left-xs b-col-md-2 b-col-tm-3 b-col-xs-12 b-float-left is-reqired">主旨</span>
									<div class="value-form b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-left">
										<label class="m-lab b-col-dt-6 b-col-xs-12 b-float-left">
											<div class="m-box-holder b-col-dt-12 b-col-xs-12">
												<input type="text" name="qtitle" class="m-inputbox required" placeholder="" data-msg="主旨必填！">
											</div>
											<span class="alert b-col-dt-12 b-col-xs-12 b-inline-dt b-block-xs b-text-center"><label for="qtitle" class="is-error b-text-warning"></label></span>
										</label>
									</div>
								</li>
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<span class="text b-text-right-dt b-text-left-xs b-col-md-2 b-col-tm-3 b-col-xs-12 b-float-left is-reqired">您的意見</span>
									<div class="value-form b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-left">
										<label class="m-lab b-col-dt-10 b-col-xs-12 b-float-left">
											<div class="m-box-holder b-col-dt-12 b-col-xs-12">
												<textarea type="text" name="opinion" class="m-textarea required" placeholder="" data-msg="您的意見必填！"></textarea>
											</div>
											<span class="alert b-col-dt-12 b-col-xs-12 b-block-xs b-text-center"><label for="opinion" class="is-error b-text-warning"></label></span>
										</label>
									</div>
								</li>
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<span class="text b-text-right-dt b-text-left-xs b-col-md-2 b-col-tm-3 b-col-xs-12 b-float-left is-reqired">驗證碼</span>
									<div class="value-form b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-left">
										<label class="m-lab b-col-dt-6 b-col-xs-12 b-float-left">
											<div class="m-box-holder b-col-dt-12 b-col-xs-12">
												<input type="text" name="verification" class="m-inputbox required" placeholder="請輸入驗證碼(不分大小寫)" data-msg="驗證碼為必填">
											</div>
											<span class="alert b-col-dt-12 b-col-xs-12 b-block-xs b-text-center"><label for="verification" class="is-error b-text-warning"></label></span>
										</label>
										<div class="verification b-col-dt-4 b-col-xs-12 b-float-left b-text-left">
											<figure class="img-wrap b-inline">
												<img src="../../content/img/verification/01.jpg" alt="">
											</figure>
											<button class="b-link b-inline">更新驗證碼</button>
										</div>
									</div>
								</li>
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<div class="value-form b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-right">
										<label class="m-lab jQ-checkbox b-col-dt-12 b-col-xs-12">
											<div class="m-box-holder is-checkbox">
												<input type="checkbox" name="agreement" class="m-checkbox required" data-msg="請勾選同意">
											</div>
											<span class="text">本人同意遠東百貨得使用上述填寫資料以便聯繫本人或回覆本人之問題或意見</span>
											<span class="alert b-col-dt-12 b-col-xs-12 b-block-xs b-text-center-xs"><label for="agreement" class="is-error b-text-warning"></label></span>
										</label>
									</div>
								</li>
								<li class="list b-col-dt-12 b-col-xs-12 b-clearfix">
									<div class="btn-wrap b-col-md-10 b-col-tm-9 b-col-xs-12 b-float-right-dt">
										<div class="b-col-dt-10">
											<button class="btn-link b-col-dt-5 btn-light b-col-xs-6 b-float-left jQ-clear">重填</button>
											<button class="btn-link b-col-dt-6 b-col-xs-6 b-float-right" type="submit" data-submit="">確認送出</button>
										</div>
									</div>
								</li>
							</ul>
						</form>
						<div class="precautions">
							<p class="b-desc">注意事項：</p>
							<ol class="order-list is-decimal">
								<li class="list">本網頁為遠東百貨客戶服務『聯絡我們』，僅限欲聯繫遠東百貨相關服務使用。</li>
								<li class="list">請同意授權本單位將您的個資交付內部其他單位，此個資包含：姓名、聯絡電話及E-Mail。除本公司之外，相關個資將不會交付給任何其他機構或第三人。</li>
								<li class="list">您的個資僅作為遠東百貨服務使用，資料將永久保留。若對於本公司留存之您的個資有查詢、修改、製作副本或刪除的需求，請洽客服中心申請方式。</li>
								<li class="list">若不同意並填寫必要的資料，恕無法提供本項服務。</li>
								<li class="list">本人已詳細並確認充分理解本段注意事項之文字內容</li>
							</ol>
						</div>
						<h3 class="sub-title">您也可以利用以下客服專線與我們聯繫</h3>
						<ul class="branch-info-list b-clearfix">
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<em class="branch-name b-block">寶慶遠百</em>
								<span class="text b-block">服務電話：<a href="tel:0223816088#9" class="tel-link">(02)2381-6088 #9</a></span>
								<span class="text b-block">免付費專線電話：<a href="tel:0800231022" class="tel-link">0800-231-022</a></span>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<em class="branch-name b-block">板橋遠百</em>
								<span class="text b-block">服務電話：<a href="tel:0289525678" class="tel-link">(02)8952-5678</a></span>
								<span class="text b-block">免付費專線電話：<a href="tel:0800048999" class="tel-link">0800-048-999</a></span>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<em class="branch-name b-block">板橋大遠百</em>
								<span class="text b-block">服務電話：<a href="tel:0277054168" class="tel-link">02-77054168</a></span>
								<span class="text b-block">免付費專線電話：<a href="tel:0809081968  " class="tel-link">0809-081-968  </a></span>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<em class="branch-name b-block">桃園遠百</em>
								<span class="text b-block">服務電話：<a href="tel:033359811" class="tel-link">03-3359811</a></span>
								<span class="text b-block">免付費專線電話：<a href="tel:0800311140" class="tel-link">0800-311-140</a></span>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<em class="branch-name b-block">新竹大遠百</em>
								<span class="text b-block">服務電話：<a href="tel:035233121" class="tel-link">03-5233121</a></span>
								<span class="text b-block">免付費專線電話：<a href="tel:0800351818 " class="tel-link">0800-351-818 </a></span>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<em class="branch-name b-block">台中大遠百</em>
								<span class="text b-block">服務電話：<a href="tel:0437022168" class="tel-link">04-3702-2168</a></span>
								<span class="text b-block">免付費專線電話：<a href="tel:0809082288" class="tel-link">0809-082-288</a></span>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<em class="branch-name b-block">嘉義遠百</em>
								<span class="text b-block">服務電話：<a href="tel:052365137" class="tel-link">05-2365137</a></span>
								<span class="text b-block">免付費專線電話：<a href="tel:0800523510" class="tel-link">0800-523-510</a></span>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<em class="branch-name b-block">台南大遠百</em>
								<span class="text b-block">成功店服務電話：<a href="tel:062098999#9" class="tel-link">(06)2098999#9</a></span>
								<span class="text b-block">服務電話：<a href="tel:0800008777" class="tel-link">0800-008-777</a></span>
								<span class="text b-block">免付費專線電話：<a href="tel:062259101" class="tel-link">(06)2259101</a></span>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<em class="branch-name b-block">高雄大遠百</em>
								<span class="text b-block">服務電話：<a href="tel:079728888" class="tel-link">07-972-8888</a></span>
								<span class="text b-block">免付費專線電話：<a href="tel:0800523510" class="tel-link">0800-523-510</a></span>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<em class="branch-name b-block">花蓮遠百</em>
								<span class="text b-block">服務電話：<a href="tel:038355588" class="tel-link">03-835-5588</a></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/plugin/jquery.validation/jquery.validate.min.js?js=20160420_01"></script>
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>