<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body contact-us-sent show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">聯絡</em>我們</span>
					<span class="sub-lang">contact us</span>
				</h2>
				<div class="content-wrap b-clearfix">
					<div class="main-cut b-text-center">
						<div class="main-msg b-block">
							<i class="m-icon m-icon-checked b-block"></i>
							<span class="text">填寫完成！</span>
						</div>
						<em class="guest-msg b-col-dt-6 b-col-xs-12 b-text-left b-inline">您的問題已順利送出！感謝您對遠東百貨的支持與指教，我們將於三~五個工作天內回覆您，如之後仍未收到回覆，建議您撥打客服專線，將由專人為您服務，謝謝！</em>
						<em class="guest-msg b-col-dt-10 b-col-xs-12 b-text-center b-inline">您可以直接前往<a href="javascript:;" class="b-link">遠東百貨首頁</a>，或重新<a href="javascript:;" class="b-link">登入遠東百貨</a>。</em>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>