<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body member-rules show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">會員</em>權益</span>
					<span class="sub-lang">member rules</span>
				</h2>
				<div class="content-wrap b-clearfix">
					<div class="main-cut b-clearfix">
						<h3 class="sub-title">網站約定條款</h3>
						<ol class="order-list is-cjk-ideographic">
							<li class="list">基本說明<br>
								<ol class="order-list is-decimal">
									<li class="list">當您使用本網站時，即表示您已閱讀、瞭解並同意接受本購物條款所訂的所有內容。本購物條款得隨時修訂並公告於本網站，修訂後的內容自公告時起生效。</li>
									<li class="list">若您未滿二十歲，您應於您的家長（或監護人）閱讀、瞭解並同意本購物條款的所有內容及其後修改變更後，再使用或繼續使用本網站。當您使用或繼續使用本網站時，即推定您的家長（或監護人）已閱讀、瞭解並同意接受本購物條款所有內容及其後修改變更。</li>
									<li class="list">當您使用或繼續使用本網站時，即表示您同意以電子文件作為意思表示的方法。</li>
								</ol>
							</li>
							<li class="list">網路交易<br>
								<ol class="order-list is-decimal">
									<li class="list">本網站上所刊登的商品名稱、價格、內容、規格、型號及其它相關資訊等僅為要約引誘，您如完成訂購程序，就表示向本網站提出要約，願意依照本購物條款及相關網頁上所載明的交易條件或限制訂購商品，在未得本網站承諾以前，本網站不受該要約拘束。</li>
									<li class="list">當您完成線上訂購程序以後（提出要約），本網站會自動經由電子郵件寄發通知，但是該項通知只是代表已經收到您的訂購訊息，不代表雙方交易已經完成或契約已經成立，本網站仍保留是否接受該訂單的權利。</li>
									<li class="list">若交易條件有誤、商品無存貨、或有本網站無法接受訂單的情形，本網站將於二個工作天內告知您取消交易／交易不成立並取消信用卡請款作業。</li>
									<li class="list">本網站目前僅提供信用卡付款方式。您於線上輸入信用卡相關資訊，目的是為向發卡機構確認信用卡的有效性及取得交易授權，不表示您已經付款、也不代表交易已經完成或契約成立，本網站保留是否接受此筆訂單的權利；在本網站接受您的訂購以前，您無需付款，本網站不會請領信用卡交易款項，該筆交易金額也不會出現在您的信用卡帳單中。</li>
									<li class="list">線上刷卡若因信用卡額度不足或系統因素等問題，導致發生當次訂購的商品無法全部取得銀行授權時，本網站將會就部份授權商品的訂單繼續處理若您就其他商品仍有需要時，請重新訂購。但若當次訂購享有滿額／滿件優惠或折扣、贈品時，本網站將視為授權全部失敗，請您重新選擇付款方式。</li>
									<li class="list">本網站所販售商品無法跨店購買／合併取貨或出貨，您若需跨店購買商品需分開下單，屆時將通知您分別取貨或各分店將各自出貨。</li>
									<li class="list">您可隨時至本網站「訂單查詢」確認訂單最新進度（需輸入您的訂單編號及E-mail），若您有取消訂單／退貨／換貨等需求時，請參閱下列相關說明</li>
								</ol>
							</li>
							<li class="list">訂單確認<br>本網站將在確認交易條件無誤、付款完成且仍有庫存後，於商品備貨完成時（實際備貨天數依現場備貨狀況而定）依下列方式出貨：
								<em class="b-bold b-block">到店取貨</em>
								<ol class="order-list is-decimal">
									<li class="list">請在收到本網站發出的取貨通知後，於指定時間內前往指定分店取貨。</li>
									<li class="list">取貨地點為指定分店的客服中心，屆時請出示取貨通知（或告知訂單編號）及身分證件予服務人員，將有專人協助您完成取貨程序。</li>
									<li class="list">發票將於您取貨完成時一併提供。</li>
									<li class="list">經通知取貨後7日內若您仍未到店取貨，本網站將自動取消該筆訂單，並寄發通知告知您取消交易及全額退款。</li>
								</ol>
								<em class="b-bold b-block">宅配寄送</em>
								<ol class="order-list is-decimal">
									<li class="list">我們會以電子郵件告知您相關出貨訊息，並請留意宅配到貨時間。</li>
									<li class="list">除商品訂購頁面另有註記外，本網站所有商品的宅配寄送皆為免運費。</li>
									<li class="list">配送服務區域範圍限台灣本島，不含離島地區；因住宅條件限制或地形限制或地理偏遠，物流業者無法配送時，本網站保有出貨與否權利，偏遠地區的認定由物流業者核定。</li>
									<li class="list">收件地址請勿填寫郵政信箱，以免無法配達。</li>
									<li class="list">商品確切配達時間請以物流業者實際可配送時間為準。</li>
									<li class="list">本網站所開立的發票將隨貨附上。</li>
								</ol>
							</li>
							<li class="list">取消訂單<br>
								<ol class="order-list is-decimal">
									<li class="list">為保護您的權益，在您到店取貨前／商品寄出前，您都可以申請取消訂單（惟若您的商品為訂製商品，且已經製作，您將無法取消訂單，請您留意</li>
									<li class="list">若當筆訂單享有任何滿額／滿件優惠或折扣、贈品時，如您仍需取消該筆訂單內任一項商品的訂購或須退貨，可能導致無法獲得原有優惠、折扣或贈品。</li>
									<li class="list">如欲取消訂單請至「訂單查詢」填入您的訂單編號及E-mail，調出該筆訂單資料後，按下「取消訂單」向本網站提出申請。商品取貨／到貨後即無法取消訂單，如您不欲購買該商品，請申請退貨。</li>
								</ol>
							</li>
							<li class="list">換貨<br>
								<ol class="order-list is-decimal">
									<li class="list">換貨僅限於商品缺件、破損或瑕疵的情況下，可申請替換同一商品編號的商品。如果為尺寸不合、缺貨時，請直接申請退貨。</li>
									<li class="list">如欲換貨請於商品取貨／到貨後7日內（含例假日）至「訂單查詢」填入您的訂單編號及E-mail，調出該筆訂單資料後，按下「換貨」向本網站提出申請；如超過7日時，請您直接來信或電洽該分店客服中心由專人協助您辦理。</li>
									<li class="list">本網站於確認欲更換的商品有貨後：<em class="b-bold b-block">到店取貨</em>如您原選擇到店取貨者，服務人員將再聯繫您可換貨時間，請您攜帶完整包裝商品、發票至原取貨分店辦理（恕無法要求或指定至其他分店）。<em class="b-bold b-block">宅配寄送</em>如您原選擇宅配到貨者，請您以送貨時的包裝紙箱將退貨商品包裝妥當，若原紙箱已遺失，請另使用其他紙箱包覆於商品原廠包裝之外，請勿直接於原廠包裝上黏貼紙張或書寫文字。本網站將委託物流業者取回需更換商品後再重新配送新商品給您。</li>
								</ol>
							</li>
							<li class="list">退貨<br>如欲退貨請於商品取貨／到貨後7日猶豫期內（含例假日）至「訂單查詢」填入您的訂單編號及E-mail，調出該筆訂單資料後，按下「退貨」向本網站提出申請；但超過7日猶豫期後，如非商品瑕疵，本網站得拒絕受理您的退貨要求。<em class="b-bold b-block">到店取貨</em>請將完整包裝商品、發票送至原取貨分店辦理退貨（恕無法要求或指定至其他分店）。<em class="b-bold b-block">宅配寄送</em>請您以送貨時的包裝紙箱將退貨商品包裝妥當（需將發票一併附上），若原紙箱已遺失，請另使用其他紙箱包覆於商品原廠包裝之外，請勿直接於原廠包裝上黏貼紙張或書寫文字。本網站將委託物流業者向您取回商品進行退貨。</li>
							<li class="list">退／換貨限制：<br>
								<ol class="order-list is-decimal">
									<li class="list">退／換貨商品必須是全新狀態且完整包裝，請保持商品、附件、包裝、廠商紙箱及所有隨附文件資料的完整，以寄送時的包裝再原封備妥，若有相關贈品請一併退回，若紙箱已遺失，請於商品外再包裝，勿直接於商品原廠外盒黏貼宅配單或書寫文字，原廠外盒損毀、商品缺件或有下列情況，將影響您的退／換貨權利或本網站須視損壞程度向您酌收處理費用。</li>
									<li class="list">部份商品基於智慧財產權保護、回復原狀困難、個人衛生等因素，商品一經拆封即可能影響退／換貨權利，請您於購買前務必確認清楚。說明如下：<br>
										<ol class="order-list is-lower-alpha">
											<li class="list">數位或電磁紀錄形式儲存或著作權相關的商品及耗材的商品包裝已拆封者。</li>
											<li class="list">衣飾鞋類商品缺件或經剪標、下水或商品有不可回復的髒汙或磨損痕跡。</li>
											<li class="list">食品、美容保養用品、內衣褲等消耗性或個人衛生商品以及商品銷售網頁上特別載明的商品已拆封者或已非全新狀態與包裝不完整，但仍享有新品瑕疵無條件退貨的售後服務。</li>
											<li class="list">已標示不接受退貨的特賣商品，不接受退換，但若為商品本身或運送過程中所造成的瑕疵，則不在此限。</li>
											<li class="list">家電、3C商品除了瑕疵商品，退回商品已拆封或已非全新狀態與包裝不完整。</li>
											<li class="list">其他逾越檢查必要或可歸責於您的事由，導致商品缺件、毀壞或不完整時。</li>
										</ol>
         							</li>
         						</ol>
         					</li>
							<li class="list">折讓單：<br>依據統一發票使用辦法規定，發票開立後如發生銷貨退回時，買受人須出具銷貨退回證明，故請您於退貨後配合填寫退貨折讓單如下：<em class="b-bold b-block">到店取貨</em>於您到店完成退貨（退貨商品檢視無其他問題時），服務人員會請您於退貨折讓單上簽名，填寫完畢後本網站即可按退款流程進行退款。<em class="b-bold b-block">宅配寄送</em>本網站於收到您的退貨商品並檢視無其他問題後，我們會以電子郵件通知您並附上退貨折讓單，請您列印出紙本並簽名後寄回指定分店辦理退款。如您未協助將折讓單寄回，可能影響您的退款權益，請留意。</li>
							<li class="list">退款：<br>本網站在確認訂單取消／退貨完成後，將在7個工作天內將退款直接刷退至您當初使用來付款的信用卡帳戶中，且將於您的下一期信用卡帳單中顯示；同時，已累計至您帳戶的快樂購卡點數將於退款時一併扣回。</li>
							<li class="list">猶豫期：<br>根據消費者保護法規定，本網站將提供您享有商品於取貨／到貨後7天的猶豫期（非試用期），您得不附理由退回商品並解除買賣契約，且無須負擔任何費用或價款。</li>
						</ol>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>