<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/others.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body pipp show-header">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/index/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="location-selecter b-col-md-6 b-middle">
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="location-list">
								<li class="list title">選擇分店</li>
								<li class="list"><a href="branch.html" class="b-link">寶慶遠百</a></li>
								<li class="list is-selected"><a href="branch.html" class="b-link">板橋大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">板橋遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">桃園遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">新竹大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台中大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">嘉義遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台南大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">高雄大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">花蓮遠百</a></li>
								<li class="list back"><a href="index.html" class="b-link">返回遠百首頁</a></li>
							</ul>
						</div>
					</div>
					<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
						<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
						<div class="language-list">
							<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
							<button class="btn-lang is-curr">繁中</button>
							<button class="btn-lang">簡中</button>
						</div>
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="visitor-center">
								<li class="list title">Visitor Center</li>
								<li class="list" data-lang="en"><a href="javascript:;" class="b-link">EN</a></li>
								<li class="list" data-lang="jp"><a href="javascript:;" class="b-link">JP</a></li>
								<li class="list" data-lang="cn"><a href="javascript:;" class="b-link">CN</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu"></div>
			</nav>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">顧客</em>個人資料保護條款</span>
					<span class="sub-lang">personal information protection policy</span>
				</h2>
				<div class="content-wrap b-clearfix">
					<div class="main-cut b-clearfix">
						<p class="b-desc">遠東百貨線上購物（下稱本網站）對於您所提供的個人資料，將依個人資料保護法的規定蒐集、處理及利用，本網站在此說明相關事項如下：</p>
						<ol class="order-list is-cjk-ideographic">
							<li class="list">蒐集目的<br>商業與技術資訊、客戶管理、顧客管理、行銷、資訊與資料庫管理、統計調查與分析等目的、個人資料交易、其他合於營業登記項目或章程所定業務需要、其他財政服務。</li>
							<li class="list">蒐集個人資料類別<br>
								<ol class="order-list is-decimal">
									<li class="list">辨識個人：如姓名、地址、電話、電子郵件、寄送地址及收件人資料等。</li>
									<li class="list">辨識財務：如信用卡或簽帳卡號碼、個人其他號碼或帳戶等。</li>
									<li class="list">財務交易：如支付方式、往來紀錄。</li>
								</ol>
        					</li>
							<li class="list">利用期間<br>本網站將持續使用您提供的個人資料直至您提出停止使用或停止提供服務日為止。</li>
							<li class="list">利用地區、對象及方式<br>您的個人資料利用區域僅限於台灣地區，且本網站為了提供您更完善、多元的服務，我們將會在法令許可或您同意下，將您的資料提供給產品供應商、物流業者，或本網站於前述蒐集目的範圍內的委外及配合廠商，以提供您所需的個別服務、行銷活動及相關優惠訊息。</li>
							<li class="list">顧客權益<br>
								<ol class="order-list is-decimal">
									<li class="list">您可書面向本網站請求行使下列權利：查詢或請求閱覽、製給複製本、補充或更正、請求停止蒐集、處理或利用、請求刪除。</li>
									<li class="list">請求行使上述個人權利，請來信至service@feds.com.tw或致電本網站各分店客服中心協助您進行申請。</li>
									<li class="list">對於您留存的個人資料，本網站及委外與配合相關廠商都將於前述特定目的範圍內予以利用，並採取適當安全措施予以保護。<br>
									但有下列情形時，不在此限：<br>
										<ol class="order-list is-lower-alpha">
											<li class="list">基於法律規定、或受司法機關與其他有權機關基於法定程序要求。</li>
											<li class="list">為增進公共利益。</li>
											<li class="list">為免除您生命、身體、自由或財產上危險。</li>
											<li class="list">為防止他人權益重大危害。</li>
											<li class="list">經過您本人書面同意。</li>
										</ol>
									</li>
									<li class="list">您得自由選擇提供個人資料的程度，但若提供資料不足或有誤時，本網站可能將無法提供完整服務。</li>
								</ol>
							<li class="list">個人資料管理條款的修訂與公告<br>本個人資料保護條款將由本網站定期因相關法令規定變動等因素予以適當修訂，並將依法更新公告於本網站。</li>
						</ol>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/account.js?JS=20160420_01"></script>
</html>