<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body history show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link">財務資訊</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link">財報資料</a></li>
									<li class="list"><a href="revenue.html" class="sub-link">營收報告</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">重大訊息</a></li>
						<li class="list">
							<button class="b-link is-curr">公司治理</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link">公司組織架構</a></li>
									<li class="list"><a href="history.html" class="sub-link is-curr">公司沿革</a></li>
									<li class="list"><a href="directors.html" class="sub-link">董事會員及委員會</a></li>
									<li class="list"><a href="operation.html" class="sub-link">稽核組織與運作</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">章程及相關作業程序</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link">股東專欄</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="resolutions.html" class="sub-link">董事會決議事項</a></li>
									<li class="list"><a href="processing.html" class="sub-link">投資人關係處理窗口</a></li>
									<li class="list"><a href="briefing.html" class="sub-link">法人說明會簡報</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link">股東會紀實</a></li>
									<li class="list"><a href="reference.html" class="sub-link">股東會參考資料</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">投資人專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">公司沿革</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">投資人</em>專區</span>
					<span class="sub-lang">investment</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">公司沿革</h3>
								<div class="info-text">
									<ul class="unorder-list">
										<li class="list">
											<em class="b-highlight b-bold b-block">設立日期</em>
											<p class="b-desc">中華民國五十六年八月三十一日。</p>
										</li>
										<li class="list">
											<em class="b-highlight b-bold b-block">業務範圍</em>
											<ol class="order-list">
												<li class="list">百貨、綢緞呢絨、布疋、糖果餅干、罐頭食品\\、育樂器具、大小五金器、家具、飾物、手工藝土產、文具、圖書儀器、唱片、照相器材、兒童玩具（賭博性、色情性電動玩具及玩具槍除外）、鞋帽雨具、西藥、醫療器材、煙酒雜貨、米穀、雜糧、食鹽、飲料之買賣進出口及鐘錶眼鏡照相機之買賣維修、電氣用品之買賣維修、經營兒童遊樂場及遊藝場業務（賭博性、色情性電動玩具除外）、餐廳、小吃店、飲料店、照相沖洗、廣告代理業務（許可業務除外）。</li>
												<li class="list">經營超級市場，買賣生鮮食料品、冷凍蔬菜、冷凍魚肉、乾貨食料品、各種調味品。</li>
												<li class="list">經營各種商品配送分類處理及倉儲業務。</li>
												<li class="list">輸入販賣度量衡器及計量器。</li>
												<li class="list">委託營造廠商興建商業大樓及國民住宅之興建與租售。</li>
												<li class="list">金銀珠寶之買賣。</li>
												<li class="list">錄音帶、雷射唱片之買賣，錄影節目帶、碟影片之租售。</li>
												<li class="list">車輛及其零件、組件暨附屬配件（如：座墊、汽車香水、打臘、汽車裝飾品等）之銷售、進出口貿易及經銷業務。</li>
												<li class="list">汽車修護及停車場業務之經營。</li>
												<li class="list">經營加油站供售汽、柴油及自動販賣機食品、飲料之買售。</li>
												<li class="list">畫廊之經營及其作品、古董買賣。</li>
												<li class="list">各種有線電、無線電通信器材之買賣、維修、投標及進出口業務。</li>
												<li class="list">理（燙）髮及美容業之經營。</li>
												<li class="list">受託經營百貨公司及國際觀光飯店附設商店街之業務。</li>
												<li class="list">提供電腦通訊網路設備業務。</li>
												<li class="list">JZ99030 攝影業。</li>
												<li class="list">JZ99090 喜慶綜合服務業。</li>
												<li class="list">J701040 休閒活動場館業。</li>
												<li class="list">F401161 菸類輸入業。</li>
												<li class="list">F401171 酒類輸入業。</li>
												<li class="list">除許可業務外，得經營法令非禁止或限制之業務。</li>
											</ol>
										</li>
										<li class="list">
											<em class="b-highlight b-bold b-block">公司沿革</em>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">56年08月</span>
													<ul class="event-desc">
														<li class="event-detail">遠東紡織股份有限公司在台北市永綏路籌設遠東百貨股份有限公司。</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">10月</span>
													<ul class="event-desc">
														<li class="event-detail">在台北市永綏路自建之六層大樓中開幕。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">58年10月</span>
													<ul class="event-desc">
														<li class="event-detail">成立台中分公司。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">61年01月</span>
													<ul class="event-desc">
														<li class="event-detail">成立台北分公司，將永綏路分公司遷入合併營業。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">62年04月</span>
													<ul class="event-desc">
														<li class="event-detail">本公司投資百分之六十五在高雄市五福四路興建遠東百貨大廈，成立亞東百貨股份有限公司。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">65年03月</span>
													<ul class="event-desc">
														<li class="event-detail">成立台南分公司。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">66年09月</span>
													<ul class="event-desc">
														<li class="event-detail">台中分公司因隔鄰失火而遭波及。</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">12月</span>
													<ul class="event-desc">
														<li class="event-detail">成立台北仁愛分公司。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">67年05月</span>
													<ul class="event-desc">
														<li class="event-detail">台中分公司復業。</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">10月</span>
													<ul class="event-desc">
														<li class="event-detail">台北分公司增建八層大廈擴大營業。</li>
														<li class="event-detail">本公司股票公開上市買賣。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">69年02月</span>
													<ul class="event-desc">
														<li class="event-detail">台中分公司協助將隔鄰綜合大樓修復，並擴大營業。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">70年12月</span>
													<ul class="event-desc">
														<li class="event-detail">本公司投資百分之六十四，在中壢新生路成立遠揚百貨股份有限公司。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">71年01月</span>
													<ul class="event-desc">
														<li class="event-detail">成立嘉義分公司。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">72年01月</span>
													<ul class="event-desc">
														<li class="event-detail">亞東百貨公司暫時停止零售業務，於原址成立高雄分公司。</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">09月</span>
													<ul class="event-desc">
														<li class="event-detail">成立板橋分公司。</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">12月</span>
													<ul class="event-desc">
														<li class="event-detail">遠揚百貨公司暫時停止零售業務，於原址成立中壢分公司。</li>
														<li class="event-detail">成立三重分公司。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">73年11月</span>
													<ul class="event-desc">
														<li class="event-detail">成立桃園分公司。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">74年12月</span>
													<ul class="event-desc">
														<li class="event-detail">十二月一日桃園分公司遭回祿之災，於十二月二十日恢復地上一樓之營業。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">75年06月</span>
													<ul class="event-desc">
														<li class="event-detail">三重分公司暫時停止營業。</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">08月</span>
													<ul class="event-desc">
														<li class="event-detail">桃園分公司地上二樓及地上三樓恢復營業。</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">12月</span>
													<ul class="event-desc">
														<li class="event-detail">成立高雄中山路分公司（愛買選品中心）。</li>
													</ul>
												</li>
											</ul>
											<ul class="history-events">
												<li class="event-list">
													<span class="event-time b-text-right">76年01月</span>
													<ul class="event-desc">
														<li class="event-detail">成立新竹分公司。</li>
													</ul>
												</li>
												<li class="event-list">
													<span class="event-time b-text-right">07月</span>
													<ul class="event-desc">
														<li class="event-detail">高雄分公司遷併愛買選品中心營業。</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>