<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/investment.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body revenue show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<aside class="category-content jQ-category">
					<em class="curr-category b-hide-dt jQ-curr"></em>
					<ul class="category-list">
						<li class="list">
							<button class="b-link is-curr">財務資訊</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="earnings.html" class="sub-link">財報資料</a></li>
									<li class="list"><a href="revenue.html" class="sub-link is-curr">營收報告</a></li>
								</ul>
							</div>
						</li>
						<li class="list"><a href="message.html" class="b-link">重大訊息</a></li>
						<li class="list">
							<button class="b-link">公司治理</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="structure.html" class="sub-link">公司組織架構</a></li>
									<li class="list"><a href="history.html" class="sub-link">公司沿革</a></li>
									<li class="list"><a href="directors.html" class="sub-link">董事會員及委員會</a></li>
									<li class="list"><a href="operation.html" class="sub-link">稽核組織與運作</a></li>
									<li class="list"><a href="procedures.html" class="sub-link">章程及相關作業程序</a></li>
								</ul>
							</div>
						</li>
						<li class="list">
							<button class="b-link">股東專欄</button>
							<div class="sub-category-wrap">
								<ul class="sub-category-list">
									<li class="list"><a href="resolutions.html" class="sub-link">董事會決議事項</a></li>
									<li class="list"><a href="processing.html" class="sub-link">投資人關係處理窗口</a></li>
									<li class="list"><a href="briefing.html" class="sub-link">法人說明會簡報</a></li>
									<li class="list"><a href="shareholders.html" class="sub-link">股東會紀實</a></li>
									<li class="list"><a href="reference.html" class="sub-link">股東會參考資料</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</aside>
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="javascript:;" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">投資人專區</em></a></li>
						<li class="list"><a href="javascript:;" class="b-link"><em class="text">財報資料</em></a></li>
					</ol>
				</div>
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">投資人</em>專區</span>
					<span class="sub-lang">investment</span>
				</h2>
				<div class="content-wrap">
					<div class="main-cut b-clearfix">
						<div class="main-content b-float-right-md b-clearfix">
							<div class="info-wrap b-col-dt-12 b-col-xs-12">
								<h3 class="sub-title">營收報告</h3>
								<em class="main-msg b-block b-text-center">您即將離開本網站！</em>
								<div class="info-text">
									<p class="b-desc">請注意：您所連結前往的網站並非遠東百貨股份有限公司所有，而係由其所屬之第三人各別所有及管理。<br>本網站對於各該第三人網站並無任何管理或控制權限。本項連結僅為提供網路使用者之便利而設。<br>本網站及本公司對於各該第三人網站之內容、品質、效能、即時性、正確性、完整性、適法性、以及各該網站上所示之任何言論或其他連結不負任何責任，亦不因此負任何明示或默示的擔保責任。</p>
									<p class="b-desc">本項連結不得解釋為對於任何第三人網站之背書、保證、推薦或其他類似之聲明。</p>
									<p class="b-desc b-bold">遠百營收報告(公司代號2903)－採用IFRSs前之開立發票及營業收入資訊(含合併營收)<a href="http://mops.twse.com.tw/mops/web/t05st10" class="b-link b-block" target="_blank">http://mops.twse.com.tw/mops/web/t05st10</a></p>
									<p class="b-desc b-bold">遠百營收報告(公司代號2903)－採用IFRSs後之月營業收入資訊<a href="http://mops.twse.com.tw/mops/web/t05st10_ifrs" class="b-link b-block" target="_blank">http://mops.twse.com.tw/mops/web/t05st10_ifrs</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" -->
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script defer src="../../scripts/js/investment.js?JS=20160420_01"></script>
</html>