<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/oversea-investor.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body oversea-investor show-header">
		<header class="l-header">
			<div class="marquee-wrap">
				<div class="marquee-content">
					<strong class="marquee-wording b-middle">
						<i class="m-icon m-icon-warning b-inline"></i>
						<span class="text b-bold b-inline">緊急消息公告:受到莫蘭蒂颱風引響，全省遠東百貨，自2017/9/30上午10點，起暫停營業一天！</span>
					</strong>
					<button class="btn-close jQ-btn-marquee b-hide-text">關閉</button>
				</div>
			</div>
			<div class="header-wrap">
				<h1 class="m-logo">
					<a href="../home/branch.html" class="b-link">
						<img src="../../content/img/branch/logo.png" alt="遠東百貨">
						<em class="text b-hide-text">遠東百貨</em>
					</a>
				</h1>
				<div class="shortcut-wrap">
					<div class="quick-list">
						<div class="language-selecter b-text-right-dt b-text-left-xs">
							<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
							<div class="language-list">
								<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
								<button class="btn-lang">简体中文</button>
								<button class="btn-lang is-curr">English</button>
								<button class="btn-lang">日本語</button>
							</div>
						</div>
					</div>
				</div>
				<nav class="l-nav">
					<div class="main-menu">
						<ul class="menu-list">
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12 is-curr">Taipei</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">PaoChing Branch</a></div>
											<div class="list"><a href="oversea-index.html" class="b-link b-block">BanQiao Store</a></div>
											<div class="list"><a href="oversea-index.html" class="b-link b-block is-curr">Mega City BanQiao Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Taoyuan</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Taoyuan Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Hsinchu</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Hsinchu Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Taichung</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Top City Taichung Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Chiayi</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Chiayi Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Tainan</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Tainan Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Kaohsiung</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Kaohsiung Store</a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list has-menu">
								<button class="text jQ-sub-menu b-col-xs-12">Hualien</button>
								<div class="menu-slider">
									<div class="sub-menu-wrap">
										<div class="sub-menu jQ-count-height" data-column="1">
											<div class="list"><a href="oversea-index.html" class="b-link b-block">Hualien Store</a></div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</nav>
				<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
			</div>
		</header>
		<div class="l-main">
			<div class="l-content">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">Investor</em></span>
					<span class="sub-lang">投資人專區</span>
				</h2>
				<div class="content-wrap b-clearfix">
					<div class="main-cut b-clearfix">
						<div class="info-wrap b-col-dt-12 b-col-xs-12">
							<h3 class="sub-title">Company organizational structure</h3>
							<div class="info-text">
								<figure class="img-wrap b-text-center">
									<img class="b-hide-xs" src="../../content/img/investment/structure-pc-en.png" alt="">
									<img class="b-hide-dt" src="../../content/img/investment/structure-m-en.png" alt="">
								</figure>
							</div>
							<h3 class="sub-title">Key Educational Qualifications and Experiences of Board Members</h3>
							<div class="table-wrap">
								<table class="m-table">
									<thead>
										<tr>
											<td class="b-col-dt-2 b-text-center"><em class="text b-bold">Title</em></td>
											<td class="b-col-dt-3 b-text-center"><em class="text b-bold">Name</em></td>
											<td class="b-text-center"><em class="text b-bold">Education</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="b-text-center"><em class="text">Chairman</em></td>
											<td class="b-text-center"><em class="text">Douglas Tong Hsu</em></td>
											<td class="b-text-left"><em class="text">Honorary Ph.D. in Management, National Chiao Tung University, Taiwan.<br>M.A. in Economics, Columbia University, USA.</em></td>
										</tr>
										<tr>
											<td class="b-text-center" rowspan="5"><em class="text">Director</em></td>
											<td class="b-text-center"><em class="text">Nancy Hsu</em></td>
											<td class="b-text-left"><em class="text">Department of Fashion Design, Shih Chien University</em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">Nicole Hsu</em></td>
											<td class="b-text-left"><em class="text">Interior Design Arts, New York School of Interior Design, USA.<br>B.A., Simmons College, Boston, USA.</em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">Yvonne Li</em></td>
											<td class="b-text-left"><em class="text">M.A. in Accounting, University of Illinois Urbana-Champaign, USA.</em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">Philby Lee</em></td>
											<td class="b-text-left"><em class="text">Department of Accounting, Arizona State University, USA.</em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">Jin-Lin Liang</em></td>
											<td class="b-text-left"><em class="text">M.A. in Mass Communication, University of Illinois. USA.<br>EMBA, National Taiwan University</em></td>
										</tr>
										<tr>
											<td class="b-text-center" rowspan="3"><em class="text">Independent Director</em></td>
											<td class="b-text-center"><em class="text">Eugene You-hsin Chien</em></td>
											<td class="b-text-left"><em class="text">Ph.D., Mechanical and Aerospace Engineering, New York University, USA.<br>B.S., Department of Mechanical Engineering, National Taiwan University, Taiwan.</em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">Raymond R.M. TAI</em></td>
											<td class="b-text-left"><em class="text">M.A., American Studies Department, University of Hawaii, USA.<br>Honorary Doctor of Law, Fu Jen Catholic University, Taiwan.</em></td>
										</tr>
										<tr>
											<td class="b-text-center"><em class="text">Edward Wei</em></td>
											<td class="b-text-left"><em class="text">MBA, University of Georgia, USA.</em></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<ul class="info-list">
					<li class="list"><a href="oversea-about-us.html" class="b-link b-hide-xs">About Us</a></li>
					<li class="list"><a href="oversea-investor.html" class="b-link b-hide-xs">Investor</a></li>
				</ul>
				<small class="copyright b-text-center-dt">Copyright &copy; 2016 Far Eastern Group All rights reserved.</small>
			</div>
		</footer>
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>