<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/oversea-about-us.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body oversea-about-us show-header">
		<!--#include virtual="../Shared/Header-oversea.html" -->
		<div class="l-main">
			<div class="l-content">
				<h2 class="cut-title">
					<span class="main-lang"><em class="highlight">About Us</em></span>
					<span class="sub-lang">關於我們</span>
				</h2>
				<div class="content-wrap b-clearfix">
					<div class="main-cut b-clearfix">
						<p class="desc">FEDS now operates with 10 branch stores in Taiwan. In regard to different size and store space, we have developed new generation shopping malls including Top City Taichung Store and Mega City Banqiao Store; third-generation stores: FE21’ MegA Hsinchu Store, FE21’ MegA Tainan Store, FE21’ MegA Kaohsiung Store, as well as several new concept stores such as FE21’ Paoching, FE21’ Banqiao, FE21’ Taoyuan, FE21’ Chiayi, and FE21’ Hualien Stores. Operational sites of our department stores covers up to 9 major metropolitan areas of Taiwan.</p>
						<p class="desc">The very well received new generation shopping malls Top City Taichung Store and Mega City Banqiao Store were inaugurated in December 2011 and January 2012, respectively.</p>
						<p class="desc">With glamorous building design, world-class brand boutiques, fun interactive high-tech facility and theme gourmet food courts, FEDS has largely upgraded its market position to provide customers with more spacious, more comfortable and more exquisite shopping environment.</p>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer-oversea.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>