<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/foods-detail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body foods-detail show-header">
		<!--#include virtual="../Shared/Header-main.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="foods-index.html" class="b-link"><em class="text">美食</em></a></li>
					</ol>
				</div>
				<div class="m-cut food-cut">
					<div class="m-section">
						<figure class="brand-logo b-text-center">
							<img src="../../content/img/foods-detail/logo/Grazie.jpg" alt="Grazie 古拉爵">
						</figure>
						<h2 class="brand-name b-inline">Grazie 古拉爵</h2>
						<p class="brand-slogan b-text-left">Grazie(古拉爵)取自義大利文「謝謝」的意思，想要表達的是服務人員對於每一位來店的顧客都保持著「感謝」的心。 義式屋古拉爵是一家提供顧客輕鬆歡聚，享用多樣化義大利料理的場所，不論是圓麵、斜管麵、扁麵等各種款式的義大利麵，都以多樣化的口味來滿足顧客的期待，自家配方現場製作的道地拿坡里比薩，外酥內Q的餅皮，搭配各式各樣豐富的進口高級食材，讓顧客能如臨義大利當地的體驗。 古拉爵更在飲料及甜點上用心開發，也有現打的新鮮果汁，菜單每半年都會開發最新鮮的口味，所有的餐點除了是味覺上的饗宴，視覺上也要讓顧客耳目一新。 此外，古拉爵首推業界之先，融合了中西分食的精神，開發出多樣超值套餐，菜單中準備了豐富的套餐組合，從單人到團體用餐，應有盡有。有精緻午餐、雙人饗宴、多人派對(PARTY)套餐…等，滿足客人不同的來店的需求，都可滿足兼顧顧客多彩多姿的LIFE STYLE，絕對值得前來一嚐!</p>
						<div class="post-tools b-clearfix b-text-right">
							<a href="http://www.facebook.com/share.php?u=https://www.feds.com.tw/" target="_blank" class="btn-tool btn-fb-share b-middle jQ-share">
								<i class="m-icon m-icon-facebook"></i>
								<em class="hint b-hide-xs">share</em>
							</a>
							<button class="btn-tool btn-like jQ-like b-middle show-text">
								<i class="m-icon m-icon-heart-2"></i>
								<em class="hint b-hide-xs">收藏</em>
							</button>
						</div>
						<h3 class="sub-title b-text-left">服務據點<span class="hint-text">請選擇您欲前往的分店。</span></h3>
						<ul class="service-location-list b-text-left">
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<a href="javascript:;" class="b-link b-col-md-6 b-col-sm-7 b-col-xs-6 b-inline b-text-left">Mega City 板橋大遠百11F</a>
								<a href="tel:0289648402" class="tel-link b-col-md-5 b-col-sm-4 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-center-md b-text-right-sm">
								<a href="javascript:;" class="b-link b-col-md-6 b-col-sm-7 b-col-xs-6 b-inline b-text-left">寶慶遠百1F</a>
								<a href="tel:0289648402" class="tel-link b-col-md-5 b-col-sm-4 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-right-md">
								<a href="javascript:;" class="b-link b-col-md-6 b-col-sm-7 b-col-xs-6 b-inline b-text-left">寶慶遠百1F</a>
								<a href="tel:0289648402" class="tel-link b-col-md-5 b-col-sm-4 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-right-sm">
								<a href="javascript:;" class="b-link b-col-md-6 b-col-sm-7 b-col-xs-6 b-inline b-text-left">板橋遠百1F</a>
								<a href="tel:0289648402" class="tel-link b-col-md-5 b-col-sm-4 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-center-md">
								<a href="javascript:;" class="b-link b-col-md-6 b-col-sm-7 b-col-xs-6 b-inline b-text-left">板橋遠百1F</a>
								<a href="tel:0289648402" class="tel-link b-col-md-5 b-col-sm-4 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-right-md b-text-right-sm">
								<a href="javascript:;" class="b-link b-col-md-6 b-col-sm-7 b-col-xs-6 b-inline b-text-left">板橋遠百1F</a>
								<a href="tel:0289648402" class="tel-link b-col-md-5 b-col-sm-4 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<a href="javascript:;" class="b-link b-col-md-6 b-col-sm-7 b-col-xs-6 b-inline b-text-left">板橋大遠百1F</a>
								<a href="tel:0289648402" class="tel-link b-col-md-5 b-col-sm-4 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-center-md b-text-right-sm">
								<a href="javascript:;" class="b-link b-col-md-6 b-col-sm-7 b-col-xs-6 b-inline b-text-left">板橋大遠百1F</a>
								<a href="tel:0289648402" class="tel-link b-col-md-5 b-col-sm-4 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-right-md">
								<a href="javascript:;" class="b-link b-col-md-6 b-col-sm-7 b-col-xs-6 b-inline b-text-left">板橋大遠百1F</a>
								<a href="tel:0289648402" class="tel-link b-col-md-5 b-col-sm-4 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
						</ul>
						<div class="btn-wrap b-text-center">
							<a href="foods-index.html" class="btn-return btn-radius b-link b-col-dt-4 b-col-xs-12">回品牌列表</a>
						</div>
					</div>
				</div>
			</div>
			<!--#include virtual="../Shared/Side.html" --><!--#include virtual="../Shared/Teach.html" -->
		</div>
		<!--#include virtual="../Shared/Footer-main.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>