<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/foods-index.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body foods-index show-header">
		<!--#include virtual="../Shared/Header-branch.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="foods-index.html" class="b-link"><em class="text">美食</em></a></li>
					</ol>
				</div>
				<div class="kv">
					<ul class="kv-tab-content">
						<li class="content-list">
							<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="item">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/foods-index/kv/07.png" alt="天仁喫茶趣">
											<figcaption class="desc b-hide-text">天仁喫茶趣</figcaption>
										</figure>
									</a>
								</div>
								<div class="item">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/foods-index/kv/06.jpg" alt="天仁喫茶趣">
											<figcaption class="desc b-hide-text">天仁喫茶趣</figcaption>
										</figure>
									</a>
								</div>
							</div>
						</li>
						<li class="content-list">
							<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="item">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/foods-index/kv/04.jpg" alt="Superfood super you">
											<figcaption class="desc b-hide-text">Superfood super you</figcaption>
										</figure>
									</a>
								</div>
								<div class="item">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/foods-index/kv/03.jpg" alt="夏日魅力潮流 釋放率性個性">
											<figcaption class="desc b-hide-text">夏日魅力潮流 釋放率性個性</figcaption>
										</figure>
									</a>
								</div>
							</div>
						</li>
						<li class="content-list is-curr">
							<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="item">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/foods-index/kv/01.jpg" alt="味自慢 品味職人精神，日式料理9折">
											<figcaption class="desc b-hide-text">味自慢 品味職人精神，日式料理9折</figcaption>
										</figure>
									</a>
								</div>
							</div>
						</li>
						<li class="content-list">
							<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="item">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/foods-index/kv/08.jpg" alt="晶湯匙泰式主題餐廳">
											<figcaption class="desc b-hide-text">晶湯匙泰式主題餐廳</figcaption>
										</figure>
									</a>
								</div>
							</div>
						</li>
						<li class="content-list">
							<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="item">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/foods-index/kv/09.jpg" alt="韓虎嘯">
											<figcaption class="desc b-hide-text">韓虎嘯</figcaption>
										</figure>
									</a>
								</div>
							</div>
						</li>
						<li class="content-list">
							<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
								<div class="item">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/foods-index/kv/05.jpg" alt="每一天都是好丘的一天">
											<figcaption class="desc b-hide-text">每一天都是好丘的一天</figcaption>
										</figure>
									</a>
								</div>
								<div class="item">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/foods-index/kv/03.jpg" alt="夏日魅力潮流 釋放率性個性">
											<figcaption class="desc b-hide-text">夏日魅力潮流 釋放率性個性</figcaption>
										</figure>
									</a>
								</div>
								<div class="item">
									<a href="javascript:;" class="b-link">
										<figure class="img-wrap">
											<img src="../../content/img/foods-index/kv/02.jpg" alt="好丘 菓實飲">
											<figcaption class="desc b-hide-text">好丘 菓實飲</figcaption>
										</figure>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="m-cut food-cut">
					<div class="m-tab main-tab">
						<div class="m-tab-wrap jQ-tag-select" data-case="food">
							<div class="tab-list list b-inline-dt b-block-xs">
								<button class="btn-tab jQ-tab" data-kv-switch="true">
									<figure class="icon-wrap"><img src="../../content/img/foods-index/icon/food-ch-l.png" alt=""></figure>
									<em class="text">中式料理</em>
								</button>
							</div>
							<div class="tab-list list b-inline-dt b-block-xs">
								<button class="btn-tab jQ-tab" data-kv-switch="true">
									<figure class="icon-wrap"><img src="../../content/img/foods-index/icon/food-wt-d.png" alt=""></figure>
									<em class="text">西式料理</em>
								</button>
							</div>
							<div class="tab-list list b-inline-dt b-block-xs is-selected">
								<button class="btn-tab jQ-tab is-curr">
									<figure class="icon-wrap"><img src="../../content/img/foods-index/icon/food-jp-l.png" alt=""></figure>
									<em class="text">日式料理</em>
								</button>
							</div>
							<div class="tab-list list b-inline-dt b-block-xs">
								<button class="btn-tab jQ-tab" data-kv-switch="true">
									<figure class="icon-wrap"><img src="../../content/img/foods-index/icon/food-tl-d.png" alt=""></figure>
									<em class="text">泰式料理</em>
								</button>
							</div>
							<div class="tab-list list b-inline-dt b-block-xs">
								<button class="btn-tab jQ-tab" data-kv-switch="true">
									<figure class="icon-wrap"><img src="../../content/img/foods-index/icon/food-kr-l.png" alt=""></figure>
									<em class="text">韓式料理</em>
								</button>
							</div>
							<div class="tab-list list b-inline-dt b-block-xs">
								<button class="btn-tab jQ-tab" data-kv-switch="true">
									<figure class="icon-wrap"><img src="../../content/img/foods-index/icon/food-at-d.png" alt=""></figure>
									<em class="text">輕食 / 下午茶</em>
								</button>
							</div>
						</div>
						<ul class="m-tab-content">
							<li class="content-list">
								<ul class="food-list">
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/ch/01.jpg" alt="開飯川食堂">
												<figcaption class="desc b-hide-text">開飯川食堂</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">開飯川食堂</h3>
												<p class="b-desc">開飯川食堂，一個讓您隨時都胃口大開的辛香食堂。承襲福利川菜40年的正統手藝，認真選用天然食材，巧妙調配複雜多樣的辛香料，下手刀工精細，快火燒煎炒，用最熱血的心，為您端上翻騰味蕾的川正味料理。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/ch/02.jpg" alt="傳鮮樓">
												<figcaption class="desc b-hide-text">傳鮮樓</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">傳鮮樓</h3>
												<p class="b-desc">產地直送，創意上菜。秉持著新鮮海產，原地直送的鮮食概念，並以求新求變的創意料理方式，不僅保留海鮮食材的天然美味，更開創港粵式料理更寬闊的空間，現點現做烹調料理方式，更能夠吃得到食材最鮮嫩的滋味。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/ch/03.jpg" alt="cha for tea 天仁喫茶趣">
												<figcaption class="desc b-hide-text">cha for tea 天仁喫茶趣</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">cha for tea 天仁喫茶趣</h3>
												<p class="b-desc">讓您喝的到自然好茶；融入年輕、休閒、生活化的新茶文化，研發具有獨特風味的茶膳、茶點、茶飲新口味，成為具現代、多元、中國風之新複合式茶館。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
								</ul>
								<a href="javascript:;" class="btn-more b-link">MORE</a>
							</li>
							<li class="content-list">
								<ul class="food-list">
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/wt/01.jpg" alt="Alleycat's 巷貓餐廳">
												<figcaption class="desc b-hide-text">Alleycat's 巷貓餐廳</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">Alleycat's 巷貓餐廳</h3>
												<p class="b-desc">披薩是“分享”的代名詞，為聚會時刻增添更多歡樂以分享為初衷，承襲道地義大利手法，精選食材透過獨家堆砌的紅磚窯，將義大利美味與特色乘上桌與賓客分享。融合創意，邀賓客隨心發想、挑選喜愛的餡料，將餐點轉為一件件充滿創意的美食作品。紅黑白空間色調，冷靜與熱情的搭色設計出濃厚的異國感，隨興爛漫的氛圍，就是要讓賓客不自覺踏起貓般的輕盈步調，卸下拘束與包袱，輕鬆享用美味。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/wt/02.jpg" alt="DORICIOUS 朵頤排餐館">
												<figcaption class="desc b-hide-text">DORICIOUS 朵頤排餐館</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">DORICIOUS 朵頤排餐館</h3>
												<p class="b-desc"></p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/wt/03.jpg" alt="BELLINI Pasta Pasta">
												<figcaption class="desc b-hide-text">BELLINI Pasta Pasta</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">BELLINI Pasta Pasta</h3>
												<p class="b-desc">以「分享」為主軸，「讓美味加倍」的用餐環境，在2000年創立「BELLINI Pasta Pasta」， 希望透過雙倍的Pasta，傳遞雙倍的美味及雙倍的歡樂分享。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
								</ul>
								<a href="javascript:;" class="btn-more b-link">MORE</a>
							</li>
							<li class="content-list is-curr">
								<ul class="food-list">
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/jp/04.jpg" alt="揚日式料理">
												<figcaption class="desc b-hide-text">揚日式料理</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">揚日式料理</h3>
												<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like show-text">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">已加入收藏</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/jp/05.jpg" alt="大戶屋">
												<figcaption class="desc b-hide-text">大戶屋</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">大戶屋</h3>
												<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/jp/06.jpg" alt="豬排控必去！靜岡勝政日式豬排">
												<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
												<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/jp/07.jpg" alt="揚日式料理">
												<figcaption class="desc b-hide-text">揚日式料理</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">揚日式料理</h3>
												<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/jp/08.jpg" alt="大戶屋">
												<figcaption class="desc b-hide-text">大戶屋</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">大戶屋</h3>
												<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/jp/09.jpg" alt="豬排控必去！靜岡勝政日式豬排">
												<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
												<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/jp/01.png" alt="揚日式料理">
												<figcaption class="desc b-hide-text">揚日式料理</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">揚日式料理</h3>
												<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/jp/02.png" alt="先喝咖啡">
												<figcaption class="desc b-hide-text">先喝咖啡</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">先喝咖啡</h3>
												<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/jp/03.png" alt="豬排控必去！靜岡勝政日式豬排">
												<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
												<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
								</ul>
								<a href="javascript:;" class="btn-more b-link">MORE</a>
							</li>
							<li class="content-list">
								<ul class="food-list">
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/tl/01.jpg" alt="CRYSTAL SPOON 晶湯匙泰式主題餐廳">
												<figcaption class="desc b-hide-text">CRYSTAL SPOON 晶湯匙泰式主題餐廳</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">CRYSTAL SPOON 晶湯匙泰式主題餐廳</h3>
												<p class="b-desc">泰國皇室認為全球「泰精選餐廳」之一。在優雅環境中享用正統的泰式美食，帶領您體驗遊食材的「鮮」以及廚藝的「美」，所交織而成的一道道經典美食，呈現視覺與味覺的雙重饗宴。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/tl/02.jpg" alt="Anisa Thai Food 安妮莎泰式料理">
												<figcaption class="desc b-hide-text">Anisa Thai Food 安妮莎泰式料理</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">Anisa Thai Food 安妮莎泰式料理</h3>
												<p class="b-desc">“安妮莎”一個來至泰國女孩的名字，“安妮莎泰式料理”15年來堅持“沒有最好，只有更好”的理念為消費者呈現更優質的暹羅美食。品味泰國美食，享受泰式風情，讓舌尖充分感受暹邏的魅力。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/tl/03.png" alt="聖加南洋小品">
												<figcaption class="desc b-hide-text">聖加南洋小品</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">聖加南洋小品</h3>
												<p class="b-desc">聖加南洋小品以東南亞、新加坡、馬來西亞、印尼、泰國等飲食文化為主題，發覺各地街坊美食引入台灣，同時聘請當地廚藝精堪廚師，進口當地辛香料、食材、以求原汁原味重現。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
								</ul>
								<a href="javascript:;" class="btn-more b-link">MORE</a>
							</li>
							<li class="content-list">
								<ul class="food-list">
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/kr/01.jpg" alt="韓州豆腐鍋專賣店">
												<figcaption class="desc b-hide-text">韓州豆腐鍋專賣店</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">韓州豆腐鍋專賣店</h3>
												<p class="b-desc">韓國華僑張先生祖籍山東青島，出生於韓國釜山，由於從小的耳濡目染與成長居住韓國多年，練就一身結合中國北方與韓國特色的精湛廚藝，所以於84年以【創新】的匠心獨具，將韓式料理中的豆腐辣湯鍋結合國人口味加入特色調味及食材推出豆腐鍋系列商品。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/kr/02.jpg" alt="雪嶽山">
												<figcaption class="desc b-hide-text">雪嶽山</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">雪嶽山</h3>
												<p class="b-desc">雪嶽山從韓國自古以來即為風景最美的地方，各王朝更視為拜佛及休閒勝地，因四季分明風景變化多端，且當地不同季節出產各種特色食材，本公司取自其精神，隨產季能供應健康物美之食品。以最經濟實惠的價格與親切的服務，帶給顧客最道地美味的大眾化韓式燒烤料理。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
								</ul>
								<a href="javascript:;" class="btn-more b-link">MORE</a>
							</li>
							<li class="content-list">
								<ul class="food-list">
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/at/01.jpg" alt="agnès b. CAFÉ L.P.G.">
												<figcaption class="desc b-hide-text">agnès b. CAFÉ L.P.G.</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">agnès b. CAFÉ L.P.G.</h3>
												<p class="b-desc">L.P.G.為法文「le pain grillé」，意為「烤麵包」，是由設計師Agnès b. 親自命名。她的設計熱忱不只限於時裝，對飲食的追求亦不遑多讓。她認為高質素的飲食，是對生活品味的一種追求。 DÉLICES在法文中有 “欣喜”的意涵，便是形容在嚐過如絲綢般香濃的巧克力後，舌尖與味蕾被滿足的喜悅！</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/at/02.jpg" alt="GODIVA Chocolate">
												<figcaption class="desc b-hide-text">GODIVA Chocolate</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">GODIVA Chocolate</h3>
												<p class="b-desc">GODIVA的歷史可追溯到1926年，受到Godiva夫人熱情慷慨的品質與勇於開拓的精神所啟發，這一傳奇般的名字在全球已成為了極致美味奢華的頂級巧克力的代名詞。秉承比利時傳統巧克力製作技藝之餘，亦致力於不斷的創新，多年來始終專注於提供優質的巧克力產品。從著名的松露巧克力和模製巧克力、到充滿歐洲風味的巧克力餅乾、獨立包裝巧克力系列、咖啡、熱可可等多樣化的巧克力產品，承諾把最極致美味的巧克力體驗帶給全世界。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
									<li class="list">
										<a href="foods-detail.html" class="food-link">
											<figure class="img-wrap">
												<img src="../../content/img/foods-index/cover/at/03.jpg" alt="Ireland's Potato 愛爾蘭瘋薯">
												<figcaption class="desc b-hide-text">Ireland's Potato 愛爾蘭瘋薯</figcaption>
											</figure>
											<div class="item-info">
												<h3 class="info-title">Ireland's Potato 愛爾蘭瘋薯</h3>
												<p class="b-desc">愛爾蘭瘋薯的薯條沾醬很特別，有蜂蜜芥末醬、乳酪披薩醬、招牌酸奶油醬、特調肉醬、特製起司醬等10種以上的口味。我們的醬料都是獨家研發製成，風味與薯條能完美融合，吃起來有新意而不突兀！薯條可以有很多種吃法，並不應僅限定沾蕃茄醬吃。愛爾蘭俗諺：世界上有兩樣東西不能開玩笑。一，婚姻；二，馬鈴薯。</p>
											</div>
											<p class="btn-read-more" data-lang="了解更多" data-default="READ MORE">READ MORE</p>
										</a>
										<button class="btn-like jQ-like">
											<i class="m-icon m-icon-heart-2"></i>
											<em class="text b-hide-text">LIKE</em>
										</button>
									</li>
								</ul>
								<a href="javascript:;" class="btn-more b-link">MORE</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer-branch.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>