<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/foods-detail.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body foods-detail show-header">
		<header class="l-header">
			<h1 class="m-logo">
				<a href="branch.html" class="b-link">
					<img src="../../content/img/branch/logo.png" alt="遠東百貨">
					<em class="text b-hide-text">遠東百貨</em>
				</a>
			</h1>
			<div class="shortcut-wrap">
				<div class="quick-list">
					<div class="location-selecter b-col-md-6 b-middle">
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="location-list">
								<li class="list title">選擇分店</li>
								<li class="list"><a href="branch.html" class="b-link">寶慶遠百</a></li>
								<li class="list is-selected"><a href="branch.html" class="b-link">板橋大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">板橋遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">桃園遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">新竹大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台中大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">嘉義遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">台南大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">高雄大遠百</a></li>
								<li class="list"><a href="branch.html" class="b-link">花蓮遠百</a></li>
								<li class="list back"><a href="index.html" class="b-link">返回遠百首頁</a></li>
							</ul>
						</div>
					</div>
					<div class="language-selecter b-col-md-6 b-text-right-dt b-text-left-xs">
						<a href="javascript:;" class="b-link b-hide-xs">CSR 企業社會責任</a>
						<div class="language-list">
							<button class="btn-language-switch b-hide-dt jQ-lang-switch">切換語系</button>
							<button class="btn-lang is-curr">繁中</button>
							<button class="btn-lang">簡中</button>
						</div>
						<div class="m-replace-select jQ-select">
							<span class="m-selected-item b-hide-xs"></span>
							<ul class="visitor-center">
								<li class="list title">Visitor Center</li>
								<li class="list" data-lang="en"><a href="javascript:;" class="b-link">EN</a></li>
								<li class="list" data-lang="jp"><a href="javascript:;" class="b-link">JP</a></li>
								<li class="list" data-lang="cn"><a href="javascript:;" class="b-link">CN</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav class="l-nav">
				<div class="main-menu">
					<ul class="menu-list">
						<li class="list">
							<button class="text btn-submenu-xs">營業資訊</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">營業時間/路線</a></div>
										<div class="list"><a href="javascript:;" class="b-link">樓層簡介</a></div>
										<div class="list"><a href="javascript:;" class="b-link">停車優惠</a></div>
										<div class="list"><a href="javascript:;" class="b-link">服務設施</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">最新活動</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">全省活動</a></div>
										<div class="list"><a href="javascript:;" class="b-link">各店活動</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li class="list">
							<button class="text btn-submenu-xs is-curr">美食娛樂</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link is-curr">美食</a></div>
										<div class="list"><a href="javascript:;" class="b-link">電影</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">電子DM</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">寶慶遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">板橋遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">板橋大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">桃園遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">新竹遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">台中大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">嘉義遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">台南大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">高雄大遠百</a></div>
										<div class="list"><a href="javascript:;" class="b-link">花蓮遠百</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
					</ul>
					<ul class="menu-list is-highlight">
						<li class="list has-menu">
							<button class="text btn-submenu-xs">線上購物</button>
							<div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="3">
										<div class="list"><a href="javascript:;" class="b-link">主題活動</a></div>
										<div class="list"><a href="javascript:;" class="b-link">女士</a></div>
										<div class="list"><a href="javascript:;" class="b-link">男士</a></div>
										<div class="list"><a href="javascript:;" class="b-link">配件</a></div>
										<div class="list"><a href="javascript:;" class="b-link">鞋子</a></div>
										<div class="list"><a href="javascript:;" class="b-link">兒童</a></div>
										<div class="list"><a href="javascript:;" class="b-link">美妝</a></div>
										<div class="list"><a href="javascript:;" class="b-link">食品&酒</a></div>
										<div class="list"><a href="javascript:;" class="b-link">居家寢飾</a></div>
										<div class="list"><a href="javascript:;" class="b-link">家用電器</a></div>
										<div class="list"><a href="javascript:;" class="b-link">伴手禮</a></div>
										<!-- <div class="list"><a href="javascript:;" class="b-link">更多</a></div> -->
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list">
							<button class="text btn-submenu-xs">時尚焦點</button>
							<!-- <div class="menu-slider">
								<div class="sub-menu-wrap">
									<div class="sub-menu jQ-count-height" data-column="1">
										<div class="list"><a href="javascript:;" class="b-link">時尚穿搭</a></div>
										<div class="list"><a href="javascript:;" class="b-link">時尚Blog</a></div>
									</div>
									<div class="product-banner">
										<a href="javascript:;" class="b-link">
											<figure class="img-wrap">
												<img src="../../content/img/shared/banner/add.png" alt="聖誕大餐組合優惠">
												<figcaption class="desc">聖誕大餐組合優惠</figcaption>
											</figure>
										</a>
									</div>
								</div>
							</div> -->
						</li>
					</ul>
					<ul class="function-list">
						<li class="list">
							<div class="m-box-holder b-hide-dt">
								<i class="m-icon m-icon-search"></i>
								<input type="text" class="m-inputbox" placeholder="輸入關鍵字">
							</div>
							<button class="btn-func">
								<i class="m-icon m-icon-search b-hide-xs"></i>
								<em class="b-hide-text-dt">品牌字首搜尋</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-member b-hide-xs"></i>
								<em class="b-hide-text-dt">我的帳戶</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func">
								<i class="m-icon m-icon-heart b-hide-xs"></i>
								<em class="b-hide-text-dt">我的最愛</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-func shopping">
								<i class="m-icon m-icon-shopping b-hide-xs"></i>
								<em class="b-hide-text-dt">購物車</em>
								<span class="count">5</span>
							</button>
						</li>
					</ul>
				</div>
			</nav>
			<button class="btn-mobile-menu b-hide-dt b-hide-text jQ-menu"><em>MENU</em></button>
		</header>
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="foods-index.html" class="b-link"><em class="text">美食</em></a></li>
					</ol>
				</div>
				<div class="m-cut food-cut">
					<div class="m-section">
						<figure class="brand-logo b-text-center">
							<img src="../../content/img/foods-detail/logo/Grazie.jpg" alt="Grazie 古拉爵">
						</figure>
						<p class="brand-slogan b-text-left">Grazie(古拉爵)取自義大利文「謝謝」的意思，想要表達的是服務人員對於每一位來店的顧客都保持著「感謝」的心。 義式屋古拉爵是一家提供顧客輕鬆歡聚，享用多樣化義大利料理的場所，不論是圓麵、斜管麵、扁麵等各種款式的義大利麵，都以多樣化的口味來滿足顧客的期待，自家配方現場製作的道地拿坡里比薩，外酥內Q的餅皮，搭配各式各樣豐富的進口高級食材，讓顧客能如臨義大利當地的體驗。 古拉爵更在飲料及甜點上用心開發，也有現打的新鮮果汁，菜單每半年都會開發最新鮮的口味，所有的餐點除了是味覺上的饗宴，視覺上也要讓顧客耳目一新。 此外，古拉爵首推業界之先，融合了中西分食的精神，開發出多樣超值套餐，菜單中準備了豐富的套餐組合，從單人到團體用餐，應有盡有。有精緻午餐、雙人饗宴、多人派對(PARTY)套餐…等，滿足客人不同的來店的需求，都可滿足兼顧顧客多彩多姿的LIFE STYLE，絕對值得前來一嚐!</p>
						<h3 class="sub-title b-text-left">服務據點</h3>
						<ul class="service-location-list b-text-left">
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<span class="text b-col-dt-5 b-col-xs-6 b-inline b-text-left">寶慶遠百1F</span>
								<a href="tel:0289648402" class="b-link b-col-dt-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-center-md b-text-right-sm">
								<span class="text b-col-dt-5 b-col-xs-6 b-inline b-text-left">寶慶遠百1F</span>
								<a href="tel:0289648402" class="b-link b-col-dt-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-right-md">
								<span class="text b-col-dt-5 b-col-xs-6 b-inline b-text-left">寶慶遠百1F</span>
								<a href="tel:0289648402" class="b-link b-col-dt-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-right-sm">
								<span class="text b-col-dt-5 b-col-xs-6 b-inline b-text-left">板橋遠百1F</span>
								<a href="tel:0289648402" class="b-link b-col-dt-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-center-md">
								<span class="text b-col-dt-5 b-col-xs-6 b-inline b-text-left">板橋遠百1F</span>
								<a href="tel:0289648402" class="b-link b-col-dt-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-right-md b-text-right-sm">
								<span class="text b-col-dt-5 b-col-xs-6 b-inline b-text-left">板橋遠百1F</span>
								<a href="tel:0289648402" class="b-link b-col-dt-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12">
								<span class="text b-col-dt-5 b-col-xs-6 b-inline b-text-left">板橋大遠百1F</span>
								<a href="tel:0289648402" class="b-link b-col-dt-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-center-md b-text-right-sm">
								<span class="text b-col-dt-5 b-col-xs-6 b-inline b-text-left">板橋大遠百1F</span>
								<a href="tel:0289648402" class="b-link b-col-dt-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-text-right-md">
								<span class="text b-col-dt-5 b-col-xs-6 b-inline b-text-left">板橋大遠百1F</span>
								<a href="tel:0289648402" class="b-link b-col-dt-5 b-col-xs-6 b-inline b-text-left-dt b-text-right-xs">(02)8964-8402</a>
							</li>
						</ul>
					</div>
					<div class="kv">
						<div class="kv-owl jQ-owl is-padding is-dark" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
							<div class="item">
								<a href="javascript:;" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/foods-detail/kv/01.jpg" alt="">
										<figcaption class="desc b-hide-text"></figcaption>
									</figure>
								</a>
							</div>
							<div class="item">
								<a href="javascript:;" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/foods-detail/kv/02.jpg" alt="">
										<figcaption class="desc b-hide-text"></figcaption>
									</figure>
								</a>
							</div>
							<div class="item">
								<a href="javascript:;" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/foods-detail/kv/03.jpg" alt="">
										<figcaption class="desc b-hide-text"></figcaption>
									</figure>
								</a>
							</div>
							<div class="item">
								<a href="javascript:;" class="b-link">
									<figure class="img-wrap">
										<img src="../../content/img/foods-detail/kv/04.jpg" alt="">
										<figcaption class="desc b-hide-text"></figcaption>
									</figure>
								</a>
							</div>
						</div>
					</div>
					<div class="m-section">
						<h3 class="sub-title b-text-left">服務資訊</h3>
						<ul class="info-list">
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-inline-md b-middle"><i class="m-icon m-icon-meal"></i><em class="text">餐廳類型</em><em class="text">西式</em></li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-inline-md b-middle"><i class="m-icon m-icon-pin"></i><em class="text">樓層位置</em><em class="text">9F</em></li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-inline-md b-middle"><i class="m-icon m-icon-time-o"></i><em class="text">用餐時間</em><em class="text">11:00 - 22:00</em></li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-inline-md b-middle"><i class="m-icon m-icon-website"></i><a href="http://www.grazie.com.tw/" target="_blank" class="b-link">http://www.grazie.com.tw/</a></li>
							<li class="list b-col-md-4 b-col-sm-6 b-col-xs-12 b-inline b-middle"><i class="m-icon m-icon-phone"></i><em class="text">訂餐電話</em><a href="tel:0229511606" class="b-link">02-2951-1606</a></li>
						</ul>
						<ul class="service-list">
							<li class="list b-inline">提供座位</li>
							<li class="list b-inline">兒童座椅</li>
							<li class="list b-inline">服務費</li>
							<li class="list b-inline">刷卡</li>
							<li class="list b-inline">供應酒類</li>
						</ul>
						<h3 class="sub-title b-text-left">熱銷推薦</h3>
						<ul class="food-list">
							<li class="list">
								<a href="javascript:;" class="food-link">
									<figure class="img-wrap">
										<img src="../../content/img/foods-detail/cover/jp/04.jpg" alt="揚日式料理">
										<figcaption class="desc b-hide-text">揚日式料理</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">揚日式料理</h3>
										<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
									</div>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</li>
							<li class="list">
								<a href="javascript:;" class="food-link">
									<figure class="img-wrap">
										<img src="../../content/img/foods-detail/cover/jp/05.jpg" alt="大戶屋">
										<figcaption class="desc b-hide-text">大戶屋</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">大戶屋</h3>
										<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
									</div>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</li>
							<li class="list">
								<a href="javascript:;" class="food-link">
									<figure class="img-wrap">
										<img src="../../content/img/foods-detail/cover/jp/06.jpg" alt="豬排控必去！靜岡勝政日式豬排">
										<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
										<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
									</div>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</li>
							<li class="list">
								<a href="javascript:;" class="food-link">
									<figure class="img-wrap">
										<img src="../../content/img/foods-detail/cover/jp/07.jpg" alt="揚日式料理">
										<figcaption class="desc b-hide-text">揚日式料理</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">揚日式料理</h3>
										<p class="b-desc">知名日本料理「大戶屋」昨天宣布進駐遠東百貨，喜歡日本料理的朋友一定會喜歡！</p>
									</div>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</li>
							<li class="list">
								<a href="javascript:;" class="food-link">
									<figure class="img-wrap">
										<img src="../../content/img/foods-detail/cover/jp/08.jpg" alt="大戶屋">
										<figcaption class="desc b-hide-text">大戶屋</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">大戶屋</h3>
										<p class="b-desc">給予顧客貼心服務，提供健康食材風靡全球的日式料理即將登場。給予顧客貼心服務。</p>
									</div>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</li>
							<li class="list">
								<a href="javascript:;" class="food-link">
									<figure class="img-wrap">
										<img src="../../content/img/foods-detail/cover/jp/09.jpg" alt="豬排控必去！靜岡勝政日式豬排">
										<figcaption class="desc b-hide-text">豬排控必去！靜岡勝政日式豬排</figcaption>
									</figure>
									<div class="item-info">
										<h3 class="info-title">豬排控必去！靜岡勝政日式豬排</h3>
										<p class="b-desc">日籍豬排達人星合和評鑑後給予可媲美鹿兒島六白豬的高度評價，香草豬料理將首先開賣.....</p>
									</div>
								</a>
								<button class="btn-like jQ-like">
									<i class="m-icon m-icon-heart-2"></i>
									<em class="text b-hide-text">LIKE</em>
								</button>
							</li>
						</ul>
						<div class="btn-wrap b-text-center">
							<a href="javascript:;" class="btn-return btn-radius b-link b-col-dt-4 b-col-xs-12">回品牌列表</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>