<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>遠東百貨</title>
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../content/css/movies.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body movies show-header">
		<!--#include virtual="../Shared/Header.html" -->
		<div class="l-main">
			<div class="l-content b-clearfix">
				<div class="m-breadcrumb">
					<ol class="breadcrumb-list">
						<li class="list"><a href="../home/index.html" class="b-link"><i class="m-icon m-icon-home"></i></a></li>
						<li class="list"><a href="../home/branch.html" class="b-link"><em class="text">遠東百貨</em></a></li>
						<li class="list"><a href="movies.html" class="b-link"><em class="text">電影</em></a></li>
					</ol>
				</div>
				<div class="kv">
					<div class="kv-owl jQ-owl is-padding" data-items="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true">
						<div class="item" data-media="https://www.youtube.com/watch?v=HDoiN6c9oac&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=HDoiN6c9oac" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/movies/kv/01.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=hdCxRmLXWxM&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=hdCxRmLXWxM" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/movies/kv/02.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
						<div class="item" data-media="https://www.youtube.com/watch?v=OFaLeXUFcuQ&autoplay=1&loop=1&mute=0&bgplay=1&fullscreen=0&opacity=1&owl=1" data-elem=".jQ-video">
							<div class="jQ-video"></div>
							<a href="https://www.youtube.com/watch?v=OFaLeXUFcuQ" class="youtube-link b-hide-md" target="_blank">
								<figure class="img-wrap">
									<img src="../../content/img/movies/kv/03.jpg" alt="">
								</figure>
								<i class="m-icon m-icon-youtube"></i>
							</a>
							<button class="btn-mute jQ-mute"><em class="text b-hide-text">靜音</em></button>
						</div>
					</div>
				</div>
				<div class="m-cut movie-cut">
					<div class="m-cut-hd b-middle">
						<h2 class="sub-title b-col-md-4 b-col-sm-12">現正熱映</h2>
						<div class="store-selection b-col-md-8 b-col-sm-12 b-text-right-dt b-text-left-xs">
							<em class="func-hint b-block-xs">
								<span class="text">如有場次異動、海報誤植，以威秀影城官網公布為準；所有電影資料皆為威秀影城所有。</span>
							</em>
							<div class="m-box-holder is-selector b-block-xs">
								<select name="" id="" class="m-selection">
									<option value="">選擇分店</option>
									<option value="">遠東百貨</option>
									<option value="">板橋大遠百</option>
								</select>
							</div>
						</div>
					</div>
					<div class="movie-list slide-list jQ-owl is-padding" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/01.png" alt="功夫熊貓 3">
									<figcaption class="desc b-hide-text">功夫熊貓 3</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">功夫熊貓 3</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/02.jpg" alt="星際特工瓦雷諾：千星之城">
									<figcaption class="desc b-hide-text">星際特工瓦雷諾：千星之城</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">星際特工瓦雷諾：千星之城</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/03.png" alt="美女與野獸">
									<figcaption class="desc b-hide-text">美女與野獸</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">美女與野獸</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/04.png" alt="蟻人 2">
									<figcaption class="desc b-hide-text">蟻人 2</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">蟻人 2</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/05.jpg" alt="神力女超人">
									<figcaption class="desc b-hide-text">神力女超人</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">神力女超人</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/06.png" alt="比利林恩的中場戰事">
									<figcaption class="desc b-hide-text">比利林恩的中場戰事</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">比利林恩的中場戰事</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/07.jpg" alt="樂高蝙蝠俠">
									<figcaption class="desc b-hide-text">樂高蝙蝠俠</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">樂高蝙蝠俠</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/08.jpg" alt="金牌特務2">
									<figcaption class="desc b-hide-text">金牌特務2</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">金牌特務2</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="m-cut movie-cut">
					<div class="m-cut-hd">
						<h2 class="sub-title">即將上映</h2>
					</div>
					<div class="movie-list slide-list jQ-owl is-padding" data-items-md="4" data-items-sm="3" data-items-xs="1" data-ctrl="true" data-dots="true" data-mouse-drag="true" data-touch-drag="true" data-autoplay="false" data-loop="true" data-hover-pause="true" data-dots-position="relative">
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/09.jpg" alt="一念無明">
									<figcaption class="desc b-hide-text">一念無明</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">一念無明</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/10.jpg" alt="玩命槍火">
									<figcaption class="desc b-hide-text">玩命槍火</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">玩命槍火</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/11.jpg" alt="速食遊戲">
									<figcaption class="desc b-hide-text">速食遊戲</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">速食遊戲</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/12.jpg" alt="寶貝老闆">
									<figcaption class="desc b-hide-text">寶貝老闆</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">寶貝老闆</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/13.jpg" alt="月光下的藍色男孩">
									<figcaption class="desc b-hide-text">月光下的藍色男孩</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">月光下的藍色男孩</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/15.jpg" alt="網路世界的幻想">
									<figcaption class="desc b-hide-text">網路世界的幻想</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">網路世界的幻想</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
						<div class="list">
							<a href="javascript:;" class="movie-link">
								<figure class="img-wrap">
									<img src="../../content/img/movies/poster/14.jpg" alt="美國心風暴">
									<figcaption class="desc b-hide-text">美國心風暴</figcaption>
								</figure>
								<div class="item-info">
									<h3 class="info-title">美國心風暴</h3>
									<p class="b-desc">
										<i class="m-icon m-icon-time"></i>
										<time datetime="2017-01-12">2017.01.12</time>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="../Shared/Footer.html" -->
	</div>
	<!--#include virtual="../Shared/Not-support.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>