<div class="l-nav">
    <nav class="m-nav b-middle jQ-nav" data-load="is-load" data-active="is-active" data-open="is-open">
        <button type="button" class="m-nav-ctrl jQ-nav-ctrl"><i></i></button>
        <ul class="b-clearfix">
            <li class="is-active"><a href="./" class="jQ-nav-item"><em><b>HOME</b></em></a></li>
            <li><a href="about.html" class="jQ-nav-item"><em><b>ABOUT</b></em></a></li>
            <li><a href="product.html" class="jQ-nav-item"><em><b>PRODUCT</b></em></a></li>
            <li><a href="news.html" class="jQ-nav-item"><em><b>NEWS</b></em></a></li>
            <li><a href="career.html" class="jQ-nav-item"><em><b>CAREER</b></em></a></li>
            <li><a href="contact.html" class="jQ-nav-item"><em><b>CONTACT</b></em></a></li>
        </ul>
        <span class="m-nav-bar jQ-nav-bar"></span>
    </nav>
</div>